﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title></title>
     <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css">

    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
   
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/137942_appCtrl.js" type="text/javascript"></script>
    <script src="../scripts/directives/appDctv.js" type="text/javascript"></script>

    <link href="../styles/app.css" rel="stylesheet"/> 
    <link href="../styles/flexchart.css" rel="stylesheet" type="text/css" />
</head>
<body ng-app="app" ng-controller="appCtrl">

        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre>
Title:Bug 137942:[FlexChartAnimation] Javascript error occurs when adding first/last point after removing all series data point
 </pre>
 <wj-flex-chart control="ctx.flexChart"
                   items-source="data"
                   chart-type="{{ctx.chartType}}"
                   binding-x="x">
        <wj-flex-chart-series binding="y"></wj-flex-chart-series>
        <wj-flex-chart-series binding="y1"></wj-flex-chart-series>
        <wj-flex-chart-series binding="y2"></wj-flex-chart-series>
    </wj-flex-chart>
    <wj-menu id="add" header="Add" item-clicked="itemAdd(s)">
                    <wj-menu-item>Add Series</wj-menu-item>
                    <wj-menu-item>Add First Point</wj-menu-item>
                    <wj-menu-item>Add Last Point</wj-menu-item>
                </wj-menu>
                <wj-menu id="remove" header="Remove" item-clicked="itemRemove(s)">
                    <wj-menu-item>Remove Series</wj-menu-item>
                    <wj-menu-item>Remove First Point</wj-menu-item>
                    <wj-menu-item>Remove Last Point</wj-menu-item>
                </wj-menu>
<pre>
Repro Steps :
1.Run 'QA_137942.html'.
2.Remove all data point by choosing ‘Remove First Point’ 10 times from Remove menu.
Observe: All series and gridline will disappear…[Correct]
3.Add data point by choosing ‘Add First Point’ in Add menu.
Observe: “ Unable to get property 'nodeName' of undefined or null reference” error occurs. …[Incorrect]
*should be added properly.
</pre>
</body>
</html>
