﻿<!DOCTYPE>
<html ng-app="app">
<head>
   <title></title>
     <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css"/>

    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
   
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/chartAnalyticsCtrl.js" type="text/javascript"></script>
    <script src="../scripts/directives/appDctv.js" type="text/javascript"></script>

    <link href="../styles/app.css" rel="stylesheet"/> 
    <link href="../styles/flexchart.css" rel="stylesheet" type="text/css" />
</head>
<body  ng-controller="chartAnalyticCtrl">
  
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div>

 <pre>Title:Bug 194641:[FlexChart][Waterfall] Multiple styles issue found in Waterfall chart
 </pre>

 <wj-flex-chart class="chart"
                   control="ctx.wfchart"
                   items-source="menu"
                   binding="y1"
                   binding-x="fruit">
        <wj-flex-chart-waterfall control="ctx.waterfall" name="Rising,Falling,Total" styles="ctx.styles" relative-data="false" connector-lines="true" show-total="true" show-intermediate-total="true" start=1000>
        </wj-flex-chart-waterfall>
    </wj-flex-chart>

    <wj-input-number value="ctx.waterfall.start"
                     min="1000"
                     max="100000"
                     step="1000"
                     format="n0">
    </wj-input-number>
    <wj-menu value="ctx.waterfall.connectorLines" header="ConnectorLines">
        <wj-menu-item value="true">true</wj-menu-item>
        <wj-menu-item value="false">false</wj-menu-item>
    </wj-menu>
    <wj-menu value="ctx.waterfall.relativeData" header="relativeData">
        <wj-menu-item value="true">true</wj-menu-item>
        <wj-menu-item value="false">false</wj-menu-item>
    </wj-menu>
    <wj-menu value="ctx.waterfall.showIntermediateTotal" header="showIntermediateTotal">
        <wj-menu-item value="true">true</wj-menu-item>
        <wj-menu-item value="false">false</wj-menu-item>
    </wj-menu>
    <wj-menu value="ctx.waterfall.showTotal" header="showTotal">
        <wj-menu-item value="true">true</wj-menu-item>
        <wj-menu-item value="false">false</wj-menu-item>
    </wj-menu>
    <button ng-click="intermediateTotalLabels()" id="iTotal">intermediateTotalLabels</button>
    <button ng-click="intermediateTotalPositions()" id="iTotalPos">intermediateTotalPositions</button><br/>
    <label>Styles</label><br/>
	 <label>Start:</label>
    <wj-input-color value="ctx.waterfall.styles.start.fill" 
                    value-changed="optionChangedwf(s,e)">
    </wj-input-color>
	 <label>Total:</label>
    <wj-input-color value="ctx.waterfall.styles.total.fill"
                    value-changed="optionChangedwf(s,e)">
    </wj-input-color>
    <label>Falling:</label>
    <wj-input-color value="ctx.waterfall.styles.falling.fill" 
	value-changed="optionChangedwf(s,e)">
    </wj-input-color>
    <label>Rising:</label>
    <wj-input-color value="ctx.waterfall.styles.rising.fill" 
                    value-changed="optionChangedwf(s,e)">
    </wj-input-color>
	 <label>IntermediateTotal:</label>
    <wj-input-color value="ctx.waterfall.styles.intermediateTotal.fill" 
                    value-changed="optionChangedwf(s,e)">
    </wj-input-color>
	 <label>connectorLines:</label>
    <wj-input-color value="ctx.waterfall.styles.connectorLines.stroke" 
                    value-changed="optionChangedwf(s,e)">
    </wj-input-color>
<pre>
Repro Steps :
1.Run attached sample ‘QA_194641’.
2.Set Rising color to ‘yellow’.
Observe:Both Legend and Series of rising style could not change….[Case1]
3.Set connectorLines to ‘false’ to refresh chart.
Observe: At that time, Legend of Rising style changed into yellow but not effect on series ..[Case2]
4.Set connectorLines to ‘red’ color and set connectorLines to 'true'.
Observe:ConnectorLines color changed from black to red color. ..[Correct]
</pre>
    </div>
</body>
</html>
