﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.1.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular-route.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/chartCtrl.js" type="text/javascript"></script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre>[FlexPie] Threshold property does not work in FlexPie</pre>
    <wj-flex-pie class="chart" control="ctx.chart" binding="y2" binding-name="fruit"
        label-content="{value}" items-source="menu" style="width: 600px; height: 450px">
	</wj-flex-pie>
    <br />
    <br />
    <button ng-click="threshold()">
        Threshold</button>
    <br />
    <pre>
    1. Run the attached project 'prj_Threshold'.
    2. Click on 'Threshold' button.(Threshold value is set to '100')
    3. Hover on chart area, ie.,outside of plot area.
       Observe:Tooltip does not appear when hovering on chart area before hovering on pie slice. [Incorrect]
    </pre>
</body>
</html>
