﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- Third Party -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/chartInteractionCtrl.js" type="text/javascript"></script>
    <link href="../styles/app.css" rel="stylesheet" />
    <link href="../styles/flexchart.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        var app = angular.module("app", ['wj']);
        app.controller("appCtrl", function ($scope) {
            var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(','),
             data = [];
            for (var i = 0; i < countries.length; i++) {
                data.push({
                    country: countries[i],
                    downloads: Math.round(Math.random() * 20000),
                    sales: Math.random() * 10000,
                    expenses: Math.random() * 5000
                });
            }
            $scope.data = data;

            $scope.chartprops = {
                legendPosition: wijmo.chart.Position.Bottom,
                chartType: wijmo.chart.ChartType.Column,
                stacking: wijmo.chart.Stacking.Stacked,
                rotated: false
            };
            $scope.width = "800px";
        })
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
     
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><wj-flex-chart items-source="data"
                   chart-type="{{chartProps.chartType}}"
                   stacking="{{chartProps.stacking}}"
                   rotated="{{chartProps.rotated}}"
                   binding-x="country"
                   ng-style="{'width':width}">
        <wj-flex-chart-legend position=" {{chartprops.legendPosition}}">
        </wj-flex-chart-legend>
        <wj-flex-chart-series name="Salesjabcascjbasjcjasjcbsacjbsajcsabcjbascjbsacjhbascjhbsajhbcjbascjhbsacsjas" binding="sales">
        </wj-flex-chart-series>
        <wj-flex-chart-series name="Expensescasbkjaskcjnsancknascskancknasncsnacsckskajncasjkcnsakcasjkcnsacjksnacak" binding="expenses">
        </wj-flex-chart-series>
        <wj-flex-chart-series name="Downloadscasckasncsakjcnsacksacksackjsnacsjkancascksacjksanckjacnsacskajcnsackjsancas" binding="downloads">
        </wj-flex-chart-series>
    </wj-flex-chart>
    <pre>
    <b>Steps to reproduce:</b><br />
    1.    Run the attached sample application in Google Chrome.
    Observe: The legend of the last series of FlexChart is not visible –Incorrect
    2.    Run the attached sample application in IE 11
    Observe: The legend of all the series of FlexChart is visible – Correct
    </pre>      
</body>
</html>
