﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <title></title>
     <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css">

    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
   
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/134321_appCtrl.js" type="text/javascript"></script>
    <script src="../scripts/directives/appDctv.js" type="text/javascript"></script>

    <link href="../styles/app.css" rel="stylesheet"> 
    <link href="../styles/flexchart.css" rel="stylesheet" type="text/css" />
</head>
<body ng-app ="app" ng-controller="appCtrl">

        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre>
Title: [FlexChartGroup] Unlike previous build, cannot drill down into the details by clicking on legend in pie chart
</pre>
 <div class="container">
        <div class="desc">
            <strong>Step 1)</strong>  Select how would you like to group the data: 
         <wj-menu id="groupByMenu" value="groupBy" header="Group by" text="groupByText">
                    <wj-menu-item value="'country,city'">Country and City</wj-menu-item>
                    <wj-menu-item value="'country,date'">Country and Year</wj-menu-item>
                    <wj-menu-item value="'date,country'">Year and Country</wj-menu-item>
                    <wj-menu-item value="'country,city,date'">Country , City and Year</wj-menu-item>
                    <wj-menu-item value="'date,country,city'">Year, Country and City</wj-menu-item>
                </wj-menu>
          </wj-menu>
        </div>
        <div class="desc">
            <strong>Step 2)</strong>  Select how would you like to aggregate the data:
                 <wj-menu id="aggregationMenu" value="aggregation" header="Aggregate" text="aggregationText">
                    <wj-menu-item value="'Sum'">Sum</wj-menu-item>
                    <wj-menu-item value="'Cnt'">Count of Non-Null</wj-menu-item>
                    <wj-menu-item value="'Avg'">Average</wj-menu-item>
                    <wj-menu-item value="'Max'">Maximum</wj-menu-item>
                    <wj-menu-item value="'Min'">Minimum</wj-menu-item>
                    <wj-menu-item value="'Rng'">Deviation</wj-menu-item>
                    <wj-menu-item value="'Std'">Standard Deviation</wj-menu-item>
                    <wj-menu-item value="'Var'">Variance</wj-menu-item>
                    <wj-menu-item value="'StdPop'">Population Standard Deviation</wj-menu-item>
                    <wj-menu-item value="'VarPop'">Population variance</wj-menu-item>
                </wj-menu>
        </div>
        <div class="desc">
            <strong>Step 3)</strong>  Select how would you like to show the data:
                 <wj-menu id="chartType" value="chartType" header="Chart Type">
                    <wj-menu-item value="'chart'">Column</wj-menu-item>
                    <wj-menu-item value="'pie'">Pie</wj-menu-item>
                </wj-menu>
        </div>
        <div class="desc">
            <strong>Step 4)</strong>  Click a column, sector or legend to drill down into the details, or click on the header hyperlinks to return to a higher level.
        </div>
        <div class="chartcontainer">
           <header><h3></h3></header>
                <wj-flex-chart
                    ng-class="{true:'hidechart', false: ''}[chartType === 'pie']"
                    items-source="chartProps.itemsSource"
                    selection-mode="Point"
                    control="chartProps.groupChart"
                    palette="chartProps.palette"
                    binding-x="{{chartProps.bindx}}">  
                    <wj-flex-chart-legend position="None"></wj-flex-chart-legend>           
                    <wj-flex-chart-series name={{chartProps.bindname}} binding={{chartProps.bindvalue}}></wj-flex-chart-series>
                </wj-flex-chart>
                <wj-flex-pie
                    ng-class="{true:'hidechart', false: ''}[chartType === 'chart']"
                    items-source="chartProps.itemsSource"
                    selection-mode="Point"
                    control="chartProps.groupPie"
                    binding="{{chartProps.bindvalue}}"
                    binding-name="{{chartProps.bindx}}">
                    <wj-flex-chart-legend position="Right"> </wj-flex-chart-legend>
                </wj-flex-pie>
        </div>
    </div>

    <!-- Google analytics -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-208280-14', 'auto');
        ga('send', 'pageview');
    </script>
    <pre>
    1.Run 'QA_134321.htm'.
    2.Select chart type to ‘Pie’.
    3.Click on legend to drill down .
    Observe: Can’t drill down into details. ..[Incorrect]
    </pre>
</body>
</html>
