﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
      <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css">

    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<!-- Wijmo-Angular interop -->
    
   
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
     <script src="../scripts/controllers/chartAnalyticsCtrl.js" type="text/javascript"></script>
    <script src="../scripts/directives/appDctv.js" type="text/javascript"></script>

    <link href="../styles/app.css" rel="stylesheet"> 
    <link href="../styles/flexchart.css" rel="stylesheet" type="text/css" />
     <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
 </head>
<body  ng-app="app" ng-controller="chartAnalyticCtrl">

        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div>
<pre>
Title:Bug 151251:[FlexChartAnalytics][FinancialChartExplorer] Error occurs and chart disappear when choosing fit Type to ‘Fourier/Polynomial’
</pre>
 <wj-flex-chart items-source="data"
                   binding-x="date"
                   control="tlchart"
                   style="width: 600px; height: 450px">
        <wj-flex-chart-legend position="Right"></wj-flex-chart-legend>
        <wj-flex-chart-series chart-type="Line" name="Base Data" binding="volume"></wj-flex-chart-series>
        <wj-flex-chart-trend-line
        binding="volume" 
        binding-x="date" name="myTrendLine" control="trend"
        fit-type="{{ctx.trend.fitType}}">
        </wj-flex-chart-trend-line>
 </wj-flex-chart>
 <wj-menu value="ctx.trend.fitType" header="FitType" text="fitType">
                    <wj-menu-item value="'Linear'">Linear</wj-menu-item>
                    <wj-menu-item value="'Exponential'">Exponential</wj-menu-item>
                    <wj-menu-item value="'Logarithmic'">Logarithmic</wj-menu-item>
                    <wj-menu-item value="'Power'">Power</wj-menu-item>
                    <wj-menu-item value="'Fourier'">Fourier</wj-menu-item>
                    <wj-menu-item value="'Polynomial'">Polynomial</wj-menu-item>
                    <wj-menu-item value="'MinX'">MinX</wj-menu-item>
                    <wj-menu-item value="'MinY'">MinY</wj-menu-item>
                    <wj-menu-item value="'MaxX'">MaxX</wj-menu-item>
                    <wj-menu-item value="'MaxY'">MaxY</wj-menu-item>
                    <wj-menu-item value="'AverageX'">AverageX</wj-menu-item>
                    <wj-menu-item value="'AverageY'">AverageY</wj-menu-item>
                </wj-menu>
    <pre>
    Repro Steps:
    1.Run 'QA_151251.html'.
    2.Choose fit type to 'Fourier/Polinomial'.
    Observe: Trendline should not disappear.
    </pre>
 </div>
</body>
</html>
