﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title></title>
     <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css">

    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
   
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/aniChartCtrl.js" type="text/javascript"></script>
    <script src="../scripts/directives/appDctv.js" type="text/javascript"></script>

    <link href="../styles/app.css" rel="stylesheet"/> 
    <link href="../styles/flexchart.css" rel="stylesheet" type="text/css" />
</head>
<body ng-app="app" ng-controller="appCtrl">

        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre>
Title:Bug 143313:[FlexChartAnimation]Series will disappear when removing data points until the last two point
 </pre>
 <wj-flex-chart class="chart"
                   control="ctx.chart"
                   chart-type="Line"
                   legend-toggle="true"
                   items-source="ctx.data"
				   binding-x="country" style="width: 600px; height: 450px">
        <wj-flex-chart-series binding="sales" name="Sales"></wj-flex-chart-series>
        <wj-flex-chart-series binding="expenses" name="Expenses"></wj-flex-chart-series>
       	<wj-flex-chart-series binding="downloads" name="Downloads"></wj-flex-chart-series>
        <wj-flex-chart-animation control="ctx.chartAni" duration="100"></wj-flex-chart-animation>
    </wj-flex-chart>
    <button type="button" class="btn btn-default" ng-click="addData()">add last point</button>
    <button type="button" class="btn btn-default" ng-click="removeData()">remove last point</button>
   <pre>
Repro Steps :
1.Run 'QA_143313.html'.
2. Click 3 times on ‘Remove last point’ menu item in ‘Remove’ menu.
Observe: Line series will be lost when two data point is left…. [Incorrect]...Issue
*Line series should be shown with proper behavior.
</pre>
</body>
</html>
