﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <title></title>
     <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css"/>

    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
   
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/chartCtrl.js" type="text/javascript"></script>
    <script src="../scripts/directives/appDctv.js" type="text/javascript"></script>

    <link href="../styles/app.css" rel="stylesheet"/> 
    <link href="../styles/flexchart.css" rel="stylesheet" type="text/css" />
</head>
<body>
  
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div ng-app="app" ng-controller="appCtrl">
 <pre>Title:   
        Bug 109293:[FlexChart]Series data labels are displayed beyond the plot area when setting max/min value.
 </pre>
 <wj-flex-chart control="ctx.chart"
                   class="chart"
                   items-source="menu"
                   binding-x="y1"
                   label-content="{y}"
                   chart-type="Column" style="width: 600px;height:300px;">
 <wj-flex-chart-series binding="y2" name="Sales"></wj-flex-chart-series>
 <wj-flex-chart-series binding="y3" name="Downloads"></wj-flex-chart-series>
 <wj-flex-chart-series binding="y4" name="Expenses"></wj-flex-chart-series>
 </wj-flex-chart>
 <button ng-click="xMax()" id="btn1">AxisX-Max</button>
 <button ng-click="xMin()" id="btn2">AxisX-Min</button>
<pre>
Repro Steps :
1.Run the sample "QA_101401.htm".
2.Click on 'AxisX-Max' button.
Observe:Some data labels are displayed beyond the plot area in the right side of the chart.[Incorrect]
3.Click on 'AxisX-Min' button.
Observe:Some data labels are displayed beyond the plot area in the left side of the chart.[Incorrect]
</pre>
    </div>
</body>
</html>
