﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.1.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular-route.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    

    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/chartCtrl.js" type="text/javascript"></script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre>Title:Bug 218271:[FlexChart] 'SeriesRendering' event fire when changing something on chart area</pre>
     <table>
	        <tr>
            <td>
                 <wj-flex-chart class="chart"
                   control="ctx.chart"
                   legend-toggle="true"
                   items-source="fruits"
                   binding-x="fruit" style="width: 600px; height: 300px">
        <wj-flex-chart-series binding="y1" name="Sales" rendering="chartSeriesRendering()">
        </wj-flex-chart-series>
        <wj-flex-chart-series binding="y3" name="Expenses">
        </wj-flex-chart-series>
		<wj-flex-chart-series binding="y4" name="Downloads">
        </wj-flex-chart-series>
       </wj-flex-chart>
             </td>
        </tr>
        <tr>
        <td>	   
                    <dl class="dl-horizontal" style="width:400px">
                    <dt>Header</dt>
                    <dd><input ng-model="ctx.chart.header" class="form-control" width="200" /></dd>
                    <dt>Footer</dt>
                    <dd><input ng-model="ctx.chart.footer" class="form-control" width="200" /> </dd>
                  </dl>
        </td>
        </tr>
    </table>
	<div>
	 <ul id="chartSeriesRenderingEventList"></ul>
	  <input type="checkbox" id="chkChartseriesRendering" />SeriesRendering
	 </div>
    <br />
    <pre>
     1. Run the attached sample 'QA_218271.htm' .
     2.Check ‘SeriesRendering’ check box.
     3.Type ‘H’ in Header input text box.
     Observe: 'SeriesRendering' event fire. …[Incorrect]
     4.Click on ‘XTitle’ button.
     Observe: AxisX title will add on chart and 'SeriesRendering' event fire. ….[Incorrect]
    </pre>
</body>
</html>
