﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>
    
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link rel="stylesheet" href="../styles/vendor/wijmo.min.css" />
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/chartCtrl.js" type="text/javascript"></script> 
</head>
<body ng-app="app" ng-controller="appCtrl" style="margin-top: 30px; margin-left: 50px;">
     
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div style="padding:5px; width:1000px">
        <h4>Flex Chart</h4>
        <wj-flex-chart items-source="data"                      
                       chart-type="{{chartType}}"                      
                       control="gradientChart">
            <wj-flex-chart-series name="Binding X" binding="x"></wj-flex-chart-series>          
        </wj-flex-chart><br />

        <wj-menu value="chartType" header="Chart Type">
            <wj-menu-item value="0">Column</wj-menu-item>
            <wj-menu-item value="1">Bar</wj-menu-item>
            <wj-menu-item value="2">Scatter</wj-menu-item>       
            <wj-menu-item value="4">LineSymbols</wj-menu-item>
            <wj-menu-item value="5">Area</wj-menu-item>               
            <wj-menu-item value="10">SplineSymbols</wj-menu-item>
            <wj-menu-item value="11">SplineArea</wj-menu-item>
        </wj-menu>    
    </div> 
    <div style="padding:20px; width:1000px">
    <pre>Repro steps:
        1. Run ‘Prj_GradientColor_Legend’ sample.
        2. Click ‘Chart Types’ drop down.
        3. Select ‘Bar’ from the drop down list.
        Observe: Chart can render properly and legend's color can also match with the series' color……[Correct]
        4. Select ‘Scatter’ or ‘LineSymbols’ or ‘SplineSymbols’ from the drop down.
        Observe: ‘GradientColor’ cannot be applied in Legend for those chart types……[Incorrect]</pre>
    </div>
</body>
</html>
