﻿<!DOCTYPE>
<html>
<head>
   <title></title>
     <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css"/>

    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
   
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <link href="../styles/app.css" rel="stylesheet"/>
    <script>
     
        var app = angular.module("app", ['wj']);

        app.controller('chartAnalyticCtrl', function ($scope) {

            // data context
            $scope.ctx = {
                chart: null,
		        nullChart: null,		        
		        nullWaterfall: null,               
		        nullData: getNullData(),		        
		        nullRelativeData: true,
		        intermediateTotalPositions: [3, 6, 9, 12],
                intermediateTotalLabels: ['Q1', 'Q2', 'Q3', 'Q4'],
            };

	      
         $scope.$watch('ctx.nullRelativeData', function () {
                if ($scope.ctx.nullWaterfall) {
                    $scope.ctx.nullWaterfall.relativeData = $scope.ctx.nullRelativeData;
                }
            });          
	
	        function getNullData() {
		            var item = [];

                item = [
                    { "date": "01/23/15", "sales": 20.22 },
                    { "date": "01/26/15", "sales": 23.67},
                    { "date": "01/27/15", "sales": 22 },
                    { "date": "01/28/15", "sales": 21.62 },
                    { "date": "01/29/15", "sales": 17.9 },
                    { "date": "01/30/15", "sales": 19.97 },
                    { "date": "02/02/15", "sales": 19.18 },
                    { "date": "02/03/15", "sales": 18.22 },
                    { "date": "02/04/15", "sales": 18.2 },
                    { "date": "02/05/15", "sales": null },
                    { "date": "02/06/15", "sales": 17.39 },
                    { "date": "02/09/15", "sales": 18.86 },
                    { "date": "02/10/15", "sales": 20.5 },
                    { "date": "02/11/15", "sales": 20.89 },
                    { "date": "02/12/15", "sales": 20.66 },
                    { "date": "02/13/15", "sales": 20.19 },
                    { "date": "02/17/15", "sales": 19.5 },
                    { "date": "02/18/15", "sales": 18.31 },
                    { "date": "02/19/15", "sales": 18.33 },
                    { "date": "02/20/15", "sales": 18.68 },
                    { "date": "02/23/15", "sales": 18.8 },
                    { "date": "02/24/15", "sales": 18.46 },
                    { "date": "02/25/15", "sales": 18.83 }
                ]

                return item;
	        }

            window.onerror = function (errorMsg, url, lineNumber, column, errorObj) {
                    
               $("#showConsoleErr").append('<li>'+ 'Error: ' + errorMsg + ' Line: ' + lineNumber + ' Column: ' + column +'</li>');

            }

        });
    </script>
</head>
<body ng-app="app" ng-controller="chartAnalyticCtrl" style="margin:50px;">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 284810:[FlexChart][Waterfall] To test whether the chart can render properly or not when binding with null value after changing 'RelativeData' property</p>
    <p>Console Error</p>
    <p id= "showConsoleErr"></p>
    <table>
    <tr>		
	    <td style="border: 1px solid black">
	    <label>Data with Null </label>
	    <wj-flex-chart class="chart"
                    control="ctx.nullChart"
                    items-source="ctx.nullData"
				    binding-x="country" binding="sales" style="width: 600px; height: 450px">
        <wj-flex-chart-waterfall control="ctx.nullWaterfall"  
							    relative-data="ctx.nullRelativeData" 
							    name="Sales,InterTotal,Total" 
							    show-total="true" 
							    intermediate-total-positions="ctx.intermediateTotalPositions"
                                intermediate-total-labels="ctx.intermediateTotalLabels"
							    show-intermediate-total="true" 
							    connector-lines="true">
        </wj-flex-chart-waterfall>
    </wj-flex-chart>

    <label>isRelativeData </label>
	    <input type="checkbox" id="checkboxRelativeData" ng-model="ctx.nullRelativeData" />
	    </td>
    </tr>
    </table>
    <br />
    <pre>
    <b>Repro Steps:</b>
    1. Run ‘prj_waterfall_Null’ sample.
    2. Press ‘F12’ key to open console window.
    3. Click ‘is RelativeData’ check box of ‘Data without Null’ chart.
    Observe: The chart can render properly and no JavaScript error is observed........[Correct]
    4. Click ‘is RelativeData’ check box of ‘Data with Null’ chart.
    Observe: ‘Error: <rect>/<line> attribute y/height/y1/y2: Expected length, “NaN”’ are observed and connector lines are incorrect even though the chart can render properly…..[Incorrect]
    </pre>
</body>
</html>