﻿<!DOCTYPE html>
<html>
<head>
    <title>Moving Average</title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <!--Custom Control-->
    <script type="text/javascript">
        var app = angular.module("app", ['wj']);

        app.controller('appCtrl', function appCtrl($scope) {
            //#region Properties for Moving Average with no null value //By Selena
            $scope.movData = nullData();
            $scope.binding = 'open';

            $scope.movingAvg = {
                name: "Close MA",
                period: 3,
                type: "Simple",
                visible: 0
            }
            //#endregion
            function nullData() {
                var item = [];
                item = [
                    { "date": "01/23/15", "open": 24, "high": 24.73, "low": 20.16, "close": 23.50, "volume": 42593223 },
					{ "date": "01/26/15", "open": 23.67, "high": 24.39, "low": 22.5, "close": 23.6, "volume": 8677164 },
					{ "date": "01/27/15", "open": 22, "high": 22.47, "low": 21.17, "close": 22.3, "volume": 3272512 },
					{ "date": "01/28/15", "open": 21.62, "high": 23, "low": 19.6, "close": 22.78, "volume": 5047364 },
					{ "date": "01/29/15", "open": 19.9, "high": 19.95, "low": 18.51, "close": 23, "volume": 3419482 },
					{ "date": "01/30/15", "open": 18.47, "high": 19.48, "low": 19, "close": 23.81, "volume": 2266439 },
					{ "date": "02/02/15", "open": 19.18, "high": 19.3, "low": 18.01, "close": 21.02, "volume": 2071168 },
					{ "date": "02/03/15", "open": 18.22, "high": 18.64, "low": 18.12, "close": 22, "volume": 1587435 },
					{ "date": "02/04/15", "open": 18.2, "high": 18.35, "low": 17, "close": null, "volume": 2912224 },
					{ "date": "02/05/15", "open": 17.3, "high": 17.31, "low": 16.41, "close": 23, "volume": 2913334 },
					{ "date": "02/06/15", "open": 17.39, "high": 18.88, "low": 17.21, "close": 25.12, "volume": 3929164 },
					{ "date": "02/09/15", "open": 18.86, "high": 19.95, "low": 18.45, "close": 25.6, "volume": 3226650 }

                ];
                return item;
            }
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl" style="margin: 10px 10px 5px 10px">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><wj-flex-chart items-source="movData" binding-x="date" chart-type="Line" style="height: 470px;
        width: 1000px">
	    <wj-flex-chart-series binding="{{binding}}" name="{{binding}}"></wj-flex-chart-series>		
		<wj-flex-chart-moving-average binding ="{{binding}}"
									period="{{movingAvg.period}}"
									name="{{type +' '+ binding + 'MA'}}"
									type="{{movingAvg.type}}">									  
		</wj-flex-chart-moving-average>
	</wj-flex-chart>
    <!--Moving Average-->
    <wj-menu value="movingAvg.type" header="Type" text="type">
			<wj-menu-item value="'Simple'">Simple</wj-menu-item>
			<wj-menu-item value="'Weighted'">Weighted</wj-menu-item>
			<wj-menu-item value="'Exponential'">Exponential</wj-menu-item>
			<wj-menu-item value="'Triangular'">Triangular</wj-menu-item>
		</wj-menu>
    <wj-menu value="binding" header="Binding">
			<wj-menu-item value="'high'">High</wj-menu-item>
			<wj-menu-item value="'low'">Low</wj-menu-item>
			<wj-menu-item value="'open'">Open</wj-menu-item>
			<wj-menu-item value="'close'">Close with Null</wj-menu-item>
	</wj-menu>
    <pre>
    Repro Steps:
    1. Run ‘QA_288883.html’ page on the browsers.
    2. Click ‘Binding’ drop down and select ‘High/Low/Open’ from the list.
    Observe: The chart including ‘moving average’ can render properly…[Correct]
    3. Click ‘Binding’ drop down and select ‘Close with Null’ from the list.
    Observe: ‘Line’ chart can render properly.
    But ‘moving average’ only display for the data before null value. It cannot display for the rest of the data after null value….[Expected?]
    </pre>
</body>
</html>
