﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link rel="stylesheet" href="../styles/vendor/wijmo.min.css" />
    <script src="../scripts/controllers/animationCtrl.js" type="text/javascript"></script>  
</head>
<body ng-app="app" ng-controller="appCtrl" style="margin-top: 30px; margin-left: 50px;">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div>
        <wj-flex-chart control="ctx.flexChart"
                   items-source="randomData"
                   chart-type="Line"
                   binding-x="x">
            <wj-flex-chart-series binding="y"></wj-flex-chart-series>
            <wj-flex-chart-series binding="y1"></wj-flex-chart-series>
            <wj-flex-chart-series binding="y2"></wj-flex-chart-series>
            <wj-flex-chart-animation animation-mode="{{ctx.chartAni.animationMode}}" easing="{{ctx.chartAni.easing}}" duration="100"></wj-flex-chart-animation>
        </wj-flex-chart>

        <wj-menu id="remove" header="Remove" item-clicked="itemRemove(s)">
                <wj-menu-item>Remove Series</wj-menu-item>
                <wj-menu-item>Remove First Point</wj-menu-item>
                <wj-menu-item>Remove Last Point</wj-menu-item>
        </wj-menu>
    </div>
    <div style="padding:20px; width:1000px">
    <pre>Repro Steps:
        1. Run ‘JS/TS -> Angular/Angular2/PureJS -> FlexChartAnimation’ sample.
        2. Navigate to ‘FlexChart - Animation’ view and press ‘F12’ key to open console window.
        3. Click ‘Remove’ drop down.
        4. Select ‘Remove First Point’ or ‘Remove Last Point’ about 9 times to remove the data points until the last point left.
        5. Open 'Remove' drop down and select ‘Remove Series’ from the drop down list.
        Observe: JavaScript error ‘Uncaught DOMException: Failed to execute 'getItem' on 'SVGPointList': The index provided (4294967295) is greater than the maximum bound (0)’ is observed……[Incorrect]</pre>
    </div>
</body>
</html>
