﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
     <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />   
    
     <!-- Wijmo -->     
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link rel="stylesheet" href="../styles/vendor/wijmo.min.css" /> 

        <script type="text/javascript">

            var app = angular.module('app', ['wj']);

            app.controller('appCtrl', function ($scope) {

                // data context
                $scope.ctx = {
                    chart: null,
                    firstBox: null,
                    secBox: null,
                    thirdBox: null,
                    boxData: [],
                    showMeanLine: true,
                    showMeanMarker: true,
                    showOutliers: true,
                    quartileCalculation: wijmo.chart.analytics.QuartileCalculation.InclusiveMedian,
                    showInnerPoints: true
                };


                $scope.$watch('ctx.showOutliers', function () {
                    if ($scope.ctx.firstBox) {
                        $scope.ctx.firstBox.showOutliers = $scope.ctx.showOutliers;
                        $scope.ctx.secBox.showOutliers = $scope.ctx.showOutliers;
                    }
                });
                $scope.$watch('ctx.showLabel', function () {
                    if ($scope.ctx.chart) {
                        $scope.ctx.chart.dataLabel.content = $scope.ctx.showLabel ? '{y}' : '';
                    }
                });


                $scope.$watch('ctx.quartileCalculation', function () {
                    if ($scope.ctx.quartileCalculation != null && $scope.ctx.quartileCalculation != '' && $scope.ctx.firstBox) {
                        $scope.ctx.firstBox.quartileCalculation = wijmo.chart.analytics.QuartileCalculation[$scope.ctx.quartileCalculation];
                        $scope.ctx.secBox.quartileCalculation = wijmo.chart.analytics.QuartileCalculation[$scope.ctx.quartileCalculation];
                    }
                });

                $scope.boxData = [
        { "name": "Tomy", "y": [760, 80, 84, 89, 15], "x": [100, 110, 120, 130, 140] },
        { "name": "James", "y": [733, 83, 93, 90, 10], "x": [200, 210, 220, 230, 240] },
        { "name": "Dineal", "y": [714, 72, 87, 87, 18], "x": [300, 310, 320, 330, 340] },
        { "name": "Thomas", "y": [724, 80, 86, 81, 15], "x": [400, 410, 420, 430, 440] },
        { "name": "Justin", "y": [834, 86, 84, 82, 10], "x": [500, 510, 520, 530, 540] }
    ];



            });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl" style="margin:10px 10px 10px 10px">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><label id="labelShowOutliers" for="checkboxShowOutliers">Show Outliers:</label>
    <input type="checkbox" id="checkboxShowOutliers" ng-model="ctx.showOutliers" />
    <label id="labelShowLabel" for="checkboxShowLabel">Show Label:</label>
    <input type="checkbox" id="checkboxShowLabel" ng-model="ctx.showLabel" />
    <wj-menu value="ctx.quartileCalculation" header="QuartileCalculation" id="qCal">
        <wj-menu-item value="'InclusiveMedian'">InclusiveMedian</wj-menu-item>
        <wj-menu-item value="'ExclusiveMedian'">ExclusiveMedian</wj-menu-item>
    </wj-menu>
    <wj-flex-chart class="chart"                  
    control="ctx.chart"
    items-source="boxData"                   
    legend-toggle="true"                              
    binding-x="name" style="width: 700px; height: 500px">       

 <wj-flex-chart-box-whisker control="ctx.firstBox"
                    binding="y" 
                    name="YEAR2014y"
                    group-width="ctx.groupWidth"                                 
                    gap-width="ctx.gapWidth"
                    quartile-calculation="ctx.quartileCalculation" 
                    show-mean-line="ctx.showMeanLine" 
                    show-mean-marker="ctx.showMeanMarker" 
                    show-inner-points="ctx.showInnerPoints" 
                    ng-attr-style="ctx.gradientPredefinedColor"
                    show-outliers="ctx.showOutliers"></wj-flex-chart-box-whisker> 

 <wj-flex-chart-box-whisker control="ctx.secBox"
                    binding="x"
                    name="YEAR2015x"                                 
                    group-width="ctx.groupWidth" 
                    gap-width="ctx.gapWidth"
                    quartile-calculation="ctx.quartileCalculation" 
                    show-mean-line="ctx.showMeanLine" 
                    show-mean-marker="ctx.showMeanMarker" 
                    show-inner-points="ctx.showInnerPoints"
                     ng-attr-style="ctx.gradientPredefinedColor"
                    show-outliers="ctx.showOutliers"></wj-flex-chart-box-whisker>

</wj-flex-chart>
<pre>

Repro Steps:
1. Run 'QA_371409.htm' page on the browser.
2. Click 'QuartileCalculation' dropdown and select 'InclusiveMedian' value from the list.
3. Check 'Show Label' check box to show the dataLabel.
Observe: Extra dataLabels are observed for all data points in the multiple boxwhisker series chart....[Incorrect]
Note: This issue can only be observed when the chart is rendering more than one boxwhisker series.
</pre>
 </body>
</html>
