﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular-route.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />

    
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function appCtrl($scope) {

            data = [
                { "key": "2015-04-06T14:41:22.256Z", "value": 89.0 },
                { "key": "2015-04-06T16:13:02.001Z", "value": 79.0 },
                { "key": "2015-04-07T18:59:39.538Z", "value": 89.0 },
                { "key": "2015-04-07T23:03:54.229Z", "value": 65.0 },
                { "key": "2015-04-09T02:54:24.829Z", "value": 56.0 },
                { "key": "2015-04-09T02:54:41.868Z", "value": 56.0 }
            ];

            $scope.chartData = [];
            $scope.chartMaxDate = Number(new Date('2015-04-05'));
            $scope.chartMinDate = Number(new Date('2015-04-11'));

            //  $scope.chartMaxDate = wijmo.chart.FlexChart._toOADate(new Date('2015-04-05'));
            // $scope.chartMaxDate = wijmo.chart.FlexChart._toOADate(new Date('2015-04-11'));

            $scope.chartProps = {
                chartType: wijmo.chart.ChartType.Line
            };

            for (var i = 0; i < data.length; i++) {
                $scope.chartData.push({
                    key: new Date(data[i].key),
                    value: data[i].value
                });
            }

            console.log('max: ' + $scope.chartMaxDate);
            console.log('min: ' + $scope.chartMinDate);
            console.log('sample: ' + $scope.chartData[0].key)
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div>
    <pre>
    Title: 
            Bug 117126:[FlexChart] Axis labels does not render when Min/Max are set as Date values.
    </pre>
       <wj-flex-chart binding-x="key" chart-type="{{chartProps.chartType}}" items-source="chartData">
        <wj-flex-chart-axis wj-property="axisX" major-unit="1"  format="dddd" max="{{chartMinDate}}" min="{{chartMaxDate}}"></wj-flex-chart-axis>
        <wj-flex-chart-series name="Data" binding="value"></wj-flex-chart-series>
    </wj-flex-chart>
        <pre>
        1. Run 'Sup_117126.htm'.
        Observe: Axis labels for X axis are not rendered- Incorrect
        Expected: Axis labels for X axis render correctly.
        </pre>
    </div>
</body>
</html>
