﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
       <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.1.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular-route.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/252995_appCtrl.js" type="text/javascript"></script>
   
</head>
<body  ng-app="app" ng-controller="252995_appCtrl">
     
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div>
            <wj-flex-chart style="border-bottom: 0 none; margin-bottom: 0px;"
                control="stChart"
                items-source="data"
                header="{{chartProps.header}}"
                chart-type="Candlestick"
                symbol-size="4"
                binding-x="date">
                <wj-flex-chart-series 
                    name="Close" 
                    binding="high,low,open,close">
                </wj-flex-chart-series>
            </wj-flex-chart>
            <wj-flex-chart style="height:120px; display:block"
                control="rsChart"
                items-source="data"
                chart-type="Line"
                binding-x="date">
                <wj-flex-chart-series binding="close">
                </wj-flex-chart-series>
                <wj-flex-chart-range-selector 
                    control="chartProps.rangeSelector"
                    seamless="true"
                    range-changed="rangeChanged(s,e)">
                </wj-flex-chart-range-selector>
            </wj-flex-chart>
        </div>

  <pre>
    1. Run the attached sample "Sup_252995.htm".
       Observe: Range Selector chart axis-x labels should not truncated.
  </pre>
</body>
</html>
