﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
        <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css">

    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
   
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/106988_appCtrl.js" type="text/javascript"></script>
     <script src="../scripts/directives/appDctv.js" type="text/javascript"></script>

     <link href="../styles/app.css" rel="stylesheet"> 
</head>
<body>

        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div ng-app="app" ng-controller="appCtrl">
        <pre>
                  Title:Bug 106988:[Forum][FlexChart] FlexChart renders incorrectly when stacked with multiple series types
       </pre>
        <wj-flex-chart binding-x="x" binding="y" chart-type="Area" stacking="Stacked" legend-toggle="true">
            <wj-flex-chart-series items-source="data.capacity.points" name="Capacity" chart-type="Line"></wj-flex-chart-series>
	        <wj-flex-chart-series items-source="data.demand[0].points" name="{{data.demand[0].name}}"></wj-flex-chart-series>
	        <wj-flex-chart-series items-source="data.demand[1].points" name="{{data.demand[1].name}}"></wj-flex-chart-series>
	        <wj-flex-chart-series items-source="data.demand[2].points" name="{{data.demand[2].name}}"></wj-flex-chart-series>
        </wj-flex-chart>
        <pre>
        Steps to replicate:
        1. Run the sample"Sup_106988.htm".
        Observe: The max Y value is incorrect 
        2. Declare the line series before area series
        3. Click on any series in the legend
        Observe: Chart renders incorrectly
        4. Repeat Step 3 again 
        </pre>
</div>    
</body>
</html>
