﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <title></title>
     <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular-route.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />

    
    <script type="text/javascript">
        // declare app module
        var app = angular.module('app', ['wj']);
        // app controller provides data
        app.controller('appCtrl', function appCtrl($scope) {
            // generate some random data
            var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(','),
                data = [];
            for (var i = 0; i < countries.length; i++) {
                data.push({
                    country: countries[i],
                    downloads: Math.round(Math.random() * 20000),
                    sales: Math.random() * 10000,
                    expenses: Math.random() * 5000
                });
            }
            // add data array to scope
            $scope.data = data;

            $scope.InvalidateChart = function () {
                wijmo.Control.invalidateAll(container);
                // console.log("FlexChart invalidated");
                // alert("FlexChart invalidated");
                var msg = "FlexChart invalidated";
                $("#msg").text(msg);
            }
        });
           
</script> 
</head>
<body ng-app="app" ng-controller="appCtrl">
 
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre>
    Title: 
           124470:[FlexChart] invalidateAll method throws "** Assertion failed in Wijmo: HTMLElement not found." error when the element contains flexchart.
    </pre>
    <!-- this is the chart -->
    <div id="container">
        <wj-flex-chart items-source="data" binding-x="country" control="fchart">
            <wj-flex-chart-series name="Sales" binding="sales"> </wj-flex-chart-series>
            <wj-flex-chart-series name="Expenses" binding="expenses"> </wj-flex-chart-series>
            <wj-flex-chart-series name="Downloads" binding="downloads"> </wj-flex-chart-series>
        </wj-flex-chart>       
    </div>
    <div id="msg"></div>
    <input type="button" ng-click="InvalidateChart()" id="btn" value="Invalidate Chart"/>
     <pre>
        1.Run 'Sup_124470.htm'.
        2.Click on 'Invalidate Chart' button.
        Observe:'Chart Invalidated' text will be shown over 'Invalidate Chart' button. [Correct]
        Note: If not come out the text 'Invalidate Chart' over button,it may be incorrect behavior.
        </pre>
</body>
</html>
