﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
      <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css">

    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/107253_appCtrl.js" type="text/javascript"></script>
    <script src="../scripts/directives/appDctv.js" type="text/javascript"></script>
   
    <link href="../styles/app.css" rel="stylesheet"> <link href="../styles/flexgrid.css" rel="stylesheet" type="text/css">
    <link href="../styles/flexgrid.css" rel="stylesheet" type="text/css">
</head>
<body>

        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div ng-app="app" ng-controller="appCtrl">
    
    <p>This is a <b>FlexGrid</b> control:</p>
    <wj-flex-grid style="height: 650px" items-source="below" selection-mode="Row">
        <wj-flex-grid-column header="grouping" binding="grouping"></wj-flex-grid-column>
        <wj-flex-grid-column header="count" binding="count"></wj-flex-grid-column>
    </wj-flex-grid>
    
    <p>And this is a <b>FlexChart</b> control showing the same data:</p>
    <input id="txtCount" type="text" ng-model="threshold"/> <button id="btnRefresh" ng-click="forceRefresh()">Refresh</button>
    <wj-flex-chart style="height:300px" binding-x="grouping" binding="count" >
        <wj-flex-chart-axis wj-property="axisY" min="0" max="50"></wj-flex-chart-axis>
        <wj-flex-chart-axis wj-property="axisX" min="0" max="100"></wj-flex-chart-axis>
        <wj-flex-chart-series name="Below" items-source="below"></wj-flex-chart-series>
        <wj-flex-chart-series name="Above" items-source="above"></wj-flex-chart-series>
        <wj-flex-chart-legend position="Bottom"></wj-flex-chart-legend>
    </wj-flex-chart>
</div>
<div>
<br />
<br />
1. Run the attached sample "Sup_107253.htm".<br />
Observe: Threshold value is set as 10. FlexGrid display 10 records and the first series in FlexChart is displayed till 10 - Correct<br />
2. Change the Threshold value to 20 <br />
Observe:  FlexGrid now display 20 records while the first series in FlexChart still is displayed till 10 - Incorrect<br />
</div>
</body>
</html>
