﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
     <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link rel="stylesheet" href="../styles/vendor/wijmo.min.css" />
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);

        app.controller('appCtrl', function ($scope) {

            $scope.chart = null;

            $scope.ItemFormatter = function () {
                var chart = $scope.chart;
                chart.axisX.itemFormatter = function (engine, label) {
                    engine.textFill = 'red';
                    label.cls = null;

                    return label;

                };
            };

            $scope.reloadPage = function () {
                document.location.reload(true);               
            };

            $scope.data = [
             { "date": "02/05/15", "open": 17, "high": 17.31, "low": 160, "close": 150, "volume": 2682187 },
            { "date": "02/06/15", "open": 17.39, "high": 18.88, "low": 180, "close": -70, "volume": 3929164 },
            { "date": "02/09/15", "open": 18.86, "high": 19.95, "low": 190, "close": 150, "volume": 3226650 },
            { "date": "02/10/15", "open": 20.5, "high": 21, "low": 90, "close": 220, "volume": 2804409 },
            { "date": "02/11/15", "open": 20.89, "high": 21, "low": 200, "close": 250, "volume": 1698365 },
            { "date": "02/12/15", "open": 20.66, "high": 20.85, "low": 80, "close": 210, "volume": 1700000 },
            { "date": "02/13/15", "open": 20.19, "high": 20.68, "low": 160, "close": 220, "volume": 711951 },
            { "date": "02/17/15", "open": 19.5, "high": 20.1, "low": 170, "close": 90, "volume": 2093602 },
            { "date": "02/18/15", "open": 18.31, "high": 18.5, "low": 150, "close": 145, "volume": 1849490 },
            { "date": "02/19/15", "open": 18.33, "high": 19.25, "low": 140, "close": 220, "volume": 1311518 },
            { "date": "02/20/15", "open": 18.68, "high": 19.3, "low": 130, "close": 250, "volume": 1001692 },
            { "date": "02/23/15", "open": 18.8, "high": 18.89, "low": 120, "close": 180, "volume": 670087 },
            { "date": "02/24/15", "open": 18.46, "high": 19, "low": 100, "close": 60, "volume": 759263 },
            { "date": "02/25/15", "open": 18.83, "high": 19.48, "low": 110, "close": 80, "volume": 915580 }
      ];
        });

     </script>   
</head>
<body ng-app="app" ng-controller="appCtrl" style="margin-left:10px">

        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre>TestCase 133390: [FlexChart]To test ItemFormatter property is working correctly for all chart types</pre>

<input type="button" id="btn" value="ItemFormatter" ng-click="ItemFormatter()" />
<input type="button" id="reloadbtn" value="ReloadPage" ng-click="reloadPage()" />
 <wj-menu value="chart.chartType" header="ChartType">
        <wj-menu-item value="0">Column</wj-menu-item>
        <wj-menu-item value="1">Bar</wj-menu-item>
        <wj-menu-item value="2">Scatter</wj-menu-item>
        <wj-menu-item value="3">Line</wj-menu-item>
        <wj-menu-item value="4">LineSymbols</wj-menu-item>
        <wj-menu-item value="5">Area</wj-menu-item>
        <wj-menu-item value="6">Bubble</wj-menu-item>
        <wj-menu-item value="7">Candlestick</wj-menu-item>
        <wj-menu-item value="8">HighLowOpenClose</wj-menu-item>
        <wj-menu-item value="9">Spline</wj-menu-item>
        <wj-menu-item value="10">SplineSymbols</wj-menu-item>
        <wj-menu-item value="11">SplineArea</wj-menu-item>
    </wj-menu>
<wj-flex-chart items-source="data"
                   control="chart"
                   binding-x="date"
                   legend-toggle="true" 
                   tooltip-content=""
                   label-content="{y}"         
                   chart-type="Column"                                
                   style="width:800px; height:500px">
        <wj-flex-chart-series binding="high,low,open,close" name="HLOC">
        </wj-flex-chart-series> 
        
        <wj-flex-chart-axis wj-property="axisX"></wj-flex-chart-axis>
        <wj-flex-chart-axis wj-property="axisY" axis-line="true" ></wj-flex-chart-axis>               
    </wj-flex-chart>
</body>
</html>
