﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
        <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link rel="stylesheet" href="../styles/vendor/wijmo.min.css" />
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);

        app.controller('appCtrl', function ($scope) {

            $scope.chart = null;
            $scope.axisXMin = wijmo.chart.FlexChart._toOADate(new Date(2014, 0, 1)); 
            $scope.axisXMax = wijmo.chart.FlexChart._toOADate(new Date(2014, 0, 6));
            $scope.axisYMin = wijmo.chart.FlexChart._toOADate(new Date(2014, 1, 1));
            $scope.axisYMax = wijmo.chart.FlexChart._toOADate(new Date(2014, 1, 10));



            $scope.data = [
      { "fruit": "Orange", "x": 1, "date1": new Date(2014, 0, 1), "date2": new Date(2014, 1, 1), "date3": new Date(2014, 1, 4), "y1": 90, "y2": 600, "y3": 400, "y4": 300 },
      { "fruit": "Apple", "x": 2, "date1": new Date(2014, 0, 2), "date2": new Date(2014, 1, 4), "date3": new Date(2014, 2, 6), "y1": 80, "y2": 400, "y3": 500, "y4": 200 },
      { "fruit": "Lime", "x": 3, "date1": new Date(2014, 0, 3), "date2": new Date(2014, 1, 5), "date3": new Date(2014, 2, 7), "y1": 70, "y2": 700, "y3": 700, "y4": 500 },
      { "fruit": "Lemon", "x": 4, "date1": new Date(2014, 0, 4), "date2": new Date(2014, 1, 6), "date3": new Date(2014, 3, 8), "y1": 60, "y2": 800, "y3": 800, "y4": 600 },
      { "fruit": "Mango", "x": 5, "date1": new Date(2014, 0, 5), "date2": new Date(2014, 1, 7), "date3": new Date(2014, 4, 9), "y1": 50, "y2": 100, "y3": 300, "y4": 100 },
	  { "fruit": "Watermelon", "x": 6, "date1": new Date(2014, 0, 6), "date2": new Date(2014, 1, 8), "date3": new Date(2014, 4, 7), "y1": 40, "y2": 200, "y3": 900, "y4": 400 },
	  { "fruit": "Kiwi", "x": 7, "date1": new Date(2014, 0, 9), "date2": new Date(2014, 1, 15), "date3": new Date(2014, 4, 6), "y1": 30, "y2": 300, "y3": 600, "y4": 700 }


    ];
        });

     </script>
</head>
<body ng-app="app" ng-controller="appCtrl" style="margin-left:10px">

        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre>TestCase 133389: [FlexChart]To test Axis labels can render properly when Min/Max are set as Date values.</pre>
<wj-flex-chart items-source="data"
                   control="chart"
                   binding-x="date1"
                   chart-type="Column"                 
                   style="width:800px; height:500px">
        <wj-flex-chart-series binding="date2" name="SaleDate">
        </wj-flex-chart-series>
          <wj-flex-chart-axis wj-property="axisX" min="{{axisXMin}}" max="{{axisXMax}}"></wj-flex-chart-axis>   
          <wj-flex-chart-axis wj-property="axisY" min="{{axisYMin}}" max="{{axisYMax}}"></wj-flex-chart-axis>   
    </wj-flex-chart>
</body>
</html>
