﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
      <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css">

    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
   
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
     <script src="../scripts/controllers/chartAnalyticsCtrl.js" type="text/javascript"></script>
    <script src="../scripts/directives/appDctv.js" type="text/javascript"></script>

    <link href="../styles/app.css" rel="stylesheet"> 
    <link href="../styles/flexchart.css" rel="stylesheet" type="text/css" />
 </head>
<body>

        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div ng-app="app" ng-controller="chartAnalyticCtrl">
<pre>
Title :
Test Case 196994:[FlexChart][Sunburst]To test whether the offset of the selected slice from the pie center can be defined properly by using 'selectedItemOffset' property
</pre>
 <wj-sunburst control="sunchart"
                 items-source="sunData"
                 binding="value"
				 label-content="{name}"
				 inner-radius="{{ innerRadius }}"
				 binding-name="bindingName"
                 selection-mode="Point"
                 child-items-path="childItemsPath" style="width: 400px; height: 400px">
    </wj-sunburst>
  <wj-menu value="sunchart.selectedItemOffset" header="Selected Item Offset">
                                <wj-menu-item value="0">0</wj-menu-item>
                                <wj-menu-item value="0.1">0.1</wj-menu-item>
                                <wj-menu-item value="0.2">0.2</wj-menu-item>
                                <wj-menu-item value="0.3">0.3</wj-menu-item>
                                <wj-menu-item value="0.4">0.4</wj-menu-item>
                                <wj-menu-item value="0.5">0.5</wj-menu-item>
                                <wj-menu-item value="0.6">0.6</wj-menu-item>
                            </wj-menu>
    <pre>
    Repro Steps:
    1.Run 'TC_196994.html'.
    2.Choose selected item offset to '0.5'.
    Observe: Defined offset (space) will be shown between slices.
    </pre>
 </div>
</body>
</html>
