﻿<!DOCTYPE html>
<html ng-app="app" xmlns="http://www.w3.org/1999/xhtml">
<head>
      <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular-route.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css">

    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
   
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
     <script src="../scripts/controllers/chartAnalyticsCtrl.js" type="text/javascript"></script>
    <script src="../scripts/directives/appDctv.js" type="text/javascript"></script>

    <link href="../styles/app.css" rel="stylesheet"> 
    <link href="../styles/flexchart.css" rel="stylesheet" type="text/css" />
 </head>
<body>

        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div ng-app="app" ng-controller="chartAnalyticCtrl">
<pre>
Title:Test Case 148931:[FlexChart]To test series name can be define for movingAverage series.
</pre>
            <wj-flex-chart items-source="data"
                   binding-x="date"
                   control="machart"
                   style="width: 600px; height: 450px">
        <wj-flex-chart-legend position="Right"></wj-flex-chart-legend>
        <wj-flex-chart-series chart-type="Line" name="Base Data" binding="volume"></wj-flex-chart-series>
        <wj-flex-chart-moving-average binding="volume" binding-x="date"
                                      period="{{period}}"
                                      name="{{type[0] + 'MA'}}">
        </wj-flex-chart-moving-average>
    </wj-flex-chart>
    <pre>
    Repro Steps:
    1.Run 'TC_148931.html'.
    2.Check on legend text.
    Observe:Legend text/Series Name can be defined properly.
      </pre>
 </div>
</body>
</html>
