﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
       <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link rel="stylesheet" href="../styles/vendor/wijmo.min.css" />
      <script type="text/javascript">
          // declare app module
          var app = angular.module('app', ['wj']);
          // app controller provides data
          app.controller('appCtrl', function appCtrl($scope) {
              // generate some random data
              var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(','),
                data = [];
              for (var i = 0; i < countries.length; i++) {
                  data.push({
                      country: countries[i],
                      downloads: Math.round(Math.random() * 20000),
                      sales: Math.random() * 10000,
                      expenses: Math.random() * 5000
                  });
              }
              // add data array to scope
              $scope.data = data;

              $scope.InvalidateChart = function () {
                  wijmo.Control.invalidateAll(container);
                  document.getElementById("output").innerHTML = "FlexChart invalidated";
              }
          });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl" style="margin-left:10px" >

        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre>TestCase 133385: [FlexChart]To test whether 'invalidateAll' method working properly in flexchart.</pre>
<div id="output"></div>
 <div id="container">
        <wj-flex-chart items-source="data" binding-x="country" control="fchart" style="width:1000px; height:600px">
            <wj-flex-chart-series name="Sales" binding="sales"> </wj-flex-chart-series>
            <wj-flex-chart-series name="Expenses" binding="expenses"> </wj-flex-chart-series>
            <wj-flex-chart-series name="Downloads" binding="downloads"> </wj-flex-chart-series>
        </wj-flex-chart>       
    </div>

    <input type="button" id="btn" ng-click="InvalidateChart()" value="Invalidate Chart" />
</body>
</html>
