﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
      <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css">

    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
   
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
     <script src="../scripts/controllers/chartAnalyticsCtrl.js" type="text/javascript"></script>
    <script src="../scripts/directives/appDctv.js" type="text/javascript"></script>

    <link href="../styles/app.css" rel="stylesheet"> 
    <link href="../styles/flexchart.css" rel="stylesheet" type="text/css" />
 </head>
<body>

        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div ng-app="app" ng-controller="chartAnalyticCtrl">
<pre>
Title :Test Case 196998:[FlexChart][Sunburst]To test 'tooltip' property can be defined correctly in sunburst chart
</pre>
 <wj-sunburst control="sunchart"
                 items-source="sunData"
                 binding="value"
				 binding-name="bindingName"
                 child-items-path="childItemsPath" style="width: 400px; height: 400px" got-focus="sbchartGotFocus()">
 </wj-sunburst>
 <div>
<button ng-click="tooltipContent()" id="btnTt">TtContent</button>
 </div>
    <pre>
    Repro Steps:
    1.Run 'TC_196998.html'.
    2.Hover on slice.
    Observe: Tooltip content will be displayed according to it's value.
    3.Click on 'TtContent' button
    4.Hover on slice.
    Observe: Tooltip text 'test' will be displayed on tooltip content.
    </pre>
 </div>
</body>
</html>
