﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
      <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css">

    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
   
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
     <script src="../scripts/controllers/chartAnalyticsCtrl.js" type="text/javascript"></script>
    <script src="../scripts/directives/appDctv.js" type="text/javascript"></script>

    <link href="../styles/app.css" rel="stylesheet"> 
    <link href="../styles/flexchart.css" rel="stylesheet" type="text/css" />
 </head>
<body>

        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div ng-app="app" ng-controller="chartAnalyticCtrl">
<pre>
Title:Test Case 148928:[FlexChart]To test whether seriesVisibility property is working properly for trendline sereis.
</pre>
            <wj-flex-chart items-source="fruits"
                   binding-x="x"
                   control="ctx.tlchart"
                   style="width: 600px; height: 450px">
        <wj-flex-chart-legend position="Right"></wj-flex-chart-legend>
        <wj-flex-chart-series chart-type="Scatter" name="Base Data" binding="y1"></wj-flex-chart-series>
        <wj-flex-chart-trend-line binding="y1" binding-x="x" name="myTrendLine" control="trend"
                                  order="{{ctx.trend.order}}"
                                  visibility="ctx.trend.visibility"
                                  fit-type="{{ctx.trend.fitType}}">
        </wj-flex-chart-trend-line>
    </wj-flex-chart>
     <wj-menu id="menuFitType" value="ctx.trend.fitType" header="FitType" text="fitType">
                    <wj-menu-item value="'Linear'">Linear</wj-menu-item>
                    <wj-menu-item value="'Exponential'">Exponential</wj-menu-item>
                    <wj-menu-item value="'Logarithmic'">Logarithmic</wj-menu-item>
                    <wj-menu-item value="'Power'">Power</wj-menu-item>
                    <wj-menu-item value="'Fourier'">Fourier</wj-menu-item>
                    <wj-menu-item value="'Polynomial'">Polynomial</wj-menu-item>
                    <wj-menu-item value="'MinX'">MinX</wj-menu-item>
                    <wj-menu-item value="'MinY'">MinY</wj-menu-item>
                    <wj-menu-item value="'MaxX'">MaxX</wj-menu-item>
                    <wj-menu-item value="'MaxY'">MaxY</wj-menu-item>
                    <wj-menu-item value="'AverageX'">AverageX</wj-menu-item>
                    <wj-menu-item value="'AverageY'">AverageY</wj-menu-item>
                </wj-menu>
    <pre>
    Repro Steps:
    1.Run 'TC_148926.html'.
    2.Choose each fit type to from 'FitType' menu.
    Observe:Trendline series should be rendered according to it's FitType.
  </pre>
 </div>
</body>
</html>
