﻿<!DOCTYPE>
<html>
 <head>
      <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css">

    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
   
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <link href="../styles/app.css" rel="stylesheet">   
    <script>
	var app = angular.module("app", ['wj']);

            app.controller ('appCtrl', function ($scope){
	            $scope.chart=null;
                // data context
                 $scope.ctx = {
                        innerRadius: 0,
                       };
                    $scope.inputInnerRadius = null;
	
                $scope.data = [
                    {
                        name:'1st',
                        items:[{
                            name:'January',
                            value:1.1
                        },
                        {
                            name:'February',
                            items: [{
                                name: 'Week1',
                                value:1.2
                            },
                            {
                                name: 'Week2',
                                value: 0.8
                            },
                            {
                                name: 'Week3',
                                value: 0.6
                            },
                            {
                                name: 'Week3',
                                value: 0.5
                            }
                            ]
                        },
                        {
                            name:'March',
                            value:0.3
                        }]
                    },
            {
                    name:'2nd',
                    items:[{
                        name:'April',
                        value:1.1
                    },
                    {
                        name:'May',
                        value:0.8
                    },
                    {
                        name:'June',
                        value:0.3
                    }]
            },
            {
                name: '3rd',
                items: [{
                    name: 'July',
                    value: 0.7
                },
                {
                    name: 'August',
                    value: 0.6
                },
                {
                    name: 'September',
                    value: 0.1
                }]
            },
            {
                name: '4th',
                items: [{
                    name: 'October',
                    value: 0.5
                },
                {
                    name: 'November',
                    value: 0.4
                },
                {
                    name: 'December',
                    value: 0.3
                }]
            }
                ];
                 
                $scope.childItemsPath = 'items';
                $scope.bindingName = 'name';
	                   // Wijmo Menu's itemClicked event handler
                $scope.itemClicked = function (menu) {
                    if ($scope.ctx.chart == null) {
                        return;
                    }
                    $scope.ctx.chart.saveImageToFile('chart.' + menu.selectedItem.value || 'png');
                };
                $scope.$watch('ctx.innerRadius', function () {
                    var input = $scope.inputInnerRadius,
                    val = $scope.ctx.innerRadius;

                    if (!input || val < input.min || val > input.max) {
                        return;
                    }
                    $scope.innerRadius = val;
                });
            });
	</script>
</head>
<body ng-app="app" ng-controller="appCtrl" style="margin-left:50px;">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 196980:[FlexChart][Sunburst]To test whether the text can be displayed in the chart footer by using 'footer' property</p>
    <br />
    <wj-sunburst control="sunBurst"
                 items-source="data"
                 binding="value"
				 label-content="{name}"
				 inner-radius="{{ innerRadius }}"
				 binding-name="bindingName"
                 selection-mode="Point"
                 footer="iOS"
                 child-items-path="childItemsPath"
                 style="width:500px;">
    </wj-sunburst>
    Footer: <input id="footer" ng-model="sunBurst.footer" width="50" />
</body>
</html>
