﻿<!DOCTYPE html>
<html ng-app="app" xmlns="http://www.w3.org/1999/xhtml">
<title></title>
<head>
     <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular-route.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css">

    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
   
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
     <script src="../scripts/controllers/chartAnalyticsCtrl.js" type="text/javascript"></script>
    <script src="../scripts/directives/appDctv.js" type="text/javascript"></script>

    <link href="../styles/app.css" rel="stylesheet"/> 
    <link href="../styles/flexchart.css" rel="stylesheet" type="text/css" />
 </head>
<body ng-app="app" ng-controller="chartAnalyticCtrl">

        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre>
Title:Test Case 148934:[FlexChart]To test whether movingAverageType (Exponential,Simple,Triangular,Weighted) can be set properly for movingAverage series.
</pre>
 <wj-menu id="menuType" value="type" header="Type" text="type">
                    <wj-menu-item value="'Simple'">Simple</wj-menu-item>
                    <wj-menu-item value="'Weighted'">Weighted</wj-menu-item>
                    <wj-menu-item value="'Exponential'">Exponential</wj-menu-item>
                    <wj-menu-item value="'Triangular'">Triangular</wj-menu-item>
                </wj-menu>
            <wj-flex-chart items-source="data"
                   binding-x="date"
                   control="machart"
                   style="width: 600px; height: 450px">
        <wj-flex-chart-legend position="Right"></wj-flex-chart-legend>
        <wj-flex-chart-series chart-type="Line" name="Base Data" binding="volume"></wj-flex-chart-series>
        <wj-flex-chart-moving-average binding="volume" binding-x="date"
                                      period="{{period}}"
                                      name="{{type[0] + 'MA'}}">
        </wj-flex-chart-moving-average>
    </wj-flex-chart>
    <pre>
    Repro Steps:
    1.Run 'TC_148934.html'.
    2.Choose each movingAveragetype.
    Observe:MovingAverage series will change according to it's type.
    </pre>
</body>
</html>
