﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <title></title>
     <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css">

    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
   
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/chartCtrl.js" type="text/javascript"></script>
    <script src="../scripts/directives/appDctv.js" type="text/javascript"></script>

    <link href="../styles/app.css" rel="stylesheet"> 
    <link href="../styles/flexchart.css" rel="stylesheet" type="text/css" />
</head>
<body ng-app ="app" ng-controller="appCtrl">

        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre>
Title: Test Case 134937:[FlexChart]To test whether 'seriesIndex' property can be used to set the index of the series in the chart in which the LineMarker appears
</pre>
 <div class="container">
   <wj-flex-chart class="chart"
                   control="ctx.chart"
                   chart-type="Line"
                   legend-toggle="true"
                   items-source="data"                  
                   binding-x="fruit" style="width: 600px; height: 450px">
        <wj-flex-chart-line-marker control="ctx.lineMarker"
                                   lines="Vertical"
                                   interaction="Drag"
                                   drag-content="false"
                                   drag-lines="false"
                                   alignment="Auto"
                                   series-index="1"
                                   content="changeContent"
                                   position-changed="positionChanged(s,e)">
        </wj-flex-chart-line-marker>
        <wj-flex-chart-series binding="y1" name="Sales">
        </wj-flex-chart-series>
        <wj-flex-chart-series binding="y2" name="Expenses">
        </wj-flex-chart-series>
        <wj-flex-chart-series binding="y3" name="Downloads">
        </wj-flex-chart-series>
        <wj-flex-chart-series binding="y4" name="chart Uploads">
        </wj-flex-chart-series>
    </wj-flex-chart>
     <wj-menu value="ctx.lineMarker.seriesIndex" header="SeriesIndex">
                    <wj-menu-item value="0">0</wj-menu-item>
                    <wj-menu-item value="1">1</wj-menu-item>
                    <wj-menu-item value="2">2</wj-menu-item>
					<wj-menu-item value="3">3</wj-menu-item>
             </wj-menu>
               <button ng-click="seriesIndex()" id="btn">Take Series Index</button>
               <label id="lbl"></label>
    </div>
    <pre>
    1.Run 'TC_134937.htm'.
    2.Click on 'Take Series Index' button.
    Observe:Series value will be displayed in label text as per setting value.
    </pre>
</body>
</html>
