﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
     <!-- Third Party -->
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />

    <!-- Wijmo-Angular interop -->
    
   
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/chartInteractionCtrl.js" type="text/javascript"></script>
    <link href="../styles/app.css" rel="stylesheet"/> 
    <link href="../styles/flexchart.css" rel="stylesheet" type="text/css" />
</head>
<body  ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 142816:[FlexChart]To test whether ChartGesture can be removed from chart by 'remove()' function.</p>

    <wj-flex-chart items-source="data"
                   binding-x="fruit"
                   style="width: 600px; height: 400px">
        <wj-flex-chart-series binding="y1"></wj-flex-chart-series>
            <wj-flex-chart-chart-gestures interactive-axes="X" control="ctx.chartGestures">
            </wj-flex-chart-chart-gestures>
    </wj-flex-chart>
    <button id="btnRemove" ng-click="removeGestures()">Remove Gestures</button>
</body>
</html>
