﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link rel="stylesheet" href="../styles/vendor/wijmo.min.css" />
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {
            $scope.data = getData();
            $scope.chart = null;
            $scope.pointIndex = 45;

            // generate some random data
            function getData() {
                var data = [], sales = [
                    96, 19, 54, 83, 15, 56, 36, 4, 29, 93,
                    38, 71, 50, 77, 69, 13, 79, 57, 29, 62,
                    4, 27, 66, 96, 65, 12, 52, 3, 61, 48, 50,
                    70, 39, 33, 25, 49, 69, 46, 44, 40, 35,
                    72, 64, 10, 66, 63, 78, 19, 96, 26];
                for (var i = 0; i < 50; i++) {
                    data.push({
                        sale: sales[i],
                        date: new Date(2014, 0, i),
                    });
                }
                return data;
            }
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre>Test Case 133257: [FlexChart]To test whether the data point index of the annotation can be defined by using 'pointIndex' property.</pre>
    <wj-flex-chart items-source="data" binding-x="date" control="chart" style="width: 1500px;
        height: 400px" chart-type="Line">				  				       
        <wj-flex-chart-series binding="sale" name="Sale"></wj-flex-chart-series>     
        <wj-flex-chart-axis wj-property="axisX" ></wj-flex-chart-axis>
        <wj-flex-chart-axis wj-property="axisY"></wj-flex-chart-axis>   
         <wj-flex-chart-annotation-layer>                              
                <wj-flex-chart-annotation type="Square" length="80" offset="{x: 0, y: -15}" series-index="0"
                        point-index="{{pointIndex}}" content="DataIndex" position="Center" attachment="DataIndex"
                        tooltip="This is square annotation. &lt;/br&gt;length: 80 &lt;/br&gt; pointIndex: 45 &lt;/br&gt; attachment: DataIndex"
                        ng-attr-style="{ 'fill': '#c4af71', 'stroke': '#918254', 'fill-opacity': 1, 'stroke-width': 2, 'stroke-opacity': 1 }"></wj-flex-chart-annotation>
        </wj-flex-chart-annotation-layer>
    </wj-flex-chart>
    <wj-input-number id="pointInput" value="pointIndex" min="30" max="100" step="1"></wj-input-number>
</body>
</html>
