﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link rel="stylesheet" href="../styles/vendor/wijmo.min.css" />
    <script type="text/javascript">

        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            $scope.data = getData();
            $scope.chart = null;

            $scope.xFormatN = function () {
                var fchart = $scope.chart;
                fchart.axisX.format = "n,";
            };
            $scope.xFormatN1 = function () {
                var fchart = $scope.chart;
                fchart.axisX.format = "n,,";
            };
            $scope.yFormatN = function () {
                var fchart = $scope.chart;
                fchart.axisY.format = "n,";
            };
            $scope.yFormatN1 = function () {
                var fchart = $scope.chart;
                fchart.axisY.format = "n,,";
            };

            function getData() {
                var item = [];
                item = [
                          { "fruit": "Orange", "x": 1, "date1": new Date(2014, 0, 1), "date2": new Date(2014, 2, 3), "date3": new Date(2014, 1, 4), "y1": 9000, "y2": 6000000000, "y3": 4000000000, "y4": 3000000000 },
                          { "fruit": "Apple", "x": 2, "date1": new Date(2014, 0, 2), "date2": new Date(2014, 4, 4), "date3": new Date(2014, 2, 6), "y1": 8000, "y2": 4000000000, "y3": 5000000000, "y4": 2000000000 },
                          { "fruit": "Lime", "x": 3, "date1": new Date(2014, 0, 3), "date2": new Date(2014, 6, 5), "date3": new Date(2014, 2, 7), "y1": 7000, "y2": 7000000000, "y3": 7000000000, "y4": 5000000000 },
                          { "fruit": "Lemon", "x": 4, "date1": new Date(2014, 0, 4), "date2": new Date(2014, 8, 6), "date3": new Date(2014, 3, 8), "y1": 6000, "y2": 8000000000, "y3": 8000000000, "y4": 6000000000 },
                          { "fruit": "Mango", "x": 5, "date1": new Date(2014, 0, 5), "date2": new Date(2014, 10, 7), "date3": new Date(2014, 4, 9), "y1": 5000, "y2": 1000000000, "y3": 3000000000, "y4": 1000000000 },
	                      { "fruit": "Watermelon", "x": 6, "date1": new Date(2014, 0, 6), "date2": new Date(2014, 12, 8), "date3": new Date(2014, 4, 7), "y1": 4000, "y2": 2000000000, "y3": 9000000000, "y4": 4000000000 },
	                      { "fruit": "Kiwi", "x": 7, "date1": new Date(2014, 0, 7), "date2": new Date(2014, 14, 9), "date3": new Date(2014, 4, 6), "y1": 3000, "y2": 3000000000, "y3": 6000000000, "y4": 7000000000 },
                ];
                return item;
            };
        });

    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre>Test Case 128311: [FlexChart]To test scaling specifiers are working properly in format property of both axes.</pre>
    <wj-flex-chart items-source="data" binding-x="y2" style="width: 800px; height: 450px"
        control="chart" chart-type="Line">
		<wj-flex-chart-series binding="y2" name="Sales"></wj-flex-chart-series>
	    <wj-flex-chart-series binding="y3" name="Expenses"></wj-flex-chart-series>
        <wj-flex-chart-series binding="y4" name="Downloads"></wj-flex-chart-series>       
    </wj-flex-chart>
    <button id="xN" ng-click="xFormatN()">
        AxisX-Format=(n,)</button>
    <button id="xN2" ng-click="xFormatN1()">
        AxisX-Format=(n,,)</button>
    <button id="yN" ng-click="yFormatN()">
        AxisY-Format=(n,)</button>
    <button id="yN2" ng-click="yFormatN1()">
        AxisY-Format=(n,,)</button>
</body>
</html>
