﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
      <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css">

    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
   
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
     <script src="../scripts/controllers/chartAnalyticsCtrl.js" type="text/javascript"></script>
    <script src="../scripts/directives/appDctv.js" type="text/javascript"></script>

    <link href="../styles/app.css" rel="stylesheet"> 
    <link href="../styles/flexchart.css" rel="stylesheet" type="text/css" />
 </head>
<body>

        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div ng-app="app" ng-controller="chartAnalyticCtrl">
<pre>
Title :Test Case 197001:[FlexChart][Sunburst]To test 'rendered' event fire after the chart finishes rendering
</pre>
 <wj-sunburst control="sunchart"
                 items-source="sunData"
                 binding="value"
				 label-content="{name}"
				 inner-radius="{{ innerRadius }}"
				 binding-name="bindingName"
                 selection-mode="Point"
                 rendered="sbRendered()"
                 child-items-path="childItemsPath" style="width: 400px; height: 400px">
 </wj-sunburst>
 <div>
  <ul id="sbRenderedEventList"></ul>
 </div>
    <pre>
    Repro Steps:
    1.Run 'TC_197001.html'.
    Observe:"Rendered event fire" text will be displayed in event list.
    
   
    </pre>
 </div>
</body>
</html>
