﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link rel="stylesheet" href="../styles/vendor/wijmo.min.css" />
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {
            $scope.data = getData();
            $scope.chart = null;

            function getData() {
                var item = [];
                item = [
                    { "date": 1, "open": 17.13, "high": 17.21, "low": 16.91, "close": 17.1, "volume": 297653 },
                    { "date": 5, "open": 17.16, "high": 17.44, "low": 17.13, "close": 17.31, "volume": 268504 },
                    { "date": 10, "open": 17.28, "high": 17.44, "low": 16.99, "close": 17.24, "volume": 376961 },
                    { "date": 15, "open": 17.24, "high": 17.3, "low": 17.06, "close": 17.2, "volume": 244617 },
                    { "date": 20, "open": 17.24, "high": 17.25, "low": 17.02, "close": 17.08, "volume": 252526 },
                    { "date": 25, "open": 17.06, "high": 17.16, "low": 16.95, "close": 16.95, "volume": 274783 },
                    { "date": 30, "open": 16.95, "high": 17.01, "low": 16.76, "close": 16.87, "volume": 418513 },
                    { "date": 35, "open": 16.93, "high": 16.94, "low": 16.6, "close": 16.83, "volume": 367660 },
                    { "date": 40, "open": 16.8, "high": 16.9, "low": 16.65, "close": 16.86, "volume": 297914 },
                    { "date": 45, "open": 16.9, "high": 17.08, "low": 16.79, "close": 16.88, "volume": 229346 },
                    { "date": 50, "open": 16.9, "high": 17.05, "low": 16.85, "close": 17, "volume": 253279 },
                    { "date": 55, "open": 17.03, "high": 17.08, "low": 16.86, "close": 17.01, "volume": 212640 },
                    { "date": 60, "open": 17.01, "high": 17.99, "low": 16.87, "close": 17.75, "volume": 857109 },
                    { "date": 65, "open": 17.77, "high": 17.77, "low": 17.44, "close": 17.62, "volume": 338482 }
                ];
                return item;
            };
            $scope.GetActualMinMax = function (sender, e) {
                var chart = $scope.chart;
                document.getElementById("value").innerHTML = (" X : Actual Min => " + chart.axisX.actualMin + " , Actual Max => " + chart.axisX.actualMax + "|"
            + "Y: Actual Min => " + chart.axisY.actualMin + ", Actual Max => " + chart.axisY.actualMax);
            };
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre>Test Case 142936: [FlexChart]To test whether 'actualMax' and 'actualMin' properties can work properly in chart.</pre>
    <wj-flex-chart items-source="data" binding-x="date" control="chart" chart-type="Line" style="width:1200px">			       
        <wj-flex-chart-series binding="close" name="Close"></wj-flex-chart-series>     
        <wj-flex-chart-axis wj-property="axisX" ></wj-flex-chart-axis>
        <wj-flex-chart-axis wj-property="axisY"></wj-flex-chart-axis>
    </wj-flex-chart>
    <input id="btn" type="button" value="ActualMinMaxValue" ng-click="GetActualMinMax(s,e)" />
    <div id='value'>
    </div>
</body>
</html>
