﻿<!DOCTYPE html>
<html>
<head>
   <title></title>
     <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css"/>

    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
   
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <link href="../styles/app.css" rel="stylesheet"/>
    <script>
        var app = angular.module("app", ['wj']);
        app.controller('chartAnalyticCtrl', function ($scope) {

              $scope.ctx = {
		          wfchart:null,
                  waterfall:null,
                  data: [],
		          intermediateTotalPositions: [3, 6, 9, 12],
                  intermediateTotalLabels: ['Q1', 'Q2', 'Q3', 'Q4'],
		          styles: {
                    connectorLines: {
                        stroke: '#333',
                        'stroke-dasharray': '5 5'
                    },
                    start: {
                        fill: '#7dc7ed'
                    },
                    falling: {
                        fill: '#dd2714',
                        stroke: '#a52714'
                    },
                    rising: {
                        fill: '#0f9d58',
                        stroke: '#0f9d58'
                    },
                    intermediateTotal: {
                        fill: '#7dc7ed'
                    },
                    total: {
                        fill: '#7dc7ed'
                    }
                },   
			  
             }
            $scope.data = [
              { "fruit": "Orange", "x": 1, "date1": new Date(2014, 0, 1), "date2": new Date(2014, 2, 3), "date3": new Date(2014, 1, 4), "y1": 7000, "y2": 6000, "y3": 4000, "y4": 3000 },
              { "fruit": "Apple", "x": 2, "date1": new Date(2014, 0, 2), "date2": new Date(2014, 4, 4), "date3": new Date(2014, 2, 6), "y1": 8000, "y2": 4000, "y3": 5000, "y4": -2000 },
              { "fruit": "Lime", "x": 3, "date1": new Date(2014, 0, 3), "date2": new Date(2014, 6, 5), "date3": new Date(2014, 2, 7), "y1": 9000, "y2": 7000, "y3": 7000, "y4": 5000 },
              { "fruit": "Lemon", "x": 4, "date1": new Date(2014, 0, 4), "date2": new Date(2014, 8, 6), "date3": new Date(2014, 3, 8), "y1": 6000, "y2": 8000, "y3": 8000, "y4": 6000 },
              { "fruit": "Mango", "x": 5, "date1": new Date(2014, 0, 5), "date2": new Date(2014, 10, 7), "date3": new Date(2014, 4, 9), "y1": 5000, "y2": 1000, "y3": 3000, "y4": -1000 },
	          { "fruit": "Watermelon", "x": 6, "date1": new Date(2014, 0, 6), "date2": new Date(2014, 12, 8), "date3": new Date(2014, 4, 7), "y1": 3000, "y2": 2000, "y3": 9000, "y4": 4000 },
	          { "fruit": "Kiwi", "x": 7, "date1": new Date(2014, 0, 7), "date2": new Date(2014, 14, 9), "date3": new Date(2014, 4, 6), "y1": 4000, "y2": 3000, "y3": 6000, "y4": 7000 },
            ];
   
            $scope.optionChangedwf = function (sender, args) {
                $scope.ctx.wfchart.invalidate();
            };
   
            $scope.intermediateTotalLabels = function () {
                var wfchart = $scope.ctx.waterfall;
                wfchart.intermediateTotalLabels = ['Q1', 'Q2', 'Q3', 'Q4'];
            };
            $scope.intermediateTotalPositions = function () {
                var wfchart = $scope.ctx.waterfall;
                wfchart.intermediateTotalPositions = [3, 6, 9, 12];
            };
   
         });
    </script>
</head>
<body ng-app="app" ng-controller="chartAnalyticCtrl" style="width:800px;margin:30px;">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 194400:[FlexChart][Waterfall]To test whether the style of the intermediate total column can be specified</p>
    <wj-flex-chart class="chart"
                   control="ctx.wfchart"
                   items-source="data"
                   binding="y1"
                   binding-x="fruit">
        <wj-flex-chart-waterfall control="ctx.waterfall" name="Rising,Falling,Total" show-intermediate-total="true" styles="ctx.styles" connector-lines="true">
        </wj-flex-chart-waterfall>
    </wj-flex-chart> 
    <br/>
    <button id="btn1" class="btn btn-default" ng-click="intermediateTotalLabels()">intermediateTotalLabels</button>
    <button id="btn2" class="btn btn-default" ng-click="intermediateTotalPositions()">intermediateTotalPositions</button><br/>
  <br/>
  <table>
    <th>Styles</th>
    <tr>
        <td>Total-Fill</td>
        <td>
            <wj-input-color value="ctx.waterfall.styles.intermediateTotal.fill" 
                            value-changed="optionChangedwf(s,e)">
            </wj-input-color>
        </td>
    </tr>
    <tr>
        <td>Total-Stroke</td>
        <td>
            <wj-input-color value="ctx.waterfall.styles.intermediateTotal.stroke"
                            value-changed="optionChangedwf(s,e)">
            </wj-input-color>
        </td>
    </tr>
  </table>
</body>
</html>