﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- Third Party -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <link href="../styles/app.css" rel="stylesheet" />
    <link href="../styles/flexchart.css" rel="stylesheet" type="text/css" />
    <script>
    var app = angular.module("app", ['wj']);
    app.controller('appCtrl',function appCtrl($scope,$timeout) {
        $scope.ctx = {
            flexChart: null,
            pieChart: null,
            data: [],
            fruits: []
        };

        var countries = 'United State,Germany,United Kingdom,Japan,Italy,Greece'.split(',');
        for (var i = 0; i < countries.length; i++) {
            $scope.ctx.data.push({
                country: countries[i],
                downloads: Math.round(Math.random() * 20000),
                sales: Math.random() * 10000,
                expenses: Math.random() * 5000,
                uploads: Math.random() * 2000,
                profits: Math.random() * 1000,
                loss: Math.random() * 500,
                extra: Math.random() * 300,
                secondextra: Math.random() * 200
            });
        }

        $scope.fruits = [
      { "fruit": "Orange", "x": 1, "date1": new Date(2014, 0, 1), "date2": new Date(2014, 2, 3), "date3": new Date(2014, 1, 4), "y1": 9000, "y2": 6000, "y3": 4000, "y4": 3000 },
      { "fruit": "Apple", "x": 2, "date1": new Date(2014, 0, 2), "date2": new Date(2014, 4, 4), "date3": new Date(2014, 2, 6), "y1": 8000, "y2": 4000, "y3": 5000, "y4": 2000 },
      { "fruit": "Lime", "x": 3, "date1": new Date(2014, 0, 3), "date2": new Date(2014, 6, 5), "date3": new Date(2014, 2, 7), "y1": 7000, "y2": 7000, "y3": 7000, "y4": 5000 },
      { "fruit": "Lemon", "x": 4, "date1": new Date(2014, 0, 4), "date2": new Date(2014, 8, 6), "date3": new Date(2014, 3, 8), "y1": 6000, "y2": 8000, "y3": 8000, "y4": 6000 },
      { "fruit": "Mango", "x": 5, "date1": new Date(2014, 0, 5), "date2": new Date(2014, 10, 7), "date3": new Date(2014, 4, 9), "y1": 5000, "y2": -1000, "y3": 3000, "y4": 1000 },
	  { "fruit": "Watermelon", "x": 6, "date1": new Date(2014, 0, 6), "date2": new Date(2014, 12, 8), "date3": new Date(2014, 4, 7), "y1": 4000, "y2": -2000, "y3": 9000, "y4": 4000 },
	  { "fruit": "Kiwi", "x": 7, "date1": new Date(2014, 0, 7), "date2": new Date(2014, 14, 9), "date3": new Date(2014, 4, 6), "y1": -3000, "y2": 3000, "y3": 6000, "y4": 7000 },

    ];
        $scope.xorigin = function () {
            var fchart = $scope.ctx.flexChart;
            fchart.axisX.origin = 0;
        };
        $scope.yorigin = function () {
            var fchart = $scope.ctx.flexChart;
            fchart.axisY.origin = 0;
        };
    });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>
        Test Case 146118:[FlexChart] To test whether series filled properly in area charts when setting axes origin
    </p>
    <table>
        <tr>
            <td>
                <wj-menu id="mnuChtType" value="ctx.flexChart.chartType" header="chart type">
                    <wj-menu-item value="0">Column</wj-menu-item>
                    <wj-menu-item value="1">Bar</wj-menu-item>
                    <wj-menu-item value="2">Scatter</wj-menu-item>
                    <wj-menu-item value="3">Line</wj-menu-item>
                    <wj-menu-item value="4">LineSymbols</wj-menu-item>
                    <wj-menu-item value="5">Area</wj-menu-item>
                    <wj-menu-item value="9">Spline</wj-menu-item>
                    <wj-menu-item value="10">SplineSymbols</wj-menu-item>
                    <wj-menu-item value="11">SplineArea</wj-menu-item>
                </wj-menu>
				<button id="btnX" ng-click="xorigin()">AxisX-Origin(0)</button>
				<button id="btnY" ng-click="yorigin()">AxisY-Origin(0)</button>
            </td>
        </tr>
    </table>
    <wj-flex-chart class="chart"
                   control="ctx.flexChart"
                   legend-toggle="true"
                   items-source="fruits"
				   binding-x="fruit" style="width: 600px; height: 450px">
        <wj-flex-chart-series binding="y1" name="Sales">
        </wj-flex-chart-series>
        <wj-flex-chart-series binding="y2" name="Expenses">
        </wj-flex-chart-series>
            <wj-flex-chart-axis wj-property="axisX"></wj-flex-chart-axis>
            <wj-flex-chart-axis axis-line="true" wj-property="axisY"></wj-flex-chart-axis>
		</wj-flex-chart>
	</wj-flex-chart>   
</body>
</html>
