﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <title></title>
 <head>
      <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css">

    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
   
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/100518_appCtrl.js" type="text/javascript"></script>
    <script src="../scripts/directives/appDctv.js" type="text/javascript"></script>

    <link href="../styles/app.css" rel="stylesheet"> 
    <link href="../styles/flexchart.css" rel="stylesheet" type="text/css" />
    </head>
<body>

        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div ng-app="app" ng-controller="appCtrl">
<table border="1">
        <tr>
            <td>
            <label><b>String Binding</b></label>
               <wj-flex-chart class="chart"
                               control="ctx.chart"
                               chart-type="Column"
							   legend-toggle="true"
                               items-source="fruits"
                               binding-x="fruit" style="width: 600px; height: 300px">
							   <wj-flex-chart-axis wj-property="axisX" label-overlap="Show"></wj-flex-chart-axis>
                               <wj-flex-chart-axis wj-property="axisY" axis-line="true"></wj-flex-chart-axis>
				<wj-flex-chart-series binding="y1" name="Sales">
                </wj-flex-chart-series>
                <wj-flex-chart-series binding="y2" name="Expenses">
                </wj-flex-chart-series>
                <wj-flex-chart-series binding="y3" name="Downloads">
                    </wj-flex-chart-series>
					</wj-flex-chart>
					<button ng-click="xorigin()">AxisX-Origin</button>
					<button ng-click="yorigin()">AxisY-Origin</button>
					</td>
                    <td>
                     <label><b>Number Binding</b></label>
				<wj-flex-chart class="chart"
                               control="ctx.chart2"
                               chart-type="Column"
							   legend-toggle="true"
                               items-source="fruits"
                               binding-x="y1" style="width: 600px; height: 300px">
                               <wj-flex-chart-axis wj-property="axisY" axis-line="true"></wj-flex-chart-axis>
                <wj-flex-chart-series binding="y2" name="Sales">
                 </wj-flex-chart-series>
                 <wj-flex-chart-series binding="y1" name="Expenses">
                    </wj-flex-chart-series>
                    <wj-flex-chart-series binding="y3" name="Downloads">
                    </wj-flex-chart-series>
					</wj-flex-chart>
					<button ng-click="x2origin()">AxisX-Origin</button>
					<button ng-click="y2origin()">AxisY-Origin</button>
            </td>
					</tr>
					<tr>
					
            <td>
            <pre>Title:[FlexChart]To test axes 'origin' property working properly in string/date/number binding.
            Repro Steps:
            1.Click on 'AxisX_Origin' buttion.
            2.Click on 'AxisY_Origin' button.
 </pre>
            </td>
            <td>
                     <label><b>Date Binding</b></label>
					<wj-flex-chart class="chart"
                               control="ctx.chart1"
                               chart-type="Column"
							   legend-toggle="true"
                               items-source="fruits"
                               binding-x="date1" style="width: 600px; height: 300px">
                               <wj-flex-chart-axis wj-property="axisY" axis-line="true"></wj-flex-chart-axis>
                    <wj-flex-chart-series binding="y2" name="Sales">
                    </wj-flex-chart-series>
                    <wj-flex-chart-series binding="y1" name="Expenses">
                    </wj-flex-chart-series>
                    <wj-flex-chart-series binding="y3" name="Downloads">
                    </wj-flex-chart-series>
					</wj-flex-chart>
					<button ng-click="x1origin()">AxisX-Origin</button>
					<button ng-click="y1origin()">AxisY-Origin</button>
            </td>
			</tr>
	        </table>
 </div>
</body>
</html>
