﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link rel="stylesheet" href="../styles/vendor/wijmo.min.css" />
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);

        app.controller('appCtrl', function ($scope) {

            $scope.chart = null;

            $scope.chartProps = {
                bindingY: 'open'
            };
            $scope.$watch('chart', function () {
                var chart = $scope.chart;
                if (!chart) {
                    return;
                }
                chart.refresh(true);
            });

            $scope.data = [
                            { "date": "01/05/15", "open": 77.98, "high": 79.25, "low": 76.86, "close": 77.19, "volume": 26452191 },
                            { "date": "01/06/15", "open": 77.23, "high": 77.59, "low": 75.36, "close": 76.15, "volume": 27399288 },
                            { "date": "01/07/15", "open": 76.76, "high": 77.36, "low": 75.82, "close": 76.15, "volume": 22045333 },
                            { "date": "01/08/15", "open": 76.74, "high": 78.23, "low": 76.08, "close": 78.18, "volume": 23960953 },
                            { "date": "01/09/15", "open": 78.2, "high": 78.62, "low": 77.2, "close": 77.74, "volume": 21157007 },
                            { "date": "01/12/15", "open": 77.84, "high": 78, "low": 76.21, "close": 76.72, "volume": 19190194 },
                            { "date": "01/13/15", "open": 77.23, "high": 78.08, "low": 75.85, "close": 76.45, "volume": 25179561 },
                            { "date": "01/14/15", "open": 76.42, "high": 77.2, "low": 76.03, "close": 76.28, "volume": 25918564 },
                            { "date": "01/15/15", "open": 76.4, "high": 76.57, "low": 73.54, "close": 74.05, "volume": 34133974 },
                            { "date": "01/16/15", "open": 74.04, "high": 75.32, "low": 73.84, "close": 75.18, "volume": 21791529 },
                            { "date": "01/20/15", "open": 75.72, "high": 76.31, "low": 74.82, "close": 76.24, "volume": 22821614 },
                            { "date": "01/21/15", "open": 76.16, "high": 77.3, "low": 75.85, "close": 76.74, "volume": 25096737 },
                            { "date": "01/22/15", "open": 77.17, "high": 77.75, "low": 76.68, "close": 77.65, "volume": 19519458 }
                    ];
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl" style="margin-left: 10px">

    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre>Test Case 126029: [FlexChart]To test whether multiple plot areas can be create correctly in flexchart.</pre>

    <wj-flex-chart chart-type="Line" style="width: 800px" control="tpChart" items-source="data" binding-x="date">
        <wj-flex-chart-series binding="{{chartProps.bindingY}}" name="SectionOne"></wj-flex-chart-series>
        <wj-flex-chart-axis wj-property="axisX" axis-line="true"></wj-flex-chart-axis>
        <wj-flex-chart-axis wj-property="axisY" axis-line="true"></wj-flex-chart-axis>
        <wj-flex-chart-plot-area row="0" name="plot1" ng-attr-style="{ fill: 'rgba(136,189,230,0.2)' }"></wj-flex-chart-plot-area>
        <wj-flex-chart-plot-area row="1" name="div1" height="5"></wj-flex-chart-plot-area>
        <wj-flex-chart-plot-area row="2" name="plot2" ng-attr-style="{ fill: 'rgba(251,178,58,0.2)' }"></wj-flex-chart-plot-area>
        <wj-flex-chart-plot-area row="3" name="div2" height="5"></wj-flex-chart-plot-area>
        <wj-flex-chart-plot-area row="4" name="plot3" ng-attr-style="{ fill: 'rgba(144,205,151,0.2)' }"></wj-flex-chart-plot-area>
        <wj-flex-chart-series binding="{{chartProps.bindingY}}" name="SectionTwo">
            <wj-flex-chart-axis wj-property="axisY" position="Left" major-grid="true" axis-line="true" plot-area="tpChart.plotAreas.getPlotArea('plot2')">
            </wj-flex-chart-axis>
        </wj-flex-chart-series>
        <wj-flex-chart-series binding="{{chartProps.bindingY}}" name="SectionThree">
            <wj-flex-chart-axis wj-property="axisY" position="Left" major-grid="true" axis-line="true" plot-area="tpChart.plotAreas.getPlotArea('plot3')">
            </wj-flex-chart-axis>
        </wj-flex-chart-series>
    </wj-flex-chart>

</body>
</html>