﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
      <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css">

    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<!-- Wijmo-Angular interop -->
    
   
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
     <script src="../scripts/controllers/chartAnalyticsCtrl.js" type="text/javascript"></script>
    <script src="../scripts/directives/appDctv.js" type="text/javascript"></script>

    <link href="../styles/app.css" rel="stylesheet"> 
    <link href="../styles/flexchart.css" rel="stylesheet" type="text/css" />
     <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
 </head>
<body  ng-app="app" ng-controller="chartAnalyticCtrl">

        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div>
<pre>
Title:Test Case 148930:[FlexChart]To test whether style and alternative style can be set for the movingAverage series.
</pre>
<label>Before applying Style</label>
 <wj-flex-chart items-source="data"
                   binding-x="date"
                   control="machart"
                   style="width: 600px; height: 450px">
        <wj-flex-chart-legend position="Right"></wj-flex-chart-legend>
        <wj-flex-chart-series chart-type="Line" name="Base Data" binding="volume"></wj-flex-chart-series>
        <wj-flex-chart-moving-average binding="volume" binding-x="date"
                                      period="{{period}}"
                                      name="{{type[0] + 'MA'}}"
                                      visibility="ctx.movavg.visibility"
                                      >
        </wj-flex-chart-moving-average>
    </wj-flex-chart>
    <label>After applying Style</label>
            <wj-flex-chart items-source="data"
                   binding-x="date"
                   control="machart"
                   style="width: 600px; height: 450px">
        <wj-flex-chart-legend position="Right"></wj-flex-chart-legend>
        <wj-flex-chart-series chart-type="Line" name="Base Data" binding="volume"></wj-flex-chart-series>
        <wj-flex-chart-moving-average binding="volume" binding-x="date"
                                      period="{{period}}"
                                      name="{{type[0] + 'MA'}}"
                                      visibility="ctx.movavg.visibility"
                                      ng-attr-style="ctx.style">
        </wj-flex-chart-moving-average>
    </wj-flex-chart>
    <pre>
    Repro Steps:
    1.Run 'TC_148930.html'.
    Observe: The first chart Movingaverage line stroke color (yellow) will be changed as (green) in second chart.
    </pre>
 </div>
</body>
</html>
