﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
      <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css">

    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
   
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
     <script src="../scripts/controllers/chartAnalyticsCtrl.js" type="text/javascript"></script>
    <script src="../scripts/directives/appDctv.js" type="text/javascript"></script>

    <link href="../styles/app.css" rel="stylesheet"> 
    <link href="../styles/flexchart.css" rel="stylesheet" type="text/css" />
 </head>
<body>

        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div ng-app="app" ng-controller="chartAnalyticCtrl">
<pre>
Title:Test Case 148935:[FlexChart]To test whether seriesVisibility property is working properly for movingAverage sereis.
</pre>
 <wj-menu value="ctx.movavg.visibility" header="Visibility">
                    <wj-menu-item value="'Hidden'">Hidden</wj-menu-item>
                    <wj-menu-item value="'Legend'">Legend</wj-menu-item>
                    <wj-menu-item value="'Plot'">Plot</wj-menu-item>
                    <wj-menu-item value="'Visible'">Visible</wj-menu-item>
                </wj-menu>
            <wj-flex-chart items-source="data"
                   binding-x="date"
                   control="machart"
                   style="width: 600px; height: 450px">
        <wj-flex-chart-legend position="Right"></wj-flex-chart-legend>
        <wj-flex-chart-series chart-type="Line" name="Base Data" binding="volume"></wj-flex-chart-series>
        <wj-flex-chart-moving-average binding="volume" binding-x="date"
                                      period="{{period}}"
                                      name="{{type[0] + 'MA'}}"
                                      visibility="ctx.movavg.visibility">
        </wj-flex-chart-moving-average>
    </wj-flex-chart>
    <pre>
    Repro Steps:
    1.Run 'TC_148953.html'.
    2.Choose visibility to 'hidden'.
    Observe:Both moving average series and legend will disappear.
    3.Choose visibility to 'legend'.
    Observe:Moving average legend will disappear.
    4.Choose visibility to 'plot'.
    Observe:Moving average series will disappear but not legend.
    5.Choose visibility to 'visible'.
    Observe:Both Moving average series and legend will be shown.
    </pre>
 </div>
</body>
</html>
