﻿<!DOCTYPE>
<html ng-app="app">
<head>
   <title></title>
     <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css"/>

    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
   
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/chartAnalyticsCtrl.js" type="text/javascript"></script>
    <script src="../scripts/directives/appDctv.js" type="text/javascript"></script>

    <link href="../styles/app.css" rel="stylesheet"/> 
    <link href="../styles/flexchart.css" rel="stylesheet" type="text/css" />
</head>
<body  ng-controller="chartAnalyticCtrl">
  
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div>

 <pre>Title:Test Case 196329:[FlexChart][Waterfall]To test whether chart returns number of series items in the legend by using legendItemLength​() method
 </pre>

 <wj-flex-chart class="chart"
                   control="ctx.wfchart"
                   items-source="menu"
                   binding="y1"
                   binding-x="fruit">
        <wj-flex-chart-waterfall control="ctx.waterfall" name="Rising,Falling,Total" styles="ctx.styles" relative-data="false" connector-lines="true" show-total="true" show-intermediate-total="true" start=1000>
        </wj-flex-chart-waterfall>
    </wj-flex-chart>
    <button id="lgdCnt" ng-click="legendCount()">legendCount</button><br />
	   <label>Events:</label>
    <br/>
    <ul id="EventList"></ul>
        <br />
<pre>
Repro Steps :
1.Run attached sample ‘QA_196239’.
2.Click 'LegendCount' button.
Observe: '3' will be dispayed in eventList.
</pre>
    </div>
</body>
</html>
