﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
      <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css">

    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<!-- Wijmo-Angular interop -->
    
   
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
     <script src="../scripts/controllers/chartAnalyticsCtrl.js" type="text/javascript"></script>
    <script src="../scripts/directives/appDctv.js" type="text/javascript"></script>

    <link href="../styles/app.css" rel="stylesheet"> 
    <link href="../styles/flexchart.css" rel="stylesheet" type="text/css" />
     <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
 </head>
<body  ng-app="app" ng-controller="chartAnalyticCtrl">

        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div>
<pre>
Title:Test Case 228227:[FlexChart][ErrorBar]To test name property can be used to get or set the series name
</pre>
  <wj-flex-chart class="chart"
                       control="ctx.errChart"
                       items-source="menu"
                       binding-x="fruit"
                       legend-toggle="true">
  <wj-flex-chart-error-bar name="downloads" control="ctx.errorbar" value=1000 binding="y1"></wj-flex-chart-error-bar>
</wj-flex-chart>
 <button ng-click="seriesName()" id="btnName">Name</button><br />
         <pre>
    Repro Steps:
    1.Run 'TC_228227.html'.
    2.Click on 'Name' button to set series name.
    </pre>
</body>
</html>
