﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <!-- Third Party -->
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
   
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/treeMapCtrl.js" type="text/javascript"></script>
</head>
<body ng-app="app">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><title> Test Case 297626:[TreeMap] To test whether TreeMap can be navigated back to previous level with right-click </title>

    <div ng-controller="treeMapCtrl">
        <wj-tree-map control="tv"
                     max-depth="{{maxDepth}}" 
                     items-source="maxDepthData" 
                     label-content="{name}" 
                     binding-name="'type'" 
                     binding="sales" 
                     child-items-path="'items'"
                     style="width: 500px; height: 300px">					 
        </wj-tree-map>
    </div>
</body>
</html>
