﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
     <title></title>
     <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css"/>

    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
   
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/boxPlotCtrl.js" type="text/javascript"></script>
    <link href="../styles/app.css" rel="stylesheet"/> 
    <link href="../styles/flexchart.css" rel="stylesheet" type="text/css" />
 </head>
<body  ng-app="app" ng-controller="appCtrl">

        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div>
<pre>
Title:Test Case 235124:[FlexChart][BoxWhisker]To test whether series style can be set properly
</pre>
<wj-flex-chart control="ctx.chart"
                               legend-toggle="true"
                               items-source="catData"
                               selection-mode="Point"
                               label-content="{y}"
                               footer-style="{foreground:'green',fontSize:30}"
                               binding-x="CATEGORY" style="width: 600px; height: 450px">
                    <wj-flex-chart-box-whisker control="ctx.boxPlot" binding="YEAR2015" binding-x="CATEGORY" name="Years">  
 </wj-flex-chart-box-whisker> 
 </wj-flex-chart>
   <button ng-click="seriesStyle()" id="btnStyle">ApplyseriesStyle</button><br />
    <pre>
    Repro Steps:
    1.Run 'TC_235124.html'.
    Observe:All boxes, whiskers and legends will be dispalyed blue color and strokeWidth will be displayed thin.
    2.Click on 'ApplyseriesStyle' button.
    Observe:All boxes and legend color should changed to pink and strokeWidth should be displayed thick. 
    </pre>
 </div>
</body>
</html>
