﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
          <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link rel="stylesheet" href="../styles/vendor/wijmo.min.css" />
     <script type="text/javascript">
         var app = angular.module('app', ['wj']);

         app.controller('appCtrl', function ($scope) {

             var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(','),
            data = [];
             for (var i = 0; i < countries.length; i++) {
                 data.push({
                     country: countries[i],
                     downloads: Math.round(Math.random() * 20000),
                     sales: Math.random() * 10000,
                     expenses: Math.random() * 5000
                 });
             }

             var popup = new wijmo.input.Popup('#chartPopup');

             var chart1 = new wijmo.chart.FlexChart('#FlexChart', {
                 bindingX: 'country',
                 series: [{
                     name: 'Sales',
                     binding: 'sales',
                     chartType: 'Bar'
                 }, {
                     name: 'Expenses',
                     binding: 'expenses',
                     chartType: 'Spline'
                 }, {
                     name: 'Downloads',
                     binding: 'downloads',
                     chartType: 'LineSymbols'
                 }],
                 palette: ['red', 'green', 'blue'],
                 footer: 'country',
                 header: '2016',
                 itemsSource: data
             });

             popup.show();

             $scope.btn_click = function (e, args) {           
                 chart1.refresh(true);
                 document.getElementById("output").innerHTML += "Button Click </br>" ;
             }
         });
    </script>  
  
</head>
<body ng-app="app" ng-controller="appCtrl" style="margin-left:10px">

        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre>TestCase 268857:[FlexChart]To test whether the width of the popup and FlexChart are stable or not after refreshing FlexChart when rendering the chart in the popup control</pre>
   <div id="chartPopup">
        <div id="FlexChart"></div>
        <input id="btn" type="button" ng-click="btn_click()" value="Refresh" />
    </div>
    <div id="output"></div>  
</body>
</html>
