﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link rel="stylesheet" href="../styles/vendor/wijmo.min.css" />
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);

        app.controller('appCtrl', function ($scope) {

            $scope.chart = null;
            $scope.binding = "name";

            $scope.$watch('chart', function () {
                if ($scope.chart) {
                    var chart = $scope.chart;

                    chart.itemFormatter = function (engine, hitTestInfo, defaultFormat) {
                        if (hitTestInfo.chartElement == wijmo.chart.ChartElement.SeriesSymbol) {
                            engine.fill = 'red';
                            defaultFormat();
                        }
                    };
                }
            });

            $scope.data = [
             { "name": "Orange", "food": "Fried Rice", "x": 1, "date1": new Date(2014, 1, 1), "date2": new Date(2014, 1, 1), "y1": 10, "y2": 8, "y3": 10, "y4": -16, "y5": 1 },
             { "name": "apple", "food": "Fried Noodle", "x": 2, "date1": new Date(2014, 2, 2), "date2": new Date(2014, 2, 2), "y1": 20, "y2": null, "y3": 16, "y4": -19, "y5": 2 },
             { "name": null, "food": "Fried Egg", "x": 3, "date1": new Date(2014, 3, 3), "date2": new Date(2014, 3, 3), "y1": 30, "y2": 10, "y3": 17, "y4": 15, "y5": 3 },
             { "name": "lemon", "food": "Fried Vermicelli", "x": 4, "date1": null, "date2": new Date(2014, 4, 4), "y1": 40, "y2": 12, "y3": 15, "y4": -22, "y5": 4 },
             { "name": "mango", "food": "Chicken Soup", "x": 5, "date1": new Date(2014, 5, 5), "date2": new Date(2014, 5, 5), "y1": 50, "y2": 15, "y3": 23, "y4": -18, "y5": 5 },
             { "name": "Watermelon", "food": "Pork Soup", "x": 6, "date1": new Date(2014, 6, 6), "date2": new Date(2014, 6, 6), "y1": 60, "y2": 15, "y3": 23, "y4": -18, "y5": 6 },
             { "name": "Kiwi", "food": "Beef Soup", "x": 7, "date1": new Date(2014, 7, 7), "date2": new Date(2014, 7, 7), "y1": 70, "y2": 15, "y3": 23, "y4": -18, "y5": 7 }
      ];
        });

     </script>      
</head>
<body ng-app="app" ng-controller="appCtrl" style="margin-left:10px">

        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre>TestCase 335560: [FlexChart] To test data points can be customized properly by using 'itemformatter' after bounding with string/Date/number binding which include null value</pre>

 <wj-menu value="binding" header="Binding">
        <wj-menu-item value="'name'">String</wj-menu-item> 
        <wj-menu-item value="'date1'">Date</wj-menu-item>
        <wj-menu-item value="'y2'">Number</wj-menu-item>
    </wj-menu>
<wj-flex-chart items-source="data"
                   control="chart"
                   binding-x="{{binding}}"                  
                    label-content="{y}"
                   chart-type="LineSymbols"                                            
                   style="width:800px; height:500px">
        <wj-flex-chart-series binding="y1" name="Sale">
        </wj-flex-chart-series>         
          <wj-flex-chart-axis wj-property="axisX"></wj-flex-chart-axis>   
          <wj-flex-chart-axis wj-property="axisY"></wj-flex-chart-axis>           
    </wj-flex-chart>
</body>
</html>
