﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- Third Party -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <link href="../styles/app.css" rel="stylesheet" />
    <link href="../styles/flexchart.css" rel="stylesheet" type="text/css" />
    <script>
        var app = angular.module("app", ['wj']);
        app.controller('appCtrl', function ($scope, $timeout) {
            $scope.data = getData();
            $scope.chart = null;
            $scope.chartType = wijmo.chart.ChartType.Column;
            $scope.binding = "open";
            //Data for the chart
            function getData() {
                var item = [];
                item = [
            { "date": "01/23/15", "open": 20.2, "high": 24.73, "low": 20.16, "close": 23.23, "volume": 42593223 },
            { "date": "01/26/15", "open": 23.67, "high": 24.39, "low": 22.5, "close": 22.6, "volume": 8677164 },
            { "date": "01/27/15", "open": 22, "high": 22.47, "low": 21.17, "close": 21.3, "volume": 3272512 },
            { "date": "01/28/15", "open": 21.62, "high": 21.84, "low": 19.6, "close": 19.78, "volume": 5047364 },
            { "date": "01/29/15", "open": 17.9, "high": null, "low": 19.51, "close": 18.8, "volume": 3419482 },
            { "date": "01/30/15", "open": 19.97, "high": 19.48, "low": 19.22, "close": null, "volume": 2266439 },
            { "date": "02/02/15", "open": 19.18, "high": 19.3, "low": 18.01, "close": 18.02, "volume": 2071168 },
            { "date": "02/03/15", "open": 18.22, "high": 18.64, "low": 18.12, "close": 18.24, "volume": 1587435 },
            { "date": "02/04/15", "open": 18.2, "high": 18.35, "low": null, "close": 17.1, "volume": 2912224 },
            { "date": "02/05/15", "open": null, "high": 17.31, "low": 16.41, "close": 16.66, "volume": 2682187 },
            { "date": "02/06/15", "open": 17.39, "high": 18.88, "low": 17.21, "close": 18.12, "volume": 3929164 }
            ]
                return item;
            };
            //dispose
            $scope.dispose = function () {
                var chart = $scope.ctx.chart;
                chart.dispose();
            };
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 322505:[FlexChart] To test whether 'dispose' method is working properly in FlexChart</p>
    <wj-flex-chart control="ctx.chart" items-source="data" binding-x="date" chart-type="Column"
        style="width: 500px; height: 150px">
        <wj-flex-chart-series binding="open" name="Open"> 
        </wj-flex-chart-series>
    </wj-flex-chart>
    <button id="btnDispose" class="btn btn-default" ng-click="dispose()"> Dispose</button>
</body>
</html>
