﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />   
    
     <!-- Wijmo -->     
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link rel="stylesheet" href="../styles/vendor/wijmo.min.css" /> 

        <script type="text/javascript">

        var app = angular.module('app', ['wj']);

        app.controller('appCtrl', function ($scope) {
            $scope.data = getData();
            $scope.chart = null;
           $scope.pointIndex = 45;
           $scope.circleCtrl=null;

           $scope.DestoryAnnots = function(){
             var circle = $scope.circleCtrl;

              if (!circle) {
                    return;
                }
                circle.destory();    
               $scope.chart.refresh(true);       
           }
           
         // generate some random data
            function getData() {
                var data = [], sales = [
                    96, 19, 54, 83, 15, 56, 36, 4, 29, 93,
                    38, 71, 50, 77, 69, 13, 79, 57, 29, 62,
                    4, 27, 66, 96, 65, 12, 52, 3, 61, 48, 50,
                    70, 39, 33, 25, 49, 69, 46, 44, 40, 35,
                    72, 64, 10, 66, 63, 78, 19, 96, 26];

                for (var i = 0; i < 50; i++) {
                    data.push({
                        sale: sales[i],
                        date: new Date(2014, 0, i),
                    });
                }
                return data;
            }


        });

</script>
</head>
<body  ng-app ="app" ng-controller="appCtrl">

        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre>Test Case 370821: [FlexChart] To test the annotation can be destoryed properly by using 'destory' method</pre>
<input id="btn" type="button" ng-click="DestoryAnnots()" value="DestoryCircleAnno" />
<wj-flex-chart items-source="data"
                   binding-x="date"
                   control="chart" 
                   style="width:1500px; height:400px"                
                   chart-type="Line">				  				       
        <wj-flex-chart-series binding="sale" name="Sale"></wj-flex-chart-series>
       
        <wj-flex-chart-axis wj-property="axisX" ></wj-flex-chart-axis>
        <wj-flex-chart-axis wj-property="axisY"></wj-flex-chart-axis>   

     <wj-flex-chart-annotation-layer>
                <wj-flex-chart-annotation type="Circle" radius="40" offset="{x: 0, y: -15}" series-index="0" control="circleCtrl"
                                          point-index="33" content="CircleAnno" position="Center" attachment="DataIndex"
                                          ng-attr-style="{ 'fill': '#a3d1a7', 'stroke': '#7b9e7e', 'fill-opacity': 1, 'stroke-width': 2, 'stroke-opacity': 1 }"></wj-flex-chart-annotation>   
                <wj-flex-chart-annotation type="Square" length="80" offset="{x: 0, y: -15}" series-index="0"
                                          point-index="45" content="SquareAnno" position="Center" attachment="DataIndex"
                                          ng-attr-style="{ 'fill': '#c4af71', 'stroke': '#918254', 'fill-opacity': 1, 'stroke-width': 2, 'stroke-opacity': 1 }"></wj-flex-chart-annotation>
                <wj-flex-chart-annotation type="Line" content="LineAnno" position="Center" start="{x: 50, y: 150}" end="{x: 350, y: 300}"
                                          ng-attr-style="{ 'fill': '#FE2E2E', 'stroke': '#01A9DB', 'fill-opacity': 2, 'stroke-width': 4, 'stroke-opacity': 1 }"></wj-flex-chart-annotation>
                <wj-flex-chart-annotation type="Text" attachment="Relative" text="TextAnno" position="Center" point="{x:0.55, y:0.15}"
                                          ng-attr-style="{ 'fill': '#bbbbbb', 'font-size': '26px' }"></wj-flex-chart-annotation>
                <wj-flex-chart-annotation type="Ellipse" content="EllipseAnno" position="Center" attachment="Relative" point="{x:0.4,y:0.5}"
                                          ng-attr-style="{ 'fill': '#f5bc78', 'stroke': '#c2955f', 'fill-opacity': 1, 'stroke-width': 2, 'stroke-opacity': 1 }"></wj-flex-chart-annotation>
                <wj-flex-chart-annotation type="Rectangle" content="RectangleAnno" position="Center" attachment="DataCoordinate" point="{x: date1, y: 30}"
                                          ng-attr-style="{ 'fill': '#c5aacd', 'stroke': '#937f99', 'fill-opacity': 1, 'stroke-width': 2, 'stroke-opacity': 1 }"></wj-flex-chart-annotation>             
                <wj-flex-chart-annotation type="Polygon" content="PolygonAnno" position="Center"
                                          ng-attr-style="{ 'fill': '#FE2E2E', 'stroke': '#01A9DB', 'fill-opacity': 2, 'stroke-width': 4, 'stroke-opacity': 1 }">
                    <wj-flex-chart-data-point wj-property="points" x="200" y="0"></wj-flex-chart-data-point>
                    <wj-flex-chart-data-point wj-property="points" x="150" y="50"></wj-flex-chart-data-point>
                    <wj-flex-chart-data-point wj-property="points" x="175" y="100"></wj-flex-chart-data-point>
                    <wj-flex-chart-data-point wj-property="points" x="225" y="100"></wj-flex-chart-data-point>
                    <wj-flex-chart-data-point wj-property="points" x="250" y="50"></wj-flex-chart-data-point>
                </wj-flex-chart-annotation>            
            </wj-flex-chart-annotation-layer>
   </wj-flex-chart>
   </body>
</html>
