﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
        <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link rel="stylesheet" href="../styles/vendor/wijmo.min.css" />
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);

        app.controller('appCtrl', function ($scope) {

            $scope.chart = null;
            $scope.interpolateNull = false;

            $scope.data = [
              { "date": "02/05/15", "open": 17, "high": 17.31, "low": 16.41, "close": 18, "volume": 2682187 },
            { "date": "02/06/15", "open": 17.39, "high": 18.88, "low": 17.21, "close": 18.12, "volume": 3929164 },
            { "date": "02/09/15", "open": 18.86, "high": 18, "low": 18.45, "close": 19.6, "volume": 3226650 },
            { "date": "02/10/15", "open": 20.5, "high": 21, "low": 19.63, "close": null, "volume": 2804409 },
            { "date": "02/11/15", "open": null, "high": 21, "low": 20.2, "close": 20.96, "volume": 1698365 },
            { "date": "02/12/15", "open": 20.66, "high": null, "low": 19.75, "close": 20.17, "volume": 1700000 },
            { "date": "02/13/15", "open": 20.19, "high": 20.68, "low": 20, "close": 20.18, "volume": 711951 },
            { "date": "02/17/15", "open": 19.5, "high": 20, "low": 18.8, "close": 19.05, "volume": 2093602 },
            { "date": "02/18/15", "open": null, "high": 18.5, "low": 17.96, "close": null, "volume": 1849490 },
            { "date": "02/19/15", "open": 18.33, "high": 19.25, "low": null, "close": 18.96, "volume": 1311518 },
            { "date": "02/20/15", "open": 18.68, "high": 19.3, "low": 18.65, "close": 18.85, "volume": 1001692 },
            { "date": "02/23/15", "open": null, "high": null, "low": 18.11, "close": null, "volume": 670087 },
            { "date": "02/24/15", "open": 18.46, "high": 19, "low": 18.27, "close": 18.83, "volume": 759263 },
            { "date": "02/25/15", "open": 18.83, "high": 19.48, "low": 18.47, "close": 18.67, "volume": 915580 }
      ];
        });

     </script>   
</head>
<body ng-app="app" ng-controller="appCtrl" style="margin-left:10px">

        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre>TestCase 345456: [FlexChart] To test the chart can be interploated properly for null values by setting boolean values to 'InterpolateNulls' property</pre>

  <wj-menu value="interpolateNull" header="InterpolateNulls"> 	        
    <wj-menu-item value="true">True</wj-menu-item>
    <wj-menu-item value="false">False</wj-menu-item>  
 </wj-menu>
   <wj-flex-chart items-source="data"
                               binding-x="date" 
                               control="chart"                                                                                                                                                                           
                               style="width:1000px; height:500px"
                               chart-type="Line">
                      <wj-flex-chart-series binding="close" name="Close" interpolate-nulls="{{interpolateNull}}"></wj-flex-chart-series> 
                      <wj-flex-chart-series binding="high" name="High" interpolate-nulls="{{interpolateNull}}"></wj-flex-chart-series>
                      <wj-flex-chart-series binding="low" name="Low" interpolate-nulls="{{interpolateNull}}"></wj-flex-chart-series>
                      <wj-flex-chart-series binding="open" name="Open" interpolate-nulls="{{interpolateNull}}"></wj-flex-chart-series>                                

                    <wj-flex-chart-axis wj-property="axisX"></wj-flex-chart-axis>
                    <wj-flex-chart-axis wj-property="axisY"></wj-flex-chart-axis>                
   </wj-flex-chart>
</body>
</html>
