﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
     <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link rel="stylesheet" href="../styles/vendor/wijmo.min.css" />
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);

        app.controller('appCtrl', function ($scope) {

            $scope.chart = null;

            $scope.DifferentItemsSource = function () {
                var chart = $scope.chart;
                chart.axisX.itemsSource = [{ value: 1, text: 'one' }, { value: 2, text: 'two' }, { value: 3, text: 'three' }, { value: 4, text: 'four' }, { value: 5, text: 'five' }, { value: 6, text: 'six' }, { value: 7, text: 'seven' }, { value: 8, text: 'eight'}];
                chart.axisY.itemsSource = [{ value: 1, text: 20.22 }, { value: 2, text: 23.67 }, { value: 3, text: 22 }, { value: 4, text: 21.62 }, { value: 5, text: 17.9 }, { value: 6, text: 19.97 }, { value: 7, text: 19.18 }, { value: 8, text: 18.22}];
                chart.refresh(true);
            }

            $scope.data = [
             { "date": "01/23/15", "open": 20.22, "high": 24.73, "low": 20.16, "close": 23.23, "volume": 42593223 },
            { "date": "01/26/15", "open": 23.67, "high": 24.39, "low": 22.5, "close": 22.6, "volume": 8677164 },
            { "date": "01/27/15", "open": 22, "high": 22.47, "low": 21.17, "close": 21.3, "volume": 3272512 },
            { "date": "01/28/15", "open": 21.62, "high": 21.84, "low": 19.6, "close": 19.78, "volume": 5047364 },
            { "date": "01/29/15", "open": 17.9, "high": 20, "low": 19.51, "close": 18.8, "volume": 3419482 },
            { "date": "01/30/15", "open": 19.97, "high": 19.48, "low": 19.22, "close": 19, "volume": 2266439 },
            { "date": "02/02/15", "open": 19.18, "high": 19.3, "low": 18.01, "close": 18.02, "volume": 2071168 },
            { "date": "02/03/15", "open": 18.22, "high": 18.64, "low": 18.12, "close": 18.24, "volume": 1587435 },
            { "date": "02/04/15", "open": 18.2, "high": 18.35, "low": 15, "close": 17.1, "volume": 2912224 },
            { "date": "02/05/15", "open": 18, "high": 17.31, "low": 16.41, "close": 16.66, "volume": 2682187 },
            { "date": "02/06/15", "open": 17.39, "high": 18.88, "low": 17.21, "close": 18.12, "volume": 3929164 }
      ];

        });
        </script>  
</head>
<body ng-app="app" ng-controller="appCtrl" style="margin-left:10px">

        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre>TestCase 346200: [FlexChart] To test whether both axes(x,y) labels can be set properly by using separeate 'itemsSource' property for both axes.</pre>
<input id="btn" type="button" value="ItemsSourceForAxes" ng-click="DifferentItemsSource()" />

    <wj-flex-chart  control="chart" 
                    binding-x="date"
                   items-source="data"                                                                                                                                                                           
                   style="width:1000px; height:500px"
                   chart-type="LineSymbols">                     
       <wj-flex-chart-series binding="low"   name="Low"></wj-flex-chart-series> 
     
        <wj-flex-chart-axis wj-property="axisX" ></wj-flex-chart-axis>
        <wj-flex-chart-axis wj-property="axisY" axis-line="true"></wj-flex-chart-axis>                    
   </wj-flex-chart>
</body>
</html>
