﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
       <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link rel="stylesheet" href="../styles/vendor/wijmo.min.css" />
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);

        app.controller('appCtrl', function ($scope) {

            // create some random data
            var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(','),
        data = [];
            for (var i = 0; i < 100; i++) {
                data.push({
                    count: Math.round(Math.random() * 50),
                    grouping: i
                });
            }

            // expose data as a CollectionView to get events
            $scope.data = new wijmo.CollectionView(data);

            $scope.threshold = 10;

            $scope.above = new wijmo.CollectionView(data);
            $scope.above.filter = function (item) {
                return item.grouping > $scope.threshold;
            };

            $scope.below = new wijmo.CollectionView(data);
            $scope.below.filter = function (item) {
                return item.grouping <= $scope.threshold;
            };

            $scope.forceRefresh = function () {
                $scope.above.refresh();
                $scope.below.refresh();
            };
        });

    </script>  
</head>
<body ng-app="app" ng-controller="appCtrl" style="margin-left:10px">

        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre>TestCase 322383: [FlexChart] To test whether FlexChart renders correctly or not when 'itemsSource' property is set and CollectionView is filtered.</pre>
<input id="input" type="text" ng-model="threshold"/>
<button id="btn" ng-click="forceRefresh()">Refresh</button>
    <wj-flex-chart binding-x="grouping" binding="count" style="width:800px; height:500px" >
        <wj-flex-chart-axis wj-property="axisY" min="0" max="50"></wj-flex-chart-axis>
        <wj-flex-chart-axis wj-property="axisX" min="0" max="100"></wj-flex-chart-axis>
        <wj-flex-chart-series name="Below" items-source="below"></wj-flex-chart-series>
        <wj-flex-chart-series name="Above" items-source="above"></wj-flex-chart-series>
        <wj-flex-chart-legend position="Bottom"></wj-flex-chart-legend>
    </wj-flex-chart>
 
        
</body>
</html>
