﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link rel="stylesheet" href="../styles/vendor/wijmo.min.css" />
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);

        app.controller('appCtrl', function ($scope) {

            $scope.ctx = {
                chart: null
            };

            $scope.bindingX = "name";
            $scope.fruits = [
                                { "name": "Orange", "food": "Fried Rice", "x": 1, "date1": new Date(2014, 1, 1), "date2": new Date(2014, 1, 1), "y1": 10, "y2": 8, "y3": 10, "y4": -16, "y5": 1 },
                                { "name": "apple", "food": "Fried Noodle", "x": 2, "date1": new Date(2014, 2, 2), "date2": new Date(2014, 2, 2), "y1": 20, "y2": 12, "y3": 16, "y4": -19, "y5": 2 },
                                { "name": "lime", "food": "Fried Egg", "x": 3, "date1": new Date(2014, 3, 3), "date2": new Date(2014, 3, 3), "y1": 30, "y2": 10, "y3": 17, "y4": 15, "y5": 3 },
                                { "name": "lemon", "food": "Fried Vermicelli", "x": 4, "date1": new Date(2014, 4, 4), "date2": new Date(2014, 4, 4), "y1": 40, "y2": 12, "y3": 15, "y4": -22, "y5": 4 },
                                { "name": "mango", "food": "Chicken Soup", "x": 5, "date1": new Date(2014, 5, 5), "date2": new Date(2014, 5, 5), "y1": 50, "y2": 15, "y3": 23, "y4": -18, "y5": 5 },
                                { "name": "Watermelon", "food": "Pork Soup", "x": 6, "date1": new Date(2014, 6, 6), "date2": new Date(2014, 6, 6), "y1": 60, "y2": 15, "y3": 23, "y4": -18, "y5": 6 },
                                { "name": "Kiwi", "food": "Beef Soup", "x": 7, "date1": new Date(2014, 7, 7), "date2": new Date(2014, 7, 7), "y1": 70, "y2": 15, "y3": 23, "y4": -18, "y5": 7 }
                             ];
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl" style="margin-left: 10px">

    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre>Test Case 334369: [FlexChart] To test whether axisX tick marks should display at the center of the series after binding with string/number and date values</pre>

    <wj-flex-chart control="ctx.chart" label-content="{y:n2}" legend-toggle="true" items-source="fruits" binding-x="{{bindingX}}" header="DateBindingForAxisX">
        <wj-flex-chart-series binding="y1" name="Y1"></wj-flex-chart-series>
        <wj-flex-chart-series binding="y2" name="Y2"></wj-flex-chart-series>
    </wj-flex-chart>

    <wj-menu value="bindingX" header="BindingX">
         <wj-menu-item value="'food'">Food</wj-menu-item>
         <wj-menu-item value="'date1'">Date1</wj-menu-item>
         <wj-menu-item value="'date2'">Date2</wj-menu-item>
         <wj-menu-item value="'y2'">Y2</wj-menu-item>        
     </wj-menu>

</body>
</html>