﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- Third Party -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.1.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <link href="../styles/app.css" rel="stylesheet" />
    <link href="../styles/flexchart.css" rel="stylesheet" type="text/css" />
    <script>
        var app = angular.module("app", ['wj']);
        app.controller('appCtrl', function ($scope, $timeout) {
            $scope.ctx = {
                sunchart: null,
                itemsSource: [],
                itemsSource1: []
            }
            $scope.sundata = [
        {
            name: 'January',
            items: [{
                name: 'Jan',
                value: 1.1
            },
            {
                name: 'Feb',
                items: [{
                    name: 'Week1',
                    value: 1.2
                },
                {
                    name: 'Week2',
                    value: 0.8
                },
                {
                    name: 'Week3',
                    value: 0.6
                },
                {
                    name: 'Week4',
                    value: 0.5
                }
                ]
            },
            {
                name: 'Mar',
                value: 0.3
            }]
        },
{
    name: 'February',
    items: [{
        name: 'Apr',
        value: 1.1
    },
        {
            name: 'May',
            value: 0.8
        },
        {
            name: 'June',
            value: 0.3
        }]
},
{
    name: 'March',
    items: [{
        name: 'July',
        value: 0.7
    },
    {
        name: 'Aug',
        value: 0.6
    },
    {
        name: 'Sept',
        value: 0.1
    }]
},
    ];

            $scope.childItemsPath = 'items';
            $scope.bindingName = 'name';
            $scope.setFocus = function () {
                $scope.ctx.sunchart.focus();
            }
            $scope.focus = function () {
                $("#eventDiv").append("Sunburst got focus");
            }
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 346249:[FlexChart][Sunburst] To test whether 'focus' method is working properly to set the focus to 'Sunburst' control</p>
    <wj-sunburst control="ctx.sunchart" items-source="sundata" binding="value" binding-name="bindingName"
        style="width: 400px; height: 300px" child-items-path="childItemsPath" got-focus="focus()">
    </wj-sunburst>
    <button id="btn" ng-click="setFocus()">Set Focus</button>
    <div id="eventDiv"></div>
</body>
</html>
