﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
      <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css">

    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
   
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/chartCtrl.js" type="text/javascript"></script>
     <script src="../scripts/directives/appDctv.js" type="text/javascript"></script>

     <link href="../styles/app.css" rel="stylesheet"> 
    <link href="../styles/flexchart.css" rel="stylesheet" type="text/css" />
</head>
<body>

        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div ng-app="app" ng-controller="appCtrl">
<table>
 <tr>
 <td>
 <pre>
 Title:Test Case 80749:[FlexChart]To test symbol marker and symbol size of data series in FlexChart
 </pre>
  <wj-flex-chart class="chart"
                   control="ctx.chart"
                   chart-type="Scatter"
                   items-source="data"
                   binding-x="fruit" style="width: 600px; height: 450px">
        <wj-flex-chart-series binding="y1" name="Sales">
        </wj-flex-chart-series>
        <wj-flex-chart-series binding="y2" name="Expenses">
        </wj-flex-chart-series>
        <wj-flex-chart-series binding="y3" name="Downloads">
        </wj-flex-chart-series>
    </wj-flex-chart>
     <wj-menu value="ctx.chart.series[0].symbolMarker" header="Sereis[0]SymbolMarker">
                        <wj-menu-item value="0">Dot</wj-menu-item>
                        <wj-menu-item value="1">Box</wj-menu-item>
                    </wj-menu>
     <button ng-click="symbolSize()" id="btnSymbolSize">SymbolSize=5</button><br/>
 </td>
 </tr>
  <tr><td><pre>
            Repro Steps:
            1.Run the attached sample 'TC_80749'.
            2.Make sure to set 'AxisX-Line=false'.
            Observe: Axisx axisLine will disappear.
 </pre>
 </td></tr>
 </table>
    </div>
</body>
</html>
