﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <title></title>
       <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css">

    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
   
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/80747_appCtrl.js" type="text/javascript"></script>
    <script src="../scripts/directives/appDctv.js" type="text/javascript"></script>
    <link href="../styles/app.css" rel="stylesheet"> 
</head>
<body>

        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div ng-app="app" ng-controller="appCtrl">
 <table>
 <tr><td>
 <pre>Title:
         Test Case 80747:[FlexChart]To test axes (X and Y) are displayed according to min/max values in FlexChart.
 </pre>
 </td></tr>
    <tr>
    <td>
     <wj-menu value="ctx.chart.chartType" header="Chart Type">
        <wj-menu-item value="0">Column</wj-menu-item>
        <wj-menu-item value="1">Bar</wj-menu-item>
        <wj-menu-item value="2">Scatter</wj-menu-item>
        <wj-menu-item value="3">Line</wj-menu-item>
        <wj-menu-item value="4">LineSymbols</wj-menu-item>
        <wj-menu-item value="5">Area</wj-menu-item>
        <wj-menu-item value="9">Spline</wj-menu-item>
        <wj-menu-item value="10">SplineSymbols</wj-menu-item>
        <wj-menu-item value="11">SplineArea</wj-menu-item>
    </wj-menu>
                    <button ng-click="xMax()">AxisX-Max</button>
                     <button ng-click="yMax()">AxisY-Max</button>
                    <button ng-click="xMin()">AxisX-Min</button>
                    <button ng-click="yMin()">AxisY-Min</button>
             <wj-flex-chart control="ctx.chart"
                   class="chart"
                   items-source="menu"
                   binding-x="y1"
                   chart-type="Column"
                   style="width: 800px; height: 300px">
        <wj-flex-chart-series binding="y1" name="Sales"></wj-flex-chart-series>
        <wj-flex-chart-series binding="y2" name="Downloads"></wj-flex-chart-series>
        <wj-flex-chart-series binding="y3" name="Expenses"></wj-flex-chart-series>
    </wj-flex-chart>
    </td>
    </tr>
   </table>
   <pre>
Repro Steps:
1.Run the sample "QA_80747.htm".
2.Click on 'AxisXMax' / 'AxisXMin' /'AxisYMax' / 'AxisYMin'.
    Observed:Should be displayed according to MinMax value.
   </pre>
</div>
</body>
</html>
