﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <title></title>
     <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css">

    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
   
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/chartCtrl.js" type="text/javascript"></script>
    <script src="../scripts/directives/appDctv.js" type="text/javascript"></script>

    <link href="../styles/app.css" rel="stylesheet"> 
    <link href="../styles/flexchart.css" rel="stylesheet" type="text/css" />
</head>
<body>

        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div ng-app="app" ng-controller="appCtrl">
 <table>
 <tr><td>
 <pre>Title:Test Case 84383:[FlexChart]To test chart tooltips properties are working correctly in FlexChart.
 </pre>
 </td></tr>
    <tr>
    <td>
<wj-flex-chart control="ctx.chart"
                   class="chart"
                   items-source="menu"
                   binding-x="fruit"
                   chart-type="Column"
                   legend-toggle="true"
                   style="width: 800px; height: 300px">
        <wj-flex-chart-series binding="y1" name="Sales"></wj-flex-chart-series>
        <wj-flex-chart-series binding="y2" name="Downloads"></wj-flex-chart-series>
        <wj-flex-chart-series binding="y3" name="Expenses"></wj-flex-chart-series>
    </wj-flex-chart>
    <fieldset>
               <button ng-click="tooltipContent()" id="btn1">TooltipContent</button>
			   <button ng-click="isContentHtml()" id="btn2">ContentHtml</button>
    </fieldset>
    </td>
    </tr>
    </table>
    <pre>
    Repro Steps:
    1.Run the attached sample 'TC_84313.htm'.
    2.Click 'TooltipContent' button.
    3.Hover on any series.
    Observe: Tooltip will be displayed (SeriesName with bold, and content=MyTooltip).
    3.Click on 'ContentHtml' button.
      Observe:Tooltip will be displayed with format (<b>{seriesName}</b><br/>MyTooltip).
    </pre>
    </div>
</body>
</html>
