﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
     <title></title>
     <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css">

    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
   
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/chartCtrl.js" type="text/javascript"></script>
    <script src="../scripts/directives/appDctv.js" type="text/javascript"></script>

    <link href="../styles/app.css" rel="stylesheet"> 
    <link href="../styles/flexchart.css" rel="stylesheet" type="text/css" />
</head>
<body>

        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div ng-app="app" ng-controller="appCtrl">
 <table>
 <tr><td>
 <pre>Title:Test Case 87532:[FlexChart]To test whether 'Format' property is working properly in both axes for all chart types.
 </pre>
 </td></tr>
    <tr>
    <td>
<wj-flex-chart control="ctx.chart"
                   class="chart"
                   items-source="data"
                   binding-x="y1"
                   chart-type="Column"
                   selection-mode="Series"
                   style="width: 800px; height: 300px" selection-changed="chartSelectionChanged()">
        <wj-flex-chart-series binding="y1" name="Sales"></wj-flex-chart-series>
        <wj-flex-chart-series binding="y2" name="Downloads"></wj-flex-chart-series>
        <wj-flex-chart-series binding="y3" name="Expenses"></wj-flex-chart-series>
</wj-flex-chart>
	 <button ng-click="xFormat()" id="btn1">AxisX-Format=p0</button>
     <button ng-click="yFormat()" id="btn2">AxisY-Format=C</button>
    </td>
    </tr>
    </table>
    <pre>
    Repro Steps:
    1.Run sample "TC_87532.htm".
    2.Click on 'AxisX-Format=p0' button.
    Observe: AxisX label will be displayed as percentage format.
    3.Click on 'AxisY-Format=C' button.
    Observe : AxisY label will be shown as currency format.
    </pre>
    </div>
</body>
</html>
