﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <!-- Third Party -->
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- Wijmo -->
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/treeViewCtrl.js" type="text/javascript"></script>
    <link href="../styles/treeView.css" rel="stylesheet" type="text/css" />
</head>
<body ng-app="app" ng-controller="appCtrl">

    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><wj-tree-view id="treeView" 
        control="tv"
        items-source="items"
        display-member-path="'header'"
        child-items-path="'items'"
        show-checkboxes="true"
        checked-items-changed="checkedItems(tv)">
    </wj-tree-view>

    <button id="btnDisableNode" class="btn btn-default" ng-click="disableNode(tv)">Disable Selected Node</button>
	<button id="btnEnableAllNodes" class="btn btn-default" ng-click="enableAllNodes(tv)">Enable All Nodes</button>

    <pre>
    <b>Repro Steps:</b><br />
    1.    Run attached sample ‘prj_TreeView.htm’ in Chrome/Firefox.
    Note: This issue is not observed in IE11.
    2.    Select a node.
    3.    Click ‘Disable Selected Node’ button.
    4.    Click disabled node.
    5.    Edit disabled node.
    Observe: Disabled node is editable……Incorrect
    </pre>

</body>
</html>
