﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- Third Party -->
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/treeViewCtrl.js" type="text/javascript"></script>
    <link href="../styles/treeView.css" rel="stylesheet" type="text/css" />
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><label>
        <input id="chkExpandOnClick" type="checkbox" ng-model="tv.expandOnClick" /> expandOnClick
    </label>
    <br /><br />
    <wj-tree-view id="treeView" 
        control="tv"
        items-source="items"
        display-member-path="'header'"
        child-items-path="'items'"
        show-checkboxes="true">
    </wj-tree-view>
    <pre>
    <b>Repro Steps:</b><br />
    1.    Run ‘JS/TS -> PureJS -> TreeViewIntro’ sample in Firefox.
    Note: This issue is not observed in IE11 and Chrome browsers.
    2.    Navigate to ‘Creating Trees’ feature.
    3.    Toggle off ‘expandOnClick’ checkbox.
    4.    Click on the tree node (not expand/collapse glyph).
    Observe: It expands collapsed nodes……Incorrect
    </pre>
</body>
</html>
