﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        var modu = angular.module('module', ['wj']);
        modu.controller('appCtrl', function ($scope) {

            $scope.items = [
                        {
                            header: 'Electronics', items: [
                                { header: 'Trimmers/Shavers' },
                                { header: 'Tablets' },
                                {
                                    header: 'Phones', items: [
                                    { header: 'Apple' },
                                    { header: 'Motorola', newItem: true },
                                    { header: 'Nokia' },
                                    { header: 'Samsung' }
                                    ]
                                },
                                { header: 'Speakers', newItem: true },
                                { header: 'Monitors' }
                            ]
                        },
                        {
                            header: 'Toys', items: [
                                { header: 'Shopkins' },
                                { header: 'Train Sets' },
                                { header: 'Science Kit', newItem: true },
                                { header: 'Play-Doh' },
                                { header: 'Crayola' }
                            ]
                        },
                        {
                            header: 'Home', items: [
                                { header: 'Coffeee Maker' },
                                { header: 'Bread Maker', newItem: true },
                                { header: 'Solar Panel', newItem: true },
                                { header: 'Work Table' },
                                { header: 'Propane Grill' }
                            ]
                        }
                    ];

                $scope.getSelectedItem = function () {
                    var result = $scope.tv.selectedItem.header;
                    $("#showStatus").append('<li>'+result+'</li>');
                }

                $scope.setSelectedItem = function () {
                    $scope.tv.selectedItem.header = "Motorola";
                }           
        });
    </script>
</head>
<body style="margin:30px;">
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><p>Test Case 238559:[TreeView] To test whether 'selectedItem' property (gets or sets) is working correctly</p>
    <br />
    <div ng-app="module" ng-controller="appCtrl">
        <wj-tree-view id="treeView"
                control="tv"
                items-source="items"
                display-member-path="'header'"
                child-items-path="'items'">
        </wj-tree-view>        
        <button id="btnsetSelectedItem" class="btn btn-default" ng-click="setSelectedItem()">Set Selected Item</button>
        <button id="btngetSelectedItem" class="btn btn-default" ng-click="getSelectedItem()">Get Selected Item</button>
        <div id="showStatus" style="background-color:aliceblue;width:500px;"></div>
    </div>
</body>
</html>