﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- Third Party -->
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<!--<link href="../styles/treeView.css" rel="stylesheet" type="text/css" />-->
</head>
<body>
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><pre><b>Test Case 243305:[TreeView] To test whether the 'initialize' method can be used to initialize the TreeView control</b></pre>
    <br />
    <div ng-app="app" ng-controller="appCtrl">
        <wj-tree-view id="treeView" control="tv">
        </wj-tree-view>
        <button id="btnInitialize" class="btn btn-default" ng-click="tv_initialize()">
            initialize
        </button>
    </div>
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {
            $scope.items = [
                {
                    header: 'Node 1', items: [
                        { header: 'Node 1.1' },
                        { header: 'Node 1.2' },
                        { header: 'Node 1.3' },
                    ]
                },
                {
                    header: 'Node 2', items: [
                        { header: 'Node 2.1' },
                        { header: 'Node 2.2' },
                        { header: 'Node 2.3' }
                    ]
                },
                { header: 'Node 3' }
            ];
            $scope.tv_initialize = function () {
                var tv = $scope.tv;
                var items = $scope.items;
                tv.initialize({
                    itemsSource: items,
                    displayMemberPath: 'header',
                    childItemsPath: 'items',
                    imageMemberPath: 'img'
                });
            };
        });
    </script>
</body>
</html>
