﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        var modu = angular.module('module', ['wj']);
        modu.controller('appCtrl', function ($scope) {

            $scope.item = [
                        {
                            header: 'Electronics', items: [
                                { header: 'Trimmers/Shavers' },
                                { header: 'Tablets' },
                                {
                                    header: 'Phones', items: [
                                    { header: 'Apple' },
                                    { header: 'Motorola', newItem: true },
                                    { header: 'Nokia' },
                                    { header: 'Samsung' }
                                    ]
                                },
                                { header: 'Speakers', newItem: true },
                                { header: 'Monitors' }
                            ]
                        },
                        {
                            header: 'Toys', items: [
                                { header: 'Shopkins' },
                                { header: 'Train Sets' },
                                { header: 'Science Kit', newItem: true },
                                { header: 'Play-Doh' },
                                { header: 'Crayola' }
                            ]
                        },
                        {
                            header: 'Home', items: [
                                { header: 'Coffeee Maker' },
                                { header: 'Breadmaker', newItem: true },
                                { header: 'Solar Panel', newItem: true },
                                { header: 'Work Table' },
                                { header: 'Propane Grill' }
                            ]
                        }
                    ];

                    $scope.show = function (dlgName) {
                        var popup = $scope[dlgName];
                        popup.show();
                    }
        });
    </script>
</head>
<body ng-app="module" ng-controller="appCtrl" style="margin:30px;">
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><p>Test Case 240436:[TreeView] To test whether TreeView inside the Popup is working properly when setting 'hideTrigger' property of Popup</p>
    <div>
        <button id="btnShowPopup" ng-click="show('popup')">Show Popup</button>

        <wj-popup control="popup" style="height:550px;width:550px;">
            <div style="padding:10px;">
                <h4 class="modal-header">TreeView</h4>

                <div class="modal-body">
                    <wj-tree-view control="tv"
                                  allow-dragging="true"
                                  show-checkboxes="true"
                                  items-source="item"
                                  display-member-path="'header'"
                                  child-items-path="'items'">
                    </wj-tree-view>
                </div>
                <div class="modal-footer">
                    <button ng-click="popup.hide()" style="float:right;">OK</button>
                </div>
            </div>
        </wj-popup>
    </div>

</body>
</html>