﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- Third Party -->
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/treeViewCtrl.js" type="text/javascript"></script>
    <link href="../styles/treeView.css" rel="stylesheet" type="text/css" />
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><pre>Test Case 237468:[TreeView] To test whether the 'checkedItems' property is updated with a list of the checkboxes that are currently checked</pre>
    <br />
    <wj-tree-view id="treeView" 
        control="tv"
        items-source="items"
        display-member-path="'header'"
        child-items-path="'items'"
        show-checkboxes="true"
        checked-items-changed="checkedItems(tv)">
    </wj-tree-view>
    <br />
    <button id="btnCheckAll" class="btn btn-default" ng-click="tv.checkAllItems(true);">
        Check All
    </button>
    <button id="btnUncheckAll" class="btn btn-default" ng-click="tv.checkAllItems(false);">
        Uncheck All
    </button>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button id="btnSaveState" class="btn btn-default" ng-click="saveCheckedItems(tv)">
        Save State
    </button>
    <button id="btnRestoreState" class="btn btn-default" ng-click="restoreCheckedItems(tv)">
        Restore State
    </button>
    <br />
    <div id="tvChkStatus"  ng-bind-html="tvChkStatusStr">
    </div>
</body>
</html>
