﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        var modu = angular.module('module', ['wj']);
        modu.controller('appCtrl', function ($scope) {

            $scope.item = [
                        {
                            header: 'Electronics', items: [
                                { header: 'Trimmers/Shavers' },
                                { header: 'Tablets' },
                                {
                                    header: 'Phones', items: [
                                    { header: 'Apple' },
                                    { header: 'Motorola', newItem: true },
                                    { header: 'Nokia' },
                                    { header: 'Samsung' }
                                    ]
                                },
                                { header: 'Speakers', newItem: true },
                                { header: 'Monitors' }
                            ]
                        },
                        {
                            header: 'Toys', items: [
                                { header: 'Shopkins' },
                                { header: 'Train Sets' },
                                { header: 'Science Kit', newItem: true },
                                { header: 'Play-Doh' },
                                { header: 'Crayola' }
                            ]
                        },
                        {
                            header: 'Home', items: [
                                { header: 'Coffeee Maker' },
                                { header: 'Breadmaker', newItem: true },
                                { header: 'Solar Panel', newItem: true },
                                { header: 'Work Table' },
                                { header: 'Propane Grill' }
                            ]
                        }
                    ];

            $scope.isCollapsedChanged = function () {
                if ($("#chkisCollapsedChanged").is(":checked")) {
                    $("#showEventStatus").append('<li> isCollapsedChanged</li>');
                }
            }

            $scope.isCollapsedChanging = function () {
                if ($("#chkisCollapsedChanging").is(":checked")) {
                    $("#showEventStatus").append('<li> isCollapsedChanging</li>');
                }
            }

            //Clear()
            $scope.Clear = function () {
                $("#showEventStatus").empty();
            }
        });
    </script>
</head>
<body style="margin:30px;">
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><p>Test Case 242859:[TreeView] To test whether TreeView is working correctly on toggling checkbox, expanding or collapsing when drag drop is allowed in the tree</p>
    <br />
    <div ng-app="module" ng-controller="appCtrl">
        <wj-tree-view id="treeView" 
                control="treeView"
                items-source="item"
                display-member-path="'header'"
                child-items-path="'items'"
                drag-drop-allowed="true"
                show-checkboxes="ture"
                is-collapsed-changed="isCollapsedChanged()"
                is-collapsed-changing="isCollapsedChanging()">
        </wj-tree-view>
        <br/><br/>
        <fieldset>
			<input type="checkbox" id="chkisCollapsedChanged" checked/>isCollapsedChanged
			<input type="checkbox" id="chkisCollapsedChanging" checked/>isCollapsedChanging
		</fieldset>
		<br/>
        <b>Events</b>
		<div id="showEventStatus" style="background-color:aliceblue;width:500px;"></div>
        <br />
		<button id="btnClear" ng-click="Clear()">Clear Event List</button>
    </div>
</body>
</html>