﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <!-- Third Party -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.1.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />

    <!-- Wijmo -->
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/treeViewCtrl.js" type="text/javascript"></script>
    <link href="../styles/treeView.css" rel="stylesheet" type="text/css" />
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><pre>Test Case 243308:[TreeView] To test whether the node is expanded or collapsed using 'isCollapsed' (gets or sets) property of TreeNode</pre>
    <wj-tree-view id="treeView" 
        control="tv"
        items-source="items"
        display-member-path="'header'"
        child-items-path="'items'"
        show-checkboxes="true">
    </wj-tree-view>
    <div id="eventDiv"></div>

    <button id="btncollapseNode" class="btn btn-default" ng-click="collapseNode(tv)">Collapsed Selected Parent Node</button>
 
</body>
</html>
