﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- Third Party -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            $scope.items = [
                {
                    header: 'Electronics', img: 'resources/electronics.png', items: [
                      { header: 'Trimmers/Shavers' },
                      { header: 'Tablets' },
                      {
                          header: 'Phones', img: 'resources/phones.png', items: [
                            { header: 'Apple' },
                            { header: 'Motorola', newItem: true },
                            { header: 'Nokia' },
                            { header: 'Samsung' }
                          ]
                      },
                      { header: 'Speakers', newItem: true },
                      { header: 'Monitors' }
                    ]
                },
                {
                    header: 'Toys', img: 'resources/toys.png', items: [
                      { header: 'Shopkins' },
                      { header: 'Train Sets' },
                      { header: 'Science Kit', newItem: true },
                      { header: 'Play-Doh' },
                      { header: 'Crayola' }
                    ]
                },
                {
                    header: 'Home', img: 'resources/home.png', items: [
                      { header: 'Coffeee Maker' },
                      { header: 'Breadmaker', newItem: true },
                      { header: 'Solar Panel', newItem: true },
                      { header: 'Work Table' },
                      { header: 'Propane Grill' }
                    ]
                }
            ];

            $scope.tvRefreshing = function (sender, args) {
                $("#eventDiv").append('<li>' + 'refreshing.' + '</li>');
            }
            $scope.tvRefreshed = function (sender, args) {
                $("#eventDiv").append('<li>' + 'refreshed.' + '</li>');
            }

        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><pre><b>Test Case 377712:[TreeView] To test whether 'refreshing' and 'refreshed' event occur when/after the control has refreshed its contents</b></pre>
    
    <wj-tree-view id="treeView" 
        control="treeView"
        items-source="items"
        display-member-path="'header'"
        child-items-path="'items'"
        show-checkboxes="true"
        refreshing="tvRefreshing()" refreshed="tvRefreshed()">
    </wj-tree-view>
    <button id="btnRefresh" class="btn btn-default" ng-click="treeView.refresh()">
        refresh
    </button>
    <ul id="eventDiv"></ul>
</body>
</html>
