﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- Third Party -->
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            $scope.items = [
                {
                    header: 'Electronics', img: 'resources/electronics.png', items: [
                      { header: 'Trimmers/Shavers' },
                      { header: 'Tablets' },
                      {
                          header: 'Phones', img: 'resources/phones.png', items: [
                            { header: 'Apple' },
                            { header: 'Motorola', newItem: true },
                            { header: 'Nokia' },
                            { header: 'Samsung' }
                          ]
                      },
                      { header: 'Speakers', newItem: true },
                      { header: 'Monitors' }
                    ]
                },
                {
                    header: 'Toys', img: 'resources/toys.png', items: [
                      { header: 'Shopkins' },
                      { header: 'Train Sets' },
                      { header: 'Science Kit', newItem: true },
                      { header: 'Play-Doh' },
                      { header: 'Crayola' }
                    ]
                },
                {
                    header: 'Home', img: 'resources/home.png', items: [
                      { header: 'Coffeee Maker' },
                      { header: 'Breadmaker', newItem: true },
                      { header: 'Solar Panel', newItem: true },
                      { header: 'Work Table' },
                      { header: 'Propane Grill' }
                    ]
                }
            ];

        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><pre><b>Test Case 370110:[TreeView] To test whether checkboxes can be toggled when click the checkbox or the node header by setting 'checkOnClick' property</b></pre>
    
    <label>
		<input id="chkCheckOnClick" type="checkbox" ng-model="treeView.checkOnClick" />checkOnClick
	</label>
    <br /><br />
    <wj-tree-view id="treeView" 
        control="treeView"
        items-source="items"
        display-member-path="'header'"
        child-items-path="'items'"
        check-on-click="true"
        show-checkboxes="true">
    </wj-tree-view>
</body>
</html>
