﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        var modu = angular.module('module', ['wj']);
        modu.controller('appCtrl', function ($scope) {

            $scope.item = [
                        {
                            header: 'Electronics', items: [
                                { header: 'Trimmers/Shavers' },
                                { header: 'Tablets' },
                                {
                                    header: 'Phones', items: [
                                    { header: 'Apple' },
                                    { header: 'Motorola', newItem: true },
                                    { header: 'Nokia' },
                                    { header: 'Samsung' }
                                    ]
                                },
                                { header: 'Speakers', newItem: true },
                                { header: 'Monitors' }
                            ]
                        },
                        {
                            header: 'Toys',items: [
                                { header: 'Shopkins' },
                                { header: 'Train Sets' },
                                { header: 'Science Kit', newItem: true },
                                { header: 'Play-Doh' },
                                { header: 'Crayola' }
                            ]
                        },
                        {
                            header: 'Home', items: [
                                { header: 'Coffeee Maker' },
                                { header: 'Breadmaker', newItem: true },
                                { header: 'Solar Panel', newItem: true },
                                { header: 'Work Table' },
                                { header: 'Propane Grill' }
                            ]
                        }
                    ];

                    $scope.setChecked = function () {
                        var nodes = $scope.treeView.getNode($scope.treeView.nodes[1].dataItem.items[2]);
                        nodes.setChecked(true, true);
                    }

                    $scope.checkedItemsChanged = function () {
                        var value = "checkedItemsChanged";
                        $("#eventDiv").append('<li>' + value + '</li>');
                    }
        });
    </script>
</head>
<body style="margin:30px;">
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><p>Test Case 304782:[TreeView] To test whether 'checkedItemsChanged' event is fired when node is checked using 'TreeNode.setChecked()' method</p>
    <br />
    <div ng-app="module" ng-controller="appCtrl">
        <wj-tree-view id="treeView" 
                control="treeView"
                items-source="item"
                display-member-path="'header'"
                child-items-path="'items'"
                show-checkboxes="true"
                checked-items-changed="checkedItemsChanged()">
        </wj-tree-view>
        <br/><br/>
        <button id="btnSetChecked" ng-click="setChecked()">setChecked</button>
        <br/><br/>
        <div id="eventDiv" style="background-color:aliceblue;width:500px;"></div>
        <br />
    </div>
</body>
</html>