﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.1.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular-route.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    

    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/flexRadarCtrl.js" type="text/javascript"></script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre>Title:[FlexRadar] Unlike previous build 226, datalabels are not displayed in FlexRadar</pre>
    <wj-flex-radar control="ctx.chart"
                   items-source="fruits"
                   binding-x="name"
                   total-angle="360"
                   start-angle="45" style="width:700px;height:600px">
        <wj-flex-radar-series name="Sales" binding="y1"></wj-flex-radar-series>
        <wj-flex-radar-series name="Downloads" binding="y2"></wj-flex-radar-series>
        <wj-flex-radar-series name="Expenses" binding="y3"></wj-flex-radar-series>
        <wj-flex-chart-axis wj-property="axisY" min="0" max="100"></wj-flex-chart-axis>
    </wj-flex-radar>
<table>
<tr>
   <label>
         <input type="checkbox" ng-model="showDataLabel"> Show DataLabel?
   </label>
 </tr>
</table>
    <pre>
    1.Run sample ‘QA_218040.html’.
    Observe: DataLabel will not dispalyed on series.
    2.Checked 'ShowDataLabel'checkbox.
    Observe: DataLabel will be dispalyed on series.
    </pre>
</body>
</html>
