﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.1.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular-route.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    

    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/flexRadarCtrl.js" type="text/javascript"></script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre>Title:Bug 204961:[FlexRadar]Axis-x format can’t be set properly in polar chart</pre>
   <wj-flex-radar control="ctx.chart"
                   items-source="fruits"
                   binding-x="y2"
                   label-content="{y}"
                   total-angle="360"
                   start-angle="45" style="width:700px;height:600px">
        <wj-flex-radar-series name="Sales" binding="y1"></wj-flex-radar-series>
	  <wj-flex-chart-axis wj-property="axisY" min="0" max="100"></wj-flex-chart-axis>
   </wj-flex-radar>
<table>
<tr>
 <td>
              <button ng-click="xFormatP()" id="btnXp">AxisX-Format=%</button>
           </td>
		    <td>
              <button ng-click="xFormatCur()" id="btnXc">AxisX-Format=$</button>
           </td>
           <td>
               <button ng-click="yFormatP()" id="btnYp">AxisY-Format=%</button>
           </td>
           <td>
               <button ng-click="yFormatCur()" id="btnYc">AxisY-Format=$</button>
           </td>
</tr>
</table>
    <pre>
    1.Run sample ‘QA_204961.html’.
    2.Click on ‘AxisY-Format=%” or ‘AxisY-Format=$’ button.
    Observe: Axis-y label format are displayed properly. …[Correct]
    3.Click on ‘AxisX-Format=%” or ‘AxisX-Format=$’ button.
    Observe: Axis-x label format are not displayed. …[Incorrect]
    </pre>
</body>
</html>
