﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.1.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular-route.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/flexRadarCtrl.js" type="text/javascript"></script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><wj-flex-radar control="ctx.chart"
                   items-source="fruits"
                   binding-x="name"
                   total-angle="360"
                   start-angle="0"
                   legend-toggle="true"
                   stacking="{{stacking}}"
                   style="width:500px;height:400px">
        <wj-flex-radar-series name="Sales" binding="y1"></wj-flex-radar-series>
        <wj-flex-radar-series name="Expenses" binding="y2"></wj-flex-radar-series>
        <wj-flex-radar-series name="Downloads" binding="y3"></wj-flex-radar-series>
        <wj-flex-chart-axis wj-property="axisY"></wj-flex-chart-axis>
    </wj-flex-radar>
    <pre>
    Repro Steps:
    1.    Run ‘JS/TS > Angular/Angular2 > FlexRadarIntro’ sample.
    2.    Hover on FlexRadar series.
    Observe: Tooltip does not appear. [Incorrect]
    </pre>
</body>
</html>
