﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.1.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <!-- Wijmo-Angular interop -->
    
    <!-- app scripts and styles -->
    <link href="../styles/app.css" rel="stylesheet" />
    <script type="text/javascript">
    var app = angular.module('app', ['wj']);

    app.controller('appCtrl', function ($scope) {

        $scope.ctx = {
        chart: null,
        chartAni: { animationMode: 'Point' },
        palette: 'standard',
        palettes: ['standard', 'cocoa', 'coral', 'dark', 'highcontrast', 'light', 'midnight', 'minimal', 'modern', 'organic', 'slate'],
        data: [],
        degree: [],
        fruits: [],
        labels: 0,        
    };

    // populate itemsSource    
    var days = 'Monday,Tuesday,Wednesday,Thusday,Friday,Saturday,Sunday'.split(',');
    for (var i = 0; i < days.length; i++) {
        $scope.ctx.data.push({
            day: days[i],
            value: Math.round(Math.random() * 10000)
        });
    }
    //chart binding
    $scope.fruits = [
    { "name": "Orange", "food": "Fried Rice", "x": 1, "date1": new Date(2014, 1, 1), "date2": new Date(2014, 1, 1), "y1": 10, "y2": 8, "y3": 10, "y4": -16 },
     { "name": "apple", "food": "Fried Noodle", "x": 2, "date1": null, "date2": new Date(2014, 2, 2), "y1": 20, "y2": 12, "y3": 16, "y4": -19 },
     { "name": "lime", "food": "Fried Egg", "x": 3, "date1": new Date(2014, 3, 3), "date2": new Date(2014, 3, 3), "y1": 30, "y2": 10, "y3": 17, "y4": 15 },
     { "name": "lemon", "food": "Fried Vermicelli", "x": 4, "date1": new Date(2014, 4, 4), "date2": new Date(2014, 4, 4), "y1": 40, "y2": 12, "y3": 15, "y4": -22 },
     { "name": "mango", "food": "Chicken Soup", "x": 5, "date1": new Date(2014, 5, 5), "date2": new Date(2014, 5, 5), "y1": 50, "y2": 15, "y3": 23, "y4": -18 },
     { "name": "Watermelon", "food": "Pork Soup", "x": 6, "date1": new Date(2014, 6, 6), "date2": new Date(2014, 6, 6), "y1": 60, "y2": 15, "y3": 23, "y4": -18 },
     { "name": "Kiwi", "food": "Beef Soup", "x": 7, "date1": new Date(2014, 7, 7), "date2": new Date(2014, 7, 7), "y1": 70, "y2": 15, "y3": 23, "y4": -18 },
    { "name": "Strawberry", "food": "Fried Noodle", "x": 2, "date1": new Date(2014, 2, 2), "date2": new Date(2014, 2, 2), "y1": 20, "y2": 12, "y3": 16, "y4": -19 }
    ];
    $scope.data = [{
        "direction": "N",
        "value": 8
    }, {
        "direction": "NE",
        "value": 9
    }, {
        "direction": "E",
        "value": 4.5
    }, {
        "direction": "SE",
        "value": 3.5
    }, {
        "direction": "S",
        "value": 9.2
    }, {
        "direction": "SW",
        "value": 8.4
    }, {
        "direction": "W",
        "value": 11.1
    }, {
        "direction": "NW",
        "value": 10
    }];

    $scope.degree = [
        {
            "degree": 0,
            "column": 8
        },
        {
            "degree": 45,
            "column": 7
        },
        {
            "degree": 90,
            "column": 6
        },
        {
            "degree": 180,
            "column": 4
        },
        {
            "degree": 360,
            "column": 2
        },

        ]
       //Dispose ()
        $scope.dispose = function () {
        var fchart = $scope.ctx.chart;
        fchart.dispose();
        };

        window.onerror = function (errorMsg, url, lineNumber, column, errorObj) {
            document.getElementById("output").innerHTML = ('Error: ' + errorMsg + ' Script: ' + url + ' Line: ' + lineNumber
        + ' Column: ' + column + ' StackTrace: ' + errorObj);
        }
    });   
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><button id="btn" ng-click="dispose()">
        Dispose</button>
    <div id="output">
    </div>
    <wj-flex-radar control="ctx.chart" items-source="fruits" binding-x="name" label-content="{y}"
        total-angle="360" style="width: 600px; height: 450px" start-angle="45">
            <wj-flex-radar-series name="Sales" binding="y1"></wj-flex-radar-series>
            <wj-flex-radar-series name="Downloads" binding="y2"></wj-flex-radar-series>
            <wj-flex-radar-series name="Expenses" binding="y3"></wj-flex-radar-series>
            <wj-flex-chart-axis wj-property="axisX" format="C"></wj-flex-chart-axis>           
        </wj-flex-radar>
    <pre>
   Repro Steps:
    1.    Run the attached sample ‘QA_280688.htm’.
    2.    Click ‘Dispose’ button twice.
    3.    Press 'F12' key and open console view in developer tools.
    Observe: Console error (TypeError: Cannot read property 'querySelectorAll' of null) occurs. [Incorrect]
   </pre>
</body>
</html>
