﻿<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
       <!-- jQuery/Angular/Bootstrap -->
     <script src="../scripts/jQueryAngularBootstrap/jquery-2.1.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />

     <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />

      <!-- Wijmo-Angular interop -->
    

       <!-- app scripts and styles -->
    <link href="../styles/app.css" rel="stylesheet"/> 

     <script type="text/javascript">
         var app = angular.module('app', ['wj']);

         app.controller('appCtrl', function ($scope) {

             $scope.xFormat = "d";
             $scope.yFormat = "n";

             $scope.ctx = {
                 chart: null
             };

             $scope.fruits = [
            { "name": "Orange", "food": "Fried Rice", "x": 1, "date1": new Date(2014, 1, 1), "date2": new Date(2014, 1, 1), "y1": 10, "y2": 8, "y3": 10, "y4": -16, "y5": 1 },
             { "name": "apple", "food": "Fried Noodle", "x": 2, "date1": new Date(2014, 2, 2), "date2": new Date(2014, 2, 2), "y1": 20, "y2": 12, "y3": 16, "y4": -19, "y5": 2 },
             { "name": "lime", "food": "Fried Egg", "x": 3, "date1": new Date(2014, 3, 3), "date2": new Date(2014, 3, 3), "y1": 30, "y2": 10, "y3": 17, "y4": 15, "y5": 3 },
             { "name": "lemon", "food": "Fried Vermicelli", "x": 4, "date1": new Date(2014, 4, 4), "date2": new Date(2014, 4, 4), "y1": 40, "y2": 12, "y3": 15, "y4": -22, "y5": 4 },
             { "name": "mango", "food": "Chicken Soup", "x": 5, "date1": new Date(2014, 5, 5), "date2": new Date(2014, 5, 5), "y1": 50, "y2": 15, "y3": 23, "y4": -18, "y5": 5 },
             { "name": "Watermelon", "food": "Pork Soup", "x": 6, "date1": new Date(2014, 6, 6), "date2": new Date(2014, 6, 6), "y1": 60, "y2": 15, "y3": 23, "y4": -18, "y5": 6 },
             { "name": "Kiwi", "food": "Beef Soup", "x": 7, "date1": new Date(2014, 7, 7), "date2": new Date(2014, 7, 7), "y1": 70, "y2": 15, "y3": 23, "y4": -18, "y5": 7 }

    ];
         });

     </script>
</head>
<body ng-app="app" ng-controller="appCtrl">

        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre>Test Case 204456: [FlexRadar]To test whether 'format' string can be used for the axis labels</pre><br />

<wj-menu value="xFormat" header="AxisXFormat">
    <wj-menu-item value="'d'">d</wj-menu-item>
    <wj-menu-item value="'D'">D</wj-menu-item>
    <wj-menu-item value="'f'">f</wj-menu-item>   
</wj-menu>
 <wj-menu value="yFormat" header="AxisYFormat">
    <wj-menu-item value="'n0'">n0</wj-menu-item>
    <wj-menu-item value="'n1'">n1</wj-menu-item>
    <wj-menu-item value="'n2'">n2</wj-menu-item>
    <wj-menu-item value="'c'">c</wj-menu-item>     
</wj-menu> <br />
<wj-flex-radar control="ctx.chart"
                   items-source="fruits"
                   binding-x="date1"
                   style="width:700px;height:600px">
        <wj-flex-radar-series name="Sales" binding="y1"></wj-flex-radar-series>
        <wj-flex-radar-series name="Downloads" binding="y2"></wj-flex-radar-series>
        <wj-flex-radar-series name="Expenses" binding="y3"></wj-flex-radar-series>  
         <wj-flex-chart-axis wj-property="axisY" format="{{yFormat}}"></wj-flex-chart-axis>
          <wj-flex-chart-axis wj-property="axisX" format="{{xFormat}}" ></wj-flex-chart-axis>         
   </wj-flex-radar>


</body>
</html>
