﻿<!DOCTYPE html>
<html ng-app="app">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    
    <script src="../scripts/controllers/fnchartCtrl.js" type="text/javascript"></script>
</head>
<body ng-controller="appCtrl">
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><pre>[FinancialChart] Selection mode cannot work properly in FibonacciArcs Tool</pre>
  

     <wj-financial-chart control="tpChart"
                        items-source="data"
                        header="FinancialChart Testing"
                       
                        chart-type="{{chartProps.chartType}}"
                        style="width: 900px; height: 500px;"
                        binding-x="date"
                        legend-toggle="false">
        <wj-financial-chart-series binding="high,low,open,close" name="Apple"></wj-financial-chart-series>
        <wj-flex-chart-fibonacci-arcs binding="close"
                                      start="chartProps.properties.arcs.start"
                                      end="chartProps.properties.arcs.end"
                                      label-position="{{ chartProps.properties.arcs.labelPosition }}"
                                      name="Arcs">
        </wj-flex-chart-fibonacci-arcs>

    </wj-financial-chart>

    <table>
        <tr>
           

            <td>
               

                <label>Start X</label>
                <wj-input-number ng-model="chartProps.properties.arcs.start.x"
                                 step="1"
                                 value-changed="value1Changed(s,e)"
                                 style="width: 100px; height: 30px;"></wj-input-number>
            </td>

            <td>
                <label>Start Y</label>
                <wj-input-number ng-model="chartProps.properties.arcs.start.y"
                                 step="1"
                                 value-changed="value1Changed(s,e)"
                                 style="width: 100px; height: 30px;"></wj-input-number>
            </td>
            <td>
                <label>End X</label>
                <wj-input-number ng-model="chartProps.properties.arcs.end.x"
                                 step="1"
                                 value-changed="value1Changed(s,e)"
                                 style="width: 100px; height: 30px;"></wj-input-number>
            </td>
            <td>


                <label>End Y</label>
                <wj-input-number ng-model="chartProps.properties.arcs.end.y"
                                 step="1"
                                 value-changed="value1Changed(s,e)"
                                 style="width: 100px; height: 30px;"
                                 id="inputNumber"></wj-input-number>

            </td>
           
            <td>
                <wj-menu value="tpChart.selectionMode" header="SelectionMode">
                    <wj-menu-item value="0">None</wj-menu-item>
                    <wj-menu-item value="1">Series</wj-menu-item>
                    <wj-menu-item value="2">Point</wj-menu-item>
                </wj-menu>
            </td>
            

        </tr>

    </table>
    <pre>
   1. Run attached sample.        
   2. Choose "Series" in 'SelectionMode' dropdown.
   4. Click on Legend 'Arcs'.
   Observe: FibonacciArcs tool get partially selection. - Incorrect

   5. Increase End Y as '81'.
   Observe: FibonacciArcs tool get selection. - Correct
   </pre>
</body>
</html>
