﻿<!DOCTYPE html>
<html ng-app ="app" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />

    <!-- app scripts and styles-->
    
    <script src="../scripts/controllers/fnchartCtrl.js" type="text/javascript"></script>
</head>
        <body ng-controller="appCtrl">
        
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><pre>
        Title:Bug 140133:[FinancialChart]Fibonacci series/labels are shown outside of the plot area
        </pre>
          <wj-financial-chart control="ctx.chart1"
                                header="{{chartProps.header}}"
                                items-source="data"
                                chart-type="Line"
                                symbol-size="4"
                                legend-toggle="true"
                                binding-x="date">
                 <wj-financial-chart-series binding="{{chartProps.bindingY}}" name="Financial"></wj-financial-chart-series>
                 <wj-flex-chart-fibonacci binding="close" control="ctx.fibo"
                                      name="fibonacciRetracement">
        </wj-flex-chart-fibonacci>
            </wj-financial-chart> 
 <wj-menu header="High"
             value="ctx.fibo.high">
        <wj-menu-item value="76">76</wj-menu-item>
        <wj-menu-item value="77">77</wj-menu-item>
        <wj-menu-item value="78.7">78.7</wj-menu-item>
        <wj-menu-item value="-10">-10</wj-menu-item>
    </wj-menu>
    <wj-menu header="Low"
             value="ctx.fibo.low">
        <wj-menu-item value="74">74</wj-menu-item>
        <wj-menu-item value="73">73</wj-menu-item>
        <wj-menu-item value="72.5">72.5</wj-menu-item>
        <wj-menu-item value="72">72</wj-menu-item>
        <wj-menu-item value="-10">-10</wj-menu-item>
    </wj-menu>
	 <wj-menu value="ctx.chart1.legend.position" header="LegendPosition">
        <wj-menu-item value="0">None</wj-menu-item>
        <wj-menu-item value="1">Left</wj-menu-item>
        <wj-menu-item value="2">Top</wj-menu-item>
        <wj-menu-item value="3">Right</wj-menu-item>
        <wj-menu-item value="4">Bottom</wj-menu-item>
    </wj-menu>
            <wj-financial-chart control="ctx.chart"
                                header="{{chartProps.header}}"
                                items-source="data"
                                chart-type="Line"
                                symbol-size="4"
                                legend-toggle="true"
                                binding-x="date">
                 <wj-financial-chart-series binding="{{chartProps.bindingY}}" name="Financial"></wj-financial-chart-series>
                 <wj-flex-chart-fibonacci-arcs binding="close" control="ctx.fiboArcs"
                                      name="fibonacciArcs"
                                      start="ctx.fiboArcs.start"
                                      end="ctx.fiboArcs.end">
        </wj-flex-chart-fibonacci-arcs>
            </wj-financial-chart>
             <label>StartY:</label>
    <wj-input-number value="ctx.fiboArcs.start.y"
                     step="1" value-changed="valueChanged(s,e)">
    </wj-input-number>
    <label>EndY:</label>
    <wj-input-number value="ctx.fiboArcs.end.y"
                     step="1" value-changed="valueChanged(s,e)">
    </wj-input-number>
            <pre>
Repro Steps:
1.Run sample ‘QA_140133.html’.
2.Set Fibonacci low value to ‘72’ and legend position to ‘Bottom’ for fibonacci retracement chart.
Observe:Series line is displayed outside of plot area. ….[Case1]
*Series line should not displayed outside of plot area.
3.Set ‘StartY’ to ‘72’ for fibonacciArcs chart.
Observe: Fibonacci series label is displayed outside of plot area. …[Case2]
*Fibonacci series label should be displayed inside the plot area.

</pre>
        </body>
</html>

