﻿<!DOCTYPE html>
<html ng-app ="app" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />

    <!-- app scripts and styles-->
    
    <script src="../scripts/controllers/fnchartCtrl.js" type="text/javascript"></script>
</head>
        <body ng-controller="appCtrl">
        
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><pre>
        Title: [FinancialChart]Series of fibonacci tools also disappear when toggling chart series legend.
        </pre>
           <wj-financial-chart control="ctx.chart"
                                header="{{chartProps.header}}"
                                items-source="data"
                                symbol-size="4"
                                legend-toggle="true"
                                binding-x="date">
                 <wj-financial-chart-series binding="{{chartProps.bindingY}}" name="Financial"></wj-financial-chart-series>
                 <wj-flex-chart-fibonacci-arcs binding="close" control="ctx.fiboArcs"
                                      start="ctx.fiboArcs.start"
                                      end="ctx.fiboArcs.end"
                                      name="FibonacciArcs Legend">
            </wj-flex-chart-fibonacci-arcs>
            </wj-financial-chart> 
            <pre>
Repro Steps :
1. Run 'QA_134827.htm’.
2. Toggle legend on ‘Series Legend’(Finical) of chart.
Observe: Both series (FibonacciArcs+ChartSeries) will disappear. ..[Incorrect]
Note: This behavior also occurs in ‘FibonacciFans,FibonacciTimeZones and Retracement’ tools.
Expected : Only chart series should disappear.

</pre>
        </body>
</html>

