﻿<!DOCTYPE html>
<html ng-app ="app" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />

    <!-- app scripts and styles-->
    
    <script src="../scripts/controllers/fnchartCtrl.js" type="text/javascript"></script>
</head>
        <body ng-controller="appCtrl">
            
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><wj-financial-chart control="tpChart"
                                header="{{chartProps.header}}"
                                items-source="data"
                                chart-type="Line"
                                symbol-size="4"
                                binding-x="date"
                                style="height: 450px; width: 1200px;">
                <wj-financial-chart-series name="Close" binding="close"></wj-financial-chart-series>
                <wj-flex-chart-moving-average binding="close"
                                              name="{{ chartProps.movingAverageName }}"
                                              period="{{ chartProps.movingAveragePeriod }}"
                                              type="{{ chartProps.movingAverageType }}">
                </wj-flex-chart-moving-average>
                <wj-flex-chart-legend position="Top"></wj-flex-chart-legend>
                <wj-flex-chart-axis wj-property="axisY" position="Right"></wj-flex-chart-axis>
            </wj-financial-chart>
            <!--If set (   max="200") , js error will occurs like build 72-->
            <wj-input-number control="inputPeriod" id="inputPeriod" class="period" value="movingAveragePeriod"
                             min="2"
							 max="{{data.length - 1}}"
                             step="1"
                             format="n0">
            </wj-input-number>
            <wj-menu value="chartProps.movingAverageType" header="Moving Average Type">
                <wj-menu-item value="0">Simple</wj-menu-item>
                <wj-menu-item value="1">Weighted</wj-menu-item>
                <wj-menu-item value="2">Exponential</wj-menu-item>
                <wj-menu-item value="3">Triangular</wj-menu-item>
            </wj-menu>
            <pre>
Repro Steps :
1.Run the sample "QA_125072.htm".
2.Enter trendline period (79) in input number box.
Observe:Exception should not show and trendline should be displayed by default value.

</pre>
        </body>
</html>

