﻿<!DOCTYPE html>
<html ng-app ="app" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />

    <!-- app scripts and styles-->
    
    <script src="../scripts/controllers/134970_appCtrl.js" type="text/javascript"></script>
</head>
        <body ng-controller="appCtrl">
        
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><pre>
        Title: [FinancialChart] Major Unit is not working in some financial chart types such as Kagi,Renko and LineBreak.
        </pre>
           <wj-financial-chart control="tpChart"
                                    items-source="data"
                                    chart-type="{{chartProps.chartType}}"
                                    symbol-size="4"
                                    label-content="{y}"
                                    binding-x="date">
           <wj-financial-chart-series binding="high,low,open,close" name="Financial Series"></wj-financial-chart-series>
                </wj-financial-chart>
                <wj-menu value="chartProps.chartType" header="Chart Type">
                    <wj-menu-item value="2">Line</wj-menu-item>
                    <wj-menu-item value="0">Column</wj-menu-item>
                    <wj-menu-item value="5">Candlestick</wj-menu-item>
                    <wj-menu-item value="6">HighLowOpenClose</wj-menu-item>
                    <wj-menu-item value="7">HeikinAshi</wj-menu-item>
                    <wj-menu-item value="8">LineBreak</wj-menu-item>
                    <wj-menu-item value="9">Renko</wj-menu-item>
                    <wj-menu-item value="10">Kagi</wj-menu-item>
                    <wj-menu-item value="11">ColumnVolume</wj-menu-item>
                    <wj-menu-item value="12">EquiVolume</wj-menu-item>
                    <wj-menu-item value="13">CandleVolume</wj-menu-item>
                    <wj-menu-item value="14">ArmsCandleVolume</wj-menu-item>
                </wj-menu>
                <wj-menu value="tpChart.axisX.majorUnit" header="AxisXMajorUnit">
                    <wj-menu-item value="5">2</wj-menu-item>
                    <wj-menu-item value="7">4</wj-menu-item>
                    <wj-menu-item value="9">6</wj-menu-item>
                    <wj-menu-item value="11">9</wj-menu-item>
                </wj-menu>
            <pre>
Repro Steps :
1.Run the sample "QA_134970.htm".
2.Choose any Chart Type and choose any AxisX Major Unit. 
Observed : Kagi,Renko and LineBreak financial chart types are not working for Major Unit. [Incorrect]
Expected : Major Unit should work for all chart types.
</pre>
        </body>
</html>

