﻿<!DOCTYPE html>
<html ng-app="app">
<head>
   <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    
    <script src="../scripts/controllers/fnchartCtrl.js" type="text/javascript"></script>
</head>
<body ng-controller="appCtrl">
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><pre>[All Controls] Unlike previous build, control is still disabled although set the 'disabled' property as False</pre>
  

   <wj-financial-chart control="tpChart"
   id="fnChart"
        items-source="data"
        header="{{chartProps.header}}"
        chart-type="{{chartProps.chartType}}"
        binding-x="date">
        <wj-financial-chart-series binding="{{chartProps.bindingY}}" name="Close"></wj-financial-chart-series>    
            
         </wj-financial-chart>

    <wj-menu header="Disabled" value="tpChart.isDisabled">
        <wj-menu-item value="true">True</wj-menu-item>
        <wj-menu-item value="false">False</wj-menu-item>
    </wj-menu>
    <pre>
   1. Run attached sample.        
   2. Choose "True" in 'Disabled' dropdown.
      Observe: FinancialChart control is in disabled state. - Correct

   3. Choose "False" in 'Disabled' dropdown.
     Observe: FinancialChart control can't be change enabled state. - Incorrect
   </pre>
</body>
</html>
