﻿<!DOCTYPE html>
<html ng-app="app">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    
    <script src="../scripts/controllers/fnchartCtrl.js" type="text/javascript"></script>
</head>
<body ng-controller="appCtrl">
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><pre>[FinancialChart] Legend icon of FibonacciTools should not change by changing main chart type</pre>
    <wj-financial-chart control="ctx.chart" items-source="data" symbol-size="4" binding-x="date"
        chart-type="{{chartProps.chartType}}">
        <wj-financial-chart-series binding="{{chartProps.bindingY}}" name="Financial"></wj-financial-chart-series>
        <wj-flex-chart-fibonacci 
        binding="close" 
        name="Fibonacci Retracements" 
        control="ctx.fibo"
        ng-attr-style="{ fill: 'red',fontSize:10 }">
        </wj-flex-chart-fibonacci>
    </wj-financial-chart>
    <wj-menu value="chartProps.chartType" header="Chart Type">
        <wj-menu-item value="2">Line</wj-menu-item>
        <wj-menu-item value="1">Scatter</wj-menu-item>
        <wj-menu-item value="3">LineSymbols</wj-menu-item>
        <wj-menu-item value="4">Area</wj-menu-item>
        <wj-menu-item value="0">Column</wj-menu-item>
        <wj-menu-item value="5">Candlestick</wj-menu-item>
        <wj-menu-item value="6">HighLowOpenClose</wj-menu-item>
        <wj-menu-item value="7">HeikinAshi</wj-menu-item>
        <wj-menu-item value="8">LineBreak</wj-menu-item>
        <wj-menu-item value="9">Renko</wj-menu-item>
        <wj-menu-item value="10">Kagi</wj-menu-item>
        <wj-menu-item value="11">ColumnVolume</wj-menu-item>
        <wj-menu-item value="12">EquiVolume</wj-menu-item>
        <wj-menu-item value="13">CandleVolume</wj-menu-item>
        <wj-menu-item value="14">ArmsCandleVolume</wj-menu-item>
    </wj-menu>
    <pre>
   1. Run attached project “prj_fnChart_FiboToolsLegendIcon”.
      Observe: Both series legend show like Line icon.
   2. Choose chart type to ‘Scatter’.
      Observe: The first series legend (Financial) changed to scatter symbol. …[Correct]
               But, the second legend (Fibonacci Retracements) also changed into scatter symbol. …[Incorrect]
   </pre>
</body>
</html>
