﻿<!DOCTYPE html>
<html ng-app="app">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    
    <script src="../scripts/controllers/fnchartCtrl.js" type="text/javascript"></script>
</head>
<body ng-controller="appCtrl">
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><pre>[FinancialChartExplorer] Unlike previous build, trendline cannot be displayed properly when setting "Fit Type" as Linear</pre>
    <wj-financial-chart control="tpChart" items-source="data" chart-type="{{chartProps.chartType}}"
        symbol-size="4" binding-x="date"
        style="width:900px;height:500px"
        >
        <wj-financial-chart-series binding="close" name="Box"></wj-financial-chart-series>
         <wj-flex-chart-trend-line binding="close"
                              name="Trend Line"
                              sample-count="150"
                              order="{{ctx.properties.order}}"
                              fit-type="{{ ctx.properties.fitType }}">
    </wj-flex-chart-trend-line>
    </wj-financial-chart>
    <br />
    <wj-menu header="Fit Type" value="ctx.properties.fitType">
                            <wj-menu-item value="'Linear'">Linear</wj-menu-item>
                            <wj-menu-item value="'Exponential'">Exponential</wj-menu-item>                            
                            <wj-menu-item value="'Fourier'">Fourier</wj-menu-item>
                            <wj-menu-item value="'Polynomial'">Polynomial</wj-menu-item>
                            <wj-menu-item value="'AverageX'">Avg. X</wj-menu-item>
                            <wj-menu-item value="'MinX'">Min X</wj-menu-item>
                            <wj-menu-item value="'MaxX'">Max X</wj-menu-item>
                            <wj-menu-item value="'AverageY'">Avg. Y</wj-menu-item>
                            <wj-menu-item value="'MinY'">Min Y</wj-menu-item>
                            <wj-menu-item value="'MaxY'">Max Y</wj-menu-item>
                        </wj-menu>
    <label>
        Order</label>
    <wj-input-number value="ctx.properties.order" min="2" step="1" format="n0" max="10">
                        </wj-input-number>
    <pre>
   1. Run attached sample.  
      Observe: Trendline cannot display properly on "Box" series in 'Fit Type' as Linear. - Incorrect

   2. Set 'Order' as 10.
      Observe : "Box" series changes - Incorrect
      Expected: "Box" and "Trend Line" series should not change because 'Order' property can only applied on fit type [Polynomial and Fourier]

   3. Change another fit type (eg: Avg.X).
      Observe: Trendline can be displayed properly on "Box" series - Correct       
   </pre>
</body>
</html>
