﻿<!DOCTYPE html>
<html ng-app ="app" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />

    <!-- app scripts and styles-->
    
    <script src="../scripts/controllers/fnchartCtrl.js" type="text/javascript"></script>
</head>
        <body ng-controller="appCtrl">
        
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><pre>
        Title: [FinancialChart] Unlike previous build,legend does not show for fibonacci tools although defined in fibonacci series name.
        </pre>
            <wj-financial-chart control="ctx.chart"
                                header="{{chartProps.header}}"
                                items-source="data"
                                chart-type="Line"
                                symbol-size="4"
                                binding-x="date">
                 <wj-financial-chart-series binding="{{chartProps.bindingY}}" name="Financial"></wj-financial-chart-series>
                 <wj-flex-chart-fibonacci binding="close" name="Fibonacci Retracements" control="ctx.fibo"
                                 ng-attr-style="{ fill: 'red',fontSize:10 }">
            </wj-flex-chart-fibonacci>
            </wj-financial-chart>
            <wj-financial-chart control="ctx.chart"
                                header="{{chartProps.header}}"
                                items-source="data"
                                chart-type="Line"
                                symbol-size="4"
                                binding-x="date">
                 <wj-financial-chart-series binding="{{chartProps.bindingY}}" name="Financial"></wj-financial-chart-series>
                 <wj-flex-chart-fibonacci-fans binding="close" control="ctx.fiboFans"
                                      name="fibonacciFans" >
        </wj-flex-chart-fibonacci-fans>
            </wj-financial-chart>
          
            <pre>
Repro Steps :
1.Run the sample "QA_135383.htm".
Observe: Legend will not show for Fibonacci tool. …[Incorrect]
Expected: Legend should show since already defined series name. 

</pre>
        </body>
</html>

