﻿<!DOCTYPE html>
<html ng-app ="app" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />

    <!-- app scripts and styles-->
    
    <script src="../scripts/controllers/fnchartCtrl.js" type="text/javascript"></script>
</head>
        <body ng-controller="appCtrl">
        
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><pre>Title:[FlexChart]Unlike previous build 226, javascript error occurs and datalabels are not displayed </pre>

            <wj-financial-chart control="tpChart"
                                header="{{chartProps.header}}"
                                items-source="data"
                                chart-type="{{chartProps.chartType}}"
                                symbol-size="4"
                                binding-x="date">
                <wj-financial-chart-series name="HLOC" binding="{{chartProps.bindingY}}"></wj-financial-chart-series>
                 <wj-flex-chart-bollinger-bands binding="open"
                                       name="Bollinger Bands"
                                       control="ctx.bollband"
                                       period="{{ ctx.properties.bollingerPeriod }}"
                                       multiplier="{{ ctx.properties.bollingerMultiplier }}">
        </wj-flex-chart-bollinger-bands>
        <wj-flex-chart-envelopes binding="open"
                                 name="Envelopes"
                                 control="ctx.enve"
                                 period="{{ ctx.properties.envelopePeriod }}"
                                 type="{{ ctx.properties.envelopeType }}"
                                 size="{{ ctx.properties.envelopeSize }}">
        </wj-flex-chart-envelopes>
            </wj-financial-chart>
            <pre>
Repro Steps :
1.Run the sample "QA_215561.htm".
Observe: Both BollingerBands and Envelops series are displayed. 

</pre>
        </body>
</html>

