﻿<!DOCTYPE html>
<html ng-app="app">
<head>
 <title></title>
     <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    
    <script src="../scripts/controllers/fnchartCtrl.js" type="text/javascript"></script>
</head>
<body ng-controller="appCtrl">
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><pre>[FinancialChart]To test the tooltip of the annotation can be shown properly by using 'tooltip' property</pre>
    <wj-financial-chart control="tpChart" items-source="data" chart-type="{{chartProps.chartType}}"
        symbol-size="4" binding-x="date">
        <wj-financial-chart-series binding="close" name="Series"></wj-financial-chart-series>   
         <wj-flex-chart-annotation-layer control="ctx.layer">
                        <wj-flex-chart-annotation type="Rectangle"
                                                  content="E"
                                                  height="32"
                                                  width="30"
                                                  attachment="DataIndex"
                                                  point-index="10"
                                                    tooltip= "E"
                                                  style="{'fill': '#cccccc', 'stroke': '#888888', 'fill-opacity': 1, 'stroke-width': 1, 'stroke-opacity': 1 }">
                                                
                        </wj-flex-chart-annotation>

                        <wj-flex-chart-annotation type="Shape"
                                                  content="ComponentOne"
                                                  point="{x: 0.5, y: 0.5}"
                                                  attachment="Relative"
                                                  tooltip="ComponentOne">
                        </wj-flex-chart-annotation>
                        </wj-flex-chart-annotation-layer>
             
    </wj-financial-chart>
    <br />
    
    <pre>
   1. Run attached sample. 
   2. Hover on rectangle annotation. 
      Observe: Tooltip should be displayed wtih content "E".    
   3. Hover on text annotation.
      Observe: Tooltip should be displayed with content "ComponentOne". 
   </pre>
</body>
</html>
