﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
       <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />

    <!-- app scripts and styles-->
    

     <script type="text/javascript">
         var app = angular.module('app', ['wj']);

         app.controller('appCtrl', function ($scope) {


             $scope.tpChart = null;

             $scope.range = {
                 seamless: true
             }


             $scope.data = [
                    { "date": 5, "open": 42.05, "high": 45, "low": 38, "close": 38.23, "volume": 580587742 },
                    { "date": 10, "open": 32.61, "high": 33.59, "low": 30.94, "close": 31, "volume": 102053826 },
                    { "date": 15, "open": 31.37, "high": 32.5, "low": 31.36, "close": 32, "volume": 73721135 },
                    { "date": 20, "open": 32.95, "high": 33.21, "low": 31.77, "close": 33.03, "volume": 50275879 },
                    { "date": 25, "open": 32.9, "high": 32.95, "low": 31.11, "close": 31.91, "volume": 37189630 },
                    { "date": 30, "open": 28.7, "high": 29.55, "low": 27.86, "close": 28.19, "volume": 57267867 },
                    { "date": 35, "open": 28.54, "high": 29.67, "low": 26.83, "close": 29.6, "volume": 111639200 },
                    { "date": 40, "open": 28.89, "high": 29.15, "low": 27.39, "close": 27.72, "volume": 41855500 },
                    { "date": 45, "open": 27.2, "high": 27.65, "low": 26.44, "close": 26, "volume": -35230290 },
                    { "date": 50, "open": 26.7, "high": 27.76, "low": 25.75, "close": 25.87, "volume": 42473262 },
                    { "date": 55, "open": 26.07, "high": 27.17, "low": 25.52, "close": -26.81, "volume": 61487019 },
                    { "date": 60, "open": 27, "high": 27.35, "low": 26.15, "close": 26.31, "volume": 26167757 },
                    { "date": 65, "open": 26.55, "high": 27.76, "low": 26.44, "close": 27.1, "volume": 27105615 },
                    { "date": 70, "open": 27.18, "high": 28.07, "low": 26.84, "close": 27, "volume": 28225887 }
      ];
         });

     </script>  
</head>
<body ng-app="app" ng-controller="appCtrl">

        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><pre>TestCase 134957: [FinancialChart]To test whether the minimal and maximal handler can move seamlessly by using 'seamless' property.</pre>

<wj-menu value="range.seamless" Header="SeamLess">
    <wj-menu-item value="true">True</wj-menu-item>
    <wj-menu-item value="false">False</wj-menu-item>
 </wj-menu>

<wj-financial-chart control="tpChart"
                    items-source="data"
                    binding-x="date"                           
                    tooltip-content="" 
                    legend-toggle="true"
                    label-content="{y}"                  
                    style="width:800px; height:500px"
                    chart-type="Column">                       
                   
<wj-financial-chart-series binding="high,low,open,close,volume" name="HLOCV"></wj-financial-chart-series> 

  <wj-flex-chart-range-selector control="ctx.selector"
                                  seamless="{{range.seamless}}"
                                  min="0"
                                  max="100">
                                 
    </wj-flex-chart-range-selector>
</wj-financial-chart>
</body>
</html>
