﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app ="app" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
     <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <!-- app scripts and styles-->
    
    <script src="../scripts/controllers/fnchartCtrl.js" type="text/javascript"></script>
</head>
<body ng-controller="appCtrl">
  
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><pre>
        Title: [FinancialChart]To test whether range selector can be remove from chart by using 'remove' function
   </pre>
      <wj-financial-chart items-source="data"
                        binding-x="date"
                        chart-type="Candlestick"
                        style="height: 200px"
                        control="ctx.chart"
                        tooltip-content=""
                        symbol-size="6"
                        legend-toggle="true">
        <wj-financial-chart-series binding="high,low,open,close">
        </wj-financial-chart-series>
        <wj-flex-chart-range-selector control="ctx.selector"
                                      range-changed="chartRangeChanged()" max="50" min="20">
        </wj-flex-chart-range-selector>
    </wj-financial-chart>
      <button ng-click="remove()">Remove</button>
    <pre>
    Repro Steps:
    1.Run 'TC_134955.html'.
    2.Click 'Remove' button to remove range selector from chart.
    Observe: Range selector will be removed from chart.
    </pre>
</body>
</html>
