﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />

    <!-- app scripts and styles-->
    
    <script src="../scripts/controllers/fnchartCtrl.js" type="text/javascript"></script>
</head>
<body ng-app="app" ng-controller="appCtrl">
        
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><p>Test Case 134902:[FinancialChart] To test whether 'smoothingPeriod' property of MACD indicator series can be defined for the exponential moving average period for the signal line</p>
        <label>smoothingPeriod:</label>
        <wj-input-number id="mnuPeriod" value="ctx.macd.smoothingPeriod" min="2" step="1" format="n0"></wj-input-number>
        <wj-financial-chart control="tpChart" items-source="data" chart-type="{{chartProps.chartType}}"
        symbol-size="4" binding-x="date" legend-toggle="true" style="width:500px;height:400px">
            <wj-flex-chart-macd control="ctx.macd"
                                binding= "high,low,open,close"
                                name="MACD,Singal"
                                symbol-size="1"
                                fast-period="{{fastPeriod}}"
                                slow-period="{{slowPeriod}}"
                                smoothing-period="{{smoothingPeriod}}"
                                styles="macdStyles">
            </wj-flex-chart-macd>
        </wj-financial-chart>
</body>
</html>