﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <!-- app scripts and styles-->
    
    <script src="../scripts/controllers/fnchartCtrl.js" type="text/javascript"></script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><pre>Test Case 134938: [FinancialChart] To test whether the horizontal position of the LineMarker can be set by using 'horizotalPosition' property</pre>
    <wj-financial-chart items-source="data" binding-x="date" control="tpChart" style="height: 500px;
        width: 800px" chart-type="HeikinAshi" tooltip-content="">                          
            <wj-financial-chart-series binding="high,low,open,close" name="HLOC"></wj-financial-chart-series>     
            <wj-flex-chart-line-marker lines="Both"
                                    interaction="Drag"
                                    horizontal-position="{{lineMarker.horizontalPosition}}"
                                    content="lineMarker.content">
            </wj-flex-chart-line-marker>
    </wj-financial-chart>
    <wj-menu value="lineMarker.horizontalPosition" header="Horizontal Position">
        <wj-menu-item value="0">0</wj-menu-item>
        <wj-menu-item value="1">1</wj-menu-item>
    </wj-menu>
</body>
</html>
