﻿<!DOCTYPE html>
<html ng-app="app">
<head>
    <title></title>
     <title></title>
     <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    
    <script src="../scripts/controllers/fnchartCtrl.js" type="text/javascript"></script>
</head>
<body ng-controller="appCtrl">
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><pre>[FinancialChart] To test whether label alignment can be set properly by uisng 'labelAlign' property</pre>
    <wj-financial-chart control="tpChart" items-source="data" chart-type="{{chartProps.chartType}}"
        symbol-size="4" binding-x="date" label-content="{y}"   style="width:900px;height:500px">
         <wj-flex-chart-axis wj-property="axisX"  label-angle = "0" title="AxisX"></wj-flex-chart-axis>

         <wj-flex-chart-axis wj-property="axisY"  label-angle = "0" title="AxisY"></wj-flex-chart-axis>

        <wj-financial-chart-series binding="close" name="Series"></wj-financial-chart-series>   
        
    </wj-financial-chart>
    <br />
    <wj-menu value="tpChart.axisX.labelAlign" header="AxisX.labelAlign">
                    <wj-menu-item value="'Left'">Left</wj-menu-item>
                    <wj-menu-item value="'Right'">Right</wj-menu-item>
                    <wj-menu-item value="'Center'">Center</wj-menu-item>
                    
   </wj-menu>
    <wj-menu value="tpChart.axisY.labelAlign" header="AxisY.labelAlign">
                    <wj-menu-item value="'Top'">Top</wj-menu-item>
                    <wj-menu-item value="'Bottom'">Bottom</wj-menu-item>
                    <wj-menu-item value="'Center'">Center</wj-menu-item>
   </wj-menu>
    <pre>
   1. Run attached sample. 
   2. Choose "Left" in "AxisX.labelAlign" dropdown.
      Observe: AxisX's labels should be displayed at left of major tickmark.
   3. Choose "Right"  in "AxisX.labelAlign" dropdown.
      Observe: AxisX's labels should be displayed at right of major tickmark.
   4. Choose "Top" in "AxisY.labelAlign" dropdown.
      Observe: AxisY's labels should be displayed at top of major tickmark.
   5. Choose "Bottom"  in "AxisY.labelAlign" dropdown.
      Observe: AxisY's labels should be displayed at bottom of major tickmark.      
   
   </pre>
</body>
</html>
