﻿<!DOCTYPE html>
<html ng-app="app">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    
    <script src="../scripts/controllers/fnchartCtrl.js" type="text/javascript"></script>
</head>
<body ng-controller="appCtrl">
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><pre>[FinancialChart]To test 'start' property of FibonacciArcs tool is working correclty to define starting DataPoint (with x and y coordinates) for the base line.</pre>
        <wj-financial-chart control="tpChart"
         style="width: 900px; height: 500px;"  
                                   items-source="data"
                                   chart-type="HighLowOpenClose"
                                   symbol-size="4"
                                   label-content="{y}"
                                   binding-x="date">
                    <wj-flex-chart-axis wj-property="axisY" axis-line="true"></wj-flex-chart-axis>
                    <wj-flex-chart-axis wj-property="axisX" title="Days"></wj-flex-chart-axis>
                    <wj-financial-chart-series binding="high,low,open,close" name="Test"></wj-financial-chart-series>    
                     <wj-flex-chart-fibonacci-arcs items-source="data"
                                      binding="close"
                                      start="chartProps.properties.arcs.start"
                                      end="chartProps.properties.arcs.end"                                
                                      name="Arcs">
        </wj-flex-chart-fibonacci-arcs>                            
                </wj-financial-chart>

                
                <label>Start X</label>
                <wj-input-number ng-model="chartProps.properties.arcs.start.x"
                                 step="1"
                                 value-changed="value1Changed(s,e)"
                                 style="width: 100px; height: 30px;"
                                 id="input1"
                                 ></wj-input-number>
           
                <label>Start Y</label>
                <wj-input-number ng-model="chartProps.properties.arcs.start.y"
                                 step="1"
                                 value-changed="value1Changed(s,e)"
                                 style="width: 100px; height: 30px;"
                                 id="input2"
                                 ></wj-input-number>

    <pre>
   1. Run attached sample.   
   2. Set '4' in StartX.     
      Observe:  FibonacciArcs tool is working correclty at starting X - 4.  
   3. Set '76' in StartY.
      Observe: FibonacciArcs tool is working correclty at starting Y - 76.
   
   </pre>
</body>
</html>
