﻿<!DOCTYPE html>
<html ng-app="app">
<head>
    <title></title>
     <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    
    <script src="../scripts/controllers/fnchartCtrl.js" type="text/javascript"></script>
</head>
<body ng-controller="appCtrl">
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><pre>[FinancialChart]To test legend icon can be shown properly for FibonacciTools</pre>
    <wj-financial-chart control="tpChart" items-source="data" chart-type="{{chartProps.chartType}}"
        symbol-size="4" binding-x="date">       

        <wj-financial-chart-series binding="{{chartProps.bindingY}}" name="Series"></wj-financial-chart-series>  
        
        <wj-flex-chart-fibonacci binding="low"
                                 symbol-size="1"
                                 ng-attr-style="{ fill: 'red', stroke: 'red', strokeWidth:0.5, fontSize:10 }"
                                 label-position="Left"
                                 uptrend="true"
                                 name="Fibo" 
                                 low = "74"
                                 high = "78"                                                                 
                                 >
        </wj-flex-chart-fibonacci> 
        
    </wj-financial-chart>
    <br />
    <wj-menu value="chartProps.chartType" header="Chart Type">        
        <wj-menu-item value="2">Line</wj-menu-item>
        <wj-menu-item value="4">Area</wj-menu-item>
        <wj-menu-item value="1">Scatter</wj-menu-item>
        <wj-menu-item value="0">Column</wj-menu-item>         
        <wj-menu-item value="5">Candlestick</wj-menu-item>  
        <wj-menu-item value="6">HighLowOpenClose</wj-menu-item>
        <wj-menu-item value="7">HeikinAshi</wj-menu-item>       
        <wj-menu-item value="11">ColumnVolume</wj-menu-item>
        <wj-menu-item value="12">EquiVolume</wj-menu-item>
        <wj-menu-item value="13">CandleVolume</wj-menu-item>
        <wj-menu-item value="14">ArmsCandleVolume</wj-menu-item>   
    </wj-menu>
    <pre>
   1. Run attached sample. 
   2. Choose any char type [eg: Area] in "Chart Type" dropdown.
      Observe: Fibonacci Tool's legend icon should not change although chart type change.       
   </pre>
</body>
</html>
