﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />

    <!-- app scripts and styles-->
    
    <script src="../scripts/controllers/fnchartCtrl.js" type="text/javascript"></script>     
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><pre>Test Case 134929:[FinancialChart]To test whether LineMarker line can be visible or not.</pre>

    <!--Financial Chart-->
    <wj-financial-chart control="tpChart"
                        items-source="data"
                        binding-x="date"
                        chart-type="Line"                           
                        tooltip-content=""
                        style="width:1200px">
       <wj-financial-chart-series binding="close" name="Close"></wj-financial-chart-series>
            <wj-flex-chart-line-marker interaction="{{lineMarker.interaction}}"
                                       is-visible = "{{lineMarker.visible}}"       
                                       lines="{{lineMarker.lines}}"
                                       content="lineMarker.content"                                      
                                       position-changed="positionChanged(s,e)">
            </wj-flex-chart-line-marker>
     </wj-financial-chart>
        <wj-menu id="mnuMarkerLines" value="lineMarker.lines" header="Marker Lines">
            <wj-menu-item value="'None'">None</wj-menu-item>
            <wj-menu-item value="'Vertical'">Vertical</wj-menu-item>
            <wj-menu-item value="'Horizontal'">Horizontal</wj-menu-item>
            <wj-menu-item value="'Both'">Both</wj-menu-item>
        </wj-menu>
       <wj-menu id="mnuMarkerVisible" value="lineMarker.visible" header="Visibility">
            <wj-menu-item value="true">True</wj-menu-item>
            <wj-menu-item value="false">False</wj-menu-item>          
        </wj-menu>
</body>
</html>
