﻿<!DOCTYPE html>
<html ng-app="app">
<head>
    <title></title>
     <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    
    <script src="../scripts/controllers/fnchartCtrl.js" type="text/javascript"></script>
</head>
<body ng-controller="appCtrl">
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><pre>Test Case 122974: [FinancialChart] To test 'DataFields' can apply on Renko and Kagi chart types</pre>
    <wj-financial-chart control="tpChart" 
                        items-source="data" 
                        chart-type="{{chartProps.chartType}}"
                        symbol-size="4" 
                        binding-x="date" 
                        label-content="{y}"   
                        style="width: 900px; height: 500px;">
                    <wj-financial-chart-series binding="{{chartProps.bindingY}}" name="Price"></wj-financial-chart-series>
                </wj-financial-chart>
    <wj-menu value="chartProps.chartType" header="Chart Type" id="menu1">                    
                    <wj-menu-item value="9">Renko</wj-menu-item>
                    <wj-menu-item value="10">Kagi</wj-menu-item>
                   
                </wj-menu>
   <wj-menu header="Kagi - Data Fields"
                         value="tpChart.options.kagi.fields"
                         item-clicked="option1Changed(s,e)" id="menu2">
                    <wj-menu-item value="'High'">High</wj-menu-item>
                    <wj-menu-item value="'Low'">Low</wj-menu-item>
                    <wj-menu-item value="'Open'">Open</wj-menu-item>
                    <wj-menu-item value="'Close'">Close</wj-menu-item>
                    <wj-menu-item value="'HighLow'">High/Low</wj-menu-item>
                    <wj-menu-item value="'HL2'">HL Avg.</wj-menu-item>
                    <wj-menu-item value="'HLC3'">HLC Avg.</wj-menu-item>
                    <wj-menu-item value="'HLOC4'">HLOC Avg.</wj-menu-item>
                </wj-menu>

                 <wj-menu header="Renko - Data Fields"
                         value="tpChart.options.renko.fields"
                         item-clicked="option1Changed(s,e)" id="menu3">
                    <wj-menu-item value="'High'">High</wj-menu-item>
                    <wj-menu-item value="'Low'">Low</wj-menu-item>
                    <wj-menu-item value="'Open'">Open</wj-menu-item>
                    <wj-menu-item value="'Close'">Close</wj-menu-item>               
                    <wj-menu-item value="'HL2'">HL Avg.</wj-menu-item>
                    <wj-menu-item value="'HLC3'">HLC Avg.</wj-menu-item>
                    <wj-menu-item value="'HLOC4'">HLOC Avg.</wj-menu-item>
                </wj-menu>
               
               
    <pre>
   
   1. Run attached sample.      
   2.Set datafields in Data Field menu.   
      Observe: Series value will changed according to it's data field value. 
   </pre>
</body>
</html>
