﻿<!DOCTYPE html>
<html ng-app="app">
<head>
    <title></title>
    <title></title>
     <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    
    <script src="../scripts/controllers/fnchartCtrl.js" type="text/javascript"></script>
</head>
<body ng-controller="appCtrl">
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><pre>[FinancialChart]To test whether legend toggle is working properly for Indicator series.</pre>
    <wj-financial-chart control="tpChart" items-source="data" chart-type="{{chartProps.chartType}}"
        symbol-size="4" binding-x="date" legend-toggle="true">      

        <wj-flex-chart-atr binding="high,low,open,close"
                           name="ATR"
                           period="14"
                          >
        </wj-flex-chart-atr>

       <wj-flex-chart-rsi binding="close"
                           name="RSI"
                           period="14"
                           >
        </wj-flex-chart-rsi>

         <wj-flex-chart-cci binding="high,low,open,close"
                           name="CCI"
                           period="20"
                           >
        </wj-flex-chart-cci>

         <wj-flex-chart-williams-r binding="high,low,open,close"
                              name="Williams %R"
                              period="16"
                              >
         </wj-flex-chart-williams-r>
        
    </wj-financial-chart>
    <pre>
   1. Run attached sample.  
   2. Legend Off/On "ATR" indicator series.
      Observe: Legend for "ATR" indicator series can work properly.
   3. Legend Off/On "RSI" indicator series.
      Observe: Legend for "RSI" indicator series can work properly. 
   4. Legend Off/On "CCI" indicator series.
      Observe: Legend for "CCI" indicator series can work properly. 
   5. Legend Off/On "Williams %R" indicator series.
      Observe: Legend for "Williams %R" indicator series can work properly.                  
   </pre>
</body>
</html>
