﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />

    <!-- app scripts and styles-->
    
    <script src="../scripts/controllers/fnchartCtrl.js" type="text/javascript"></script>
</head>
<body ng-app="app" ng-controller="appCtrl">
        
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><p>Test Case 134891:[FinancialChart] To test whether 'visibility' property of ATR indicator series working correctly</p>
        <wj-menu id="mnu" value="ctx.atr.visibility" header="Visibility">
            <wj-menu-item value="0">Visible</wj-menu-item>
            <wj-menu-item value="1">Plot</wj-menu-item>
            <wj-menu-item value="2">Legend</wj-menu-item>
            <wj-menu-item value="3">Hidden</wj-menu-item>
        </wj-menu>
        <wj-financial-chart control="tpChart" items-source="data" chart-type="{{chartProps.chartType}}"
        symbol-size="4" binding-x="date" legend-toggle="true" style="width:500px;height:400px">      
            <wj-financial-chart-series items-source="data" binding="{{chartProps.bindingY}}" name="Financial"></wj-financial-chart-series>
            <wj-flex-chart-atr binding="high,low,open,close"
                               control="ctx.atr"
                               name="ATR"
                               period="2">
             </wj-flex-chart-atr>
    </wj-financial-chart>
</body>
</html>