﻿<!DOCTYPE html>
<html ng-app="app">
<head>
     <title></title>
     <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    
    <script src="../scripts/controllers/fnchartCtrl.js" type="text/javascript"></script>
</head>
<body ng-controller="appCtrl">
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><pre>[FinancialChart]To test scaling specifiers are working properly in format property of both axes</pre>
     <wj-financial-chart control="tpChart"
                        items-source="data1"
                        chart-type="{{chartProps.chartType}}"
                        symbol-size="4"
                        binding-x="open"
                       >
        <wj-financial-chart-series name="Open" binding="open"></wj-financial-chart-series>
         </wj-financial-chart>
					<button ng-click="xFormatN()" id="btn1">AxisX-Format=(n,)</button>
                    <button ng-click="xFormatN1()" id="btn2">AxisX-Format=(n,,)</button><br/>
					<button ng-click="yFormatN()" id="btn3">AxisY-Format=(n,)</button>
					<button ng-click="yFormatN1()" id="btn4">AxisY-Format=(n,,)</button><br/>	
    <pre>
   
   1. Run attached sample.   
      Observer: AxisX and AxisY labels are shown with multiple zero, hard to read and take up too much room.   
   2. Set 'AxisX-Format=(n,)' and 'AxisY-Format=(n,)'.
      Observe: A thousand (ie,000) will hide.
   3. Set  'AxisX-Format=(n,,)' and 'AxisY-Format=(n,,)'. 
      Observe: '000,000' will hide and take up less space.
 
   </pre>
</body>
</html>
