﻿<!DOCTYPE html>
<html ng-app="app">
<head>
    <title></title>
     <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    
    <script src="../scripts/controllers/fnchartCtrl.js" type="text/javascript"></script>
</head>
<body ng-controller="appCtrl">
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><pre>[FinancialChart]To test whether seriesVisibility property is working properly for trendline series</pre>
    <wj-financial-chart control="tpChart" items-source="data" chart-type="{{chartProps.chartType}}"
        symbol-size="4" binding-x="date">
        <wj-financial-chart-series binding="close" name="Series"></wj-financial-chart-series>
         <wj-flex-chart-trend-line binding="close"
                              name="Trend Line"
                              sample-count="150"
                              order="2"
                              fit-type="Linear">
    </wj-flex-chart-trend-line>
    </wj-financial-chart>
    <br />
    <wj-menu value="tpChart.series[1].visibility" header="Series[1]Visibility">
        <wj-menu-item value="0">Visible</wj-menu-item>
        <wj-menu-item value="2">Legend</wj-menu-item>
        <wj-menu-item value="1">Plot</wj-menu-item>
        <wj-menu-item value="3">Hidden</wj-menu-item>
    </wj-menu>
    <pre>
   1. Run attached sample.      
   2. Choose "Hidden" in "Series[1]Visisbility" dropdown.
      Observe: The series should be hidden.
   3. Choose "Visible" to change default value
   4. Choose "Plot" in "Series[1]Visisbility" dropdown.
      Observe: The series should be visible only on the plot.
   5. Choose "Visible" to change default value    
   6. Choose "Legend" in "Series[1]Visisbility" dropdown.
      Observe: The series should visible only in the legend. 
   7. Choose "Visible" to change default value
   8. Choose "Visible" in "Series[1]Visisbility" dropdown.
      Observe: The series should visible on the plot and in the legend.
   </pre>
</body>
</html>
