﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
       <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />

    <!-- app scripts and styles-->
    
     <script type="text/javascript">
         var app = angular.module('app', ['wj']);

         app.controller('appCtrl', function ($scope) {

             $scope.tpChart = null;
             $scope.palette = 'standard';
             $scope.palettes = 'standard,cocoa,coral,dark,highcontrast,light,midnight,modern,organic,slate,zen,cyborg,superhero,flatly,darkly,cerulan'.split(',');

             $scope.paletteChanged = function (sender) {
                 var p = $scope.palettes[sender.selectedIndex];
                 $scope.palette = p;
                 $scope.tpChart.palette = wijmo.chart.Palettes[p];
             };
        

             $scope.data = [
         { "date": "05/18/12", "open": 42.05, "high": 45, "low": 38, "close": 38.23, "volume": 580587742 },
                    { "date": "05/21/12", "open": 36.53, "high": 36.66, "low": 33, "close": 34.03, "volume": 168309831 },
                    { "date": "05/22/12", "open": 32.61, "high": 33.59, "low": 30.94, "close": 31, "volume": 102053826 },
                    { "date": "05/23/12", "open": 31.37, "high": 32.5, "low": 31.36, "close": 32, "volume": 73721135 },
                    { "date": "05/24/12", "open": 32.95, "high": 33.21, "low": 31.77, "close": 33.03, "volume": 50275879 },
                    { "date": "05/25/12", "open": 32.9, "high": 32.95, "low": 31.11, "close": 31.91, "volume": 37189630 },
                    { "date": "05/29/12", "open": 31.48, "high": 31.69, "low": 28.65, "close": 28.84, "volume": 78060799 },
                    { "date": "05/30/12", "open": 28.7, "high": 29.55, "low": 27.86, "close": 28.19, "volume": 57267867 },
                    { "date": "05/31/12", "open": 28.54, "high": 29.67, "low": 26.83, "close": 29.6, "volume": 111639200 },
                    { "date": "06/01/12", "open": 28.89, "high": 29.15, "low": 27.39, "close": 27.72, "volume": 41855500 },
                    { "date": "06/04/12", "open": 27.2, "high": 27.65, "low": 26.44, "close": 26.9, "volume": 35230290 },
                    { "date": "06/05/12", "open": 26.7, "high": 27.76, "low": 25.75, "close": 25.87, "volume": 42473262 },
                    { "date": "06/06/12", "open": 26.07, "high": 27.17, "low": 25.52, "close": 26.81, "volume": 61487019 },
                    { "date": "06/07/12", "open": 27, "high": 27.35, "low": 26.15, "close": 26.31, "volume": 26167757 },
                    { "date": "06/08/12", "open": 26.55, "high": 27.76, "low": 26.44, "close": 27.1, "volume": 38033420 },
                    { "date": "06/11/12", "open": 27.18, "high": 28.07, "low": 26.84, "close": 27, "volume": 28225887 }
      ];
         });

     </script>      
</head>
<body ng-app="app" ng-controller="appCtrl">

        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><pre>Test Case 133212:[FinancialChart]To test whether custom displayed color of each sereis can set properly or not by 'palette' property</pre>
 
  <wj-menu header="Palette: <b>{{ palette }}</b>"
                                 items-source="palettes"
                                 item-clicked="paletteChanged(s, e)">
  </wj-menu>
  
  <!--Financial Chart-->
<wj-financial-chart control="tpChart"
                    items-source="data"
                    binding-x="date" 
                    tooltip-content=""               
                    label-content="{y}"
                    style="width:800px; height:500px"
                    chart-type="ArmsCandleVolume">                       
                   
<wj-financial-chart-series binding="high,low,open,close,volume" name="HLOCV"></wj-financial-chart-series>        
</wj-financial-chart>
</body>
</html>
