﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <!-- app scripts and styles-->
    
    <script src="../scripts/controllers/fnchartCtrl.js" type="text/javascript"></script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><pre>Test Case 149481: [FinancialChart] To test whether the point of the annotation is working properly by using 'point' property.</pre>
    <wj-financial-chart items-source="data" control="tpChart" binding-x="date" chart-type="Line"
        style="height: 350px; width: 1000px">                                                    
        <wj-financial-chart-series binding="high">
        </wj-financial-chart-series>         
        <wj-flex-chart-annotation-layer>
            <wj-flex-chart-annotation type="Ellipse"  
                                        control="annotation.annoCtrl"                                      
                                        point = "{x: 0, y: 0}"                                          
                                        position="Center"
                                        attachment="Relative"                                      
                                        ng-attr-style="{ 'fill': '#a3d1a7', 'stroke': '#7b9e7e', 'fill-opacity': 1, 'stroke-width': 2, 'stroke-opacity': 1 }"></wj-flex-chart-annotation>                                              
            </wj-flex-chart-annotation>
        </wj-flex-chart-annotation-layer>
    </wj-financial-chart>
    <input id="setPoint" type="button" value="Set Annotation Point" ng-click="changePointValue(s,e)" />
</body>
</html>
