﻿<!DOCTYPE html>
<html ng-app="app">
<head>
   <title></title>
     <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    
    <script src="../scripts/controllers/fnchartCtrl.js" type="text/javascript"></script>
</head>
<body ng-controller="appCtrl">
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><pre>[FinancialChart] To test legend positions can be set properly in all chart types</pre>
    <wj-financial-chart control="tpChart" items-source="data" chart-type="{{chartProps.chartType}}"
        symbol-size="4" binding-x="date"  label-content="{y}" style="width:600px;height=400px">
                    <wj-financial-chart-series binding="{{chartProps.bindingY}}" name="Price"></wj-financial-chart-series>
                </wj-financial-chart>
    <wj-menu value="chartProps.chartType" header="Chart Type">
                    <wj-menu-item value="4">Area</wj-menu-item>
                    <wj-menu-item value="2">Line</wj-menu-item>
                    <wj-menu-item value="0">Column</wj-menu-item>
                    <wj-menu-item value="5">Candlestick</wj-menu-item>
                    <wj-menu-item value="6">HighLowOpenClose</wj-menu-item>
                    <wj-menu-item value="7">HeikinAshi</wj-menu-item>
                    <wj-menu-item value="8">LineBreak</wj-menu-item>
                    <wj-menu-item value="9">Renko</wj-menu-item>
                    <wj-menu-item value="10">Kagi</wj-menu-item>
                    <wj-menu-item value="11">ColumnVolume</wj-menu-item>
                    <wj-menu-item value="12">EquiVolume</wj-menu-item>
                    <wj-menu-item value="13">CandleVolume</wj-menu-item>
                    <wj-menu-item value="14">ArmsCandleVolume</wj-menu-item>
                </wj-menu>
      <wj-menu value="tpChart.legend.position" header="LegendPosition">
                    <wj-menu-item value="5">Auto</wj-menu-item>
                    <wj-menu-item value="4">Bottom</wj-menu-item>
                    <wj-menu-item value="1">Left</wj-menu-item>                   
                    <wj-menu-item value="3">Right</wj-menu-item>
                    <wj-menu-item value="2">Top</wj-menu-item>
                </wj-menu>
    <pre>
   1. Run attached sample.      
   2. Change all chart types in "Chart Type" dropdown.
   3. Choose legend position to 'Left/Right/Bottom/Top'.
      Observe:Legend will be displayed according to legend positions directions on chart area. 
     
   </pre>
</body>
</html>
