﻿<!DOCTYPE html>
<html ng-app="app">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    
    <script src="../scripts/controllers/fnchartCtrl.js" type="text/javascript"></script>
</head>
<body ng-controller="appCtrl">
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><pre>[FinancialChart]To test axes(x,y) labels angel can be defined properly by using 'labelAngle' property.</pre>
       <wj-menu value="tpChart.axisY.labelAngle" header="AxisY.labelAngle" id="menu1">
                    <wj-menu-item value="-90">-90</wj-menu-item>
                    <wj-menu-item value="-45">-45</wj-menu-item>
                    <wj-menu-item value="0">0</wj-menu-item>
                    <wj-menu-item value="45">45</wj-menu-item>
                    <wj-menu-item value="90">90</wj-menu-item>
                </wj-menu>

                  <wj-menu value="tpChart.axisX.labelAngle" header="AxisX.labelAngle" id="menu2">
                    <wj-menu-item value="-90">-90</wj-menu-item>
                    <wj-menu-item value="-45">-45</wj-menu-item>
                    <wj-menu-item value="0">0</wj-menu-item>
                    <wj-menu-item value="45">45</wj-menu-item>
                    <wj-menu-item value="90">90</wj-menu-item>
                </wj-menu><br />
    <wj-financial-chart control="tpChart" items-source="data" chart-type="{{chartProps.chartType}}"
     style="width: 900px; height: 500px;"     
        symbol-size="4" binding-x="date">        

        <wj-financial-chart-series binding="{{chartProps.bindingY}}" name="Series"></wj-financial-chart-series>  
        
        
        
    </wj-financial-chart>
    <br /> 



    <pre>
   1. Run attached sample.        
   2. Choose any label angle in "AxisY.labelAngle" dropdown.
      Observe: AxisY's label angle should be displayed properly.
   3. Choose any label angle in "AxisX.labelAngle" dropdown.     
      Observe: AxisX's label angle should be displayed properly.
   </pre>
</body>
</html>
