﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <!-- app scripts and styles-->
    
    <script src="../scripts/controllers/fnchartCtrl.js" type="text/javascript"></script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><pre>Test Case 149478: [FinancialChart] To test the name of the annotation can be set properly by using 'name' property.</pre>
    <wj-financial-chart items-source="data" control="tpChart" binding-x="date" chart-type="Line"
        style="height: 350px; width: 1000px">                                                    
        <wj-financial-chart-series binding="high">
        </wj-financial-chart-series>         
        <wj-flex-chart-annotation-layer>
            <wj-flex-chart-annotation type="Circle" radius="40" offset="{x: 0, y: -15}" series-index="0"
                                    point-index="20" position="Center" attachment="DataIndex" name = "{{annoName}}"                                         
                                    ng-attr-style="{ 'fill': '#a3d1a7', 'stroke': '#7b9e7e', 'fill-opacity': 1, 'stroke-width': 2, 'stroke-opacity': 1 }">                                            
            </wj-flex-chart-annotation>
        </wj-flex-chart-annotation-layer>
    </wj-financial-chart>
    <label>
        Set Annotation Name:
    </label>
    <input id="annoInput" type="text" ng-model="annoName" />
    <label>
        Get Assigned Annotation Name:
    </label>
    <input id="annoOutput" type="text" />
</body>
</html>
