﻿<!DOCTYPE html>
<html ng-app="app">
<head>
    <title></title>
     <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    
    <script src="../scripts/controllers/fnchartCtrl.js" type="text/javascript"></script>
</head>
<body ng-controller="appCtrl">
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><pre>[FinancialChart] To test SelectionModes are working correctly according to it's chart types</pre>
    <wj-financial-chart control="tpChart" items-source="data" chart-type="{{chartProps.chartType}}"
        symbol-size="4" binding-x="date" disabled="false" label-content="{y}">
                    <wj-financial-chart-series binding="{{chartProps.bindingY}}" name="Price"></wj-financial-chart-series>
                </wj-financial-chart>
    <wj-menu value="chartProps.chartType" header="Chart Type">
                    <wj-menu-item value="4">Area</wj-menu-item>
                    <wj-menu-item value="2">Line</wj-menu-item>
                    <wj-menu-item value="0">Column</wj-menu-item>
                    <wj-menu-item value="5">Candlestick</wj-menu-item>
                    <wj-menu-item value="6">HighLowOpenClose</wj-menu-item>
                    <wj-menu-item value="7">HeikinAshi</wj-menu-item>
                    <wj-menu-item value="8">LineBreak</wj-menu-item>
                    <wj-menu-item value="9">Renko</wj-menu-item>
                    <wj-menu-item value="10">Kagi</wj-menu-item>
                    <wj-menu-item value="11">ColumnVolume</wj-menu-item>
                    <wj-menu-item value="12">EquiVolume</wj-menu-item>
                    <wj-menu-item value="13">CandleVolume</wj-menu-item>
                    <wj-menu-item value="14">ArmsCandleVolume</wj-menu-item>
                </wj-menu>
   <wj-menu value="tpChart.series[0].visibility" header="Series[0]Visibility">
                    <wj-menu-item value="0">Visible</wj-menu-item>
                    <wj-menu-item value="2">Legend</wj-menu-item>
                    <wj-menu-item value="1">Plot</wj-menu-item>
                    <wj-menu-item value="3">Hidden</wj-menu-item>
                </wj-menu>
    <pre>
   1. Run attached sample.      
   2. Change all chart types in "Chart Type" dropdown.
   3. Choose visibility to 'Legend' .
      Observe:Legend will disappear from chart. 
   4. Choose visibility to 'Plot'. 
      Observe: Series will disappear from chart but legend will left.
   5. Choose visibility to 'Visible'.
      Observe: Both series and legend will be displayed in chart.
   6. Choose visibility to 'Hidden'.
      Observe:  Both series and legend will disappear from chart.
   </pre>
</body>
</html>
