﻿<!DOCTYPE html>
<html ng-app="app">
<head>
   <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    
    <script src="../scripts/controllers/fnchartCtrl.js" type="text/javascript"></script>
</head>
<body ng-controller="appCtrl">
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><pre>[FinancialChart]To test whether 'binding' property can be used to set the name of the property that contains Y values for the fibonancci series.</pre>
    <table>
        <tr>
            <td>
                <wj-financial-chart control="tpChart" items-source="data" chart-type="{{chartProps.chartType}}"
                    id="fnChart1" style="width: 600px; height: 300px;" selection-mode="Series" symbol-size="4"
                    binding-x="date" legend-toggle="false">        

        <wj-financial-chart-series binding="close" name="Series"  ></wj-financial-chart-series>         
        <wj-flex-chart-fibonacci binding="close"
                                 symbol-size="1"
                                 ng-attr-style="{ fill: 'red', stroke: 'red', strokeWidth:0.5, fontSize:10 }"                                
                                 uptrend="{{ chartProps.properties.retracements.uptrend }}"
                                 name="fibo"
                                 low="{{ chartProps.properties.retracements.low }}"
                                 high="77"
                                 >
        </wj-flex-chart-fibonacci>
        
    </wj-financial-chart>
            </td>
            <td>
                <wj-financial-chart control="tpChart" items-source="data" chart-type="{{chartProps.chartType}}"
                    id="fnChart2" style="width: 600px; height: 300px;" selection-mode="Series" symbol-size="4"
                    binding-x="date" legend-toggle="false">        

        <wj-financial-chart-series binding="close" name="Series"  ></wj-financial-chart-series>         
      <wj-flex-chart-fibonacci-arcs binding="close"
                                      start="chartProps.properties.arcs.start"
                                      end="chartProps.properties.arcs.end"
                                      
                                      name="Arcs">
        </wj-flex-chart-fibonacci-arcs>
        
    </wj-financial-chart>
            </td>
        </tr>
        <tr>
            <td>
                <wj-financial-chart control="tpChart" items-source="data" chart-type="{{chartProps.chartType}}"
                    id="fnChart3" style="width: 600px; height: 300px;" selection-mode="Series" symbol-size="4"
                    binding-x="date" legend-toggle="false">        

        <wj-financial-chart-series binding="close" name="Series"  ></wj-financial-chart-series>         
             <wj-flex-chart-fibonacci-fans binding="close"
                                     
                                      start="chartProps.properties.fans.start"
                                      end="chartProps.properties.fans.end"
                                       name="Fans"
                                   >
        </wj-flex-chart-fibonacci-fans>
    </wj-financial-chart>
            </td>
            <td>
                <wj-financial-chart control="tpChart" items-source="data" chart-type="{{chartProps.chartType}}"
                    id="fnChart4" style="width: 600px; height: 300px;" selection-mode="Series" symbol-size="4"
                    binding-x="date" legend-toggle="false">        

        <wj-financial-chart-series binding="close" name="Series"  ></wj-financial-chart-series>         
         <wj-flex-chart-fibonacci-time-zones binding="close"
                                            name="Time">
        </wj-flex-chart-fibonacci-time-zones>
        
    </wj-financial-chart>
            </td>
        </tr>
    </table>
    <pre>
   1. Run attached sample.        
      Observe: Fibonacci Series can be displayed properly using 'binding' property.
   
   </pre>
</body>
</html>
