﻿<!DOCTYPE html>
<html ng-app="app">
<head>
     <title></title>
     <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    
    <script src="../scripts/controllers/fnchartCtrl.js" type="text/javascript"></script>
</head>
<body ng-controller="appCtrl">
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><pre>[FinancialChart] To test legend toggle can work correctly in all chart types</pre>
    <wj-financial-chart control="tpChart" items-source="data" chart-type="{{chartProps.chartType}}"
        symbol-size="4" binding-x="date" label-content="{y}">
                    <wj-financial-chart-series binding="{{chartProps.bindingY}}" name="Price"></wj-financial-chart-series>
                </wj-financial-chart>
    <wj-menu value="chartProps.chartType" header="Chart Type">
                    <wj-menu-item value="4">Area</wj-menu-item>
                    <wj-menu-item value="2">Line</wj-menu-item>
                    <wj-menu-item value="0">Column</wj-menu-item>
                    <wj-menu-item value="5">Candlestick</wj-menu-item>
                    <wj-menu-item value="6">HighLowOpenClose</wj-menu-item>
                    <wj-menu-item value="7">HeikinAshi</wj-menu-item>
                    <wj-menu-item value="8">LineBreak</wj-menu-item>
                    <wj-menu-item value="9">Renko</wj-menu-item>
                    <wj-menu-item value="10">Kagi</wj-menu-item>
                    <wj-menu-item value="11">ColumnVolume</wj-menu-item>
                    <wj-menu-item value="12">EquiVolume</wj-menu-item>
                    <wj-menu-item value="13">CandleVolume</wj-menu-item>
                    <wj-menu-item value="14">ArmsCandleVolume</wj-menu-item>
                </wj-menu>
    <wj-menu value="tpChart.legendToggle" header="LegendToggle">
        <wj-menu-item value="true">True</wj-menu-item>
        <wj-menu-item value="false">False</wj-menu-item>       
    </wj-menu>
    <pre>
   1. Run attached sample.      
   2. Set LegendToggle to 'True'.
   3. Change all chart types in "Chart Type" dropdown.
      Observe:Legend can be toggle properly for all chart types.
   4. Set legend toggle to 'False'.
      Observe: Legend won't toggle.  
     
   </pre>
</body>
</html>
