﻿<!DOCTYPE html>
<html ng-app="app">
<head>
       
 <title></title>
     <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    
    <script src="../scripts/controllers/fnchartCtrl.js" type="text/javascript"></script>
</head>
<body ng-controller="appCtrl">
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><pre>[FinancialChart]To test the position of the annotation can be defined properly by using 'position' property</pre>
     <wj-menu value="ctx.layer.items[0].position" header="Annotation[E]Position">
          <wj-menu-item value="0">Center</wj-menu-item>
          <wj-menu-item value="1">Top</wj-menu-item>
          <wj-menu-item value="2">Bottom</wj-menu-item>
          <wj-menu-item value="8">Right</wj-menu-item>
          <wj-menu-item value="4">Left</wj-menu-item>
    </wj-menu><br />
    <wj-financial-chart control="tpChart" items-source="data" chart-type="{{chartProps.chartType}}"
        symbol-size="4" binding-x="date"   style="width:900px;height:500px">
        <wj-financial-chart-series binding="close" name="Series"></wj-financial-chart-series>   
         <wj-flex-chart-annotation-layer control="ctx.layer">
                        <wj-flex-chart-annotation 
                                                  type="Rectangle"
                                                  content="E"
                                                  height="15"
                                                  width="20"
                                                  attachment="DataIndex"
                                                  point-index="10"
                                                  tooltip= "E"                                      
                                                  style="{'fill': '#cccccc', 'stroke': '#888888', 'fill-opacity': 1, 'stroke-width': 1, 'stroke-opacity': 1 }">
                                                
                        </wj-flex-chart-annotation>

                        <wj-flex-chart-annotation type="Shape"
                                                  content="ComponentOne"
                                                  point="{x: 0.5, y: 0.5}"
                                                  attachment="Relative"
                                                  tooltip="ComponentOne">
                        </wj-flex-chart-annotation>
                        </wj-flex-chart-annotation-layer>
             
    </wj-financial-chart>
    <br />
   
    <pre>
   1. Run attached sample. 
   2. Choose "Top" in "Annotation[E]Position" dropdown.
      Observe: Annotation should be displayed at the top of target point.
   3. Choose "Bottom"  in "Annotation[E]Position" dropdown.
      Observe: Annotation should be displayed at the bottom of target point.
   4. Choose "Right" in "Annotation[E]Position" dropdown.
      Observe: Annotation should be displayed at the right of target point.
   5. Choose "Left" in "Annotation[E]Position" dropdown.
      Observe: Annotation should be displayed at the left of target point.  
   6. Choose "Center" in "Annotation[E]Position" dropdown.
      Observe: Annotation should be displayed at the center of target point.  
   
   </pre>
</body>
</html>
