﻿<!DOCTYPE html>
<html ng-app="app">
<head>
    <title></title>
     <title></title>
     <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    
    <script src="../scripts/controllers/fnchartCtrl.js" type="text/javascript"></script>
</head>
<body ng-controller="appCtrl">
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><pre>[FinancialChart] To test data label positions are working correctly in all chart types</pre>

     <wj-menu value="chartProps.chartType" header="Chart Type">
                    <wj-menu-item value="4">Area</wj-menu-item>
                    <wj-menu-item value="2">Line</wj-menu-item>
                    <wj-menu-item value="0">Column</wj-menu-item>
                    <wj-menu-item value="5">Candlestick</wj-menu-item>
                    <wj-menu-item value="6">HighLowOpenClose</wj-menu-item>
                    <wj-menu-item value="7">HeikinAshi</wj-menu-item>
                    <wj-menu-item value="8">LineBreak</wj-menu-item>
                    <wj-menu-item value="9">Renko</wj-menu-item>
                    <wj-menu-item value="10">Kagi</wj-menu-item>
                    <wj-menu-item value="11">ColumnVolume</wj-menu-item>
                    <wj-menu-item value="12">EquiVolume</wj-menu-item>
                    <wj-menu-item value="13">CandleVolume</wj-menu-item>
                    <wj-menu-item value="14">ArmsCandleVolume</wj-menu-item>
                </wj-menu>
    <wj-menu value="tpChart.dataLabel.position" header="LabelPosition">
        <wj-menu-item value="'None'">None</wj-menu-item>
        <wj-menu-item value="'Top'">Top</wj-menu-item>
        <wj-menu-item value="'Bottom'">Bottom</wj-menu-item>
        <wj-menu-item value="'Left'">Left</wj-menu-item>
        <wj-menu-item value="'Right'">Right</wj-menu-item>
        <wj-menu-item value="'Center'">Center</wj-menu-item>
    </wj-menu><br /><br />
    <wj-financial-chart control="tpChart" items-source="data" chart-type="{{chartProps.chartType}}"
        symbol-size="4" binding-x="date" label-content="{y}"   style="width:900px;height:500px">
                    <wj-financial-chart-series binding="{{chartProps.bindingY}}"></wj-financial-chart-series>
                </wj-financial-chart><br /><br />                   
    <pre>
   1. Run attached sample.      
   2. Set label position to 'Top,Bottom,Left,Right'.
      Observe:Label will be displayed according to it's label position direction on data point. 
   </pre>
</body>
</html>
