﻿<!DOCTYPE html>
<html ng-app="app">
<head>
    <title></title>
   <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
   <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    
    <script src="../scripts/controllers/fnchartCtrl.js" type="text/javascript"></script>
</head>
<body ng-controller="appCtrl">
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><pre>[FinancialChart]To test the data series index of the annotation can be defined by uisng 'seriesIndex' property</pre>
    <wj-financial-chart control="tpChart" items-source="data" chart-type="{{chartProps.chartType}}" legend-toggle="true"
        symbol-size="4" binding-x="date"   style="width:900px;height:500px">
        <wj-financial-chart-series binding="close" name="Series1"></wj-financial-chart-series>   
         <wj-financial-chart-series binding="open" name="Series2"></wj-financial-chart-series>   

         <wj-flex-chart-annotation-layer control="ctx.layer">
                        <wj-flex-chart-annotation 
                                                  type="Rectangle"
                                                  content="E"
                                                  height="15"
                                                  width="20"
                                                  attachment="DataIndex"
                                                  series-index="1"
                                                  point-index="10"
                                                  tooltip= "E"                                      
                                                  style="{'fill': '#cccccc', 'stroke': '#888888', 'fill-opacity': 1, 'stroke-width': 1, 'stroke-opacity': 1 }">
                                                
                        </wj-flex-chart-annotation>

                        <wj-flex-chart-annotation type="Shape"
                                                  content="ComponentOne"
                                                  point="{x: 0.5, y: 0.5}"
                                                  attachment="Relative"
                                                  tooltip="ComponentOne">
                        </wj-flex-chart-annotation>
                        </wj-flex-chart-annotation-layer>
             
    </wj-financial-chart>
    
    <pre>
   1. Run attached sample. 
      Observe: Annotation "E" should be displayed on Series2. 
               Annotation "E" should be disappear when legend "Series2" is off.  
   
   </pre>
</body>
</html>

  
