﻿<!DOCTYPE html>
<html ng-app="app">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    
    <script src="../scripts/controllers/fnchartCtrl.js" type="text/javascript"></script>
</head>
<body ng-controller="appCtrl">
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><pre>[FinancialChart]To test axes(x,y) labels can be hide/show by using 'labels' property.</pre>
    <wj-financial-chart control="tpChart" items-source="data" chart-type="{{chartProps.chartType}}"
     style="width: 900px; height: 500px;"     
        symbol-size="4" binding-x="date">        

        <wj-financial-chart-series binding="{{chartProps.bindingY}}" name="Series"></wj-financial-chart-series>  
        
        
        
    </wj-financial-chart>
    <br />
       <wj-menu value="tpChart.axisY.labels" header="axisY.labels" id="menu1">
                    <wj-menu-item value="false">False</wj-menu-item>
                    <wj-menu-item value="true">True</wj-menu-item>
                </wj-menu>

                  <wj-menu value="tpChart.axisX.labels" header="axisX.labels" id="menu2">
                    <wj-menu-item value="false">False</wj-menu-item>
                    <wj-menu-item value="true">True</wj-menu-item>
                </wj-menu>



    <pre>
   1. Run attached sample.        
   2. Choose true/false in "AxisY.labels" dropdown.
      Observe: AxisY's lable show/hide properly.
   3. Choose true/false in "AxisX.labels" dropdown.     
      Observe: AxisX's label show/hide properly.
   </pre>
</body>
</html>
