﻿<!DOCTYPE html>
<html ng-app="app">
<head>
     <title></title>
     <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    
    <script src="../scripts/controllers/fnchartCtrl.js" type="text/javascript"></script>
</head>
<body ng-controller="appCtrl">
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><pre>[FinancialChart]To test whether trendline is working correctly in FinancialChart according to trendline fit type</pre>
    <wj-financial-chart control="tpChart" items-source="data" chart-type="Line"
        symbol-size="4" binding-x="date" style="width:900px;height:500px">
                    <wj-financial-chart-series binding="high,low,open,close" name="Price"></wj-financial-chart-series>
                      <wj-flex-chart-trend-line binding="close"
                              name="Trend Line"
                              sample-count="{{ ctx.properties.sampleCount }}"
                              order="{{ ctx.properties.order }}"
                              fit-type="{{ ctx.properties.fitType }}">
    </wj-flex-chart-trend-line>
                </wj-financial-chart>
  <br />
                        <label> Order </label> 
                        <wj-input-number control="inputOrder" value="order" id="number1"
                                         min="2" step="1" format="n0"
                                         max="10">
                        </wj-input-number>
         
                   
                        <label>Sample Count</label>
                        <wj-input-number control="inputSampleCount" value="sampleCount" id="number2"
                                         min="2" max="1000" step="1" format="n0">
                        </wj-input-number>
                    
                        <wj-menu header="Fit Type"
                                 value="ctx.properties.fitType">
                            <wj-menu-item value="'Linear'">Linear</wj-menu-item>
                            <wj-menu-item value="'Exponential'">Exponential</wj-menu-item>
                            <!--<wj-menu-item value="'Logarithmic'">Logarithmic</wj-menu-item>-->
                            <!--<wj-menu-item value="'Power'">Power</wj-menu-item>-->
                            <wj-menu-item value="'Fourier'">Fourier</wj-menu-item>
                            <wj-menu-item value="'Polynomial'">Polynomial</wj-menu-item>
                            <wj-menu-item value="'AverageX'">Avg. X</wj-menu-item>
                            <wj-menu-item value="'MinX'">Min X</wj-menu-item>
                            <wj-menu-item value="'MaxX'">Max X</wj-menu-item>
                            <wj-menu-item value="'AverageY'">Avg. Y</wj-menu-item>
                            <wj-menu-item value="'MinY'">Min Y</wj-menu-item>
                            <wj-menu-item value="'MaxY'">Max Y</wj-menu-item>
                        </wj-menu>
    <pre>
   
   1. Run attached sample.      
   2. Set "Fit type" accordingly.
      Observe: Trendline should be display correctly.
   3. Try to change "Sample Count" value and "Order" count value. 
      Observe: The trendline should be display according to the value.
 
   </pre>
</body>
</html>
