﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />

    <!-- app scripts and styles-->
    
    <script src="../scripts/controllers/fnchartCtrl.js" type="text/javascript"></script>
</head>
<body ng-app="app" ng-controller="appCtrl">
        
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><p>Test Case 134908:[FinancialChart] To test whether 'dPeriod' property of Stochastic indicator series can be defined the period for the %D simple moving average</p>
        <label>DPeriod:</label>
        <wj-input-number id="mnuPeriod" value="ctx.sto.dPeriod" step="1" format="n0">
        </wj-input-number>
        <wj-financial-chart control="tpChart" items-source="data" chart-type="{{chartProps.chartType}}"
        symbol-size="4" binding-x="date" legend-toggle="true" style="width:500px;height:400px">
            <wj-flex-chart-stochastic binding="high,low,open,close"
                                  name="%K,%D"
                                  control="ctx.sto" 
                                  styles="ctx.properties.stochStyles">
            </wj-flex-chart-stochastic>
        </wj-financial-chart>
</body>
</html>