﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />

    <!-- app scripts and styles-->
    
    <script src="../scripts/controllers/fnchartCtrl.js" type="text/javascript"></script>
</head>
<body ng-app="app" ng-controller="appCtrl">
        
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><p>Test Case 133191:[FinancialChart] To test 'itemsSource' property can be used correctly for fibonancci series data</p>
        <wj-financial-chart control="ctx.chart"
                            header="{{chartProps.header}}"
                            chart-type="Line"
                            symbol-size="4"
                            binding-x="date"
                            style="width:500px;height:400px">
                <wj-financial-chart-series items-source="data" binding="{{chartProps.bindingY}}" name="Financial"></wj-financial-chart-series>
                <wj-flex-chart-fibonacci items-source="data" binding="close" name="Fibonacci Retracements" control="ctx.fibo"
                                ng-attr-style="{ fill: 'red',fontSize:10 }">
            </wj-flex-chart-fibonacci>
        </wj-financial-chart>
</body>
</html>

