﻿<!DOCTYPE html>
<html ng-app="app">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    
    <script src="../scripts/controllers/fnchartCtrl.js" type="text/javascript"></script>
</head>
<body ng-controller="appCtrl">
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><p>Test Case 149588:[FinancialChart]To test whether the period of the moving average series can be set properly</p>
    <wj-financial-chart control="tpChart" items-source="data" chart-type="{{chartProps.chartType}}" symbol-size="4" binding-x="date" style="width:400px; height:300px;">
        <wj-financial-chart-series binding="close" name="Series"></wj-financial-chart-series>
        <wj-flex-chart-moving-average binding="close"
                                  name="MovingAverage"
                                  period="15"
                                  type="Simple">
        </wj-flex-chart-moving-average>
    </wj-financial-chart>
</body>
</html>
