﻿<!DOCTYPE html>
<html ng-app="app" >
<head>
   <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    
    <script src="../scripts/controllers/fnchartCtrl.js" type="text/javascript"></script>
</head>
<body  ng-controller="appCtrl">
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><pre>[FinancialChart]To test whether 'rendered' event fires properly after the chart rendering.</pre>
    <wj-financial-chart control="tpChart" items-source="data" chart-type="{{chartProps.chartType}}"
     style="width: 900px; height: 500px;"     
        symbol-size="4" binding-x="date"  rendered="rendered()" legend-toggle="true">        

        <wj-financial-chart-series binding="{{chartProps.bindingY}}" name="Series"></wj-financial-chart-series>         
        
        
    </wj-financial-chart>
    <br />
       <ul id="EventList">EventList</ul>



    <pre>
   1. Run attached sample.        
      Observe: 'rendered' event should fire.
   
   </pre>
</body>
</html>
