﻿<!DOCTYPE html>
<html ng-app="app">
<head>
 <title></title>
     <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    
    <script src="../scripts/controllers/fnchartCtrl.js" type="text/javascript"></script>
</head>
<body ng-controller="appCtrl">
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><pre>[FinancialChart]To test whether fitType enum value (power,fourier,linear,etc) can be set for trendline series</pre>
    <wj-financial-chart control="tpChart" items-source="data" chart-type="{{chartProps.chartType}}"
        symbol-size="4" binding-x="date"   style="width:900px;height:500px">
        <wj-financial-chart-series binding="close" name="Series"></wj-financial-chart-series>
         <wj-flex-chart-trend-line binding="close"
                              name="Trend Line"
                              sample-count="150"
                              order="2"
                              fit-type="{{ ctx.properties.fitType }}">
    </wj-flex-chart-trend-line>
    </wj-financial-chart>
    <br />
    <wj-menu header="Fit Type"
                                 value="ctx.properties.fitType">
                            <wj-menu-item value="'Linear'">Linear</wj-menu-item>
                            <wj-menu-item value="'Exponential'">Exponential</wj-menu-item>                            
                            <wj-menu-item value="'Fourier'">Fourier</wj-menu-item>
                            <wj-menu-item value="'Polynomial'">Polynomial</wj-menu-item>
                            <wj-menu-item value="'AverageX'">Avg. X</wj-menu-item>
                            <wj-menu-item value="'MinX'">Min X</wj-menu-item>
                            <wj-menu-item value="'MaxX'">Max X</wj-menu-item>
                            <wj-menu-item value="'AverageY'">Avg. Y</wj-menu-item>
                            <wj-menu-item value="'MinY'">Min Y</wj-menu-item>
                            <wj-menu-item value="'MaxY'">Max Y</wj-menu-item>
                        </wj-menu>
    <pre>
   1. Run attached sample.  
      Observe: "Trend Line" series should be displayed with fit type 'Linear'.    
   2. Choose "Exponential" in "Fit Type" dropdown.
      Observe: "Trend Line" series should be displayed with fit type 'Exponential'.
   3. Choose "Fourier" in "Fit Type" dropdown.
      Observe: "Trend Line" series should be displayed with fit type 'Fourier'.
   4. Choose "Polynomial" in "Fit Type" dropdown.
      Observe: "Trend Line" series should be displayed with fit type 'Polynomial'.
   5. Choose "Avg.X" in "Fit Type" dropdown. 
      Observe: "Trend Line" series should be displayed with fit type 'Avg.X'. 
   6. Choose "Min.X" in "Fit Type" dropdown. 
      Observe: "Trend Line" series should be displayed with fit type 'Min.X'. 
   7. Choose "Max.X" in "Fit Type" dropdown. 
      Observe: "Trend Line" series should be displayed with fit type 'Max.X'.
   8. Choose "Avg.Y" in "Fit Type" dropdown. 
      Observe: "Trend Line" series should be displayed with fit type 'Avg.Y'.  
   9. Choose "Min.Y" in "Fit Type" dropdown. 
      Observe: "Trend Line" series should be displayed with fit type 'Min.Y'.
   10. Choose "Max.Y" in "Fit Type" dropdown. 
      Observe: "Trend Line" series should be displayed with fit type 'Max.Y'.        
   </pre>
</body>
</html>
