﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />

    <!-- app scripts and styles-->
    
    <script src="../scripts/controllers/fnchartCtrl.js" type="text/javascript"></script>
</head>
<body ng-app="app" ng-controller="appCtrl">
        
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><p>Test Case 134115:[FinancialChart] To test whether 'visibility' property of BollingerBands overlay series working correctly</p>
        <wj-menu id="mnu" value="ctx.bollingerBands.visibility" header="Visibility">
            <wj-menu-item value="0">Visible</wj-menu-item>
            <wj-menu-item value="1">Plot</wj-menu-item>
            <wj-menu-item value="2">Legend</wj-menu-item>
            <wj-menu-item value="3">Hidden</wj-menu-item>
        </wj-menu>
        <wj-financial-chart control="tpChart" 
                            style="width: 500px; height: 350px;"
                            items-source="data"
                            chart-type="HighLowOpenClose"
                            symbol-size="4"
                            binding-x="date"
                            legend-toggle="true">
                    <wj-financial-chart-series binding="high,low,open,close" name="Testing"></wj-financial-chart-series>
                    <wj-flex-chart-bollinger-bands binding="close"
                                                   control="ctx.bollingerBands"
                                                   name="Bollinger Bands"
                                                   period="{{ chartProps.properties.bollingerPeriod }}"
                                                   multiplier="{{ chartProps.properties.bollingerMultiplier }}">
                    </wj-flex-chart-bollinger-bands>
        </wj-financial-chart>
</body>
</html>