﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />

    <!-- app scripts and styles-->
    
    <script src="../scripts/controllers/fnchartCtrl.js" type="text/javascript"></script>
</head>
<body ng-app="app" ng-controller="appCtrl">
        
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><p>Test Case 134108: [FinancialChart] To test whether series visibility of FibonacciFans tool is working properly by using 'visibility' property</p>
        <wj-menu id="mnu" value="ctx.fiboFans.visibility" header="Visibility">
            <wj-menu-item value="0">Visible</wj-menu-item>
            <wj-menu-item value="1">Plot</wj-menu-item>
            <wj-menu-item value="2">Legend</wj-menu-item>
            <wj-menu-item value="3">Hidden</wj-menu-item>
        </wj-menu>
        <wj-financial-chart control="ctx.chart"
                            header="{{chartProps.header}}"
                            chart-type="Scatter"
                            items-source="data"
                            binding-x="date"
                            style="width:500px;height:400px"
                            symbol-size="10">
                 <wj-financial-chart-series binding="{{chartProps.bindingY}}" name="Financial" 
                                symbol-marker="Dot"></wj-financial-chart-series>
                 <wj-flex-chart-fibonacci-fans binding="close"
                                        control="ctx.fiboFans"
                                        name="fibonacciFans"
									    start="ctx.fiboFans.start"
                                        end="ctx.fiboFans.end">
                </wj-flex-chart-fibonacci-fans>
        </wj-financial-chart>
</body>
</html>

