﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <!-- app scripts and styles-->
    
    <script src="../scripts/controllers/fnchartCtrl.js" type="text/javascript"></script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><pre>Test Case 149578: [FinancialChart]To test whether order value can be get or set in a polynomial or fourier equation in trendline series</pre>
    <br />
    <wj-financial-chart items-source="data" control="tpChart" binding-x="date" chart-type="Line"
        style="height: 350px; width: 1000px">                                                    
        <wj-financial-chart-series binding="high">
        </wj-financial-chart-series>             
        <!--Trend Line Properties-->
        <wj-flex-chart-trend-line binding="close"
                                control="trendLine.trendCtrl"
                                name="Trend Line"
                                sample-count="{{trendLine.sampleCount}}"
                                order="{{trendLine.order}}"
                                fit-type="{{trendLine.fitType}}"
                                visibility="trendLine.visible">
        </wj-flex-chart-trend-line>
    </wj-financial-chart>
    <b>Order:</b>
    <wj-input-number id="orderId" value="trendLine.order" min="1" max="10" step="1" format="n0">
            </wj-input-number>
    <b>Fit Type: </b>
    <wj-menu header="Fit Type" value="trendLine.fitType">             
        <wj-menu-item value="'Fourier'">Fourier</wj-menu-item>
        <wj-menu-item value="'Polynomial'">Polynomial</wj-menu-item>           
    </wj-menu>
    <input id="btn" type="button" value="GetOrder" ng-click="GetOrderValue()" />
    <div id="getOrder">
    </div>
</body>
</html>
