﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />

    <!-- app scripts and styles-->
    
    <script src="../scripts/controllers/fnchartCtrl.js" type="text/javascript"></script>
</head>
<body ng-controller="appCtrl" ng-app="app">
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><pre>Title:[FinancialChart]To test axes(x,y) labels can be shown properly according to it's data binding value (date,number,string)</pre>

        <wj-financial-chart control="tpChart"
                            header="{{chartProps.header}}"
                            items-source="data"
                            chart-type="{{chartProps.chartType}}"
                            symbol-size="4"
                            binding-x="date">
            <wj-financial-chart-series name="HLOC" binding="{{chartProps.bindingY}}"></wj-financial-chart-series>   
            <wj-flex-chart-axis wj-property="axisX"
                                axis-line ="true"></wj-flex-chart-axis>
                        
           <wj-flex-chart-axis wj-property="axisY"
                                axis-line="true"></wj-flex-chart-axis>       
    </wj-financial-chart>

  
 
</body>
</html>

