﻿<!DOCTYPE html>
<html ng-app="app">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<!---->
    <!---->
    
    
    <!---->
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    

    <script>
        var app = angular.module("app", ['wj']);
        app.controller('appCtrl', function ($scope, $timeout) {
            $scope.chartProps = {
                chartType: wijmo.chart.finance.FinancialChartType.Line,
                legendPosition: wijmo.chart.Position.Right,
                bindingY: 'close',
                data: []
            }
            $scope.tpChart = null;
            $scope.data = [
                { "date": "01/05/15", "open": 77.98, "high": 79.25, "low": 76.86, "close": 77.19, "volume": 64, "value": 100, "double": 66, "market1": 40, "market2": 50 , "market3": 40 },
                { "date": "01/06/15", "open": 77.23, "high": 77.59, "low": 75.36, "close": 76.15, "volume": 73, "value": 50, "double": 55, "market1": 30, "market2": 40 , "market3": 20 },
                { "date": "01/07/15", "open": 76.76, "high": 77.36, "low": 75.82, "close": 76.15, "volume": 20, "value": 150, "double": 77, "market1": 80, "market2": 90 , "market3": 20 },
                { "date": "01/08/15", "open": 76.74, "high": 78.23, "low": 76.08, "close": 78.18, "volume": 39, "value": 200, "double": 88, "market1": 90, "market2": 40 , "market3": 30 },
                { "date": "01/09/15", "open": 78.2, "high": 78.62, "low": 77.2, "close": 77.74, "volume": 11, "value": 150, "double": 44, "market1": 70, "market2": 90 , "market3": 30 },
                { "date": "01/12/15", "open": 77.84, "high": 78, "low": 76.21, "close": 76.72, "volume": 91, "value": 100, "double": 99, "market1": 60, "market2": 80 , "market3": 25 },
                { "date": "01/13/15", "open": 77.23, "high": 78.08, "low": 75.85, "close": 76.45, "volume": 51, "value": 50 , "double": 55 , "market1": 50 , "market2": 70 , "market3": 25 }]
        });
    </script>
</head>
<body ng-controller="appCtrl">
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><p>Test Case 134968:[FinancialChart]To test whether series legends are displayed properly when series name is too longer in charts</p>
    <wj-financial-chart control="tpChart" items-source="data" chart-type="{{chartProps.chartType}}" symbol-size="4" binding-x="date" style="width:600px; height:300px;">
        <wj-financial-chart-series binding="open" name="Opening Series"></wj-financial-chart-series>
        <wj-financial-chart-series binding="high" name="High Series"></wj-financial-chart-series>
        <wj-financial-chart-series binding="low" name="Finance Series"></wj-financial-chart-series>
        <wj-financial-chart-series binding="close" name="Closing Series"></wj-financial-chart-series>
        <wj-financial-chart-series binding="volume" name="Volume Series"></wj-financial-chart-series>
        <wj-financial-chart-series binding="value" name="Value Series"></wj-financial-chart-series>
        <wj-financial-chart-series binding="double" name="Double Value Series"></wj-financial-chart-series>
        <wj-financial-chart-series binding="market1" name="Market1 Value Series"></wj-financial-chart-series>
        <wj-financial-chart-series binding="market2" name="Market2 Value Series"></wj-financial-chart-series>
        <wj-financial-chart-series binding="market3" name="Market3 Value Series"></wj-financial-chart-series>
    </wj-financial-chart>
    <wj-menu value="tpChart.legend.position" header="Label Offset" >
        <wj-menu-item value="0">None</wj-menu-item>
        <wj-menu-item value="1">Left</wj-menu-item>
        <wj-menu-item value="2">Top</wj-menu-item>
        <wj-menu-item value="3">Right</wj-menu-item>
        <wj-menu-item value="4">Bottom</wj-menu-item>
        <wj-menu-item value="5">Auto</wj-menu-item>
    </wj-menu>
</body>
</html>