﻿<!DOCTYPE html>
<html ng-app="app">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    
    <script src="../scripts/controllers/fnchartCtrl.js" type="text/javascript"></script>
</head>
<body ng-controller="appCtrl">
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><pre>[FinancialChart]To test whether 'period' property of BollingerBands overlay series working properly for the calculation.</pre>
    <wj-financial-chart control="tpChart"
                                   style="width: 900px; height: 500px;" items-source="data"
        chart-type="HighLowOpenClose" symbol-size="4"  binding-x="date"
                                 
                                    legend-toggle="true">

                    <wj-flex-chart-axis wj-property="axisY" title="Price"></wj-flex-chart-axis>
                   

                    <wj-financial-chart-series binding="high,low,open,close" name="Testing"></wj-financial-chart-series>

                    <wj-flex-chart-bollinger-bands binding="close"
                                                   name="Bollinger Bands"
                                                   period="{{ chartProps.properties.bollingerPeriod }}"
                                                   multiplier="{{ chartProps.properties.bollingerMultiplier }}">
                    </wj-flex-chart-bollinger-bands>

                  

                </wj-financial-chart>
     
                    <label>Period</label>
                    <wj-input-number id="input1" value="chartProps.properties.bollingerPeriod"
                                     min="2" max="{{ data.length > 0 ? data.length - 1 : chartProps.properties.bollingerPeriod }}"
                                     step="1" format="n0">
                    </wj-input-number>

                    <label>Multiplier</label>
                    <wj-input-number id="input2" value="chartProps.properties.bollingerMultiplier"
                                     min="1" max="100"
                                     step="1" format="n0">
                    </wj-input-number>

    <pre>
   1. Run attached sample.   
   2. Set '21' in Period.     
      Observe: 21 'period' property of BollingerBands overlay series working properly for the calculation.  
      
   </pre>
</body>
</html>
