﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
      <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />

    <!-- app scripts and styles-->
    

     <script type="text/javascript">
         var app = angular.module('app', ['wj']);

         app.controller('appCtrl', function ($scope) {


             $scope.tpChart = null;
             $scope.options = {
                 lineBreak: { newLineBreaks: 3 }

             };


             //Functions for Axes.html page
             $scope.AxisYItemFormatter = function () {
                 var chart = $scope.tpChart;
                 chart.axisY.itemFormatter = function (engine, label) {
                     engine.textFill = 'red';
                     label.cls = null;

                     return label;
                 };
             };

             $scope.AxisXItemFormatter = function () {
                 var chart = $scope.tpChart;
                 chart.axisX.itemFormatter = function (engine, label) {
                     engine.textFill = 'red';
                     label.cls = null;

                     return label;

                 };
             };
             $scope.data = [
                  { "date": "02/05/15", "open": 17, "high": 17.31, "low": 16.41, "close": 16.66, "volume": 2682187 },
            { "date": null, "open": 17.39, "high": 18.88, "low": 17.21, "close": 18.12, "volume": 3929164 },
            { "date": "02/09/15", "open": 18.86, "high": 19.95, "low": 18.45, "close": 19.6, "volume": 3226650 },
            { "date": "02/10/15", "open": 20.5, "high": 21, "low": 19.63, "close": 20.99, "volume": 2804409 },
            { "date": "02/11/15", "open": -20.89, "high": 21, "low": 20.2, "close": -20.96, "volume": 1698365 },
            { "date": "02/12/15", "open": 20.66, "high": 20.85, "low": 19.75, "close": 20.17, "volume": 1700000 },
            { "date": "02/13/15", "open": 20.19, "high": 20.68, "low": 20, "close": 20.18, "volume": 711951 },
            { "date": "02/17/15", "open": 19.5, "high": -20.1, "low": 18.8, "close": 19.05, "volume": 2093602 },
            { "date": "02/18/15", "open": null, "high": 18.5, "low": 17.96, "close": 18, "volume": 1849490 },
            { "date": "02/19/15", "open": 18.33, "high": 19.25, "low": -17.91, "close": 18.96, "volume": 1311518 },
            { "date": "02/20/15", "open": 18.68, "high": 19.3, "low": 18.65, "close": -18.85, "volume": 1001692 },
            { "date": null, "open": 18.8, "high": 18.89, "low": null, "close": 18.21, "volume": 670087 },
            { "date": "02/24/15", "open": 18.46, "high": 19, "low": 18.27, "close": 18.83, "volume": 759263 },
            { "date": "02/25/15", "open": 18.83, "high": 19.48, "low": 18.47, "close": 18.67, "volume": 915580 }
      ];
         });

     </script>  
</head>
<body ng-app="app" ng-controller="appCtrl">

        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><pre>TestCase 335678: [FinancialChart] To test whether axes 'Itemformatter' can work properly or not when binding with negative/null data. </pre>

  <input id="xbtn" type="button" ng-click="AxisXItemFormatter()" value="AxisXFormatter" />
 <input id="ybtn" type="button" ng-click="AxisYItemFormatter()" value="AxisYFormatter" /> 
 <wj-financial-chart control="tpChart"
                    items-source="data"
                    binding-x="date"              
                    options="options"                              
                    style="width:1500px; height:500px"
                    chart-type="LineBreak">                       
                   
<wj-financial-chart-series binding="high,low,open,close" name="HLOCV"></wj-financial-chart-series> 

<wj-flex-chart-axis wj-property="axisX" >
</wj-flex-chart-axis>

<wj-flex-chart-axis wj-property="axisY"  axis-line="true">                   
</wj-flex-chart-axis>       
</wj-financial-chart>
</body>
</html>
