﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
         <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />

    <!-- app scripts and styles-->
    

     <script type="text/javascript">
         var app = angular.module('app', ['wj']);

         app.controller('appCtrl', function ($scope) {


             $scope.chart = null;
             $scope.binding = 'fruit';

             $scope.GetActualMinMax = function () {
                 document.getElementById("output").innerHTML = "AxisX => ActualMin:" + $scope.chart.axisX.actualMin + ",ActualMax: " + $scope.chart.axisX.actualMax + "|AxisY => ActualMin:" + $scope.chart.axisY.actualMin + ",ActualMax:" + $scope.chart.axisY.actualMax;
             }

             $scope.data = [
             { "fruit": "Orange", "x": 1, "date1": new Date(2014, 0, 1), "date2": new Date(2014, 2, 3), "date3": new Date(2014, 1, 4), "y1": 900, "y2": 600, "y3": 400, "y4": 300 },
      { "fruit": "Apple", "x": 2, "date1": new Date(2014, 0, 2), "date2": new Date(2014, 4, 4), "date3": new Date(2014, 2, 6), "y1": 800, "y2": 400, "y3": 500, "y4": 200 },
      { "fruit": "Lime", "x": 3, "date1": new Date(2014, 0, 3), "date2": new Date(2014, 6, 5), "date3": new Date(2014, 2, 7), "y1": 700, "y2": 700, "y3": 700, "y4": 500 },
      { "fruit": "Lemon", "x": 4, "date1": new Date(2014, 0, 4), "date2": new Date(2014, 8, 6), "date3": new Date(2014, 3, 8), "y1": 600, "y2": 800, "y3": 800, "y4": 600 },
      { "fruit": "Mango", "x": 5, "date1": new Date(2014, 0, 5), "date2": new Date(2014, 10, 7), "date3": new Date(2014, 4, 9), "y1": 500, "y2": 100, "y3": 300, "y4": 100 },
	  { "fruit": "Watermelon", "x": 6, "date1": new Date(2014, 0, 6), "date2": new Date(2014, 12, 8), "date3": new Date(2014, 4, 7), "y1": 400, "y2": 200, "y3": 900, "y4": 400 },
	  { "fruit": "Kiwi", "x": 7, "date1": new Date(2014, 0, 7), "date2": new Date(2014, 14, 9), "date3": new Date(2014, 4, 6), "y1": 300, "y2": 300, "y3": 600, "y4": 700 },
      ];
         });

     </script>  
</head>
<body ng-app="app" ng-controller="appCtrl">

        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><pre>TestCase 347570: [FinancialChart]To test getting 'actualMax' and 'actualMin' properties when binding with various data set (string/date and number)</pre>  
  
  <input id="btn" type="button" value="ActualMinAndMaxValues" ng-click="GetActualMinMax()" />
 
  <wj-menu value="binding" header="Binding">
    <wj-menu-item value="'fruit'">String</wj-menu-item>
    <wj-menu-item value="'date1'">Date</wj-menu-item>
    <wj-menu-item value="'x'">Number</wj-menu-item>     
  </wj-menu>
     <div id="output"></div>
 <wj-financial-chart control="chart"
                    items-source="data"
                    binding-x="{{binding}}"                                            
                    style="width:800px; height:500px"
                    chart-type="HeikinAshi">                       
                   
<wj-financial-chart-series binding="y1,y2,y3,y4" name="Sales"></wj-financial-chart-series> 
   
    <wj-flex-chart-axis wj-property="axisX"  axis-line="true">                   
    </wj-flex-chart-axis>  
    <wj-flex-chart-axis wj-property="axisY"  axis-line="true">                   
    </wj-flex-chart-axis>       
</wj-financial-chart>

</body>
</html>
