﻿<!DOCTYPE html>
<html ng-app="app">
<head>
    <title></title>
     <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    
    <script src="../scripts/controllers/fnchartCtrl.js" type="text/javascript"></script>
</head>
<body ng-controller="appCtrl">
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><p>Test Case 340260:[FinancialChart] To test whether the vertical position of the LineMarker can be set by using 'verticalPosition' property</p>
    <wj-financial-chart control="tpChart" items-source="data" chart-type="{{chartProps.chartType}}" symbol-size="4" binding-x="date" style="width:400px; height:300px;">
        <wj-financial-chart-series binding="close" name="Closing Series"></wj-financial-chart-series>
        <wj-financial-chart-series binding="open" name="Opening Series"></wj-financial-chart-series>
        <wj-flex-chart-line-marker control="ctx.lineMarker"
                                   lines="2"
                                   interaction="Move"
                                   drag-content="false"
                                   drag-lines="false"
                                   alignment="Auto"
                                   content="changeContent"
                                   position-changed="positionChanged(s,e)">
        </wj-flex-chart-line-marker>
    </wj-financial-chart>
    <wj-menu id="mnu" value="ctx.lineMarker.verticalPosition" header="vertical position">
            <wj-menu-item value="0">0</wj-menu-item>
            <wj-menu-item value="0.1">0.3</wj-menu-item>
            <wj-menu-item value="0.5">0.6</wj-menu-item>
            <wj-menu-item value="0.8">0.9</wj-menu-item>
            <wj-menu-item value="1">1</wj-menu-item>
    </wj-menu>
</body>
</html>
