﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <!-- jQuery/Angular/Bootstrap -->
	<script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    
	<!-- JSZip library -->
	<!--<script src="http://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>-->

	<!-- Wijmo -->
	<script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
	<link href="../styles/vendor/wijmo.theme.office.min.css" rel="stylesheet" />
	<!-- Wijmo-Angular interop -->
	

	<!-- app scripts and styles -->
	<link rel="stylesheet" href="../styles/app.css" type="text/css" />
	<script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/145801_appCtrl.js" type="text/javascript"></script>
</head>
<body ng-app="app" ng-controller="standaloneController">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div>			
		<wj-flex-sheet id="flexSheet" control="ctx.flexSheet" class="flexSheet" initialized="initialized(s)" is-tab-holder-visible="true" style="height: 600px; width: 1000px;">
			<wj-sheet name="Sheet1"></wj-sheet>
		</wj-flex-sheet>
		<br />
		<button id="btnSetCellData" class="btn btn-default" ng-click="fsheet_setCellData()">
			Set Cell(0,0) Value to 2
		</button>
	</div>
    <br />
    <p>
        Repro Steps:<br />
        1.    Run attached sample ‘prj_FlexSheet.htm’.<br />
        Observe: Cell ‘C1’ is applied with formula ‘sum(A1:B1)’.<br />
        2.    Click ‘Set Cell(0,0) value to 2’ button.<br />
        Observe: When ‘A1’ cell value is updated using ‘setCellData’ method, formula cell ‘C1’ is not updated along……Incorrect<br />
        Note: Formula cell is updated when enter edit mode into a cell and exit editing.
    </p>
</body>
</html>
