﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
	<script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />   
	<!-- Wijmo -->
	<script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
	<link href="../styles/vendor/wijmo.theme.office.min.css" rel="stylesheet" />
	<!-- Wijmo-Angular interop -->
	
	
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            var countries = ['US', 'Germany', 'UK', 'Japan', 'Italy', 'Greece'],
		        products = ['Widget', 'Gadget', 'Doohickey'];
            function getData(count) {
                var data = new wijmo.ObservableArray(),
				    countryId,
				    productId;
                for (var i = 0; i < count; i++) {
                    data.push({
                        id: i,
                        countryId: i % countries.length,
                        productId: i % products.length,
                        date: new Date(2018, i % 12, i % 28),
                        amount: (i + 1) * 123.45,
                        active: i % 4 === 0
                    });
                }
                return data;
            }

            $scope.data = getData(10);

            $scope.initializedSheet = function (flexSheet) {
                flexSheet.deferUpdate(function () {
                    if (flexSheet) {
                        initDataMapForBindingSheet(flexSheet); // initialize the dataMap for the bound sheet.
                    }
                });
            };

            function initDataMapForBindingSheet(flexSheet) {
                var column;
                if (flexSheet) {
                    column = flexSheet.columns.getColumn('countryId');
                    if (column && !column.dataMap) {
                        column.dataMap = buildDataMap(countries);
                    }
                    column = flexSheet.columns.getColumn('productId');
                    if (column && !column.dataMap) {
                        column.dataMap = buildDataMap(products);
                    }
                    column = flexSheet.columns.getColumn('amount');
                    if (column) {
                        column.format = 'c2';
                    }
                }
            };

            function buildDataMap(items) {
                var map = [];
                for (var i = 0; i < items.length; i++) {
                    map.push({ key: i, value: items[i] });
                }
                return new wijmo.grid.DataMap(map, 'key', 'value');
            };
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><input id="chkShowSort" type="checkbox" ng-model="flexSheet.showSort" />showSort
    <br /><br />
    <wj-flex-sheet id="flexSheet" control="flexSheet" initialized="initializedSheet(s)" allow-sorting="true" style="height: 500px; width: 1400px;">
        <wj-sheet name="Sheet1" items-source="data"></wj-sheet>          
    </wj-flex-sheet>
    <pre>
    <b>Steps to reproduce:</b>
    1.    Run attached sample ‘prj_FlexSheet.htm’.
    2.    Choose ‘True’ from ‘showSort’ menu.
    3.    Click a column header to sort a column.
    [Observe]
    Sort indicator does not display in the column header. [Incorrect]
    </pre>
</body>
</html>
