﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
	<script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />   
	<!-- Wijmo -->
	<script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
	<link href="../styles/vendor/wijmo.theme.office.min.css" rel="stylesheet" />
	<!-- Wijmo-Angular interop -->
	
	<!-- app scripts and styles -->
	<link rel="stylesheet" href="../styles/app.css" type="text/css" />
	<script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/services/dataSvc.js" type="text/javascript"></script>
    <script src="../scripts/controllers/flexSheetCtrl.js" type="text/javascript"></script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><button id="btnShowFilter" type="button" class="btn btn-default" ng-click="showFilter()" ng-disabled="!ctx.filterEnable">Show Filter</button>
    <br />
    <wj-flex-sheet id="flexSheet" control="ctx.flexSheet" initialized="initialized(s)" is-tab-holder-visible="true" style="height: 450px; width: 1400px;">
		<wj-sheet name="Bound" items-source="ctx.data10"></wj-sheet>
        <wj-sheet name="Unbound" row-count="10" column-count="5"></wj-sheet>
	</wj-flex-sheet>
    <br />
    <p>
        <b>Repro Steps: </b><br />
        1.    Run attached sample ‘prj_FilterByValue.htm’.<br />
        2.    Filter by a column in the FlexGrid (example: Equals true in ‘Active’ column).<br />
        3.    Open filter editors of other columns (example: Id).<br />
        Observe: Filter values list will only show the values of filtered rows……Correct<br />
        4.    Filter by a column in the FlexSheet (example: Equals true in ‘Active’ column).<br />
        5.    Open filter editors of other columns (example: Id).<br />
        Expected: When filtered grid shows only 3 rows, 3 values of filtered rows should show in filter editor of other columns.<br />
        Observed: All values show in value filter list……Incorrect
    </p>
</body>
</html>
