﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
	<script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />   

	<!-- Wijmo -->
	<script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
	<link href="../styles/vendor/wijmo.theme.office.min.css" rel="stylesheet" />
	<!-- Wijmo-Angular interop -->
	

	<!-- app scripts and styles -->
	<link rel="stylesheet" href="../styles/app.css" type="text/css" />
	<script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/services/dataSvc.js" type="text/javascript"></script>
    <script src="../scripts/controllers/144802_appCtrl.js" type="text/javascript"></script>
</head>
<body ng-app="app" ng-controller="standaloneController">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><button id="btnVisible" class="btn btn-default" ng-click="sheetVisible()">
        visible (sheet-0)
    </button>
    <br />
    <wj-flex-sheet id="flexSheet" control="ctx.flexSheet" initialized="initialized(s)" style="height: 550px; width: 1400px;">
		<wj-sheet name="Sheet1"></wj-sheet>
		<wj-sheet name="Sheet2"></wj-sheet>
		<wj-sheet name="Sheet3"></wj-sheet>
	</wj-flex-sheet>
    <br />
    <p>
        Repro Steps: <br />
        1.    Run attached sample ‘prj_FlexSheet.htm’.<br />
        2.    Click ‘visible (sheet-0)’ button.<br />
        Expected: Next sheet ‘Sheet2’ should be selected sheet and ‘Sheet1’ tab should disappear from sheet tab holder.<br />
        Observed: Current sheet (Sheet1) is still visible and ‘Sheet1’ tab is still visible in sheet tab holder……Incorrect<br />
        3.    Open ‘Sheet2’ or ‘Sheet3’.<br />
        4.    Open ‘Sheet1’.<br />
        Observe: ‘Sheet1’ cannot be opened.<br />
        5.    Click ‘visible (sheet-0)’ button.<br />
        Observe: ‘Sheet1’ can be opened now.
    </p>
</body>
</html>
