﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
	<script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />   

	<!-- Wijmo -->
	<script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
	<link href="../styles/vendor/wijmo.theme.office.min.css" rel="stylesheet" />
	<!-- Wijmo-Angular interop -->
	

	<!-- app scripts and styles -->
	<link rel="stylesheet" href="../styles/app.css" type="text/css" />
	<script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/services/dataSvc.js" type="text/javascript"></script>
    <script src="../scripts/controllers/flexSheetCtrl.js" type="text/javascript"></script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><button id="btnShowFilter" type="button" class="btn btn-default" ng-click="showFilter()" ng-disabled="!ctx.filterEnable">Show Filter</button>
    <div>
        <wj-flex-sheet id="flexSheet" control="ctx.flexSheet" initialized="initialized(s)" style="height: 550px; width: 1400px;">
		    <wj-sheet name="Bound" items-source="ctx.data"></wj-sheet>
	    </wj-flex-sheet>
    </div>   
    <br />
    <p>
        Repro Steps: <br />
        1. Run 'FlexSheet Explorer' sample with Chrome.<br />
        2. Navigate to 'Filtering' sample page.<br />
        3. Click 'Show Filter' button.<br />
        [Observe] Filter dialog is shown properly.[Correct]<br />
        4. Add a new sheet.<br />
        5. Press 'F12'.<br />
        6. Click 'Show Filter' button.<br />
        [Observe]Console error is observed.
    </p>
</body>
</html>
