﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
	<script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />   
	<!-- Wijmo -->
	<script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
	<link href="../styles/vendor/wijmo.theme.office.min.css" rel="stylesheet" />
	<!-- Wijmo-Angular interop -->
	
	
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            $scope.initializedSheet = function (flexSheet) {
                flexSheet.deferUpdate(function () {
                    for (var i = 0; i < flexSheet.sheets.length; i++) {
                        flexSheet.sheets.selectedIndex = i;
                        switch (flexSheet.sheets[i].name) {
                            case 'Sheet0':
                                flexSheet.setCellData(0, 0, 'Sheet0');
                                break;
                            case 'Sheet1':
                                flexSheet.setCellData(0, 0, 'Sheet1');
                                break;
                            case 'Sheet2':
                                flexSheet.setCellData(0, 0, 'Sheet2');
                                break;
                            case 'Sheet3':
                                flexSheet.setCellData(0, 0, 'Sheet3');
                                break;
                            case 'Sheet4':
                                flexSheet.setCellData(0, 0, 'Sheet4');
                                break;
                        }
                    }
                    flexSheet.selectedSheetIndex = 0;
                });
            };

        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><br />
    <input id="chkVisible0" ng-model="flexSheet.sheets[0].visible" type="checkbox" />Sheet0
    <input id="chkVisible1" ng-model="flexSheet.sheets[1].visible" type="checkbox" />Sheet1
    <input id="chkVisible2" ng-model="flexSheet.sheets[2].visible" type="checkbox" />Sheet2
    <input id="chkVisible3" ng-model="flexSheet.sheets[3].visible" type="checkbox" />Sheet3
    <br />
    <wj-flex-sheet id="flexSheet" control="flexSheet" initialized="initializedSheet(s)" style="height: 450px; width: 1400px;">		               
        <wj-sheet name="Sheet0"></wj-sheet>
        <wj-sheet name="Sheet1"></wj-sheet>
        <wj-sheet name="Sheet2"></wj-sheet>
        <wj-sheet name="Sheet3"></wj-sheet>
        <wj-sheet name="Sheet4"></wj-sheet>
    </wj-flex-sheet>
    <br />
    <pre>
        <b>Steps to reproduce:</b>
        1. Run attached sample 'Sample'.
        2. Click 'next'button for three times.
        Observe:
            Selection can move to next sheets properly.(Correct)
        3. Click 'previous' button for three times.
        Observe:
            Selection can move to previous sheets properly.(Correct)
        4. Click 'Set Visible = False (Empty Sheet 1)' button.
        Observe:
            Empty Sheet 1 is hidden.
        5. Click 'next'button for three times.
        Observe:
            Selection can move to next sheets properly.(Correct)
        6. Click 'previous' button.
        Observe:
            Selection can't move to previous sheet.(Incorrect)
    </pre>
</body>
</html>
