﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
	<script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />   
	<!-- Wijmo -->
	<script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
	<link href="../styles/vendor/wijmo.theme.office.min.css" rel="stylesheet" />
	<!-- Wijmo-Angular interop -->
	
	
    
    
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            var countries = ['US', 'Germany', 'UK', 'Japan'],
		        products = ['Widget', 'Gadget', 'Doohickey'];
            function getData(count) {
                var data = new wijmo.ObservableArray(),
				    countryId,
				    productId;
                for (var i = 0; i < 19; i++) {
                    data.push({
                        id: i,
                        countryId: i % countries.length,
                        productId: i % products.length,
                        date: new Date(2018, i % 12, i % 28),
                        amount: (i + 1) * 123.45,
                        active: i % 4 === 0
                    });
                }
                return data;
            }

            $scope.data = getData(50);

            $scope.initializedSheet = function (flexSheet) {
                flexSheet.deferUpdate(function () {
                    var sheetIdx,
				    sheetName;
                    if (flexSheet) {

                        for (sheetIdx = 0; sheetIdx < flexSheet.sheets.length; sheetIdx++) {
                            flexSheet.selectedSheetIndex = sheetIdx;
                            sheetName = flexSheet.selectedSheet.name;
                            if (sheetName === 'Country') {
                                initDataMapForBindingSheet(flexSheet); // initialize the dataMap for the bound sheet.
                            } else {
                                generateUseCaseTemplateSheet(flexSheet);
                            }
                        }
                        flexSheet.selectedSheetIndex = 0;
                    }
                });
            };

            function cumulativeOffset(element) {
                var top = 0, left = 0;

                do {
                    top += element.offsetTop || 0;
                    left += element.offsetLeft || 0;
                    element = element.offsetParent;
                } while (element);

                return {
                    top: top,
                    left: left
                };
            };

            function initDataMapForBindingSheet(flexSheet) {
                var column;
                if (flexSheet) {
                    column = flexSheet.columns.getColumn('countryId');
                    if (column && !column.dataMap) {
                        column.dataMap = buildDataMap(countries);
                    }
                    column = flexSheet.columns.getColumn('productId');
                    if (column && !column.dataMap) {
                        column.dataMap = buildDataMap(products);
                    }
                    column = flexSheet.columns.getColumn('amount');
                    if (column) {
                        column.format = 'c2';
                    }
                }
            };

            function buildDataMap(items) {
                var map = [];
                for (var i = 0; i < items.length; i++) {
                    map.push({ key: i, value: items[i] });
                }
                return new wijmo.grid.DataMap(map, 'key', 'value');
            };

            $scope.freezeCells = function () {
                var flexSheet = $scope.flexSheet;
                if (flexSheet) {
                    flexSheet.freezeAtCursor();
                    if (flexSheet.frozenColumns > 0 || flexSheet.frozenRows > 0) {
                        $scope.isFrozen = true;
                    } else {
                        $scope.isFrozen = false;
                    }
                }
            };
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl" style="margin:20px;">
        
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><button type="button" id="btnFreeze" class="btn btn-default" ng-click="freezeCells()">Toogle Freeze</button>
    <br /><br />
    
    <wj-flex-sheet id="flexSheet" control="flexSheet" initialized="initializedSheet(s)" style="height: 570px; width: 900px;">
        <wj-sheet name="Country" items-source="data"></wj-sheet>
    </wj-flex-sheet>
    <pre>
    Repro-steps:
    1. Run 'ExcelBook' sample in IE 11 or Firefox.
    2. Open 'View Excel-like Application' sample.
    3. Select any cell and click 'Freeze' button on toolbar.
    Observe:
                 It can freeze properly.(Correct)
    4. Click 'Unfreeze' button on toolbar.
    Observe:
                It does unfreeze properly and FlexSheet distorts on scrolling.(Incorrect)
    </pre>
   
</body>
</html>