﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
	<script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />   
	<!-- Wijmo -->
	<script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
	<link href="../styles/vendor/wijmo.theme.office.min.css" rel="stylesheet" />
	<!-- Wijmo-Angular interop -->
	
	
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {
            $scope.ctx = {
                flexSheet: null,
                mergeState: {}
            }
            $scope.$watch('ctx.mergeCellSheet', function () {
                var flexSheet = $scope.ctx.flexSheet;
                if (flexSheet) {
                    flexSheet.selectionChanged.addHandler(function () {
                        $scope.ctx.mergeState = flexSheet.getSelectionFormatState();
                        safeApply('ctx.mergeState');
                    });
                }
            });

            $scope.mergeCells = function () {
                var flexSheet = $scope.ctx.flexSheet;
                if (flexSheet) {
                    flexSheet.mergeRange();
                    $scope.ctx.mergeState = flexSheet.getSelectionFormatState();
                    safeApply('ctx.mergeState');
                }
            }

            function safeApply(property) {
                if (!$scope.$root.$$phase) {
                    $scope.$apply(property);
                }
            };
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><wj-flex-sheet id="flexSheet" control="ctx.flexSheet" style="height: 450px; width: 1400px;">		               
        <wj-sheet name="Sheet1"></wj-sheet>
    </wj-flex-sheet>
    <br />
    <button id="btnMerge" type="button" class="btn btn-default" ng-click="mergeCells()">{{ctx.mergeState.isMergedCell ? 'UnMerge' : 'Merge'}}</button>
    <br />
    <pre>
        <b>Steps to reproduce:</b>
        1. Run the 'ExcelBook' sample in Chrome browser.
        2. Navigate to ''Excel-like Application'' tab.
        3. Add new unbound sheet.
        4. Select A1 and Type 'Yes'.
        5. Press 'Ctrl + c', select any cell and press 'Ctrl + v'.
        6. Type '1234' in A3.
        7. Select 'A3' and next empty cell 'B3', then click merge button.
        8. Repeat step 5.
        [Observed]
        Merged cell '1234' cannot be copied to clipboard and previous copied value 'Yes' is pasted .[Case 1 - Incorrect]
        9.  Type '=Now()' in A7 and B7 cells and click merge button.
        10. Select 'A6' cell and press 'down' arrow key.
        11. Repeat step 5.
        [Observed]
        Cell content is copied-pasted to one cell. Is it expected?
        12. Click 'A7' cell to select.
        13. Repeat step 5.
        [Observed]
        Two cell contents are copied-pasted.[Case 2 - Incorrect]
    </pre>
</body>
</html>
