﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
	<script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />   
	<!-- Wijmo -->
	<script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
	<link href="../styles/vendor/wijmo.theme.office.min.css" rel="stylesheet" />
	<!-- Wijmo-Angular interop -->
	
	
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            $scope.ctx = {
                undoStack: null
            };

            $scope.initializedSheet = function (flexSheet) {
                flexSheet.deferUpdate(function () {
                    var sheetIdx;
                    if (flexSheet) {
                        $scope.ctx.undoStack = flexSheet.undoStack;

                        flexSheet.undoStack.undoStackChanged.addHandler(function () {
                            safeApply('ctx.undoStack');
                        });

                        flexSheet.selectedSheetIndex = 0;
                    }
                });
            };

            $scope.undo = function () {
                $scope.flexSheet.undo();
            };

            $scope.redo = function () {
                $scope.flexSheet.redo();
            };

            function safeApply(property) {
                if (!$scope.$root.$$phase) {
                    $scope.$apply(property);
                }
            };

        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><button id="btnUndo" type="button" class="btn btn-default btn-small" title="Undo" ng-disabled="!(ctx.undoStack && ctx.undoStack.canUndo)" ng-click="undo()">
		<span  class="glyphicon glyphicon-share-alt flip"></span>
		<span class="text">Undo</span>
	</button>
	<button id="btnRedo" type="button" class="btn btn-default btn-small" title="Redo" ng-disabled="!(ctx.undoStack && ctx.undoStack.canRedo)" ng-click="redo()">
		<span  class="glyphicon glyphicon-share-alt"></span>
		<span class="text">Redo</span>
	</button>
    <br />
    <wj-flex-sheet id="flexSheet" control="flexSheet" initialized="initializedSheet(s)" style="height: 450px; width: 1400px;">		               
       <wj-sheet></wj-sheet>
       <wj-sheet></wj-sheet>
    </wj-flex-sheet>
    <pre>
    <b>Steps to reproduce:</b>
    1. Run 'JT/TS > Angular/Angular2 > ExcelBook' sample.
    2. Open 'Excel-like Application' sample.
    3. Add a new sheet.
    4. Enter 10 in cell B2 , 20 in cell B3.
    5. Enter "=sum(B2:B3)" in cell B4.
    6. Select cell B4 and open context menu.
    7. Click 'Insert Column'.
    Observe:
        New column is inserted.(Correct)
    8. Click 'Undo' button or press 'Ctrl+Z' key combination.
    Observe:
        Inserted column is removed.(Correct)
    9. Click 'Redo' button or press 'Ctrl+Y' key combination.
    Observe:
        Column is added again but function remain in column B.(Incorrect) 
    </pre>
</body>
</html>
