﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
	<script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />   
	<!-- Wijmo -->
	<script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
	<link href="../styles/vendor/wijmo.theme.office.min.css" rel="stylesheet" />
	<!-- Wijmo-Angular interop -->
	
	
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {          

            $scope.freezeCells = function () {
                var flexSheet = $scope.flexSheet;
                if (flexSheet) {
                    flexSheet.freezeAtCursor();
                    if (flexSheet.frozenColumns > 0 || flexSheet.frozenRows > 0) {
                        $scope.isFrozen = true;
                    } else {
                        $scope.isFrozen = false;
                    }
                }
            };
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl" style="margin:20px;">

    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><button type="button" id="btnFreeze" class="btn btn-default" ng-click="freezeCells()">Toogle Freeze</button>
    <br /><br />
    
    <wj-flex-sheet control="flexSheet" style="height: 700px;">
        <wj-sheet name="Sheet1" row-count="20" column-count="13"></wj-sheet>
    </wj-flex-sheet>
    <pre>
    Steps to reproduce:
    1.    Run ‘FlexSheetExplorer’ sample.
    2.    Navigate to ‘Frozen Cells’.
    3.    Select a 'B2' cell and click ‘Freeze’ button.
    [Observed]
    4 freeze lines are shown in sheet.[Incorrect]
    </pre>
</body>
</html>