﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
	<script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />   
	<!-- Wijmo -->
	<script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
	<link href="../styles/vendor/wijmo.theme.office.min.css" rel="stylesheet" />
	<!-- Wijmo-Angular interop -->
	
	
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            $scope.ctx = {
                undoStack: null
            };

            $scope.initializedSheet = function (flexSheet) {
                flexSheet.deferUpdate(function () {
                    var sheetIdx;
                    if (flexSheet) {
                        $scope.ctx.undoStack = flexSheet.undoStack;

                        flexSheet.undoStack.undoStackChanged.addHandler(function () {
                            safeApply('ctx.undoStack');
                        });

                        for (sheetIdx = 0; sheetIdx < flexSheet.sheets.length; sheetIdx++) {
                            flexSheet.selectedSheetIndex = sheetIdx;
                            if (flexSheet.selectedSheet.name === 'Summary') {
                                generateSummraySheet(flexSheet);
                            }
                        }
                        flexSheet.selectedSheetIndex = 0;
                    }
                });
            };

            $scope.undo = function () {
                $scope.flexSheet.undo();
            };

            $scope.redo = function () {
                $scope.flexSheet.redo();
            };

            function safeApply(property) {
                if (!$scope.$root.$$phase) {
                    $scope.$apply(property);
                }
            };

            function generateSummraySheet(flexSheet) {
                flexSheet.setCellData(1, 0, 'Function type');
                flexSheet.setCellData(1, 2, 'Count of Function');
                flexSheet.setCellData(2, 0, 'Basic Operator');
                flexSheet.setCellData(2, 3, 14);
                flexSheet.setCellData(3, 0, 'Math');
                flexSheet.setCellData(3, 3, 21);
                flexSheet.setCellData(4, 0, 'Logical');
                flexSheet.setCellData(4, 3, 6);
                flexSheet.setCellData(5, 0, 'Text');
                flexSheet.setCellData(5, 3, 18);
                flexSheet.setCellData(6, 0, 'Aggregate');
                flexSheet.setCellData(6, 3, 19);
                flexSheet.setCellData(7, 0, 'Date');
                flexSheet.setCellData(7, 3, 9);
                flexSheet.setCellData(8, 0, 'Lookup & Reference');
                flexSheet.setCellData(8, 3, 7);
                flexSheet.setCellData(9, 0, 'Financial');
                flexSheet.setCellData(9, 3, 1);
                flexSheet.setCellData(11, 0, 'Total');
                flexSheet.setCellData(11, 3, '=SUM(D3:D10)');

                flexSheet.applyCellsStyle({
                    fontWeight: 'bold',
                    backgroundColor: '#A7D6FF'
                }, [new wijmo.grid.CellRange(1, 0, 1, 3), new wijmo.grid.CellRange(11, 0, 11, 3)]);
                flexSheet.applyCellsStyle({
                    textAlign: 'right'
                }, [new wijmo.grid.CellRange(2, 3, 11, 3)]);
                for (var rowIndex = 3; rowIndex < 11; rowIndex++) {
                    if (rowIndex % 2 === 1) {
                        flexSheet.applyCellsStyle({
                            backgroundColor: '#E5F3FF'
                        }, [new wijmo.grid.CellRange(rowIndex, 0, rowIndex, 3)]);
                    }
                }

                flexSheet.mergeRange(new wijmo.grid.CellRange(1, 2, 1, 3));
                flexSheet.mergeRange(new wijmo.grid.CellRange(8, 0, 8, 1));
            }

        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><button id="btnUndo" type="button" class="btn btn-default btn-small" title="Undo" ng-disabled="!(ctx.undoStack && ctx.undoStack.canUndo)" ng-click="undo()">
		<span  class="glyphicon glyphicon-share-alt flip"></span>
		<span class="text">Undo</span>
	</button>
	<button id="btnRedo" type="button" class="btn btn-default btn-small" title="Redo" ng-disabled="!(ctx.undoStack && ctx.undoStack.canRedo)" ng-click="redo()">
		<span  class="glyphicon glyphicon-share-alt"></span>
		<span class="text">Redo</span>
	</button>
    <br />
    <wj-flex-sheet id="flexSheet" control="flexSheet" initialized="initializedSheet(s)" style="height: 450px; width: 1400px;">		               
       <wj-sheet name="Summary" row-count="20" column-count="8"></wj-sheet>
       <wj-sheet></wj-sheet>
    </wj-flex-sheet>
    <pre>
    <b>Steps to reproduce:</b>
    1. Run 'FlexSheetExplorer' sample under 'JS/TS->Angular/Angular2'.
    2. Navigate to 'Formulas' sample page and open 'Summary' sheet.
    3. Select a cell B12 and delete column via context menu.
    4. Press 'Ctrl+Z' and then 'Ctrl+Y' key combinations.
    5. Repeat step 3. 
    6. Press 'Ctrl+Z' key combination.
    Observe:
        Duplicate formula is found in cell D12. [Incorrect]
    7. Press 'Ctrl+Y' key combination.
    Observe:
        Duplicate formula is found in cell C12. [Incorrect]
    </pre>
</body>
</html>
