﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
	<script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />   
	<!-- Wijmo -->
	<script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
	<link href="../styles/vendor/wijmo.theme.office.min.css" rel="stylesheet" />
	<!-- Wijmo-Angular interop -->
	
	
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            var countries = ['US', 'UK', 'Japan' ],
		        products = ['Widget', 'Gadget', 'Doohickey'];
            function getData(count) {
                var data = new wijmo.ObservableArray(),
				    countryId,
				    productId;
                for (var i = 0; i < count; i++) {
                    data.push({
                        id: i,
                        countryId: i % countries.length,
                        productId: i % products.length,
                        date: new Date(2018, i % 12, i % 28),
                        amount: (i + 1) * 123.45,
                        active: i % 4 === 0
                    });
                }
                return data;
            }

            var view = new wijmo.CollectionView(getData(10));
            view.groupDescriptions.push(new wijmo.PropertyGroupDescription('countryId'));
            $scope.data = view;

            $scope.initializedSheet = function (flexSheet) {
                flexSheet.deferUpdate(function () {
                    var sheetIdx,
				    sheetName,
				    colIdx,
				    rowIdx;
                    if (flexSheet) {
                        for (sheetIdx = 0; sheetIdx < flexSheet.sheets.length; sheetIdx++) {
                            flexSheet.selectedSheetIndex = sheetIdx;
                            sheetName = flexSheet.selectedSheet.name;
                            if (sheetName === 'Country') {
                                initDataMapForBindingSheet(flexSheet); // initialize the dataMap for the bound sheet.
                            } 
                        }
                        flexSheet.selectedSheetIndex = 0;
                    }
                });
            };

            function initDataMapForBindingSheet(flexSheet) {
                var column;
                if (flexSheet) {
                    column = flexSheet.columns.getColumn('countryId');
                    if (column && !column.dataMap) {
                        column.dataMap = buildDataMap(countries);
                    }
                    column = flexSheet.columns.getColumn('productId');
                    if (column && !column.dataMap) {
                        column.dataMap = buildDataMap(products);
                    }
                    column = flexSheet.columns.getColumn('amount');
                    if (column) {
                        column.format = 'c2';
                    }
                }
            };

            function buildDataMap(items) {
                var map = [];
                for (var i = 0; i < items.length; i++) {
                    map.push({ key: i, value: items[i] });
                }
                return new wijmo.grid.DataMap(map, 'key', 'value');
            };

            $scope.collapseAll = function () {
                $scope.flexSheet.collapseGroupsToLevel(0);
            }
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>
        <input id="chkShowGroups" ng-model="flexSheet.showGroups" type="checkbox" />showGroups
        <button id="btnCollapse" ng-click="collapseAll()">
             Collapse Groups
        </button>
    </p>
    <wj-flex-sheet control="flexSheet" initialized="initializedSheet(s)" show-groups="true" style="height: 450px; width: 1400px;">		               
        <wj-sheet name="Country" items-source="data"></wj-sheet>
    </wj-flex-sheet>
    <pre>
    <b>Steps to reproduce:</b>
    1.    Browse attached sample ‘prj_FlexSheetGroup.htm’.
    2.    Collapse some groups or all groups (by holding Ctrl key) in FlexSheet.
    3.    Select collapsed group rows or select all by clicking top-left cell and press ‘Delete’ key.
    Observe: Collapsed group is not expanded ……Incorrect
    4.    Expand group rows.
    Observe: Group rows are not cleared……Incorrect
    5.    Browse attached sample ‘prj_FlexSheetGroup_500.htm’.
    6.    Repeat steps 2 and 3.
    Observe: Collapse group is expanded and collapsed group rows are cleared. [Correct]
    </pre>
</body>
</html>
