﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
	<script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />   
	<!-- Wijmo -->
	<script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
	<link href="../styles/vendor/wijmo.theme.office.min.css" rel="stylesheet" />
	<!-- Wijmo-Angular interop -->
	
	
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            $scope.initializedSheet = function (flexSheet) {

                var tableStyle, table, i;
                $scope.tableStyleNames = [];
                for (i = 1; i <= 21; i++) {
                    $scope.tableStyleNames.push('TableStyleLight' + i);
                }
                for (i = 1; i <= 28; i++) {
                    $scope.tableStyleNames.push('TableStyleMedium' + i);
                }
                for (i = 1; i <= 11; i++) {
                    $scope.tableStyleNames.push('TableStyleDark' + i);
                }
                flexSheet.selectionChanged.addHandler(function (sender, args) {
                    var selection = args.range;
                    if (selection.isValid) {
                        getSelectedTable(selection, flexSheet);
                    } else {
                        $scope.selectedTable = null;
                    }
                });
                flexSheet.updatedLayout.addHandler(function () {
                    if (flexSheet.selection && flexSheet.selection.isValid) {
                        getSelectedTable(flexSheet.selection, flexSheet);
                    } else {
                        $scope.selectedTable = null;
                    }
                });
            };

            $scope.$watch('cboTableStyles', function () {
                var cboTableStyles = $scope.cboTableStyles;
                if (cboTableStyles) {
                    cboTableStyles.selectedIndexChanged.addHandler(function () {
                        // apply the table style for the selected table.
                        if ($scope.selectedTable) {
                            var tableStyle = $scope.flexSheet.getBuiltInTableStyle(cboTableStyles.selectedValue);
                            $scope.selectedTable.style = tableStyle;
                        }
                    });
                }
            });

            function getSelectedTable(seletion, flexSheet) {
                if (flexSheet) {
                    $scope.selectedTable = flexSheet.selectedSheet.findTable(seletion.row, seletion.col);
                    if ($scope.selectedTable) {
                        var tableStyle = flexSheet.getBuiltInTableStyle($scope.selectedTable.style.name);
                        if (tableStyle) {
                            $scope.cboTableStyles.selectedValue = tableStyle.name;
                        }
                    }
                    safeApply('ctx.selectedTable');
                }
            }

            // Safe invoking the $apply function.
            function safeApply(property) {
                if (!$scope.$root.$$phase) {
                    $scope.$apply(property);
                }
            };

            $scope.undo = function () {
                $scope.flexSheet.undo();
            };

            $scope.redo = function () {
                $scope.flexSheet.redo();
            };
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><button id="btnUndo" type="button" class="btn btn-default btn-small" title="Undo" ng-click="undo()">
		Undo
	</button>
	<button id="btnRedo" type="button" class="btn btn-default btn-small" title="Redo" ng-click="redo()">
		Redo
	</button>
    <br />
    <wj-flex-sheet id="flexSheet" control="flexSheet" initialized="initializedSheet(s)" style="height: 450px; width: 1400px;">		               
        <wj-sheet name="Sheet1"></wj-sheet>
    </wj-flex-sheet>
    <div ng-show="selectedTable != null">
        <h4>Table Style Options</h4>
        <div>
            <label>
                <input id="chkShowHeaderRow" class="form-check-input" type="checkbox" ng-model="selectedTable.showHeaderRow" />
                showHeaderRow
            </label>
            <label>
                <input id="chkShowTotalRow" class="form-check-input" type="checkbox" ng-model="selectedTable.showTotalRow" />
                showTotalRow
            </label>
        </div>
        <div>
            <label>
                <input id="chkShowBandedRows" class="form-check-input" type="checkbox" ng-model="selectedTable.showBandedRows" />
                showBandedRows
            </label>
            <label>
                <input id="chkShowBandedCols" class="form-check-input" type="checkbox" ng-model="selectedTable.showBandedColumns" />
                showBandedColumns
            </label>
        </div>
        <div>
            <label>
                <input id="chkFirstColumn" class="form-check-input" type="checkbox" ng-model="selectedTable.alterFirstColumn" />
                alterFirstColumn
            </label>
            <label>
                <input id="chkLastColumn" class="form-check-input" type="checkbox" ng-model="selectedTable.alterLastColumn" />
                alterLastColumn
            </label>
        </div>
        <div>
            <label style="width:auto">
                Built-in Styles:
            </label>
            <wj-combo-box id="cboTableStyles" control="cboTableStyles" items-source="tableStyleNames" is-editable="false">
            </wj-combo-box>
        </div>
    </div>
    <pre>
    <b>Steps to reproduce:</b>    
    1.    Run ‘JS/TS > Angular/Angular2 > ExcelBook’ sample.
    2.    Navigate to ‘Excel-like Application’.
    3.    Add a new sheet.
    4.    Select an empty cell range and convert to Table.
    5.    Click ‘Undo’ button or press ‘Ctrl + Z’ key.
    Observe: Column headers of the Table (Column1, Column2, etc.) remains showing in the sheet……Incorrect
    </pre>
</body>
</html>
