﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script>
        var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(','),
        data = [];
        for (var i = 0; i < 10; i++) {
            data.push({
                id: i,
                country: countries[i % countries.length],
                date: new Date(2014, i % 12, i % 28),
                amount: i * 100,
                active: i % 4 == 0
            });
        }
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {
            $scope.data = new wijmo.CollectionView(data);

            $scope.init = function (s, e) {
                $scope.data.addNew();
                $scope.data.commitNew();
                s.setCellData(11, 1, '=countif(' + s.sheets[0].name + '!b2:b11,' + s.sheets[0].name + '!b2)');
                s.setCellData(11, 3, '=count(' + s.sheets[0].name + '!d2:d11)');
                s.addUnboundSheet('formulas', 5, 2, 1);
                s.setCellData(1, 1, '=countif(' + s.sheets[0].name + '!b2:b11,' + s.sheets[0].name + '!b2)');
                s.setCellData(2, 1, '=count(' + s.sheets[0].name + '!d2:d11)');
                s.addUnboundSheet('formula', 5, 2, 2);
                s.setCellData(1, 1, '=countif(' + s.sheets[0].name + '!b2:b11,' + s.sheets[0].name + '!b2)');
                s.setCellData(2, 1, '=count(' + s.sheets[0].name + '!d2:d11)');
            };
            $scope.updateCell = function () {
                $scope.flex.deferUpdate(function () {
                    var flex = $scope.flex;
                    var index = flex.selectedSheetIndex;
                    flex.sheets[0].grid.setCellData(2, 1, 'US');
                });
            };
        });
    </script>
</head>
<body>
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div ng-app="app" ng-controller="appCtrl">
        <button id="btnUpdate" ng-click="updateCell()">
            Cell Update</button>
        <button id="btnApply" ng-click="refresh()">
            Apply Formula</button>
        <wj-flex-sheet style="height: 500px;" initialized="init(s,e)" control="flex" id="FlexSheet">
        <wj-sheet name="sheet1"  items-source="data"></wj-sheet>
        </wj-flex-sheet>
    </div>
    <br />
    <br />
    <pre>
Prepro-steps:
1. Open attached sample.
2. Click on Cell Update button.
(Observation)
Cell data is updated, but formulae cells are not updated.
(Actual)
Formulae cells should be updated along with cells data.
3. Uncomment lines those are currently commented. And comment last line.
4. Run the sample and again click on’Cell Update’ button.
(Observation)
Works as expected. Formulae cells updated along with cell data.    
<b>Note:</b> 
User's sample is updated by adding 'deferUpdate' method.
Without 'deferUpdate' , it is need to refresh FlexSheet (e.g. change sheet tab) after 'SetCellData' is called.
    </pre>
</body>
</html>
