﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
	<script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />   
	<!-- Wijmo -->
	<script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
	<link href="../styles/vendor/wijmo.theme.office.min.css" rel="stylesheet" />
	<!-- Wijmo-Angular interop -->
	
	
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            var countries = ['US', 'Germany', 'UK', 'Japan', 'Italy', 'Greece'],
		        products = ['Widget', 'Gadget', 'Doohickey'];
            function getData(count) {
                var data = new wijmo.ObservableArray(),
				    countryId,
				    productId;
                for (var i = 0; i < count; i++) {
                    data.push({
                        id: i,
                        countryId: i % countries.length,
                        productId: i % products.length,
                        date: new Date(2018, i % 12, i % 28),
                        amount: (i + 1) * 123.45,
                        active: i % 4 === 0
                    });
                }
                return data;
            }

            $scope.data = getData(50);

            $scope.initializedSheet = function (flexSheet) {
                flexSheet.deferUpdate(function () {
                    var sheetIdx,
				    sheetName,
				    colIdx,
				    rowIdx;
                    if (flexSheet) {
                        for (sheetIdx = 0; sheetIdx < flexSheet.sheets.length; sheetIdx++) {
                            flexSheet.selectedSheetIndex = sheetIdx;
                            sheetName = flexSheet.selectedSheet.name;
                            if (sheetName === 'Bound') {
                                initDataMapForBindingSheet(flexSheet); // initialize the dataMap for the bound sheet.
                            } else {
                                for (colIdx = 0; colIdx < flexSheet.columns.length; colIdx++) {
                                    for (rowIdx = 0; rowIdx < flexSheet.rows.length; rowIdx++) {
                                        flexSheet.setCellData(rowIdx, colIdx, colIdx + rowIdx);
                                    }
                                }
                            }
                        }
                        flexSheet.selectedSheetIndex = 0;
                    }
                });
            };

            function initDataMapForBindingSheet(flexSheet) {
                var column;
                if (flexSheet) {
                    column = flexSheet.columns.getColumn('countryId');
                    if (column && !column.dataMap) {
                        column.dataMap = buildDataMap(countries);
                    }
                    column = flexSheet.columns.getColumn('productId');
                    if (column && !column.dataMap) {
                        column.dataMap = buildDataMap(products);
                    }
                    column = flexSheet.columns.getColumn('amount');
                    if (column) {
                        column.format = 'c2';
                    }
                }
            };

            function buildDataMap(items) {
                var map = [];
                for (var i = 0; i < items.length; i++) {
                    map.push({ key: i, value: items[i] });
                }
                return new wijmo.grid.DataMap(map, 'key', 'value');
            };
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre><b>Test Case 121424:[FlexSheet] To test whether selected column can be filtered using filter editor</b></pre>

    <button id="btnShowFilter" type="button" class="btn btn-default" ng-click="flexSheet.showColumnFilter()()">Show Filter</button> 
    <br />
    <wj-flex-sheet control="flexSheet" initialized="initializedSheet(s)" style="height: 450px; width: 1400px;">		               
        <wj-sheet name="Bound" items-source="data"></wj-sheet>
        <wj-sheet name="Unbound" row-count="20" column-count="8"></wj-sheet>
    </wj-flex-sheet>
</body>
</html>
