﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
	<script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />   
	<!-- Wijmo -->
	<script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
	<link href="../styles/vendor/wijmo.theme.office.min.css" rel="stylesheet" />
	<!-- Wijmo-Angular interop -->
	
	<!-- app scripts and styles -->
	<link rel="stylesheet" href="../styles/app.css" type="text/css" />
	<script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/services/dataSvc.js" type="text/javascript"></script>
    <script src="../scripts/controllers/flexSheetCtrl.js" type="text/javascript"></script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>
        <b>Test Case 134748:[FlexSheet] To test adding an unbound sheet to the FlexSheet by using 'addUnboundSheet' method</b>
    </p>
    <button id="btnAddUnboundSheet" class="btn btn-default" ng-click="fsheet_addUnbound()">
        addUnboundSheet(0)
    </button>
    <button id="btnAddUnboundSheet2" class="btn btn-default" ng-click="fsheet_addUnbound2()">
        addUnboundSheet(2)
    </button>
    <br />
    <br />
    <wj-flex-sheet id="flexSheet" control="ctx.flexSheet" initialized="initialized(s)" is-tab-holder-visible="true" style="height: 450px; width: 1400px;">
		<wj-sheet name="Bound" items-source="ctx.data10"></wj-sheet>
        <wj-sheet name="Unbound" row-count="10" column-count="5"></wj-sheet>
	</wj-flex-sheet>
</body>
</html>
