﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
	<script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />   
	<!-- Wijmo -->
	<script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
	<link href="../styles/vendor/wijmo.theme.office.min.css" rel="stylesheet" />
	<!-- Wijmo-Angular interop -->
	
	
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            $scope.initializedSheet = function (flexSheet) {
                flexSheet.deferUpdate(function () {
                    var sheetIdx,
				    sheetName;
                    if (flexSheet) {
                        for (sheetIdx = 0; sheetIdx < flexSheet.sheets.length; sheetIdx++) {
                            flexSheet.selectedSheetIndex = sheetIdx;
                            sheetName = flexSheet.selectedSheet.name;
                            if (sheetName === 'Sheet1') {
                                flexSheet.setCellData(0, 0, 'Sheet1');
                            }
                            else if (sheetName === 'Sheet2') {
                                flexSheet.setCellData(0, 0, 'Sheet2');
                            }
                            else {
                                flexSheet.setCellData(0, 0, 'Sheet3');
                            }
                        }
                        flexSheet.selectedSheetIndex = 0;
                    }
                });
            };

        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre><b>Test Case 144806:[FlexSheet] To test whether 'Visible' property of Sheet is working correctly or not</b></pre>

    visible: 
    <input id="chkVisible1" ng-model="flexSheet.sheets[0].visible" type="checkbox" />Sheet1
    <input id="chkVisible2" ng-model="flexSheet.sheets[1].visible" type="checkbox" />Sheet2
    <input id="chkVisible3" ng-model="flexSheet.sheets[2].visible" type="checkbox" />Sheet3
    <br />
    <wj-flex-sheet id="flexSheet" control="flexSheet" initialized="initializedSheet(s)" style="height: 450px; width: 1400px;">		               
        <wj-sheet name="Sheet1"></wj-sheet>
        <wj-sheet name="Sheet2"></wj-sheet>
        <wj-sheet name="Sheet3"></wj-sheet>
    </wj-flex-sheet>
</body>
</html>
