﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
	<script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />   
	<!-- Wijmo -->
	<script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
	<link href="../styles/vendor/wijmo.theme.office.min.css" rel="stylesheet" />
	<!-- Wijmo-Angular interop -->
	
	
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            $scope.initializedSheet = function (flexSheet) {
                flexSheet.deferUpdate(function () {
                    var colIdx,
				    rowIdx;
                    if (flexSheet) {                        
                        for (colIdx = 0; colIdx < flexSheet.columns.length; colIdx++) {
                            for (rowIdx = 1; rowIdx < flexSheet.rows.length; rowIdx++) {
                                flexSheet.setCellData(rowIdx, colIdx, colIdx + rowIdx);
                            }
                        }
                        flexSheet.sheets[0].grid.setCellData(0, 0, '=sum(A2:A5)');
                    }
                });
            };

            $scope.flexSetCellData = function () {
                $scope.flexSheet.deferUpdate(function () {
                    var flexSheet = $scope.flexSheet;
                    flexSheet.sheets[0].grid.setCellData(1, 0, 100);
                });
            };

        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre><b>Test Case 145813:[FlexSheet] To test whether Formula cell value can be updated along with edited cell value using ‘setCellData’ method</b></pre>

    <wj-flex-sheet control="flexSheet" initialized="initializedSheet(s)" style="height: 450px; width: 1400px;">		               
        <wj-sheet name="Sheet1" row-count="20" column-count="8"></wj-sheet>
    </wj-flex-sheet>
    <br />
    <button id="btnSetCellData" ng-click="flexSetCellData()">
        setCellData
    </button>
</body>
</html>
