﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
	<script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />   
	<!-- Wijmo -->
	<script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
	<link href="../styles/vendor/wijmo.theme.office.min.css" rel="stylesheet" />
	<!-- Wijmo-Angular interop -->
	
	<!-- app scripts and styles -->
	<link rel="stylesheet" href="../styles/app.css" type="text/css" />
	<script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/services/dataSvc.js" type="text/javascript"></script>
    <script src="../scripts/controllers/flexSheetCtrl.js" type="text/javascript"></script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p><b>Test Case 142773:[FlexSheet] To test whether multiple row headers or column headers can be added correctly in the FlexSheet</b></p>
    <div class="btn-group">
		<button type="button" id="btnAddRowHeader" class="btn btn-default" ng-click="addRowHeader()">Add Row Header</button>
		<button type="button" id="btnRemoveRowHeader" class="btn btn-default" ng-click="removeRowHeader()">Remove Row Header</button>
		<button type="button" id="btnAddColHeader" class="btn btn-default" ng-click="addColumnHeader()">Add Column Header</button>
		<button type="button" id="btnRemoveColHeader" class="btn btn-default" ng-click="removeColumnHeader()">Remove Column Header</button>
	</div>
    <br />
    <br />
    <wj-flex-sheet id="flexSheet" control="ctx.flexSheet"  initialized="initialized(s)" is-tab-holder-visible="true" style="height: 650px; width: 1400px;">
        <wj-sheet name="Bound" items-source="ctx.data"></wj-sheet>
		<wj-sheet name="Unbound" row-count="10" column-count="5"></wj-sheet>
	</wj-flex-sheet> 
</body>
</html>
