﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
	<script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />   
	<!-- Wijmo -->
	<script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
	<link href="../styles/vendor/wijmo.theme.office.min.css" rel="stylesheet" />
	<!-- Wijmo-Angular interop -->
	
	
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            var countries = ['US', 'Germany', 'UK', 'Japan', 'Italy', 'Greece'],
		        products = ['Widget', 'Gadget', 'Doohickey'];
            function getData(count) {
                var data = new wijmo.ObservableArray();
                for (var i = 0; i < count; i++) {
                    data.push({
                        id: i,
                        country: countries[i % countries.length],
                        product: products[i % products.length],
                        date: new Date(2018, i % 12, i % 28),
                        amount: (i + 1) * 123.45,
                        active: i % 4 === 0
                    });
                }
                return data;
            }

            $scope.data = getData(10);

            $scope.initializedSheet = function (flexSheet) {
                flexSheet.deferUpdate(function () {
                    var sheetIdx,
				    sheetName,
				    colIdx,
				    rowIdx;
                    if (flexSheet) {
                        for (sheetIdx = 0; sheetIdx < flexSheet.sheets.length; sheetIdx++) {
                            flexSheet.selectedSheetIndex = sheetIdx;
                            sheetName = flexSheet.selectedSheet.name;
                            if (sheetName === 'Unbound') {
                                for (colIdx = 0; colIdx < flexSheet.columns.length; colIdx++) {
                                    for (rowIdx = 0; rowIdx < flexSheet.rows.length; rowIdx++) {
                                        flexSheet.setCellData(rowIdx, colIdx, colIdx + rowIdx);
                                    }
                                }
                                flexSheet.mergeRange(new wijmo.grid.CellRange(1, 1, 3, 3));
                            }
                        }
                        flexSheet.selectedSheetIndex = 0;
                    }
                });
            };

            $scope.ctx = {
                flexSheet: null,
                mergeState: {}
            }

            $scope.$watch('ctx.flexSheet', function () {
                var flexSheet = $scope.ctx.flexSheet;
                if (flexSheet) {
                    flexSheet.selectionChanged.addHandler(function () {
                        $scope.ctx.mergeState = flexSheet.getSelectionFormatState();
                        safeApply('ctx.mergeState');
                    });
                }
            });

            $scope.mergeCells = function () {
                var flexSheet = $scope.ctx.flexSheet;
                if (flexSheet) {
                    flexSheet.mergeRange();
                    $scope.ctx.mergeState = flexSheet.getSelectionFormatState();
                    safeApply('ctx.mergeState');
                }
            }

            function safeApply(property) {
                if (!$scope.$root.$$phase) {
                    $scope.$apply(property);
                }
            };

        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre><b>Test Case 138125:[FlexSheet] To test whether inserting/deleting columns/rows working correctly in unbound FlexSheet which contains merged cells</b></pre>

    <wj-flex-sheet id="flexSheet" control="ctx.flexSheet" allow-merging="Cells" initialized="initializedSheet(s)" style="height: 450px; width: 1400px;">		               
        <wj-sheet name="Bound" items-source="data"></wj-sheet>
        <wj-sheet name="Unbound" row-count="12" column-count="6"></wj-sheet>
    </wj-flex-sheet>
    <br />
    <button id="btnMerge" type="button" class="btn btn-default" ng-click="mergeCells()">{{ctx.mergeState.isMergedCell ? 'UnMerge' : 'Merge'}}</button>
</body>
</html>
