﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
	<script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />   
	<!-- Wijmo -->
	<script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
	<link href="../styles/vendor/wijmo.theme.office.min.css" rel="stylesheet" />
	<!-- Wijmo-Angular interop -->
	
	
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            // Show the column filter for the flexSheet control.
            $scope.showFilter = function () {
                var flex = $scope.flexSheet;

                if (flex) {
                    flex.showColumnFilter();
                }
            };

        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
   
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre><b>Test Case 199569:[FlexSheet] To test whether 'showColumnFilter' method works expected or not after importing the Excel file or new sheet is added</b></pre>

    <button type="button" id="btnfilter" class="btn btn-default btn-large no-border" ng-click="showFilter()">
        <span class="glyphicon glyphicon-filter"></span>
        <span class="text">Filter</span>
    </button>    
    <br /><br />

    <wj-flex-sheet control="flexSheet" style="height: 450px; width: 900px;">
        <wj-sheet name="Sheet1"></wj-sheet>
    </wj-flex-sheet>
    
</body>
</html>