﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
	<script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />   
	<!-- Wijmo -->
	<script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
	<link href="../styles/vendor/wijmo.theme.office.min.css" rel="stylesheet" />
	<!-- Wijmo-Angular interop -->
	
	
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            $scope.initializedSheet = function (flexSheet) {
                flexSheet.deferUpdate(function () {
                    for (var i = 0; i < flexSheet.sheets.length; i++) {
                        flexSheet.sheets.selectedIndex = i;
                        switch (flexSheet.sheets[i].name) {
                            case 'Sheet1':
                                flexSheet.setCellData(0, 0, 'Sheet1');
                                break;
                            case 'Sheet2':
                                flexSheet.setCellData(0, 0, 'Sheet2');
                                break;
                            case 'Sheet3':
                                flexSheet.setCellData(0, 0, 'Sheet3');
                                break;
                            case 'Sheet4':
                                flexSheet.setCellData(0, 0, 'Sheet4');
                                break;
                            case 'Sheet5':
                                flexSheet.setCellData(0, 0, 'Sheet5');
                                break;
                        }
                    }
                    flexSheet.selectedSheetIndex = 0;
                });
            };

            $scope.sheets_remove = function () {
                var flexSheet = $scope.flexSheet;
                var count = flexSheet.sheets.length;
                var sheet = flexSheet.sheets[count-1];
                flexSheet.sheets.remove(sheet);
            };

            $scope.sheets_removeAt = function () {
                var flexSheet = $scope.flexSheet;
                var count = flexSheet.sheets.length;
                if (count != 0)
                    flexSheet.sheets.removeAt(0);
            };

            $scope.sheets_clear = function () {
                var flexSheet = $scope.flexSheet;
                flexSheet.sheets.clear();
            };
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre><b>Test Case 152494:[FlexSheet] To test whether 'remove', 'removeAt' and 'clear' methods of 'SheetCollection' class are working properly</b></pre>

    <wj-flex-sheet id="flexSheet" control="flexSheet" initialized="initializedSheet(s)" style="height: 450px; width: 1400px;">		               
        <wj-sheet name="Sheet1"></wj-sheet>
        <wj-sheet name="Sheet2"></wj-sheet>
        <wj-sheet name="Sheet3"></wj-sheet>
        <wj-sheet name="Sheet4"></wj-sheet>
        <wj-sheet name="Sheet5"></wj-sheet>
    </wj-flex-sheet>
    <br />
    <button id="btnRemoveAt" class="btn btn-default" ng-click="sheets_removeAt()">
		removeAt(first)
	</button>
    <button id="btnRemove" class="btn btn-default" ng-click="sheets_remove()">
		remove(last)
	</button>
    <button id="btnClear" class="btn btn-default" ng-click="sheets_clear()">
		clear
	</button>
</body>
</html>
