﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
	<script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />   
	<!-- Wijmo -->
	<script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
	<link href="../styles/vendor/wijmo.theme.office.min.css" rel="stylesheet" />
	<!-- Wijmo-Angular interop -->
	
	
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            var countries = ['US', 'Germany', 'UK', 'Japan', 'Italy', 'Greece'],
		        products = ['Widget', 'Gadget', 'Doohickey'];
            function getTableData(count) {
                var data = new wijmo.ObservableArray();
                for (var i = 0; i < count; i++) {
                    data.push({
                        ID: i,
                        Country: countries[i % countries.length],
                        Product: products[i % products.length],
                        Date: new Date(2018, i % 12, i % 28),
                        Amount: (i + 1) * 123.45
                    });
                }
                return data;
            }

            $scope.tableData = getTableData(10);


            var tableStyle, table;
            $scope.initializedSheet = function (flexSheet) {
                tableStyle = flexSheet.getBuiltInTableStyle('TableStyleDark9');
                table = flexSheet.selectedSheet.addTableFromArray(1, 1, $scope.tableData, null, 'Table1', tableStyle, { showTotalRow: true });
            };

            $scope.getColumns = function () {               

                var result = table.getColumns();
                alert("TableHeader::" + result[0].name + "," + result[1].name + "," + result[2].name + "," + result[3].name + "," + result[4].name);
            }

        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre><b>Test Case 291109:[FlexSheet] To test whether 'getColumns' method of table work properly or not</b></pre>

    <wj-flex-sheet control="tableSheet" initialized="initializedSheet(s)" style="height: 500px; width: 1400px;">		               
       <wj-sheet name="Table"></wj-sheet>
    </wj-flex-sheet>
    <br /><br />
     <button id="btngetColumns" class="btn btn-default" ng-click="getColumns()">
      Get Columns
    </button>
    
</body>
</html>
