﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
	<script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />   
	<!-- Wijmo -->
	<script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
	<link href="../styles/vendor/wijmo.theme.office.min.css" rel="stylesheet" />
	<!-- Wijmo-Angular interop -->
	
	<!-- app scripts and styles -->
	<link rel="stylesheet" href="../styles/app.css" type="text/css" />
</head>
<body>
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>
        <b>Test Case 251726:[FlexSheet] To test whether the result value returns correctly if the cell contains a formula when using 'getCellValue' method</b>
    </p>
    <br />
    <div ng-app="app" ng-controller="appCtrl">
        <wj-flex-sheet id="flexSheet" control="ctx.flexSheet" initialized="initialized(s)" is-tab-holder-visible="true" style="height: 450px; width: 1400px;">		        
            <wj-sheet name="Sheet1"></wj-sheet>
	    </wj-flex-sheet>
        <br />
        <textarea id="TextArea1" style="height: 120px;"></textarea><br />
        <button id="btnGetCellValue1" class="btn btn-default" ng-click="getCellValue1()">getCellValue(true)</button>
        <button id="btnGetCellValue2" class="btn btn-default" ng-click="getCellValue2()">getCellValue(false)</button>
    </div>
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {
            $scope.initialized = function (s) {
                s.deferUpdate(function () {
                    var num = 0.123456789;
                    var num2 = 12.123456789;
                    s.setCellData(0, 0, new Date(2017, 11, 25));
                    s.setCellData(0, 1, num);
                    s.setCellData(0, 2, num2);
                    s.applyCellsStyle({
                        format: 'yyyy/MM/dd'
                    }, [new wijmo.grid.CellRange(0, 0, 1, 0)]);
                    s.applyCellsStyle({
                        format: 'p0'
                    }, [new wijmo.grid.CellRange(0, 1, 1, 1)]);
                    s.applyCellsStyle({
                        format: 'c2'
                    }, [new wijmo.grid.CellRange(0, 2, 1, 2)]);
                });

            };
            $scope.getCellValue1 = function () {
                var flex = $scope.ctx.flexSheet;
                var sel = flex.selection;
                var col = sel.col;
                var row = sel.row;
                $("#TextArea1").append(flex.getCellValue(row, col, true) + "\n");
            };

            $scope.getCellValue2 = function () {
                var flex = $scope.ctx.flexSheet;
                var sel = flex.selection;
                var col = sel.col;
                var row = sel.row;
                $("#TextArea1").append(flex.getCellValue(row, col, false) + "\n");
            };
        });
    </script>
</body>
</html>
