﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/services/dataSvc.js" type="text/javascript"></script>
    
    <script>
        angular.module('app').controller('appCtrl', function ($scope, dataSvc) {
            $scope.ctx = {
                data: dataSvc.getData(15),
                flexSheet: null,
                sheets: [],
                selectedSheetIndex: 0
            };

            $scope.initialized = function (s) {
                var column;

                for (var i = 0; i < s.sheets.length; i++) {
                    s.sheets.selectedIndex = i;
                    switch (s.sheets[i].name) {
                        case 'Country':
                            initDataMapForBindingSheet(s);
                            break;
                        case 'Report':
                            generateUseCaseTemplateSheet(s);
                            break;
                        case 'Formulas':
                            generateFormulasSheet(s);
                            break;
                    }
                    $scope.ctx.sheets.push(s.sheets[i].name);
                }
                s.selectedSheetIndex = 0;
                s.refresh();
                $scope.$apply('ctx.sheets');

                var flexSheet = s;
                flexSheet.beginningEdit.addHandler(function (sender, e) {
                    if (e.row == 1 && e.col == 0) {
                        e.cancel = true;
                    }
                });
            };

            function initDataMapForBindingSheet(flexSheet) {
                var column;

                if (flexSheet) {
                    column = flexSheet.columns.getColumn('countryId');
                    if (column && !column.dataMap) {
                        column.dataMap = buildDataMap(dataSvc.getCountries());
                    }
                    column = flexSheet.columns.getColumn('productId');
                    if (column && !column.dataMap) {
                        column.dataMap = buildDataMap(dataSvc.getProducts());
                    }
                }
            };

            function buildDataMap(items) {
                var map = [];
                for (var i = 0; i < items.length; i++) {
                    map.push({ key: i, value: items[i] });
                }
                return new wijmo.grid.DataMap(map, 'key', 'value');
            };

            $scope.sheetCleared = function () {
                $("#eventList").append('<li> sheetCleared event fired </li>');
            }

            $scope.clearData = function () {
                var flexSheet = $scope.ctx.flexSheet;
                flexSheet.clear();

            };

            $scope.clearAllSheet = function () {
                var flexSheet = $scope.ctx.flexSheet;
                flexSheet.sheets.clear();

            };
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><br />
    <br />
    <label>Test Case 202757:[FlexSheet] To test whether 'sheetCleared' event fire properly or not</label>
    <br />
    <br />
    <div id="eventList">
    </div>
    <br />
    &nbsp;
    <button id="btnClearAllSheet" class="btn btn-default" ng-click="clearAllSheet()">
        Clear all sheet
    </button>
    &nbsp;
    <button id="btnClearData" class="btn btn-default" ng-click="clearData()">
        Clear
    </button>
    <br />
    <br />
    <div>
        <wj-flex-sheet control="ctx.flexSheet" class="flexSheet" style="height: 450px; width: 1200px;"
            initialized="initialized(s)" sheet-cleared="sheetCleared()">			
			<wj-sheet name="Empty Sheet" row-count="10" column-count="5"></wj-sheet>	
            <wj-sheet name="Empty Sheet 1" row-count="10" column-count="5"></wj-sheet>				
		</wj-flex-sheet>
    </div>
    <br />
</body>
</html>
