﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
	<script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />   
	<!-- Wijmo -->
	<script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
	<link href="../styles/vendor/wijmo.theme.office.min.css" rel="stylesheet" />
	<!-- Wijmo-Angular interop -->
	
	
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            $scope.initializedSheet = function (flexSheet) {
                flexSheet.deferUpdate(function () {
                    if (flexSheet) {
                        //flexSheet.showFilterIcons = false;
                    }
                });
            };

        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre><b>Test Case 214724:[FlexSheet] To test whether the filter icons are able to show/hide in the column headers when setting 'showFilterIcons' property</b></pre>

    <input id="chkShowFilterIcons" ng-model="flexSheet.showFilterIcons" type="checkbox" />showFilterIcons
    <br />
    <wj-flex-sheet control="flexSheet" initialized="initializedSheet(s)" show-filter-icons="false" style="height: 450px; width: 1380px;">		               
        <wj-sheet name="Sheet1"></wj-sheet>
    </wj-flex-sheet>
</body>
</html>
