﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
	<script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />   
	<!-- Wijmo -->
	<script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
	<link href="../styles/vendor/wijmo.theme.office.min.css" rel="stylesheet" />
	<!-- Wijmo-Angular interop -->
	
	
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            var countries = ['US', 'Germany', 'UK', 'Japan', 'Italy', 'Greece'],
		        products = ['Widget', 'Gadget', 'Doohickey'];
            function getData(count) {
                var data = new wijmo.ObservableArray(),
				    countryId,
				    productId;
                for (var i = 0; i < count; i++) {
                    data.push({
                        id: i,
                        countryId: i % countries.length,
                        productId: i % products.length,
                        date: new Date(2018, i % 12, i % 28),
                        amount: (i + 1) * 123.45,
                        active: i % 4 === 0
                    });
                }
                return data;
            }

            $scope.data = getData(20);

            $scope.initializedSheet = function (flexSheet) {
                flexSheet.deferUpdate(function () {
                    var sheetIdx,
				    sheetName,
				    colIdx,
				    rowIdx;
                    if (flexSheet) {
                        for (sheetIdx = 0; sheetIdx < flexSheet.sheets.length; sheetIdx++) {
                            flexSheet.selectedSheetIndex = sheetIdx;
                            sheetName = flexSheet.selectedSheet.name;
                            if (sheetName === 'Bound') {
                                initDataMapForBindingSheet(flexSheet);
                            } else {
                                for (colIdx = 0; colIdx < flexSheet.columns.length; colIdx++) {
                                    for (rowIdx = 0; rowIdx < flexSheet.rows.length; rowIdx++) {
                                        flexSheet.setCellData(rowIdx, colIdx, colIdx + rowIdx);
                                    }
                                }
                            }
                        }
                        flexSheet.selectedSheetIndex = 0;
                    }
                });
            };

            function initDataMapForBindingSheet(flexSheet) {
                var column;
                if (flexSheet) {
                    column = flexSheet.columns.getColumn('countryId');
                    if (column && !column.dataMap) {
                        column.dataMap = buildDataMap(countries);
                    }
                    column = flexSheet.columns.getColumn('productId');
                    if (column && !column.dataMap) {
                        column.dataMap = buildDataMap(products);
                    }
                    column = flexSheet.columns.getColumn('amount');
                    if (column) {
                        column.format = 'c2';
                    }
                }
            };

            function buildDataMap(items) {
                var map = [];
                for (var i = 0; i < items.length; i++) {
                    map.push({ key: i, value: items[i] });
                }
                return new wijmo.grid.DataMap(map, 'key', 'value');
            };

        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre><b>Test Case 359208:[FlexSheet] To test whether column headers remain visible or not when setting 'stickyHeaders' property and scrolls the document</b></pre>
   
    <wj-flex-sheet id="flexSheet" control="flexSheet" initialized="initializedSheet(s)" sticky-headers="true" style="height: 350px; width: 1200px;">		                      
        <wj-sheet name="Bound" items-source="data"></wj-sheet>
        <wj-sheet name="Unbound" row-count="20" column-count="10"></wj-sheet>
    </wj-flex-sheet>
    <br />
    <label>
        <input id="chkStickyHeaders" type="checkbox" ng-model="flexSheet.stickyHeaders" />stickyHeaders
    </label><br />
    <input type="textbox" id="Textbox1"/> 
    <p>
        Some dummy text to make the page scrollable...
    </p>
    <p ng-repeat="i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    <p>
    <input type="textbox"/>  
</body>
</html>
