﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
	<script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />   
	<!-- Wijmo -->
	<script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
	<link href="../styles/vendor/wijmo.theme.office.min.css" rel="stylesheet" />
	<!-- Wijmo-Angular interop -->
	
	
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            $scope.ctx = {
                flexSheet: null,
                selection: {
                    content: '',
                    position: '',
                    fontFamily: 'Arial, Helvetica, sans-serif',
                    fontSize: '8px'
                },
                selectionFormatState: {},
                columns: [],
                includeFormulaValues: false
            };

            $scope.updateSelectionContent = function (e) {
                var flexSheet = $scope.ctx.flexSheet,
			        selection = flexSheet.selection;

                if (e.keyCode) {
                    if (flexSheet.isFunctionListOpen) {
                        switch (e.keyCode) {
                            case 38:
                                flexSheet.selectPreviousFunction();
                                e.preventDefault();
                                return;
                            case 40:
                                flexSheet.selectNextFunction();
                                e.preventDefault();
                                return;
                            case 9:
                            case 13:
                                flexSheet.applyFunctionToCell();
                                e.preventDefault();
                                return;
                            case 27:
                                flexSheet.hideFunctionList();
                                e.preventDefault();
                                return;
                        }
                    }
                    if (e.keyCode !== 13) {
                        return;
                    }
                }

                if (selection && selection.row > -1 && selection.col > -1) {
                    if (flexSheet.isFunctionListOpen) {
                        setTimeout(function () {
                            flexSheet.hideFunctionList();
                        }, 200);
                    } else {
                        flexSheet.setCellData(selection.row, selection.col, e.target.value, true);
                        if (pendingAction instanceof wijmo.grid.sheet._EditAction && pendingAction.saveNewState()) {
                            flexSheet.undoStack._addAction(pendingAction);
                        }
                        pendingAction = null;
                        flexSheet.refresh(false);
                    }
                }
            };

            $scope.pendingCellEditAction = function () {
                pendingAction = new wijmo.grid.sheet._EditAction($scope.ctx.flexSheet);
            }

            $scope.showFunctionList = function (e) {
                var flexSheet = $scope.ctx.flexSheet;

                if ((e.keyCode && e.keyCode !== 27 && (e.keyCode > 40 || e.keyCode < 32)) || !e.keyCode) {
                    flexSheet.showFunctionList(e.target);
                }
            };



        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre><b>Test Case 359222:[FlexSheet] To test whether the function list opens or not when invoke 'showFunctionList' method</b></pre>

    <input id="formulaBar" type="text" class="form-control" ng-model="ctx.selection.content" ng-keydown="updateSelectionContent($event)" ng-keyup="showFunctionList($event)" ng-focus="pendingCellEditAction()" />
    <wj-flex-sheet id="flexSheet" control="ctx.flexSheet" style="height: 350px;">		                      
        <wj-sheet name="Sheet1"></wj-sheet>
    </wj-flex-sheet>
</body>
</html>
