﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
	<script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />   
	<!-- Wijmo -->
	<script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
	<link href="../styles/vendor/wijmo.theme.office.min.css" rel="stylesheet" />
	<!-- Wijmo-Angular interop -->
	
	
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            var countries = ['US', 'Germany', 'UK', 'Japan', 'Italy', 'Greece'],
		        products = ['Widget', 'Gadget', 'Doohickey'];
            function getTableData(count) {
                var data = new wijmo.ObservableArray();
                for (var i = 0; i < count; i++) {
                    data.push({
                        ID: i,
                        Country: countries[i % countries.length],
                        Product: products[i % products.length],
                        Date: new Date(2018, i % 12, i % 28),
                        Amount: (i + 1) * 123.45
                    });
                }
                return data;
            }

            $scope.tableData = getTableData(10);

            var tableStyle, table;
            $scope.initializedSheet = function (flexSheet) {
                tableStyle = flexSheet.getBuiltInTableStyle('TableStyleDark9');
                table = flexSheet.selectedSheet.addTableFromArray(1, 1, $scope.tableData, null, 'Table1', tableStyle, { showTotalRow: true });
            };

            $scope.insertTableRows = function () {
                var index = $scope.numIndex.value;
                var count = $scope.numCount.value;
                var shift = document.getElementById('chkShift').checked;
                table.insertRows(index, count, shift);
            }
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre><b>Test Case 336013:[FlexSheet] To test whether rows can be inserted into Table correctly using 'insertRows' method of Table</b></pre>

    <wj-flex-sheet control="tableSheet" initialized="initializedSheet(s)" style="height: 500px; width: 1400px;">		               
       <wj-sheet name="Table"></wj-sheet>
    </wj-flex-sheet>
    <br /><br />
    index:<wj-input-number id="numIndex" control="numIndex" value="1" min="1" max="10" step="1">
	</wj-input-number>
    count:<wj-input-number id="numCount" control="numCount" value="1" min="1" max="5" step="1">
	</wj-input-number>
    <input id="chkShift" type="checkbox" checked="checked">shift
    <button id="btnInsertRows"
        type="button" 
        class="btn btn-default"
        ng-click="insertTableRows()">
        insertRows
    </button>
</body>
</html>
