﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
	<script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />   
	<!-- Wijmo -->
	<script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
	<link href="../styles/vendor/wijmo.theme.office.min.css" rel="stylesheet" />
	<!-- Wijmo-Angular interop -->
	
	
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            var countries = ['US', 'Germany', 'UK', 'Japan', 'Italy', 'Greece'],
		        products = ['Widget', 'Gadget', 'Doohickey'];
            function getData(count) {
                var data = new wijmo.ObservableArray(),
				    countryId,
				    productId;
                for (var i = 0; i < count; i++) {
                    data.push({
                        countryId: i % countries.length,
                        productId: i % products.length,
                        active: i % 4 === 0
                    });
                }
                return data;
            }

            $scope.data = getData(10);

            $scope.initializedSheet = function (flexSheet) {

                var tableStyle;           

                tableStyle = flexSheet.getBuiltInTableStyle('TableStyleDark9');
                table = flexSheet.selectedSheet.addTableFromArray(1, 1, getData(5), null, 'Table2', tableStyle, { showTotalRow: true });
            };            

            $scope.deleteHeaderRows = function () {
                var flexSheet = $scope.flexSheet;
                flexSheet.deleteRows(1);
            };

            $scope.deleteTotalRows = function () {
                var flexSheet = $scope.flexSheet;
                flexSheet.deleteRows(6);
            };     

        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl" style="margin:50px;">

    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre><b>Test Case 346999:[FlexSheet] To test whether the header row and total row of the table can be deleted or not by invoking 'deleteRows' method</b></pre>

    <button id="btnDelHead" class="btn btn-default" ng-click="deleteHeaderRows()">Delete Header Rows</button>
    <button id="btnDelTotal" class="btn btn-default" ng-click="deleteTotalRows()">Delete Total Rows</button>
    <br /><br />

    <wj-flex-sheet id="flexSheet" control="flexSheet" initialized="initializedSheet(s)" style="height: 400px; width: 800px;">        
        <wj-sheet name="Unbound" row-count="12" column-count="6"></wj-sheet>
    </wj-flex-sheet>

</body>
</html>
