﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    

    <script type="text/javascript">
        var countries = 'US,UK,China,Germany,India'.split(','),
            data = [];
        for (var i = 0; i < 10; i++) {
            data.push({
                id: i,
                country: countries[i % countries.length],
                sales: Math.random() * 1000,
                downloads: { name: countries[i % countries.length], value: Math.random() * 10000, date: new Date() },

            });
        }
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {
            $scope.data = new wijmo.CollectionView(data);
            $scope.data.trackChanges = true;
           
        });
    </script>
</head>
<body>
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><p>Test Case 261775:[CollectionView] To test whether 'itemsEdited' array get updated correctly on editing items when applied filtering in grid</p>
    <div ng-app="app" ng-controller="appCtrl">
        <wj-flex-grid items-source="data" allow-delete="true" style="height:500px;" cell-edit-ended="rowEdit(s,e)"> 
            <wj-flex-grid-filter></wj-flex-grid-filter>
        </wj-flex-grid>
        <label id="lblEditedItems">Edited item : {{data.itemsEdited.length}}</label>
    </div>   
</body>
</html>
