﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/gauge_appCtrl.js" type="text/javascript"></script>
    <link href="../styles/gauge.css" rel="stylesheet" type="text/css" />
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><label>thumbSize</label>
    <wj-input-number
        value="props.thumbSize"
        min="0" max="50" step="5" required="false"
        placeholder="10">
    </wj-input-number>
    <wj-linear-gauge id="linearGauge"
        value="props.value"
        min="{{ props.min }}"
        max="{{ props.max }}"
        step="{{ props.step }}"
        format="{{ props.format }}"
        is-read-only="false"
        is-animated="false"
        thumb-size="{{ props.thumbSize }}"
        class="linear-gauge">
        <wj-range wj-property="face" thickness="0.25"></wj-range>
        <wj-range wj-property="pointer" thickness="0.25"></wj-range>
    </wj-linear-gauge>
    <wj-radial-gauge id="radialGauge"
        value="props.value"
        min="{{ props.min }}"
        max="{{ props.max }}"
        step="{{ props.step }}"
        format="{{ props.format }}"
        is-read-only="false"
        is-animated="false"
        thumb-size="{{ props.thumbSize }}"
        class="radial-gauge">
        <wj-range wj-property="face" thickness="0.08"></wj-range>
        <wj-range wj-property="pointer" thickness="0.08"></wj-range>
    </wj-radial-gauge>
</body>
</html>
