﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/gauge_appCtrl.js" type="text/javascript"></script>
    <link href="../styles/gauge.css" rel="stylesheet" type="text/css" />
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><label>
        showRanges
        <input id="chkShowRanges" type="checkbox" ng-model="props.showRanges" />
    </label>
    <wj-linear-gauge value="props.value"
        id="linear"
        format="n1"
		min="{{ props.min }}"
		max="{{ props.max }}"
		origin="{{ props.origin }}"
		show-text="{{ props.showText }}"
		show-ranges="{{ props.showRanges }}"
		class="linear-gauge">
		<wj-range wj-property="pointer" thickness="{{ props.ranges.pointerThickness }}"></wj-range>
		<wj-range min="{{ props.ranges.lower.min }}" max="{{ props.ranges.lower.max }}" color="red"></wj-range>
		<wj-range min="{{ props.ranges.middle.min }}" max="{{ props.ranges.middle.max }}" color="yellow"></wj-range>
		<wj-range min="{{ props.ranges.upper.min }}" max="{{ props.ranges.upper.max }}" color="green"></wj-range>
	</wj-linear-gauge>

	<wj-radial-gauge value="props.value"
        id="radial"
        format="n1"
		min="{{ props.min }}"
		max="{{ props.max }}"
		origin="{{ props.origin }}"
		show-text="{{ props.showText }}"
		show-ranges="{{ props.showRanges }}"
		auto-scale="{{ props.autoScale }}"
		start-angle="{{ props.startAngle }}"
		sweep-angle="{{ props.sweepAngle }}"
		class="radial-gauge">
		<wj-range wj-property="pointer" thickness="{{ props.ranges.pointerThickness }}"></wj-range>
		<wj-range min="{{ props.ranges.lower.min }}" max="{{ props.ranges.lower.max }}" color="red"></wj-range>
		<wj-range min="{{ props.ranges.middle.min }}" max="{{ props.ranges.middle.max }}" color="yellow"></wj-range>
		<wj-range min="{{ props.ranges.upper.min }}" max="{{ props.ranges.upper.max }}" color="green"></wj-range>
	</wj-radial-gauge>

	<wj-bullet-graph value="props.value"
        id="bullet"
        format="n1"
		min="{{ props.min }}"
		max="{{ props.max }}"
		origin="{{ props.origin }}"
		good="{{ props.ranges.middle.max }}"
		bad="{{ props.ranges.middle.min }}"
		target="{{ props.ranges.target }}"
		show-ranges="{{ props.showRanges }}"
        show-text="{{ props.showText }}"
		class="linear-gauge">
		<wj-range wj-property="pointer" thickness="{{ props.ranges.pointerThickness }}"></wj-range>
        <wj-range min="{{ props.ranges.lower.min }}" max="{{ props.ranges.lower.max }}" color="red"></wj-range>
		<wj-range min="{{ props.ranges.middle.min }}" max="{{ props.ranges.middle.max }}" color="yellow"></wj-range>
		<wj-range min="{{ props.ranges.upper.min }}" max="{{ props.ranges.upper.max }}" color="green"></wj-range>
	</wj-bullet-graph>
    <br />
    <p>
        1. Run 'GaugeIntro' sample. <br />
        2. Navigate to gauges under 'Using Ranges' topic. <br />
        3. Toggle off 'Show Ranges' check box. <br />
        [Expected] Ranges are shown in C1LinearGauge, C1BulletGraph and C1RadialGauge. <br />
        4. Toggle on 'Show Ranges' check box. <br />
        [Expected] Ranges are shown in C1LinearGauge, C1BulletGraph and C1RadialGauge.  
    </p>
</body>
</html>
