﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/gauge_appCtrl.js" type="text/javascript"></script>
    <link href="../styles/gauge.css" rel="stylesheet" type="text/css" />
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><wj-linear-gauge id="linearGauge"
        value="0.5" 
        min="{{ props.min }}" 
        max="{{ props.max }}"
        format="{{ props.format }}" 
        step="{{ props.step }}" 
        is-read-only="{{ props.isReadOnly }}"
        show-text="{{ props.showText }}"
        class="linear-gauge">
    </wj-linear-gauge>
    <wj-radial-gauge id="radialGauge"
        value="0.5" 
        min="{{ props.min }}" 
        max="{{ props.max }}"
        format="{{ props.format }}" 
        step="{{ props.step }}" 
        is-read-only="{{ props.isReadOnly }}"
        show-text="{{ props.showText }}"
        class="radial-gauge">
    </wj-radial-gauge>
    <p></p>
    <wj-menu value="props.step" header="Step">
        <wj-menu-item value="0.05">0.05</wj-menu-item>
        <wj-menu-item value="0.1">0.1</wj-menu-item>
        <wj-menu-item value="0.2">0.2</wj-menu-item>
        <wj-menu-item value="0.25">0.25</wj-menu-item>
        <wj-menu-item value="0.5">0.5</wj-menu-item>
    </wj-menu>
    <p></p>
    <p>
        1. Run attached sample. <br />
        2. Choose '0.1' from 'Step' drop-down. <br />
        3. Click '+' or '-' buttons in 'Gauge Value' input. <br />
        [Expected] The amount of 'Step' value (10) is increased or decreased to the values of the gauges.<br />
        4. Get focus on a gauge. <br />
        5. Press left arrow key or right arrow key on gauges. <br />
        [Expected] The amount of 'Step' value (10) is increased or decreased to the values of the gauges.
    </p>
</body>
</html>
