﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/gauge_appCtrl.js" type="text/javascript"></script>
    <link href="../styles/gauge.css" rel="stylesheet" type="text/css" />
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div>
		<wj-menu value="props.origin" header="Origin">
			<wj-menu-item value="0">0</wj-menu-item>
			<wj-menu-item value="0.1">0.1</wj-menu-item>
			<wj-menu-item value="0.2">0.2</wj-menu-item>
			<wj-menu-item value="0.3">0.3</wj-menu-item>
			<wj-menu-item value="0.4">0.4</wj-menu-item>
			<wj-menu-item value="0.5">0.5</wj-menu-item>
		</wj-menu>
	</div>
    <br/>
	<div>
		<wj-linear-gauge value="props.value"
            id="linear"
			min="{{ props.min }}"
			max="{{ props.max }}"
			origin="{{ props.origin }}"
			show-text="{{ props.showText }}"
			show-ranges="{{ props.showRanges }}"
			class="linear-gauge">
			<wj-range wj-property="pointer" thickness="{{ props.ranges.pointerThickness }}"></wj-range>
			<wj-range min="{{ props.ranges.lower.min }}" max="{{ props.ranges.lower.max }}" color="{{ props.ranges.lower.color }}"></wj-range>
			<wj-range min="{{ props.ranges.middle.min }}" max="{{ props.ranges.middle.max }}" color="{{ props.ranges.middle.color }}"></wj-range>
			<wj-range min="{{ props.ranges.upper.min }}" max="{{ props.ranges.upper.max }}" color="{{ props.ranges.upper.color }}"></wj-range>
		</wj-linear-gauge>

		<wj-radial-gauge value="props.value"
            id="radial"
			min="{{ props.min }}"
			max="{{ props.max }}"
			origin="{{ props.origin }}"
			show-text="{{ props.showText }}"
			show-ranges="{{ props.showRanges }}"
			auto-scale="{{ props.autoScale }}"
			start-angle="{{ props.startAngle }}"
			sweep-angle="{{ props.sweepAngle }}"
			class="radial-gauge">
			<wj-range wj-property="pointer" thickness="{{ props.ranges.pointerThickness }}"></wj-range>
			<wj-range min="{{ props.ranges.lower.min }}" max="{{ props.ranges.lower.max }}" color="{{ props.ranges.lower.color }}"></wj-range>
			<wj-range min="{{ props.ranges.middle.min }}" max="{{ props.ranges.middle.max }}" color="{{ props.ranges.middle.color }}"></wj-range>
			<wj-range min="{{ props.ranges.upper.min }}" max="{{ props.ranges.upper.max }}" color="{{ props.ranges.upper.color }}"></wj-range>
		</wj-radial-gauge>

		<wj-bullet-graph value="props.value"
            id="bullet"
			min="{{ props.min }}"
			max="{{ props.max }}"
			origin="{{ props.origin }}"
			good="{{ props.ranges.middle.max }}"
			bad="{{ props.ranges.middle.min }}"
			target="{{ props.ranges.target }}"
			show-ranges="{{ props.showRanges }}"
			class="linear-gauge">
			<wj-range wj-property="pointer" thickness="{{ props.ranges.pointerThickness }}"></wj-range>
		</wj-bullet-graph>
	</div>
    <br />
    <p>
        1. Run attached sample. <br /> 
        2. Choose a value (example: '1') from 'Origin' menu. <br /> 
        [Expected] Starting point should change from '0' to '1'.
    </p>
</body>
</html>
