﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/gauge.css" rel="stylesheet" type="text/css" />
    <script>
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            // a collection of property values for the Wijmo Gauges
            $scope.props = {
                format: 'p0',
                max: 1,
                min: 0,
                showRanges: true,
                showText: 'All',                
                value: 0.5
            };
        });
    </script>
    <style>
        .wj-gauge.custom-gauge {
            fill: #FF1493;
            stroke: #FF1493;
        }
    </style>
</head>
<body ng-app="app" ng-controller="appCtrl" style="margin:30px;">

    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 100911:[Gauge] To test customizing the appearance of the gauges by adding custom CSS style and using new CSS file in gauge class</p>

    <wj-linear-gauge class="custom-gauge" id="linearGauge"
                    value="props.value"
                    min="{{ props.min }}"
                    max="{{ props.max }}"
                    format="{{ props.format }}"
                    show-text="{{ props.showText }}"                    
                    show-ranges="{{ props.showRanges }}"
                    dir="auto"
                    class="linear-gauge">    
    </wj-linear-gauge>

    <wj-bullet-graph class="custom-gauge" id="bulletGraph"
                    value="props.value"
                    min="{{ props.min }}"
                    max="{{ props.max }}"
                    format="{{ props.format }}"
                    show-text="{{ props.showText }}"
                    dir="auto"
                    class="linear-gauge">    
    </wj-bullet-graph>
                   
    <wj-radial-gauge class="custom-gauge" id="radialGauge"
                value="props.value"
                min="{{ props.min }}"
                max="{{ props.max }}"
                format="{{ props.format }}"
                show-text="{{ props.showText }}"
                step="{{ props.step }}"
                show-ranges="{{ props.showRanges }}"
                dir="auto"
                class="radial-gauge">
    </wj-radial-gauge>
   
</body>
</html>