﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/gauge.css" rel="stylesheet" type="text/css" />
    <script>

        var app = angular.module('app',['wj']);

        app.controller('appCtrl', function ($scope) {

            // a collection of property values for the Wijmo Gauges
            $scope.props = {    
                format: 'C1',
                max: 1,
                min: 0,
                ranges: {
                    pointerThickness: 0.5,
                    target: .75,
                    lower: {
                        min: 0,
                        max: .33,
                        color: 'rgba(255,100,100,.1)'
                    },
                    middle: {
                        min: .33,
                        max: .66,
                        color: 'rgba(255,255,100,.1)'
                    },
                    upper: {
                        min: .66,
                        max: 1,
                        color: 'rgba(100,255,100,.1)'
                    }
                },
                value: 0.5
            };      
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl" style="margin:10px;">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 236590:[Gauge] To test whether the format string display for gauge's value, min, and max by setting 'format' property</p>
    <wj-linear-gauge id="linearGauge"
        value="0.5" 
        min="{{ props.min }}" 
        max="{{ props.max }}"
        format="{{ props.format }}"
        class="linear-gauge"
        show-text="All">
    </wj-linear-gauge>
    <wj-radial-gauge id="radialGauge"
        value="0.5" 
        min="{{ props.min }}" 
        max="{{ props.max }}"
        format="{{ props.format }}" 
        class="radial-gauge"
        show-text="All">
    </wj-radial-gauge>
    <p></p>
    <wj-menu value="props.format" header="format">
        <wj-menu-item value="'p0'">p0</wj-menu-item>
        <wj-menu-item value="'N1'">N1</wj-menu-item>
    </wj-menu>
</body>
</html>
