﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/gauge_appCtrl.js" type="text/javascript"></script>
    <link href="../styles/gauge.css" rel="stylesheet" type="text/css" />
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p><b>Test Case 208862: [Gauge] To test whether linear and radial gauges show tick marks on the gauge when setting 'showTicks' property </b></p>
    <label>
        showTicks
        <input id="chkShowTicks" type="checkbox" ng-model="props.showTicks" />
    </label>
    <wj-linear-gauge id="linear"
        value="0.75"
        min="{{ props.min }}"
        max="{{ props.max }}"
        format="{{ props.format }}"
        step="0.1"
        show-ticks="{{ props.showTicks }}"
        class="linear-gauge">
    </wj-linear-gauge>
    <wj-radial-gauge id="radial"
        value="0.75"
        min="{{ props.min }}"
        max="{{ props.max }}"
        format="{{ props.format }}"
        step="0.1"
        show-ticks="{{ props.showTicks }}"
        class="radial-gauge">
    </wj-radial-gauge>

	<!--<wj-bullet-graph value="props.value"
        id="bullet"
        format="n1"
		min="{{ props.min }}"
		max="{{ props.max }}"
		origin="{{ props.origin }}"
		good="{{ props.ranges.middle.max }}"
		bad="{{ props.ranges.middle.min }}"
		target="{{ props.ranges.target }}"
		show-ticks="{{ props.showTicks }}"
        show-text="{{ props.showText }}"
        step="10"
		class="linear-gauge">
	</wj-bullet-graph>-->
</body>
</html>
