﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/gauge.css" rel="stylesheet" type="text/css" />
    <script>

        var app = angular.module('app', ['wj']);

        app.controller('appCtrl', function ($scope) {

            // a collection of property values for the Wijmo Gauges
            $scope.props = {
                direction: 'Right',
                isReadOnly: false,
                max: 10,
                min: 0,
                step: 1,
                showRanges: true,
                showText: 'All',  
                ranges: {
                    pointerThickness: 0.5,
                    target: .75,
                    lower: {
                        min: 0,
                        max: .33,
                        color: 'rgba(255,100,100,.1)'
                    },
                    middle: {
                        min: .33,
                        max: .66,
                        color: 'rgba(255,255,100,.1)'
                    },
                    upper: {
                        min: .66,
                        max: 1,
                        color: 'rgba(100,255,100,.1)'
                    }
                },
                value: 5
            };
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl" style="margin:30px;">

    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 236587:[Gauge] To test whether the controls are disabled or not when setting 'isDisabled' property</p>
                   
    <wj-linear-gauge id="linearGauge"
                    is-read-only="false"
                    control="linearGauge"                     
                    min="{{ props.min }}"
                    max="{{ props.max }}" 
                    value="props.value"  
                    step="{{ props.step }}"                    
                    show-text="{{ props.showText }}"
                    class="linear-gauge">  
    </wj-linear-gauge>
             
    <wj-bullet-graph id="bulletGraph"
                        control="bulletGraph"    
                        min="{{ props.min }}"
                        max="{{ props.max }}" 
                        value="props.value"  
                        step="{{ props.step }}"
                        show-text="{{ props.showText }}"
                        show-ranges="{{ props.showRanges }}"    
                        class="linear-gauge">     
    </wj-bullet-graph>

    <wj-radial-gauge id="radialGauge"
                     is-read-only="false"
                        control="radialGauge"
                        value="props.value"  
                        step="{{ props.step }}"                 
                        min="{{ props.min }}"
                        max="{{ props.max }}"
                        show-text="{{ props.showText }}"                   
                        class="radial-gauge">
    </wj-radial-gauge>
             
    <wj-menu header="Linear" value="linearGauge.isDisabled">
        <wj-menu-item value="true">True</wj-menu-item>
        <wj-menu-item value="false">False</wj-menu-item>
    </wj-menu>
    <wj-menu header="Bullet" value="bulletGraph.isDisabled">
        <wj-menu-item value="true">True</wj-menu-item>
        <wj-menu-item value="false">False</wj-menu-item>
    </wj-menu>
     <wj-menu header="Radial" value="radialGauge.isDisabled">
        <wj-menu-item value="true">True</wj-menu-item>
        <wj-menu-item value="false">False</wj-menu-item>
    </wj-menu>

</body>
</html>
