﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/gauge.css" rel="stylesheet" type="text/css" />
    <script>

        var app = angular.module('app', ['wj']);

        app.controller('appCtrl', function ($scope) {

            // a collection of property values for the Wijmo Gauges
            $scope.props = {
                format: 'p0',
                max: 1,
                min: 0,
                showRanges: true,
                showText: 'All',
                ranges: {
                    pointerThickness: 0.5,
                    target: .75,
                    lower: {
                        min: 0,
                        max: .33,
                        color: 'rgba(255,100,100,.1)'
                    },
                    middle: {
                        min: .33,
                        max: .66,
                        color: 'rgba(255,255,100,.1)'
                    },
                    upper: {
                        min: .66,
                        max: 1,
                        color: 'rgba(100,255,100,.1)'
                    }
                },
                value: 0.5
            };
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl" style="margin:30px;">

    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 228422:[Gauge] To test customizing the LinearGauge, BulletGraph and RadialGauge direction when setting 'dir' option to 'auto', 'ltr' or 'rtl'</p>
    <label>dir = auto</label>
    <wj-linear-gauge id="linearGauge1" 
                    value="props.value"
                    min="{{ props.min }}"
                    max="{{ props.max }}"
                    format="{{ props.format }}"
                    show-text="{{ props.showText }}"                    
                    show-ranges="{{ props.showRanges }}"
                    dir="auto"
                    class="linear-gauge">    
    <wj-range min="{{ props.ranges.lower.min }}" max="{{ props.ranges.lower.max }}" color="{{ props.ranges.lower.color }}"></wj-range>
    <wj-range min="{{ props.ranges.middle.min }}" max="{{ props.ranges.middle.max }}" color="{{ props.ranges.middle.color }}"></wj-range>
    <wj-range min="{{ props.ranges.upper.min }}" max="{{ props.ranges.upper.max }}" color="{{ props.ranges.upper.color }}"></wj-range>
    </wj-linear-gauge>

    <wj-bullet-graph id="bulletGraph1"
                    value="props.value"
                    min="{{ props.min }}"
                    max="{{ props.max }}"
                    format="{{ props.format }}"
                    show-text="{{ props.showText }}"
                    dir="auto"
                    class="linear-gauge">    
    </wj-bullet-graph>
                   
    <wj-radial-gauge id="radialGauge1"
                value="props.value"
                min="{{ props.min }}"
                max="{{ props.max }}"
                format="{{ props.format }}"
                show-text="{{ props.showText }}"
                step="{{ props.step }}"
                show-ranges="{{ props.showRanges }}"
                dir="auto"
                class="radial-gauge">    
    <wj-range min="{{ props.ranges.lower.min }}" max="{{ props.ranges.lower.max }}" color="{{ props.ranges.lower.color }}"></wj-range>
    <wj-range min="{{ props.ranges.middle.min }}" max="{{ props.ranges.middle.max }}" color="{{ props.ranges.middle.color }}"></wj-range>
    <wj-range min="{{ props.ranges.upper.min }}" max="{{ props.ranges.upper.max }}" color="{{ props.ranges.upper.color }}"></wj-range>
    </wj-radial-gauge>

    <label>dir = ltr</label>
    <wj-linear-gauge id="linearGauge2"
                    value="props.value"
                    min="{{ props.min }}"
                    max="{{ props.max }}"
                    format="{{ props.format }}"
                    show-text="{{ props.showText }}"                    
                    show-ranges="{{ props.showRanges }}"
                    dir="ltr"
                    class="linear-gauge">    
    <wj-range min="{{ props.ranges.lower.min }}" max="{{ props.ranges.lower.max }}" color="{{ props.ranges.lower.color }}"></wj-range>
    <wj-range min="{{ props.ranges.middle.min }}" max="{{ props.ranges.middle.max }}" color="{{ props.ranges.middle.color }}"></wj-range>
    <wj-range min="{{ props.ranges.upper.min }}" max="{{ props.ranges.upper.max }}" color="{{ props.ranges.upper.color }}"></wj-range>
    </wj-linear-gauge>

    <wj-bullet-graph id="bulletGraph2"
                    value="props.value"
                    min="{{ props.min }}"
                    max="{{ props.max }}"
                    format="{{ props.format }}"
                    show-text="{{ props.showText }}"
                    dir="ltr"
                    class="linear-gauge">    
    </wj-bullet-graph>
                   
    <wj-radial-gauge id="radialGauge2"
                value="props.value"
                min="{{ props.min }}"
                max="{{ props.max }}"
                format="{{ props.format }}"
                show-text="{{ props.showText }}"
                step="{{ props.step }}"
                show-ranges="{{ props.showRanges }}"
                dir="ltr"
                class="radial-gauge">    
    <wj-range min="{{ props.ranges.lower.min }}" max="{{ props.ranges.lower.max }}" color="{{ props.ranges.lower.color }}"></wj-range>
    <wj-range min="{{ props.ranges.middle.min }}" max="{{ props.ranges.middle.max }}" color="{{ props.ranges.middle.color }}"></wj-range>
    <wj-range min="{{ props.ranges.upper.min }}" max="{{ props.ranges.upper.max }}" color="{{ props.ranges.upper.color }}"></wj-range>
    </wj-radial-gauge>

    <label>dir = rtl</label>
    <wj-linear-gauge id="linearGauge3"
                    value="props.value"
                    min="{{ props.min }}"
                    max="{{ props.max }}"
                    format="{{ props.format }}"
                    show-text="{{ props.showText }}"                    
                    show-ranges="{{ props.showRanges }}"
                    dir="rtl"
                    class="linear-gauge">    
    <wj-range min="{{ props.ranges.lower.min }}" max="{{ props.ranges.lower.max }}" color="{{ props.ranges.lower.color }}"></wj-range>
    <wj-range min="{{ props.ranges.middle.min }}" max="{{ props.ranges.middle.max }}" color="{{ props.ranges.middle.color }}"></wj-range>
    <wj-range min="{{ props.ranges.upper.min }}" max="{{ props.ranges.upper.max }}" color="{{ props.ranges.upper.color }}"></wj-range>
    </wj-linear-gauge>

    <wj-bullet-graph id="bulletGraph3"
                    value="props.value"
                    min="{{ props.min }}"
                    max="{{ props.max }}"
                    format="{{ props.format }}"
                    show-text="{{ props.showText }}"
                    dir="rtl"
                    class="linear-gauge">    
    </wj-bullet-graph>
                   
    <wj-radial-gauge id="radialGauge3"
                value="props.value"
                min="{{ props.min }}"
                max="{{ props.max }}"
                format="{{ props.format }}"
                show-text="{{ props.showText }}"
                step="{{ props.step }}"
                show-ranges="{{ props.showRanges }}"
                dir="rtl"
                class="radial-gauge">    
    <wj-range min="{{ props.ranges.lower.min }}" max="{{ props.ranges.lower.max }}" color="{{ props.ranges.lower.color }}"></wj-range>
    <wj-range min="{{ props.ranges.middle.min }}" max="{{ props.ranges.middle.max }}" color="{{ props.ranges.middle.color }}"></wj-range>
    <wj-range min="{{ props.ranges.upper.min }}" max="{{ props.ranges.upper.max }}" color="{{ props.ranges.upper.color }}"></wj-range>
    </wj-radial-gauge>
   
</body>
</html>