﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/gauge.css" rel="stylesheet" type="text/css" />
    <script>

        var app = angular.module('app', ['wj']);

        app.controller('appCtrl', function ($scope) {

            // a collection of property values for the Wijmo Gauges
            $scope.props = {
                max: 1,
                min: 0,
                showRanges: true,
                showText: 'All',                
                ranges: {
                    pointerThickness: 0.5,
                    target: 0.75,
                    lower: {
                        min: 0,
                        max: .33,
                        color: 'rgba(255,100,100,.1)'
                    },
                    middle: {
                        min: .33,
                        max: .66,
                        color: 'rgba(255,255,100,.1)'
                    },
                    upper: {
                        min: .66,
                        max: 1,
                        color: 'rgba(100,255,100,.1)'
                    }
                },
                value: 0.5
            };

            // when the culture changes, load the new culture, apply, and invalidate
            $scope.$watch('culture', function () {
                $.ajax({
                    url: '/scripts/vendor/wijmo.culture.' + $scope.culture + '.min.js',
                    dataType: 'script',
                    success: function (data) {
                        eval(data);

                        // culture applied, now load translations
                        $.ajax({
                            url: '/translations/strings.' + $scope.culture + '.js',
                            dataType: 'json',
                            async: false,
                            success: function (data) {
                                $scope.i18n = data;

                                // show changes
                                $scope.$apply();
                                invalidateWijmoControls(document.body);
                            }
                        });
                    },
                });
            });

            // invalidate all Wijmo controls on the page
            function invalidateWijmoControls(e) {
                var ctl = wijmo.Control.getControl(e);
                if (ctl) {
                    ctl.invalidate();
                }
                if (e.children) {
                    for (var i = 0; i < e.children.length; i++) {
                        invalidateWijmoControls(e.children[i]);
                    }
                }
            }

        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl" style="margin:30px;">

    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 299459:[Gauge] To test whether applied Culture and formats (date, currency, etc.) can be reflected properly in LinearGauge</p>

    <div id="culture">
        <wj-menu value="culture" header="Culture">           
            <wj-menu-item value="'en-GB'">English (UK)</wj-menu-item>
            <wj-menu-item value="'es'">Spanish</wj-menu-item>
            <wj-menu-item value="'de'">German</wj-menu-item>
            <wj-menu-item value="'ja'">Japanese</wj-menu-item>
            <wj-menu-item value="'ko'">Korean</wj-menu-item>
        </wj-menu>
    </div>  

    <wj-menu value="props.format" header="format">
        <wj-menu-item value="'p0'">p0</wj-menu-item>
        <wj-menu-item value="'N4'">N4</wj-menu-item>
    </wj-menu>
                   
     <wj-linear-gauge id="linearGauge"
                        value="props.value"
                        min="{{ props.min }}"
                        max="{{ props.max }}"
                        format="{{ props.format }}"
                        show-text="{{ props.showText }}"                                    
                        class="linear-gauge">
        <wj-range wj-property="pointer" thickness="{{ props.ranges.pointerThickness }}"></wj-range>
        <wj-range min="{{ props.ranges.lower.min }}" max="{{ props.ranges.lower.max }}" color="{{ props.ranges.lower.color }}"></wj-range>
        <wj-range min="{{ props.ranges.middle.min }}" max="{{ props.ranges.middle.max }}" color="{{ props.ranges.middle.color }}"></wj-range>
        <wj-range min="{{ props.ranges.upper.min }}" max="{{ props.ranges.upper.max }}" color="{{ props.ranges.upper.color }}"></wj-range>
    </wj-linear-gauge>
    
</body>
</html>
