﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/gauge.css" rel="stylesheet" type="text/css" />
    <script>
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            // a collection of property values for the Wijmo Gauges
            $scope.props = {
                autoScale: true,
                direction: 'Right',
                format: 'p0',
                isReadOnly: false,
                max: 1,
                min: 0,
                showRanges: true,
                showText: 'All',
                showTicks: true,
                step: 0.25,
                startAngle: 0,
                sweepAngle: 180,
                ranges: {
                    pointerThickness: 0.5,
                    target: .75,
                    lower: {
                        min: 0,
                        max: .33,
                        color: 'rgba(255,100,100,.1)'
                    },
                    middle: {
                        min: .33,
                        max: .66,
                        color: 'rgba(255,255,100,.1)'
                    },
                    upper: {
                        min: .66,
                        max: 1,
                        color: 'rgba(100,255,100,.1)'
                    }
                },
                value: 0.5
            };
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl" style="margin:30px;">

    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 257878:[Gauge] To test whether the spacing between tickmarks can properly be set or not using 'tickSpacing' property</p>

    <wj-linear-gauge id="linearGauge" control="linearGauge"
                        value="props.value"
                        min="{{ props.min }}"
                        max="{{ props.max }}"
                        format="{{ props.format }}"
                        show-text="{{ props.showText }}"
                        show-ticks="{{ props.showTicks }}"
                        step="{{ props.step }}"
                        is-read-only="{{ props.isReadOnly }}"
                        show-ranges="{{ props.showRanges }}"
                        class="linear-gauge">
        <wj-range wj-property="pointer" thickness="{{ props.ranges.pointerThickness }}"></wj-range>
        <wj-range min="{{ props.ranges.lower.min }}" max="{{ props.ranges.lower.max }}" color="{{ props.ranges.lower.color }}"></wj-range>
        <wj-range min="{{ props.ranges.middle.min }}" max="{{ props.ranges.middle.max }}" color="{{ props.ranges.middle.color }}"></wj-range>
        <wj-range min="{{ props.ranges.upper.min }}" max="{{ props.ranges.upper.max }}" color="{{ props.ranges.upper.color }}"></wj-range>
    </wj-linear-gauge>

    <wj-bullet-graph id="bulletGraph" control="bulletGraph"
                        value="props.value"
                        min="{{ props.min }}"
                        max="{{ props.max }}"
                        format="{{ props.format }}"
                        show-ticks="{{ props.showTicks }}"
                        good="{{ props.ranges.middle.max }}"
                        bad="{{ props.ranges.middle.min }}"
                        target="{{ props.ranges.target }}"
                        show-ranges="{{ props.showRanges }}"
                        class="linear-gauge">
        <wj-range wj-property="pointer" thickness="{{ props.ranges.pointerThickness }}"></wj-range>
    </wj-bullet-graph>

    <wj-radial-gauge id="radialGauge" control="radialGauge"
                        value="props.value"
                        min="{{ props.min }}"
                        max="{{ props.max }}"
                        format="{{ props.format }}"
                        show-text="{{ props.showText }}"
                        show-ticks="{{ props.showTicks }}"
                        step="{{ props.step }}"
                        is-read-only="{{ props.isReadOnly }}"
                        show-ranges="{{ props.showRanges }}"
                        auto-scale="{{ props.autoScale }}"
                        start-angle="{{ props.startAngle }}"
                        sweep-angle="{{ props.sweepAngle }}"
                        class="radial-gauge">
        <wj-range wj-property="pointer" thickness="{{ props.ranges.pointerThickness }}"></wj-range>
        <wj-range min="{{ props.ranges.lower.min }}" max="{{ props.ranges.lower.max }}" color="{{ props.ranges.lower.color }}"></wj-range>
        <wj-range min="{{ props.ranges.middle.min }}" max="{{ props.ranges.middle.max }}" color="{{ props.ranges.middle.color }}"></wj-range>
        <wj-range min="{{ props.ranges.upper.min }}" max="{{ props.ranges.upper.max }}" color="{{ props.ranges.upper.color }}"></wj-range>
    </wj-radial-gauge>

    <wj-menu header="Linear" value="linearGauge.tickSpacing">
        <wj-menu-item value="0.1">0.1</wj-menu-item>
        <wj-menu-item value="0.3">0.3</wj-menu-item>           
    </wj-menu>
    <wj-menu header="Bullet" value="bulletGraph.tickSpacing">
        <wj-menu-item value="0.1">0.1</wj-menu-item>
        <wj-menu-item value="0.3">0.3</wj-menu-item>  
    </wj-menu>
    <wj-menu header="Radial" value="radialGauge.tickSpacing">
        <wj-menu-item value="0.1">0.1</wj-menu-item>
        <wj-menu-item value="0.3">0.3</wj-menu-item>        
    </wj-menu>
</body>
</html>