﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/gauge.css" rel="stylesheet" type="text/css" />
    <script>
        (function () {
            'use strict';

            var app = angular.module('app', ['wj']);

            app.controller('appCtrl', function ($scope) {

                // a collection of property values for the Wijmo Gauges
                $scope.props = {
                    autoScale: true,
                    direction: 'Right',
                    format: 'p0',
                    isReadOnly: false,
                    max: 1,
                    min: 0,
                    showRanges: false,                    
                    showText: 'All',
                    step: 0.25,
                    startAngle: 0,
                    sweepAngle: 180,
                    thickness: 0.8,
                    hasShadow: true,
                    isAnimated: true,
                    ranges: {
                        pointerThickness: 0.5,
                        target: .75,
                        lower: {
                            min: 0,
                            max: .33,
                            color: 'rgba(255,100,100,.9)'
                        },
                        middle: {
                            min: .33,
                            max: .66,
                            color: 'rgba(255,255,100,.9)'
                        },
                        upper: {
                            min: .66,
                            max: 1,
                            color: 'rgba(100,255,100,.9)'
                        }
                    },
                    value: 0.5
                };

                // "showRanges" change event handler
                $scope.showRangesChanged = function () {
                    // get the value of "showRanges" from $scope
                    var showRanges = $scope.props.showRanges;

                    // update the percentile.ranges object based on "$scope.props.showRanges"
                    $scope.props.ranges.lower.color = showRanges ? 'rgba(255,100,100,.5)' : 'red';
                    $scope.props.ranges.middle.color = showRanges ? 'rgba(255,255,100,.5)' : 'yellow';
                    $scope.props.ranges.upper.color = showRanges ? 'rgba(100,255,100,.5)' : 'green';
                    $scope.props.ranges.pointerThickness = showRanges ? 0.5 : 1;
                };
            });
        })();
    </script>   
</head>
<body ng-app="app" ng-controller="appCtrl" style="margin:50px;">

        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 211753:[Gauge] To test whether correct colors show on gauges when editing the value by clicking, dragging the pointer or using keyboard</p>
<br />
    <wj-linear-gauge value="props.value" id="lineargauge"
                        min="{{ props.min }}"
                        max="{{ props.max }}"
                        format="{{ props.format }}"
                        show-text="{{ props.showText }}"
                        step="{{ props.step }}"
                        is-read-only="{{ props.isReadOnly }}"
                        show-ranges="{{ props.showRanges }}"                       
                        class="linear-gauge">
        <wj-range wj-property="pointer" thickness="{{ props.ranges.pointerThickness }}"></wj-range>
        <wj-range min="{{ props.ranges.lower.min }}" max="{{ props.ranges.lower.max }}" color="{{ props.ranges.lower.color }}"></wj-range>
        <wj-range min="{{ props.ranges.middle.min }}" max="{{ props.ranges.middle.max }}" color="{{ props.ranges.middle.color }}"></wj-range>
        <wj-range min="{{ props.ranges.upper.min }}" max="{{ props.ranges.upper.max }}" color="{{ props.ranges.upper.color }}"></wj-range>
    </wj-linear-gauge>
    <br /><br />
    <wj-radial-gauge value="props.value" id="radialgauge"
                        min="{{ props.min }}"
                        max="{{ props.max }}"
                        format="{{ props.format }}"
                        show-text="{{ props.showText }}"
                        step="{{ props.step }}"
                        is-read-only="{{ props.isReadOnly }}"
                        show-ranges="{{ props.showRanges }}"                        
                        auto-scale="{{ props.autoScale }}"
                        start-angle="{{ props.startAngle }}"
                        sweep-angle="{{ props.sweepAngle }}"
                        class="radial-gauge">
        <wj-range wj-property="pointer" thickness="{{ props.ranges.pointerThickness }}"></wj-range>
        <wj-range min="{{ props.ranges.lower.min }}" max="{{ props.ranges.lower.max }}" color="{{ props.ranges.lower.color }}"></wj-range>
        <wj-range min="{{ props.ranges.middle.min }}" max="{{ props.ranges.middle.max }}" color="{{ props.ranges.middle.color }}"></wj-range>
        <wj-range min="{{ props.ranges.upper.min }}" max="{{ props.ranges.upper.max }}" color="{{ props.ranges.upper.color }}"></wj-range>
    </wj-radial-gauge>
  </body>
</html>