﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/gauge.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            $scope.props = {
                autoScale: true,
                direction: 'Right',
                format: 'p0',
                isReadOnly: false,
                max: 1,
                min: 0,
                showRanges: true,
                showText: 'All',
                showTicks: true,
                step: 0.25,
                startAngle: 0,
                sweepAngle: 180,
                ranges: {
                    pointerThickness: 0.5,
                    target: .75,
                    lower: {
                        min: 0,
                        max: .33,
                        color: 'rgba(255,100,100,.1)'
                    },
                    middle: {
                        min: .33,
                        max: .66,
                        color: 'rgba(255,255,100,.1)'
                    },
                    upper: {
                        min: .66,
                        max: 1,
                        color: 'rgba(100,255,100,.1)'
                    }
                },
                value: 0.2
            };

            $scope.linearRefreshing = function (sender, args) {
                $("#eventDiv").append('<li>' + 'linearGauge_refreshing.' + '</li>');
            }
            $scope.linearRefreshed= function (sender, args) {
                $("#eventDiv").append('<li>' + 'linearGauge_refreshed.' + '</li>');
            }

            $scope.bulletRefreshing = function (sender, args) {
                $("#eventDiv2").append('<li>' + 'bulletGraph_refreshing.' + '</li>');
            }
            $scope.bulletRefreshed = function (sender, args) {
                $("#eventDiv2").append('<li>' + 'bulletGraph_refreshed.' + '</li>');
            }

            $scope.radialRefreshing = function (sender, args) {
                $("#eventDiv3").append('<li>' + 'radialGauge_refreshing.' + '</li>');
            }
            $scope.radialRefreshed = function (sender, args) {
                $("#eventDiv3").append('<li>' + 'radialGauge_refreshed.' + '</li>');
            }

        });
    </script>   
</head>
<body ng-app="app" ng-controller="appCtrl" style="margin:10px;">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre><b>Test Case 377715:[Gauge] To test refreshing the control layout and content by invoking 'refresh' method of LinearGauge, RadialGauge and BulletGraph</b></pre>
   
    <wj-linear-gauge id="linearGauge" control="linearGauge" refreshing="linearRefreshing()" refreshed="linearRefreshed()"
                        value="0.2"
                        min="0"
                        max="1"
                        show-text="All"
                        show-ticks="true"
                        step="0.1"
                        is-read-only="false"
                        show-ranges="true"
                        class="linear-gauge">
        <wj-range wj-property="pointer" thickness="{{ props.ranges.pointerThickness }}"></wj-range>
        <wj-range min="{{ props.ranges.lower.min }}" max="{{ props.ranges.lower.max }}" color="{{ props.ranges.lower.color }}"></wj-range>
        <wj-range min="{{ props.ranges.middle.min }}" max="{{ props.ranges.middle.max }}" color="{{ props.ranges.middle.color }}"></wj-range>
        <wj-range min="{{ props.ranges.upper.min }}" max="{{ props.ranges.upper.max }}" color="{{ props.ranges.upper.color }}"></wj-range>
    </wj-linear-gauge>

    <wj-bullet-graph id="bulletGraph" control="bulletGraph" refreshing="bulletRefreshing()" refreshed="bulletRefreshed()"
                        value="0.4"
                        min="0"
                        max="1"
                        show-ticks="true"
                        good="{{ props.ranges.middle.max }}"
                        bad="{{ props.ranges.middle.min }}"
                        target="{{ props.ranges.target }}"
                        show-ranges="true"
                        class="linear-gauge">
        <wj-range wj-property="pointer" thickness="{{ props.ranges.pointerThickness }}"></wj-range>
    </wj-bullet-graph>

    <wj-radial-gauge id="radialGauge" control="radialGauge" refreshing="radialRefreshing()" refreshed="radialRefreshed()"
                        value="0.3"
                        min="0"
                        max="1"
                        show-text="All"
                        show-ticks="true"
                        step="0.1"
                        is-read-only="false"
                        show-ranges="true"
                        thumb-size="30"
                        class="radial-gauge">
        <wj-range wj-property="pointer" thickness="{{ props.ranges.pointerThickness }}"></wj-range>
        <wj-range min="{{ props.ranges.lower.min }}" max="{{ props.ranges.lower.max }}" color="{{ props.ranges.lower.color }}"></wj-range>
        <wj-range min="{{ props.ranges.middle.min }}" max="{{ props.ranges.middle.max }}" color="{{ props.ranges.middle.color }}"></wj-range>
        <wj-range min="{{ props.ranges.upper.min }}" max="{{ props.ranges.upper.max }}" color="{{ props.ranges.upper.color }}"></wj-range>
    </wj-radial-gauge>
    <br />
    <button id="btnLinearRefresh" class="btn btn-default" ng-click="linearGauge.refresh()">linearGauge.refresh</button>
    <button id="btnBulletRefresh" class="btn btn-default" ng-click="bulletGraph.refresh()">bulletGraph.refresh</button>
    <button id="btnRadialRefresh" class="btn btn-default" ng-click="radialGauge.refresh()">radialGauge.refresh</button>
    <div id="eventDiv"></div>
    <div id="eventDiv2"></div>
    <div id="eventDiv3"></div>
</body>
</html>