﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/gauge.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            $scope.props = {
                autoScale: true,
                direction: 'Right',
                format: 'p0',
                isReadOnly: false,
                max: 1,
                min: 0,
                showRanges: true,
                showText: 'All',
                showTicks: true,
                step: 0.25,
                startAngle: 0,
                sweepAngle: 180,
                ranges: {
                    pointerThickness: 0.5,
                    target: .75,
                    lower: {
                        min: 0,
                        max: .33,
                        color: 'rgba(255,100,100,.1)'
                    },
                    middle: {
                        min: .33,
                        max: .66,
                        color: 'rgba(255,255,100,.1)'
                    },
                    upper: {
                        min: .66,
                        max: 1,
                        color: 'rgba(100,255,100,.1)'
                    }
                },
                value: 0.2
            };

            $scope.linearGotFocus = function (sender, args) {
                $("#linearDiv").text("containsFocus:" + $scope.linearGauge.containsFocus());
            }
            $scope.linearLostFocus = function (sender, args) {
                $("#linearDiv").text("containsFocus:" + $scope.linearGauge.containsFocus());
            }

            $scope.bulletGotFocus = function (sender, args) {
                $("#bulletDiv").text("containsFocus:" + $scope.bulletGraph.containsFocus());
            }
            $scope.bulletLostFocus = function (sender, args) {
                $("#bulletDiv").text("containsFocus:" + $scope.bulletGraph.containsFocus());
            }

            $scope.radialGotFocus = function (sender, args) {
                $("#radialDiv").text("containsFocus:" + $scope.radialGauge.containsFocus());
            }
            $scope.radialLostFocus = function (sender, args) {
                $("#radialDiv").text("containsFocus:" + $scope.radialGauge.containsFocus());
            }

        });
    </script>   
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre><b>Test Case 377713:[Gauge] To test whether 'focus' and 'containsFocus' methods are working properly in LinearGauge, RadialGauge and BulletGraph</b></pre>
   
    <wj-linear-gauge control="linearGauge" got-focus="linearGotFocus()" lost-focus="linearLostFocus()"
        value="0.2"
        min="0"
        max="1"
        show-text="All"
        show-ticks="true"
        step="0.1"
        is-read-only="false"
        format="n2"
        class="linear-gauge">
    </wj-linear-gauge>

    <wj-bullet-graph control="bulletGraph" got-focus="bulletGotFocus()" lost-focus="bulletLostFocus()"
        value="0.4"
        min="0"
        max="1"
        show-ticks="true"
        good="{{ props.ranges.middle.max }}"
        bad="{{ props.ranges.middle.min }}"
        target="{{ props.ranges.target }}"
        show-ranges="true"
        class="linear-gauge">
        <wj-range wj-property="pointer" thickness="{{ props.ranges.pointerThickness }}"></wj-range>
    </wj-bullet-graph>

    <wj-radial-gauge control="radialGauge" got-focus="radialGotFocus()" lost-focus="radialLostFocus()"
        value="0.3"
        min="0"
        max="1"
        show-text="All"
        show-ticks="true"
        step="0.1"
        is-read-only="false"
        format="n2"
        class="radial-gauge">
    </wj-radial-gauge>
    <br />
    <button id="btnLinearFocus" class="btn btn-default" ng-click="linearGauge.focus()">linearGauge.focus</button>
    <button id="btnBulletFocus" class="btn btn-default" ng-click="bulletGraph.focus()">bulletGraph.focus</button>
    <button id="btnRadialFocus" class="btn btn-default" ng-click="radialGauge.focus()">radialGauge.focus</button>
    <div id="linearDiv"></div>
    <div id="bulletDiv"></div>
    <div id="radialDiv"></div>
</body>
</html>