﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/gauge.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            $scope.props = {
                autoScale: true,
                direction: 'Right',
                format: 'p0',
                isReadOnly: false,
                max: 1,
                min: 0,
                showRanges: true,
                showText: 'All',
                showTicks: true,
                step: 0.25,
                startAngle: 0,
                sweepAngle: 180,
                ranges: {
                    pointerThickness: 0.5,
                    target: .75,
                    lower: {
                        min: 0,
                        max: .33,
                        color: 'rgba(255,100,100,.1)'
                    },
                    middle: {
                        min: .33,
                        max: .66,
                        color: 'rgba(255,255,100,.1)'
                    },
                    upper: {
                        min: .66,
                        max: 1,
                        color: 'rgba(100,255,100,.1)'
                    }
                },
                value: 0.2
            };

            var count = 0, count2 = 0;
            $scope.bulletRefreshing = function (sender, args) {
                count++;
                $("#eventDiv").text('refreshing:' + count + ',refreshed:' + count2);
            }
            $scope.bulletRefreshed = function (sender, args) {
                count2++;
                $("#eventDiv").text('refreshing:' + count + ',refreshed:' + count2);
            }

        });
    </script>   
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre><b>Test Case 377718:[Gauge] To test whether 'refreshing' and 'refreshed' event occur when/after the BulletGraph has refreshed its contents</b></pre>
   
    <wj-bullet-graph id="bulletGraph" control="bulletGraph" refreshing="bulletRefreshing()" refreshed="bulletRefreshed()"
                        value="0.4"
                        min="0"
                        max="1"
                        show-ticks="true"
                        good="{{ props.ranges.middle.max }}"
                        bad="{{ props.ranges.middle.min }}"
                        target="{{ props.ranges.target }}"
                        show-ranges="true"
                        class="linear-gauge">
        <wj-range wj-property="pointer" thickness="{{ props.ranges.pointerThickness }}"></wj-range>
    </wj-bullet-graph>
    <br />
    <button id="btnBulletRefresh" class="btn btn-default" ng-click="bulletGraph.refresh()">bulletGraph.refresh</button>
    <div id="eventDiv"></div>
</body>
</html>