﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            $scope.ctx = {
                gauge: {
                    min: 0,
                    max: 100,
                    value: 25,
                    step: 5,
                    showText: 'All',
                    angles: [
				        { start: -45, sweep: 270 },
				        { start: 10, sweep: 340 },
				        { start: 0, sweep: 90 },
				        { start: 45, sweep: 90 }
                    ]
                },
            };
        });
    </script>
    <style type="text/css">
        .wj-gauge {
            width: 300px;
            height: 200px;
        }
        .wj-lineargauge {
            height: 60px;
        }
    </style>
</head>
<body ng-app="app" ng-controller="appCtrl" style="margin:10px;">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre><b>Test Case 332322:[Gauge] To test whether concentric sectors show or not when 'stackRanges' property is set in RadialGauge</b></pre>
   
    <label>
        <input id="chkStackRanges" type="checkbox" ng-model="radialGauge.stackRanges" />stackRanges
    </label>
    <br />
    <wj-radial-gauge control="radialGauge"
                     value="ctx.gauge.value"
                     thickness=".5"
                     is-read-only="false"
                     step="{{ctx.gauge.step}}"
                     min="{{ctx.gauge.min}}"
                     max="{{ctx.gauge.max}}"
                     show-ranges="true"
                     stack-ranges="true">
        <wj-range wj-property="pointer" thickness="0.2"></wj-range>
        <wj-range min="0" max="{{ctx.gauge.max*.33}}" color="green"></wj-range>
        <wj-range min="{{ctx.gauge.max*.33}}" max="{{ctx.gauge.max*.66}}" color="yellow"></wj-range>
        <wj-range min="{{ctx.gauge.max*.66}}" max="{{ctx.gauge.max}}" color="red"></wj-range>
    </wj-radial-gauge>
</body>
</html>