﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/gauge_appCtrl.js" type="text/javascript"></script>
    <link href="../styles/gauge.css" rel="stylesheet" type="text/css" />
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><wj-linear-gauge id="linearGauge"
        value="0.5" 
        min="{{ props.min }}" 
        max="{{ props.max }}"
        format="{{ props.format }}" 
        step="{{ props.step }}" 
        is-read-only="{{ props.isReadOnly }}"
        show-text="{{ props.showText }}"
        class="linear-gauge">
    </wj-linear-gauge>
    <wj-radial-gauge id="radialGauge"
        value="0.5" 
        min="{{ props.min }}" 
        max="{{ props.max }}"
        format="{{ props.format }}" 
        step="{{ props.step }}" 
        is-read-only="{{ props.isReadOnly }}"
        show-text="{{ props.showText }}"
        class="radial-gauge">
    </wj-radial-gauge>
    <p></p>
    <label>
        Read-Only&nbsp;
        <input id="chkReadOnly" type="checkbox" ng-model="props.isReadOnly" />
    </label>
    <p></p>
    <p>
        1. Run 'GaugeIntro' sample.
        <br />
        2. Navigate to 'Editing Values' sample.
        <br />
        3. When 'isReadOnly' property is set to false, click on gauges to change their values.<br />
        [Expected] Values are able to change along with interaction.
        <br />
        4. Check 'Read-Only' check box and click on gauges.
        <br />
        [Expected] Values are not able to edit.
    </p>
</body>
</html>
