﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/gauge_appCtrl.js" type="text/javascript"></script>
    <link href="../styles/gauge.css" rel="stylesheet" type="text/css" />
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><wj-menu header="showText" value="props.showText">
        <wj-menu-item value="'Value'">Value</wj-menu-item>
        <wj-menu-item value="'MinMax'">Min/Max</wj-menu-item>
        <wj-menu-item value="'All'">All</wj-menu-item>
        <wj-menu-item value="'None'">None</wj-menu-item>
    </wj-menu>
    <wj-linear-gauge value="props.value"
        id="linear"
        format="n1"
		min="{{ props.min }}"
		max="{{ props.max }}"
		origin="{{ props.origin }}"
		show-text="{{ props.showText }}"
		show-ranges="{{ props.showRanges }}"
		class="linear-gauge">
		<wj-range wj-property="pointer" thickness="{{ props.ranges.pointerThickness }}"></wj-range>
		<wj-range min="{{ props.ranges.lower.min }}" max="{{ props.ranges.lower.max }}" color="{{ props.ranges.lower.color }}"></wj-range>
		<wj-range min="{{ props.ranges.middle.min }}" max="{{ props.ranges.middle.max }}" color="{{ props.ranges.middle.color }}"></wj-range>
		<wj-range min="{{ props.ranges.upper.min }}" max="{{ props.ranges.upper.max }}" color="{{ props.ranges.upper.color }}"></wj-range>
	</wj-linear-gauge>

	<wj-radial-gauge value="props.value"
        id="radial"
        format="n1"
		min="{{ props.min }}"
		max="{{ props.max }}"
		origin="{{ props.origin }}"
		show-text="{{ props.showText }}"
		show-ranges="{{ props.showRanges }}"
		auto-scale="{{ props.autoScale }}"
		start-angle="{{ props.startAngle }}"
		sweep-angle="{{ props.sweepAngle }}"
		class="radial-gauge">
		<wj-range wj-property="pointer" thickness="{{ props.ranges.pointerThickness }}"></wj-range>
		<wj-range min="{{ props.ranges.lower.min }}" max="{{ props.ranges.lower.max }}" color="{{ props.ranges.lower.color }}"></wj-range>
		<wj-range min="{{ props.ranges.middle.min }}" max="{{ props.ranges.middle.max }}" color="{{ props.ranges.middle.color }}"></wj-range>
		<wj-range min="{{ props.ranges.upper.min }}" max="{{ props.ranges.upper.max }}" color="{{ props.ranges.upper.color }}"></wj-range>
	</wj-radial-gauge>

	<wj-bullet-graph value="props.value"
        id="bullet"
        format="n1"
		min="{{ props.min }}"
		max="{{ props.max }}"
		origin="{{ props.origin }}"
		good="{{ props.ranges.middle.max }}"
		bad="{{ props.ranges.middle.min }}"
		target="{{ props.ranges.target }}"
		show-ranges="{{ props.showRanges }}"
        show-text="{{ props.showText }}"
		class="linear-gauge">
		<wj-range wj-property="pointer" thickness="{{ props.ranges.pointerThickness }}"></wj-range>
	</wj-bullet-graph>
    <br />
    <p>
        1. Run 'GaugeIntro' sample. <br />
        2. Navigate to 'Displaying Values' sample. <br />
        [Expected] When 'ShowText' property is set to All, min, max, and current values display in gauges.<br />
        3. Choose 'Value' from 'Show Text' drop down.<br />
        [Expected] Current values display on the gauges. <br />
        4. Choose 'Min/Max from 'Show Text' drop down. <br />
        [Expected] Min and Max values display on the gauges.  <br />
        5. Choose 'Value' from 'None' drop down. <br />
        [Expected] No text displays in the Gauge controls. 
    </p>
</body>
</html>
