﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/gauge.css" rel="stylesheet" type="text/css" />
    <script>

        var app = angular.module('app', ['wj']);

        app.controller('appCtrl', function ($scope) {

            // a collection of property values for the Wijmo Gauges
            $scope.props = {
                direction: 'Right',
                isReadOnly: false,
                max: 1,
                min: 0,
                showRanges: true,
                showText: 'All',
                ranges: {
                    pointerThickness: 0.5,
                    target: .75,
                    lower: {
                        min: 0,
                        max: .33,
                        color: 'rgba(255,100,100,.1)'
                    },
                    middle: {
                        min: .33,
                        max: .66,
                        color: 'rgba(255,255,100,.1)'
                    },
                    upper: {
                        min: .66,
                        max: 1,
                        color: 'rgba(100,255,100,.1)'
                    }
                },
                value: 0.5
            };
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl" style="margin:30px;">

    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 98759:[Gauge] To test whether C1LinearGauge and C1BulletGraph renders correctly on setting 'Direction' property (Up, Right, Down or Left)</p>
                   
    <wj-linear-gauge id="linearGauge"                     
                    min="{{ props.min }}"
                    max="{{ props.max }}"                    
                    show-text="{{ props.showText }}"
                    direction="{{ props.direction }}"
                    show-ranges="{{ props.showRanges }}"                    
                    ng-style="(props.direction == 'Up' || props.direction == 'Down') && {'height' : '300px', 'width': '1.2em'}"
                    class="linear-gauge">
    
    </wj-linear-gauge>
             
    <wj-bullet-graph id="bulletGraph"                    
                        min="{{ props.min }}"
                        max="{{ props.max }}"                                           
                        direction="{{ props.direction }}"
                        show-text="{{ props.showText }}"
                        show-ranges="{{ props.showRanges }}"                        
                        ng-style="(props.direction == 'Up' || props.direction == 'Down') && {'height' : '300px', 'width': '1.2em'}"
                        class="linear-gauge">
       
    </wj-bullet-graph>
             
    <!-- Direction -->
    <wj-menu header="Direction" value="props.direction">
        <wj-menu-item value="'Up'">Up</wj-menu-item>
        <wj-menu-item value="'Right'">Right</wj-menu-item>
        <wj-menu-item value="'Down'">Down</wj-menu-item>
        <wj-menu-item value="'Left'">Left</wj-menu-item>
    </wj-menu>
</body>
</html>
