﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <!-- ensure IE uses the latest version of IE (yes, yes...) -->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css">
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link rel="stylesheet" type="text/css" href="../styles/vendor/wijmo.min.css">

    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/directives/appDctv.js" type="text/javascript"></script>
    <script src="../scripts/controllers/82642_appCtrl.js" type="text/javascript"></script>
    <link href="../styles/flexgrid.css" rel="stylesheet" type="text/css">

</head>
<body ng-app="app" ng-controller="appCtrl">
        
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div class="row">            
            <div class="col-md-6">
                <wj-flex-grid items-source="cvData" allow-add-new="true" allow-delete="true" selection-mode="Row" control="ctx.flex" id="f4">
                    <wj-flex-grid-column header="Country" allow-merging="true" binding="country" width="*"></wj-flex-grid-column>
                    <wj-flex-grid-column header="Date" allow-merging="true" width="2.5*" format="D" binding="date"></wj-flex-grid-column>
                    <wj-flex-grid-column header="Revenue" allow-merging="true" binding="amount" format="c" aggregate="Sum" ></wj-flex-grid-column>
                    <wj-flex-grid-column header="Active" allow-merging="true" binding="active"></wj-flex-grid-column>
                </wj-flex-grid>
            </div>  
            <div class="col-md-6">
                <div class="input-group">
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-filter"></span>
                  </span>
                  <input type="text" ng-model="filter" class="form-control" placeholder="filter"/>
                </div>          
                </div>
            </div>  
</body>
</html>
