﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- ensure IE uses the latest version of IE (yes, yes...) -->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <!-- jQuery/Angular/Bootstrap -->
     <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css">
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link rel="stylesheet" type="text/css" href="../styles/vendor/wijmo.min.css">
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/services/dataSvc.js" type="text/javascript"></script>
    <script src="../scripts/controllers/CollectionView_appCtrl.js" type="text/javascript"></script>
    <script src="../scripts/directives/appDctv.js" type="text/javascript"></script>
    <link href="../styles/app.css" rel="stylesheet">
    <link href="../styles/flexgrid.css" rel="stylesheet" type="text/css">
</head>
<body ng-app="app" ng-controller="appCtrl">
    	
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div class="row">
		<div class="col-md-6">
			<h4>Current Item</h4>
			<dl class="dl-horizontal">
				<dt>ID</dt>
				<dd>
					<input type="text" class="form-control" ng-model="ctx.cv.currentItem.id" ng-disabled="!isEditing()" />
				</dd>
				<dt>Country</dt>
				<dd>
					<input type="text" class="form-control" ng-model="ctx.cv.currentItem.country" ng-disabled="!isEditing()" />
				</dd>
				<dt>Color</dt>
				<dd>
					<input type="text" class="form-control" ng-model="ctx.cv.currentItem.color" ng-disabled="!isEditing()" />
				</dd>
				<dt>Amount</dt>
				<dd>
					<input type="text" class="form-control" ng-model="ctx.cv.currentItem.amount" ng-disabled="!isEditing()" />
				</dd>
				<dt></dt>
				<dd>
					<div class="btn-group data-btn-group">
						<button ng-click="edit()" ng-hide="isEditing()" class="btn btn-default btn-sm">Edit</button>
						<button ng-click="add()" ng-hide="isEditing()" class="btn btn-default btn-sm">Add</button>
						<button ng-click="delete()" ng-hide="isEditing()" class="btn btn-default btn-sm">Delete</button>
						<button ng-click="commit()" ng-hide="!isEditing()" class="btn btn-default btn-sm">Commit</button>
						<button ng-click="cancel()" ng-hide="!isEditing()" class="btn btn-default btn-sm">Cancel</button>
					</div>
				</dd>
			</dl>
		</div>
		<div class="col-md-6">
			<h4>Navigation</h4>
			<dl>
				<dt>items</dt>
				<dd><wj-collection-view-navigator cv="ctx.cv"></wj-collection-view-navigator></dd>
				<dt>pages</dt>
				<dd><wj-collection-view-pager cv="ctx.cv"></wj-collection-view-pager></dd>
			</dl>
			<wj-menu value="ctx.cv.pageSize" header="Page Size">
				<wj-menu-item value="0">No Paging</wj-menu-item>
				<wj-menu-item value="10">10</wj-menu-item>
				<wj-menu-item value="15">15</wj-menu-item>
				<wj-menu-item value="30">30</wj-menu-item>
				<wj-menu-item value="50">50</wj-menu-item>
			</wj-menu>
		</div>
	</div>

	<div class="table-responsive">
		<table class="table table-condensed table-bordered">
			<thead>
				<tr class="active">
					<th class="text-center">
						<div class="btn-group">
							<wj-menu value="filter.id" header="ID">
								<wj-menu-item value="">(All)</wj-menu-item>
								<wj-menu-item value="'odd'">Odd</wj-menu-item>
								<wj-menu-item value="'even'">Even</wj-menu-item>
							</wj-menu>
							<button class="btn btn-default" ng-click="toggleSort('id')">{{getSort('id')}}</button>
						</div>
					</th>
					<th class="text-center">
						<div class="btn-group">
							<wj-menu value="filter.country" header="Country">
								<wj-menu-item value="">(All)</wj-menu-item>
								<wj-menu-item value="'US'">US</wj-menu-item>
								<wj-menu-item value="'Germany'">Germany</wj-menu-item>
								<wj-menu-item value="'UK'">UK</wj-menu-item>
								<wj-menu-item value="'Japan'">Japan</wj-menu-item>
								<wj-menu-item value="'Italy'">Italy</wj-menu-item>
								<wj-menu-item value="'Greece'">Greece</wj-menu-item>
								<wj-menu-item value="'France'">France</wj-menu-item>
							</wj-menu>
							<button class="btn btn-default" ng-click="toggleSort('country')">{{getSort('country')}}</button>
							<button class="btn btn-default" ng-click="toggleGroup('country')">{{getGroup('country')}}</button>
						</div>
					</th>
					<th class="text-center">
						<div class="btn-group">
							<wj-menu value="filter.color" header="Color">
								<wj-menu-item value="">(All)</wj-menu-item>
								<wj-menu-item value="'Black'">Black</wj-menu-item>
								<wj-menu-item value="'White'">White</wj-menu-item>
								<wj-menu-item value="'Red'">Red</wj-menu-item>
								<wj-menu-item value="'Green'">Green</wj-menu-item>
								<wj-menu-item value="'Blue'">Blue</wj-menu-item>
								<wj-menu-item value="'Yellow'">Yellow</wj-menu-item>
								<wj-menu-item value="'Brown'">Brown</wj-menu-item>
								<wj-menu-item value="'Orange'">Orange</wj-menu-item>
							</wj-menu>
							<button class="btn btn-default" ng-click="toggleSort('color')">{{getSort('color')}}</button>
							<button class="btn btn-default" ng-click="toggleGroup('color')">{{getGroup('color')}}</button>
						</div>
					</th>
					<th class="text-center">
						<div class="btn-group">
							<wj-menu value="filter.minAmount" header="Amount">
								<wj-menu-item value="">(All)</wj-menu-item>
								<wj-menu-item value="0">&gt; 0</wj-menu-item>
								<wj-menu-item value="500">&gt; 500</wj-menu-item>
								<wj-menu-item value="1000">&gt; 1,000</wj-menu-item>
							</wj-menu>
							<button class="btn btn-default" ng-click="toggleSort('amount')">{{getSort('amount')}}</button>
							<button class="btn btn-default" ng-click="toggleGroup('amount')">{{getGroup('amount')}}</button>
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in groupedList"
					ng-class="{success: item == ctx.cv.currentItem}"
					ng-click="moveCurrentTo(item)">

					<!-- group row -->
					<td ng-show="isGroup(item)" colspan="4" class="active">
						<span ng-style="{display:'inline-block', width: (item.level * 25) + 'px'}"></span>
						<b>{{item.name}}</b> ({{item.items.length}} items)
					</td>

					<!-- data row -->
					<td ng-hide="isGroup(item)" class="text-center">{{item.id}}</td>
					<td ng-hide="isGroup(item)" class="text-center">{{item.country}}</td>
					<td ng-hide="isGroup(item)" class="text-center">{{item.color}}</td>
					<td ng-hide="isGroup(item)" class="text-center">{{item.amount | number:2}}</td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>
