﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- ensure IE uses the latest version of IE (yes, yes...) -->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <!-- jQuery/Angular/Bootstrap -->
     <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css">
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link rel="stylesheet" type="text/css" href="../styles/vendor/wijmo.min.css">
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/services/dataSvc.js" type="text/javascript"></script>
    <script src="../scripts/controllers/Basic_appCtrl.js" type="text/javascript"></script>
    <script src="../scripts/directives/appDctv.js" type="text/javascript"></script>
    <link href="../styles/app.css" rel="stylesheet">
    <link href="../styles/flexgrid.css" rel="stylesheet" type="text/css">
</head>
<body ng-app="app" ng-controller="basicCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div>
   
        <!-- search box -->
        <div class="row">
            <div class="col-md-4">
                <input type="text" class="form-control" placeholder="Filter" ng-model="ctx.filter">
            </div>
            <div class="col-md-5 col-md-offset-3">
                <wj-collection-view-navigator cv="ctx.flex.collectionView" class="pull-right" />
            </div>
        </div>

        <!-- the grid -->
        {{ctx.delayedFilter}}
        <wj-flex-grid
            class="grid"
            control="ctx.flex"
            selection-mode="Row"
            items-source="ctx.data"
            items-source-changed="itemsSourceChangedHandler()"
            selection-changed="selectionChangedHandler()" allow-delete="true">
            <wj-flex-grid-column header="ID" binding="id" width="80" is-read-only="true"></wj-flex-grid-column>
            <wj-flex-grid-column header="Date" binding="start"></wj-flex-grid-column>
            <wj-flex-grid-column header="Product" binding="productId"></wj-flex-grid-column>
            <wj-flex-grid-column header="Color" binding="colorId"></wj-flex-grid-column>
            <wj-flex-grid-column header="Source" binding="country"></wj-flex-grid-column>
            <wj-flex-grid-column header="Destination" binding="countryId" show-drop-down="false"></wj-flex-grid-column>
            <wj-flex-grid-column header="Revenue" binding="amount" format="n0"></wj-flex-grid-column>
            <wj-flex-grid-column header="Expense" binding="amount2" format="n0"></wj-flex-grid-column>
            <wj-flex-grid-column header="Active" binding="active" data-type="Boolean"></wj-flex-grid-column>
        </wj-flex-grid>

        <!-- a dialog for editing item details -->
        <div class="modal fade" id="dlgDetail">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            ng-click="ctx.flex.collectionView.commitEdit()"
                            aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title">Edit Item</h4>
                    </div>
                    <div class="modal-body">
                        <dl class="dl-horizontal">
                            <dt>ID</dt>
                            <dd>
                                <input class="form-control" disabled value="{{current.id}}" />
                            </dd>
                            <dt>Date</dt>
                            <dd>
                                <wj-input-date value="current.start"></wj-input-date>
                            </dd>
                            <dt>Product</dt>
                            <dd>
                                <wj-combo-box 
                                    items-source="ctx.products"
                                    selected-index="current.productId">
                                </wj-combo-box>
                            </dd>
                            <dt>Color</dt>
                            <dd>
                                <wj-combo-box 
                                    items-source="ctx.colors"
                                    selected-index="current.colorId">
                                </wj-combo-box>
                            </dd>
                            <dt>Country</dt>
                            <dd>
                                <wj-combo-box 
                                    items-source="ctx.countries"
                                    selected-index="current.countryId">
                                </wj-combo-box>
                            </dd>
                            <dt>Revenue</dt>
                            <dd>
                                <wj-input-number 
                                    value="current.amount"
                                    format="c2"></wj-input-number>
                            </dd>
                            <dt>Expense</dt>
                            <dd>
                                <wj-input-number 
                                    format="c2"
                                    value="current.amount2"></wj-input-number>
                            </dd>
                        </dl>
                    </div>
                    <div class="modal-footer">
                        <button 
                            type="button" class="btn btn-primary" data-dismiss="modal"
                            ng-click="ctx.flex.collectionView.commitEdit()">
                            <span class="glyphicon glyphicon-ok"></span>
                            OK
                        </button>
                        <button
                            type="button" class="btn btn-warning" data-dismiss="modal"
                            ng-click="ctx.flex.collectionView.cancelEdit()">
                            <span class="glyphicon glyphicon-ban-circle"></span>
                            Cancel
                        </button>
                    </div>
                </div><!-- modal-content -->
            </div><!-- modal-dialog -->
        </div><!-- modal -->
    </div>

    <!-- commands -->
    <div class="well grid-sort-group">

        <!-- edit details in a popup -->
        <button
            class="btn btn-default"
            data-toggle="modal"
            data-backdrop="static"
            data-keyboard="false"
            data-target="#dlgDetail"
            ng-click="ctx.flex.collectionView.editItem(current)"
            ng-disabled="current == null">
            <span class="glyphicon glyphicon-new-window"></span>
            Edit Detail...
        </button>

        <!-- formatting -->
        <wj-menu value="ctx.alwaysEdit" header="Always Editing">
            <wj-menu-item value="true">On</wj-menu-item>
            <wj-menu-item value="false">Off</wj-menu-item>
        </wj-menu>

        <!-- formatting -->
        <wj-menu value="ctx.formatting" header="Formatting">
            <wj-menu-item value="true">On</wj-menu-item>
            <wj-menu-item value="false">Off</wj-menu-item>
        </wj-menu>

        <!-- culture -->
        <wj-menu value="ctx.culture" header="Culture">
            <wj-menu-item value="'en'">English</wj-menu-item>
            <wj-menu-item value="'de'">German</wj-menu-item>
            <wj-menu-item value="'it'">Italian</wj-menu-item>
            <wj-menu-item value="'fr'">French</wj-menu-item>
            <wj-menu-item value="'pt'">Portuguese</wj-menu-item>
            <wj-menu-item value="'ru'">Russian</wj-menu-item>
            <wj-menu-item value="'ja'">Japanese</wj-menu-item>
            <wj-menu-item value="'ko'">Korean</wj-menu-item>
        </wj-menu>
    </div>

    <h4>
        Popup editing</h4>
    <p>
        Popup editing keeps the native editing enabled for quick Excel-like data entry, and adds
        an "Edit Detail" button to invoke a form where the user can edit the item details.</p>
    <p>
        To see this in action, select an item on the grid and click the "Edit Detail" button below.
        This will bring up a form where users can edit the data for the currently selected item.</p>
    <p>
        The detail form uses specialized input controls that take up more space but can make data
        entry easier in some cases. The form has "OK" and "Cancel" buttons that commit the changes
        or restore the original data. Both actions are accomplished with a single call to the
        <b>CollectionView</b> used as a data source for the grid.</p>
</div>
<br />
<h4>
    Inline editing</h4>
<p>
    If for some reason you don't like the Excel-style editing and prefer to add editing
    buttons to every row (typical of editable HTML tables), you can accomplish that
    using a <b>cellFormatter</b> and a few controller methods.</p>
<p>
    The grid below demonstrates this approach. The buttons in the cells call
    methods in the controller to perform the required actions:</p>

<div>
    <wj-flex-grid
        class="grid"
        control="ctx.flexInline"
        is-read-only="true"
        selection-mode="None"
        items-source="ctx.data"
        items-source-changed="itemsSourceChangedHandler()">
        <wj-flex-grid-column name="id" header="ID" binding="id" width="80" align="right" is-read-only="true"></wj-flex-grid-column>
        <wj-flex-grid-column name="date" header="Date" binding="start"></wj-flex-grid-column>
        <wj-flex-grid-column name="product" header="Product" binding="product" width="*"></wj-flex-grid-column>
        <wj-flex-grid-column name="buttons" width="200"></wj-flex-grid-column>
    </wj-flex-grid>
</div>


</body>
</html>
