﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>   
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>   
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    
    <script src="../scripts/controllers/obRVjx_197826.js" type="text/javascript"></script> 
</head>
<body>
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre><b>Repro Steps:</b>
1. Open console window and click different cells for some times.
Observe: formatItem event occurs every time selection is changed, and it causes flicker cells.
2. Select any value other than ListBox from the topside menu. Click cells again.
Observe: formatItem event doesn't occur.</pre>
    <div ng-app="app" ng-controller="appCtrl">
        <wj-combo-box id="cboSelectionMode" 
            items-source="selectionModes"
            display-member-path="name"
            selected-value-path="value"
            selected-value="ctx.flexSheet.selectionMode">
        </wj-combo-box>
        <br />
        <wj-flex-grid items-source="items" selection-mode="{{selectionMode}}" control="flexGrid" format-item="formatItem(s,e)">
            <wj-flex-grid-column header="ID" binding="id"></wj-flex-grid-column>
            <wj-flex-grid-column header="Product" binding="product" width="150"></wj-flex-grid-column>
            <wj-flex-grid-column>
              <wj-flex-grid-cell-template cell-type="Cell">
                <input type="button" value="button">
              </wj-flex-grid-cell-template>
            </wj-flex-grid-column>
            <wj-flex-grid-column>
              <wj-flex-grid-cell-template cell-type="Cell">
                <input type="button" value="button">
              </wj-flex-grid-cell-template>
            </wj-flex-grid-column>
            <wj-flex-grid-column>
              <wj-flex-grid-cell-template cell-type="Cell">
                <input type="button" value="button">
              </wj-flex-grid-cell-template>
            </wj-flex-grid-column>
	    </wj-flex-grid>
        <br />
        <div id="eventList" style="width: 200px; height: 200px;"></div>
    </div>
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {
            $scope.items = sample.orders();
            $scope.selectionMode = 'ListBox';
            var count = 0;
            $scope.formatItem = function (s, e) {
                //console.log('formatItem: ' + ++count);
                $("#eventList").append('<li>' + "formatItem:" + ++count + '</li>');
            }
            $scope.selectionModes = [
                { name: 'None', value: wijmo.grid.SelectionMode.None },
                { name: 'Cell', value: wijmo.grid.SelectionMode.Cell },
                { name: 'CellRange', value: wijmo.grid.SelectionMode.CellRange },
                { name: 'Row', value: wijmo.grid.SelectionMode.Row },
                { name: 'RowRange', value: wijmo.grid.SelectionMode.RowRange },
                { name: 'ListBox', value: wijmo.grid.SelectionMode.ListBox }
            ];
        });
    </script>
    <br />
    
    
</body>
</html>
