﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><wj-flex-grid items-source="data">
        <wj-flex-grid-filter>
        </wj-flex-grid-filter>
        <wj-flex-grid-column binding="Name">
            <wj-flex-grid-cell-template cell-type="ColumnHeader">
                {{$col.binding}}
            </wj-flex-grid-cell-template>
            <wj-flex-grid-cell-template cell-type="Cell">
                {{$item.Name}}
            </wj-flex-grid-cell-template>
        </wj-flex-grid-column>
        <wj-flex-grid-column binding="Name">
        </wj-flex-grid-column>
    </wj-flex-grid>
    <script>
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {
            $scope.data = [{ Name: 'Name1' }, { Name: 'Name2'}];
        });
    </script>
    <pre><b>Repro Steps:</b>
1. Open the attached sample 'Sample.html'.
Observe: Column header content ('Name') isn't displayed. - Incorrect
    </pre>
</body>
</html>
