﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    

    <script type="text/javascript">
        var defect = "Appearance,BAgs Not Sealed Properly,Broken Pieces,Foriegn Material,Texture".split(','),
          Appropred = "12,1,3,1,1".split(","),
          ApprovedCost = "1619.41,226.10,149.50,119.00,238.00".split(","),
          data = [];
        for (var i = 0; i < defect.length; i++) {
            data.push({
                defect: defect[i],
                Approved: Number(Appropred[i]),
                ApprovedCost: Number(ApprovedCost[i])
            });
        }
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope, $timeout) {
            $scope.data = new wijmo.CollectionView(data);
            $scope.showModal = function () {
                $scope.popup.show(true);
            }
            $scope.show = function () {
                $scope.popup.show();
            }
            $scope.hide = function () {
                $scope.popup.hide();
            }


        });
    </script>
</head>
<body> 
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div ng-app="app" ng-controller="appCtrl">
       <button id="btnModalPopup" ng-click="showModal()">Modal Popup</button>
       <button id="btnPopup" ng-click="show()">Popup</button>
       <button id="btnOwner">Popup with owner</button>
       <wj-popup control="popup" hide-trigger="Blur" fade-in="false" fade-out="false">
          <div style="width:700px;height:400px; padding:10px;">             
              <wj-flex-grid id="flexGrid1" items-source="data" style="margin:5%;width:90%;">
                  <wj-flex-grid-filter ></wj-flex-grid-filter>
              </wj-flex-grid>
              <hr />
              <button id="btnHidePopup" ng-click="hide()" style="float:right;">Hide Popup</button>
          </div>
       </wj-popup>
       <wj-popup control="popup2" hide-trigger="Blur" owner="#btnOwner" fade-in="false" fade-out="false">
           <div style="width:700px;height:400px; padding:10px;">
               <wj-flex-grid id="flexGrid2" items-source="data" style="margin:5%;width:90%;">
                   <wj-flex-grid-filter></wj-flex-grid-filter>
               </wj-flex-grid>
               <hr />
               <button ng-click="hide()" style="float:right;">Hide Popup</button>
           </div>
       </wj-popup>
   </div>
   <br />
    <pre><b>Repro Steps:</b>
    1. Open attached sample.
    2. Click button named Modal Popup
    3. Click on filter icon of any column in FlexGrid 
    Observation> Filter dialog opens but popup gets hidden
    Actual> Both should remain open
    4. Click button named Popup
    5. Click on filter icon of any column in FlexGrid 
    Observation> Filter dialog opens but popup gets hidden
    Actual> Both should remain open
    6. Click button named Popup with owner
    7. Click on filter icon of any column in FlexGrid 
    Observation> Filter dialog opens but popup gets hidden
    Actual> Both should  remain open
    </pre>
</body>
</html>
