﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css">
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/flexGrid_appCtrl.js" type="text/javascript"></script>
    <script src="../scripts/directives/appDctv.js" type="text/javascript"></script>
    <link href="../styles/app.css" rel="stylesheet">
    <link href="../styles/flexgrid.css" rel="stylesheet" type="text/css">
</head>
<body>
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div ng-app="app" ng-controller="appCtrl">
        <button id="btnFormat" class="btn btn-default" ng-click="col_format()">
            Format(start)</button>
        <br />
        <wj-flex-grid id="flexgrid" control="ctx.flex" items-source="data" selection-mode="Row">
            <wj-flex-grid-filter></wj-flex-grid-filter>

            <wj-flex-grid-column header="id" binding="id" align="right"></wj-flex-grid-column>				
		    <wj-flex-grid-column header="product" binding="product"></wj-flex-grid-column>
		    <wj-flex-grid-column header="country" binding="country" ></wj-flex-grid-column>
		    <wj-flex-grid-column header="start" binding="date" ></wj-flex-grid-column>       
            <wj-flex-grid-column header="amount" binding="amount" format="n0" ></wj-flex-grid-column>
            <wj-flex-grid-column header="discount" binding="discount" format="p0" ></wj-flex-grid-column>
		    <wj-flex-grid-column header="active" binding="active" data-type="Boolean" align="center"></wj-flex-grid-column>
        </wj-flex-grid>
    </div>
    <br />
    <p>
        1. Run attached ‘Sample_DateFilter.html’.
        <br />
        [Observe]
        <br />
        ‘Format’ property is not set in ‘start’ column.
        <br />
        2. Click filter icon in ‘start’ column header.
        <br />
        [Observe]
        <br />
        Date inputs are shown in date filter drop-down. [Correct]
        <br />
        3. Click ‘Format(start)’ button (in order to set ‘Format’ property to ‘MMM/dd/yyyy’
        in ‘start’ column).
        <br />
        4. Repeat step 2.
        <br />
        [Observe]
        <br />
        Date inputs are not shown in date filter drop-down. [Incorrect]
    </p>
</body>
</html>
