﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css">
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <!-- custom filter -->
    <script src="../scripts/valuefilter/FlexGridFilter.js" type="text/javascript"></script>
    <script src="../scripts/valuefilter/ColumnFilter.js" type="text/javascript"></script>
    <script src="../scripts/valuefilter/ColumnFilterEditor.js" type="text/javascript"></script>
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/112685_appCtrl.js" type="text/javascript"></script>
    <script src="../scripts/directives/appDctv.js" type="text/javascript"></script>
    <link href="../styles/app.css" rel="stylesheet">
    <link href="../styles/flexgrid.css" rel="stylesheet" type="text/css">
</head>
<body>
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div ng-app="app" ng-controller="appCtrl">
        <h1>
            Value Filter</h1>
        <wj-flex-grid id="flexgrid" items-source="data" allow-resizing="Both" allow-add-new="true" defer-resizing="true"
            initialized="initialized(s, e)">
            <wj-flex-grid-column is-required="false" binding="id"></wj-flex-grid-column>
            <wj-flex-grid-column is-required="false" binding="name"></wj-flex-grid-column>
            <wj-flex-grid-column is-required="false" binding="date"></wj-flex-grid-column>
            <wj-flex-grid-column is-required="false" binding="country"></wj-flex-grid-column>
            <wj-flex-grid-column is-required="false" binding="countryMapped" data-map="countryMap"></wj-flex-grid-column>
            <wj-flex-grid-column is-required="false" binding="downloads"></wj-flex-grid-column>
            <wj-flex-grid-column is-required="false" binding="sales"></wj-flex-grid-column>
            <wj-flex-grid-column is-required="false" binding="expenses"></wj-flex-grid-column>
            <wj-flex-grid-column is-required="false" binding="checked"></wj-flex-grid-column>
        </wj-flex-grid>
        <p>
            Now showing {{data.items.length | number:0}} items.</p>
    </div>
    <br />
    <div>
        1. Run ‘ValueFilter’ sample.
        <br />
        2. Select ‘CountryMapped’ column in first row and press ‘Delete’ key in order to
        input null value.
        <br />
        3. Open filter editor of ‘CountryMapped’ column.
        <br />
        [Observe]
        <br />
        Error (** Assertion failed in Wijmo: item does not define displayMemberPath property
        "text") occurs. [Incorrect]
    </div>
</body>
</html>
