﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css"/>
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link rel="stylesheet" type="text/css" href="../styles/vendor/wijmo.min.css"/>

    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(','),
                products = 'Widget,Gadget,Doohickey'.split(','),
                colors = 'Black,White,Red,Green,Blue'.split(','),
                data = [];
            for (var i = 0; i < 20; i++) {
                data.push({
                    id: i,
                    country: countries[i % countries.length],
                    product: products[i % products.length],
                    color: colors[i % colors.length],
                    countryMapped: i % countries.length,
                    date: new Date(2018, i % 12, i % 28),
                    amount: i * 123.45,
                    discount: i / 4,
                    active: i % 4 == 0
                });
            }

            $scope.data = new wijmo.CollectionView(data);

            $scope.countries = countries;
            var countryMap = [
                { name: 'US', key: 0 },
                { name: 'Germany', key: 1 },
                { name: 'UK', key: 2 },
                { name: 'Japan', key: 3 },
                { name: 'Italy', key: 4 },
                { name: 'Greece', key: 5 }
            ];
            $scope.countryMap = new wijmo.grid.DataMap(new wijmo.CollectionView(countryMap), 'key', 'name');

        });       
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">    
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><input type="checkbox" id="chkAddAddNew" ng-model="flexGrid.allowAddNew"/>allowAddNew
    <input type="checkbox" id="chkShowMarquee" ng-model="flexGrid.showMarquee"/>showMarquee
    <br /><br />
    <wj-flex-grid control="flexGrid" 
        items-source="data"
        style="height:400px;width:1200px;">
        <wj-flex-grid-column header="id" binding="id"></wj-flex-grid-column>
        <wj-flex-grid-column header="country" binding="country"></wj-flex-grid-column>
        <wj-flex-grid-column header="product" binding="product"></wj-flex-grid-column>
        <wj-flex-grid-column header="color" binding="color"></wj-flex-grid-column>
        <wj-flex-grid-column header="countryId" binding="countryMapped" data-map="countryMap"></wj-flex-grid-column>
        <wj-flex-grid-column header="date" binding="date"></wj-flex-grid-column>
        <wj-flex-grid-column header="amount" binding="amount"></wj-flex-grid-column>
        <wj-flex-grid-column header="discount" binding="discount" format="p0"></wj-flex-grid-column>
        <wj-flex-grid-column header="active" binding="active"></wj-flex-grid-column>
    </wj-flex-grid>
    <br />
    <pre>
        <b>Steps to reproduce:</b>
        1.    Run ‘Wijmo 5 Explorer’ sample.
        2.    Navigate to ‘FlexGrid -> Introduction’ page.
        3.    Choose ‘Yes’ from ‘Show Marquee’ menu.
        4.    Choose ‘True’ from ‘Allow Add’ menu.
        5.    Select a cell in add-new row.
        6.    Choose ‘False’ from ‘Allow Add’ menu.
        [Observe]
        ‘Error: Unable to get property 'pos' of undefined or null reference’ message shows up. [Incorrect]
    </pre>
</body>
</html>
