﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
      <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {
            
            var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(','),
                data = [];
            for (var i = 0; i < 30; i++) {
                data.push({
                    id: i,
                    date: new Date(2018, i % 12, (i + 1) % 25),
                    time: new Date(2018, i % 12, (i + 1) % 25, i % 24, i % 60, i % 60),
                    country: countries[i % countries.length],
                    countryMapped: i % countries.length,
                    downloads: (i + 1) * 120.55,
                    sales: (i + 1) * 123.45,
                    expenses: (i + 1) * 234.56,
                    checked: i % 4 == 0
                });
            }
            
            $scope.data = new wijmo.CollectionView(data);

            $scope.countries = countries;
            var countryMap = [
                { name: 'US', key: 0 },
                { name: 'Germany', key: 1 },
                { name: 'UK', key: 2 },
                { name: 'Japan', key: 3 },
                { name: 'Italy', key: 4 },
                { name: 'Greece', key: 5 }
            ];
            $scope.countryMap = new wijmo.grid.DataMap(new wijmo.CollectionView(countryMap), 'key', 'name');

            $scope.initialized = function (s, e) {
                var flex = s;
                $scope.filter = new wijmo.grid.filter.FlexGridFilter(flex);
                $scope.$apply();
                $scope.filter.filterChanging.addHandler(function () {
                    console.log('filter changing');
                });
                $scope.filter.filterChanged.addHandler(function () {
                    console.log('filter changed');
                });
                $scope.filter.filterApplied.addHandler(function () {
                    console.log('filter applied');
                });
            }

            $scope.saveFilter = function () {
                localStorage['filter'] = $scope.filter.filterDefinition;
            }
            $scope.restoreFilter = function () {
                $scope.filter.filterDefinition = localStorage['filter'];
            }           
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
	
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><wj-flex-grid id="flexGrid" control="flexGrid" items-source="data" initialized="initialized(s, e)" style="height: 350px;">
        <wj-flex-grid-column header="ID" binding="id"></wj-flex-grid-column>
        <wj-flex-grid-column header="Date" binding="date" format='MMM/dd/yyyy'></wj-flex-grid-column>
        <wj-flex-grid-column header="Time" binding="time" format="t"></wj-flex-grid-column>
        <wj-flex-grid-column header="Country" binding="country"></wj-flex-grid-column>
        <wj-flex-grid-column header="CountryMapped" binding="countryMapped" data-map="countryMap"></wj-flex-grid-column>
        <wj-flex-grid-column header="Downloads" binding="downloads"></wj-flex-grid-column>
        <wj-flex-grid-column header="Sales" binding="sales"></wj-flex-grid-column>
        <wj-flex-grid-column header="Expenses" binding="expenses"></wj-flex-grid-column>
        <wj-flex-grid-column header="Checked" binding="checked"></wj-flex-grid-column>
    </wj-flex-grid>
    <p>
        Clear the filter, save and load filter definitions to local storage:
        <button id="btnClear" class="btn btn-default" ng-click="filter.clear()">Clear</button>
        <button id="btnSave" class="btn btn-default" ng-click="saveFilter()">Save</button>
        <button id="btnLoad" class="btn btn-default" ng-click="restoreFilter()">Load</button>
    </p>
    <pre>
        <b>Steps to reproduce:</b>
        1.    Run ‘FlexGridFilter’ sample.
        2.    Open filter editor of ‘Time’ column.
        3.    Click ‘Filter by Condition’.
        4.    Choose ‘Contains’ or ‘Ends with’ from filter operators combo.
        5.    Enter ‘pm’ in filter text box and click Apply button.
        [Observe]
        Now showing 496 items.
        6.    Click ‘Save’ button.
        7.    Click ‘Clear’ button.
        8.    Click ‘Load’ button.
        [Observe]
        Nothing happens. Filter item count is showing 1,000 items and ‘Time’ column is not filtered in FlexGrid. [Incorrect]
    </pre>
</body>
</html>
