﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(','),
                data = [];
            for (var i = 0; i < 20; i++) {
                data.push({
                    id: i,
                    country: countries[i % countries.length],
                    countryMapped: i % countries.length,
                    date: new Date(2019, i % 12, i % 28),
                    amount: (i+1) * 100.25,
                    active: i % 4 == 0
                });
            }
                        
            $scope.data = new wijmo.CollectionView(data);

            $scope.countries = countries;
            var countryMap = [
                { name: 'US', key: 0 },
                { name: 'Germany', key: 1 },
                { name: 'UK', key: 2 },
                { name: 'Japan', key: 3 },
                { name: 'Italy', key: 4 },
                { name: 'Greece', key: 5 }
            ];
            $scope.countryMap = new wijmo.grid.DataMap(new wijmo.CollectionView(countryMap), 'key', 'name');

        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><input id="chkShowMarquee" ng-model="flexGrid.showMarquee" type="checkbox" />showMarquee
    <wj-menu id="mnuSelectionMode" value="flexGrid.selectionMode" header="selectionMode">
        <wj-menu-item value="0">None</wj-menu-item>
        <wj-menu-item value="1">Cell</wj-menu-item>
        <wj-menu-item value="2">CellRange</wj-menu-item>
        <wj-menu-item value="3">Row</wj-menu-item>
        <wj-menu-item value="4">RowRange</wj-menu-item>
        <wj-menu-item value="5">ListBox</wj-menu-item>
    </wj-menu>    
    <br /><br />
	<wj-flex-grid control="flexGrid" items-source="data" style="max-height: 300px">
        <wj-flex-grid-filter></wj-flex-grid-filter>
        <wj-flex-grid-column header="id" binding="id"></wj-flex-grid-column>
        <wj-flex-grid-column header="country" binding="country"></wj-flex-grid-column>
        <wj-flex-grid-column header="countryMapped" binding="countryMapped" data-map="countryMap"></wj-flex-grid-column>
        <wj-flex-grid-column header="date" binding="date"></wj-flex-grid-column>
        <wj-flex-grid-column header="amount" binding="amount" format="c2"></wj-flex-grid-column>
        <wj-flex-grid-column header="active" binding="active"></wj-flex-grid-column>
	</wj-flex-grid>
    <pre>
    <b>Steps to reproduce:</b>
    1.    Run ‘Wijmo 5 Explorer’ sample.
    2.    Navigate to ‘FlexGrid -> Introduction’ page.
    3.    Select a cell range.
    4.    Choose ‘Cell’ from ‘Selection’ menu.
    [Observe] Selection is shown at only one cell. [Correct]
    5.    Choose ‘Yes’ from ‘Show Marquee’ menu.
    [Observe]
    Marquee is shown for cell range instead of only one cell. [Incorrect ....... Case 1]
    6.    Choose ‘CellRange’ from ‘Selection’ menu.
    7.    Select a cell range.
    8.    Choose ‘Row’ from ‘Selection’ menu.
    [Observe]
    Last row from cell range is selected but marquee still remain showing for cell range. [Incorrect ........ Case 2]
    9.    Choose ‘None’ from ‘Selection’ menu.
    [Observe]
    Marquee still showing in the grid. [Incorrect ........ Case 3]
    </pre>
</body>
</html>
