﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/flexGrid_appCtrl.js" type="text/javascript"></script>
    <script src="../scripts/directives/appDctv.js" type="text/javascript"></script>
    <link href="../styles/app.css" rel="stylesheet" />
    <link href="../styles/flexgrid.css" rel="stylesheet" type="text/css" />
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><wj-flex-grid id="flexGrid"  
        style="height: 300px" 
        items-source="data">
        <wj-flex-grid-filter></wj-flex-grid-filter>
        <wj-flex-grid-column header="ID" binding="id"></wj-flex-grid-column>
        <wj-flex-grid-column header="Date" binding="date" format='d'></wj-flex-grid-column>
        <wj-flex-grid-column header="Time" binding="time" format="t"></wj-flex-grid-column>
        <wj-flex-grid-column header="Country" binding="country"></wj-flex-grid-column>
        <wj-flex-grid-column header="Country ID" binding="countryId" data-map="countryMap"></wj-flex-grid-column>
        <wj-flex-grid-column header="Amount" binding="amount" format="n0" ></wj-flex-grid-column>
        <wj-flex-grid-column header="Discount" binding="discount" format="p0" ></wj-flex-grid-column>
		<wj-flex-grid-column header="Active" binding="active" data-type="Boolean" align="center"></wj-flex-grid-column>
    </wj-flex-grid>
    <p>
        Now showing {{data.items.length | number:0}} items.</p>
    <br />
    <p>
        1. Run ‘FlexGridFilter’ sample.<br />
        [Observe]<br />
        There is a record with ‘ID=0’ which ‘date’ value is equals to ‘1/1/2015’.<br />
        2. Open ‘date’ column filter box.<br />
        3. Open date calendar drop-down and choose ‘1/1/2015’. Or Type '1/1/2015' in date input.<br />
        4. Choose ‘Equals’ from filter condition drop-down.<br />
        5. Click ‘Apply’ button.<br />
        [Observe]<br />
        No item is shown. A record (‘date’ equals ‘1/1/2015’) is not filtered in C1FlexGrid.
        [Incorrect]
    </p>
</body>
</html>
