﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(','),
                    data = [];
            for (var i = 0; i < 20; i++) {
                data.push({
                    id: i,
                    country: countries[i % countries.length],
                    countryMapped: i % countries.length,
                    date: new Date(2017, i % 12, i % 28),
                    amount: (i+1) * 123,
                    active: i % 4 == 0
                });
            }

            $scope.data = new wijmo.CollectionView(data);

            $scope.countries = countries;
            var countryMap = [
                { name: 'US', key: 0 },
                { name: 'Germany', key: 1 },
                { name: 'UK', key: 2 },
                { name: 'Japan', key: 3 },
                { name: 'Italy', key: 4 },
                { name: 'Greece', key: 5 }
            ];
            $scope.countryMap = new wijmo.grid.DataMap(new wijmo.CollectionView(countryMap), 'key', 'name');
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
       
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><wj-flex-grid dir="rtl" control="flexGrid" items-source="data" style="height: 300px; width:800px;">
        <wj-flex-grid-column header="id" binding="id"></wj-flex-grid-column>
        <wj-flex-grid-column header="country" binding="country"></wj-flex-grid-column>
        <wj-flex-grid-column header="countryMapped" binding="countryMapped" data-map="countryMap"></wj-flex-grid-column>
        <wj-flex-grid-column header="date" binding="date"></wj-flex-grid-column>
        <wj-flex-grid-column header="amount" binding="amount" format="c"></wj-flex-grid-column>
        <wj-flex-grid-column header="active" binding="active"></wj-flex-grid-column>
	</wj-flex-grid>
    <!-- show the current item too -->
    <h4>Current Item</h4>
    <dl class="dl-horizontal current-item">
        <dt>ID</dt>
        <dd>{{flexGrid.collectionView.currentItem.id}}</dd>
        <dt>Country</dt>
        <dd>{{flexGrid.collectionView.currentItem.country}}</dd>
        <dt>CountryMapped</dt>
        <dd>{{flexGrid.collectionView.currentItem.countryMapped}}</dd>
        <!--<dt>Date</dt>
        <dd>{{flexGrid.collectionView.currentItem.date}}</dd>-->
        <dt>Amount</dt>
        <dd>{{flexGrid.collectionView.currentItem.amount | number:2}}</dd>
        <dt>Active</dt>
        <dd>{{flexGrid.collectionView.currentItem.active }}</dd>
    </dl>
    <br />
    <pre>
    <b>Steps to reproduce:</b>
    1. Run Wijmo 5 Explorer sample.
    2. Navigate to 'FlexGrid' --> 'Right To Left' sample.
    [Observe]
    Cell selection is shown on cell[0,0].[Correct]
    3. Move to other cells or select by clicking with mouse.
    [Observe]
    Any cell cannot be selected.[Incorrect]
    </pre>

</body>
</html>
