﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css">
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    
    
    <link href="../styles/flexgrid.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(','),
                    data = [];
            for (var i = 0; i < 10; i++) {
                data.push({
                    id: i,
                    country: countries[i % countries.length],
                    countryMapped: i % countries.length,
                    date: new Date(2018, i % 12, i % 28),
                    amount: (i + 1) * 1.23,
                    amount2: (i+1) * 1.05,
                    discount: i / (i + 4),
                    active: i % 4 == 0
                });
            }

            $scope.data = new wijmo.CollectionView(data);

            $scope.initialized = function (s, e) {
                var flex = s;
                $scope.filter = new wijmo.grid.filter.FlexGridFilter(flex);
            }

            $scope.col_format = function () {
                var flex = $scope.flexGrid;
                flex.columns[4].format = 'n';
                flex.columns[5].format = 'n2';
            };
        });
    </script>
</head>
<body>
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div ng-app="app" ng-controller="appCtrl">
        <button id="btnFormat" class="btn btn-default" ng-click="col_format()">
            Format
        </button>
        <button id="btnClear" class="btn btn-default" ng-click="filter.clear()">
            Clear
        </button>
        <br /><br />
        <wj-flex-grid control="flexGrid" items-source="data" initialized="initialized(s, e)">
            <wj-flex-grid-column header="id" binding="id"></wj-flex-grid-column>
		    <wj-flex-grid-column header="country" binding="country"></wj-flex-grid-column>
		    <wj-flex-grid-column header="date" binding="date"></wj-flex-grid-column>     
            <wj-flex-grid-column header="amount" binding="amount"></wj-flex-grid-column>
            <wj-flex-grid-column header="amount2" binding="amount2"></wj-flex-grid-column>
            <wj-flex-grid-column header="discount" binding="discount"></wj-flex-grid-column>
		    <wj-flex-grid-column header="active" binding="active" data-type="Boolean" align="center"></wj-flex-grid-column>
        </wj-flex-grid>
    </div>
    <pre>
        <b>Steps to reproduce:</b>
        1.    Run attached sample ‘prj_FlexGrid.html’.
        [Observe]
        ‘Format’ property is not yet set in ‘amount’ and ‘amount2’ columns.
        2.    Open filter editor of ‘amount’/‘amount2’ and open ‘Filter by Condition’.
        3.    Enter a decimal value (example: ‘1.2’) in an input.
        [Observe]
        Decimal point ‘.’ cannot be entered in conditional filter inputs although ‘amount’ column contains decimal values. [Incorrect]
        Note: Decimal point can be input in ‘Search’ input of Value Filter.
        4.    Choose ‘On’ from ‘Formatting’ menu.
        5.    Repeat steps 2 and 3.
        [Observe]
        Decimal value can be input. [Correct]
        Note: this issue is also reproducible in ‘FlexGridFilter’ sample.
    </pre>
</body>
</html>
