﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(','),
                data = [];
            for (var i = 0; i < 10; i++) {
                data.push({
                    id: i,
                    country: countries[i % countries.length],
                    countryMapped: i % countries.length,
                    date: new Date(2018, i % 12, i % 28),
                    amount: (i + 1) * 1000,
                    active: i % 2 == 0
                });
            }

            $scope.data = new wijmo.CollectionView(data);

            $scope.countries = countries;
            var countryMap = [
                { name: 'US', key: 0 },
                { name: 'Germany', key: 1 },
                { name: 'UK', key: 2 },
                { name: 'Japan', key: 3 },
                { name: 'Italy', key: 4 },
                { name: 'Greece', key: 5 }
            ];
            $scope.countryMap = new wijmo.grid.DataMap(new wijmo.CollectionView(countryMap), 'key', 'name');

            $scope.flexCopying = function (sender, args) {
                var value = "copying.";
                $("#event").append('<li>' + value + '</li>');
            }
            $scope.flexCopied = function (sender, args) {
                var value = "copied.";
                $("#event").append('<li>' + value + '</li>');
            }
            $scope.flexPasting = function (sender, args) {
                var value = "pasting.";
                $("#event").append('<li>' + value + '</li>');
            }
            $scope.flexPasted = function (sender, args) {
                var value = "pasted.";
                $("#event").append('<li>' + value + '</li>');
            }
            $scope.flexPastingCell = function (sender, args) {
                var value = "pastingCell.";
                $("#event").append('<li>' + value + '</li>');
            }
            $scope.flexPastedCell = function (sender, args) {
                var value = "pastedCell.";
                $("#event").append('<li>' + value + '</li>');
            }
            $scope.clear = function () {
                $("#event").empty();
            }
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
	
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><wj-flex-grid id="flexGrid" control="flexGrid" items-source="data" allow-add-new="true"
        copying="flexCopying()" copied="flexCopied()" pasting="flexPasting()" pasted="flexPasted()" pasting-cell="flexPastingCell()" pasted-cell="flexPastedCell()">
        <wj-flex-grid-column header="id" binding="id"></wj-flex-grid-column>
		<wj-flex-grid-column header="country" binding="countryMapped" data-map="countryMap"></wj-flex-grid-column>
        <wj-flex-grid-column header="date" binding="date"></wj-flex-grid-column>
		<wj-flex-grid-column header="amount" binding="amount"></wj-flex-grid-column>		    
		<wj-flex-grid-column header="active" binding="active"></wj-flex-grid-column>
	</wj-flex-grid>
    <button id="btnClear" class="btn btn-default" ng-click="clear()">clear</button>
    <ul id="event"></ul>
    <pre>
        <b>Steps to reproduce:</b>
        1.    Run attached sample ‘prj_PastingPastedCell’.
        2.    Select a cell in the grid.
        3.    Press ‘Ctrl + C’.
        [Observe]
        ‘Copying’ and ‘Copied’ events are fired. [Correct]
        4.    Select another cell from the same column and press ‘Ctrl + V’.
        [Observe]
        ‘PastingCell’ and ‘PastedCell’ events are not fired. [Incorrect]
    </pre>
</body>
</html>
