﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
</head>
<body>
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div ng-app="app" ng-controller="appCtrl">
        <label>
            Show filter icons
            <input type="checkbox" ng-model="ctx.filter.showFilterIcons" />
        </label>
        <wj-menu header="Revenue column Filter Type"
                    value="ctx.revenueColumnFilterType">
            <wj-menu-item value="0">None</wj-menu-item>
            <wj-menu-item value="1">Condition</wj-menu-item>
            <wj-menu-item value="2">Value</wj-menu-item>
            <wj-menu-item value="3">Both</wj-menu-item>
        </wj-menu>
        <br />
        <wj-flex-grid
            style="height:300px"
            initialized="initialized(s,e)"
            items-source="data">
            <wj-flex-grid-filter control="ctx.filter"></wj-flex-grid-filter>
            <wj-flex-grid-column header="ID" binding="id" width="80" isReadOnly="true"></wj-flex-grid-column>
            <wj-flex-grid-column header="Date" binding="start"></wj-flex-grid-column>
            <wj-flex-grid-column header="Product" binding="product" isRequired="false"></wj-flex-grid-column>
            <wj-flex-grid-column header="Color" binding="color"></wj-flex-grid-column>
            <wj-flex-grid-column header="Source" binding="country"></wj-flex-grid-column>
            <wj-flex-grid-column header="Revenue" binding="amount" format="n0"></wj-flex-grid-column>
            <wj-flex-grid-column header="Expense" binding="amount2" format="n0"></wj-flex-grid-column>
            <wj-flex-grid-column header="Active" binding="active" dataType="Boolean"></wj-flex-grid-column>
        </wj-flex-grid>
        <pre>
        <b>Steps to reproduce:</b>
        1.    Run ‘JS/TS > Angular/Angular2 > Explorer’ sample.
        Note: This issue is not observed in ‘FlexGridFilter’ sample (which 'format' property of Date column is set 'MMM/dd/yyyy').
        2.    Navigate to ‘FlexGrid > Filter’ page.
        3.    Open filter editor of ‘Date’ column.
        4.    Click ‘Filter by Condition’.
        Observe: ‘Unable to get property 'length' of undefined or null reference’ error occurs……Incorrect
        </pre>
    </div>
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        var countries = ['US', 'Germany', 'UK', 'Japan', 'Italy', 'Greece'];
        var products = ['Widget', 'Gadget', 'Doohickey'];
        var colors = ['Black', 'White', 'Red', 'Green', 'Blue'];
        app.controller('appCtrl', function ($scope) {
            var data = [];
            for (var i = 0; i < 10; i++) {
                var date = new Date(2017, i % 12, 25, i % 24, i % 60, i % 60),
                    countryId = i % countries.length,
                    productId = i % products.length,
                    colorId = i % colors.length;
                data.push({
                    id: i,
                    start: date,
                    end: date,
                    country: countries[countryId],
                    product: products[productId],
                    color: colors[colorId],
                    countryId: countryId,
                    productId: productId,
                    colorId: colorId,
                    amount: i * 10000 - 5000,
                    amount2: i * 10000 - 5000,
                    discount: i / 7,
                    active: i % 4 == 0
                });
            }
            $scope.data = new wijmo.CollectionView(data);

            $scope.ctx = {
                filter: null,
                revenueColumnFilterType: 1
            };

            // create the filter and expose it to scope for customization
            $scope.initialized = function (s, e) {
                if ($scope.ctx.filter) {
                    $scope.ctx.filter.filterChanging.addHandler(function () {
                        console.log('filter changing');
                    });
                    $scope.ctx.filter.filterChanged.addHandler(function () {
                        console.log('filter changed');
                    });
                    $scope.ctx.filter.filterApplied.addHandler(function () {
                        console.log('filter applied');
                    });
                    setFilterType();
                }
            }

            // update the filter type
            $scope.$watch('ctx.revenueColumnFilterType', function () {
                setFilterType();
            })

            // update the filter type for the 'amount' column
            function setFilterType() {
                var f = $scope.ctx.filter;
                if (f) {
                    var col = f.grid.columns.getColumn('amount'),
                cf = f.getColumnFilter(col, true);
                    cf.filterType = $scope.ctx.revenueColumnFilterType;
                }
            }
        });
    </script>
</body>
</html>
