﻿<!DOCTYPE html>
<html>
<head>
    <title></title>   
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css"/>
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link rel="stylesheet" type="text/css" href="../styles/vendor/wijmo.min.css"/>
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(',');
            // enable/disable grid validation
            $scope.showErrors = true;
            $scope.validateEdits = true;

            // create some random data
            var customers = [
                { id: 0, firstName: 'John', lastName: 'Lennon' },
                { id: 1, firstName: 'Paul', lastName: 'McCartney' },
                { id: 2, firstName: 'Ringo', lastName: 'Starr' },
                { id: 3, firstName: 'George', lastName: 'Harrison' },
            ]
            var data = [];
            for (var i = 0; i < 5 * countries.length; i++) {
                data.push({
                    customer: customers[i % customers.length],
                    country: countries[i % countries.length],
                    downloads: i * 1.2,
                    sales: i / 10000,
                    expenses: i * 5000,
                    active: i % 2 == 0
                });
            }
            $scope.data = new wijmo.CollectionView(data, {

                // initialize new items
                newItemCreator: function () {
                    return {
                        customer: customers[0],
                        country: countries[0],
                        downloads: 0,
                        sales: 0,
                        expenses: 0,
                        active: false
                    }
                },

                // validation code (logic only!)
                getError: function (item, property) {
                    switch (property) {
                        case 'country':
                            return countries.indexOf(item.country) < 0
                        ? 'Invalid Country'
                        : null;
                        case 'downloads':
                        case 'sales':
                        case 'expenses':
                            return item[property] < 1000
                        ? 'Cannot be less than 1,000!'
                        : null;
                        case 'active':
                            return item.active && item.country.match(/US|UK/)
                        ? 'Active items not allowed in the US or UK!'
                        : null;
                        case 'customer.firstName':
                            return item.customer.firstName.match(/^(John|Paul|Ringo|George)$/)
                        ? null
                        : 'That\'s not a Beatle!!';
                        case 'customer.lastName':
                            return item.customer.lastName.match(/^(Lennon|McCartney|Starr|Harrison)$/)
                        ? null
                        : 'That\'s not a Beatle!!';
                    }
                    return null;
                }
            });
           
        });
    </script>   
</head>
<body ng-app="app" ng-controller="appCtrl">    
   
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><input id="chkallowAddnew" ng-model="flexGrid.allowAddNew" type="checkbox" />allowAddNew
	<br/>		
	<br/>		
	<wj-flex-grid control="flexGrid"
		items-source="data"
		show-errors="{{showErrors}}"
		validate-edits="{{validateEdits}}"
		style="height: 400px;">
		<wj-flex-grid-column binding="customer.firstName" header="First"></wj-flex-grid-column>
		<wj-flex-grid-column binding="customer.lastName" header="Last"></wj-flex-grid-column>
		<wj-flex-grid-column binding="country" header="Country"></wj-flex-grid-column>
		<wj-flex-grid-column binding="downloads" header="Downloads" format="n0"></wj-flex-grid-column>
		<wj-flex-grid-column binding="sales" header="Sales" format="n2"></wj-flex-grid-column>
		<wj-flex-grid-column binding="expenses" header="Expenses" format="n2"></wj-flex-grid-column>
		<wj-flex-grid-column binding="active" header="Active"></wj-flex-grid-column>
	</wj-flex-grid>
    <pre>
    Steps to reproduce:
    1.    Run attached sample ‘prj_FlexGrid.html’.
    2.    Check ‘allowAddNew’ checkbox.
    3.    Scroll down the FlexGrid to new row template.
    Observe: 
    -    New row template cannot show……Incorrect – Case 1
    -    ‘Uncaught TypeError: Cannot read property 'customer' of undefined’ occurs in console view……Incorrect – Case 2
    </pre>
</body>
</html>
