﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    

    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope, $timeout) {
           
            var countries = 'US,UK,Japan,Germany,Italy,Greece,Russia'.split(',');
            var products = 'Widget,Gadget,Doohickey'.split(',');
            var colors = 'Black,White,Red,Green,Blue'.split(',');
            var data = [];
            for (var i = 0; i < 7; i++) {
                var countryId = i% countries.length,
                    productId = i% products.length,
                    colorId = i% colors.length;
                data.push({
                    id: i,
                    country: countries[countryId],
                    product: products[productId],
                    color: colors[colorId],
                    countryId: countryId,
                    productId: productId,
                    colorId: colorId,
                    date: new Date(2017, i % 12, i % 28),
                    amount: i * 10000 - 5000,
                    active: i % 4 == 0,
                });
            }
            $scope.data = new wijmo.CollectionView(data);

            $scope.ctx = {
                flex: null,
                countries: countries,
                products: products,
                colors: colors
            };

            $scope.$watch('ctx.flex', function () {
                var flex = $scope.ctx.flex;
                if (flex) {
                    updateDataMaps();
                }
            });

            function updateDataMaps() {
                var flex = $scope.ctx.flex;
                if (flex) {
                    var colCountry = flex.columns.getColumn('countryId');
                    var colProduct = flex.columns.getColumn('productId');
                    var colColor = flex.columns.getColumn('colorId');
                    if (colCountry && colProduct && colColor) {
                        colCountry.dataMap = buildDataMap(countries);
                        colProduct.dataMap = buildDataMap(products);
                        colColor.dataMap = buildDataMap(colors);
                    }
                }
            }

            function buildDataMap(items) {
                var map = [];
                for (var i = 0; i < items.length; i++) {
                    map.push({ key: i, value: items[i] });
                }
                return new wijmo.grid.DataMap(map, 'key', 'value');
            }

            $scope.editItem = function () {
                var view = $scope.ctx.flex.collectionView;
                view.editItem(view.currentItem);
                $scope.ctx.popup.show(true, function (e) {
                    if (e.dialogResult && e.dialogResult.indexOf('ok') > -1) {
                        view.commitEdit();
                    } else {
                        view.cancelEdit();
                    }
                    $scope.$apply();
                });
            }
        });
    </script>
</head>
<body> 
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div ng-app="app" ng-controller="appCtrl">
        <wj-flex-grid id="flexGrid"
			    control="ctx.flex"
			    allow-add-new="true"
			    items-source="data"
                style="width: 1000px; height: 350px;">
            <wj-flex-grid-column header="id" binding="id"></wj-flex-grid-column>	
            <wj-flex-grid-column header="date" binding="date"></wj-flex-grid-column>
            <wj-flex-grid-column header="product" binding="productId"></wj-flex-grid-column>	   
		    <wj-flex-grid-column header="color" binding="colorId"></wj-flex-grid-column>	
            <wj-flex-grid-column header="country" binding="countryId" ></wj-flex-grid-column>	
            <wj-flex-grid-column header="amount" binding="amount"></wj-flex-grid-column>
		    <wj-flex-grid-column header="active" binding="active" is-required="false"></wj-flex-grid-column>  
        </wj-flex-grid>
        <br /> <br />
        <button id="btnPopup" ng-disabled="ctx.flex.collectionView.currentItem == null" ng-click="editItem()">Edit Detail...</button>
        <wj-popup control="ctx.popup" ng-repeat="current in [ctx.flex.collectionView.currentItem]" style="width: 400px; height: 400px;">
          <div>
                <h4>Edit Item {{current.id}}</h4>        
            </div>
            <div>
                <dl class="dl-horizontal">
                    <dt>Date</dt>
                    <dd>
                        <wj-input-date value="current.date"></wj-input-date>
                    </dd>
                    <dt>Product</dt>
                    <dd>
                        <wj-combo-box items-source="ctx.products" selected-index="current.productId"></wj-combo-box>
                    </dd>
                    <dt>Color</dt>
                    <dd>
                        <wj-combo-box items-source="ctx.colors" selected-index="current.colorId"></wj-combo-box>
                    </dd>
                    <dt>Country</dt>
                    <dd>
                        <wj-combo-box items-source="ctx.countries" selected-index="current.countryId"></wj-combo-box>
                    </dd>
                    <dt>Revenue</dt>
                    <dd>
                        <wj-input-number value="current.amount" format="c2"></wj-input-number>
                    </dd>
                </dl>
            </div>
            <div>
                <button id="btnOk" class="wj-hide-ok">
                    OK
                </button>
                <button id="btnCancel" class="wj-hide">
                    Cancel
                </button>
            </div>
        </wj-popup>
    </div>
    <br />
    <pre>
    <b>Steps to reproduce:</b>
    1.    Run ‘JS/TS -> Angular/Angular2 -> Explorer’ sample in Chrome/Firefox.
    2.    Navigate to ‘FlexGrid – Editing’ page.
    Note: This issue can be reproduced in ‘InputLabels’ sample.
    3.    Click ‘Edit Detail…’ button.
    4.    When ‘Edit Item’ Popup opens, open drop-down of Date or ComboBox.
    5.    Choose a date or an item from drop-down.
    Observe: Popup hides……Incorrect
    </pre>
</body>
</html>
