﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
      <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope, $compile) {

            var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(','),
                products = 'Widget,Gadget,Doohickey'.split(','),
                colors = 'Black,White,Red,Green,Blue'.split(','),
                data = [];
            for (var i = 0; i < 20; i++) {
                data.push({
                    id: i,
                    country: countries[i % countries.length],
                    product: products[i % products.length],
                    color: colors[i % colors.length],
                    countryMapped: i % countries.length,
                    date: new Date(2018, i % 12, i % 28),
                    amount: i * 123.45,
                    discount: i / (i + 4),
                    active: i % 4 == 0
                });
            }

            $scope.data = new wijmo.CollectionView(data);

            //Inline editing
            $scope.$watch('flexInline', function () {
                var flex = $scope.flexInline;
                if (flex) {

                    // prevent default editing
                    flex.isReadOnly = true;

                    // make rows taller to accommodate edit buttons and input controls
                    flex.rows.defaultSize = 44;

                    // use formatter to create buttons and custom editors
                    flex.itemFormatter = itemFormatter;

                    // commit row changes when scrolling the grid
                    flex.scrollPositionChanged.addHandler(function () {
                        if ($scope.editIndex > -1) {
                            $scope.commitRow($scope.editIndex);
                        }
                    });
                }
            });
            function itemFormatter(panel, r, c, cell) {
                if (panel.cellType == wijmo.grid.CellType.Cell) {
                    var col = panel.columns[c],
                html = cell.innerHTML;
                    if (r == $scope.editIndex) {
                        switch (col.name) {
                            case 'buttons':
                                html = '<div>' +
                               '&nbsp;&nbsp;' +
                               '<button class="btn btn-primary btn-sm" ng-click="commitRow(' + r + ')">' +
                                   '<span class="glyphicon glyphicon-ok"></span> OK' +
                               '</button>' +
                               '&nbsp;&nbsp;' +
                               '<button class="btn btn-warning btn-sm" ng-click="cancelRow(' + r + ')">' +
                                   '<span class="glyphicon glyphicon-ban-circle"></span> Cancel' +
                               '</button>' +
                           '</div>';
                                break;
                            case 'date':
                                html = '<input id="theDate" class="form-control" value="' + panel.getCellData(r, c, true) + '"/>';
                                break;
                            case 'product':
                                html = '<input id="theProduct" class="form-control" value="' + panel.getCellData(r, c, true) + '"/>';
                                break;
                        }
                    } else {
                        switch (col.name) {
                            case 'buttons':
                                cell.style.padding = '3px';
                                html = '<div>' +
                               '&nbsp;&nbsp;' +
                               '<button class="btn btn-default btn-sm" ng-click="editRow(' + r + ')">' +
                                   '<span class="glyphicon glyphicon-pencil"></span> Edit' +
                               '</button>' +
                               '&nbsp;&nbsp;' +
                               '<button class="btn btn-default btn-sm" ng-click="deleteRow(' + r + ')">' +
                                   '<span class="glyphicon glyphicon-remove"></span> Delete' +
                               '</button>' +
                           '</div>';
                                break;
                        }
                    }

                    // update cell and compile its contents into the scope 
                    // (required to wire up the ng-click directives)
                    if (html != cell.innerHTML) {
                        cell.innerHTML = html;
                        cell.style.padding = '3px';
                        $compile(cell)($scope);
                    }
                }
            }
            $scope.editRow = function (row) {
                $scope.editIndex = row;
                $scope.flexInline.invalidate();
            }
            $scope.deleteRow = function (row) {
                $scope.editIndex = -1;
                var ecv = $scope.flexInline.collectionView;
                ecv.removeAt(row);
            }
            $scope.commitRow = function (row) {

                // save changes
                var flex = $scope.flexInline;
                flex.setCellData(row, 'date', $("#theDate").val());
                flex.setCellData(row, 'product', $("#theProduct").val());

                // done editing
                $scope.cancelRow(row);
            }
            $scope.cancelRow = function (row) {
                $scope.editIndex = -1; // TFS 214562
                $scope.flexInline.invalidate();
            }

            //CellTemplateIntro
            $scope.countries = countries;
            $scope.cv = new wijmo.CollectionView(data, {
                sortDescriptions: [ 'date' ], // sort by date
                groupDescriptions: [ 'country' ] // group by country
            });

            $scope.customTopLeft = true;
            $scope.customRowHeader = true;
            $scope.customRowHeaderEdit = true;
            $scope.customCell = true;
            $scope.customCellEdit = true;
            $scope.customColumnHeader = true;
            $scope.customGroupHeader = true;
            $scope.customGroup = true;
            $scope.customColumnFooter = true;
            $scope.customBottomLeft = true;
            $scope.uiCtx = {
                highlightAmount: true,
            };

            $scope.addFooterRow = function (s) {
                s.columnFooters.rows.push(new wijmo.grid.GroupRow());
            }
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><wj-flex-grid id="inlineGrid" control="flexInline"
        is-read-only="true"
        selection-mode="None"
        items-source="data"
        style="height: 300px; width:800px;">
        <wj-flex-grid-column name="id" header="id" binding="id" width="80" align="right" is-read-only="true"></wj-flex-grid-column>
        <wj-flex-grid-column name="date" header="date" binding="date"></wj-flex-grid-column>
        <wj-flex-grid-column name="product" header="product" binding="product" width="*"></wj-flex-grid-column>
        <wj-flex-grid-column name="buttons" width="200"></wj-flex-grid-column>
    </wj-flex-grid>
    <br />
    <wj-flex-grid id="cellTemplateGrid"
        items-source="cv" 
        initialized="addFooterRow(s)"
        allow-sorting="false" 
        defer-resizing="true"
        style="height: 350px; width:800px;">
        <wj-flex-grid-cell-template 
            cell-type="TopLeft" 
            ng-if="customTopLeft">
            №
        </wj-flex-grid-cell-template>
        <wj-flex-grid-cell-template 
            cell-type="BottomLeft" 
            ng-if="customBottomLeft">
            &#931;
        </wj-flex-grid-cell-template>
        <wj-flex-grid-cell-template 
            cell-type="RowHeader" 
            ng-if="customRowHeader">
            {{$row.index}}
        </wj-flex-grid-cell-template>
        <wj-flex-grid-cell-template 
            cell-type="RowHeaderEdit" 
            ng-if="customRowHeaderEdit">
            ...
        </wj-flex-grid-cell-template>

        <wj-flex-grid-column 
            header="Country" 
            binding="country" 
            width="*">
            <wj-flex-grid-cell-template 
                cell-type="Cell" 
                ng-if="customCell">
                <img ng-src="../resources/{{$item.country}}.png" />
                {{$item.country}}
            </wj-flex-grid-cell-template>
            <wj-flex-grid-cell-template 
                cell-type="CellEdit" 
                ng-if="customCellEdit">
                <wj-combo-box 
                    items-source="countries" 
                    selected-value="$value" 
                    is-editable="false"></wj-combo-box>
            </wj-flex-grid-cell-template>
            <wj-flex-grid-cell-template 
                cell-type="GroupHeader" 
                ng-if="customGroupHeader">
                <input type="checkbox" ng-model="$row.isCollapsed" /> 
                {{$item.name}} ({{$item.items.length}} items)
            </wj-flex-grid-cell-template>
        </wj-flex-grid-column>

        <wj-flex-grid-column 
            header="amount" 
            binding="amount" 
            width="170" 
            aggregate="Sum">
            <wj-flex-grid-cell-template 
                cell-type="ColumnHeader" 
                ng-if="customColumnHeader">
                <input type="checkbox" ng-model="uiCtx.highlightAmount" /> 
                amount
            </wj-flex-grid-cell-template>
            <wj-flex-grid-cell-template 
                cell-type="Cell" 
                ng-if="customCell">
                <span ng-style="uiCtx.highlightAmount &&
                        ($item.amount > 1000 && {'color': 'green'} || {'color': 'red'})"
                        style="font-weight:700">
                    {{$item.amount}}
                </span>
            </wj-flex-grid-cell-template>
            <wj-flex-grid-cell-template 
                cell-type="CellEdit" 
                ng-if="customCellEdit">
                <wj-input-number 
                    value="$value" 
                    step="10"></wj-input-number>
            </wj-flex-grid-cell-template>
            <wj-flex-grid-cell-template 
                cell-type="Group" 
                ng-if="customGroup">
                Sum = {{$value | number:0}}
            </wj-flex-grid-cell-template>
            <wj-flex-grid-cell-template 
                cell-type="ColumnFooter" 
                ng-if="customColumnFooter">
                Sum: {{$value | number:0}}
            </wj-flex-grid-cell-template>
        </wj-flex-grid-column>
    </wj-flex-grid>

    <pre>
    <b>Steps to reproduce:</b>
    1.    Run ‘JS/TS > Angular/Angular2 > RowDetails’ sample.
    Note:  This issue is also reproducible in 'Explorer>FlexGrid>Editing>Inline Editing', 'CellTemplateIntro’ and 'Angular2>CustomizedComponents' samples.
    2.    Expand the child grid of detail row.
    3.    Enter text in a cell.
    Observe: ‘Uncaught TypeError: Cannot read property '_tbx' of undefined’ occurs…...Incorrect
    </pre>
</body>
</html>
