﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script> 
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- custom filter -->
    <script src="../scripts/valuefilter/FlexGridFilter.js" type="text/javascript"></script>
    <script src="../scripts/valuefilter/ColumnFilter.js" type="text/javascript"></script>
    <script src="../scripts/valuefilter/ColumnFilterEditor.js" type="text/javascript"></script>

    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {
            // add a value filter to the grid
            $scope.initialized = function (s, e) {
                var gridFilter = new wijmo.grid.valuefilter.FlexGridFilter(s);
            }

            var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(','),
                data = [];
            for (var i = 0; i < 30; i++) {
                data.push({
                    id: i,
                    name: countries[i % countries.length],
                    date: new Date(2018, i % 12, (i + 1) % 25),
                    time: new Date(2018, i % 12, (i + 1) % 25, i % 24, i % 60, i % 60),
                    country: countries[i % countries.length],
                    countryMapped: i % countries.length,
                    downloads: (i + 1) * 200,
                    sales: (i + 1) * 123.45,
                    expenses: (i + 1) * 10.05,
                    checked: i % 9 == 0
                });
            }

            $scope.data = new wijmo.CollectionView(data);

            // create a data map for countries
            var map = [];
            for (var i = 0; i < countries.length; i++) {
                map.push({ key: i, val: countries[i] });
            }
            $scope.countryMap = new wijmo.grid.DataMap(map, 'key', 'val');
        });       
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><wj-flex-grid control="flexGrid" 
        items-source="data"
        allow-resizing="Both"
        allow-add-new="true"
        defer-resizing="true"
        initialized="initialized(s, e)"
        style="height:380px;width:1200px;">
        <wj-flex-grid-column is-required="false" binding="id"></wj-flex-grid-column>
        <wj-flex-grid-column is-required="false" binding="name"></wj-flex-grid-column>
        <wj-flex-grid-column is-required="false" binding="date"></wj-flex-grid-column>
        <wj-flex-grid-column is-required="false" binding="country"></wj-flex-grid-column>
        <wj-flex-grid-column is-required="false" binding="countryMapped" data-map="countryMap"></wj-flex-grid-column>
        <wj-flex-grid-column is-required="false" binding="downloads"></wj-flex-grid-column>
        <wj-flex-grid-column is-required="false" binding="sales"></wj-flex-grid-column>
        <wj-flex-grid-column is-required="false" binding="expenses"></wj-flex-grid-column>
        <wj-flex-grid-column is-required="false" binding="checked"></wj-flex-grid-column>
    </wj-flex-grid>
    <p>
        Now showing {{data.items.length | number:0}} items.</p>
    <pre>
        <b>Repro-steps:</b>
        1. Run 'ValueFilter' sample under 'JS/TS->Angular'.
        2. Open 'FilterEditor' of any column (e.g. date).
        3. Enter '12' in filter textbox and click 'Apply' button.
        Observe:
            Filtering work properly.
        4. Select all cells by clicking top-left cell.
        5. Press 'Delete' key.
        Observe:
            Error "Cannot read property 'isReadOnly' of undefined" is occurred.(Incorrect) 
    </pre>
</body>
</html>
