﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
     <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />    
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/treeDataCtrl.js" type="text/javascript"></script>
</head>
<body ng-app="app" ng-controller="treeDataCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><wj-flex-grid id="flexGrid" control="flex"
        items-source="treeData" 
        child-items-path="items" 
        selection-mode="ListBox"
        headers-visibility="Column"
        sorted-column="sortedColumn(s,e)"
        style="height: 500px; width: 600px;">
        <wj-flex-grid-column binding="name" width="*"></wj-flex-grid-column>
        <wj-flex-grid-column binding="length" width="80" align="center"></wj-flex-grid-column>
    </wj-flex-grid>
    <br />
    <button id="btnSelectCells" class="btn btn-default" ng-click="selectCells()">
        Select Cell Range
    </button>
    <br />
    <p>
    <b>Repro Steps:</b><br />
    1.    Run ‘FlexGridIntro’ sample (any platform).<br />
    2.    Navigate to ‘Sorting Trees’ feature.<br />
    3.    Select a cell range.<br />
    4.    Sort a column.<br />
    Observe: Cell range selection maintains and additional cell is selected……Incorrect
    </p>
</body>
</html>
