﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
        
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
        
    <script src="../scripts/app.js" type="text/javascript"></script>
    <!--<script src="../scripts/directives/appDctv.js" type="text/javascript"></script>-->
    <!--<script src="../scripts/controllers/290318_appCtrl.js" type="text/javascript"></script>-->
    <script>
        var app = angular.module('app');

        // add controller to app module
        app.controller('appCtrl', function appCtrl($scope) {

            // generate some random data
            function getData(count) {
                var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(','),
                data = new wijmo.ObservableArray();
                for (var i = 0; i < count; i++) {
                    data.push({
                        id: i,
                        country: countries[i % countries.length],
                        date: new Date(2014, i % 12, i % 28),
                        amount: Math.random() * 10000,
                        active: i % 4 == 0
                    });
                }
                return data;
            }

            // expose data as a CollectionView (to get updates on changes)
            $scope.data = new wijmo.CollectionView(getData(100));

            // initialize selection mode
            $scope.selectionMode = 'CellRange';
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
 
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><br />
    <div>
        <div>                                         
            <wj-flex-grid items-source="data" selection-mode="{{selectionMode}}" style="height:400px">
            </wj-flex-grid>
              
            <wj-menu value="selectionMode" header="Selection Mode">
                <wj-menu-item value="'None'">None</wj-menu-item>
                <wj-menu-item value="'Cell'">Cell</wj-menu-item>
                <wj-menu-item value="'CellRange'">CellRange</wj-menu-item>
                <wj-menu-item value="'Row'">Row</wj-menu-item>
                <wj-menu-item value="'RowRange'">RowRange</wj-menu-item>
                <wj-menu-item value="'ListBox'">ListBox</wj-menu-item>
            </wj-menu>
        </div>
        <br />
        <pre>
Repro-steps:
1. Run sample in IE 11 or Chrome.
Note : This issue do not observe in Firefox browser (56.0).
Observe:
Selection mode is set as 'CellRange'.
3. Click any row header (e.g row2).
Observe:
Resize button show instead selecting row. (Incorrect)
4. Select one of 'Row','RowRange' and 'ListBox' selection mode from 'selectionMode' menu.
5. Click any row header (e.g. row2).
Observe:
Resizing handle shows instead of selecting the row. (Incorrect)
6. Select 'Cell' selection mode from 'selectionMode' menu.
7. Click any row header (e.g. row2).
Observe:
Resizing handle shows instead of selecting first cell. (Incorrect)
8. Click top-left cell to select entire sheet.
Observe:
Whole grid cannot be selected. (Incorrect)
        </pre>
  </div>
</body>
</html>
