﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {
            function getData(count) {
                var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(','),
                data = new wijmo.ObservableArray();
                for (var i = 0; i < count; i++) {
                    data.push({
                        id: i,
                        country: countries[i % countries.length],
                        date: new Date(2017, i % 12, i % 28),
                        amount: Math.random() * 10000,
                        active: i % 4 == 0
                    });
                }
                return data;
            }
            $scope.data = new wijmo.CollectionView(getData(10));

            $scope.flexGotFocus = function (sender, args) {
                $("#textArea1").append('GotFocus\n');
            }
            $scope.flexLostFocus = function (sender, args) {
                $("#textArea1").append('LostFocus\n');
            }
            $scope.clear = function () {
                $("#textArea1").empty();
            }
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div>
        <wj-menu value="ctx.flexGrid.keyActionTab" header="keyActionTab">
            <wj-menu-item value="0">None</wj-menu-item>
            <wj-menu-item value="1">MoveDown</wj-menu-item>
            <wj-menu-item value="2">MoveAcross</wj-menu-item>
            <wj-menu-item value="3">Cycle</wj-menu-item>
            <wj-menu-item value="4">CycleOut</wj-menu-item>
        </wj-menu>
        <br /><br />
        <wj-flex-grid id="flexGrid" control="ctx.flexGrid" items-source="data" got-focus=flexGotFocus() lost-focus=flexLostFocus() style="height: auto; width: 1000px;">
            <wj-flex-grid-column header="id" binding="id"></wj-flex-grid-column>
            <wj-flex-grid-column header="country" binding="country"></wj-flex-grid-column>
            <wj-flex-grid-column header="date" binding="date"></wj-flex-grid-column>
            <wj-flex-grid-column header="amount" binding="amount"></wj-flex-grid-column>
            <wj-flex-grid-column header="active" binding="active"></wj-flex-grid-column>
        </wj-flex-grid>
        <br />
        <textarea id="textArea1" style="height: 60px;"></textarea>
        <button id="btnClear" class="btn btn-default" ng-click="clear()">clear</button>
        
    </div>
    <br />
    <pre>
    <b>Steps to reproduce:</b>
    1.    Run attached sample ‘prj_FlexGridFocus.htm’.
    2.    Get focus in FlexGrid.
    3.    Press ‘Tab’ key or click anywhere outside the FlexGrid to lose focus.
    Observe: ‘LostFocus’ event does not fire……Incorrect
    </pre>
</body>
</html>
