﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/flexGrid_appCtrl.js" type="text/javascript"></script>
</head>
<body ng-app="app" ng-controller="appCtrl">  
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><label>
        <input id="chkReadOnly" type="checkbox" ng-model="ctx.flex.columns[6].isReadOnly"/>isReadOnly (active)
    </label>  
    <br />
    <wj-flex-grid id="flexGrid"
        control="ctx.flex"
        items-source="data"
        allow-add-new="true">
        <wj-flex-grid-column header="id" binding="id"></wj-flex-grid-column>
        <wj-flex-grid-column header="date" binding="date" format="d"></wj-flex-grid-column>	       
        <wj-flex-grid-column header="country" binding="country" data-map="countryMap"></wj-flex-grid-column>			
		<wj-flex-grid-column header="product" binding="product"></wj-flex-grid-column>
		<wj-flex-grid-column header="color" binding="color"></wj-flex-grid-column>	      
        <wj-flex-grid-column header="amount" binding="amount" format="n2" ></wj-flex-grid-column>
		<wj-flex-grid-column header="active" binding="active" data-type="Boolean" align="center"></wj-flex-grid-column>  
    </wj-flex-grid>
    <br />
    <pre>
    <b>Repro Steps:</b>    
    1. Open the attached “Sample_ReadOnly” .
    2. Browse “FlexGrid_ReadOnly.htm”.
    [Observe]
    Cell can be edited.
    3. Click on any cell in Boolean column (i.e “Active” column) [eg. Cell [1,7] ] to set focus.
    4. Click the drop down of “ReadOnly” menu and select “True” from it.
    5. Try to edit in the cell which focus is set (according to step 3) by setting true or false.
    [Observe]
    The focused cell can still be editable. (Incorrect)
    6. Try to click another two or three cells in “Boolean” column (i.e Active column).
    [Observe]
    The selected cells are disabled one by one.
    7. Try to scroll the grid or sort any column.
    [Observe]
    The whole “Boolean” (Active) column is disabled. (Correct)
    </pre>
</body>
</html>
