﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    

    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            var countries = 'US,UK,Japan'.split(','),
                products = 'Widget,Gadget,Doohickey'.split(','),
                colors = 'Black,White,Red'.split(','),
                data = [];
            for (var i = 0; i < 5; i++) {
                data.push({
                    id: i,
                    country: countries[i % countries.length],
                    product: products[i % products.length],
                    color: colors[i % colors.length],
                    colorId: i % colors.length,
                    active: i % 4 == 0
                });
            }

            $scope.data = new wijmo.CollectionView(data);

            $scope.sourceChanged = function (sender, args) {
                // update data maps, formatting, and headers when the grid is populated
                update();
            }

            // connect to flex when it becomes available
            $scope.$watch('flexGrid', function () {
                // update data maps, formatting, and headers when the grid is populated
                update();
            });

            function update() {
                if ($scope.flexGrid) {
                    updateDataMaps();
                    updateHeaders();
                }
            }

            function updateDataMaps() {
                var flex = $scope.flexGrid;
                if (flex) {
                    var colCountry = flex.columns.getColumn('countryId');
                    var colProduct = flex.columns.getColumn('productId');
                    var colColor = flex.columns.getColumn('colorId');
                    if (colCountry && colProduct && colColor) {
                        colCountry.dataMap = new wijmo.grid.DataMap(countries);
                        colProduct.dataMap = new wijmo.grid.DataMap(products);
                        colColor.dataMap = new wijmo.grid.DataMap(colors);
                    }
                }
            }

            // toggle row visibility
            $scope.toggleRowVisibility = function () {
                var flex = $scope.flexGrid;
                var row = flex.rows[0];
                row.visible = !row.visible;
            };

            function updateHeaders() {
                var flex = $scope.flexGrid;
                if (flex) {

                    // insert new row if not yet
                    if (flex.columnHeaders.rows.length === 1) {
                        flex.columnHeaders.rows.insert(0, new wijmo.grid.Row());
                    }
                    var row = flex.columnHeaders.rows[0];
                    row.allowMerging = true;

                    // set headings so the cells merge
                    for (var i = 0; i < flex.columns.length; i++) {
                        var hdr = 'String';
                        switch (flex.columns[i].binding) {
                            case 'id':
                            case 'amount':
                            case 'discount':
                                hdr = 'Number';
                                break;
                            case 'active':
                                hdr = 'Boolean';
                                break;
                            case 'date':
                                hdr = 'Date';
                                break;
                        }
                        flex.columnHeaders.setCellData(0, i, hdr);
                    }
                }
            }

        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">    
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><wj-flex-grid id="flexGrid" class="grid"
				  control="flexGrid"
				  allow-delete="true"
				  allow-add-new="true"
				  allow-dragging="None"
				  allow-merging="All"
				  items-source-changed="sourceChanged(s, e)"
				  items-source="data">
		<wj-flex-grid-column header="ID" binding="id" align="right"></wj-flex-grid-column>
		<wj-flex-grid-column header="Country" binding="country" allow-merging="true"></wj-flex-grid-column>
		<wj-flex-grid-column header="Product" binding="product" allow-merging="true"></wj-flex-grid-column>
		<wj-flex-grid-column header="Color" binding="color" allow-merging="true"></wj-flex-grid-column>		
    </wj-flex-grid>
	
	<br />
	<button id="togglebtn" class="btn btn-default" ng-click="toggleRowVisibility()">
		Show/Hide Row
	</button>
    <br />
    <pre>
    Steps to reproduce:

    1.    Run attached sample ‘Sample_MergeRowVisibility.html’ with IE or Chrome.
          [Observe]
          First row and second row are merged cell values in ‘Country’ or ‘Product’ or ‘Color’ columns.

    2.    Click ‘Show/Hide Row’ button.
          [Observe]
          When first row (ID-1) is hidden, second row (ID-1) do not display correct cell value and cell borders are not rendered in ‘Country’ or ‘Product’ or ‘Color’ columns. [Incorrect]
    </pre>
</body>
</html>