﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(','),
                companies = 'American Airlines Group Inc.,American Assets Trust Inc.,American Campus Communities Inc'.split(','),
                data = [];
            for (var i = 0; i < 20; i++) {
                data.push({
                    id: i,
                    country: countries[i % countries.length],
                    company: companies[i % companies.length],
                    countryMapped: i % countries.length,
                    date: new Date(2017, i % 12, i % 28),
                    amount: Math.random() * 10000,
                    active: i % 4 == 0
                });
            }

            $scope.data = new wijmo.CollectionView(data);

            $scope.countries = countries;
            var countryMap = [
                { name: 'US', key: 0 },
                { name: 'Germany', key: 1 },
                { name: 'UK', key: 2 },
                { name: 'Japan', key: 3 },
                { name: 'Italy', key: 4 },
                { name: 'Greece', key: 5 }
            ];
            $scope.countryMap = new wijmo.grid.DataMap(new wijmo.CollectionView(countryMap), 'key', 'name');

            $scope.changeColumnSize = function () {
                var flex = $scope.flexGrid;
                var col = flex.columns[1];
                col.visible = true;
                col.width = col.width < 100 ? 150 : 70;
            };          
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><label>       
        <input id="chkWordWrap" type="checkbox" ng-model="flexGrid.columns[1].wordWrap" />
        wordWrap (company)
    </label>
    <button id="btnResizeCol" class="btn btn-default" ng-click="changeColumnSize()">
        Resize Column (company)
    </button>
    <br />
    <wj-flex-grid control="flexGrid" items-source="data" style="height: 300px; width:800px;">
        <wj-flex-grid-column header="id" binding="id"></wj-flex-grid-column>       
        <wj-flex-grid-column header="company" binding="company" word-wrap="true"></wj-flex-grid-column>
        <wj-flex-grid-column header="country" binding="country"></wj-flex-grid-column>
        <wj-flex-grid-column header="countryMapped" binding="countryMapped" data-map="countryMap"></wj-flex-grid-column>
        <wj-flex-grid-column header="date" binding="date"></wj-flex-grid-column>
        <wj-flex-grid-column header="amount" binding="amount"></wj-flex-grid-column>
        <wj-flex-grid-column header="active" binding="active"></wj-flex-grid-column>
	</wj-flex-grid>
    <br />
    <pre>
    <b>Repro steps:</b>
    1. Open the attached “Sample_wordWrap”
    [Observe]
    In “FlexGrid_wordWrap.htm”,  “word-wrap” is set to true in Column index 1 (Country column)
    2. Browse “FlexGrid_wordWrap.htm” file
    [Observe]
    In the country column, the cell in “Country” column which has long name (eg. Democratic Republic of the Congo or People Republic of China) is not wrap although there is no enough space in the column. It just display as  dot (…) at the end. (Incorrect)
    3. Try to resize row that has long name in “Country” column.
    [Observe]
    The text in the cell is still not wrap. (Incorrect)
    </pre>

</body>
</html>
