﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(','),
                data = [];
            for (var i = 0; i < 10; i++) {
                data.push({
                    id: i,
                    country: countries[i % countries.length],
                    countryMapped: i % countries.length,
                    date: new Date(2018, i % 12, i % 28),
                    amount: (i+1) * 1000,
                    active: i % 4 == 0
                });
            }
                        
            $scope.data = new wijmo.CollectionView(data);

            $scope.countries = countries;
            var countryMap = [
                { name: 'US', key: 0 },
                { name: 'Germany', key: 1 },
                { name: 'UK', key: 2 },
                { name: 'Japan', key: 3 },
                { name: 'Italy', key: 4 },
                { name: 'Greece', key: 5 }
            ];
            $scope.countryMap = new wijmo.grid.DataMap(new wijmo.CollectionView(countryMap), 'key', 'name');

        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
	
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><wj-flex-grid id="flexGrid" control="flexGrid" allow-add-new="true" items-source="data" style="height:200px">
        <wj-flex-grid-column header="id" binding="id"></wj-flex-grid-column>
		<wj-flex-grid-column header="country" binding="countryMapped" data-map="countryMap"></wj-flex-grid-column>
        <wj-flex-grid-column header="date" binding="date"></wj-flex-grid-column>
		<wj-flex-grid-column header="amount" binding="amount"></wj-flex-grid-column>		    
		<wj-flex-grid-column header="active" binding="active"></wj-flex-grid-column>
	</wj-flex-grid>
    <br />  
    <button id="btnAutoSizeCol" class="btn btn-default" ng-click="flexGrid.autoSizeColumn(1)">autoSizeColumn(1)</button> 
    <button id="btnAutoSizeCols" class="btn btn-default" ng-click="flexGrid.autoSizeColumns(2, 4)">autoSizeColumns(2,4)</button>
    <button id="btnAutoSizeRow" class="btn btn-default" ng-click="flexGrid.autoSizeRow(1)">autoSizeRow(1)</button>
    <button id="btnAutoSizeRows" class="btn btn-default" ng-click="flexGrid.autoSizeRows()">autoSizeRows(2,4)</button>
    <pre>
    <b>Steps to reproduce:</b>
    1. Open the attached “Sample_autoSizeColumns”.
    2. Open “Grid.js” file in “Scripts” folder.
    [Observe]
    Column index 2 to 4 is set in autoSizeColumns method.
    3. Browse “FlexGrid_autoSizeColumns.htm”.
    4. Click “autoSizeColumns(2-4)” button.
    [Observe]
    Only the first columns(i.e column index 2) that set in ‘autoSizeColumns’ method is auto resize. Column index 3 and 4 are not resize. (Incorrect)
    </pre>
</body>
</html>
