﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
       <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
 
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css">
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link rel="stylesheet" type="text/css" href="../styles/vendor/wijmo.min.css">
<!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/services/dataSvc.js" type="text/javascript"></script> 
    <script src="../scripts/directives/appDctv.js" type="text/javascript"></script> 
    <script src="../scripts/controllers/basicCtrl.js" type="text/javascript"></script>
    <link href="../styles/flexgrid.css" rel="stylesheet" type="text/css">


</head>
<body>

        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div ng-app="app" ng-controller="appCtrl">

       <p>
        <b>TFS 81488 (QA Issue) </b>
        [Wijmo 5 Explorer][FlexGrid] Decimal values changes to ‘.00’ when navigating through data rows in ‘Editing’ sample
      </p>
        <div class="row">
            <div class="col-md-4 col-md-offset-0 col-xs-10 col-xs-offset-1">
                <input type="text" class="form-control app-pad" placeholder="Filter" ng-model="ctx.filter" />
            </div>
            <div class="col-md-5 col-md-offset-3 col-xs-10 col-xs-offset-1">
                <wj-collection-view-navigator cv="ctx.flex.collectionView" class="pull-right" />
            </div>
        </div>
        <!-- the grid -->
        <wj-flex-grid 
         
            class="grid" 
            control="ctx.flex" 
            items-source="ctx.dataDec"
			allow-add-new="true"
			allow-delete="true"
            selection-mode="Row"
            items-source-changed="itemsSourceChangedHandler()"
            selection-changed="selectionChangedHandler()"
			>
          <wj-flex-grid-column header="ID" binding="id" width="80" is-read-only="true" formatting="false"></wj-flex-grid-column>
            <wj-flex-grid-column header="Date" binding="start"></wj-flex-grid-column>
            <wj-flex-grid-column header="Product" binding="productId"></wj-flex-grid-column>
            <wj-flex-grid-column header="Color" binding="colorId"></wj-flex-grid-column>
            <wj-flex-grid-column header="Source" binding="country"></wj-flex-grid-column>
            <wj-flex-grid-column header="Destination" binding="countryId" show-drop-down="false"></wj-flex-grid-column>
            <wj-flex-grid-column header="Revenue" binding="amount" format="n2"></wj-flex-grid-column>
            <wj-flex-grid-column header="Expense" binding="amount2" format="n2"></wj-flex-grid-column>
            <wj-flex-grid-column header="Active" binding="active" data-type="Boolean"></wj-flex-grid-column>
        </wj-flex-grid>


    <!-- Repro Steps from TFS-->
    </br>

    <b>Steps</b></br>
1.    Get focus in first row of C1FlexGrid.
[Observe]
‘Revenue’ cell has value ‘$5000.25’  in the first row.

2.    Click Next ( >) button from navigation bar or Press Down Arrow key.
[Observe]
Decimal values changes to ‘.00’ and gets approximate decimals in each cell of ‘Revenue’ column ‘$5000.25’ changes to ‘$5000.00’). [Incorrect]
</div>

</body>
</html>
