﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(','),
                data = [];
            for (var i = 0; i < 10; i++) {
                data.push({
                    id: i,
                    country: countries[i % countries.length],
                    date: new Date(2018, i % 12, i % 28),
                    amount: (i + 1) * 1000,
                    active: i % 4 == 0
                });
            }

            $scope.data = new wijmo.CollectionView(data);

            $scope.$watch('flexGrid2', function () {
                if ($scope.flexGrid2) {
                    var flex2 = $scope.flexGrid2;
                    // add 50 rows, 10 columns
                    for (var r = 0; r < 50; r++) {
                        flex2.rows.push(new wijmo.grid.Row());
                    }
                    for (var c = 0; c < 10; c++) {
                        flex2.columns.push(new wijmo.grid.Column());
                    }
                    // populate the scrollable area
                    for (var r = 0; r < flex2.rows.length; r++) {
                        for (var c = 0; c < flex2.columns.length; c++) {
                            flex2.setCellData(r, c, 'r' + r + ',c' + c);
                        }
                    }
                    // add 3 rows to the column header and 3 columns to the row header panels
                    for (var i = 0; i < 3; i++) {
                        flex2.columnHeaders.rows.insert(0, new wijmo.grid.Row());
                        flex2.rowHeaders.columns.insert(0, new wijmo.grid.Column());
                    }
                    // populate the fixed area
                    var p = flex2.columnHeaders;
                    for (var r = 0; r < p.rows.length; r++) {
                        for (var c = 0; c < p.columns.length; c++) {
                            p.setCellData(r, c, 'cHdr r' + r + ',c' + c);
                        }
                    }
                    p = flex2.rowHeaders;
                    for (var r = 0; r < p.rows.length; r++) {
                        for (var c = 0; c < p.columns.length; c++) {
                            p.setCellData(r, c, 'rHdr r' + r + ',c' + c);
                        }
                    }
                    p = flex2.topLeftCells;
                    for (var r = 0; r < p.rows.length; r++) {
                        for (var c = 0; c < p.columns.length; c++) {
                            p.setCellData(r, c, 'tl r' + r + ',c' + c);
                        }
                    }
                }
            });

        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><wj-flex-grid id="flexGrid" control="flexGrid" items-source="data" style="height:200px">
        <wj-flex-grid-column header="id" binding="id"></wj-flex-grid-column>
		<wj-flex-grid-column header="country" binding="country"></wj-flex-grid-column>
        <wj-flex-grid-column header="date" binding="date"></wj-flex-grid-column>
		<wj-flex-grid-column header="amount" binding="amount"></wj-flex-grid-column>		    
		<wj-flex-grid-column header="active" binding="active"></wj-flex-grid-column>
	</wj-flex-grid>
    <br />
    <wj-flex-grid id="flexGrid2" control="flexGrid2" allow-resizing="Both" allow-dragging="Both" style="height:200px">
	</wj-flex-grid>
    <br />
    <button id="btnAutoSizeCol" class="btn btn-default" ng-click="flexGrid2.autoSizeColumn(0, true, 4)">autoSizeColumn(0, true, 4)</button> 
    <button id="btnAutoSizeCol2" class="btn btn-default" ng-click="flexGrid.autoSizeColumn(1, true , 4)">autoSizeColumn(1, true , 4)</button>
    <button id="btnAutoSizeCol3" class="btn btn-default" ng-click="flexGrid2.autoSizeColumn(1, true , 4)">autoSizeColumn(1, true , 4)</button>
    <button id="btnAutoSizeCol4" class="btn btn-default" ng-click="flexGrid2.autoSizeColumn(4, true , 4)">autoSizeColumn(4, true , 4)</button>
    <pre>
    <b>Steps to reproduce:</b>
    1.    Open the attached “Sample_autoSizeColumnHeader”
    2.    Open “Grid.js” file in “Scripts” folder.
    [Observe]
    First Button : Set autoSizeColumn method to Bound Grid Header (Column[0]) & Unbound Grid Header(Column[0]).
    Second Button: Set autoSizeColumn method to Bound Grid Header Column[1] (i.e which doesn't has fixed row below it).
    Third Button: Set autoSizeColumn method to UnboundGrid Header Column[1] (i.e which has fixed rows below it.)
    Forth Button: Set autoSizeColumn method to UnBound Grid Header Column[4] (i.e which doesn't has fixed row below it.)
    3.    Browse “FlexGrid_autoSizeColumn.htm” with Chrome.
    4.    Press F12 to open error console.
    5.    Press first button (i.e autoSizeColumnHeaderBoth(Col0) button).
    [Observe]
    Column index 0 in  both Grid are auto resize. (Correct)
    6.    Press third button (i.e autoSizeColumnHeaderUnbound(Col1) button).
    [Observe]
    Column index 1 in Unbound grid is auto resize , since the row below this columns are fixed row. (Correct).
    7.    Press second button (i.e autoSizeColumnHeaderBound(Col1) button)
    [Observe]
    “Cannot read property 'format' of undefined” error is observe in error console ,since the rows below Column index 1 of Bound Grid are not fixed rows. (Incorrect)
    8.    Press forth button (i.e autoSizeColumnHeaderUnbound(Col4).
    [Observe]
    “Cannot read property '_hash' of undefined” error is observe in error console, since the rows below Column index 4 of Unbound Grid are not fixed rows. (Incorrect)
    </pre>
</body>
</html>
