﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    

    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(','),
                data = [];
            for (var i = 0; i < 10; i++) {
                data.push({
                    id: i,
                    country: countries[i % countries.length],
                    countryMapped: i % countries.length,
                    date: new Date(2018, i % 12, i % 28),
                    amount: Math.random() * 10000,
                    active: i % 4 == 0
                });
            }

            $scope.data = new wijmo.CollectionView(data);

            $scope.countries = countries;
            var countryMap = [
                { name: 'US', key: 0 },
                { name: 'Germany', key: 1 },
                { name: 'UK', key: 2 },
                { name: 'Japan', key: 3 },
                { name: 'Italy', key: 4 },
                { name: 'Greece', key: 5 }
            ];
            $scope.countryMap = new wijmo.grid.DataMap(new wijmo.CollectionView(countryMap), 'key', 'name');

            // keep the control in edit mode if 'alwaysEdit' is set to true
            $scope.selectionChangedHandler = function () {
                if ($scope.alwaysEdit == true && $scope.flexGrid.containsFocus()) {
                    setTimeout(function () {
                        $scope.flexGrid.startEditing(false);
                    }, 50);
                }
            };
        }); 
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
       
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><input id="chkAlwaysEdit" ng-model="alwaysEdit" type="checkbox" />Always Editing
    <br />
    <wj-flex-grid id="flexGrid"
        control="flexGrid" 
        items-source="data"
        selection-changed="selectionChangedHandler()">
        <wj-flex-grid-column header="id" binding="id"></wj-flex-grid-column>
        <wj-flex-grid-column header="country" binding="country"></wj-flex-grid-column>
        <wj-flex-grid-column header="countryMapped" binding="countryMapped" data-map="countryMap"></wj-flex-grid-column>
        <wj-flex-grid-column header="date" binding="date"></wj-flex-grid-column>
        <wj-flex-grid-column header="amount" binding="amount"></wj-flex-grid-column>
        <wj-flex-grid-column header="active" binding="active"></wj-flex-grid-column> 
    </wj-flex-grid>
    <pre>
    <b>Steps to reproduce:</b>
    1.    Run ‘Wijmo 5 Explorer’ sample with IE or Chrome.
    2.    Navigate to ‘FlexGrid > Editing’ page.
    3.    Choose ‘On’ from ‘Always Editing’ drop-down.
    4.    Click a cell in C1FlexGrid.
    5.    Open drop-down in ‘Product’ or ‘Color’ column.
    [Observe]
    Drop-downs are opened and closed immediately. [Incorrect]
    </pre>

</body>
</html>
