﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
     <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/angular.js" type="text/javascript"></script>
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <link href="../styles/ngDialog-theme-default.min.css" rel="stylesheet" type="text/css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<!-- Wijmo-Angular interop -->
    
    <script src="../scripts/jQueryAngularBootstrap/ngDialog.js" type="text/javascript"></script>
</head>
<body ng-app="app">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div ng-controller="appCtrl">
        <h1>
            Without ng-dialog</h1>
        <wj-flex-grid items-source="data" selection-mode="CellRange" id="flexGrid"></wj-flex-grid>
        <table>
            <tr>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
            </tr>
            <tr ng-repeat='country in data'>
                <td>
                    {{country.name}}
                </td>
                <td>
                    {{country.code}}
                </td>
            </tr>
        </table>
        <button ng-click="clickToOpen()" id="btnOpen">
            Open</button>
    </div>
    <script>
        var app = angular.module('app', ['wj', 'ngDialog']);

        app.controller('appCtrl', function ($scope, ngDialog) {

            var countries = [
                { id: 1, name: "Canada", code: "CA" },
                { id: 2, name: "United States", code: "US" },
            ];
            $scope.data = countries;
            $scope.clickToOpen = function () {
                ngDialog.open({ template: 'XXX' });
                //  $scope.flex.refresh();
            };

            $scope.init = function (s, e) {
                setTimeout(s.refresh(), 20);
                console.log("test");
            }
        });

    </script>
    <script type="text/ng-template" id="XXX">
        <div ng-controller="appCtrl">
            <h1>Using ng-dialog</h1>
            <table>
             <tr>
               
                        <th>First Name</th>
                        <th>Last Name</th>
                    </tr>
            <tr ng-repeat='country in data'>
            <td>{{country.name}}</td>
            <td>{{country.code}}</td>
            </tr>
            </table>

               <wj-flex-grid initialized="init(s,e)" items-source="data" selection-mode="CellRange" id="flexGrid2"></wj-flex-grid>
        </div>
    </script>
    <p>
        1. Run the attached sample<br />
        2. Click on Open button<br />
        Observe: Table is rendered correctly but FlexGrid does not render
    </p>
</body>
</html>
