﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/flexGrid_appCtrl.js" type="text/javascript"></script>
    <style type="text/css">
        .toolbar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 14px;
        }

        .grid-header {
            background: #d6d6ff;
        }
            .grid-header.wj-state-sticky {
	            opacity: 0.90;
                background: #e5e5ff;
            }
    </style>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div class="grid-header">
        <div class="toolbar">
            <div class="btn-group">
                <button id="btnAdd" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus-sign"></span> Add
                </button>
                <button id="btnImport" class="btn btn-default">
                    <span class="glyphicon glyphicon-import"></span> Import
                </button>
                <button id="btnExport" class="btn btn-default">
                    <span class="glyphicon glyphicon-export"></span> Export
                </button>
                <button id="btnDelete" class="btn btn-default">
                    <span class="glyphicon glyphicon-remove"></span> Delete
                </button>
            </div>
            <div class="btn-group">
                <button id="btnToggleFilter" class="btn btn-default" title="Toggle Filter" ng-click="toggleFilter()">
                    <span class="glyphicon glyphicon-filter"></span>
                </button>
                <button id="btnToggleGroupPanel" class="btn btn-default" title="Toggle Group Panel" ng-click="toggleGroupPanel()">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </button>
                <button class="btn btn-default">
                    <span class="glyphicon glyphicon-asterisk"></span>
                </button>
            </div>
        </div>
        <wj-group-panel
            style="background:transparent"
            control="ctx.theGroupPanel"
            grid="ctx.flex"
            placeholder="Drag columns here to create groups.">
        </wj-group-panel>
    </div>
    <!-- grid that will host the fixed sticky toolbar -->
    <wj-flex-grid id="flexGrid"
        initialized="initStickyToolbar(s,e)"
        control="ctx.flex"
        items-source="data"
        is-read-only="true"
        headers-visibility="All"
        sticky-headers="true">
        <wj-flex-grid-filter control="ctx.theFilter"></wj-flex-grid-filter>
        <wj-flex-grid-column header="id" binding="id"></wj-flex-grid-column>
        <wj-flex-grid-column header="date" binding="date"></wj-flex-grid-column>	       
        <wj-flex-grid-column header="country" binding="country"></wj-flex-grid-column>			
		<wj-flex-grid-column header="product" binding="product"></wj-flex-grid-column>
		<wj-flex-grid-column header="color" binding="color"></wj-flex-grid-column>	      
        <wj-flex-grid-column header="amount" binding="amount"></wj-flex-grid-column>
		<wj-flex-grid-column header="active" binding="active" data-type="Boolean"></wj-flex-grid-column>  
    </wj-flex-grid>  
    <br />
    <pre>
    <b>Steps to reproduce:</b>
    1) In the sample scroll down to the Sticky Toolbars section
    2) click in any area above a column (blue shaded area) and a column will be sorted
    </pre>
    <p>
        Some dummy text to make the page scrollable...
    </p>
    <p ng-repeat="i in [1, 2, 3, 4, 5, 6, 7, 8, 9]">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    <p>
</body>
</html>
