﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
     <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css"/>
     <!-- Wijmo -->
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope, $timeout) {
            // create some random data
            var countries = "Afghanistan|Albania|Algeria|American Samoa|Andorra|Angola|Anguilla|Antigua & Barbuda|Argentina|Armenia|Aruba|Australia|Austria|Azerbaijan|Bahamas, The|Bahrain|Bangladesh|Barbados|Belarus|Belgium|Belize|Benin|Bermuda|Bhutan|Bolivia|Bosnia & Herzegovina|Botswana|Brazil|British Virgin Is.|Brunei|Bulgaria|Burkina Faso|Burma|Burundi|Cambodia|Cameroon|Canada|Cape Verde|Cayman Islands|Central African Rep.|Chad|Chile|China|Colombia|Comoros|Congo, Dem. Rep.|Congo, Repub. of the|Cook Islands|Costa Rica|Cote d'Ivoire|Croatia|Cuba|Cyprus|Czech Republic|Denmark|Djibouti|Dominica|Dominican Republic|East Timor|Ecuador|Egypt|El Salvador|Equatorial Guinea|Eritrea|Estonia|Ethiopia|Faroe Islands|Fiji|Finland|France|French Guiana|French Polynesia|Gabon|Gambia, The|Gaza Strip|Georgia|Germany|Ghana|Gibraltar|Greece|Greenland|Grenada|Guadeloupe|Guam|Guatemala|Guernsey|Guinea|Guinea-Bissau|Guyana|Haiti|Honduras|Hong Kong|Hungary|Iceland|India|Indonesia|Iran|Iraq|Ireland|Isle of Man|Israel|Italy|Jamaica|Japan|Jersey|Jordan|Kazakhstan|Kenya|Kiribati|Korea, North|Korea, South|Kuwait|Kyrgyzstan|Laos|Latvia|Lebanon|Lesotho|Liberia|Libya|Liechtenstein|Lithuania|Luxembourg|Macau|Macedonia|Madagascar|Malawi|Malaysia|Maldives|Mali|Malta|Marshall Islands|Martinique|Mauritania|Mauritius|Mayotte|Mexico|Micronesia, Fed. St.|Moldova|Monaco|Mongolia|Montserrat|Morocco|Mozambique|Namibia|Nauru|Nepal|Netherlands|Netherlands Antilles|New Caledonia|New Zealand|Nicaragua|Niger|Nigeria|N. Mariana Islands|Norway|Oman|Pakistan|Palau|Panama|Papua New Guinea|Paraguay|Peru|Philippines|Poland|Portugal|Puerto Rico|Qatar|Reunion|Romania|Russia|Rwanda|Saint Helena|Saint Kitts & Nevis|Saint Lucia|St Pierre & Miquelon|Saint Vincent and the Grenadines|Samoa|San Marino|Sao Tome & Principe|Saudi Arabia|Senegal|Serbia|Seychelles|Sierra Leone|Singapore|Slovakia|Slovenia|Solomon Islands|Somalia|South Africa|Spain|Sri Lanka|Sudan|Suriname|Swaziland|Sweden|Switzerland|Syria|Taiwan|Tajikistan|Tanzania|Thailand|Togo|Tonga|Trinidad & Tobago|Tunisia|Turkey|Turkmenistan|Turks & Caicos Is|Tuvalu|Uganda|Ukraine|United Arab Emirates|United Kingdom|United States|Uruguay|Uzbekistan|Vanuatu|Venezuela|Vietnam|Virgin Islands|Wallis and Futuna|West Bank|Western Sahara|Yemen|Zambia|Zimbabwe".split('|');
            var names = 'Paul,Alex,Phil,Bob,Dan,Jim,Bob,Tim,Sly,Todd,Ava,Amy,Ivy,Eva,Lea,Sue,Pia,Jan,Uma,Zoe'.split(',');
            var data = [];
            for (var i = 0; i < 100; i++) {
                data.push(getItemData());
            }
            function getItemData() {
                return {
                    name: names[Math.floor(Math.random() * 20)],
                    date: new Date(),
                    age: i * 1 + 10,
                    country: countries[Math.floor(Math.random() * countries.length)]
                }
            }
            // expose data as a CollectionView to get events
            $scope.data = new wijmo.CollectionView(data);
            $scope.data.pageSize = 25;
            $scope.auto_SizeCols = function () {
                $scope.flexGrid.autoSizeColumns();
            };


        });
    </script> 
</head>
<body> 
     
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div ng-app="app" ng-controller="appCtrl">
        <button id="btnAutoSizeColumns" class="btn btn-primary" ng-click="auto_SizeCols()">Auto Size Colum</button>
        <br><br>
        <wj-flex-grid items-source="data"
                      control="flexGrid"
                      sticky-headers="true"
                      style="width:1500px">
            <wj-flex-grid-filter></wj-flex-grid-filter>
            <wj-flex-grid-cell-template cell-type="RowHeader">
                {{$row.index+1}}
            </wj-flex-grid-cell-template>
            <wj-flex-grid-column binding="name"                                
                                 header="Lorem ipsum dolor sit ametsed do eiusmod tempor incididunt ut labore">
            </wj-flex-grid-column>
            <wj-flex-grid-column binding="age"                                
                                 header="Age">
            </wj-flex-grid-column>
            <wj-flex-grid-column binding="date"                                
                                 type="datetime"
                                 format="{{appCtrl.dateFormat}}"
                                 header="Date">
            </wj-flex-grid-column>
            <wj-flex-grid-column binding="name"                                
                                 header="Lorem ipsum dolor sit ametsed do eiusmod tempor incididunt ut labore">
            </wj-flex-grid-column>
            <wj-flex-grid-column binding="age"                                
                                 header="Age">
            </wj-flex-grid-column>
            <wj-flex-grid-column binding="date"                              
                                 type="datetime"
                                 format="{{appCtrl.dateFormat}}"
                                 header="Date">
            </wj-flex-grid-column>
            <wj-flex-grid-column binding="name"                              
                                 header="Lorem ipsum dolor sit ametsed do eiusmod tempor incididunt ut labore">
            </wj-flex-grid-column>
            <wj-flex-grid-column binding="age"                               
                                 header="Age">
            </wj-flex-grid-column>
            <wj-flex-grid-column binding="date"                              
                                 type="datetime"
                                 format="{{appCtrl.dateFormat}}"
                                 header="Date">
            </wj-flex-grid-column>
            <wj-flex-grid-column binding="name"                              
                                 header="Lorem ipsum dolor sit ametsed do eiusmod tempor incididunt ut labore">
            </wj-flex-grid-column>
            <wj-flex-grid-column binding="age"                              
                                 header="Age">
            </wj-flex-grid-column>
            <wj-flex-grid-column binding="date"                           
                                 type="datetime"
                                 format="{{appCtrl.dateFormat}}"
                                 header="Date">
            </wj-flex-grid-column>
            <wj-flex-grid-column binding="name"                          
                                 header="Lorem ipsum dolor sit ametsed do eiusmod tempor incididunt ut labore">
            </wj-flex-grid-column>
            <wj-flex-grid-column binding="age"                              
                                 header="Age">
            </wj-flex-grid-column>
            <wj-flex-grid-column binding="date"                           
                                 type="datetime"
                                 format="{{appCtrl.dateFormat}}"
                                 header="Date">
            </wj-flex-grid-column>

        </wj-flex-grid>
    </div>    
    <br />
    <pre>
    <b>Repro Steps:</b>
    1. Open sample
    2. Click on 'Auto Size Column' button
    Observation> Columns get resized
    3. Scroll horizontally in FlexGrid 
    Observation>4th column is not resized correctly
    Actual> Content should not be hidden
    </pre>
</body>
</html>
