﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('ctrl', function ($scope, $timeout) {
            var vm = this;

            // Some dummy data for the grid
            var rows = [
              { a: 'Value A', b: 1, c: 'Foo' },
              { a: 'Value B', b: 2, c: 'Bar' }
            ];

            vm.init = function (s) {
                vm.flex.itemsSource = new wijmo.ObservableArray(rows, false);
            };

            vm.comboBoxValues = ['zaa', 'baa', 'caa'];

            vm.rowHasDetail = function (row) {
                return true;
            };

            vm.find = function (q, n, cb) {
                cb([{ a: 'A' }, { a: 'B' }, { a: 'C' }, { a: 'D'}]);
            };

            vm.onInputInitialized = function (s) {

                s.onTextChanged = function () {
                    // Notification for text change is received when the extra character appears 
                    // into the input.
                    console.debug('input text changed: ', s.text);
                };

                s.hostElement.addEventListener('keydown', function (e) {
                    // Key event for the character typed outside the input is not received
                    // when the extra character appears into the input.
                    console.debug('input key event: ', e, s);
                });
            };
        });
    </script>
</head>
<body ng-app="app" ng-controller="ctrl as vm">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><wj-flex-grid control="vm.flex" initialized="vm.init(s)">
      
      <!-- Auto-Complete is affected -->
      <wj-flex-grid-column binding="a" header="! Auto-Complete" width="20*">
        <wj-flex-grid-cell-template cell-type="CellEdit">
          <wj-auto-complete delay="250"
                            min-length="0"
                            items-source-function="vm.find"
                            is-editable="true"
                            display-member-path="a"
                            show-drop-down-button="true">
          </wj-auto-complete>
        </wj-flex-grid-cell-template>
      </wj-flex-grid-column>

      <!-- Combo-Box is affected -->
      <wj-flex-grid-column binding="a" header="! ComboBox" width="20*">
        <wj-flex-grid-cell-template cell-type="CellEdit">
          <wj-combo-box items-source="vm.comboBoxValues"
                        selected-value="$value"
                        is-editable="true"
                        show-drop-down-button="true">
          </wj-combo-box>
        </wj-flex-grid-cell-template>
      </wj-flex-grid-column>

      <!-- Input-Number is affected -->
      <wj-flex-grid-column binding="b" header="! Number" width="20*">
        <wj-flex-grid-cell-template cell-type="CellEdit">
          <wj-input-number value="$value" >
          </wj-input-number>
        </wj-flex-grid-cell-template>
      </wj-flex-grid-column>
      
      <!-- HTML InputBox is affected -->
      <wj-flex-grid-column binding="a" header="Text" width="20*">
          <wj-flex-grid-cell-template cell-type="CellEdit">
              <input ng-model="$value">  
          </wj-flex-grid-cell-template>
      </wj-flex-grid-column>
      
      <wj-flex-grid-column  header="Read-Only" width="20*" is-read-only="true">
      </wj-flex-grid-column>
      <wj-flex-grid-detail max-height="250"  detail-visibility-mode="detailMode">
            <input type=text>
      </wj-flex-grid-detail>
      
    </wj-flex-grid>
    <br />
    <pre>
    <b>Repro Steps:</b>
    1. Open http://plnkr.co/edit/aXDURaJ0yfw2qk018mIj?p=preview
    2. Click on Read Only columns' cell and start typing
    3. Double click on any Column's cell except "!Number" if last pressed key is not a number
    Observation> Editor value is set to last pressed key
    Actual> Editor value should be set to Cell value
    4. Expand Row and start editing TextBox placed inside Detail Row
    5. Double click on any Column's cell except "!Number" if last pressed key is not a number
    Observation> Editor value is set to last pressed key
    Actual> Editor value should be set to Cell value
    </pre>
</body>
</html>
