﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script> 
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" /> 
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" /> 
    <!-- Wijmo-Angular interop -->
    

    <script type="text/javascript">
        function getData(start, count) {
            var countries = 'US,UK,China,Germany,India'.split(','),
           data = [];
            for (var i = start; i < count + start; i++) {
                data.push({
                    id: i,
                    country: countries[i % countries.length],
                    sales: i * 1234,
                    downloads: i * 123,
                    active: i % 3 == 0
                });
            }
            return data;
        }
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {
            $scope.data = new wijmo.CollectionView(getData(0, 10));

            $scope.setData = function () {
                $scope.data = new wijmo.CollectionView(getData(20, 10));
            }

            $scope.$watch('groupBy', function () {
                if ($scope.flex) {

                    // get the collection view, start update
                    var cv = $scope.flex.collectionView;
                    cv.beginUpdate();

                    // clear existing groups
                    cv.groupDescriptions.clear();

                    // add new groups
                    var groupNames = $scope.groupBy.split('/'),
                    groupDesc;
                    for (var i = 0; i < groupNames.length; i++) {
                        var propName = groupNames[i].toLowerCase();
                        if (propName == 'amount') {

                            // group amounts in ranges
                            // (could use the mapping function to group countries into continents, 
                            // names into initials, etc)
                            groupDesc = new wijmo.PropertyGroupDescription(propName, function (item, prop) {
                                var value = item[prop];
                                if (value > 1000) return 'Large Amounts';
                                if (value > 100) return 'Medium Amounts';
                                if (value > 0) return 'Small Amounts';
                                return 'Negative';
                            });
                            cv.groupDescriptions.push(groupDesc);
                        } else if (propName) {

                            // group other properties by their specific values
                            groupDesc = new wijmo.PropertyGroupDescription(propName);
                            cv.groupDescriptions.push(groupDesc);
                        }
                    }

                    // done updating
                    cv.endUpdate();
                }
            });
        });
    </script>
</head>
<body>
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div ng-app="app" ng-controller="appCtrl">
        
        <wj-menu value="groupBy" header="Group by">
            <wj-menu-item value="''">(no grouping)</wj-menu-item>
            <wj-menu-item value="'Country'">Country</wj-menu-item>
            <wj-menu-item value="'Product'">Product</wj-menu-item>
            <wj-menu-item value="'Country/Product'">Country and Product</wj-menu-item>
            <wj-menu-item value="'Product/Country'">Product and Country</wj-menu-item>
            <wj-menu-item value="'Product/Country/Amount'">Product, Country and Amount</wj-menu-item>
        </wj-menu>
        <button id="btnSetItemsSource" ng-click="setData()">Set New Items Source</button>
        <wj-group-panel grid="flex" placeholder="Drag Column Here"  max-groups="4"></wj-group-panel>
        <wj-flex-grid control="flex" items-source="data" headers-visibility="Column">
            <wj-flex-grid-column header="Id"
                                    binding="id"
                                    width="*"
                                    is-read-only="true">
            </wj-flex-grid-column>
            <wj-flex-grid-column header="Country"
                                    binding="country"
                                    width="*"
                                    is-read-only="true">
            </wj-flex-grid-column>
            <wj-flex-grid-column header="Sales"
                                    binding="sales"
                                    width="*"
                                    is-read-only="true">
            </wj-flex-grid-column>
            <wj-flex-grid-column header="Downloads"
                                    binding="downloads"
                                    width="*"
                                    is-read-only="true">
            </wj-flex-grid-column>
            <wj-flex-grid-column header="Active"
                                    binding="active"
                                    width="*"
                                    is-read-only="true">
            </wj-flex-grid-column>

        </wj-flex-grid>
        
   </div>  
    <pre> 
    <b>Repro Steps:</b>  
    1. Open attached sample 
    2. Perform grouping by using GroupPanel
       Observation> Grouped columns are hidden
    3. Set new ItemsSource for FlexGrid by clicking Set New Items Source button
       Observation> Data is changed for FlexGrid but hidden column are still not visible
       Actual> Hidden columns  should be displayed back
    </pre>
</body>
</html>
