﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    

    <script id="scriptInit" type="text/javascript">

        // define app, include Wijmo 5 directives
        var app = angular.module('app', ['wj']);

        // controller
        app.controller('appCtrl', function ($scope) {

            // create some random data
            var countries = 'US,Germany,UK,Japan,Italy'.split(','),
                data = [];
            for (var i = 0; i < countries.length; i++) {
                data.push({
                    country: countries[i],
                    downloads: i * 10000 - 5000,
                    sales: i * 10000 - 5000,
                    expenses: i * 10000 - 5000,
                    active: true
                });
            }
            $scope.cv = new wijmo.CollectionView(data);
        });
    </script>
    <style type="text/css">
        .custom {
            color: red;
        }
    </style>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><br />
    <wj-flex-grid style="max-height: 200px" selection-mode="Row" items-source="cv" control="flex">
        <wj-flex-grid-column header="Country" binding="country" ></wj-flex-grid-column>
        <wj-flex-grid-column header="Sales" binding="sales" format="c"></wj-flex-grid-column>
        <wj-flex-grid-column header="Expenses" binding="expenses" >
            <div ng-class="{custom: $item.expenses > 3000}" style="text-align:right">{{flex.getCellData($row.index, $col.index, true)}}</div>
        </wj-flex-grid-column>
        <wj-flex-grid-column header="Downloads" binding="downloads" ng-style="{true:{color:'red'}, false:{color:'green'}}[$item.downloads > 12000]"></wj-flex-grid-column>
    </wj-flex-grid>
    <br />
    <br />
    1. Run the attached sample<br />
    Observe: Custom class is not applied on the expenses column
</body>
</html>
