﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script> 
       
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><wj-flex-grid selection-mode="Row"
                  allow-dragging="Both"
                  items-source="data">
        <wj-flex-grid-column header="Country" binding="country">
            
        </wj-flex-grid-column>
        <wj-flex-grid-column header="Downloads" binding="downloads">
           
        </wj-flex-grid-column>
        <wj-flex-grid-column header="xyz"></wj-flex-grid-column>
        <wj-flex-grid-detail  detail-visibility-mode="{{detailMode}}">
            <div style="color:red;">
             
                    <table>
                        <tr>
                            <td>Course</td>
                            <td>
                                <select name="course">
                                    <option value="B.Tech">B.Tech</option>
                                    <option value="BCA">BCA</option>
                                    <option value="MCA">MCA</option>
                                </select>
                            </td>
                        </tr>
                        <tr><td>Address</td><td><textarea rows="4" cols="50">Enter Address</textarea></td></tr>                       
                       
                    </table>
                            
            </div> 
        </wj-flex-grid-detail>
    </wj-flex-grid>
    <script>
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {
            var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(','),
                 data = [];
            for (var i = 0; i < countries.length; i++) {
                data.push({
                    country: countries[i],
                    downloads: Math.round(Math.random() * 20000),
                    sales: Math.random() * 10000,
                    expenses: Math.random() * 5000
                });
            }
            $scope.data = new wijmo.CollectionView(data);
            $scope.detailMode = wijmo.grid.detail.DetailVisibilityMode.ExpandSingle;
        });
    </script>
    <pre>
    Steps to reproduce:
    1. Open attached sample.
    2. Click on expand(+) button in grid.
    3. Click on select  control .
        Observation> Dropdown not display
        Actual> Dropdown should be display
        Note> When right click on control and again click on control ,it works
    4. Click on textarea control.
        Observation> cursor not display in textarea for editing
        Actual> Cursor should be displayed in textarea for editing
        Note> When right click on control and again click on control ,it works
    </pre>
</body>
</html>
