﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
</head>
<body>
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div ng-app="app" ng-controller="appCtrl">
        Filter:
        <input ng-model="filter">
        <wj-group-panel grid="flex" placeholder="Drag columns here to create Groups" max-groups="4">
      </wj-group-panel>
        <wj-flex-grid id="flexGrid" control="flex" items-source="data">
            <wj-flex-grid-column header="" binding="myNarrowColumn" width="10"></wj-flex-grid-column>
            <wj-flex-grid-column binding="id"></wj-flex-grid-column>
            <wj-flex-grid-column binding="name"></wj-flex-grid-column>
            <wj-flex-grid-column binding="date"></wj-flex-grid-column>
            <wj-flex-grid-column binding="time"></wj-flex-grid-column>
            <wj-flex-grid-column binding="country"></wj-flex-grid-column>
            <wj-flex-grid-column binding="downloads"></wj-flex-grid-column>
            <wj-flex-grid-column binding="sales"></wj-flex-grid-column>
            <wj-flex-grid-column binding="expenses"></wj-flex-grid-column>
            <wj-flex-grid-column binding="checked"></wj-flex-grid-column>
      </wj-flex-grid>
    </div>
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {
            var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(','),
                data = [];
            for (var i = 0; i < 10; i++) {
                data.push({
                    id: i,
                    name: countries[i % countries.length],
                    date: new Date(2015, i % 12, i % 25 + 1),
                    time: new Date(2015, i % 12, i % 25 + 1, i % 24, i % 60, i % 60),
                    country: countries[i % countries.length],
                    downloads: i * 10000 - 5000,
                    sales: i * 1000 - 500,
                    expenses: i * 15000 - 5000,
                    checked: i % 9 == 0
                });
            }
            var view = new wijmo.CollectionView(data);
            view.groupDescriptions.push(new wijmo.PropertyGroupDescription('name'));
            view.groupDescriptions.push(new wijmo.PropertyGroupDescription('checked'));
            view.filter = function (item) {
                var f = $scope.filter;
                if (f && item) {
                    f = f.toLowerCase();
                    for (var k in item) {
                        if (wijmo.isString(item[k]) && item[k].toLowerCase().indexOf(f) > -1) {
                            return true;
                        }
                    }
                    return false;
                }
                return true;
            }
            $scope.data = view;
            $scope.$watch('filter', function () {
                view.refresh();
            });
        });
    </script>
    <pre> 
    <b>Repro Steps:</b>    
    1. Open the following fiddle in browser: http://jsfiddle.net/as3sdbvy/2/
    2. Click on the expand/collapse icon of the first level grouping for “name”
    Observe: It will expand/collapse - Correct
    3. Click on the expand/collapse icon of the second-level grouping for “checked”.
    Observe: It will not expand/collapse - Incorrect
    </pre>
</body>
</html>
