﻿<!DOCTYPE html>
<html>
<head>
    <title></title>   
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css"/>
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link rel="stylesheet" type="text/css" href="../styles/vendor/wijmo.min.css"/>
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            // create some random data
            var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(','),
            data = [];
            for (var i = 0; i < 5; i++) {
                data.push({
                    id: i,
                    name: countries[i % countries.length],
                    date: new Date(2015, i % 12, i % 25 + 1),
                    time: new Date(2015, i % 12, i % 25 + 1, i % 24, i % 60, i % 60),
                    country: countries[i % countries.length],
                    countryMapped: i % countries.length,
                    downloads: (i * 2.1456) + 1,
                    sales: i * 2,
                    expenses: (i * 2.1456) + 500,
                    active: i % 4 == 0
                });
            }

            // expose countries, country map
            $scope.countries = countries;
            var countryMap = [
                { name: 'US', key: 0 },
                { name: 'Germany', key: 1 },
                { name: 'Japan', key: 2 },
                { name: 'Italy', key: 3 },
                { name: 'Greece', key: 4 },
                { name: 'Spain', key: 5 },
                { name: 'Chile', key: 6 },
                { name: 'China', key: 7 },
                { name: 'Canada', key: 8 },
                { name: 'Astralia', key: 9 },
                { name: 'Austria', key: 10 }
            ];

            $scope.countryMap = new wijmo.grid.DataMap(new wijmo.CollectionView(countryMap), 'key', 'name');

            // expose data
            var view = new wijmo.CollectionView(data);
            view.groupDescriptions.push(new wijmo.PropertyGroupDescription('countryMapped'));
            $scope.data = view;

            $scope.cols_clear = function () {
                var flex = $scope.flex;
                flex.columns.clear();
            };

        });
    </script>
    <style type="text/css">
    body
    {
        margin:50px;
        }
        
    </style>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre><b>Test Case 125397:[FlexGrid] To test clearing grouped column from group panel after cleared columns using 'clear' method of 'Columns' collection</b></pre>

    <wj-group-panel grid="flex"
		    placeholder="Drag and drop columns here to create Groups"
		    max-groups="4"
		    hide-grouped-columns="false">
	</wj-group-panel>
	<wj-flex-grid class="grid"
            id="flexgrid"
	        control="flex"
	        items-source="data">
		<wj-flex-grid-column header="ID" binding="id"></wj-flex-grid-column>
		<wj-flex-grid-column header="Date" binding="date" format='MMM/dd/yyyy'></wj-flex-grid-column>
		<wj-flex-grid-column header="Time" binding="time" format="t"></wj-flex-grid-column>
		<wj-flex-grid-column header="Country" binding="country"></wj-flex-grid-column>
		<wj-flex-grid-column header="CountryID" binding="countryMapped" data-map="countryMap"></wj-flex-grid-column>
		<wj-flex-grid-column header="Downloads" binding="downloads"></wj-flex-grid-column>
		<wj-flex-grid-column header="Sales" binding="sales"></wj-flex-grid-column>
		<wj-flex-grid-column header="Expenses" binding="expenses"></wj-flex-grid-column>
		<wj-flex-grid-column header="Active" binding="active"></wj-flex-grid-column>
    </wj-flex-grid>
    <br />
    <button id="btnclear" class="btn btn-default" ng-click="cols_clear()">
		clear cols
	</button>

</body>
</html>
