﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
     <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/angular.js" type="text/javascript"></script>
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <link href="../styles/ngDialog-theme-default.min.css" rel="stylesheet" type="text/css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<!-- Wijmo-Angular interop -->
    
    <script src="../scripts/jQueryAngularBootstrap/ngDialog.js" type="text/javascript"></script>
</head>
<body ng-app="app">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre><b>Test Case 133336:[FlexGrid] To test whether FlexGrid renders and works properly when the FlexGrid is placed inside 'ngDialog'</b></pre>

    <div ng-controller="appCtrl">
        
        <button id="btnOpenNgDialog" ng-click="clickToOpen()">
            Open ngDialog
        </button>
    </div>
    <script type="text/javascript">
        var app = angular.module('app', ['wj', 'ngDialog']);

        app.controller('appCtrl', function ($scope, ngDialog) {

            var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(','),
                data = [];
            for (var i = 0; i < 5; i++) {
                data.push({
                    id: i,
                    country: countries[i % countries.length],
                    date: new Date(2018, i % 12, i % 28),
                    amount: (i + 1) * 123,
                    active: i % 4 == 0
                });
            }

            $scope.data = data;

            $scope.clickToOpen = function () {
                ngDialog.open({ template: 'XXX' });
                //  $scope.flex.refresh();
            };

            $scope.init = function (s, e) {
                setTimeout(s.refresh(), 20);
            }
        });

    </script>
    <script type="text/ng-template" id="XXX">
        <div ng-controller="appCtrl">
            <h4>Using ng-dialog</h4>
            <wj-flex-grid initialized="init(s,e)" items-source="data" selection-mode="CellRange" id="flexGrid"></wj-flex-grid>
        </div>
    </script>
    
</body>
</html>
