﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/basicCtrl.js" type="text/javascript"></script>
    <script src="../scripts/services/dataSvc.js" type="text/javascript"></script>
</head>
<body ng-app="app" ng-controller="appCtrl">
	
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div class="row-fluid">
		<wj-flex-grid id="flexGrid"
			items-source="ctx.data"
			style="width: 800px; height:350px;">
			<wj-flex-grid-column header="Country" binding="country" width="*" is-read-only="false">
				<img ng-src="../resources/{{$item.country}}.png" />
				{{$item.country}}
			</wj-flex-grid-column>
			<wj-flex-grid-column header="Date" binding="start"></wj-flex-grid-column>
			<wj-flex-grid-column header="Revenue" binding="amount" format="n0"></wj-flex-grid-column>
			<wj-flex-grid-column header="Active" binding="active"></wj-flex-grid-column>
		</wj-flex-grid>
    </div>
    <p>
        1. Run attached sample. <br />
        2. Select a cell (example: Japan) in 'Country' column and enter edit mode.<br />
        3. Edit cell value (example: US) and press Enter. <br />
        [Expected]<br />
        Custom cell can be edited correctly and corresponding flag for edited value should be changed.
    </p>	
</body>
</html>
