﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    

    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(','),
                    data = [];
            for (var i = 0; i < 10; i++) {
                data.push({
                    id: i,
                    country: countries[i % countries.length],
                    countryMapped: i % countries.length,
                    date: new Date(2017, i % 12, i % 28),
                    amount: (i + 1) * 123,
                    active: i % 4 == 0
                });
            }

            $scope.data = new wijmo.CollectionView(data);

            $scope.countries = countries;
            var countryMap = [
                { name: 'US', key: 0 },
                { name: 'Germany', key: 1 },
                { name: 'UK', key: 2 },
                { name: 'Japan', key: 3 },
                { name: 'Italy', key: 4 },
                { name: 'Greece', key: 5 }
            ];
            $scope.countryMap = new wijmo.grid.DataMap(new wijmo.CollectionView(countryMap), 'key', 'name');

            $scope.set_CellData = function (freeze) {
                var flex = $scope.flexGrid;
                if (flex) {
                    flex.setCellData(1, 0, 10);
                    flex.setCellData(1, 1, "US");
                    flex.setCellData(1, 2, "US");
                    flex.setCellData(1, 3, new Date(2018,1,1));
                    flex.setCellData(1, 4, 1234.56);
                    flex.setCellData(1, 5, true);
                }
            }
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre><b>Test Case 123640:[FlexGrid] To test whether setting the cell value is working properly using 'SetCellData' method</b></pre>
    
    <button id="btnSetCellData" class="btn btn-default" ng-click="set_CellData()">
		setCellData
	</button>
    <br />
    <wj-flex-grid control="flexGrid" items-source="data" style="width:800px;">
        <wj-flex-grid-column header="id" binding="id" is-read-only="true"></wj-flex-grid-column>
        <wj-flex-grid-column header="country" binding="country"></wj-flex-grid-column>
        <wj-flex-grid-column header="countryMapped" binding="countryMapped" data-map="countryMap"></wj-flex-grid-column>
        <wj-flex-grid-column header="date" binding="date"></wj-flex-grid-column>
        <wj-flex-grid-column header="amount" binding="amount" format="c"></wj-flex-grid-column>
        <wj-flex-grid-column header="active" binding="active"></wj-flex-grid-column>
	</wj-flex-grid>
</body>
</html>
