﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/flexGrid_appCtrl.js" type="text/javascript"></script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><button id="btnRemove" class="btn btn-default" ng-click="rows_removeAt()">
		removeAt(0)
	</button>
	<button id="btnClear" class="btn btn-default" ng-click="rows_clear()">
		clear rows
	</button>
    <br />
    <br />
    <wj-flex-grid class="grid" 
        id="flexGrid"
        allow-add-new="True"
        allow-delete="True"
        control="ctx.flex" 
        items-source="data2">
        <wj-flex-grid-column header="id" binding="id"></wj-flex-grid-column>
        <wj-flex-grid-column header="date" binding="date" format="d"></wj-flex-grid-column>	       
        <wj-flex-grid-column header="country" binding="country"></wj-flex-grid-column>			
		<wj-flex-grid-column header="product" binding="product"></wj-flex-grid-column>
		<wj-flex-grid-column header="color" binding="color"></wj-flex-grid-column>	      
        <wj-flex-grid-column header="amount" binding="amount" format="n2" ></wj-flex-grid-column>
		<wj-flex-grid-column header="active" binding="active" data-type="Boolean" align="center"></wj-flex-grid-column>  
    </wj-flex-grid>
    <br />
    <p>
        1. Browse attached sample.<br />
        2. Click 'removeAt(row0)' button. <br />
        [Expected] First row (index=0) will be removed from the FlexGrid.   <br />
        4. Click 'clear rows' button. <br />
        [Expected] All rows will be removed from the FlexGrid. 
    </p>
</body>
</html>
