﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css">
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    
    
    <link href="../styles/flexgrid.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(','),
                    data = [];
            for (var i = 0; i < 10; i++) {
                data.push({
                    id: i,
                    country: countries[i % countries.length],
                    countryMapped: i % countries.length,
                    start: new Date(2018, i % 12, i % 28),
                    end: new Date(2018, i % 12, 25),
                    amount: (i + 1) * 123.45,
                    amount2: (i+1) * 100.05,
                    discount: i / (i + 4),
                    active: i % 4 == 0
                });
            }

            $scope.data = new wijmo.CollectionView(data);

            $scope.$watch('flexGrid', function () {
                if ($scope.flexGrid) {
                    var flex = $scope.flexGrid;
                    flex.columns[2].format = 'd/M/yy';
                    flex.columns[3].format = 'yyyy.M.d';
                    flex.columns[4].format = 'c';
                    flex.columns[5].format = 'c2';
                    flex.columns[6].format = 'p';
                }
            });

            $scope.col_format = function () {
                var flex = $scope.flexGrid;
                flex.columns[2].format = 'MMM yyyy';
                flex.columns[3].format = 'MMM d, yy';
                flex.columns[4].format = 'c0';
                flex.columns[5].format = 'n';
                flex.columns[6].format = 'p0';
            };
        });
    </script>
</head>
<body>
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre><b>Test Case 109411:[FlexGrid] To test filtering in all column types when 'Format' property is set with non-default formats in Column</b></pre>
    <div ng-app="app" ng-controller="appCtrl">
        <button id="btnFormat" class="btn btn-default" ng-click="col_format()">
            Format
        </button>
        <br />
        <wj-flex-grid control="flexGrid" items-source="data">
            <wj-flex-grid-filter></wj-flex-grid-filter>
            <wj-flex-grid-column header="id" binding="id"></wj-flex-grid-column>
		    <wj-flex-grid-column header="country" binding="country"></wj-flex-grid-column>
		    <wj-flex-grid-column header="start" binding="start"></wj-flex-grid-column>
            <wj-flex-grid-column header="end" binding="end"></wj-flex-grid-column>       
            <wj-flex-grid-column header="amount" binding="amount"></wj-flex-grid-column>
            <wj-flex-grid-column header="amount2" binding="amount2"></wj-flex-grid-column>
            <wj-flex-grid-column header="discount" binding="discount"></wj-flex-grid-column>
		    <wj-flex-grid-column header="active" binding="active" data-type="Boolean" align="center"></wj-flex-grid-column>
        </wj-flex-grid>
    </div>
</body>
</html>
