﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css">
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/113182_appCtrl.js" type="text/javascript"></script>
    <script src="../scripts/directives/appDctv.js" type="text/javascript"></script>
    <link href="../styles/app.css" rel="stylesheet">
    <link href="../styles/flexgrid.css" rel="stylesheet" type="text/css">
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><h1>
        Hello Wijmo 5 and AngularJS!</h1>
    <p>
        This is a <b>FlexGrid</b> control:</p>
    <button ng-click="toggle()" id="btnToggle">
        Toggle</button>
    <div id="div1" ng-hide="hidden" style="width: 600px;">
        <wj-flex-grid id="flexgrid" items-source="data" selection-mode="Row" style="height: 100px;">
            <wj-flex-grid-column header="Country" binding="country"></wj-flex-grid-column>
            <wj-flex-grid-column header="Sales" binding="sales"></wj-flex-grid-column>
            <wj-flex-grid-column header="Expenses" binding="expenses"></wj-flex-grid-column>
            <wj-flex-grid-column header="Downloads" binding="downloads"></wj-flex-grid-column>
        </wj-flex-grid>
    </div>
    <p>
        And this is a <b>FlexChart</b> control showing the same data:</p>
    <wj-flex-chart style="height: 300px" items-source="data" binding-x="country" selection-mode="Point">
        <wj-flex-chart-axis wj-property="axisY" major-unit="5000"></wj-flex-chart-axis>
        <wj-flex-chart-series binding="sales" name="Sales"></wj-flex-chart-series>
        <wj-flex-chart-series binding="expenses" name="Expenses"></wj-flex-chart-series>
        <wj-flex-chart-series binding="downloads" name="Downloads" chart-type="LineSymbols"></wj-flex-chart-series>
        <wj-flex-chart-legend position="Bottom"></wj-flex-chart-legend>
    </wj-flex-chart>
    <div>
        <br />
        <br />
        1. Run the sample.
        <br />
        2.Scroll the FlexGrid and click "Toogle" button to hide the FlexGrid
        <br />
        [Observe]
        <br />
        FlexGrid should be hidden.
        <br />
        3.Click "Toogle" button to display the flexgrid.
        <br />
        4.FlexGrid should be display correctly with data
        <br />
    </div>
</body>
</html>
