﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/flexGrid_appCtrl.js" type="text/javascript"></script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p><b>Test Case 146953:[FlexGrid] To test whether columns can be sorted/moved/resized/filtered in sticky mode when setting 'stickyHeaders' to true</b></p>
    <br />
    <wj-flex-grid id="flexGrid"
        control="ctx.flex"
        items-source="data"
        headers-visibility="All">
        <wj-flex-grid-filter></wj-flex-grid-filter>
        <wj-flex-grid-column header="id" binding="id"></wj-flex-grid-column>
        <wj-flex-grid-column header="date" binding="date" format="d"></wj-flex-grid-column>	       
        <wj-flex-grid-column header="country" binding="country" data-map="countryMap"></wj-flex-grid-column>			
		<wj-flex-grid-column header="product" binding="product"></wj-flex-grid-column>
		<wj-flex-grid-column header="color" binding="color"></wj-flex-grid-column>	      
        <wj-flex-grid-column header="amount" binding="amount" format="n2" ></wj-flex-grid-column>
		<wj-flex-grid-column header="active" binding="active" data-type="Boolean" align="center"></wj-flex-grid-column>  
    </wj-flex-grid>
    <br />
    <div>
        <label>
            <input id="chkStickyHeaders" type="checkbox" ng-model="ctx.flex.stickyHeaders"/>
            stickyHeaders
        </label>
	</div>
    <input type="textbox" id="txtbox1"/>
    <p>
        Some dummy text to make the page scrollable...
    </p>
    <p ng-repeat="i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    <p>
    <input type="textbox"/>
</body>
</html>
