﻿<!DOCTYPE html>
<html>
<head>
    <title></title>   
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css"/>
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link rel="stylesheet" type="text/css" href="../styles/vendor/wijmo.min.css"/>
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {
            
            // expose some data
            $scope.countries = 'US,Germany,UK,Japan'.split(',');           
            $scope.view = new wijmo.CollectionView(getData(1));

           // data context
            $scope.ctx = {
                flex: null
            };
            
            // toggle frozen rows/columns
            $scope.toggleFreeze = function () {
                var flex = $scope.ctx.flex;
                if (flex) {
                    var frozenCount = flex.frozenRows == 0 ? 2 : 0;
                    flex.frozenRows = frozenCount;
                    flex.frozenColumns = frozenCount;
                }
            }        

            // some random data
            function getData(count) {
                var data = [],
                    countries = $scope.countries,
                    products = $scope.products,
                    colors = $scope.colors,
                    dt = new Date(2010,2,19);
                for (var i = 0; i < 7; i++) {
                    data.push({
                        id: i,                        
                        country: countries[i% countries.length],                       
                        amount: (i % 2 == 0 ) ? 2.5 : 5.2,
                        discount: (i % 3 == 0 ) ? 0.03 : 0.25,
                        active: i % 4 == 0,
                    });
                }
                return data;
            }
           
        });
    </script>
    <style type="text/css">    
        /* frozen cells and frozen boundaries */
        .wj-flexgrid .wj-cell.wj-frozen:not(.wj-header):not(.wj-group):not(.wj-state-selected):not(.wj-state-multi-selected) {
            background-color: #f8ffd6;
        }
        .wj-flexgrid .wj-cell.wj-frozen-row {
            border-bottom: 1px solid blue;
        }
        .wj-flexgrid .wj-cell.wj-frozen-col {
            border-right: 2px solid red;
        }
    </style>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre><b>Test Case 101420:[FlexGrid] To test whether row/column are frozen or unfrozen correctly when 'frozenRows/frozenColumns' properties are set</b></pre>
    <wj-menu value="ctx.flex.frozenColumns" header="FrozenColumns">
        <wj-menu-item value="0">0</wj-menu-item>
        <wj-menu-item value="1">1</wj-menu-item>
        <wj-menu-item value="2">2</wj-menu-item>	
		<wj-menu-item value="3">3</wj-menu-item>
		<wj-menu-item value="4">4</wj-menu-item>
	</wj-menu>
    <wj-menu value="ctx.flex.frozenRows" header="FrozenRows">
		<wj-menu-item value="0">0</wj-menu-item>
		<wj-menu-item value="1">1</wj-menu-item>
		<wj-menu-item value="2">2</wj-menu-item>
        <wj-menu-item value="3">3</wj-menu-item>
		<wj-menu-item value="4">4</wj-menu-item>	
	</wj-menu>
    <button id="btnfreeze" ng-click="toggleFreeze()">Toggle Freeze</button>
    <br /><br />
    <wj-flex-grid control="ctx.flex"
                  items-source="view"
                  allow-merging="All"
                  id="flexgrid"
                  frozen-rows="1"
                  frozen-columns="1">
        <wj-flex-grid-column binding="id" header="ID"></wj-flex-grid-column>
        <wj-flex-grid-column binding="country" header="Country" data-map="countries" allow-merging="true"></wj-flex-grid-column>        
        <wj-flex-grid-column binding="amount" header="Amount" format="n2" allow-merging="true"></wj-flex-grid-column>
        <wj-flex-grid-column binding="discount" header="Discount" format="p0" allow-merging="true"></wj-flex-grid-column>
        <wj-flex-grid-column binding="active" header="Active" allow-merging="true"></wj-flex-grid-column>
    </wj-flex-grid>    
</body>
</html>
