﻿<!DOCTYPE html>
<html>
<head>
    <title></title>   
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css"/>
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link rel="stylesheet" type="text/css" href="../styles/vendor/wijmo.min.css"/>
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(','),
            data = [];
            for (var i = 0; i < 5; i++) {
                data.push({
                    id: i,
                    name: countries[i % countries.length],
                    date: new Date(2015, i % 12, i % 25 + 1),
                    time: new Date(2015, i % 12, i % 25 + 1, i % 24, i % 60, i % 60),
                    country: countries[i % countries.length],
                    downloads: (i * 2.16) + 1,
                    sales: i * 2,
                    expenses: (i * 2.16) + 500,
                    active: i % 4 == 0
                });
            }           

            var view = new wijmo.CollectionView(data);
            view.groupDescriptions.push(new wijmo.PropertyGroupDescription('date'));
            view.groupDescriptions.push(new wijmo.PropertyGroupDescription('downloads'));            
            $scope.data = view;

            $scope.flexGroupCollapsedChanged = function (sender, args) {
                var value = "GroupCollapsedChanged event fired";
                $("#EventList").append('<li>' + value + '</li>');               
            }

            $scope.flexGroupCollapsedChanging = function (sender, args) {
                var value = "GroupCollapsedChanging event fired";
                $("#EventList").append('<li>' + value + '</li>');
            }

            $scope.flexSortedColumn = function (sender, args) {
                var value = "SortedColumn event fired";
                $("#EventList").append('<li>' + value + '</li>');
            }

            $scope.flexSortingColumn = function (sender, args) {
                var value = "SortingColumn event fired";
                $("#EventList").append('<li>' + value + '</li>');
            }

            $scope.Clear = function () {
                $("#EventList").empty();
            };

        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre><b>Test Case 109947:[FlexGrid] To test 'draggedColumn, draggingColumn, groupCollapsedChanging, groupCollapsedChanged, sortedColumn and sortingColumn’ events in GroupPanel</b></pre>
    <br />
    <div>
        <wj-group-panel
            grid="flex">
        </wj-group-panel>
        <wj-flex-grid id="flexgrid"
            control="flex"
            items-source="data"            
            group-collapsed-changing="flexGroupCollapsedChanging()" group-collapsed-changed="flexGroupCollapsedChanged()" 
		    sorted-column="flexSortedColumn()" sorting-column="flexSortingColumn()">            
            <wj-flex-grid-column binding="id"></wj-flex-grid-column>
            <wj-flex-grid-column binding="name"></wj-flex-grid-column>
            <wj-flex-grid-column binding="date"></wj-flex-grid-column>
            <wj-flex-grid-column binding="country"></wj-flex-grid-column>
            <wj-flex-grid-column binding="downloads"></wj-flex-grid-column>
            <wj-flex-grid-column binding="sales"></wj-flex-grid-column>
            <wj-flex-grid-column binding="expenses"></wj-flex-grid-column>
            <wj-flex-grid-column binding="active"></wj-flex-grid-column>
        </wj-flex-grid>
    </div>
    <div>
        <div id="EventList"></div>
		<button id="btnClear" ng-click="Clear()">
            Clear List
        </button>
	</div>
</body>
</html>
