﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css"/>
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link rel="stylesheet" type="text/css" href="../styles/vendor/wijmo.min.css"/>

    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(','),
                products = 'Widget,Gadget,Doohickey'.split(','),
                colors = 'Black,White,Red,Green,Blue'.split(','),
                data = [];
            for (var i = 0; i < 100; i++) {
                data.push({
                    id: i,
                    country: countries[i % countries.length],
                    product: products[i % products.length],
                    color: colors[i % colors.length],
                    countryMapped: i % countries.length,
                    date: new Date(2017, i % 12, i % 28),
                    amount: Math.random() * 10000,
                    discount: Math.random() / 4,
                    active: i % 4 == 0
                });
            }

            $scope.data = new wijmo.CollectionView(data);

            $scope.countries = countries;
            var countryMap = [
                { name: 'US', key: 0 },
                { name: 'Germany', key: 1 },
                { name: 'UK', key: 2 },
                { name: 'Japan', key: 3 },
                { name: 'Italy', key: 4 },
                { name: 'Greece', key: 5 }
            ];
            $scope.countryMap = new wijmo.grid.DataMap(new wijmo.CollectionView(countryMap), 'key', 'name');

            $scope.$watch('flexGrid', function () {
                if ($scope.flexGrid) {
                    var flex = $scope.flexGrid;
                    flex.scrollPosition = new wijmo.Point(-150, -300);
                }
            });

            $scope.set_ScrollPosition = function () {
                var flex = $scope.flexGrid;
                flex.scrollPosition = new wijmo.Point(-300, -600);
            };

            $scope.flexScrollPositionChanged = function (sender, args) {
                var value = "scrollPositionChanged";
                $("#event").append('<li>' + value + '</li>');
            }
        });       
    </script>
</head>
<body>

        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div ng-app="app" ng-controller="appCtrl">
    <pre><b>Test Case 146884:[FlexGrid] To test whether ‘scrollPosition’ property (get, set) is working correctly</b></pre>

    <wj-flex-grid id="flexGrid"
        control="flexGrid" 
        items-source="data"
        scroll-position-changed="flexScrollPositionChanged()"
        style="height:300px;width:700px;">
        <wj-flex-grid-column header="id" binding="id"></wj-flex-grid-column>
        <wj-flex-grid-column header="country" binding="country"></wj-flex-grid-column>
        <wj-flex-grid-column header="product" binding="product"></wj-flex-grid-column>
        <wj-flex-grid-column header="color" binding="color"></wj-flex-grid-column>
        <wj-flex-grid-column header="countryId" binding="countryMapped" data-map="countryMap"></wj-flex-grid-column>
        <wj-flex-grid-column header="date" binding="date"></wj-flex-grid-column>
        <wj-flex-grid-column header="amount" binding="amount"></wj-flex-grid-column>
        <wj-flex-grid-column header="discount" binding="discount" format="p0"></wj-flex-grid-column>
        <wj-flex-grid-column header="active" binding="active"></wj-flex-grid-column>
    </wj-flex-grid>
    <br />
    <button id="btnScrollPosition" class="btn btn-default" ng-click="set_ScrollPosition()">
		set scrollPosition
	</button>
    <!-- current selection -->
    <p>Selection: <b>{{flexGrid.selection.row}}</b> | ScrollPosition:x: <b>{{flexGrid.scrollPosition.x}}</b>,y: <b>{{flexGrid.scrollPosition.y}}</b></p>
    <ul id="event"></ul>
</div>
</body>
</html>
