﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script> 
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script> 
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/flexGrid_appCtrl.js" type="text/javascript"></script>
    <link href="../styles/flexgrid.css" rel="stylesheet" type="text/css" />
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>
        <b>Test Case 250271:[FlexGrid] To test whether minimum/maximum size of the columns can be set correctly using 'maxSize' and 'minSize' properties of ColumnCollection</b>
    </p>
    <div ng-app="app" ng-controller="appCtrl">
        <wj-flex-grid id="flexGrid" control="ctx.flexGrid" initialized="initGrid(s,e)" items-source="data" style="height: 350px; width: 1000px;">
            <wj-flex-grid-column header="id" binding="id"></wj-flex-grid-column>
            <wj-flex-grid-column header="country" binding="country"></wj-flex-grid-column>
            <wj-flex-grid-column header="date" binding="date"></wj-flex-grid-column>
            <wj-flex-grid-column header="amount" binding="amount"></wj-flex-grid-column>
            <wj-flex-grid-column header="active" binding="active"></wj-flex-grid-column>
        </wj-flex-grid>
        <br />
        <button id="btnSetWidth1" class="btn btn-default" ng-click="setColWidth1()">width=10</button>
        <button id="btnSetWidth2" class="btn btn-default" ng-click="setColWidth2()">width=300</button>
    </div>
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {
            function getData(count) {
                var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(','),
                data = new wijmo.ObservableArray();
                for (var i = 0; i < count; i++) {
                    data.push({
                        id: i,
                        country: countries[i % countries.length],
                        date: new Date(2017, i % 12, i % 28),
                        amount: i * 1234.56789,
                        active: i % 4 == 0
                    });
                }
                return data;
            }
            $scope.data = new wijmo.CollectionView(getData(10));

            $scope.initGrid = function (s, e) {
                setTimeout(function () {
                    var grid = $scope.ctx.flexGrid;
                    grid.columns.minSize = 50;
                    grid.columns.maxSize = 200;
                }, 100);
            }

            $scope.setColWidth1 = function () {
                var grid = $scope.ctx.flexGrid;
                var sel = grid.selection;
                var col = sel.col;
                grid.columns[col].width = 10;
            };

            $scope.setColWidth2 = function () {
                var grid = $scope.ctx.flexGrid;
                var sel = grid.selection;
                var col = sel.col;
                grid.columns[col].width = 300;
            };
        });
    </script>
</body>
</html>
