﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
      <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(','),
                    data = [];
            for (var i = 0; i < 10; i++) {
                data.push({
                    id: i,
                    country: countries[i % countries.length],
                    countryMapped: i % countries.length,
                    date: new Date(2017, i % 12, i % 28),
                    amount: Math.random() * 10000,
                    active: i % 4 == 0
                });
            }

            $scope.data = new wijmo.CollectionView(data);

            $scope.countries = countries;
            var countryMap = [
                { name: 'US', key: 0 },
                { name: 'Germany', key: 1 },
                { name: 'UK', key: 2 },
                { name: 'Japan', key: 3 },
                { name: 'Italy', key: 4 },
                { name: 'Greece', key: 5 }
            ];
            $scope.countryMap = new wijmo.grid.DataMap(new wijmo.CollectionView(countryMap), 'key', 'name');

            $scope.date = new Date(2018,0,1);
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre><b>Test Case 272160:[FlexGrid] To test whether Input controls used as 'ColumnHeader' template in the grid is working correctly or not</b></pre>

	<wj-flex-grid id="flexGrid" control="flexGrid" items-source="data" style="height: auto; width: 1000px;">
        <wj-flex-grid-column header="Id" binding="id"></wj-flex-grid-column>
        <wj-flex-grid-column header="Country" binding="countryMapped" data-map="countryMap" width="180">
            <wj-flex-grid-cell-template cell-type="ColumnHeader">
                {{$col.header}}:
                <wj-combo-box id="edtCountry" 
                    items-source="['US', 'Germany', 'UK', 'Japan', 'Italy']" 
                    style="width:100px;font-weight:400" 
                    is-editable="false">
                </wj-combo-box>
            </wj-flex-grid-cell-template>
        </wj-flex-grid-column>
        <wj-flex-grid-column header="Date" binding="date" width="200">
            <wj-flex-grid-cell-template cell-type="ColumnHeader">
                {{$col.header}}:
                <wj-input-date id="edtDate" format="d" value="date" style="width:140px;" ></wj-input-date>
            </wj-flex-grid-cell-template>
        </wj-flex-grid-column>
        <wj-flex-grid-column header="Amount" binding="amount" width="210">
            <wj-flex-grid-cell-template cell-type="ColumnHeader">
                {{$col.header}}:
                <wj-input-number id="edtAmount" format="n2" step="10" style="width:140px;"></wj-input-number>
            </wj-flex-grid-cell-template>
        </wj-flex-grid-column>
        <wj-flex-grid-column header="Active" binding="active"></wj-flex-grid-column>
    </wj-flex-grid>
</body>
</html>
