﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script> 
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script> 
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {
            function getData(count) {
                var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(','),
                data = new wijmo.ObservableArray();
                for (var i = 0; i < count; i++) {
                    data.push({
                        id: i,
                        country: countries[i % countries.length],
                        date: new Date(2017, i % 12, i % 28),
                        amount: i * 1234.56789,
                        active: i % 4 == 0
                    });
                }
                return data;
            }
            $scope.data = new wijmo.CollectionView(getData(10));

            $scope.getCellData1 = function () {
                var flex = $scope.ctx.flexGrid;
                var sel = flex.selection;
                var col = sel.col;
                var row = sel.row;
                $("#TextArea1").append(flex.getCellData(row, col, true) + "\n");
            };

            $scope.getCellData2 = function () {
                var flex = $scope.ctx.flexGrid;
                var sel = flex.selection;
                var col = sel.col;
                var row = sel.row;
                $("#TextArea1").append(flex.getCellData(row, col, false) + "\n");
            };
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>
        <b>Test Case 251727:[FlexGrid] To test whether the value stored in a cell returns correctly or not using 'getCellData' method</b>
    </p>
    <div ng-app="app" ng-controller="appCtrl">
        <wj-flex-grid id="flexGrid" control="ctx.flexGrid" items-source="data" style="height: 350px; width: 1000px;">
            <wj-flex-grid-column header="id" binding="id"></wj-flex-grid-column>
            <wj-flex-grid-column header="country" binding="country"></wj-flex-grid-column>
            <wj-flex-grid-column header="date" binding="date" format="yyyy/M/d"></wj-flex-grid-column>
            <wj-flex-grid-column header="amount" binding="amount" format="c2"></wj-flex-grid-column>
            <wj-flex-grid-column header="active" binding="active"></wj-flex-grid-column>
        </wj-flex-grid>
        <br />
        <textarea id="TextArea1" style="height: 120px;"></textarea><br />
        <button id="btnGetCellData1" class="btn btn-default" ng-click="getCellData1()">getCellData(true)</button>
        <button id="btnGetCellData2" class="btn btn-default" ng-click="getCellData2()">getCellData(false)</button>
    </div>    
</body>
</html>
