﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/flexGrid_appCtrl.js" type="text/javascript"></script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre><b>Test Case 275272:[FlexGrid] To test whether the grid can be correctly filtered by condition and existing/non-existing values in the column</b></pre>
    <wj-flex-grid control="flexGrid"  
        style="height: 300px" 
        items-source="data">
        <wj-flex-grid-filter></wj-flex-grid-filter>
        <wj-flex-grid-column header="ID" binding="id"></wj-flex-grid-column>
        <wj-flex-grid-column header="Date" binding="date" format='d'></wj-flex-grid-column>
        <wj-flex-grid-column header="Time" binding="time" format="t"></wj-flex-grid-column>
        <wj-flex-grid-column header="Country" binding="country"></wj-flex-grid-column>
        <wj-flex-grid-column header="Country ID" binding="countryId" data-map="countryMap"></wj-flex-grid-column>
        <wj-flex-grid-column header="Amount" binding="amount" format="n0" ></wj-flex-grid-column>
        <wj-flex-grid-column header="Discount" binding="discount" format="p0" ></wj-flex-grid-column>
		<wj-flex-grid-column header="Active" binding="active" data-type="Boolean" align="center"></wj-flex-grid-column>
    </wj-flex-grid>
    <p>
        Now showing {{ flexGrid.collectionView.items.length | number:0}} items.</p>
</body>
</html>
