﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script> 
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script> 
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/flexGrid_appCtrl.js" type="text/javascript"></script>
    <script>
        wijmo.setlicense(xsd)
    </script>
    {{scriptlicense}}
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre>
        <b>Test Case 204828:[FlexGrid] To test whether column footers can show the group row with summary data properly by setting 'aggregate' property</b>
    </pre>

    <wj-menu id="mnuAggregateDate" value="flexGrid.columns[2].aggregate" header="aggregate-date">
        <wj-menu-item value="0">None</wj-menu-item>
        <wj-menu-item value="1">Sum</wj-menu-item>
        <wj-menu-item value="2">Cnt</wj-menu-item>
        <wj-menu-item value="3">Avg</wj-menu-item>       
        <wj-menu-item value="4">Max</wj-menu-item>
        <wj-menu-item value="5">Min</wj-menu-item>
        <wj-menu-item value="6">Rng</wj-menu-item>
        <wj-menu-item value="7">Std</wj-menu-item>
        <wj-menu-item value="8">Var</wj-menu-item>
        <wj-menu-item value="9">StdPop</wj-menu-item>
        <wj-menu-item value="10">VarPop</wj-menu-item>
        <wj-menu-item value="11">CntAll</wj-menu-item>
        <wj-menu-item value="12">First</wj-menu-item>
        <wj-menu-item value="13">Last</wj-menu-item>
    </wj-menu>
    <wj-menu id="mnuAggregateAmount" value="flexGrid.columns[3].aggregate" header="aggregate-amount">
        <wj-menu-item value="0">None</wj-menu-item>
        <wj-menu-item value="1">Sum</wj-menu-item>
        <wj-menu-item value="2">Cnt</wj-menu-item>
        <wj-menu-item value="3">Avg</wj-menu-item>       
        <wj-menu-item value="4">Max</wj-menu-item>
        <wj-menu-item value="5">Min</wj-menu-item>
        <wj-menu-item value="6">Rng</wj-menu-item>
        <wj-menu-item value="7">Std</wj-menu-item>
        <wj-menu-item value="8">Var</wj-menu-item>
        <wj-menu-item value="9">StdPop</wj-menu-item>
        <wj-menu-item value="10">VarPop</wj-menu-item>
        <wj-menu-item value="11">CntAll</wj-menu-item>
        <wj-menu-item value="12">First</wj-menu-item>
        <wj-menu-item value="13">Last</wj-menu-item>
    </wj-menu>
    <wj-menu id="mnuAggregateDisount" value="flexGrid.columns[4].aggregate" header="aggregate-discount">
        <wj-menu-item value="0">None</wj-menu-item>
        <wj-menu-item value="1">Sum</wj-menu-item>
        <wj-menu-item value="2">Cnt</wj-menu-item>
        <wj-menu-item value="3">Avg</wj-menu-item>       
        <wj-menu-item value="4">Max</wj-menu-item>
        <wj-menu-item value="5">Min</wj-menu-item>
        <wj-menu-item value="6">Rng</wj-menu-item>
        <wj-menu-item value="7">Std</wj-menu-item>
        <wj-menu-item value="8">Var</wj-menu-item>
        <wj-menu-item value="9">StdPop</wj-menu-item>
        <wj-menu-item value="10">VarPop</wj-menu-item>
        <wj-menu-item value="11">CntAll</wj-menu-item>
        <wj-menu-item value="12">First</wj-menu-item>
        <wj-menu-item value="13">Last</wj-menu-item>
    </wj-menu>
    <wj-menu id="mnuAggregateActive" value="flexGrid.columns[5].aggregate" header="aggregate-active">
        <wj-menu-item value="0">None</wj-menu-item>
        <wj-menu-item value="1">Sum</wj-menu-item>
        <wj-menu-item value="2">Cnt</wj-menu-item>
        <wj-menu-item value="3">Avg</wj-menu-item>       
        <wj-menu-item value="4">Max</wj-menu-item>
        <wj-menu-item value="5">Min</wj-menu-item>
        <wj-menu-item value="6">Rng</wj-menu-item>
        <wj-menu-item value="7">Std</wj-menu-item>
        <wj-menu-item value="8">Var</wj-menu-item>
        <wj-menu-item value="9">StdPop</wj-menu-item>
        <wj-menu-item value="10">VarPop</wj-menu-item>
        <wj-menu-item value="11">CntAll</wj-menu-item>
        <wj-menu-item value="12">First</wj-menu-item>
        <wj-menu-item value="13">Last</wj-menu-item>
    </wj-menu>
    <br /><br />
    <wj-flex-grid control="flexGrid"
        items-source="data"
        initialized="addFooterRow(s,e)" >
        <wj-flex-grid-column header="ID" binding="id" width="80" is-read-only="true"></wj-flex-grid-column>
        <wj-flex-grid-column header="Country" binding="country"></wj-flex-grid-column>
        <wj-flex-grid-column header="Date" binding="date"></wj-flex-grid-column>
        <wj-flex-grid-column header="Amount" binding="amount" format="n0"></wj-flex-grid-column>
        <wj-flex-grid-column header="Discount" binding="discount" format="p0"></wj-flex-grid-column>
        <wj-flex-grid-column header="Active" binding="active" data-type="Boolean"></wj-flex-grid-column>
    </wj-flex-grid>
</body>
</html>
