﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
     <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css"/>
     <!-- Wijmo -->
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope, $timeout) {
            var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(','),
                products = 'Widget,Gadget,Doohickey'.split(','),
                colors = 'Black,White,Red,Green,Blue'.split(','),
                data = [];
            for (var i = 0; i < 50; i++) {
                data.push({
                    id: i,
                    country: countries[i % countries.length],
                    product: products[i % products.length],
                    color: colors[i % colors.length],
                    countryMapped: i % countries.length,
                    date: new Date(2017, i % 12, i % 28),
                    amount: Math.random() * 10000,
                    discount: Math.random() / 4,
                    active: i % 4 == 0
                });
            }

            $scope.data = new wijmo.CollectionView(data);

            $scope.auto_SizeCols = function (sender, args) {
                $scope.flexGrid.autoSizeColumns();
            }
        });
    </script> 
</head>
<body> 
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre><b>Test Case 285651:[FlexGrid] To test whether 'autoSizeColumns' method is working correctly when columns have long header and filtering is enabled in grid</b></pre>

     <div ng-app="app" ng-controller="appCtrl">
        <button id="btnAutoSizeColumns" class="btn btn-primary" ng-click="auto_SizeCols()">Auto Size Colum</button>
        <br/><br/>

        <wj-flex-grid control="flexGrid" 
            items-source="data"
            scroll-position-changed="flexScrollPositionChanged()"
            style="height:350px;">
            <wj-flex-grid-filter></wj-flex-grid-filter>
            <wj-flex-grid-column header="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."  binding="country"></wj-flex-grid-column>
            <wj-flex-grid-column header="Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur." binding="product"></wj-flex-grid-column>
            <wj-flex-grid-column header="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut" binding="color"></wj-flex-grid-column>
            <wj-flex-grid-column header="labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco" binding="date"></wj-flex-grid-column>
            <wj-flex-grid-column header="laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in" binding="amount"></wj-flex-grid-column>
            <wj-flex-grid-column header="voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat" binding="discount" format="p0"></wj-flex-grid-column>
            <wj-flex-grid-column header="non proident, sunt in culpa qui officia deserunt mollit anim id est laborum" binding="active"></wj-flex-grid-column>
        </wj-flex-grid>
    </div>    
</body>
</html>
