﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/flexGrid_appCtrl.js" type="text/javascript"></script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre><b>Test Case 279334:[FlexGrid] To test whether custom cell templates apply correctly using 'ng-style' attribute when editing or adding rows</b></pre>

    <wj-flex-grid id="flexGrid"
                control="ctx.flex"
                items-source="data"
                is-read-only="false"
                allow-add-new="true"
                style="width: 800px; height: 430px;">
        <wj-flex-grid-column header="ID" binding="id" width="80"></wj-flex-grid-column>
        <wj-flex-grid-column header="Date" binding="date">
        </wj-flex-grid-column>
        <wj-flex-grid-column header="Product"
            binding="product"
            ng-style="{true: {color: 'darkred'}, false: {color: 'darkgreen'}}[$item.product == 'Gadget']">
            <span class="glyphicon glyphicon-{{ { 'Widget': 'leaf', 'Gadget':  'fire', 'Doohickey': 'magnet' }[$item.product] }}"></span>
            {{$item.product}}
        </wj-flex-grid-column>
        <wj-flex-grid-column header="Revenue" binding="amount" format="n0"></wj-flex-grid-column>
        <wj-flex-grid-column header="Discount"
            binding="discount"                 
            format="p0"
            ng-style="{true: {color: 'darkred'}, false: {color: 'darkgreen'}}[$item.discount > 0.5]">
        </wj-flex-grid-column>
    </wj-flex-grid>
</body>
</html>
