﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
</head>
<body>
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre>Test Case 222044:[FlexGrid] To test whether editing new row is committed or not when setting 'validateEdits' property and there is invalid values</pre>
    <div ng-app="app" ng-controller="appCtrl">
        <label>
            showErrors
            <input id="chkShowErrors" type="checkbox" ng-model="showErrors" />
        </label>
        <label>
            validateEdits
            <input id="chkValidateEdits" type="checkbox" ng-model="validateEdits" />
        </label>
        <br /><br />
        <wj-flex-grid id="flexGrid"
            control="flexGrid"
            items-source="data"
            allow-add-new="true"
			show-errors="{{showErrors}}"
            validate-edits="{{validateEdits}}"
            style="width: 1000px; height: 400px;">
            <wj-flex-grid-filter></wj-flex-grid-filter>
            <wj-flex-grid-column binding="customer.firstName" header="First"></wj-flex-grid-column>
            <wj-flex-grid-column binding="customer.lastName" header="Last"></wj-flex-grid-column>
            <wj-flex-grid-column binding="country" header="Country"></wj-flex-grid-column>
            <wj-flex-grid-column binding="downloads" header="Downloads" format="n0"></wj-flex-grid-column>
            <wj-flex-grid-column binding="sales" header="Sales" format="n2"></wj-flex-grid-column>
            <wj-flex-grid-column binding="expenses" header="Expenses" format="n2"></wj-flex-grid-column>
            <wj-flex-grid-column binding="active" header="Active"></wj-flex-grid-column> 
        </wj-flex-grid>
    </div>
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(',');
        app.controller('appCtrl', function ($scope) {
            $scope.showErrors = true;
            $scope.validateEdits = true;

            $scope.$watch('flexGrid', function () {
                var flexGrid = $scope.flexGrid;
                if (flexGrid) {
                    flexGrid.errorTip = null;
                }
            });

            var customers = [
                { id: 0, firstName: 'John', lastName: 'Lennon' },
                { id: 1, firstName: 'Paul', lastName: 'McCartney' },
                { id: 2, firstName: 'Ringo', lastName: 'Starr' },
                { id: 3, firstName: 'George', lastName: 'Harrison' },
            ]
            var data = [];
            for (var i = 0; i < 10 ; i++) {
                data.push({
                    customer: customers[i % customers.length],
                    country: countries[i % countries.length],
                    downloads: i * 5000 - 15000,
                    sales: i * 5000 - 10000,
                    expenses: i * 5000 - 20000,
                    active: i % 2 == 0
                });
            }
            $scope.data = new wijmo.CollectionView(data, {
                newItemCreator: function () {
                    return {
                        customer: customers[0],
                        country: countries[0],
                        downloads: 0,
                        sales: 0,
                        expenses: 0,
                        active: false
                    }
                },
                getError: function (item, property) {
                    switch (property) {
                        case 'country':
                            return countries.indexOf(item.country) < 0
                        ? 'Invalid Country'
                        : null;
                        case 'downloads':
                        case 'sales':
                        case 'expenses':
                            return item[property] < 1000
                        ? 'Cannot be less than 1,000!'
                        : null;
                        case 'active':
                            return item.active && item.country.match(/US|UK/)
                        ? 'Active items are not allowed in the US or UK!'
                        : null;
                        case 'customer.firstName':
                            return item.customer.firstName.match(/^(John|Paul|Ringo|George)$/)
                        ? null
                        : 'That\'s not a Beatle!!';
                        case 'customer.lastName':
                            return item.customer.lastName.match(/^(Lennon|McCartney|Starr|Harrison)$/)
                        ? null
                        : 'That\'s not a Beatle!!';
                    }
                    return null;
                }
            });
        });
    </script>
</body>
</html>
