﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css"/>
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link rel="stylesheet" type="text/css" href="../styles/vendor/wijmo.min.css"/>

    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(','),
                data = [];
            for (var i = 0; i < 20; i++) {
                data.push({
                    id: i,
                    country: countries[i % countries.length],
                    countryMapped: i % countries.length,
                    date: new Date(2018, i % 12, i % 28),
                    amount: i * 123.45,
                    discount: i / 4,
                    active: i % 4 == 0
                });
            }

            $scope.data = new wijmo.CollectionView(data);

            $scope.countries = countries;
            var countryMap = [
                { name: 'US', key: 0 },
                { name: 'Germany', key: 1 },
                { name: 'UK', key: 2 },
                { name: 'Japan', key: 3 },
                { name: 'Italy', key: 4 },
                { name: 'Greece', key: 5 }
            ];
            $scope.countryMap = new wijmo.grid.DataMap(countryMap, 'key', 'name');

            $scope.customColumnHeader = true;
        });       
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">   
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre>
        <b>Test Case 207663:[FlexGrid] To test whether column headers display correctly when 'ColumnHeader' type cell template is used in the grid</b>
    </pre> 
    
    <label>
        <input id="chkCustomColHeader" type="checkbox" ng-model="customColumnHeader" /> ColumnHeader
    </label>
    <br />
    <wj-flex-grid control="flexGrid" 
        items-source="data"
        style="height:400px;width:1200px;">
        <!--<wj-flex-grid-filter></wj-flex-grid-filter>-->
        <wj-flex-grid-column header="id" binding="id"></wj-flex-grid-column>
        <wj-flex-grid-column binding="country" width="200">
            <wj-flex-grid-cell-template 
                cell-type="ColumnHeader" 
                ng-if="customColumnHeader">
                {{$col.binding}}
                <wj-combo-box 
                    items-source="['US', 'Germany', 'UK', 'Japan', 'Italy', 'Greece']" 
                    selected-value="uiCtx.reportType"
                    style="width:100px;font-weight:400" 
                    is-editable="false">
                </wj-combo-box>
            </wj-flex-grid-cell-template>    
        </wj-flex-grid-column>
        <wj-flex-grid-column binding="date">
            <wj-flex-grid-cell-template 
                cell-type="ColumnHeader" 
                ng-if="customColumnHeader">
                <input type="checkbox"/> {{$col.binding}}
            </wj-flex-grid-cell-template>
        </wj-flex-grid-column>
        <wj-flex-grid-column binding="amount">
            <wj-flex-grid-cell-template 
                cell-type="ColumnHeader" 
                ng-if="customColumnHeader">
                <input type="checkbox"/> {{$col.binding}} 
            </wj-flex-grid-cell-template>
        </wj-flex-grid-column>
        <wj-flex-grid-column binding="discount" format="p0">
            <wj-flex-grid-cell-template 
                cell-type="ColumnHeader" 
                ng-if="customColumnHeader">
                <input type="checkbox"/> {{$col.binding}}
            </wj-flex-grid-cell-template>
        </wj-flex-grid-column>
        <wj-flex-grid-column binding="active">
            <wj-flex-grid-cell-template 
                cell-type="ColumnHeader" 
                ng-if="customColumnHeader">
                <input type="checkbox"/> {{$col.binding}}
            </wj-flex-grid-cell-template>
        </wj-flex-grid-column>
    </wj-flex-grid>
</body>
</html>
