﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(','),
                    data = [];
            for (var i = 0; i < 10; i++) {
                data.push({
                    id: i,
                    country: countries[i % countries.length],
                    countryMapped: i % countries.length,
                    date: new Date(2018, i % 12, i % 28),
                    amount: (i+1) * 1000,
                    active: i % 4 == 0
                });
            }
                        
            $scope.data = new wijmo.CollectionView(data);

            $scope.countries = countries;
            var countryMap = [
                { name: 'US', key: 0 },
                { name: 'Germany', key: 1 },
                { name: 'UK', key: 2 },
                { name: 'Japan', key: 3 },
                { name: 'Italy', key: 4 },
                { name: 'Greece', key: 5 }
            ];
            $scope.countryMap = new wijmo.grid.DataMap(new wijmo.CollectionView(countryMap), 'key', 'name');
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre><b>Test Case 275775:[FlexGrid] To test whether multiple rows can be copied and pasted correctly in new row template when setting 'newRowAtTop' property</b></pre>
	<div>
        <input id="chkNewRowAtTop" ng-model="flexGrid.newRowAtTop" type="checkbox" />newRowAtTop
		<wj-flex-grid id="flexGrid" control="flexGrid" items-source="data" allow-add-new="true" style="height:200px">
            <wj-flex-grid-column header="id" binding="id"></wj-flex-grid-column>
		    <wj-flex-grid-column header="country" binding="countryMapped" data-map="countryMap"></wj-flex-grid-column>
            <wj-flex-grid-column header="date" binding="date"></wj-flex-grid-column>
		    <wj-flex-grid-column header="amount" binding="amount"></wj-flex-grid-column>		    
		    <wj-flex-grid-column header="active" binding="active"></wj-flex-grid-column>
		</wj-flex-grid>
    </div>
    
</body>
</html>
