﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <!-- app scripts and styles -->
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);

        app.controller('appCtrl', function ($scope) {
            var vm = this;

            vm.data = new wijmo.ObservableArray([]);
            vm.openDetails = true;

            var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(',');
        
            var addRow = function () {
                var n = vm.data.length + 1;
                vm.data.push({
                    row: n,
                    country: countries[n % countries.length],
                    value1: Math.round(Math.random() * 20000),
                    value2: Math.random() * 10000,
                    value3: Math.random() * 5000,
                    value4: Math.random() * 2000 - 1000,
                    value5: Math.random() * 500,
                    value6: Math.random() * 3000 - 1500,
                    date: new Date(2017, 9, 5)
                });
            };

            // Add some rows.
            for (var i = 0; i < 500; i++) {
                addRow();
            };

            var flex;

            vm.init = function (s, e) {
                flex = s;                
                setTimeout(function () {                  
                }, 50);
            };
                    
            vm.add = function () {
                addRow();
                vm.detailProvider.showDetail(flex.rows.length - 1);
                flex.scrollIntoView(flex.rows.length - 1, 0, true);
                flex.refresh();
                setTimeout(function () {
                    flex.scrollIntoView(flex.rows.length - 1, 0, true);
                }, 500)
            };
          
            vm.findCountry = function (a, b, callback) {
                setTimeout(function () {
                    callback(countries);
                }, 500);
            };
        });
    </script>
</head>
<body>
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre><b>Test Case 338395:[FlexGrid] To test whether 'scrollIntoView' method can scroll correctly when add new row, expand detail panel and scroll that detail panel into view at the same time</b></pre>
    <div ng-app="app" ng-controller="appCtrl as vm">
        <wj-flex-grid style="height: 560px" items-source="vm.data" selection-mode="Row" initialized="vm.init(s,e)">  
            <wj-flex-grid-column header="#" binding="row"></wj-flex-grid-column>  
            <wj-flex-grid-column header="Country" binding="country">
            <wj-flex-grid-cell-template cell-type="CellEdit">
                <wj-auto-complete delay="250" min-length="1" placeholder="Pick a country" items-source-function="vm.findCountry" is-editable="true" selected-value="$value" show-drop-down-button="true"></wj-auto-complete>
            </wj-flex-grid-cell-template>
            </wj-flex-grid-column>
                <wj-flex-grid-column header="Val 1" binding="value1"></wj-flex-grid-column>
                <wj-flex-grid-column header="Val 2" binding="value2"></wj-flex-grid-column>
                <wj-flex-grid-column header="Val 3" binding="value3"></wj-flex-grid-column>
                <wj-flex-grid-column header="Val 4" binding="value4"></wj-flex-grid-column>
                <wj-flex-grid-column header="Val 5" binding="value5"></wj-flex-grid-column>
                <wj-flex-grid-column header="Val 6" binding="value6"></wj-flex-grid-column>
                <wj-flex-grid-column header="Date" binding="date">
            </wj-flex-grid-column>
            <wj-flex-grid-detail detail-visibility-mode="ExpandMulti" control="vm.detailProvider" max-height="200">
                <div style="height: 200px !important">
                    <p>Details!</p>
                    <p>More Details!</p>
                    <p>Yet more Details!</p>
                    <p>Even more Details!</p>
                    <p>Details!</p>
                    <p>More Details!</p>
                </div>
            </wj-flex-grid-detail>
        </wj-flex-grid>
        <button id="btnAddNew" ng-click="vm.add()">Add new row to end</button> (n={{ vm.data.length }})
    </div>
</body>
</html>