﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
      <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope, $compile) {

            var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(','),
                data = [];
            for (var i = 0; i < 20; i++) {
                data.push({
                    id: i,
                    country: countries[i % countries.length],
                    countryMapped: i % countries.length,
                    date: new Date(2018, i % 12, i % 28),
                    downloads: i * 123.45,
                    sales: i * 100.05,
                    expenses: i * 12.34,
                    checked: i % 9 == 0
                });
            }

            $scope.data = new wijmo.CollectionView(data);

            $scope.cv = new wijmo.CollectionView(data, {
                sortDescriptions: ['date'], // sort by date
                groupDescriptions: ['country'] // group by country
            });

            $scope.dynaColumnsFlexInit = function (flex) {
                flex.collapseGroupsToLevel(0);
                flex.columnHeaders.rows.defaultSize = 36;
                flex.cells.rows.defaultSize = 156;
            }

            $scope.uiCtx = {
                highlightDownloads: true,
            };
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre><b>Test Case 308122:[FlexGrid] To test whether selected item style remians after selecting an item when ComboBox is used as itemFormatter in FlexGrid ColumnHeader</b></pre>

    <wj-flex-grid 
        items-source="cv" 
        allow-sorting="false" 
        initialized="s.collapseGroupsToLevel(0)" 
        selection-mode="None"
        allow-dragging="None" 
        defer-resizing="true"
        style="height: 350px; width:600px;">
        <wj-flex-grid-column 
            header="Country" 
            binding="country">
            <wj-flex-grid-cell-template cell-type="GroupHeader">
                <img ng-src="../resources/{{$item.name}}.png" />
                {{$item.name}}
            </wj-flex-grid-cell-template>
        </wj-flex-grid-column>
        <wj-flex-grid-column 
            header="downloads" 
            binding="downloads" 
            width="*" 
            aggregate="Sum" 
            align="center">
            <wj-flex-grid-cell-template cell-type="ColumnHeader">
                {{$col.header}}:
                <wj-combo-box 
                    items-source="['Chart', 'Table']" 
                    selected-value="uiCtx.reportType"
                    style="width:100px;font-weight:400" 
                    is-editable="false">
                </wj-combo-box>
            </wj-flex-grid-cell-template>
            <wj-flex-grid-cell-template cell-type="Group">
                <div style="font-size:small;text-align:center">
                    <wj-flex-grid ng-if="uiCtx.reportType == 'Table'"
                                    items-source="$item.items"
                                    is-read-only="false"
                                    headers-visibility="None"
                                    selection-mode="Cell"
                                    style="height:140px;width:210px">
                        <wj-flex-grid-column 
                            binding="date" 
                            width="*">
                        </wj-flex-grid-column>
                        <wj-flex-grid-column 
                            binding="{{$col.binding}}" 
                            width="*">
                        </wj-flex-grid-column>
                    </wj-flex-grid>
                    <wj-flex-chart ng-if="uiCtx.reportType == 'Chart'"
                                    style="height:140px;width:200px;display:inline-block"
                                    items-source="$item.items"
                                    binding-x="date"
                                    chart-type="Column"
                                    plot-margin="5">
                        <wj-flex-chart-legend position="None"></wj-flex-chart-legend>
                        <wj-flex-chart-axis 
                            wj-property="axisX"
                            axis-line="false"
                            labels="false">
                        </wj-flex-chart-axis>
                        <wj-flex-chart-axis 
                            wj-property="axisY"
                            axis-line="false"
                            labels="false">
                        </wj-flex-chart-axis>
                        <wj-flex-chart-series binding="{{$col.binding}}"></wj-flex-chart-series>
                    </wj-flex-chart>
                </div>
            </wj-flex-grid-cell-template>
        </wj-flex-grid-column>
    </wj-flex-grid>
</body>
</html>
