﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            var countries = 'US,UK,Japan'.split(','),
                data = [];
            for (var i = 0; i < 5; i++) {
                data.push({
                    id: i,
                    country: countries[i % countries.length],
                    countryMapped: i % countries.length,
                    date: new Date(2019, i % 12, i % 28),
                    amount: (i + 1) * 100.25,
                    active: i % 4 == 0
                });
            }

            $scope.countries = countries;
            var countryMap = [
                { name: 'US', key: 0 },
                { name: 'Germany', key: 1 },
                { name: 'UK', key: 2 },
                { name: 'Japan', key: 3 },
                { name: 'Italy', key: 4 },
                { name: 'Greece', key: 5 }
            ];
            $scope.countryMap = new wijmo.grid.DataMap(new wijmo.CollectionView(countryMap), 'key', 'name');

            var view = new wijmo.CollectionView(data);
            view.groupDescriptions.push(new wijmo.PropertyGroupDescription('active'));
            view.groupDescriptions.push(new wijmo.PropertyGroupDescription('country'));
            view.groupDescriptions.push(new wijmo.PropertyGroupDescription('countryMapped'));
            $scope.data = view;

            $scope.$watch('flexGrid', function () {
                var flex = $scope.flexGrid;
                if (flex) {
                    flex.collapseGroupsToLevel(1);
                }
            });

        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre><b>Test Case 363408:[FlexGrid] To test whether the group rows can be collapsed to a given level using 'collapseGroupsToLevel' method</b></pre>

    collapseGroupsToLevel:
    <button id="btnCollapse0" class="btn btn-default" ng-click="flexGrid.collapseGroupsToLevel(0)">0</button>
    <button id="btnCollapse1" class="btn btn-default" ng-click="flexGrid.collapseGroupsToLevel(1)">1</button>
    <button id="btnCollapse2" class="btn btn-default" ng-click="flexGrid.collapseGroupsToLevel(2)">2</button>
    <button id="btnCollapse3" class="btn btn-default" ng-click="flexGrid.collapseGroupsToLevel(3)">3</button>

    <wj-flex-grid control="flexGrid" items-source="data">
        <wj-flex-grid-filter></wj-flex-grid-filter>
        <wj-flex-grid-column header="id" binding="id"></wj-flex-grid-column>
        <wj-flex-grid-column header="country" binding="country"></wj-flex-grid-column>
        <wj-flex-grid-column header="countryMapped" binding="countryMapped" data-map="countryMap"></wj-flex-grid-column>
        <wj-flex-grid-column header="date" binding="date"></wj-flex-grid-column>
        <wj-flex-grid-column header="amount" binding="amount" format="c2"></wj-flex-grid-column>
        <wj-flex-grid-column header="active" binding="active"></wj-flex-grid-column>
	</wj-flex-grid> 
</body>
</html>
