﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            var countries = 'US,Germany,UK,Japan,Italy'.split(',');
            function getData(count) {
                var data = [];
                for (var i = 0; i < count; i++) {
                    data.push({
                        id: i,
                        country: countries[i % countries.length],
                        countryMapped: i % countries.length,
                        date: new Date(2019, i % 12, (i + 1) % 25),
                        amount: (i + 1) * 120.55,
                        active: i % 4 == 0
                    });
                }
                return data;
            }

            var view = new wijmo.CollectionView(getData(10));
            view.groupDescriptions.push(new wijmo.PropertyGroupDescription('country'));
            $scope.data = view;

            $scope.countries = countries;
            var countryMap = [
                { name: 'US', key: 0 },
                { name: 'Germany', key: 1 },
                { name: 'UK', key: 2 },
                { name: 'Japan', key: 3 },
                { name: 'Italy', key: 4 }
            ];
            $scope.countryMap = new wijmo.grid.DataMap(new wijmo.CollectionView(countryMap), 'key', 'name');

        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre><b>Test Case 364264:[FlexGrid] To test whether the GroupPanel is disabled or not when setting 'isDisabled' property of GroupPanel</b></pre>

    <input id="chkIsDisabled" ng-model="groupPanel.isDisabled" type="checkbox" />isDisabled
    <br /><br />
    <wj-group-panel control="groupPanel"
                    grid="flexGrid"
                    is-disabled="true"
                    max-groups="4">
    </wj-group-panel>
    <wj-flex-grid control="flexGrid" items-source="data" style="height: 350px; width: 1200px;">
        <wj-flex-grid-column header="ID" binding="id"></wj-flex-grid-column>
        <wj-flex-grid-column header="Country" binding="country"></wj-flex-grid-column>
        <wj-flex-grid-column header="CountryMapped" binding="countryMapped" data-map="countryMap"></wj-flex-grid-column>
        <wj-flex-grid-column header="Date" binding="date" format='MMM/dd/yyyy'></wj-flex-grid-column>
        <wj-flex-grid-column header="Amount" binding="amount"></wj-flex-grid-column>
        <wj-flex-grid-column header="Active" binding="active"></wj-flex-grid-column>
    </wj-flex-grid>
</body>
</html>
