﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            var countries = 'US,Germany,UK,Japan,Italy'.split(',');
            function getData(count) {
                var data = [];
                for (var i = 0; i < count; i++) {
                    data.push({
                        id: i,
                        date: new Date(2018, i % 12, (i + 1) % 25),
                        country: countries[i % countries.length],
                        sales: (i + 1) * 123.45,
                        expenses: (i + 1) * 234.56,
                        checked: i % 4 == 0
                    });
                }
                return data;
            }

            $scope.data = new wijmo.CollectionView(getData(10));

        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre><b>Test Case 336392:[FlexGrid] To test whether the editor gets focus or not when editing starts in CellTemplate by setting 'focus' parameter in 'startEditing' method</b></pre>

    <wj-flex-grid control="flexGrid" items-source="data" style="height: auto; width: 1200px;">
        <wj-flex-grid-column header="ID" binding="id"></wj-flex-grid-column>
        <wj-flex-grid-column header="Date" binding="date"></wj-flex-grid-column>
        <wj-flex-grid-column header="Country" binding="country">
        </wj-flex-grid-column>
        <wj-flex-grid-column header="Sales" binding="sales">
            <wj-flex-grid-cell-template cell-type="CellEdit">
                <input value="{{$item.sales}}" style="width: 100%" />
            </wj-flex-grid-cell-template>
        </wj-flex-grid-column>
        <wj-flex-grid-column header="Expenses" binding="expenses"></wj-flex-grid-column>
        <wj-flex-grid-column header="Checked" binding="checked"></wj-flex-grid-column>
    </wj-flex-grid>
    <br />
    startEditing: <button id="btnCountryTrue" class="btn btn-default" ng-click="flexGrid.startEditing(false, 0, 2, true)">country(focus: true)</button>
    <button id="btnSalesTrue" class="btn btn-default" ng-click="flexGrid.startEditing(false, 0, 3, true)">sales(focus: true)</button>
    <button id="btnCountryFalse" class="btn btn-default" ng-click="flexGrid.startEditing(false, 0, 2, false)">country(focus: false)</button>
     <button id="btnSalesFalse" class="btn btn-default" ng-click="flexGrid.startEditing(false, 0, 3, false)">sales(focus: false)</button>
</body>
</html>
