﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope, $compile) {

            var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(','),
                products = 'Widget,Gadget,Doohickey'.split(','),
                colors = 'Black,White,Red,Green,Blue'.split(','),
                data = [];
            for (var i = 0; i < 20; i++) {
                data.push({
                    id: i,
                    country: countries[i % countries.length],
                    product: products[i % products.length],
                    color: colors[i % colors.length],
                    countryMapped: i % countries.length,
                    date: new Date(2018, i % 12, i % 28),
                    amount: i * 123.45,
                    discount: i / (i + 4),
                    active: i % 4 == 0
                });
            }

            $scope.data = new wijmo.CollectionView(data);

            $scope.cv = new wijmo.CollectionView(data, {
                //sortDescriptions: [ 'date' ], // sort by date
                groupDescriptions: ['country', 'product'] // group by country and product
            });
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre><b>Test Case 311651:[FlexGrid] To test whether custom template 'GroupHeader' displays properly when scroll the grid horizontally</b></pre>

    <wj-flex-grid items-source="cv" 
        allow-sorting="false" 
        defer-resizing="true"
        style="height: 350px; width:600px;">
        <wj-flex-grid-column 
            header="Country" 
            binding="country">
            <wj-flex-grid-cell-template 
                cell-type="GroupHeader" >
                {{$item.name}} ({{$item.items.length}} items) <div style="float:right">{{$item.name}} ({{$item.items.length}} items)</div>
            </wj-flex-grid-cell-template>
        </wj-flex-grid-column>
        <wj-flex-grid-column 
            header="Product" 
            binding="product">
            <wj-flex-grid-cell-template 
                cell-type="GroupHeader">
                {{$item.name}} ({{$item.items.length}} items) <div style="float:right">{{$item.name}} ({{$item.items.length}} items)</div>     
            </wj-flex-grid-cell-template>
        </wj-flex-grid-column>
        <wj-flex-grid-column 
            header="Date" 
            binding="date">
        </wj-flex-grid-column>
        <wj-flex-grid-column 
            header="amount" 
            binding="amount">
        </wj-flex-grid-column>
         <wj-flex-grid-column 
            header="Discount" 
            binding="discount">
        </wj-flex-grid-column>
         <wj-flex-grid-column 
            header="Active" 
            binding="active">
        </wj-flex-grid-column>
    </wj-flex-grid>
</body>
</html>
