﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css">
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    
    <link href="../styles/flexgrid.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            var countries = 'US,Germany,UK,Japan,Italy'.split(','),
                data = [];
            for (var i = 0; i < 10; i++) {
                data.push({
                    id: i,
                    date: new Date(2018, i % 12, (i + 1) % 25),
                    time: new Date(2018, i % 12, (i + 1) % 25, i % 24, i % 60, i % 60),
                    country: countries[i % countries.length],
                    countryMapped: i % countries.length,
                    downloads: (i + 1) * 120.55,
                    sales: (i + 1) * 123.45,
                    expenses: (i + 1) * 234.56,
                    checked: i % 4 == 0
                });
            }

            var view = new wijmo.CollectionView(data);
            $scope.data = view;

            $scope.countries = countries;
            var countryMap = [
                { name: 'US', key: 0 },
                { name: 'Germany', key: 1 },
                { name: 'UK', key: 2 },
                { name: 'Japan', key: 3 },
                { name: 'Italy', key: 4 }
            ];
            $scope.countryMap = new wijmo.grid.DataMap(new wijmo.CollectionView(countryMap), 'key', 'name');

            $scope.sourceChanged = function (sender, args) {
                // update headers when the grid is populated
                update();
            }

            // connect to flex when it becomes available
            $scope.$watch('flexGrid', function () {
                // update headers when the grid is populated
                update();
            });

            function update() {
                if ($scope.flexGrid) {
                    addRowHeaders();
                }
            }

            // add cell data in row headers
            function addRowHeaders() {
                var flex = $scope.flexGrid;
                if (flex) {
                    var col = new wijmo.grid.Column();
                    flex.rowHeaders.columns.insert(0, col);
                    var col = new wijmo.grid.Column();
                    flex.rowHeaders.columns.insert(0, col);
                    var col = new wijmo.grid.Column();
                    flex.rowHeaders.columns.insert(0, col);
                }
            }

            $scope.editColumnIndex = function () {
                var result = $scope.flexGrid.editColumnIndex;
                alert(result);
            }
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
   
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre>Test Case 372928:[FlexGrid] To test whether pencil edit glyph can be shown or not on row header panel after entering edit mode while setting 'editColumnIndex' property</pre>
   <wj-menu id ="menu" header="editColumnIndex" value="flexGrid.editColumnIndex">
		<wj-menu-item value="">null</wj-menu-item>
		<wj-menu-item value="0">0</wj-menu-item>
		<wj-menu-item value="1">1</wj-menu-item>
		<wj-menu-item value="2">2</wj-menu-item>
		<wj-menu-item value="3">3</wj-menu-item>
	</wj-menu>
	<button ng-click="editColumnIndex()">get editColumnIndex</button>
	</br></br>
    <wj-flex-grid control="flexGrid"
                  items-source="data"				  
                  style="height: 350px; width: 1200px;">
        <wj-flex-grid-column header="ID" binding="id"></wj-flex-grid-column>
        <wj-flex-grid-column header="Date" binding="date" format='MMM/dd/yyyy'></wj-flex-grid-column>
        <wj-flex-grid-column header="Time" binding="time" format="t"></wj-flex-grid-column>
        <wj-flex-grid-column header="Country" binding="country"></wj-flex-grid-column>
        <wj-flex-grid-column header="CountryMapped" binding="countryMapped" data-map="countryMap"></wj-flex-grid-column>
        <wj-flex-grid-column header="Downloads" binding="downloads"></wj-flex-grid-column>
        <wj-flex-grid-column header="Sales" binding="sales"></wj-flex-grid-column>
        <wj-flex-grid-column header="Expenses" binding="expenses"></wj-flex-grid-column>
        <wj-flex-grid-column header="Checked" binding="checked"></wj-flex-grid-column>
    </wj-flex-grid>  
	<ul id="eventDiv"></ul>
</body>
</html>
