﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            var countries = 'US,Germany,UK,Japan,Italy'.split(',');
            function getData(count) {
                var data = [];
                for (var i = 0; i < count; i++) {
                    data.push({
                        id: i,
                        date: new Date(2018, i % 12, (i + 1) % 25),
                        time: new Date(2018, i % 12, (i + 1) % 25, i % 24, i % 60, i % 60),
                        country: countries[i % countries.length],
                        countryMapped: i % countries.length,
                        downloads: (i + 1) * 120.55,
                        sales: (i + 1) * 123.45,
                        expenses: (i + 1) * 234.56,
                        checked: i % 4 == 0
                    });
                }
                return data;
            }

            $scope.itemCount = 5;
            $scope.data = new wijmo.CollectionView(getData($scope.itemCount));

            $scope.countries = countries;
            var countryMap = [
                { name: 'US', key: 0 },
                { name: 'Germany', key: 1 },
                { name: 'UK', key: 2 },
                { name: 'Japan', key: 3 },
                { name: 'Italy', key: 4 }
            ];
            $scope.countryMap = new wijmo.grid.DataMap(new wijmo.CollectionView(countryMap), 'key', 'name');

            var count = 0;
            $scope.flexUpdatedView = function () {
                count++;
                var value = "updatedView";
                $("#eventDiv").append('<li>' + value + ":" + count + '</li>');
            }

            var count2 = 0;
            $scope.flexUpdatingView = function () {
                count2++;
                var value = "updatingView";
                $("#eventDiv").append('<li>' + value + ":" + count2 + '</li>');
            }

            $scope.$watch('itemCount', function () {
                $scope.data = getData($scope.itemCount * 1);
            });

            $scope.refresh = function () {
                $scope.flexGrid.refresh();
            };

            $scope.cvRefresh = function () {
                var cv = $scope.flexGrid.collectionView;
                cv.refresh();
            };
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre><b>Test Case 354397:[FlexGrid] To test whether 'updatingView' and 'updatedView' events raise when the grid starts/finishes refreshing the grid or its data source</b></pre>

    <wj-menu id="mnuItemCount" value="itemCount" header="Items">
        <wj-menu-item value="5">5</wj-menu-item>
        <wj-menu-item value="10">10</wj-menu-item>
        <wj-menu-item value="50">50</wj-menu-item>
        <wj-menu-item value="100">100</wj-menu-item>
    </wj-menu>
    <button id="btnRefresh" class="btn btn-default" ng-click="refresh()">
        refresh
    </button>
    <button id="btnRefreshData" class="btn btn-default" ng-click="cvRefresh()">
        refresh data
    </button>
    <br /><br />
    <wj-flex-grid control="flexGrid"
			items-source="data"
            style="height: 350px; width: 1200px;"
            updated-view="flexUpdatedView()" updating-view="flexUpdatingView()">
        <wj-flex-grid-filter></wj-flex-grid-filter>
        <wj-flex-grid-column header="ID" binding="id"></wj-flex-grid-column>
        <wj-flex-grid-column header="Date" binding="date" format='MMM/dd/yyyy'></wj-flex-grid-column>
        <wj-flex-grid-column header="Time" binding="time" format="t"></wj-flex-grid-column>
        <wj-flex-grid-column header="Country" binding="country"></wj-flex-grid-column>
        <wj-flex-grid-column header="CountryMapped" binding="countryMapped" data-map="countryMap"></wj-flex-grid-column>
        <wj-flex-grid-column header="Downloads" binding="downloads"></wj-flex-grid-column>
        <wj-flex-grid-column header="Sales" binding="sales"></wj-flex-grid-column>
        <wj-flex-grid-column header="Expenses" binding="expenses"></wj-flex-grid-column>
        <wj-flex-grid-column header="Checked" binding="checked"></wj-flex-grid-column>
    </wj-flex-grid>
    <br />
    <ul id="eventDiv"></ul>
</body>
</html>
