﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    

    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(','),
                data = [];
            for (var i = 0; i < 50; i++) {
                data.push({
                    id: i,
                    country: countries[i % countries.length],
                    countryMapped: i % countries.length,
                    date: new Date(2018, i % 12, i % 28),
                    amount: (i+1) * 123,
                    discount: i / (i+4),
                    active: i % 4 == 0
                });
            }

            $scope.data = new wijmo.CollectionView(data);
        });
    </script>
    <style type="text/css">
        .custom {
            color: red;
        }
        .custom-check {
            color: red;
        }
    </style>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre><b>Test Case 303438:[FlexGrid] To test conditional styling using 'ng-class' directive in FlexGrid</b></pre>

    <wj-flex-grid control="flexGrid" 
        items-source="data"
        style="height:300px;width:1000px;">
        <wj-flex-grid-column header="id" binding="id"></wj-flex-grid-column>
        <wj-flex-grid-column header="country" binding="country">
             <div ng-class="{custom: $item.country == 'US'}" style="font-weight: bold">{{flexGrid.getCellData($row.index, $col.index, true)}}</div>
        </wj-flex-grid-column>
        <wj-flex-grid-column header="countryId" binding="countryMapped" data-map="countryMap"></wj-flex-grid-column>
        <wj-flex-grid-column header="date" binding="date"></wj-flex-grid-column>
        <wj-flex-grid-column header="amount" binding="amount">
             <div ng-class="{custom: $item.amount > 800}" style="text-align:right">{{flexGrid.getCellData($row.index, $col.index, true)}}</div>
        </wj-flex-grid-column>
        <wj-flex-grid-column header="discount" binding="discount" format="p0">
             <div ng-class="{custom: $item.discount > 0.5}" style="text-align:right">{{flexGrid.getCellData($row.index, $col.index, true)}}</div>
        </wj-flex-grid-column>
        <wj-flex-grid-column header="active" binding="active"></wj-flex-grid-column>
    </wj-flex-grid>
</body>
</html>
