﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(','),
                    data = [];
            for (var i = 0; i < 10; i++) {
                data.push({
                    id: i,
                    country: countries[i % countries.length],
                    countryMapped: i % countries.length,
                    date: new Date(2017, i % 12, i % 28),
                    amount: Math.random() * 10000,
                    active: i % 4 == 0
                });
            }
                        
            $scope.data = new wijmo.CollectionView(data);

            $scope.countries = countries;
            var countryMap = [
                { name: 'US', key: 0 },
                { name: 'Germany', key: 1 },
                { name: 'UK', key: 2 },
                { name: 'Japan', key: 3 },
                { name: 'Italy', key: 4 },
                { name: 'Greece', key: 5 }
            ];
            $scope.countryMap = new wijmo.grid.DataMap(new wijmo.CollectionView(countryMap), 'key', 'name');

            $scope.$watch('flexGrid', function () {
                if ($scope.flexGrid) {
                    var flex = $scope.flexGrid;
                    var row = flex.rows[0];
                    row.height = 100;
                }
            });

            $scope.set_CellData = function () {
                var flex = $scope.flexGrid;
                var str = "Before line break" + '\n' + "After line break" + '\n' + "After another line break";
                flex.setCellData(0, 1, str);
            };
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre><b>Test Case 307003:[FlexGrid] To test whether multi-line text can be entered or not in cell by pressing 'Alt+Enter' key when setting 'multiLine' property of Column</b></pre>

	<div>
		<input id="chkMultiLine" ng-model="flexGrid.columns[1].multiLine" type="checkbox" />multiLine (country)
        <button id="btnSetCellData" class="btn btn-default" ng-click="set_CellData()">
		    setCellData
	    </button>
		<br/><br/>
		<wj-flex-grid control="flexGrid" items-source="data">
		</wj-flex-grid>
    </div>
</body>
</html>
