﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {
            
            var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(','),
                data = [];
            for (var i = 0; i < 50; i++) {
                data.push({
                    id: i,
                    date: new Date(2018, i % 12, (i + 1) % 25),
                    time: new Date(2018, i % 12, (i + 1) % 25, i % 24, i % 60, i % 60),
                    country: countries[i % countries.length],
                    countryMapped: i % countries.length,
                    downloads: (i + 1) * 200,
                    sales: (i + 1) * 123.45,
                    expenses: (i + 1) * 10.05,
                    checked: i % 9 == 0
                });
            }
            
            $scope.data = new wijmo.CollectionView(data);

            $scope.countries = countries;
            var countryMap = [
                { name: 'US', key: 0 },
                { name: 'Germany', key: 1 },
                { name: 'UK', key: 2 },
                { name: 'Japan', key: 3 },
                { name: 'Italy', key: 4 },
                { name: 'Greece', key: 5 },
                { name: 'Spain', key: 6 },
                { name: 'Chile', key: 7 },
                { name: 'China', key: 8 },
                { name: 'Canada', key: 9 },
                { name: 'Astralia', key: 10 }
            ];
            $scope.countryMap = new wijmo.grid.DataMap(new wijmo.CollectionView(countryMap), 'key', 'name');

            $scope.initialized = function (s, e) {
                var flex = s;
                $scope.filter = new wijmo.grid.filter.FlexGridFilter(flex);
                $scope.filter.filterDefinition = '{"defaultFilterType":3,"filters":[{"binding":"checked","type":"value","filterText":"","showValues":{"true":true}},{"binding":"country","type":"condition","condition1":{"operator":6,"value":"u"},"and":true,"condition2":{"operator":null,"value":""}}]}';
                $scope.$apply();
                $scope.filter.filterChanging.addHandler(function () {
                    console.log('filter changing');
                });
                $scope.filter.filterChanged.addHandler(function () {
                    console.log('filter changed');
                });
                $scope.filter.filterApplied.addHandler(function () {
                    console.log('filter applied');
                });
            }
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre><b>Test Case 316874:[FlexGrid] To test whether filtering apply correctly when 'filterDefinition' property of FlexGridFilter is set in 'initialized' event of FlexGrid</b></pre>

	<wj-flex-grid control="flexGrid" initialized="initialized(s, e)" items-source="data" style="height: 350px;">
        <wj-flex-grid-column header="ID" binding="id"></wj-flex-grid-column>
        <wj-flex-grid-column header="Date" binding="date" format='MMM/dd/yyyy'></wj-flex-grid-column>
        <wj-flex-grid-column header="Time" binding="time" format="t"></wj-flex-grid-column>
        <wj-flex-grid-column header="Country" binding="country"></wj-flex-grid-column>
        <wj-flex-grid-column header="Country ID" binding="countryMapped" data-map="countryMap"></wj-flex-grid-column>
        <wj-flex-grid-column header="Downloads" binding="downloads"></wj-flex-grid-column>
        <wj-flex-grid-column header="Sales" binding="sales"></wj-flex-grid-column>
        <wj-flex-grid-column header="Expenses" binding="expenses"></wj-flex-grid-column>
        <wj-flex-grid-column header="Checked" binding="checked"></wj-flex-grid-column>
    </wj-flex-grid>
    <p>
        Now showing {{data.items.length | number:0}} items.</p>
</body>
</html>
