﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            $scope.$watch('flexGrid', function () {
                if ($scope.flexGrid) {
                    var flex = $scope.flexGrid;
                    for (var r = 0; r < 10; r++) {
                        flex.rows.push(new wijmo.grid.Row());
                    }
                    for (var c = 0; c < 5; c++) {
                        flex.columns.push(new wijmo.grid.Column());
                    }

                    var col = flex.columns[0];
                    col.width = 200;
                    col.multiLine = true;
                    var row = flex.rows[0];
                    row.height = 100;
                    row = flex.rows[1];
                    row.height = 100;

                    var str = "Before line break" + '\n' + "After line break" + '\n' + "After another line break";
                    flex.setCellData(0, 0, str);
                }
            });

        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre><b>Test Case 307006:[FlexGrid] To test whether multi-line text render correctly when embed line-break characters (\n) and 'multiLine' property of Column is set</b></pre>

	<div>
		<input id="chkMultiLine" ng-model="flexGrid.columns[0].multiLine" type="checkbox" />multiLine (column[0])
		<br/><br/>
		<wj-flex-grid control="flexGrid">
		</wj-flex-grid>
    </div>
</body>
</html>
