﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            var countries = 'US,Germany,UK,Japan,Italy'.split(',');
            function getData(count) {
                var data = [];
                for (var i = 0; i < count; i++) {
                    data.push({
                        id: i,
                        country: countries[i % countries.length],
                        countryMapped: i % countries.length,
                        date: new Date(2019, i % 12, (i + 1) % 25),
                        amount: (i + 1) * 120.55,
                        active: i % 4 == 0
                    });
                }
                return data;
            }

            $scope.data = getData(20);

            $scope.countries = countries;
            var countryMap = [
                { name: 'US', key: 0 },
                { name: 'Germany', key: 1 },
                { name: 'UK', key: 2 },
                { name: 'Japan', key: 3 },
                { name: 'Italy', key: 4 }
            ];
            $scope.countryMap = new wijmo.grid.DataMap(new wijmo.CollectionView(countryMap), 'key', 'name');

            $scope.scrollIntoView = function () {
                var flexGrid = $scope.flexGrid;
                if (flexGrid) {
                    flexGrid.scrollIntoView(12, 5, true);
                }
            }

            $scope.scrollIntoView2 = function () {
                var flexGrid = $scope.flexGrid;
                if (flexGrid) {
                    flexGrid.scrollIntoView(0, 0, false);
                }
            }

            $scope.flexScrollPositionChanged = function () {
                $("#div1").text('scrollPosition:' + $scope.flexGrid.scrollPosition.x + ',' + $scope.flexGrid.scrollPosition.y);
            }
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre><b>Test Case 365661:[FlexGrid] To test whether the grid scrolls to bring a specific cell into view by invoking 'scrollIntoView' method</b></pre>

    <wj-flex-grid control="flexGrid" items-source="data" scroll-position-changed="flexScrollPositionChanged()" style="height: 300px; width: 500px;">
        <wj-flex-grid-column header="ID" binding="id"></wj-flex-grid-column>
        <wj-flex-grid-column header="Country" binding="country"></wj-flex-grid-column>
        <wj-flex-grid-column header="CountryMapped" binding="countryMapped" data-map="countryMap"></wj-flex-grid-column>
        <wj-flex-grid-column header="Date" binding="date" format='MMM/dd/yyyy'></wj-flex-grid-column>
        <wj-flex-grid-column header="Active" binding="active"></wj-flex-grid-column>
        <wj-flex-grid-column header="Amount" binding="amount"></wj-flex-grid-column>
    </wj-flex-grid>
    <br />
    <div id="div1"></div>
    <button id="btnScrollIntoView" class="btn btn-default" ng-click="scrollIntoView()">
		scrollIntoView
	</button>
    <button id="btnScrollIntoView2" class="btn btn-default" ng-click="scrollIntoView2()">
		scrollIntoView2
	</button>
</body>
</html>
