﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope, $compile) {

            var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(','),
                products = 'Widget,Gadget,Doohickey'.split(','),
                data = [];
            for (var i = 0; i < 20; i++) {
                data.push({
                    id: i,
                    country: countries[i % countries.length],
                    product: products[i % products.length],
                    countryMapped: i % countries.length,
                    date: new Date(2018, i % 12, i % 28),
                    amount: (i + 1) * 123,
                    active: i % 4 == 0
                });
            }

            $scope.data = new wijmo.CollectionView(data);

            // ** inline editing
            $scope.$watch('flexInline', function () {
                var flex = $scope.flexInline;
                if (flex) {
                    // prevent default editing
                    flex.isReadOnly = true;
                    // make rows taller to accommodate edit buttons and input controls
                    flex.rows.defaultSize = 44;
                    // use formatter to create buttons and custom editors
                    flex.itemFormatter = itemFormatter;
                    // commit row changes when scrolling the grid
                    flex.scrollPositionChanged.addHandler(function () {
                        if ($scope.editIndex > -1) {
                            $scope.commitRow($scope.editIndex);
                        }
                    });
                }
            });
            function itemFormatter(panel, r, c, cell) {
                if (panel.cellType == wijmo.grid.CellType.Cell) {
                    var col = panel.columns[c],
                        html = cell.innerHTML;
                    if (r == $scope.editIndex) {
                        switch (col.name) {
                            case 'buttons':
                                html = '<div>' +
                               '&nbsp;&nbsp;' +
                               '<button class="btn btn-primary btn-sm" ng-click="commitRow(' + r + ')">' +
                                   '<span class="glyphicon glyphicon-ok"></span> OK' +
                               '</button>' +
                               '&nbsp;&nbsp;' +
                               '<button class="btn btn-warning btn-sm" ng-click="cancelRow(' + r + ')">' +
                                   '<span class="glyphicon glyphicon-ban-circle"></span> Cancel' +
                               '</button>' +
                           '</div>';
                                break;
                            case 'date':
                                html = '<input id="theDate" class="form-control" value="' + panel.getCellData(r, c, true) + '"/>';
                                break;
                            case 'product':
                                html = '<input id="theProduct" class="form-control" value="' + panel.getCellData(r, c, true) + '"/>';
                                break;
                        }
                    } else {
                        switch (col.name) {
                            case 'buttons':
                                cell.style.padding = '3px';
                                html = '<div>' +
                               '&nbsp;&nbsp;' +
                               '<button class="btn btn-default btn-sm" ng-click="editRow(' + r + ')">' +
                                   '<span class="glyphicon glyphicon-pencil"></span> Edit' +
                               '</button>' +
                               '&nbsp;&nbsp;' +
                               '<button class="btn btn-default btn-sm" ng-click="deleteRow(' + r + ')">' +
                                   '<span class="glyphicon glyphicon-remove"></span> Delete' +
                               '</button>' +
                           '</div>';
                                break;
                        }
                    }
                    // update cell and compile its contents into the scope 
                    // (required to wire up the ng-click directives)
                    if (html != cell.innerHTML) {
                        cell.innerHTML = html;
                        cell.style.padding = '3px';
                        $compile(cell)($scope);
                    }
                }
            }
            $scope.editRow = function (row) {
                $scope.editIndex = row;
                $scope.flexInline.invalidate();
            }
            $scope.deleteRow = function (row) {
                $scope.editIndex = -1;
                var ecv = $scope.flexInline.collectionView;
                ecv.removeAt(row);
            }
            $scope.commitRow = function (row) {
                // save changes
                var flex = $scope.flexInline;
                flex.setCellData(row, 'date', $("#theDate").val());
                flex.setCellData(row, 'product', $("#theProduct").val());

                // done editing
                $scope.cancelRow(row);
            }
            $scope.cancelRow = function (row) {
                $scope.editIndex = -1;
                $scope.flexInline.invalidate();
            }
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre><b>Test Case 81963: [FlexGrid] To test whether cell values can edit/commit correctly in Inline Editing mode</b></pre>
    
    <wj-flex-grid control="flexInline" style="height: 400px; width:800px;" 
        items-source="data"
        is-read-only="true"
        selection-mode="None">
        <wj-flex-grid-column name="id" header="ID" binding="id" width="80" align="right" is-read-only="true"></wj-flex-grid-column>
        <wj-flex-grid-column name="date" header="Date" binding="date"></wj-flex-grid-column>
        <wj-flex-grid-column name="product" header="Product" binding="product" width="*"></wj-flex-grid-column>
        <wj-flex-grid-column name="buttons" width="200"></wj-flex-grid-column>
    </wj-flex-grid>
</body>
</html>
