﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    

    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            var countries = 'US,UK,Japan'.split(','),
                products = 'Widget,Gadget,Doohickey'.split(','),
                colors = 'Black,White,Red'.split(','),
                data = [];
            for (var i = 0; i < 5; i++) {
                data.push({
                    id: i,
                    country: countries[i % countries.length],
                    product: products[i % products.length],
                    color: colors[i % colors.length],
                    countryId: i % countries.length,
                    productId: i % products.length,
                    colorId: i % colors.length,                    
                    active: i % 4 == 0
                });
            }

            $scope.data = new wijmo.CollectionView(data);

            $scope.$watch('flexGrid', function () {
                if ($scope.flexGrid) {
                    updateDataMaps();
                    updateHeaders();
                    addRowHeaders();
                }
            });

            function updateDataMaps() {
                var flex = $scope.flexGrid;
                if (flex) {
                    var colCountry = flex.columns.getColumn('countryId');
                    var colProduct = flex.columns.getColumn('productId');
                    var colColor = flex.columns.getColumn('colorId');
                    if (colCountry && colProduct && colColor) {
                        colCountry.dataMap = new wijmo.grid.DataMap(countries);
                        colProduct.dataMap = new wijmo.grid.DataMap(products);
                        colColor.dataMap = new wijmo.grid.DataMap(colors);
                    }
                }
            }

            // toggle row visibility
            $scope.toggleRowVisibility1 = function () {
                var flex = $scope.flexGrid;
                var row = flex.rows[3];
                row.visible = !row.visible;
            };
            $scope.toggleRowVisibility2 = function () {
                var flex = $scope.flexGrid;
                var row = flex.rows[2];
                row.visible = !row.visible;
            };

            // add cell data in row headers
            function addRowHeaders() {
                var flex = $scope.flexGrid;
                if (flex) {
                    var col = new wijmo.grid.Column();
                    col.allowMerging = true;
                    flex.rowHeaders.columns.insert(0, col);

                }
            }

            function updateHeaders() {
                var flex = $scope.flexGrid;
                if (flex) {

                    // insert new row if not yet
                    if (flex.columnHeaders.rows.length === 1) {
                        flex.columnHeaders.rows.insert(0, new wijmo.grid.Row());
                    }
                    var row = flex.columnHeaders.rows[0];
                    row.allowMerging = true;

                    // set headings so the cells merge
                    for (var i = 0; i < flex.columns.length; i++) {
                        var hdr = 'String';
                        switch (flex.columns[i].binding) {
                            case 'id':
                            case 'amount':
                            case 'discount':
                                hdr = 'Number';
                                break;
                            case 'active':
                                hdr = 'Boolean';
                                break;
                            case 'date':
                                hdr = 'Date';
                                break;
                        }
                        flex.columnHeaders.setCellData(0, i, hdr);
                    }
                }
            }
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">    
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre><b>Test Case 87980:[FlexGrid] To test whether merged row can be hidden or shown properly</b></pre>
    <button id="togglebtn1" class="btn btn-default" ng-click="toggleRowVisibility1()">
		Show/Hide Row (3)
	</button>
    <button id="togglebtn2" class="btn btn-default" ng-click="toggleRowVisibility2()">
		Show/Hide Row (2)
	</button>
    <br /><br />
    <wj-flex-grid control="flexGrid" id="flexGrid" items-source="data" allow-merging="All" style="height:300px;width:1000px;">
        <wj-flex-grid-column header="id" binding="id"></wj-flex-grid-column>        
        <wj-flex-grid-column header="country" binding="country" allow-merging="true"></wj-flex-grid-column>
        <wj-flex-grid-column header="product" binding="product" allow-merging="true"></wj-flex-grid-column>
        <wj-flex-grid-column header="color" binding="color" allow-merging="true"></wj-flex-grid-column>        
        <wj-flex-grid-column header="active" binding="active" allow-merging="true"></wj-flex-grid-column>
    </wj-flex-grid>
</body>
</html>