﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/flexGrid_appCtrl.js" type="text/javascript"></script>
    <link href="../styles/app.css" rel="stylesheet" />
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div class="row-fluid">
		<button class="btn btn-default" ng-click="flex_Dispose()" id="btnDispose">
			dispose
		</button>
	</div>
	<div class="row-fluid">
		<wj-flex-grid class="grid"
			id="flexGrid"
			control="ctx.flex"
			allow-resizing="Both"
			items-source="data2"
			style="width: 1200px;">
			<wj-flex-grid-filter></wj-flex-grid-filter>
			<wj-flex-grid-column header="id" binding="id"></wj-flex-grid-column>
			<wj-flex-grid-column header="country" binding="country"></wj-flex-grid-column>
			<wj-flex-grid-column header="product" binding="product" is-content-html="true"></wj-flex-grid-column>
			<wj-flex-grid-column header="color" binding="color"></wj-flex-grid-column>
			<wj-flex-grid-column header="amount" binding="amount"></wj-flex-grid-column>
			<wj-flex-grid-column header="amount2" binding="amount2"></wj-flex-grid-column>
			<wj-flex-grid-column header="discount" binding="discount" format="p0"></wj-flex-grid-column>
			<wj-flex-grid-column header="active" binding="active"></wj-flex-grid-column>
		</wj-flex-grid>
    </div>		
    <p>
        1. Run the sample page (DataMapTest.html) page of "prj_DataMap(33)" folder with
        IE/Firefox/Chrome.
        <br />
        2. Click "AddNewRow" to create 3 new rows.<br />
        [Observe]<br />
        "Country" column cell merging does not work.
    </p>
</body>
</html>
