﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
     <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/basicCtrl.js" type="text/javascript"></script>
    <script src="../scripts/services/dataSvc.js" type="text/javascript"></script>
</head>
<body ng-app="app" ng-controller="appCtrl">  
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><wj-flex-grid id="flexGrid" 
        class="grid" 
        control="ctx.flex" 
        items-source="ctx.data10" 
        style="max-height: 400px">
        <wj-flex-grid-column header="id" binding="id" align="right"></wj-flex-grid-column>				
		<wj-flex-grid-column header="product" binding="product"></wj-flex-grid-column>
		<wj-flex-grid-column header="country" binding="country"></wj-flex-grid-column>
		<wj-flex-grid-column header="date" binding="start"></wj-flex-grid-column>        
		<wj-flex-grid-column header="amount" binding="amount"></wj-flex-grid-column>
        <wj-flex-grid-column header="discount" binding="discount"></wj-flex-grid-column>
        <wj-flex-grid-column header="active" binding="active" data-type="Boolean"></wj-flex-grid-column>
    </wj-flex-grid>
    <br />
    <br />
    <button id="btnShowHideCol" class="btn btn-default" ng-click="toggleColumnVisibility()">
        Show/Hide Column
    </button>
    <button id="btnShowHideRow" class="btn btn-default" ng-click="toggleRowVisibility()">
        Show/Hide Row
    </button>
    <p></p>
    <p>
        1. Browse ‘Wijmo 5 Explorer’ sample.<br />
        2. Navigate to ‘FlexGrid > Introduction' sample. <br />
        3. Click 'Show/Hide Column' button. <br />
        [Expected] Column index-0 (id) is hidden from C1FlexGrid. <br />
        4. Click 'Show/Hide Column' button again. <br />
        [Expected] Column index-0 (id) is appeared in C1FlexGrid.<br />
        5. Click 'Show/Hide Row' button. <br />
        [Expected] Row index-0 (id - 0) is hidden from C1FlexGrid. <br /> 
        6. Click 'Show/Hide Row' button again. <br />
        [Expected] Row index-0 (id - 0) is appeared in C1FlexGrid.
    </p>
</body>
</html>
