﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(','),
                    data = [];
            for (var i = 0; i < 20; i++) {
                data.push({
                    id: i,
                    country: countries[i % countries.length],
                    countryMapped: i % countries.length,
                    date: new Date(2017, i % 12, i % 28),
                    amount: (i+1) * 123,
                    active: i % 4 == 0
                });
            }

            $scope.data = new wijmo.CollectionView(data);

            $scope.countries = countries;
            var countryMap = [
                { name: 'US', key: 0 },
                { name: 'Germany', key: 1 },
                { name: 'UK', key: 2 },
                { name: 'Japan', key: 3 },
                { name: 'Italy', key: 4 },
                { name: 'Greece', key: 5 }
            ];
            $scope.countryMap = new wijmo.grid.DataMap(new wijmo.CollectionView(countryMap), 'key', 'name');

            // toggle freezing
            $scope.toggleFreeze = function (freeze) {
                var flex = $scope.flexGrid;
                if (flex) {

                    // figure out whether to freeze or unfreeze
                    if (freeze == null) {
                        freeze = (flex.frozenRows || flex.frozenColumns) ? false : true;
                    }

                    if (freeze) {

                        // hide rows/cols before the viewRange and freeze
                        var vr = flex.viewRange;
                        for (var i = 0; i < vr.topRow; i++) {
                            flex.rows[i].visible = false;
                        }
                        for (var i = 0; i < vr.leftCol; i++) {
                            flex.columns[i].visible = false;
                        }

                        // freeze based on selection; if there is no selection,
                        // freeze the first couple of rows/columns
                        var sel = flex.selection;
                        if (sel.topRow || flex.leftCol) {
                            flex.frozenRows = sel.topRow;
                            flex.frozenColumns = sel.leftCol;
                        } else {
                            flex.frozenRows = flex.frozenColumns = 2;
                        }

                    } else {

                        // show all rows/columns and unfreeze
                        for (var i = 0; i < flex.rows.length; i++) {
                            flex.rows[i].visible = true;
                        }
                        for (var i = 0; i < flex.columns.length; i++) {
                            flex.columns[i].visible = true;
                        }
                        flex.frozenRows = flex.frozenColumns = 0;
                    }

                    // update button caption
                    if (!$scope.$$phase) {
                        $scope.$apply();
                    }
                }
            }
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre><b>Test Case 80020:[FlexGrid] To test whether grid functionality (scrolling, grouping, resizing, reordering, freezing, etc.) is working properly when Flexgrid is in "RightToLeft" Mode</b></pre>
    <br />
    <!-- freeze/unfreeze grid -->
    <button id="btnFreeze"
        type="button" 
        class="btn btn-default"
        ng-click="toggleFreeze()">
        {{flexGrid.frozenRows || flexGrid.frozenColumns ? 'Unfreeze' : 'Freeze'}}
    </button>
    <br /><br />
    <wj-flex-grid dir="rtl" control="flexGrid" items-source="data" style="height: 300px; width:600px;">
        <wj-flex-grid-column header="id" binding="id"></wj-flex-grid-column>
        <wj-flex-grid-column header="country" binding="country"></wj-flex-grid-column>
        <wj-flex-grid-column header="countryMapped" binding="countryMapped" data-map="countryMap"></wj-flex-grid-column>
        <wj-flex-grid-column header="date" binding="date"></wj-flex-grid-column>
        <wj-flex-grid-column header="amount" binding="amount" format="c"></wj-flex-grid-column>
        <wj-flex-grid-column header="active" binding="active"></wj-flex-grid-column>
	</wj-flex-grid>
</body>
</html>
