﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    

    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(','),
                    data = [];
            for (var i = 0; i < 5; i++) {
                data.push({
                    id: i,
                    country: countries[i % countries.length],
                    countryMapped: i % countries.length,
                    date: new Date(2017, i % 12, i % 28),
                    amount: (i + 1) * 123,
                    active: i % 4 == 0
                });
            }

            $scope.data = new wijmo.CollectionView(data);

            $scope.countries = countries;
            var countryMap = [
                { name: 'US', key: 0 },
                { name: 'Germany', key: 1 },
                { name: 'UK', key: 2 },
                { name: 'Japan', key: 3 },
                { name: 'Italy', key: 4 },
                { name: 'Greece', key: 5 }
            ];
            $scope.countryMap = new wijmo.grid.DataMap(new wijmo.CollectionView(countryMap), 'key', 'name');

            $scope.saveColumnLayout = function () {
                if (localStorage) {
                    var flex = $scope.flexGrid;
                    localStorage['columns'] = flex.columnLayout;
                    console.log('** Saved layout: ' + flex.columnLayout);
                }
            }
            $scope.loadColumnLayout = function () {
                if (localStorage) {
                    if (!localStorage['columns']) {
                        alert('Please save a layout first...');
                    } else {
                        var flex = $scope.flexGrid;
                        flex.columnLayout = localStorage['columns'];
                        console.log('** Loaded layout: ' + flex.columnLayout);
                    }
                }
            }

            $scope.toggleColumnVisibility = function () {
                var flex = $scope.flexGrid;
                var col = flex.columns[1];
                col.visible = !col.visible;
            };
            $scope.changeColumnSize = function () {
                var flex = $scope.flexGrid;
                var col = flex.columns[0];
                col.visible = true;
                col.width = col.width < 0 ? 60 : -1;
                col = flex.rowHeaders.columns[0];
                col.width = col.width < 0 ? 40 : -1;
            };
//            $scope.toggleRowVisibility = function () {
//                var flex = $scope.flexGrid;
//                var row = flex.rows[0];
//                row.visible = !row.visible;
//            };
//            $scope.changeRowSize = function () {
//                var flex = $scope.flexGrid;
//                var row = flex.rows[0];
//                row.visible = true;
//                row.height = row.height < 0 ? 80 : -1;
//                row = flex.columnHeaders.rows[0];
//                row.height = row.height < 0 ? 80 : -1;
//            };
//            $scope.changeDefaultRowSize = function () {
//                var flex = $scope.flexGrid;
//                flex.rows.defaultSize = flex.rows.defaultSize == 28 ? 65 : 28;
//            };
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre>
        <b>Test Case 87584:[FlexGrid] To test whether column layout can be saved and loaded from local storage using 'columnLayout' property</b>
    </pre>

    <wj-flex-grid control="flexGrid" items-source="data" style="height: 300px;">
        <wj-flex-grid-column header="id" binding="id"></wj-flex-grid-column>
        <wj-flex-grid-column header="country" binding="country"></wj-flex-grid-column>
        <wj-flex-grid-column header="date" binding="date"></wj-flex-grid-column>
        <wj-flex-grid-column header="amount" binding="amount" format="c"></wj-flex-grid-column>
        <wj-flex-grid-column header="active" binding="active"></wj-flex-grid-column>
	</wj-flex-grid>
    <br />
    <button id="btnColVisibility" class="btn btn-default" ng-click="toggleColumnVisibility()">
        Show/Hide Column
    </button>
    <button id="btnResizeCol" class="btn btn-default" ng-click="changeColumnSize()">
        Resize Column
    </button>
    <!--<button class="btn btn-default" ng-click="toggleRowVisibility()">
        Show/Hide Row
    </button>-->
    <!--<button class="btn btn-default" ng-click="changeRowSize()">
        Resize Row
    </button>
    <button class="btn btn-default" ng-click="changeDefaultRowSize()">
        Default Row Size
    </button>-->

    <button id="btnSaveLayout" class="btn btn-default" ng-click="saveColumnLayout()">
        Save Column Layout
    </button>
    <button id="btnLoadLayout" class="btn btn-default" ng-click="loadColumnLayout()">
        Load Column Layout
    </button>
</body>
</html>
