﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    

    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            var data = [
                { id: 0, date: new Date(2018, 0, 1), time: new Date(2018, 0, 1, 7, 10, 10), country: 'Japan', product: 'Gadget', color: 'Black', countryId: 0, productId: 1, colorId: 0, amount: 474.28, discount: 0.27, active: true },
                { id: 1, date: new Date(2018, 1, 1), time: new Date(2018, 1, 1, 8, 20, 20), country: 'US', product: 'Widget', color: 'Black', countryId: 1, productId: 0, colorId: 2, amount: 7476.87, discount: 0.67, active: false },
                { id: 2, date: new Date(2018, 2, 1), time: new Date(2018, 2, 1, 9, 30, 30), country: 'UK', product: 'Widget', color: 'Red', countryId: 2, productId: 2, colorId: 1, amount: 6203.51, discount: 0.15, active: false },
                { id: 3, date: new Date(2018, 3, 1), time: new Date(2018, 3, 1, 10, 40, 40), country: 'Japan', product: 'Widget', color: 'Blue', countryId: 3, productId: 0, colorId: 4, amount: 2562.53, discount: 0.90, active: false },
                { id: 4, date: new Date(2018, 4, 1), time: new Date(2018, 4, 1, 11, 50, 50), country: 'Japan', product: 'Doohickey', color: 'Blue', countryId: 4, productId: 1, colorId: 2, amount: 9906.36, discount: 0.48, active: true },
                { id: 5, date: new Date(2018, 5, 1), time: new Date(2018, 5, 1, 12, 5, 5), country: 'Japan', product: 'Doohickey', color: 'Black', countryId: 5, productId: 0, colorId: 0, amount: 7310.17, discount: 0.39, active: false },
                { id: 6, date: new Date(2018, 6, 1), time: new Date(2018, 6, 1, 1, 15, 15), country: 'Germany', product: 'Doohickey', color: 'Black', countryId: 0, productId: 1, colorId: 2, amount: 2443.69, discount: 0.37, active: false },
                { id: 7, date: new Date(2018, 7, 1), time: new Date(2018, 7, 1, 2, 25, 25), country: 'Germany', product: 'Widget', color: 'White', countryId: 1, productId: 2, colorId: 1, amount: 6989.79, discount: 0.79, active: false },
                { id: 8, date: new Date(2018, 8, 1), time: new Date(2018, 8, 1, 3, 35, 35), country: 'UK', product: 'Gadget', color: 'Black', countryId: 2, productId: 1, colorId: 4, amount: 8618.44, discount: 0.59, active: true },
                { id: 9, date: new Date(2018, 9, 1), time: new Date(2018, 9, 1, 4, 45, 45), country: 'UK', product: 'Doohickey', color: 'Black', countryId: 3, productId: 2, colorId: 0, amount: 5466.72, discount: 0.02, active: false }
            ];

            $scope.data = new wijmo.CollectionView(data);

            // keep the control in edit mode if 'alwaysEdit' is set to true
            $scope.selectionChangedHandler = function () {
                if ($scope.alwaysEdit == true && $scope.flexGrid.containsFocus()) {
                    setTimeout(function () {
                        $scope.flexGrid.startEditing(false);
                    }, 50);
                }
            };
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre><b>Test Case 87408:[FlexGrid] To test whether cell is always in edit mode if set 'alwaysEdit' option which use 'startEditing' method</b></pre>

    <input id="chkAlwaysEdit" ng-model="alwaysEdit" type="checkbox" />Always Editing
    <br />
    <wj-flex-grid id="flexGrid"
        control="flexGrid" 
        items-source="data"
        selection-changed="selectionChangedHandler()">
        <wj-flex-grid-column header="id" binding="id" is-read-only="true"></wj-flex-grid-column>       	       
        <wj-flex-grid-column header="country" binding="country"></wj-flex-grid-column>	
        <wj-flex-grid-column header="Product" binding="product"></wj-flex-grid-column>
        <wj-flex-grid-column header="Color" binding="color"></wj-flex-grid-column>		
        <wj-flex-grid-column header="amount" binding="amount" format="n2" ></wj-flex-grid-column>
        <wj-flex-grid-column header="discount" binding="discount" format="p0" ></wj-flex-grid-column>
		<wj-flex-grid-column header="active" binding="active" data-type="Boolean" align="center"></wj-flex-grid-column>  
    </wj-flex-grid>
</body>
</html>
