﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(','),
                data = [];
            for (var i = 0; i < 5; i++) {
                data.push({
                    id: i,
                    country: countries[i % countries.length],
                    countryMapped: i % countries.length,
                    date: new Date(2018, i % 12, i % 28),
                    amount: (i+1) * 1000,
                    active: i % 4 == 0
                });
            }
                        
            $scope.data = new wijmo.CollectionView(data);

            $scope.countries = countries;
            var countryMap = [
                { name: 'US', key: 0 },
                { name: 'Germany', key: 1 },
                { name: 'UK', key: 2 },
                { name: 'Japan', key: 3 },
                { name: 'Italy', key: 4 },
                { name: 'Greece', key: 5 }
            ];
            $scope.countryMap = new wijmo.grid.DataMap(new wijmo.CollectionView(countryMap), 'key', 'name');

        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre><b>Test Case 84455:[FlexGrid] To test whether 'autoSizeColumn/autoSizeColumns' methods are working correctly in FlexGrid</b></pre>

	<wj-flex-grid id="flexGrid" control="flexGrid" items-source="data">
        <wj-flex-grid-column header="id" binding="id"></wj-flex-grid-column>
		<wj-flex-grid-column header="country" binding="countryMapped" data-map="countryMap"></wj-flex-grid-column>
        <wj-flex-grid-column header="date" binding="date"></wj-flex-grid-column>
		<wj-flex-grid-column header="amount" binding="amount"></wj-flex-grid-column>		    
		<wj-flex-grid-column header="active" binding="active"></wj-flex-grid-column>
	</wj-flex-grid>
    <br />
    <button id="btnAutoSizeCol" class="btn btn-default" ng-click="flexGrid.autoSizeColumn(0)">autoSizeColumn(0)</button>
    <button id="btnAutoSizeCol2" class="btn btn-default" ng-click="flexGrid.autoSizeColumn(0, true, 30)">autoSizeColumn(0,true,30)</button>
    <button id="btnAutoSizeCol3" class="btn btn-default" ng-click="flexGrid.autoSizeColumn(1, false)">autoSizeColumn(1,false)</button>
    <button id="btnAutoSizeCol4" class="btn btn-default" ng-click="flexGrid.autoSizeColumn(1, false, 10)">autoSizeColumn(1,false,10)</button>
    <br /><br />

    <wj-flex-grid id="flexGrid2" control="flexGrid2" items-source="data" style="height:200px">
        <wj-flex-grid-column header="id" binding="id"></wj-flex-grid-column>
		<wj-flex-grid-column header="country" binding="countryMapped" data-map="countryMap"></wj-flex-grid-column>
        <wj-flex-grid-column header="date" binding="date"></wj-flex-grid-column>
		<wj-flex-grid-column header="amount" binding="amount"></wj-flex-grid-column>		    
		<wj-flex-grid-column header="active" binding="active"></wj-flex-grid-column>
	</wj-flex-grid>
    <br />  
    <button id="btnAutoSizeCols" class="btn btn-default" ng-click="flexGrid2.autoSizeColumns(0, 1)">autoSizeColumns(0,1)</button> 
    <button id="btnAutoSizeCols2" class="btn btn-default" ng-click="flexGrid2.autoSizeColumns(2, 4, false)">autoSizeColumns(2,4,false)</button>
    <button id="btnAutoSizeCols3" class="btn btn-default" ng-click="flexGrid2.autoSizeColumns(2, 4, false, 20)">autoSizeColumns(2,4,false,20)</button>
    <button id="btnAutoSizeCols4" class="btn btn-default" ng-click="flexGrid2.autoSizeColumns()">autoSizeColumns()</button>
</body>
</html>
