﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope, $compile) {

            var countries = 'US,Germany,UK,Japan'.split(','),
                products = 'Widget,Gadget,Doohickey'.split(','),
                colors = 'Red,Blue,White'.split(','),
                data = [];
            for (var i = 0; i < 30; i++) {
                data.push({
                    id: i,
                    country: countries[i % countries.length],
                    product: products[i % products.length],
                    color: colors[i % colors.length],
                    date: new Date(2018, i % 12, i % 28),
                    amount: (i + 1) * 123,
                    active: i % 4 == 0
                });
            }

            $scope.data = new wijmo.CollectionView(data);

            $scope.filter = '';

            // ICollectionView filter function
            function filterFunction(item) {
                var f = $scope.filter;
                if (f && item) {

                    // split string into terms to enable multi-field searches such as 'us gadget red'
                    var terms = f.toUpperCase().split(' ');

                    // look for any term in any string field
                    for (var i = 0; i < terms.length; i++) {
                        var termFound = false;
                        for (var key in item) {
                            var value = item[key];
                            if (angular.isString(value) && value.toUpperCase().indexOf(terms[i]) > -1) {
                                termFound = true;
                                break;
                            }
                        }

                        // fail if any of the terms is not found
                        if (!termFound) {
                            return false;
                        }
                    }
                }

                // include item in view
                return true;
            }

            // apply filter (applied on a 500 ms timeOut)
            var toFilter;
            $scope.$watch('filter', function () {
                if (toFilter) {
                    clearTimeout(toFilter);
                }
                toFilter = setTimeout(function () {
                    toFilter = null;
                    if ($scope.flexGrid) {
                        var cv = $scope.flexGrid.collectionView;
                        if (cv) {
                            if (cv.filter != filterFunction) {
                                cv.filter = filterFunction;
                            } else {
                                cv.refresh();
                            }
                            $scope.$apply('flexGrid.collectionView');
                        }
                    }
                }, 100);
            });
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre><b>Test Case 87411:[FlexGrid] To test whether filtering the grid returns correct data rows after a row is edited or a new row is added</b></pre>
    
    <wj-flex-grid control="flexGrid" style="height: 400px;" 
        allow-add-new="true"
        items-source="data">
    </wj-flex-grid>
    <br />
    <div>
        <div class="col-md-4 col-md-offset-0 col-xs-10 col-xs-offset-1">
            <input type="text" class="form-control app-pad" placeholder="Filter" ng-model="filter" />
        </div>
        <div class="col-md-5 col-md-offset-3 col-xs-10 col-xs-offset-1">
            <wj-collection-view-navigator cv="flexGrid.collectionView" class="pull-right"></wj-collection-view-navigator>
        </div>
    </div>
</body>
</html>
