﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/flexGrid_appCtrl.js" type="text/javascript"></script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre><b>Test Case 80055:[FlexGrid] To test whether “isReadOnly” option is working correctly in all the column type of FlexGrid</b></pre>
    <label>
        isReadOnly: 
        <input id="chkReadOnly0" type="checkbox" ng-model="ctx.flex.columns[0].isReadOnly"/>id
        <input id="chkReadOnly1" type="checkbox" ng-model="ctx.flex.columns[1].isReadOnly"/>date
        <input id="chkReadOnly2" type="checkbox" ng-model="ctx.flex.columns[2].isReadOnly"/>country
        <input id="chkReadOnly3" type="checkbox" ng-model="ctx.flex.columns[3].isReadOnly"/>product
        <input id="chkReadOnly4" type="checkbox" ng-model="ctx.flex.columns[4].isReadOnly"/>color
        <input id="chkReadOnly5" type="checkbox" ng-model="ctx.flex.columns[5].isReadOnly"/>amount
        <input id="chkReadOnly6" type="checkbox" ng-model="ctx.flex.columns[6].isReadOnly"/>active
    </label>
    <br />
    <wj-flex-grid id="flexGrid"
        control="ctx.flex"
        items-source="data"
        headers-visibility="All">
        <wj-flex-grid-column header="id" binding="id"></wj-flex-grid-column>
        <wj-flex-grid-column header="date" binding="date" format="d"></wj-flex-grid-column>	       
        <wj-flex-grid-column header="country" binding="country" data-map="countryMap"></wj-flex-grid-column>			
		<wj-flex-grid-column header="product" binding="product"></wj-flex-grid-column>
		<wj-flex-grid-column header="color" binding="color"></wj-flex-grid-column>	      
        <wj-flex-grid-column header="amount" binding="amount" format="n2" ></wj-flex-grid-column>
		<wj-flex-grid-column header="active" binding="active" data-type="Boolean" align="center"></wj-flex-grid-column>  
    </wj-flex-grid>
</body>
</html>
