﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/flexGrid_appCtrl.js" type="text/javascript"></script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><wj-group-panel grid="ctx.flex"
		placeholder="Drag and drop columns here to create Groups"
		max-groups="4"
		hide-grouped-columns="false">
	</wj-group-panel>
    <wj-flex-grid class="grid" 
        id="flexGrid"
        control="ctx.flex" 
        items-source="htmlView"
        style="width: 1000px; height: 350px;">
        <wj-flex-grid-column header="id" binding="id"></wj-flex-grid-column>	
        <wj-flex-grid-column header="date" binding="date" format="d"></wj-flex-grid-column>	   
        <wj-flex-grid-column header="country" binding="country" data-map="countryMap" is-content-html="true"></wj-flex-grid-column>			
		<wj-flex-grid-column header="product" binding="product" is-content-html="true"></wj-flex-grid-column>
		<wj-flex-grid-column header="color" binding="color"></wj-flex-grid-column>	
        <wj-flex-grid-column header="amount" binding="amount" format="n0" ></wj-flex-grid-column>
		<wj-flex-grid-column header="active" binding="active" data-type="Boolean" align="center"></wj-flex-grid-column>  
    </wj-flex-grid>
    <br />
    <button id="btnContentHtml" class="btn btn-default" ng-click="col_isContentHtml()">
        isContentHtml
    </button>
    <br />
    <p>
        1. Browse attached sample. 
        2. Check 'product' (isContentHtml = true) and 'country' (isContentHtml = true) column in FlexGrid. 
        [Expected]
        'product' column and 'country' column renders with HTML contents.
    </p>
</body>
</html>
