﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css">
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/flexGrid_appCtrl.js" type="text/javascript"></script>
    <script src="../scripts/directives/appDctv.js" type="text/javascript"></script>
    <link href="../styles/app.css" rel="stylesheet">
    <link href="../styles/flexgrid.css" rel="stylesheet" type="text/css">
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div>
        isRequired:
		<input id="chkCountry" type="checkbox" ng-model="flexGrid.columns[1].isRequired"/>country
		<input id="chkProduct" type="checkbox" ng-model="flexGrid.columns[2].isRequired"/>product
		<input id="chkDate" type="checkbox" ng-model="flexGrid.columns[3].isRequired"/>date
		<input id="chkAmount" type="checkbox" ng-model="flexGrid.columns[4].isRequired"/>amount
		<input id="chkActive" type="checkbox" ng-model="flexGrid.columns[5].isRequired"/>active
    </div>
    <br />
    <wj-flex-grid control="flexGrid" 
        allow-delete="true" 
        allow-add-new="true"
        allow-dragging="None" 
        allow-merging="All" 
        items-source="data">
        <wj-flex-grid-column header="id" binding="id" align="right" is-read-only="true"></wj-flex-grid-column>				
		<wj-flex-grid-column header="product" binding="product" is-required="true"></wj-flex-grid-column>
		<wj-flex-grid-column header="country" binding="country" is-required="true"></wj-flex-grid-column>
		<wj-flex-grid-column header="date" binding="date" is-required="true"></wj-flex-grid-column>       
        <wj-flex-grid-column header="amount" binding="amount" format="n0" is-required="true"></wj-flex-grid-column>
		<wj-flex-grid-column header="active" binding="active" data-type="Boolean" align="center" is-required="true"></wj-flex-grid-column>
    </wj-flex-grid>
    <br />
    <p>
        1.Run attached sample.<br />
        2.Toggle off 'required' check box.<br />
        3.Select a cell from any column and press 'Delete' key.<br />
        [Observe]Null values and empty strings are allowed in all column types.<br />
        4.Toggle on 'required' check box.<br />
        5.Select a cell from any column and press 'Delete' key.<br />
        [Observe]Values are required and null/empty values are not allowed in all column
        types.
    </p>
</body>
</html>
