﻿<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Excel Import Export</title>

	<!-- ensure IE uses the latest version of IE -->
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	 <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css">

	<!-- SheetJS library -->
	<script src="../scripts/ExcelConverter/jszip.min.js"></script>
	<script src="../scripts/ExcelConverter/c1xlsx.js"></script>

	<!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link rel="stylesheet" type="text/css" href="../styles/vendor/wijmo.min.css">

	<!-- app scripts -->
	<script src="../scripts/ExcelConverter/ExcelConverter.js" type="text/javascript"></script>
	<script src="../scripts/services/dataSvc.js" type="text/javascript"></script>
    <script src="../scripts/services/dataService.js" type="text/javascript"></script>
	<script src="../scripts/controllers/ExcelImportExport_Controller.js" type="text/javascript"></script>
	<link href="styles/app.css" rel="stylesheet" />
</head>
<body ng-app="app" ng-controller="basicController">	
	
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><!-- commands -->
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-xs-12">
				<div class="form-inline well well-lg">
					<input type="file" class="form-control" id="importFile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
					<button class="btn btn-default" ng-click="importExcel()">Import</button>
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="ctx.includeColumnHeader"> Include Column Header
						</label>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-xs-12">
				<div class="form-inline well well-lg">
					<a download="FlexGrid.xlsx" href="" class="btn btn-default" id="export" ng-click="exportExcel()">Export</a>
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="ctx.includeColumnHeader"> Include Column Header
						</label>
					</div>
				</div>
			</div>
		</div>
		<!-- the flex grid -->
		<div class="row">
			<wj-flex-grid style="max-height:400px" 
				control="ctx.flexGrid" 
				items-source="ctx.data">
				<wj-flex-grid-column header="ID" binding="id"></wj-flex-grid-column>
				<wj-flex-grid-column header="Start Date" binding="start" format="d"></wj-flex-grid-column>
				<wj-flex-grid-column header="End Date" binding="end" format="d"></wj-flex-grid-column>
				<wj-flex-grid-column header="Country" binding="country"></wj-flex-grid-column>
				<wj-flex-grid-column header="Product" binding="product"></wj-flex-grid-column>
				<wj-flex-grid-column header="Color" binding="color"></wj-flex-grid-column>
				<wj-flex-grid-column header="Amount" binding="amount" format="c" aggregate="Sum"></wj-flex-grid-column>
				<wj-flex-grid-column header="Pending" binding="amount2" format="c2" aggregate="Sum"></wj-flex-grid-column>
				<wj-flex-grid-column header="Discount" binding="discount" format="p1" aggregate="Avg"></wj-flex-grid-column>
				<wj-flex-grid-column header="Active" binding="active"></wj-flex-grid-column>
			</wj-flex-grid>
		</div>
	</div>
</body>
</html>
