﻿body {
	font-family: 'Segoe UI', sans-serif;
	background-color: #f8f8f8;
}

.header {
	background-color: #80044d;
	margin-bottom: 14px;
	padding: 12px 0px;
	color: #e3bfd5;
}

	.header h1 {
		font-size: 40px;
		line-height: 1;
		margin: 8px 0 5px 0;
		color: #fff;
	}

	.header img {
		float: left;
		margin: 0 10px 5px 0;
	}

h2 {
	margin: 15px 0 30px -12px;
}

h1, h2, h3, h4, h5, h6 {
	color: #80044d;
}

.pane-content {
	background-color: white;
	padding: 0px 8px;
	border: 1px solid #dddddd;
	border-top: none;
	white-space: pre;
	overflow: auto;
	font-size: 13px;
	font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
}

/* set default grid height and some shadow */
.wj-flexgrid {
	height: 400px;
	background-color: white;
	box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.75);
	margin-bottom: 12px;
}

/* create a 'custom-flex-grid' theme for the FlexGrid */
.custom-flex-grid .wj-header.wj-cell {
	background-color: #000;
	color: #fff;
	font-weight: bold;
	border-right: solid 1px #404040;
	border-bottom: solid 1px #404040;
}

.custom-flex-grid .wj-cell {
	border: none;
	background-color: #fff;
}

.custom-flex-grid .wj-alt:not(.wj-state-selected):not(.wj-state-multi-selected) {
	background-color: #fff;
}

.custom-flex-grid .wj-state-selected {
	background: #000;
	color: #fff;
}

.custom-flex-grid .wj-state-multi-selected {
	background: #222222;
	color: #fff;
}

.row {
	margin-top: 40px;
	margin-bottom: 25px;
}

@media(max-width: 991px) {
	.header h1 {
		font-size: 22px;
		line-height: 1;
		margin-top: 7px;
		color: #fff;
	}

	h2 {
		font-size: 22px;
		margin: 10px 0 25px 0;
	}

	h4 {
		font-size: 14px;
		margin: 20px 0 20px 0;
	}

	.wj-flexgrid {
		box-shadow: 2px 2px 8px 0 rgba(50, 50, 50, 0.5);
		margin-bottom: 20px;
	}
}

@media(max-width: 767px) {
	.wj-flexgrid {
		box-shadow: 2px 2px 8px 0 rgba(50, 50, 50, 0.5);
		margin-bottom: 15px;
	}
}
