body {
    background-color: #f8f8f8;
    font-family: -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    padding: 0 0 10px;
}

h1, h2, h3, h4, h5, h6 {
    color: #80044d;
    font-family: -apple-system-font, 'Segoe UI Light', 'Segoe UI', 'Roboto', sans-serif;
    font-weight: 300;
}

h2 {
    margin-top: 24px;
    margin-left: -12px;
}

.header {
    color: #e3bfd5;
    background-color: #80044d;
    margin-bottom: 14px;
    padding: 12px 0;
}

    .header h1 {
        color: #fff;
        font-size: 40px;
        line-height: 1;
        margin-top: 0;
    }

    .header img {
		float: left;
		margin: 0 10px 5px 0;
	}

.pane-content {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: none;
    font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
    font-size: 13px;
    overflow: auto;
    padding: 0 8px;
    white-space: pre;
}

.app-input-group {
    margin: 5px 0 10px;
}

    .app-input-group > label {
        display: block;
    }

.pane-content code {
    background-color: #fff;
    color: #000;
    padding: 0;
}

/* Wijmo Supporting Classes */
.radial-gauge,
.custom-gauge.wj-radialgauge {
    height: 200px;
    width: 700px;
}

.linear-gauge
{
    height: 30px;
    width: 700px;
}

.linear-gauge,
.radial-gauge,
.custom-gauge {
    margin: 10px 0 10px;
}

    /*
 *  Custom CSS class for "Styling" example
 *  Creates orange gauge pointer
 */
    .custom-gauge .wj-pointer {
        fill: #ffa500;
        stroke: #cd853f;
    }