﻿/* custom styling for new row templates */
.wj-cell.wj-new:not(.wj-header):not(.wj-group):not(.wj-state-selected):not(.wj-state-multi-selected) {
    background-color: #f3fbcc;
}

/* custom styling for frozen cells */
.wj-cell.wj-frozen:not(.wj-header):not(.wj-group):not(.wj-state-selected):not(.wj-state-multi-selected) {
    background-color: #f3fbcc;
}

/* custom styling for a MultiRow */
.multirow-css .wj-cell.wj-record-end:not(.wj-header) {
    border-bottom: 1px solid #000; /* thin black lines between records */
}
.multirow-css .wj-cell.wj-group-end {
    border-right: 2px solid #00b68c; /* thick green lines between groups */
}
.multirow-css .wj-cell.id {
    color: #c0c0c0;
}
.multirow-css .wj-cell.amount { 
    color: #014701;
    font-weight: bold;
}
.multirow-css .wj-cell.email {
    color: #0010c0;
    text-decoration: underline;
}

.multirow-css .wj-cell.ordered {
    color: #0010c0;
}
.multirow-css .wj-cell.shipped {
    color: #0010c0;
}
.multirow-css .wj-cell.customerName {
    color: #0010c0;
}
.multirow-css .wj-cell.customerEmail {
    color: #0010c0;
}
.multirow-css .wj-cell.address {
    color: #0010c0;
}
.multirow-css .wj-cell.customerPhone {
    color: #0010c0;
}
.multirow-css .wj-cell.city {
    color: #0010c0;
}
.multirow-css .wj-cell.state {
    color: #0010c0;
}
.multirow-css .wj-cell.zip {
    color: #0010c0;
}
.multirow-css .wj-cell.shipperName {
    color: #0010c0;
}
.multirow-css .wj-cell.shipperEmail {
    color: #0010c0;
}
.multirow-css .wj-cell.express {
    color: #0010c0;
}

.wj-flexgrid {
    max-height: 300px;
}

.tabbable {
    margin-bottom: 12pt;
}

body {
    background-color: #f8f8f8;
    font-family: -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    padding: 0 0 10px;
}

h1, h2, h3, h4, h5, h6 {
    color: #00b68c;
    font-family: -apple-system-font, 'Segoe UI Light', 'Segoe UI', 'Roboto', sans-serif;
    font-weight: 300;
}

h2 {
    margin-top: 24px;
    margin-left: -12px;
}

.header {
    color: #d0fcf2;
    background-color: #00b68c;
    margin-bottom: 14px;
    padding: 12px 0;
}

    .header h1 {
        color: #fff;
        font-size: 40px;
        line-height: 1;
        margin-top: 0;
    }

    .header img {
		float: left;
		margin: 0 10px 5px 0;
	}

.pane-content {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: none;
    font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
    font-size: 13px;
    overflow: auto;
    padding: 0 8px;
    white-space: pre;
    max-height: 350px;
}

.pane-content code {
    background-color: #fff;
    color: #000;
    padding: 0;
}
