﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css"/>
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link rel="stylesheet" type="text/css" href="../styles/vendor/wijmo.min.css"/>
    <!-- app scripts and styles -->
    <script src="../scripts/controllers/79085_appCtrl.js" type="text/javascript"></script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><h1>
        Input Date: Min &amp; Max Issue</h1>
    <div>
        <h4>
            Doesn't Work - Should this work?</h4>
        <wj-input-date id="inputDate1" value="value" min="{{ minDate }}" max="{{ maxDate }}"></wj-input-date>
    </div>
    <div>
        <h4>
            Works</h4>
        <wj-input-date id="inputDate2" value="value" min="{{ minDate.toString() }}" max="{{ maxDate.toString() }}"></wj-input-date>
    </div>
    <div>
        <h4>
            Works</h4>
        <wj-input-date id="inputDate3" value="value" min="{{ minDate | date }}" max="{{ maxDate | date }}"></wj-input-date>
    </div>
    <div>
        <h4>
            Works</h4>
        <wj-input-date id="inputDate4" value="value" min="{{ minDateStr }}" max="{{ maxDateStr }}"></wj-input-date>
    </div>
    <p></p>
    <p>
        When using the DateInput's Angular directive and binding the min/max values to a
        Date object in my controller, I get an error alert(). <br />The error message is "Assertion
        failed: Date expected." When binding to a date string, everything seems to work
        as expected.
    </p>
</body>
</html>
