﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
     <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
 
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css">
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link rel="stylesheet" type="text/css" href="../styles/vendor/wijmo.min.css">
<!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
     <script src="../scripts/filters/appFilters.js" type="text/javascript"></script>
    <script src="../scripts/services/dataSvc.js" type="text/javascript"></script> 
    <script src="../scripts/directives/appDctv.js" type="text/javascript"></script> 
    <script src="../scripts/controllers/InputTimeCtrl.js" type="text/javascript"></script>
</head>
<body>

        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div ng-app="app" ng-controller="inputTimeCtrl">
<br />
<br />
 <div>
        <wj-menu id="mnuCulture" value="ctx.culture" header="Culture">
            <wj-menu-item value="'en'">English</wj-menu-item>
            <wj-menu-item value="'de'">German</wj-menu-item>
            <wj-menu-item value="'it'">Italian</wj-menu-item>
            <wj-menu-item value="'fr'">French</wj-menu-item>
            <wj-menu-item value="'pt'">Portuguese</wj-menu-item>
            <wj-menu-item value="'ru'">Russian</wj-menu-item>
            <wj-menu-item value="'ja'">Japanese</wj-menu-item>
            <wj-menu-item value="'ko'">Korean</wj-menu-item>
        </wj-menu>
    </div>
    
     <br />   
     <br />
    
        <table class="table">
            <thead>
                <tr>
                  
                    <th>InputTime Format</th>
                    <th>Control</th>
                    <th style="width:250px">Bound value</th>
                </tr>
            </thead>
            <tbody>

        <tr>
        
                    <td>Date</td>
                    <td>
                    
                    <wj-input-date format="t" value="ctx.value" culture="ctx.culture">
                    </wj-input-date>
                       
                    </td>
                    <td>
                        {{ctx.value}}
                    </td>
                </tr>
                
                <tr>
                    <td>Default</td>
                    <td>
                    <wj-input-time value="ctx.value"  culture="ctx.culture">
                    </wj-input-time>
                       
                    </td>
                    <td>
                        {{ctx.value}}
                    </td>
                </tr>

                
                
                <tr>
                    <td>t</td>
                    <td>
                    <wj-input-time value="ctx.value"  format="t" >
                    </wj-input-time>
                       
                    </td>
                    <td>
                        {{ctx.value | glbz:'t'}}
                    </td>
                </tr>
                <tr>
                    <td>H:mm</td>
                    <td>
                    <wj-input-time value="ctx.value"  format="H:mm" >
                    </wj-input-time>
                       
                    </td>
                    <td>
                        {{ctx.value | glbz:'H:mm'}}
                    </td>
                </tr>
                <tr>
                    <td>T</td>
                    <td>
                    <wj-input-time value="ctx.value"  format="T" >
                    </wj-input-time>
                       
                    </td>
                    <td>
                        {{ctx.value | glbz:'T'}}
                    </td>
                </tr>
                <tr>
                    <td>H:mm:ss</td>
                    <td>
                    <wj-input-time value="ctx.value"  format="H:mm:ss" >
                    </wj-input-time>
                       
                    </td>
                    <td>
                        {{ctx.value | glbz:'H:mm:ss'}}
                    </td>
                </tr>

                <tr>
                    <td>hh:mm:ss tt</td>
                    <td>
                    <wj-input-time value="ctx.value"  format="hh:mm:ss tt" >
                    </wj-input-time>
                       
                    </td>
                    <td>
                        {{ctx.value | glbz:'hh:mm:ss tt'}}
                    </td>
                </tr>
                
                <tr>
                    <td>HH:mm:ss</td>
                    <td>
                    <wj-input-time value="ctx.value"  format="HH:mm:ss" >
                    </wj-input-time>
                       
                    </td>
                    <td>
                        {{ctx.value | glbz:'HH:mm:ss'}}
                    </td>
                </tr>


            </tbody>
        </table>
  
</div>

</body>
</html>
