﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
 
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css">
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link rel="stylesheet" type="text/css" href="../styles/vendor/wijmo.min.css">
<!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
     <script src="../scripts/filters/appFilters.js" type="text/javascript"></script>
    <script src="../scripts/services/dataSvc.js" type="text/javascript"></script> 
    <script src="../scripts/directives/appDctv.js" type="text/javascript"></script> 
    <script src="../scripts/controllers/inputMaskCtrl.js" type="text/javascript"></script>
</head>
<body>

        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div ng-app="app" ng-controller="inputMaskCtrl">

       <p>
        <b>Test Case 98702 </b>
        
[InputMask] To test whether PromptChar is displayed for each masking element
      </p>
       <br />
       <table>
       <tr>
                    <td>InputMask</td>
                    <td>


                        <wj-input-mask control="ctx.inpMask1"
                                       class="fixedPitch"
                                       title="mask: {{ctx.mask}}"
                                       mask="{{ctx.mask}}"
                                       
                                       prompt-char="{{ctx.promptChar}}"
                                       placeholder="{{ctx.placeholder}}"
                                       value-changed="maskValueChanged(s,e)">

                        </wj-input-mask>

                    </td>
                    <td>
                        Value: {{ctx.value }}<br />
                    </td>
                </tr>
                <tr>
                    <td>Mask</td>
                    <td>


                        <wj-input-mask value="ctx.mask"></wj-input-mask>

                    </td>
                    <td>
                        Value: {{ctx.mask }}<br />
                    </td>
                </tr>
                <tr>
                    <td>PromptChar</td>
                    <td>


                        <wj-input-mask value="ctx.promptChar"></wj-input-mask>

                    </td>
                    <td>
                        Value: {{ctx.promptChar}}<br />
                    </td>
                </tr>
       </table>
    <!-- Repro Steps from TFS-->
    </br>

    <b>Steps</b></br>
    1. Enter PromptChart</br>
    Observe: PromptChar should be displayed for each masking element
</div>

</body>
</html>
