﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
     <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
 
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css">
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link rel="stylesheet" type="text/css" href="../styles/vendor/wijmo.min.css">
<!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
     <script src="../scripts/filters/appFilters.js" type="text/javascript"></script>
    <script src="../scripts/services/dataSvc.js" type="text/javascript"></script> 
    <script src="../scripts/directives/appDctv.js" type="text/javascript"></script> 
    <script src="../scripts/controllers/InputDateCtrl.js" type="text/javascript"></script>
    <link href="../styles/Input.css" rel="stylesheet" type="text/css" />
</head>
<body>

        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div ng-app="app" ng-controller="inputDateCtrl">


    
    <div>
        <wj-menu value="ctx.culture" header="Culture" >
            <wj-menu-item value="'en'">English</wj-menu-item>
            <wj-menu-item value="'de'">German</wj-menu-item>
            <wj-menu-item value="'it'">Italian</wj-menu-item>
            <wj-menu-item value="'fr'">French</wj-menu-item>
            <wj-menu-item value="'pt'">Portuguese</wj-menu-item>
            <wj-menu-item value="'ru'">Russian</wj-menu-item>
            <wj-menu-item value="'ja'">Japanese</wj-menu-item>
            <wj-menu-item value="'ko'">Korean</wj-menu-item>
        </wj-menu>
    </div>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>InputDate Format</th>
                    <th>Control</th>
                    <th style="width:250px">Bound value</th>
                </tr>
            </thead>
            <tbody>

                
                
                <tr>
                    <td>Default</td>
                    <td>
                    <wj-input-date class="inputDateFormat" value="ctx.value" >
                    </wj-input-date>
                       
                    </td>
                    <td>
                        {{ctx.value}}
                    </td>
                </tr>
                <tr>
                    <td>d<br />
                   
                    </td>
                    <td>
                    <wj-input-date value="ctx.value"  format="d" class="inputDateFormat" >
                    </wj-input-date>
                       
                    </td>
                    <td>
                        {{ctx.value | glbz:'d'}}
                    </td>
                </tr>
                <tr>
                    <td>ggg yy/M/d<br />
                   
                    </td>
                    <td>
                    <wj-input-date value="ctx.value"  format="ggg yy/M/d" class="inputDateFormat" >
                    </wj-input-date>
                       
                    </td>
                    <td>
                        {{ctx.value | glbz:'ggg yy/M/d'}}
                    </td>
                </tr>
                <tr>
                    <td>D</td>
                    <td>
                    <wj-input-date value="ctx.value"  format="D" class="inputDateFormat" >
                    </wj-input-date>
                       
                    </td>
                    <td>
                        {{ctx.value | glbz:'D'}}
                    </td>
                </tr>
                <tr>
                    <td>ggg yy"年"M"月"d"日"</td>
                    <td>
                    <wj-input-date value="ctx.value"  format='ggg yy"年"M"月"d"日"' class="inputDateFormat" >
                    </wj-input-date>
                       
                    </td>
                    <td>
                        {{ctx.value | glbz:'ggg yy"年"M"月"d"日"'}}
                    </td>
                </tr>
                <tr>
                    <td>f</td>
                    <td>
                    <wj-input-date value="ctx.value"  format="f" class="inputDateFormat" >
                    </wj-input-date>
                       
                    </td>
                    <td>
                        {{ctx.value | glbz:'f'}}
                    </td>
                </tr>
                 <tr>
                    <td>ggg yy"年"M"月"d"日" H:mm</td>
                    <td>
                    <wj-input-date value="ctx.value"  format='ggg yy"年"M"月"d"日" H:mm' class="inputDateFormat" >
                    </wj-input-date>
                       
                    </td>
                    <td>
                        {{ctx.value | glbz:'ggg yy"年"M"月"d"日" H:mm'}}
                    </td>
                </tr>
                <tr>
                    <td>F</td>
                    <td>
                    <wj-input-date value="ctx.value"  format="F" class="inputDateFormat">
                    </wj-input-date>
                       
                    </td>
                    <td>
                        {{ctx.value | glbz:'F'}}
                    </td>
                </tr>
                <tr>
                    <td>ggg yy"年"M"月"d"日" H:mm:ss</td>
                    <td>
                    <wj-input-date value="ctx.value"  format='ggg yy"年"M"月"d"日" H:mm:ss' class="inputDateFormat">
                    </wj-input-date>
                       
                    </td>
                    <td>
                        {{ctx.value | glbz:'ggg yy"年"M"月"d"日" H:mm:ss'}}
                    </td>
                </tr>
                <tr>
                    <td>g</td>
                    <td>
                    <wj-input-date value="ctx.value"  format="g" class="inputDateFormat" >
                    </wj-input-date>
                       
                    </td>
                    <td>
                        {{ctx.value | glbz:'g'}}
                    </td>
                </tr>
                <tr>
                    <td>ggg yy/M/d H:mm</td>
                    <td>
                    <wj-input-date value="ctx.value"  format='ggg yy/M/d H:mm' class="inputDateFormat" >
                    </wj-input-date>
                       
                    </td>
                    <td>
                        {{ctx.value | glbz:'ggg yy/M/d H:mm'}}
                    </td>
                </tr>
                <tr>
                    <td>G</td>
                    <td>
                    <wj-input-date value="ctx.value"  format="G" class="inputDateFormat">
                    </wj-input-date>
                       
                    </td>
                    <td>
                        {{ctx.value | glbz:'G'}}
                    </td>
                </tr>
                <tr>
                    <td>ggg yy/M/d H:mm:ss</td>
                    <td>
                    <wj-input-date value="ctx.value"  format='ggg yy/M/d H:mm:ss' class="inputDateFormat">
                    </wj-input-date>
                       
                    </td>
                    <td>
                        {{ctx.value | glbz:'ggg yy/M/d H:mm:ss'}}
                    </td>
                </tr>
                <tr>
                    <td>m</td>
                    <td>
                    <wj-input-date value="ctx.value"  format="m" class="inputDateFormat" >
                    </wj-input-date>
                       
                    </td>
                    <td>
                        {{ctx.value | glbz:'m'}}
                    </td>
                </tr>
                <tr>
                    <td>M"月"d"日"</td>
                    <td>
                    <wj-input-date value="ctx.value"  format='M"月"d"日"' class="inputDateFormat" >
                    </wj-input-date>
                       
                    </td>
                    <td>
                        {{ctx.value | glbz:'M"月"d"日"'}}
                    </td>
                </tr>
                <tr>
                    <td>M</td>
                    <td>
                    <wj-input-date value="ctx.value"  format="M" class="inputDateFormat">
                    </wj-input-date>
                       
                    </td>
                    <td>
                        {{ctx.value | glbz:'M'}}
                    </td>
                </tr>
                <tr>
                    <td>y</td>
                    <td>
                    <wj-input-date value="ctx.value"  format="y" class="inputDateFormat" >
                    </wj-input-date>
                       
                    </td>
                    <td>
                        {{ctx.value | glbz:'y'}}
                    </td>
                </tr>
                <tr>
                    <td>ggg yy"年"M"月"</td>
                    <td>
                    <wj-input-date value="ctx.value"  format='ggg yy"年"M"月"' class="inputDateFormat" >
                    </wj-input-date>
                       
                    </td>
                    <td>
                        {{ctx.value | glbz:'ggg yy"年"M"月"'}}
                    </td>
                </tr>
                <tr>
                    <td>Y</td>
                    <td>
                    <wj-input-date value="ctx.value"  format="Y" class="inputDateFormat">
                    </wj-input-date>
                       
                    </td>
                    <td>
                        {{ctx.value | glbz:'Y'}}
                    </td>
                </tr>
                <tr>
                    <td>s</td>
                    <td>
                    <wj-input-date value="ctx.value"  format="s" class="inputDateFormat" >
                    </wj-input-date>
                       
                    </td>
                    <td>
                        {{ctx.value | glbz:'s'}}
                    </td>
                </tr>
                <tr>
                    <td>yyyy"-"M"-"d"T"HH":"mm":"ss</td>
                    <td>
                    <wj-input-date value="ctx.value"  format='yyyy"-"M"-"d"T"HH":"mm":"ss' class="inputDateFormat" >
                    </wj-input-date>
                       
                    </td>
                    <td>
                        {{ctx.value | glbz:'yyyy"-"M"-"d"T"HH":"mm":"ss'}}
                    </td>
                </tr>
                <tr>
                    <td>t</td>
                    <td>
                    <wj-input-date value="ctx.value"  format="t" class="inputDateFormat">
                    </wj-input-date>
                       
                    </td>
                    <td>
                        {{ctx.value | glbz:'t'}}
                    </td>
                </tr>
                <tr>
                    <td>H:mm</td>
                    <td>
                    <wj-input-date value="ctx.value"  format="H:mm" class="inputDateFormat">
                    </wj-input-date>
                       
                    </td>
                    <td>
                        {{ctx.value | glbz:'H:mm'}}
                    </td>
                </tr>
                <tr>
                    <td>T</td>
                    <td>
                    <wj-input-date value="ctx.value"  format="T" class="inputDateFormat">
                    </wj-input-date>
                       
                    </td>
                    <td>
                        {{ctx.value | glbz:'T'}}
                    </td>
                </tr>
                <tr>
                    <td>H:mm:ss</td>
                    <td>
                    <wj-input-date value="ctx.value"  format="H:mm:ss" class="inputDateFormat">
                    </wj-input-date>
                       
                    </td>
                    <td>
                        {{ctx.value | glbz:'H:mm:ss'}}
                    </td>
                </tr>




                <tr>
                    <td>M/d/yy</td>
                    <td>
                    <wj-input-date value="ctx.value" format="M/d/yy" class="inputDateFormat">
                    </wj-input-date>
                       
                    </td>
                    <td>
                        {{ctx.value | glbz:'M/d/yy'}}
                    </td>
                </tr>
                <tr>
                    <td>MM/dd/yy</td>
                    <td>
                    <wj-input-date value="ctx.value" format="MM/dd/yy" class="inputDateFormat">
                    </wj-input-date>
                       
                    </td>
                    <td>
                        {{ctx.value | glbz:'MM/dd/yy'}}
                    </td>
                </tr>
                <tr>
                    <td>yyyy-MMM-dd, ddd </td>
                    <td>
                    <wj-input-date value="ctx.value" format="yyyy-MMM-dd, ddd" class="inputDateFormat">
                    </wj-input-date>
                       
                    </td>
                    <td>
                        {{ctx.value | glbz:'yyyy-MMM-dd, ddd'}}
                    </td>
                </tr>
                <tr>
                    <td>MMMM-dd, yyyy, dddd </td>
                    <td>
                    <wj-input-date value="ctx.value" format="MMMM-dd, yyyy, dddd" class="inputDateFormat">
                    </wj-input-date>
                       
                    </td>
                    <td>
                        {{ctx.value | glbz:'MMMM-dd, yyyy, dddd'}}
                    </td>
                </tr>

                <tr>
                    <td>ggg yyyy/M/d<br />
                   
                    </td>
                    <td>
                    <wj-input-date value="ctx.value"  format="ggg yyyy/M/d" class="inputDateFormat" >
                    </wj-input-date>
                       
                    </td>
                    <td>
                        {{ctx.value | glbz:'ggg yyyy/M/d'}}
                    </td>
                </tr>
                <tr>
                    <td>gg yy/MM/dd<br />
                   
                    </td>
                    <td>
                    <wj-input-date value="ctx.value"  format="gg yy/MM/dd" class="inputDateFormat" >
                    </wj-input-date>
                       
                    </td>
                    <td>
                        {{ctx.value | glbz:'gg yy/MM/dd'}}
                    </td>
                </tr>
                <tr>
                    <td>g yy/M/d<br />
                   
                    </td>
                    <td>
                    <wj-input-date value="ctx.value"  format="g yy/M/d" class="inputDateFormat" >
                    </wj-input-date>
                       
                    </td>
                    <td>
                        {{ctx.value | glbz:'g yy/M/d'}}
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>

</body>
</html>
