﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
       <title></title>
       <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
 
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css">
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link rel="stylesheet" type="text/css" href="../styles/vendor/wijmo.min.css">
<!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
     <script src="../scripts/filters/appFilters.js" type="text/javascript"></script>
    <script src="../scripts/services/dataSvc.js" type="text/javascript"></script> 
    <script src="../scripts/directives/appDctv.js" type="text/javascript"></script> 
    <script src="../scripts/controllers/InputDateCtrl.js" type="text/javascript"></script>
    <link href="../styles/Input.css" rel="stylesheet" type="text/css" />
</head>
<body>

        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div ng-app="app" ng-controller="inputDateCtrl">

       <p>
        <b>TFS 79442 (QA Issue) </b>
        [Wijmo 5 Explorer][InputDate][InputTime] Unlike InputNumber, when invalid character is entered in InputDate or InputTime, script error is occurred
      </p>
       <br />
       <table>
       <tr>
                    <td>InputDate<br />
                   
                    </td>
                    <td>
                    <wj-input-date value="ctx.value"  format="d" class="inputDateFormat" >
                    </wj-input-date>
                       
                    </td>
                    <td>
                        {{ctx.value | glbz:'d'}}
                    </td>
                </tr>
                <tr>
                <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>InputTime</td>
                    <td>
                    <wj-input-time value="ctx.value" is-editable="true">
                    </wj-input-time>
                       
                    </td>
                    <td>
                        {{ctx.value | glbz:'t'}}
                    </td>
                </tr>
       </table>
    <!-- Repro Steps from TFS-->
    </br>

    <b>Steps</b></br>
1.    Click any InputDate or InputTime</br>
Observe: Date or Time is in selected style.</br>

2.    Enter invalid character [e.g., 'a']
Observe: Invalid character is displayed in In</br>putDate or InputTime.</br>
3.    Press "Tab"</br>
Observe: "Date expected" message is displayed and script error is occurred. [Incorrect]</br>
Expected: When invalid characters are entered, automatically changed to original value or default value on lost focus
</div>
</body>
</html>
