﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- Wijmo -->
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<!-- Angular -->
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    
</head>
<body>
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div ng-app="app" ng-controller="appCtrl">
        <button id="btnMoveMonth" ng-click="moveMonth()">Move month</button>
        <br />
        <br />
        <wj-calendar value="date" display-month="month" style="width:300px"></wj-calendar>
    </div>
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {
            $scope.moveMonth = function () {
                $scope.date = null;
                $scope.month = new Date(2017, 0, 1);
            };
        });
    </script>
    <br />
    <br />
    <pre>
    <b>Steps to reproduce:</b>
    1. Run AngularJS sample.
    2. Click "Move month" button twice.
    Observe: Month is not changed at first, and changed to "Jan 2017" at 2nd time. (incorrect)
    </pre>
</body>
</html>
