﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />   
    
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" /> 
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        var app = angular.module("app", ['wj']);
        app.controller("appCtrl", function ($scope) {

        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>
        Click to see a modal dialog:
        <button type="button" class="btn" ng-click="modalDialog.show()">
            Click
        </button>
        <button type="button" class="btn">
            Test Button 1
        </button>
        <button type="button" class="btn">
            Test Button 2
        </button>
        <button type="button" class="btn">
            Test Button 3
        </button>
    </p>
    <wj-popup control="modalDialog" modal="true" hide-trigger="None">
    <form> 
        <h4 class="modal-header">
            Update Account Data
            <button type="button" tabindex="-1" class="close wj-hide" >&times;</button>
        </h4>
        <div class="modal-body">
            <label>
                Name:
                <input class="form-control" />
            </label>
            <br />
            <label>
                Email: <input class="form-control" />
            </label>
            <br />
            <label>
                Password: <input class="form-control" type="password" />
            </label>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary wj-hide" >
                OK
            </button>
        </div>
    </form>
    </wj-popup>
    <pre>
        <b>Steps to reproduce:</b>
        1. Execute the attached sample (PopUpIssue.zip) in IE11.
        2. Click on the "Click" button displayed on the page to open the dialog.
        Observe:
        --It displays modal dialog with input elements - Correct
        3. Click in the address bar of IE11 and press the tab key multiple times.
        Observe:
        --The focus moves within the input elements displayed in the PopUp - Correct
        4. Execute the attached sample (PopUpIssue.zip) in Google Chrome.
        5. Click on the "Click"  button displayed on the page to open the dialog.
        Observe:
        --It displays modal dialog with input elements - Correct
        6. Click in the address bar of Chrome and press the tab key multiple times.
        Observe:
        --The focus moves within the buttons displayed on the parent browser window - Incorrect
    </pre>
</body>
</html>