﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">

        // get reference to app module
        var app = angular.module('app',['wj']);

        // add controller to app module
        app.controller('appCtrl', function appCtrl($scope) {

            $scope.ctx = {
                inputDate: null,
                inputTime: null,
                inputDateTime: null
            };

            $scope.today1 = new Date(2019, 4, 25, 9, 15);
            $scope.today2 = new Date(2019, 4, 25, 9, 15);
            $scope.today3 = new Date(2019, 4, 25, 9, 15);
            $scope.minDate = new Date(2019, 3, 1);
            $scope.maxDate = new Date(2019, 5, 1);

            $scope.idTextChanged = function (sender, args) {
                var value = "InputDate TextChanged event fired.";
                $("#eventList").append('<li>' + value + '</li>');
            }

            $scope.itTextChanged = function (sender, args) {
                var value = "InputTime TextChanged event fired.";
                $("#eventList").append('<li>' + value + '</li>');
            }

            $scope.idtTextChanged = function (sender, args) {
                var value = "InputDateTime TextChanged event fired.";
                $("#eventList").append('<li>' + value + '</li>');
            }

            $scope.clear = function () {
                $("#eventList").empty();
            }
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div>inputDateTime:
    <div id="menu">
	    <wj-menu value="ctx.inputDateTime.showDropDownButton" header="showDropDownButton">
		    <wj-menu-item value="true">true</wj-menu-item>
		    <wj-menu-item value="false">false</wj-menu-item>
	    </wj-menu>
    </div>
	<br/>
	<br/>	
	<div>
		<wj-input-time control="ctx.inputTime" id="inputTime"
			value="today1"
			step="15"
			min="09:00"
			max="17:00"
			text-changed="itTextChanged()">
		</wj-input-time>
		
		<wj-input-date control="ctx.inputDate" id="inputDate"
			value="today2"
			min="{{ minDate | date:'yyyy-MM-dd' }}"
			max="{{ maxDate | date:'yyyy-MM-dd' }}"
			text-changed="idTextChanged()">
		</wj-input-date>

		<wj-input-date-time control="ctx.inputDateTime" id="inputDateTime"
			value="today3"
			min="{{ minDate | date:'yyyy-MM-dd' }}"
			max="{{ maxDate | date:'yyyy-MM-dd' }}"
			time-step="15"
			time-min="09:00"
			time-max="17:00"
			text-changed="idtTextChanged()">
		</wj-input-date-time>
	</div>
    <br/>
	<br/>
	<div id="eventList"></div>
	<button id="btnClear" ng-click="clear()">
		clear
	</button>
    <br />
	<pre>
    <b>Steps to reproduce:</b>

    1.    Run attached sample ‘prj_InputDateTime.htm’.
    2.    Open InputTime drop-down and choose a time from InputTime drop-down.
    Observe:  InputTime’s TextChanged event fired……Correct
    3.    Click ‘Clear’ button.
    4.    Open drop-down of InputDate or open date drop-down of InputDateTime.
    5.    Choose a date from calendar drop-down.
    Observe:  ‘TextChanged’ events of InputDate/InputDateTime do not fire……Incorrect – Case 1

    6.    Choose ‘false’ from ‘showDropDownButton’ menu.
    Observe: Date and Time drop-down buttons disappear from InputDateTime.
    But there is a button at the right side of InputDateTime when clicking on button area……Incorrect – Case 2
    </pre>
</body>
</html>