﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />   
    
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" /> 
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
</head>
<body>
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><label>Modal <input id="checkbox" type="checkbox" checked /></label>
    <button class="btn btn-default" onclick="showDialog()">Edit Account</button>
    <div>
        <div id="popup">
            <form ng-submit="hideDialog($event, 'Account Updated!')">
            <div class="modal-header">
                <h4>
                    Edit Account
                    <button type="button" tabindex="-1" class="close wj-hide">&times;</button>
                </h4>
            </div>
            <div class="modal-body">
                <label>
                    Email:
                    <input class="form-control" required type="email" />
                </label>
                <br />
                <label>
                    Current Password:
                    <input class="form-control" type="password" required pattern=".{4,}" title="Please enter 4 characters or more." />
                </label>
                <br />
                <label>
                    New Name:
                    <input class="form-control" pattern=".{2,}" title="Please enter 2 characters or more." />
                </label>
                <br />
                <label>
                    New Password:
                    <input class="form-control" type="password" ng-model="ctx.pw" pattern=".{4,}" title="Please enter 4 characters or more." />
                </label>
                <br />
                <label>
                    Confirm New Password:
                    <input class="form-control" type="password" ng-model="ctx.pw2" wj-validation-error="ctx.pw != ctx.pw2 ? 'Passwords don\'t match.' : ''" />
                </label>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit">
                    Update Account
                </button>
            </div>
            </form>
        </div>
    </div>
    <br/>
    <script>
        var popup = new wijmo.input.Popup('#popup');
        popup.modal = true;
        popup.hideTrigger = wijmo.input.PopupTrigger.None;

        function showDialog() {
            popup.show();
        };
    </script>
    <pre>
    Repro Steps :
    1. Run the attached sample.
    2. Click on the 'Edit Account' button.
    [Observed]
    Popup is shown and then first input control get focus.[Correct]
    3. Press 'Tab' key.
    [Observed]
    Focus is moved to the third input control.[Incorrect]
    </pre>
</body>
</html>
