﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        (function () {
            'use strict';

            angular
		.module('app', ['wj'])
		.controller('appCtrl', function ($scope) {

		   
		    $scope.inpDate1 = null;
		    $scope.today = new Date($.now());
		    $scope.value1 = "AB-C2-1234";
		    $scope.num = 1234;

		    $scope.focus_InputDate = function () {

		        var inpDate = $scope.inpDate1;

		        inpDate.focus();

		    };		  
		    $scope.focus_InputTime = function () {

		        var inpTime = $scope.inpTime1;

		        inpTime.focus();

		    };
		    $scope.focus_InputNumber = function () {

		        var inpNumber = $scope.inpNumber1;

		        inpNumber.focus();

		    };
		});
        })();
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl" style="margin:50px;">  
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><table>
        <tr>
            <td>InputDate</td>
            <td id="inpDate">
                <wj-input-date control="inpDate1" 
                               value="today" 
                               format="yyyy/MM/dd dddd">
                </wj-input-date></td>
        </tr>
        <tr>
            <td>InputTime</td>
            <td id="inpTime">
                <wj-input-time control="inpTime1" 
                               value="today" 
                               format="hh:mm tt">
                </wj-input-time>
            </td>
        </tr>
        <tr>
            <td>InputNumber</td>
            <td id="inpNumber">
                <wj-input-number control="inpNumber1" 
                                 step="1" value="num" 
                                 format="n0" >
                </wj-input-number>
            </td>
        </tr>
    </table>
    <div>	
        <br/><br/>        
        <button id="btn1" ng-click="focus_InputDate()">Focus InputDate</button>
        <button id="btn2" ng-click="focus_InputTime()">Focus InputTime</button>
        <button id="btn3" ng-click="focus_InputNumber()">Focus InputNumber</button>
    </div>
    <br />
    <pre>
    <b>Repro Steps :</b>
    1. Run the attached sample with Project Spartan.
    2. Click on the each of three focus button.
    [Observe]
    Focus does not work.[Incorrect]
    </pre>
</body>
</html>