﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        var modu = angular.module('module', ['wj']);
        modu.controller('appCtrl', function ($scope) {

            $scope.countries = ['<b>Afghanistan</b>', 'Aruba', '<i>Australia</i>', 'Austria', 'Belgium', 'Brazil', 'Canada', 'Canary Islands', 'Cape Verde', 'Cayman Islands', 'Central African Republic', 'Chad'];

            var countryCol = [];
            for (var i = 0; i < $scope.countries.length; i++) {
                var c = $scope.countries[i];
                countryCol.push({ id: i, country: c, length: c.length, selected: (i % 3 == 0) });
            }
            $scope.countryCol = new wijmo.CollectionView(countryCol);
            $scope.countryCol.moveCurrentToPosition(-1);

        });
    </script>
</head>
<body>
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p></p>
    <br />
    <div ng-app="module" ng-controller="appCtrl">

        <wj-list-box id="ListBox" items-source="countryCol" display-member-path="country" checked-member-path="selected"></wj-list-box>
        <p ng-show="countryCol.currentItem">
        <b>{{countryCol.currentItem.country}} is {{countryCol.currentItem.selected}}</b>
    </p>
    </div>
    <pre>
    <b>Repro Steps :</b>

    1.Run the 'wijmo5 Explorer' sample.
    2.Navigate to Input -> ListBox -> Multi-Select listboxes.

    3.Select the first list box item.
    [Observe]

    First List-Box Item is selected and check-box value is changed to false.[Correct]

    4.Press Space-Bar Key.

    [Observe]

    Check-box value is not changed true value although selectedItem/SelectedIndex expression value is changed.[Incorrect]
    </pre>
</body>
</html>