﻿<!DOCTYPE html>
<html ng-app="app">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular-route.min.js" type="text/javascript"></script>

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script src="../scripts/controllers/InputPopupCtrl.js" type="text/javascript"></script>
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    
  
</head>
<body ng-controller="inputPopupCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre>[Popups][Chrome][Firefox] Unlike previous build, popup dialog close when clicking empty area of the dialog without clicking submit buttons</pre>
  

   <wj-popup
   id="popup1"
     control="dialogs.login"
              hiding="hiding(s,e)">
        <ng-include src="'../partials/frmLogIn.htm'"></ng-include>
    </wj-popup>
    <button class="btn btn-primary" ng-click="dialogs.login.show(true)" id="btn">
        log in...
    </button>

    <pre>
   1. Run attached sample.  
   2. Click 'log in..' popup 
   3. Click empty area of popup dialog.    
     [Observed]Popup dialog closes without clicking 'Log in " button or close 'x' button.[Incorrect]
   </pre>
</body>
</html>
