﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        var modu = angular.module('module', ['wj']);
        modu.controller('appCtrl', function ($scope, $timeout) {
            $scope.countries2 = ['Afghanistan', 'Aruba', 'Australia', 'Austria', 'Belgium', 'Brazil', 'Canada', 'Canary Islands', 'Cape Verde', 'Cayman Islands', 'Central African Republic', 'Chad', 'Channel Islands'];
            var itemsTwo = [];
            for (var i = 0; i < $scope.countries2.length; i++) {
                var c = $scope.countries2[i];
                itemsTwo.push({ id: i, country: c, length: c.length, selected: i < 10 && (i % 2 == 0) });
            }
            $scope.itemsTwo = new wijmo.CollectionView(itemsTwo);
            $scope.gotfocus2 = function () {
                $("#EventList2").append('<li> GotFocus event fired </li>');
            }
            $scope.lostfocus2 = function () {
                $("#EventList2").append('<li> Lostfocus event fired </li>');
            }
        });      
    </script>
</head>
<body>
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div ng-app="module" ng-controller="appCtrl">
        <br />
        <input type="text" id="one" />
        <br />
        <br />
        <wj-list-box style="height: 150px; width: 250px" items-source="itemsTwo" selected-index="0"
            display-member-path="country" checked-member-path="selected" got-focus="gotfocus2()"
            lost-focus="lostfocus2()">
        </wj-list-box>
        <br /> <br />
        <input type="text" id="two" />
        <br />
        <p ng-show="itemsTwo.currentItem">
            <b>{{itemsTwo.currentItem.country}} is {{itemsTwo.currentItem.selected}}</b>
        </p>
        <div id="EventList2" style="background-color:aliceblue;width:500px;"><b>Events</b></div>
        <br />
        <pre>
Repro Steps : According to Build 5.20151.56
1.Run the attached sample.
2.Select the first list-box Item.
3.Press the Tab Key.
[Observe]
First List-Box Item is focus on.[Correct]
4.Press Space-Bar Key.
[Observe]
Check-box value can be set.
5. Press Space-Bar Key.
[Observe]
Check-box value cannot be set at the second time and focus has been removed.[Case 1-Incorrect]
6.Select the 4th List-Box item.
7.Press Tab Key.
[Observe]
First item check-box always focus on.[Case 2-Incorrect]
        </pre>
        <pre>
Repro Steps : In scripts ; according to the changed behavior 
1.Run the attached sample.
2.Focus in above input.
3.Press 'Tab' key.
Observe:
       GotFocus event fire.
4.Press 'Space bar'.
Observe:
       First item is un-checked.
5. Press 'Tab' key.
Observe:
        LostFocus event fire.
        </pre>
    </div>
</body>
</html>
