﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script>

        var modu = angular.module('module', ['wj']);
        modu.controller('appCtrl', function ($scope, $timeout) {

            $scope.get_isVisible = function () {
                var result = $scope.pop.isVisible;
                document.getElementById("visible").innerHTML = "isVisible:" + result;
            }
        });
       
    </script>
</head>
<body ng-app="module" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><button id="getvisible" class="btn btn-default" ng-click="get_isVisible()">
        Get IsVisible
    </button>
    &nbsp;&nbsp;
    <button id="btn1" type="button" class="btn btn-primary">
        Click to toggle Popup
        <br>
        <small>(showTrigger=hideTrigger=Click)</small>
    </button>
    <wj-popup class="popover" owner="#btn1" control="pop" show-trigger="Click" hide-trigger="Click">
        <ng-include src="'/partials/popover.htm'"></ng-include>
    </wj-popup>
    &nbsp;&nbsp;
    <label id="visible">
    </label>
    <pre>
    Repro Steps : 
    1. Run the attached sample.
    2. Click 'Get IsVisible' button.
    [Observed]
    Message box  with 'IsVisible : undefined' is alerted.[Incorrect]
    </pre>
</body>
</html>
