﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        var modu = angular.module('module', ['wj']);
        modu.controller('appCtrl', function ($scope, $timeout) {
            $scope.gotfocus = function () {
                if ($("#chkgot").is(":checked")) {
                    var value = "GotFocus event fired";
                    $("#EventList").append('<li>' + value + '</li>');
                }
            }
            $scope.lostfocus = function () {
                if ($("#chklost").is(":checked")) {
                    var value = "LostFocus event fired";
                    $("#EventList").append('<li>' + value + '</li>');
                }
            }
        });       
    </script>
</head>
<body ng-app="module" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><br />
    <button class="btn btn-default" ng-click="Clear()">
        Clear List
    </button>
    <div id="EventList">Event</div>
    <fieldset>
        <legend>Events</legend>
        <input type="checkbox" id="chkgot" />gotFocus
        <input type="checkbox" id="chklost" />LostFocus
    </fieldset>
    <h3>Calendar</h3>
    <div style="width: 400px; height: auto">
        <wj-calendar class="calendar" got-focus="gotfocus()" lost-focus="lostfocus()" control="ctx.cal"
            show-header="false">
	    </wj-calendar>
    </div>
    <br />
    <br />
    <pre>
    Repro steps :
    1.Run the attached sample with IE11.
    2.Click on GotFocus check box.
    3.Press Tab key to get focus calendar control about 3 times.
    [Observed]
    GotFocus event does not fire.[Incorrect]
    </pre>
</body>
</html>
