﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />

    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script>
        var empName = "Cadia,Kendra,Jennifer".split(",");
        var dept = "Wijmo3,Wijmo5,Wijmo5".split(",");
        var data = [];
        for (var i = 0 ; i<dept.length ; i++){
            data.push({
                empName: empName[i],
                dept: dept[i]
            });
        }

        var modu = angular.module('module', ['wj']);
        modu.controller('appCtrl', function ($scope, $timeout) {     
            $scope.data = new wijmo.CollectionView(data);        
            $scope.showDialog = function () {              
            $scope.popupOne.show();
            }        
            
        });     
    </script>
</head>
<body>
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div ng-app="module" ng-controller="appCtrl"  style="margin-left:50px">
        <div>
            <h2> Popup Control </h2>           
            <button id="btnDialog" class="btn btn-default" ng-click="showDialog()">
                Show Popup like Dialog(Ownerless)
            </button>         
               
            <wj-popup control="popupOne" modal="true" hide-trigger="Blur" style="width:1100px;height:250px" >
                <div> 
                    <p1>PopUp like like Dialog(Ownerless) </p1>  
                
                        <div>                          
                            <label>InputDate</label>
                            <wj-input-date></wj-input-date>
                            <br /><br />
                         </div>         
                </div>
             
            </wj-popup>
        </div>     
       <br />
       <pre>
Repro-steps:
1. Run attached sample "PopUp_Build278.html".
2. Click 'Show Popup like Dialog(Ownerless)' button.
3. Open drop-down of InputDate control.
4. Click backdrop.
Observe:
             Both drop-down of InputDate control and dialog are closed.
5. Click 'Show Popup like Dialog(Ownerless)' button again.
Observe:
            Popup is flickering and then close.(Incorrect)
       </pre>            
    </div>
</body>
</html>
