﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        var modu = angular.module('module', ['wj']);
        modu.controller('appCtrl', function ($scope) {

            $scope.countries = ['Australia', 'Brazil', 'France', 'Germany', 'Great Britain', 'Greece', 'Hong Kong', 'Italy', '日本', 'United Arab Emirates',
                                'United Kingdom', 'United States of America', 'Vietnam'
                                ];

            $scope.getValue = function () {
                $("#showStatus").append('<li> SelectedIndex::' + $scope.multiAutocomplete.selectedIndex + '</li>');
                $("#showStatus").append('<li>SelectedItem::' + $scope.multiAutocomplete.selectedItem + '</li>');
            }
        });
    </script>
</head>
<body>
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><br />
    <div ng-app="module" ng-controller="appCtrl">
        <wj-multi-auto-complete id="multiAutocomplete" control = "multiAutocomplete" items-source="countries" selected-index="1"></wj-multi-auto-complete>
        <br />
        <button id="btngetValue" ng-click="getValue()">getSelectedIndex/Item</button>
        <br/>
        <div id="showStatus" style="background-color:aliceblue;width:500px;"></div>
    </div>
    <pre>
    <b>Repro-steps:</b>
    1. Open attached sample "Proj_MultiAutoComplete.html" in text editor.
    Observe:
        'selectedIndex' property is set to 1 in both MultiAutoComplete and AutoComplete.
    2. Browse the sample.
    Observe:
        Item "Albania" is selected in AutoComplete control.(Correct)
        "Albania" is not selected in MultiAutoComplete control.(Incorrect)
    3. Click 'get selectedIndex' button.
    Observe:
	    Selected index for AutoComplete control is 1.(Correct)
        Selected index for MultiAutoComplete control is -1.(Incorrect)
    </pre>
</body>
</html>