﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        var modu = angular.module('module', ['wj']);
        modu.controller('appCtrl', function ($scope) {
            var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(','),
                data = [];
            for (var i = 0; i < 30; i++) {
                data.push({
                    id: i,
                    date: new Date(2015, Math.floor(i / countries.length) % 12, (Math.floor(i / countries.length) + 1) % 28),
                    country: countries[i % countries.length],
                    countryMapped: i % countries.length,
                    downloads: Math.round(Math.random() * 20000),
                    sales: Math.random() * 10000,
                    expenses: Math.random() * 5000,
                    checked: i % 9 == 0
                });
            }
            var getCv = function (data) {
                var dataCv = new wijmo.CollectionView(data);
                dataCv.sortDescriptions.push(new wijmo.SortDescription('date', true));
                dataCv.groupDescriptions.push(new wijmo.PropertyGroupDescription('country'));
                return dataCv;
            }

            $scope.data1 = getCv(data);

            $scope.countries = countries;

            $scope.customTopLeft = true;
            $scope.customRowHeader = true;
            $scope.customRowHeaderEdit = true;
            $scope.customCell = true;
            $scope.customCellEdit = true;
            $scope.customColumnHeader = true;
            $scope.customGroupHeader = true;
            $scope.customGroup = true;
            $scope.customColumnFooter = true;
            $scope.customBottomLeft = true;

            $scope.uiCtx = {
                highlightDownloads: true,
            };

            $scope.addFooterRow = function(s) {
                s.columnFooters.rows.push(new wijmo.grid.GroupRow());
            }
        });
    </script>
</head>
<body>
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div ng-app="module" ng-controller="appCtrl">
        <wj-flex-grid 
            items-source="data1" 
            initialized="addFooterRow(s)"
            allow-sorting="false" 
            defer-resizing="true"
            style="width:700px;height:400px">
            <wj-flex-grid-cell-template 
                cell-type="TopLeft" 
                ng-if="customTopLeft">
                №
            </wj-flex-grid-cell-template>
            <wj-flex-grid-cell-template 
                cell-type="BottomLeft" 
                ng-if="customBottomLeft">
                &#931;
            </wj-flex-grid-cell-template>
            <wj-flex-grid-cell-template 
                cell-type="RowHeader" 
                ng-if="customRowHeader">
                {{$row.index}}
            </wj-flex-grid-cell-template>
            <wj-flex-grid-cell-template 
                cell-type="RowHeaderEdit" 
                ng-if="customRowHeaderEdit">
                ...
            </wj-flex-grid-cell-template>
            <wj-flex-grid-column 
                header="Country" 
                binding="country" 
                width="*">
                <wj-flex-grid-cell-template 
                    cell-type="Cell" 
                    ng-if="customCell">
                    {{$item.country}}
                </wj-flex-grid-cell-template>

                <wj-flex-grid-cell-template 
                    cell-type="CellEdit" 
                    ng-if="customCellEdit">
                    <wj-combo-box 
                        items-source="countries" 
                        selected-value="$value" 
                        is-editable="false"></wj-combo-box>
                </wj-flex-grid-cell-template>
                <wj-flex-grid-cell-template 
                    cell-type="GroupHeader" 
                    ng-if="customGroupHeader">
                    <input type="checkbox" ng-model="$row.isCollapsed" /> 
                    {{$item.name}} ({{$item.items.length}} items)
                </wj-flex-grid-cell-template>
            </wj-flex-grid-column>
            <wj-flex-grid-column 
                header="Downloads" 
                binding="downloads" 
                width="170" 
                aggregate="Sum">
                <wj-flex-grid-cell-template 
                    cell-type="ColumnHeader" 
                    ng-if="customColumnHeader">
                    <input type="checkbox" ng-model="uiCtx.highlightDownloads" /> 
                    Downloads
                </wj-flex-grid-cell-template>
                <wj-flex-grid-cell-template 
                    cell-type="Cell" 
                    ng-if="customCell">
                    <span ng-style="uiCtx.highlightDownloads &&
                            ($item.downloads > 10000 && {'color': 'green'} || {'color': 'red'})"
                            style="font-weight:700">
                        {{$item.downloads}}
                    </span>
                </wj-flex-grid-cell-template>
                <wj-flex-grid-cell-template 
                    cell-type="CellEdit" 
                    ng-if="customCellEdit">
                    <wj-input-number 
                        value="$value" 
                        step="1"></wj-input-number>
                </wj-flex-grid-cell-template>
                <wj-flex-grid-cell-template 
                    cell-type="Group" 
                    ng-if="customGroup">
                    Sum = {{$value | number:0}}
                </wj-flex-grid-cell-template>
                <wj-flex-grid-cell-template 
                    cell-type="ColumnFooter" 
                    ng-if="customColumnFooter">
                    Sum: {{$value | number:0}}
                </wj-flex-grid-cell-template>
            </wj-flex-grid-column>
        </wj-flex-grid> 
    </div>
    <br />
    <pre>
    <b>Steps to reproduce:</b>
    1.    Run ‘JS/TS > Angular/Angular2 > CellTemplateIntro’ sample.
    Note: This issue is also reproducible in InputNumber from ‘InputIntro’ sample.
    2.    Double-click a cell in ‘Downloads’ column.
    3.    When InputNumber appears in the cell, press ‘Backspace’ or ‘Delete’ key.
    Observe: Cursor shows in front of ‘0’……Incorrect
    4.    Enter a digit (example: 1).
    Observe: ‘10’ is shown……Incorrect
    Note: In build (5.20172.338), cursor shows behind ‘0’ and only one digit appears when input a digit.
    </pre>
</body>
</html>