<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular-route.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div ng-app="app" ng-controller="appCtrl">
        <div class="app-input-group">
            <label>Bound InputDate with min &amp; max</label>
            <wj-input-date id="inputDate"
                value="today"
                min="{{ minDate | date:'yyyy-MM-dd' }}"
                max="{{ maxDate | date:'yyyy-MM-dd' }}">
            </wj-input-date>
        </div>
        <div class="app-input-group">
            <label>Bound Calendar with min &amp; max</label>
            <wj-calendar id="calendar"
                style="width:300px;"
                value="today"
                min="{{ minDate | date:'yyyy-MM-dd' }}"
                max="{{ maxDate | date:'yyyy-MM-dd' }}"
                format-item="formatItem(s,e)">
            </wj-calendar>
        </div>
        <p>
            <b>Selected Date: {{ today | date }}</b>
        </p>
        <p>
            <b>Valid Range: {{ minDate | date }} to {{ maxDate | date }}</b>
        </p>
    </div>
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {
            $scope.today = new Date(2017, 0, 15, 13, 30);
            $scope.minDate = new Date(2017, 0, 1);
            $scope.maxDate = new Date(2017, 11, 31);
        });
    </script>
    <pre>
    <b>Repro steps :</b>
    1. Run "Angular\InputIntro" sample.
    Note: This issue is observed in all InputIntro sample.
    2. Navigate to "Input Date and Calendar".
    3. Select "31 December 2016" in InputDate of "Bound InputDate with min & max". 
    [Observed]
    Cannot select the maximum date. (incorrect)
    Note: 30 Dec 2016 (the day before max date) can be selected.
    </pre>
</body>
</html>
