﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        'use strict';

        // declare app module
        var app = angular.module('app',['wj']);
        // controller
        app.controller('appCtrl', function ($scope, $http) {
            var today = new Date();
            // data context
            $scope.ctx = {
                // data
                today: today,
                displayMonth: new Date(2014, 4, 5),
                maxDate: new Date(2015, 5, 6),
                minDate: new Date(2013, 3, 4),
                minDate1: new Date(today.getFullYear(), 0, 1),
                maxDate1: new Date(today.getFullYear(), 11, 31),
                currentDate: new Date(2016, 7, 8),
                cal1: null,
                cal: null,
                // culture
                culture: 'en'
            };

            $scope.ValueChanged = function (sender, args) {
                var va = sender;
                var value = "ValueChanged event fired";
                if ($("#chkValueChanged").is(":checked")) {
                    var value = "ValueChanged event fired";
                    $("#EventList").append('<li>' + value + '</li>');                    
                }
            }
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">	            
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>Control</th>
                    
            </tr>
        </thead>
        <tbody>

            <!-- date input -->
            <tr>
                <td>Calendar<br /></td>
                <td>
                    <wj-calendar class="calendar"
                                    control="ctx.cal1"
                                    style="width:300px;"
                                    value="ctx.today"
                                    display-month="ctx.displayMonth.toString()"
                                    min="{{ ctx.minDate.toString() }}"
                                    max="{{ ctx.maxDate.toString() }}"
                                    value-changed="ValueChanged(s,e)">
                    </wj-calendar>
                </td>                    
            </tr>
            <tr>
                <td>InputDate<br /></td>
                <td>
                    <wj-input-date class="calendar"
                                    control="ctx.inpdate"
                                    value="ctx.today"
                                    min="{{ ctx.minDate1.toString() }}"
                                    max="{{ ctx.maxDate1.toString() }}">
                    </wj-input-date>
                </td>
            </tr>              
        </tbody>
    </table>
    <div>
       
    <input type="checkbox" id="chkValueChanged" checked/>Calendar_ValueChanged
                    
    <div id="EventList"></div>
    <br />
    <pre>
    Repro-steps :

    1.Run the attached sample.
    2.Check 'Calendar_ValueChanged' checkbox.
    3.Change date to "5, June 2015" in Calendar control.
    [Observe]
    ValueChanged event with same date, same time is fired twice but changed date is not selected.[Incorrect]
    </pre>
</body>
</html>