﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script>
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function appCtrl($scope) { });       
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div>        
        <button id="btn1" ng-click="popup.show()">
            Open Popup</button>
        <wj-popup control="popup" modal="true" hide-trigger="None">            
            <wj-input-date></wj-input-date>
        </wj-popup>
    </div>
    <pre>
    <b>Repro-steps:</b>
    1. Run 'InputLabels' sample under 'JS/TS->Angular'.
    2. Click 'Edit Item..' button.
    Observe:
                  'Edit Item..' popup is opened.
    3. Focus in InputDate control (Date).
    4. Press 'F4' key or 'Alt+Up/Down Arrow' key combination.
    Observe:
                 Drop-down cannot be opened.(Incorrect) 
    </pre>
</body>
</html>
