﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular-route.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        // add controller to app module
        app.controller('appCtrl', function appCtrl($scope) {

            // values for InputDate, InputTime, InputDateTime
            $scope.today = new Date(2019,0,1);           
            $scope.minDate = "2018-01-01";
            $scope.maxDate = "2020-01-01";
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">	
	
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div>calendar: 
    <wj-menu value="calendar1.selectionMode" header="selectionMode">
		<wj-menu-item value="0">None</wj-menu-item>
		<wj-menu-item value="1">Day</wj-menu-item>
		<wj-menu-item value="2">Month</wj-menu-item>
	</wj-menu>
	<br/>
	<br/>
	<wj-calendar id="calendar" control="calendar1"
		style="width:300px;"
		value="today"
		min="{{ minDate | date:'yyyy-MM-dd' }}"
		max="{{ maxDate | date:'yyyy-MM-dd' }}">
	</wj-calendar>
	<br/>
    <wj-input-date id="inputDate" control="inputDate1"
		value="today"
		min="{{ minDate | date:'yyyy-MM-dd' }}"
		max="{{ maxDate | date:'yyyy-MM-dd' }}">
	</wj-input-date>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
    <pre>
    <b>Repro Steps :</b>
    1.    Run attached sample.
    2.    Choose ‘Month’ from ‘selectionMode’ menu.
    3.    Select a month.[eg Jul]
    [Observed]
    Month cannot be selected and selection color is not shown in Calendar.[Case 1 - Incorrect]

    4.    However, '7/1/2016' is shown in InputDate control and press 'F12'.
    [Observed]
    Console error (Assertion failed in Wijmo: Date expected) is observed when selection month is bound to InputDate.[Case 2 - Incorrect]
    </pre>                   
</body>
</html>
