﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />   
    
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" /> 
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script>
        var modu = angular.module('module', ['wj']);
        modu.controller('appCtrl', function ($scope, $timeout) {
            $scope.minDate = "2016-06-06";
            $scope.maxDate = "2018-06-06";
            $scope.value = "2017-12-12";
        });
    </script>
    <style>
        .calendar {
            height:100%;
            max-width:300px;
            margin:12px;
        }
    </style>
</head>
<body ng-app="module" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><wj-calendar class="calendar" value="value" min="{{ minDate }}" max="{{ maxDate }}"></wj-calendar>
    <pre>
    Repro-steps:
    1. Run attached sample "sample.htm".
    2. Click title of calendar to open 'Year' view.
    Note : MinDate is 2016/6/6 , MaxDate is 2018/6/6 and the selected date is 2017/12/12 .
    3. Click 'Next' button.
    Observe:
            Calendar is not navigated to next year [maxDate] . (Incorrect)
    4. Click 'Previous' button.
    Observe:
            Calendar is navigated to previous year [minDate] . (Correct)
    5. Click title of calendar to open 'Month' view.
    6. Select a date (e.g. 2017/5/6) that the month of the selected date is less than the month of minDate. 
    Note : The selected month is May while the min month is June.
    7. Click title of calendar to open 'Year' view.
    8. Click 'Previous' button.
    Observe:
	        Calendar is not navigated to previous year [minDate] . (Incorrect)
    </pre>
</body>
</html>