<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular-route.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div ng-app="app" ng-controller="appCtrl">
        <label>Select a date that is not a weekend or a holiday:</label>
        <wj-input-date id="inputDate"
            value="theDate" 
            item-validator="itemValidator">
        </wj-input-date>
    </div>
    <p>
        <b>Selected Date: {{ theDate | date }}</b>
    </p>
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            $scope.formatItem = function (s, e) {
                var weekday = e.data.getDay(),
                holiday = getHoliday(e.data);
                wijmo.toggleClass(e.item, 'date-weekend', weekday == 0 || weekday == 6);
                wijmo.toggleClass(e.item, 'date-holiday', holiday);
                e.item.title = holiday;
            }

            $scope.itemFormatter = function (date, element) {
                var holiday = getHoliday(date);
                wijmo.toggleClass(element, 'date-holiday', holiday);
                element.title = holiday;
            }

            $scope.itemValidator = function (date, element) {
                switch (date.getDay()) {
                    case 0:
                    case 6:
                        return false; // no appointments on weekends
                }
                if (getHoliday(date)) {
                    return false; // no appointments on holidays
                }
                return true; // not a weekend or a holiday, this date is OK
            }

            var theDate = new Date(2016, 11, 1);
            while (!$scope.itemValidator(theDate)) {
                theDate = wijmo.DateTime.addDays(theDate, 1);
            }
            $scope.theDate = theDate; // start with a valid date

            function getHoliday(date) {
                var day = date.getDate(),
                month = date.getMonth() + 1;
                switch (month + '/' + day) { // simple holidays (fixed dates)
                    case '1/1': return 'New Year\'s Day';
                    case '6/14': return 'Flag Day';
                    case '7/4': return 'Independence Day';
                    case '11/11': return 'Veteran\'s Day';
                    case '12/25': return 'Christmas Day';
                }
                var weekDay = date.getDay(),
                weekNum = Math.floor((day - 1) / 7) + 1;
                switch (month + '/' + weekNum + '/' + weekDay) {
                    case '1/3/1': return 'Martin Luther King\'s Birthday'; // third Monday in January
                    case '2/3/1': return 'Washington\'s Birthday'; // third Monday in February
                    case '5/3/6': return 'Armed Forces Day'; // third Saturday in May
                    case '9/1/1': return 'Labor Day'; // first Monday in September
                    case '10/2/1': return 'Columbus Day'; // second Monday in October
                    case '11/4/4': return 'Thanksgiving Day'; // fourth Thursday in November
                }
                return ''; // no holiday today
            }
        });
    </script>
    <pre>
    <b>Repro steps :</b>
    1. Run the attached sample.
    2. Click on 'December, 2016' title to switch Month view.[Current month is December]
    3. Press 'left arrow key' three times.
    [Observe]
    'September' month can't be navigated. [Incorrect]
    </pre>
</body>
</html>
