﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        var modu = angular.module('module', ['wj']);
        modu.controller('appCtrl', function ($scope) {

            $scope.countries = ['Australia', 'Brazil', 'France', 'Germany', 'Great Britain'];

            $scope.isDroppedDownChanged = function () {
                if ($("#chkisDroppedDownChanged").is(":checked")) {
                    $("#EventList").append('<li> isDroppedDownChanged event fired </li>');
                }
            }
            $scope.isDroppedDownChanging = function () {
                if ($("#chkisDroppedDownChanging").is(":checked")) {
                    $("#EventList").append('<li> isDroppedDownChanging event fired </li>');
                }
            }
            $scope.Clear = function () {
                $("#EventList").empty();
            }
            
        });
    </script>
</head>
<body>
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p></p>
    <br />
    <div ng-app="module" ng-controller="appCtrl" style="width:500px;">

        <wj-auto-complete id="autocomplete" control="autocomplete" items-source="countries" is-editable="true" 
                          is-dropped-down-changed="isDroppedDownChanged()" is-dropped-down-changing="isDroppedDownChanging()">
        </wj-auto-complete>
        
        <br />
        <input type="checkbox" id="chkisDroppedDownChanging" checked/> isDroppedDownChanging
        <input type="checkbox" id="chkisDroppedDownChanged" checked/> isDroppedDownChanged

        <div id="EventList" style="background-color:aliceblue;width:500px;"></div>
        <br />
        <button id="btnClear" ng-click="Clear()">Clear Event</button>

    </div>
    <pre>
    <b>Repro-steps:</b>
    1. Run attached sample 'Proj_Auto_Combo'.
    2. Check all check-boxes for events (GotFocus,LostFocus,isDroppedDownChanging,isDroppedDownChanged).
    3. Click in AutoComplete or ComboBox control.
    4. Enter 'test' in control.
    Observe:
                 Drop-down button of control become disable.(Correct)
    5. Press 'F4' or 'Alt+Up/Down' keys.
    Observe:
                 'isDroppedDownChanging' event fires.(Incorrect)
    </pre>
</body>
</html>