﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        var modu = angular.module('module', ['wj']);
        modu.controller('appCtrl', function ($scope) {
            $scope.today = new Date(2019, 4, 23);
        });
    </script>
</head>
<body>
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p></p>
    <br />
    <div ng-app="module" ng-controller="appCtrl">
	    <form name="frmTest">		    
			<label for="txtTest">Wijmo InpuDate</label>
			<wj-input-date name="wjTest" id="wjTest" ng-model="today"></wj-input-date>
	    </form>
    </div>
    <pre>
    <b>Repro-steps:</b>
    1. Run 'InputLabels' sample under 'JS/TS->Angular/Angular2'.
    2. Click drop-down button 'Date' control.
    Observe:
        Calendar drop-down is transparent. [Incorrect]
    </pre>
</body>
</html>