﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function appCtrl($scope, $timeout) {
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><wj-input-mask control="inputMask" ng-model="ngModel" value="value" raw-value="rawValue"></wj-input-mask>
    <button>値を表示</button>
    <p>ng-model = {{ngModel}}<br>value = {{value}}<br>rawValue = {{rawValue}}</p>

    <script>
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {
        });
    </script>
    <pre>
    <b>Repro Steps:</b>
    1. Open the sample "Sample_InputMask.html" in IE or Chrome.
    2. Select InputMask control.
    3. Enable Japanese IME.
    4. Input "あああ" (typing just "aaa") and key press [Enter].
    5. ng-model, value and rowValue are not updated.
    Observe:
    - display "あああ" for ng-model, value and rowValue is ecpexted 
    - click button then it shows correct values.
    - This works properly in MS Edge.
    </pre>
</body>
</html>