﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        (function () {
            'use strict';

            angular
		    .module('app', ['wj'])
		    .controller('appCtrl', function ($scope) {

		        $scope.inpMask1 = null;
		        $scope.inpDate1 = null;
		        $scope.today = new Date($.now());
		        $scope.value1 = "AB-C2-1234";
		        $scope.num = 1234;

		        $scope.countries = ['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra', 'Angola', 'Anguilla', 'Antigua', 'Argentina', 'Armenia',
                                            'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize',
                                            'Benin', 'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire', 'Bosnia', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi',
                                            'Cambodia', 'Cameroon', 'Canada', 'Canary Islands', 'Cape Verde', 'Cayman Islands', 'Central African Republic', 'Chad', 'Channel Islands'
	                                    ];


		    });
        })();
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
 
        
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>
            Click to see a modal dialog:
            <button id="btn1" type="button" class="btn" ng-click="modalDialog.show()">
                Click
            </button>
        </p>
        <wj-popup control="modalDialog" modal="true" hide-trigger="None">
            <form> 
                <h4 class="modal-header">
                    Update Account Data
                    <button type="button" tabindex="-1" class="close wj-hide" >&times;</button>
                </h4>
                <div class="modal-body">
                    <label>
                        Name:
                        <input class="form-control" />
                    </label>
                    <br />
                    <label>
                        Email: <input class="form-control" />
                    </label>
                    <br />
                    <label>
                        Password: <input class="form-control" type="password" />
                    </label>
                </div>
                <div class="modal-footer">
                    <button id="btnHide" class="btn btn-primary wj-hide" >
                        OK
                    </button>
                </div>
            </form>
        </wj-popup>
        <p>
            Click to see a modeless dialog:
            <button id="btn2" type="button" class="btn" ng-click="modelessDialog.show()">
                Click
            </button>
        </p>
        <wj-popup control="modelessDialog" modal="false">
            <form> 
                <h4 class="modal-header">
                    Update Account Data
                    <button type="button" tabindex="-1" class="close wj-hide" >&times;</button>
                </h4>
                <div class="modal-body">
                    <label>
                        Name:
                        <input class="form-control" />
                    </label>
                    <br />
                    <label>
                        Email: <input class="form-control" />
                    </label>
                    <br />
                    <label>
                        Password: <input class="form-control" type="password" />
                    </label>
                </div>
                <div class="modal-footer">
                    <button id="btnHide2" class="btn btn-primary wj-hide" >
                        OK
                    </button>
                </div>
            </form>
        </wj-popup>
   
        <p>
            Click to open, move focus away to close:
            <button id="btn3" type="button" class="btn">
                Click
            </button>
        </p>
        <wj-popup class="popover" owner="#btn3" show-trigger="Click" hide-trigger="Blur">
            <h3 class="popover-title">
                Title
            </h3>
            <div class="popover-content">
                <form name="popoverForm">
                    <p>Hello Popup<br/>This is a multiline message!</p>
                    <pre>2 + 3 = <span class="">5</span></pre>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">@</div>
                            <input class="form-control" type="email" placeholder="Enter email">
                        </div>
                    </div>
                    <div class="form-actions">
                        <button id="btnHide3" type="button" class="btn btn-danger wj-hide">Close</button>
                        <button type="button" class="btn btn-primary wj-hide">Save changes</button>
                    </div>
                </form>
            </div>
        </wj-popup>   
    <br/><br/>
    <pre>
    <b>Steps to reproduce:</b>   
    1.    Run ‘JS/TS > Angular/React/Vue/Vue2 > InputIntro’ sample (that contains Popup controls)
    2.    Navigate to ‘Dialogs and Popups’ section.
    3.    Open a Popup dialog or Popover.
    Observe: Popup/Popover shows at the right-bottom corner far away from the buttons……Incorrect
    4.    Run ‘JS/TS > Angular/Angular2 > Explorer’ sample.
    5.    Navigate to ‘Input > Popup’ page.
    6.    Open a Popup or Popover.
    Observe: Popup/Popover shows at incorrect position instead of the center of screen……Incorrect
    </pre>
</body>
</html>