﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />  

    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script>
        var modu = angular.module('module', ['wj']);
        modu.controller('appCtrl', function ($scope, $timeout) {
            // apply special styles to weekends and holidays
            var today = "2018/12/12";
            $scope.today = today;
            $scope.minDate = "2018/1/1";
            $scope.maxDate = "2018/12/31";

            // apply special styles to weekends and holidays
            $scope.formatItem = function (s, e) {
                var weekday = e.data.getDay(),
        holiday = getHoliday(e.data);
                wijmo.toggleClass(e.item, 'date-weekend', weekday == 0 || weekday == 6);
                wijmo.toggleClass(e.item, 'date-holiday', holiday);
                e.item.title = holiday;
            }

            // gets the holiday for a given date
            function getHoliday(date) {
                var day = date.getDate(),
        month = date.getMonth() + 1;
                switch (month + '/' + day) { // simple holidays (fixed dates)
                    case '1/1': return 'New Year\'s Day';
                    case '6/14': return 'Flag Day';
                    case '7/4': return 'Independence Day';
                    case '11/11': return 'Veteran\'s Day';
                    case '12/25': return 'Christmas Day';
                }
                var weekDay = date.getDay(),
        weekNum = Math.floor((day - 1) / 7) + 1;
                switch (month + '/' + weekNum + '/' + weekDay) {
                    case '1/3/1': return 'Martin Luther King\'s Birthday'; // third Monday in January
                    case '2/3/1': return 'Washington\'s Birthday'; // third Monday in February
                    case '5/3/6': return 'Armed Forces Day'; // third Saturday in May
                    case '9/1/1': return 'Labor Day'; // first Monday in September
                    case '10/2/1': return 'Columbus Day'; // second Monday in October
                    case '11/4/4': return 'Thanksgiving Day'; // fourth Thursday in November
                }
                return ''; // no holiday today
            }
        });
    </script>
    <style>
    .wj-calendar .date-holiday {
    /* holidays in calendar */
    color: #008f22;
    outline: 2px solid #008f22;
    }
    .wj-calendar .date-weekend:not(.wj-state-selected) {
    /* weekends in calendar */
    background-color: #d8ffa6;
    }  
    </style>
</head>
<body ng-app="module" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div id="setFocusHere" style="height:50px"></div>
     <label>Bound InputDate with min &amp; max</label>
        <wj-input-date value="today"
                        min="{{ minDate | date:'yyyy-MM-dd' }}"
                        max="{{ maxDate | date:'yyyy-MM-dd' }}">
        </wj-input-date>
        <br />
        <br />
     <label>Bound Calendar with min &amp; max</label>
        <wj-calendar style="width:300px;"
                        value="today"
                        min="{{ minDate | date:'yyyy-MM-dd' }}"
                        max="{{ maxDate | date:'yyyy-MM-dd' }}"
                        format-item="formatItem(s,e)">
        </wj-calendar>
    <pre>
    <b>Repro Steps:</b><br />
    1. Run 'InputIntro' sample under any platform.
    2. Navigate to 'InputDate and Calendar'.
    3. Open drop-down calendar and change to year view.
    4. Click year header to appear year picker view.
    5. Focus out from control.
    Observe: Drop-down calendar close but year picker view do not close.........Incorrect
    Note: This issue cannot be observed when minimum date and selected year value is not same.
    </pre>
</body>
</html>
