﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />   
    
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" /> 
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script>
        var modu = angular.module('module', ['wj']);
        modu.controller('appCtrl', function ($scope, $timeout) {
            $scope.text = "995689";
            $scope.val = "";
            Object.defineProperty(wijmo.input.InputMask.prototype, "isReadOnly", {
                get: function () {
                    return this._isReadOnly;
                },
                set: function (val) {
                    this._isReadOnly = val;
                    this.inputElement.readOnly = this._isReadOnly;
                },
                enumerable: true,
                configurable: true
            });

            $scope.$watch("mask", function () {
                var mask = $scope.mask;
                if (mask) {
                    mask.isReadOnly = true;
                }
            })
        });
    </script>
</head>
<body>
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 316994:[InputMask] To test whether 'isReadOnly' property is working correctly or not</p>
    <div ng-app="module" ng-controller="appCtrl">	
       <wj-input-mask id="test"
                    control="mask"
		            mask="(999-999)"
                    value="val"
                    wj-model-property="rawValue"
		            ng-model="text">
		</wj-input-mask>
        <p>
        Raw Value : {{text}}<br />
        Text : {{val}}
        </p>
    </div>
    <pre>
    In InputMask control, isReadOnly property is missing. 
    Please add it in the future releases for Angular interop too.
    Here is the fiddle with isReadOnly property:
    http://jsfiddle.net/mkgupta911/kguajzsx/
    </pre>
</body>
</html>