﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />   
    
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" /> 
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script>
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope, $timeout) {
            $scope.showModal = function () {
                $scope.popup.show(true);
            }
            $scope.dialog = function () {
                $scope.popup.hide();
            }
        });
    </script>
</head>
<body>
   
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div ng-app="app" ng-controller="appCtrl">
       <button ng-click="showModal()">Modal Popup</button>
       <wj-popup control="popup"  hide-trigger="Blur" >
            <input /><br />
            <button id="ok" ng-click="dialog()" style="float:right;">OK</button>
       </wj-popup>
   </div>
   <pre>
   <b>Repro-steps:</b>
1. Run 'Explorer' sample under 'JS/TS->Angular/Angular2'.
2. Navigate to 'Input->Popup' sample.
3. Click any button (e.g. Click to toggle Popup) to open 'popup' .
Observe: Popup shows at incorrect position. (Incorrect)
Note: Popup shows at correct position when open at second time.
   </pre>
</body>
</html>