﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        (function () {
            'use strict';

            angular
		    .module('app', ['wj'])
		    .controller('appCtrl', function ($scope) {

		        $scope.inpMask1 = null;
		        $scope.inpDate1 = null;
		        $scope.today = new Date($.now());
		        $scope.value1 = "AB-C2-1234";
		        $scope.num = 1234;

		        $scope.countries = ['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra', 'Angola', 'Anguilla', 'Antigua', 'Argentina', 'Armenia',
                                            'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize',
                                            'Benin', 'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire', 'Bosnia', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi',
                                            'Cambodia', 'Cameroon', 'Canada', 'Canary Islands', 'Cape Verde', 'Cayman Islands', 'Central African Republic', 'Chad', 'Channel Islands'
	                                    ];
                                        		        

		    });
        })();
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div>
		<h2>DropDown Inputs</h2>
		<br /><br />
		<wj-menu value="0" header="Select" id="menu">
			<wj-menu-item value="0">Item1</wj-menu-item>
			<wj-menu-item value="1">Item2</wj-menu-item>
			<wj-menu-item value="2">Item3</wj-menu-item>
			<wj-menu-item value="1">Item4</wj-menu-item>
			<wj-menu-item value="2">Item5</wj-menu-item>
		</wj-menu> 
		<wj-combo-box id="combobox"
			items-source="countries"
			is-editable="true">
		</wj-combo-box>
		<wj-auto-complete id="autocomplete"
			items-source="countries"
			is-required="false"
			placeholder="(country)">
		</wj-auto-complete>
		<wj-input-date id="inputdate">
		</wj-input-date>
        <br/><br/>
        <p>
            Some dummy text to make the page scrollable...
        </p>
        <p ng-repeat="i in [1, 2, 3, 4, 5, 6, 7, 8, 9]">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        <p>
    </div>
    <br/><br/>
    <pre>
    <b>Steps to reproduce:</b>
    1.    Run attached sample ‘prj_InputDropDown.html’.
    Note: Html heading ‘h2’ tag is placed above Inputs.
    2.    Scroll down the page.
    3.    Open a dropdown of Input.
    Observe: Dropdown overlaps over Input control……Incorrect

    4.    Run attached sample ‘prj_InputDropDown_361.html’ and repeat steps 2,3.
    Observe: Dropdown does not overlap over Input control. [Correct]
    </pre>
</body>
</html>