<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular-route.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <link href="../styles/app.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/controllers/79662_appCtrl.js" type="text/javascript"></script>
    <style>
        .calendar
        {
            height: 100%;
            max-width: 300px;
            margin: 12px;
        }
    </style>
</head>
<body ng-controller="79662_appCtrl">   
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div>
        <h4>
            Calendar (MinDate: "{{ minDate }}", MaxDate: "{{ maxDate }}")</h4>
        <wj-calendar class="calendar" 
            value="value" 
            min="{{ minDate }}" 
            max="{{ maxDate }}">
        </wj-calendar>
    </div>
    <br />
    79662:[Calendar] Max year and Min year cannot be navigated in Year View<br />
    Repro steps:
    <br />
    1. Click Calendar's Title [August 2014] to switch to Year View.<br />
    2. Click previous icon to navigate to Previous Year [2013]<br />
    3. Click next icon to navigate to Next Year [2015].<br />
</body>
</html>
