<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script>
        var modu = angular.module('module', ['wj']);
        modu.controller('appCtrl', function ($scope, $timeout) {
            $scope.value1 = 12345.67;
            $scope.value2 = 12345.67;
            $scope.value3 = 12345.67;
        });
    </script>
    <style>
        .wj-inputnumber
        {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    </style>
</head>
<body ng-app="module" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><table>
        <tr>
            <td>
                <h4>
                    Input Number with "n2" format &nbsp;&nbsp;&nbsp;
                </h4>
                <wj-input-number class="wj-inputnumber" value="value1" format="n2" step="1"></wj-input-number>
                <br />
                <br />
                Value: {{value1}}
            </td>
            <td>
                <h4>
                    Input Number with "c2" format &nbsp;&nbsp;&nbsp;
                </h4>
                <wj-input-number class="wj-inputnumber" value="value2" format="c2" step="1"></wj-input-number>
                <br />
                <br />
                Value: {{value2}}
            </td>
            <td>
                <h4>
                    Input Number with "p2" format &nbsp;&nbsp;&nbsp;
                </h4>
                <wj-input-number class="wj-inputnumber" value="value3" format="p2" step="1"></wj-input-number>
                <br />
                <br />
                Value: {{value3}}
            </td>
        </tr>
    </table>
    <div>
        <br />
        <br />
        <pre>
Repro Steps :
1. Browse "index.htm" from attached sample [InputNumber]
2. Click inside InputNumber with "n2" format control
Observe: "12345.67" got selected. [Correct]
3. Press "Delete" or "Backspace" key.
Observe: value is deleted and reset to "0.00". [Correct]
4. Click inside InputNumber with "c2" format control
Observe: "12345.67" got selected. [Correct]
5. Press "Delete" or "Backspace" key.
Observe: value is not deleted and not reset to "0.00". [Incorrect]
6. Click inside InputNumber with "p2" format control
Observe: "1234567.00" got selected. [Correct]
7. Press "Delete" or "Backspace" key.
Observe: value is not deleted and not reset to "0.00". [Incorrect]
8. Repeat Step 4.
9. Enter new number (e.g., "555")
Observe: Old value is overwritten and New value is displayed properly. [Correct]
        </pre>
    </div>
</body>
</html>
