﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        var modu = angular.module('module', ['wj']);
        modu.controller('appCtrl', function ($scope) {

            $scope.value = 1;

        });
    </script>
</head>
<body ng-app='module' ng-controller='appCtrl'>	
	
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div>
	<h4>Input Number </h4>
	<wj-input-number control="ctx.inpNumber1" class=wj-inputnumber value=value format="n2" step="1"></wj-input-number>
    <br/><br/>
    <p id="value">Value: {{value}}</p>
    <wj-menu value="ctx.inpNumber1.format" header="Format">
        <wj-menu-item value="'n2'" >n2</wj-menu-item>
        <wj-menu-item value="'c2'">c2</wj-menu-item>
        <wj-menu-item value="'p2'">p2</wj-menu-item>
    </wj-menu>
	</div>
    <br />
    <pre>
        <b>Repro steps:</b>
        1. Browse "index.htm" from attached sample [InputNumber]
        Observe: Value is "1" and Format is "n2"
        2. Change Format to "p2"
        Observe: Value is "1" and displayed as "100%" in InputNumber. [Correct]
        3. Change Format to "n2"
        Observe: the value is changed to "0.01" instead of "1". [Incorrect]
        4. Change Format to "p2"
        Observe: the value is "0.01" and displayed as "1.00%" in InputNumber. [Correct]
        3. Change Format to "n2"
        Observe: the value is changed to "0.0001" instead of "0.01". [Incorrect]
    </pre>
</body>
</html>