﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        (function () {
            'use strict';

            angular
		    .module('app', ['wj'])
		    .controller('appCtrl', function ($scope) {


		        // data context
		        $scope.ctx = {

		            // data
		            today: new Date(2014, 4, 5),
		            displayMonth: new Date(2014, 4, 5),
		            maxDate: new Date(2015, 5, 6),
		            minDate: new Date(2013, 3, 4),
		            currentDate: new Date(2014, 7, 8),
		            cal1: null,

		            // culture
		            culture: 'en'
		        };
		        $scope.Refresh = function () {

		            var cald = $scope.ctx.cal1;

		            cald.refresh()
		        };
		    });
        })();
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl" style="width:800px; margin:30px;">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div>
        <wj-calendar class="calendar" id="calendar"
            control="ctx.cal1"
            value="ctx.today"
            display-month="ctx.displayMonth.toString()"
            min="{{ ctx.minDate.toString() }}"
            max="{{ ctx.maxDate.toString() }}">
        </wj-calendar>

        <wj-menu value="ctx.cal1.firstDayOfWeek" header="FirstDayOfWeek">
            <wj-menu-item value=0>Sunday</wj-menu-item>
            <wj-menu-item value=1>Monday</wj-menu-item>
            <wj-menu-item value=2>Tuesday</wj-menu-item>
            <wj-menu-item value=3>Wednesday</wj-menu-item>
            <wj-menu-item value=4>Thursday</wj-menu-item>
            <wj-menu-item value=5>Friday</wj-menu-item>
            <wj-menu-item value=6>Saturday</wj-menu-item>
        </wj-menu>
        <wj-menu value="ctx.cal1.showHeader" header="ShowHeader">
            <wj-menu-item value="true">True</wj-menu-item>
            <wj-menu-item value="false">False</wj-menu-item>
        </wj-menu>
        </br>
        <button class="btn btn-default" ng-click="Refresh()">Refresh</button>
    </div>
    <pre>
        <b>Repro Steps :</b>
        1. Browse "index.htm" from attached sample [Calendar]

        2. Select "Monday" from "FirstDayOfWeek" menu.

        Observe: Calendar is not refreshed and FirstDayOfWeek is not changed in Calendar. [Incorrect]

        3. Click "Refresh" button.

        Observe: FirstDayOfWeek is changed to Monday in Calendar. [Correct]

        4. Select "False" from "ShowHeader" menu

        Observe: Calendar is refreshed and Header is disappeared. [Correct]
    </pre>
</body>
</html>