﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script>
        var app = angular.module('app', ['wj']);

        app.controller('appCtrl', function ($scope) {
            $scope.theNumber = 0;
        });
    </script>
</head>
<body>
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div ng-app="app" ng-controller="appCtrl">
        <p>Test Case 334833:[InputNumber] To test whether control rounds numbers correctly or not</p>
        <wj-input-number
            value="thePercentage"
            format="p4">
        </wj-input-number>
        <p>Percentage as seen by the controller: <b>{{thePercentage}}</b></p>
    </div>
    <pre>
    
    Tested with build .211

    1. Open this fiddle: 
          http://jsfiddle.net/u7HpD/138/
    2. Enter "60.1" and the Input automatically changes to "60.09"
    </pre>
</body>
</html>
