﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope, $timeout) {
            var inputApi;
            $scope.bDate = undefined;
            $scope.dFormat = 'dd/MM/yyyy';
            //$scope.dFormat = 'dd/M/yy';

            // public methods
            $scope.inputDateInitialized = inputDateInitialized;

            init();
            function init() {
                // simulate option loaded from service call
                $timeout(function () {
                    $scope.bDate = new Date();

                    console.log('bDate: ' + wijmo.Globalize.format($scope.bDate, $scope.dFormat));

                }, 1500);

            }
            function inputDateInitialized(s, e) {
                inputApi = s;

                console.log('inputApi value: ' + inputApi.value);
            } 
        });
    </script>
</head>
<body>
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div ng-app="app" ng-controller="appCtrl">
        <p>
            Wijmo input date with ng-model
            <br />
        </p>
        <form name="myForm">
        <div class="input-group">
            <label>
                Birth date:
            </label>
            <wj-input-date id="inputDate" ng-model="bDate" class="form-control" format="{{dFormat}}" initialized="inputDateInitialized(s)">
            </wj-input-date>
        </div>
        </form>
    </div>
    <br />
    <pre>
<b>Repro steps</b>
1. Open plunker for build 5.20163.254 http://plnkr.co/edit/kYO5QJbt0oFG8THUSFQR?p=preview
2. Change date to 19/8/89
3. Move focus out of the control
Observation> Date set to 19/08/1989
4. Open plunker for build 5.20172.334 http://plnkr.co/edit/Z5rrLc?p=preview
5. Change date to 19/8/89
6. Move focus out of the control
Observation> Date set to 19/08/0089
</pre>
</body>
</html>
