﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular-route.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    
</head>
<body>
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div ng-app="app" ng-controller="appCtrl">
        <wj-input-date control="inputDate"
            mask="99/99/9999"
            format="MM/dd/yyyy"
            min="2016-01-01"
            max="2016-12-31"
            is-required="false"
            text="maskedInputDateText"
            value="maskedInputDateValue"
            text-changed="textChanged()"
            value-changed="valueChanged()">
        </wj-input-date>
           
        <p>
            Value: {{maskedInputDateValue}} <br/> Text: {{maskedInputDateText}}
        </p>
        <p>
            <button id="btnSetDate" ng-click="setDate()">Set Default Date</button>
        </p>
        <div id="EventList"> 
    </div>
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {
            $scope.maskedInputDateText = '';
            $scope.maskedInputDateValue = null;

            $scope.textChanged = function () {
                var value = "textChanged";
                $("#EventList").append('<li>' + value + '</li>');
            }
            $scope.valueChanged = function () {
                var value = "valueChanged";
                $("#EventList").append('<li>' + value + '</li>');
            }

            $scope.setDate = function () {
                this.maskedInputDateText = '12/16/2016';
                //this.maskedInputDateValue = new Date();
            }
        });
    </script>
    <br />
    <br />
    <pre>
    <b>Steps to reproduce:</b>
    1. Click "Set Default Date button" to set date programatically
    2. Use the dropdown to select a different date
    3. Reselect the initial date (12/16/2016)
    4. textChanged event is not fired and text property is not updated
    </pre>
</body>
</html>
