﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>

    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
       // declare app module
       var app = angular.module('app', ['wj']);

       // app controller provides data
       app.controller('appCtrl', function appCtrl($scope) {

           // generate some random data
           var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(','),
                data = [];
           for (var i = 0; i < 10; i++) {
               data.push({
                   id: i,
                   country: countries[i % countries.length],
                   date: new Date(2014, i % 12, i % 28),
                   amount: Math.random() * 10000,
                   active: i % 4 == 0
               });
           }

           // add data array to scope
           $scope.data = data;

           // declare menu items
           $scope.menuItems = [
                {
                    Name: "Header"
                }, {
                    Name: "Item 1",
                    Command: {
                        executeCommand: function (args) {
                            alert($scope.menuItems[1].Name);
                        },
                        canExecuteCommand: function (args) {
                            return true;
                        }
                    }
                }, {
                    Name: "Item 2",
                    Command: {
                        executeCommand: function (args) {
                            alert("Item 2");
                        },
                        canExecuteCommand: function (args) {
                            return false;
                        }
                    }
                }];
           $scope.cvMenu = new wijmo.CollectionView($scope.menuItems);
           // change the menu before it is displayed
           // we're doing this by adding a handler to the 'contextmenu' event
           // in the capture phase (before the Wijmo menu gets the event)
           document.addEventListener('contextmenu', function (e) {
               console.log("context menu");
               var ht = $scope.flex.hitTest(e);
               if (ht.cellType == wijmo.grid.CellType.Cell) {
                   $scope.cvMenu.items[1].Name = $scope.flex.getCellData(ht.row, ht.col);
                   $scope.cvMenu.refresh();
                   $scope.$apply();
               }
           }, true);

           document.addEventListener("click", function (s, e) {
               console.log("document click");
               var ht = $scope.flex.hitTest(e);
               if (ht.cellType == wijmo.grid.CellType.Cell) {
                   console.log($scope.menu.selectedIndex);
               }
           });
       });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl" style="margin: 50px;">
    
     
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><h3>Customizing the Context Menu</h3>

    <p>
        This grid has a context menu, and the first option corresponds
        to the cell that was under the mouse when the menu was invoked:
    </p>
    <wj-flex-grid control="flex"
                  items-source="data"
                  wj-context-menu="#idMenu"></wj-flex-grid>

    <wj-menu id="idMenu"
             ng-show="false"
             items-source="cvMenu"
             command-path="Command"
             display-member-path="Name" control="menu"></wj-menu>
    {{menuItems[1].Name}}

    <pre>
    Steps to Reproduce:

    1. Open the attached HTML Page in browser.
    2. Right click on any of the data cells in the FlexGrid.
    Observe: It displays the context menu - Correct
    3. Click on the item named "Item2" in the context menu.
    Observed Behavior:
    --Context menu closes, even when the user has clicked a disabled menu item - Incorrect
    Expected Behaviour:
    --Context menu should not get closed when the user clicks a disabled item. In case the context menu closes 
    it gives the user an impression that some action has been performed and the menu item is not disabled. 
    However, if the context menu remains open then it gives the user an impression that no action has 
    been performed and hence the user has clicked on a disabled item.
    </pre>
</body>
</html>
