﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />   
    
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" /> 
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script>     
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope, $timeout) {
            $scope.showModal = function () {
                $scope.popup.show(true);
            }
            $scope.dialog = function () {
                $scope.popup.hide();

            }
        });
    </script>
</head>
<body>
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 192646:[Popup] To test whether modal dialog can be handled or not when setting Popup.dialogResult property</p>

    <div ng-app="app" ng-controller="appCtrl">
        <button ng-click="showModal()">Modal Popup</button>
        <wj-popup control="popup"  hide-trigger="Blur" >
                <button id="ok" ng-click="dialog()" style="float:right;">OK</button>
        </wj-popup>
    </div>
</body>
</html>