﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script>
        var empName = "Cadia,Kendra,Jennifer".split(",");
        var dept = "Wijmo3,Wijmo5,Wijmo5".split(",");
        var data = [];
        for (var i = 0; i < dept.length; i++) {
            data.push({
                empName: empName[i],
                dept: dept[i]
            });
        }

        var modu = angular.module('module', ['wj']);
        modu.controller('appCtrl', function ($scope, $timeout) {

            $scope.get_isVisible = function () {
                var result = $scope.popup.isVisible;
                document.getElementById("visible").innerHTML = "isVisible:" + result;
            }
        });
    </script>
    <style>
        .wj-dialog-header
        {
            cursor: move;
        }
    </style>
</head>
<body>
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div ng-app="module" ng-controller="appCtrl" style="margin-left: 50px">
        <div>
            <br />
            <label>
                Test Case 133493:[Popup] To test whether get value of isVisible property when the
                popup is currently visible or not
            </label>
            <br />
            <br />
            <button type="button" id="btn1" class="btn btn-default">
                Show Popup</button>
            &nbsp;
            <wj-popup control="popup" owner="#btn1" show-trigger="Click" hide-trigger="Click">
                <br />  
                <div class="wj-dialog-header" >
                    <p>This is header.</p>
                </div>           
                <div style="width:1100px;height:auto">
                        <p>This is content.</p>
                </div>
            </wj-popup>
            <button id="getvisible" class="btn btn-default" ng-click="get_isVisible()">
                Get IsVisible
            </button>
            &nbsp;
            <label id="visible">
            </label>
        </div>
    </div>
</body>
</html>
