﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script>
        var modu = angular.module('module', ['wj']);
        modu.controller('appCtrl', function ($scope, $timeout) {
            $scope.customMask = null;
        });
    </script>
</head>
<body ng-app="module" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 199904:[InputMask] To test whether custom mask setting is displayed as expected in Inputmask control
    </p>
    <wj-input-mask value="customMask" isRequired="false">
    </wj-input-mask><br />
    <wj-input-mask mask="{{customMask}}">
    </wj-input-mask>
</body>
</html>