﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        (function () {
            'use strict';

            angular
		    .module('app', ['wj'])
		    .controller('appCtrl', function ($scope) {		        

		        $scope.inpMask1 = null;
		        $scope.inpDate1 = null;
		        $scope.today = new Date($.now());
		        $scope.value1 = "AB-C2-1234";
		        $scope.num = 1234;

		        $scope.countries = ['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra', 'Angola', 'Anguilla', 'Antigua', 'Argentina', 'Armenia',
                                            'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize',
                                            'Benin', 'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire', 'Bosnia', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi',
                                            'Cambodia', 'Cameroon', 'Canada', 'Canary Islands', 'Cape Verde', 'Cayman Islands', 'Central African Republic', 'Chad', 'Channel Islands'
	                                    ];

		        // as an ICollectionView
		        var items = [];
		        for (var i = 0; i < $scope.countries.length; i++) {
		            var c = $scope.countries[i];
		            items.push({ id: i, country: c, length: c.length, selected: (i % 3 == 0) });
		        }
		        $scope.items = new wijmo.CollectionView(items);
		        $scope.items.moveCurrentToPosition(-1);

		        $scope.gotfocus = function () {
		                var value = "GotFocus event fired";
		                $("#EventList").append('<li>' + value + '</li>');
		        }

		        $scope.lostfocus = function () {
		                var value = "LostFocus event fired";
		                $("#EventList").append('<li>' + value + '</li>');
		        }
		    });		   
        })();
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 127792: [ListBox] To test whether ListBox renders and works as disable control or not when setting 'isDisabled' property</p>
    <br />
    <input type="checkbox" id="chkDisabled" ng-model="listbox.isDisabled"/>isDisabled
    <br />
    <wj-list-box control="listbox" id="listbox" style="height:200px;"
            items-source="items"
            display-member-path="country"
            is-disabled="true"
            got-focus="gotfocus()"
            lost-focus="lostfocus()">
    </wj-list-box>
</body>
</html>