﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        var modu = angular.module('module', ['wj']);
        modu.controller('appCtrl', function ($scope) {

            $scope.maskedInputDateText = '';
            $scope.maskedInputDateValue = null;

            $scope.valueChanged = function () {
                var value = "valueChanged";
                $("#EventList").append('<li>' + value + '</li>');
            }
            $scope.setDate = function () {
                this.maskedInputDateText = '10/16/2019';
            }
        });
    </script>
</head>
<body>
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 149421:[InputDateTime] To test whether 'valueChanged' event is fired properly or not after selecting a new date/time on null value</p>
    <br />
    <div ng-app="module" ng-controller="appCtrl">
        <wj-input-date-time control="inputDateTime" id="inputDateTime"           
            is-required="false"
            text="maskedInputDateText"
            value="maskedInputDateValue"         
            value-changed="valueChanged()">
        </wj-input-date-time>

        <p><button id="btnSetDate" ng-click="setDate()">Set Date</button></p>

        <div id="EventList"></div>
    </div>
</body>
</html>