﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular-route.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <link href="../styles/app.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/controllers/127371_appCtrl.js" type="text/javascript"></script>
</head>
<body ng-app="app" ng-controller="127371_appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div>127371: [DropDown][All] To test whether "isDroppedDownChanging" event does not fire
    or not if dropdown is opened or closed<br />
    Repro steps:<br />
    1.Check on 'isDroppedDownChanging' checkbox.
    <br />
    2.Click on the dropdown button of the 'AutoComplete' control.
    <br />
    3.Press Esc key.
    <br />
    4.Click on the dropdown button of the 'Combobox' control.
    <br />
    5.Press Esc key.
    <br />
    6.Click on the dropdown button of the 'InputDate' control.
    <br />
    7.Press Esc key
    <br />
    [Observed]
    <br />
    IsDroppedDownChanging Event is fired about 6 times.
    <br />
    <br />
    <table>
        <tr>
            <td>
                <h3>
                    AutoComplete</h3>
            </td>
            <td>
                <h3>
                    ComboBox</h3>
            </td>
            <td>
                <h3>
                    InputDate</h3>
            </td>
        </tr>
        <tr>
            <td>
                <wj-auto-complete is-dropped-down-changing="IsDroppedDownChanging()" items-source="ctx.countries"
                    is-editable="true" placeholder="country" selected-index="1">
                </wj-auto-complete>
            </td>
            <td>
                <wj-combo-box items-source="ctx.countries" control="ctx.cbo" placeholder="country"
                    is-dropped-down-changing="IsDroppedDownChanging()" max-items="2">                
                </wj-combo-box>
            </td>
            <td>
                <wj-input-date control="ctx.inputDate" value="ctx.today" is-dropped-down-changing="IsDroppedDownChanging()"
                    placeholder="Enter Date...">
                </wj-input-date>
            </td>
        </tr>
    </table>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <button class="btn btn-default" ng-click="Clear()">
        Clear List
    </button>
    <div id="EventList">
        Event</div>
    <br />
    <input type="checkbox" id="chkchanging" />
    IsDroppedDownChanging
</body>
</html>
