﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script>
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope, $timeout) {
            $scope.showModal = function () {
                $scope.popup.show(true);
            }
            $scope.hideDialog = function () {
                $scope.popup.hide();
            }
        });        
    </script>
    <style>
        .wj-dialog-header
        {
            cursor: move;
        }
    </style>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>
        Test Case 125546:[Popup] To test whether validation does not work correctly or not
        when dialog is called</p>
    <div ng-app="app" ng-controller="appCtrl">
        <button ng-click="showModal()">
            Modal Popup</button>
        <wj-popup control="popup" is-draggable="true">
            <form ng-submit="hideDialog()">
                <h4 class="modal-header">
                Log in
                <button type="button" tabindex="-1" class="close wj-hide">&times;</button>
                </h4>
                <div class="modal-body">
                    <label>
                        Email: <input 
                            class="form-control" 
                            required type="email"/>
                    </label>
                    <br />
                    <label>
                        Password: <input 
                            class="form-control" 
                            type="password"
                            required pattern=".{4,}" title="Please enter 4 characters or more." />
                    </label>
                    <br />
                    <label>
                        Remember Me
                        <input 
                            type="checkbox" />
                    </label>
                    <br />
                    <a href="" class="wj-hide" ng-click="showDialog('frmCreateAccount')">Don't have an account yet?</a>
                </div>
                <div class="modal-footer">
                    <button 
                        class="btn btn-primary"
                        type="submit">
                        Log in
                    </button>
                </div>
            </form>
       </wj-popup>
    </div>
</body>
</html>
