﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />   
    
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" /> 
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script>
        var modu = angular.module('module', ['wj']);
        modu.controller('appCtrl', function ($scope, $timeout) {
        });
    </script>
</head>
<body ng-app="module" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 122537:[InputMask] To test whether 'RawValue' property does not work correctly or not</p>
	Phone number: 
    <wj-input-mask control="ctx.inputMaskRaw"
                   class="fixedPitch"
                   mask="(999) 000-0000">
    </wj-input-mask>
    <p>Mask: <b>{{ctx.inputMaskRaw.mask}}</b></p>
    <p>Value: <b>{{ctx.inputMaskRaw.value}}</b></p>
    <p>RawValue: <b>{{ctx.inputMaskRaw.rawValue}}</b></p>
</body>
</html>