﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />   
    
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" /> 
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
</head>
<body>
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 152167:[Popup][Inputs] To test whether input controls which it is placed in popup control does not get focus correctly or not by pressing Tab key</p>
    <div>
        <br />
        <br />
        <div id="popup">
            <form ng-submit="hideDialog($event, 'Account Updated!')">
            <div class="modal-header">
                <h4>
                    Edit Account
                    <button type="button" tabindex="-1" class="close wj-hide">
                        &times;</button>
                </h4>
            </div>
            <div class="modal-body">
                <label>
                    Email:
                    <input class="form-control" required type="email" />
                </label>
                <br />
                <label>
                    Current Password:
                    <input class="form-control" type="password" required pattern=".{4,}" title="Please enter 4 characters or more." />
                </label>
                <br />
                <label>
                    New Name:
                    <input class="form-control" pattern=".{2,}" title="Please enter 2 characters or more." />
                </label>
                <br />
                <label>
                    New Password:
                    <input class="form-control" type="password" ng-model="ctx.pw" pattern=".{4,}" title="Please enter 4 characters or more." />
                </label>
                <br />
                <label>
                    Confirm New Password:
                    <input class="form-control" type="password" ng-model="ctx.pw2" wj-validation-error="ctx.pw != ctx.pw2 ? 'Passwords don\'t match.' : ''" />
                </label>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit">
                    Update Account
                </button>
            </div>
            </form>
        </div>
    </div>
    <script>
        var popup = new wijmo.input.Popup('#popup');
        popup.modal = true;
        popup.hideTrigger = wijmo.input.PopupTrigger.None;
        popup.show();
    </script>
</body>
</html>
