﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        var modu = angular.module('module', ['wj']);
        modu.controller('appCtrl', function ($scope) {

            var names = 'Paul,Mark,Pete,Ringo,Luke,Jacob,John,Nate,Zym,George,Toom,Crash,Boom,Dewd'.split(',');
            $scope.musicians = [];
            for (var i = 0; i < names.length; i++) {
                var item = {
                    id: i,
                    name: names[i],
                    photo: '|Paul|John|George|Ringo|'
                    .indexOf('|' + names[i] + '|') >= 0
                    ? 'resources/' + names[i] + '.png'
                    : null
                };
                $scope.musicians.push(item);
            }

        });
    </script>
</head>
<body>
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 120517:[ListBox] To test whether itemTemplate is working correctly or not in listbox</p>
    <br />
    <div ng-app="module" ng-controller="appCtrl" class="app-input-group">
        <wj-list-box style="max-height: 300px; width: 250px;" items-source="musicians">
            <wj-item-template>
                {{$itemIndex + 1}}. <b>{{$item.name}}</b>                               
                    <wj-input-number
                        value="3.5"
                        format="c2"
                        step=".5"
                        min="0"
                        max="10">
                    </wj-input-number>
            </wj-item-template>
        </wj-list-box>
    </div>
</body>
</html>