﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular-route.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <link href="../styles/app.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/controllers/125536_appCtrl.js" type="text/javascript"></script>
</head>
<body ng-app="app" ng-controller="125536_appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div>Steps:<br />
    1.Click on the Login button.<br />
    2.Click (X) button of the dialog.<br />
    <div>
        <!-- define dialogs -->
        <wj-popup class="col-md-6 modal-content" control="frmLogIn">
            <ng-include src="'../../partials/frmLogIn.htm'"></ng-include>
        </wj-popup>
        <br />
        <label>
            Modal
            <input type="checkbox" ng-model="modal" /></label>
        <br />
    </div>
    <button class="btn btn-default" ng-click="showDialog('frmLogIn')">
        log in</button>
    <br />
</body>
</html>
