﻿<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular-route.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <link href="../styles/app1.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/controllers/128410_appCtrl.js" type="text/javascript"></script>
</head>
<body ng-controller="128410_appCtrl">    
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div class="app-input-group">
        <label>
            Bound Calendar with min &amp; max</label>

        <wj-calendar style="width:300px;" 
                     value="today"
                     min="{{ minDate | date:'yyyy-MM-dd' }}"
                     max="{{ maxDate | date:'yyyy-MM-dd' }}"
                     format-item="formatItem(s,e)">
        </wj-calendar>
    </div>
    <p>
        <b>Selected Date: {{ today | date }}</b>
    </p>
    <p>
        <b>Valid Range: {{ minDate | date }} to {{ maxDate | date }}</b>
    </p>
    <br />   
    <br />
    Repros steps:<br />
    1.'Sat' and 'Sun' should be shown with color format.
</body>
</html>
