﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        'use strict';

        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function appCtrl($scope) {

            $scope.gotfocus = function () {

                if ($("#chkgot").is(":checked")) {

                    var value = "GotFocus...";
                    $("#EventList").append('<li>' + value + '</li>');
                }
            }

            $scope.lostfocus = function () {

                if ($("#chklost").is(":checked")) {

                    var value = "LostFocus...";
                    $("#EventList").append('<li>' + value + '</li>');
                }
            }

            $scope.hidden = function () {

                if ($("#chkhidden").is(":checked")) {

                    var value = "Hidden...";
                    $("#EventList").append('<li>' + value + '</li>');
                }
            }

            $scope.hiding = function () {

                if ($("#chkhiding").is(":checked")) {

                    var value = "Hiding...";
                    $("#EventList").append('<li>' + value + '</li>');
                }
            }

            $scope.showing = function () {

                if ($("#chkshowing").is(":checked")) {

                    var value = "Showing...";
                    $("#EventList").append('<li>' + value + '</li>');
                }
            }

            $scope.shown = function () {

                if ($("#chkshown").is(":checked")) {

                    var value = "Shown...";
                    $("#EventList").append('<li>' + value + '</li>');
                }
            }


            $scope.Clear = function () {
                $("#EventList").empty();
            };

        });

    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
        
       
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 133468:[Popup]To test whether focus/show/hide events does not fire or not when popup is shown or hidden</p>
      <button id="btn1" type="button" class="btn btn-primary">
            Click to toggle Popup
            <br>
            <small>(showTrigger=hide Trigger=Click)</small>
        </button>
         <wj-popup class="popover" owner="#btn1" show-trigger="Click" hide-trigger="Click" 
             got-focus="gotfocus()"
             lost-focus="lostfocus()"
             hidden="hidden()"
             hiding="hiding()"
             showing="showing()"
             shown="shown()">
             <h3 class="popover-title">
                Title
            </h3>
            <div class="popover-content">
                Hello Popup<br/>
                This is a multi-line message!
            </div>
         </wj-popup>
         <br />
    <br />    
    <fieldset>
            <input type="checkbox" id="chkgot" checked/> GotFocus
            <input type="checkbox" id="chklost" checked/> LostFocus
            <input type="checkbox" id="chkhidden" checked/> Hidden
            <input type="checkbox" id="chkhiding" checked/> Hiding
            <input type="checkbox" id="chkshowing" checked/> Showing
            <input type="checkbox" id="chkshown" checked/> Shown
    </fieldset>
    <br />
    <div id="EventList"></div>
    <br />
    <button id="btnClear" ng-click="Clear()">Clear List</button>
</body>
</html>