﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <!-- app scripts and styles -->
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {
            $scope.date = new Date(2019, 9, 20)
        });
    </script>
    <style type="text/css">
        .calendar {
            height:100%;
            max-width:300px;
            margin:12px;
        }
    </style>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 116041:[Calendar] To test whether Calendar is disabled and render in dim style or not when setting 'isDisabled' property</p>

    <input type="checkbox" id="chkDisabled" ng-model="calendar.isDisabled"/>isDisabled
    
    <wj-calendar class="calendar" is-disabled="true"
        control="calendar"
        id="calendar"
        value="date">
	</wj-calendar>
</body>
</html>
