﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        var modu = angular.module('module', ['wj']);
        modu.controller('appCtrl', function ($scope) {

            $scope.countries = ['Australia', 'Brazil', 'France', 'Germany', 'Great Britain', 'Greece', 'Hong Kong', 'Italy', '日本', 'United Arab Emirates',
                                'United Kingdom', 'United States of America', 'Vietnam'
            ];

            $scope.getText = function () {
                $("#showStatus").append('<li> Text :: ' + $scope.multiAutocomplete.text + '</li>');
            }

            $scope.setText = function () {
                $scope.multiAutocomplete.text = "Select Country..";
            }
        });
    </script>
</head>
<body>
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 237840:[MultiAutoComplete] To test whether the text that show on control can get or set properly by using 'text' property</p>
    <br />
    <div ng-app="module" ng-controller="appCtrl">
        <wj-multi-auto-complete id="multiAutocomplete" control = "multiAutocomplete" items-source="countries" selected-index="1"></wj-multi-auto-complete>
        <br />
        <button id="btnsetText" ng-click="setText()">SetText</button>
        <button id="btngetText" ng-click="getText()">GetText</button>
        <br/>
        <div id="showStatus" style="background-color:aliceblue;width:500px;"></div>
    </div>
</body>
</html>