﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        var modu = angular.module('module', ['wj']);
        modu.controller('appCtrl', function ($scope) {

            $scope.dataList = [
                { code: '0', value: 'DATA0', key: 'a' },
                { code: '1', value: 'DATA1', key: 'b' },
                { code: '2', value: 'DATA2', key: 'c' },
                { code: '3', value: 'DATA3', key: 'd' },
            ];

            // selectedValuePath Property
            $scope.get_selectedValuePath = function () {
                var result = $scope.multiAutoComplete.selectedValuePath;
                $("#showStatus").append('<li>' + result + '</li>');

            }
           
            $scope.set_selectedValuePath = function () {
                $scope.multiAutoComplete.selectedValuePath="key";                
            }
        });
    </script>
</head>
<body>
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 237883:[MultiAutoComplete] To test defining the name of property , that is used to get the selectedvalue from the selectedItem , by 'selectedValuePath' property</p>
    <br />
    <div ng-app="module" ng-controller="appCtrl">
        <wj-multi-auto-complete id="multiAutoComplete" control="multiAutoComplete" items-source="dataList" display-member-path="code" selected-value-path="value"></wj-multi-auto-complete>
        <button id="btnClick" ng-click="get_selectedValuePath()">Show Value</button>
        <button id="btnChange" ng-click="set_selectedValuePath()">Change Value</button>
        <div id="showStatus"></div>
    </div>
</body>
</html>