﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        (function () {
            'use strict';
            angular
                .module('app', ['wj'])
                .controller('appCtrl', function ($scope) {
                    $scope.modal = true;

                    $scope.show = function (dlgName) {
                        var popup = $scope[dlgName];
                        popup.show();
                    }
                });
        })();
    </script>
</head>
<body style="margin:50px;" ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 236114:[Popup] To test whether Popup and the controls inside popup are working correctly when setting 'isDisabled' property of Popup</p>

    <input ng-model="popup1.isDisabled" type="checkbox"/>isDisabled
    <button id="btn2" ng-click="show('popup1')">Show Popup</button>
    <wj-popup id="popup1" control="popup1" is-disabled="true">
        <div style="padding:10px;">
            <h4 class="modal-header">Calendar</h4>
            <wj-calendar></wj-calendar>            
        </div>
    </wj-popup>
    <br /><br /><br />
    <input ng-model="popover.isDisabled" type="checkbox" checked/>isDisabled
    <button id="button1" type="button">Show Popover</button>
    <wj-popup id="popover" control="popover" class="popover" owner="#button1" is-disabled="true">
        <div style="padding:10px;">
            <h4 class="modal-header">Calendar</h4>
            <wj-calendar></wj-calendar>           
        </div>
    </wj-popup>
</body>
</html>