﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div>
        <br />
        <label>Test Case 271848:[ListBox]To test whether focus move to ListBox or not by pressing 'Tab' key if control is in the modal Popup</label>
        <br />
        <button id="btn1" ng-click="popup.show()">
            ポップアップを表示</button>
        <wj-popup control="popup" modal="true" hide-trigger="None">
            <input type="text">
            <wj-list-box id="list1" items-source="data">
            </wj-list-box>
        </wj-popup>
    </div>
    <div>
        <input type="text">
        <wj-list-box items-source="data"></wj-list-box>
    </div>
    <script>
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function appCtrl($scope) {
            $scope.data = ["data1", "data2", "data3"];
        });
        document.addEventListener("keyup", function (args) {
            if (args.key == "Tab") {
                console.log(document.activeElement);
            }
        });
    </script>
</body>
</html>
