﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        var modu = angular.module('module', ['wj']);
        modu.controller('appCtrl', function ($scope) {

            $scope.countries = ['Australia', 'Brazil', 'France', 'Germany', 'Great Britain', 'Greece', 'Hong Kong', 'Italy', '日本', 'United Arab Emirates',
                                'United Kingdom', 'United States of America', 'Vietnam'
            ];

            $scope.focus = function () {
                $scope.multiAutocomplete.focus();
            }
        });
    </script>
</head>
<body>
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 237742:[MultiAutoComplete] To test whether control can be focused by calling 'focus' method</p>
    <br />
    <div ng-app="module" ng-controller="appCtrl">
        <wj-multi-auto-complete id="multiAutocomplete" control = "multiAutocomplete" items-source="countries" selected-index="1"></wj-multi-auto-complete>
        <br />
        <button id="btnfocus" ng-click="focus()">focus</button>
    </div>
</body>
</html>