﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        'use strict';

        // get reference to app module
        var app = angular.module('app',['wj']);

        // controller
        app.controller('appCtrl', function ($scope) {
    
            $scope.modal = true;

            $scope.show = function (dlgName) {
                var popup = $scope[dlgName];
                popup.show();
            }

            $scope.data = getData(50);           

            function getData(count) {
                var data = [],
                    countries = ['US', 'Germany', 'UK', 'Japan', 'Italy', 'Greece'],
                    products = ['Widget', 'Gadget', 'Doohickey'],
                    colors = ['Black', 'White', 'Red', 'Green', 'Blue'],
                    dt = new Date();
                for (var i = 0; i < count; i++) {
                    var date = new Date(dt.getFullYear(), i % 12, 25, i % 24, i % 60, i % 60),
                        countryId = Math.floor(Math.random() * countries.length),
                        productId = Math.floor(Math.random() * products.length),
                        colorId = Math.floor(Math.random() * colors.length);
                    var item = {
                        id: i,
                        start: date,
                        end: date,
                        country: countries[countryId],
                        product: products[productId],
                        color: colors[colorId],
                        countryId: countryId,
                        productId: productId,
                        colorId: colorId,
                        amount: 10000 - 5000,
                        amount2: 10000 - 5000,
                        discount: 4,
                        active: i % 4 == 0,
                    };
                    data.push(item);
                }
                return data;
            }

            var countryMap = [
		        { name: 'US', key: 0 },
		        { name: 'Germany', key: 1 },
		        { name: 'UK', key: 2 },
		        { name: 'Japan', key: 3 },
		        { name: 'Italy', key: 4 },
		        { name: 'Greece', key: 5 },
            ];
            $scope.countryMap = new wijmo.grid.DataMap(new wijmo.CollectionView(countryMap), 'key', 'name');

        });

    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 250940:[Popup] To test whether Popup is working correctly when scrolling the FlexGrid using mouse wheel and 'hideTrigger' of Popup is Blur</p>
    <wj-popup control="popup1">
        <div style="padding:10px;width:900px;">
            <h4 class="modal-header">FlexGrid</h4>
            <wj-flex-grid items-source="data" frozen-columns="1" frozen-rows="1" show-marquee="true" show-selected-headers="All" style="height: 350px;">
                <wj-flex-grid-filter></wj-flex-grid-filter>
                <wj-flex-grid-column header="id" binding="id"></wj-flex-grid-column>
                <wj-flex-grid-column header="start" binding="start" aggregate="Max"></wj-flex-grid-column>
                <wj-flex-grid-column header="end" binding="end"></wj-flex-grid-column>
                <wj-flex-grid-column header="country" binding="country" data-map="countryMap" allow-merging="true"></wj-flex-grid-column>
                <wj-flex-grid-column header="product" binding="product" allow-merging="true"></wj-flex-grid-column>
                <wj-flex-grid-column header="color" binding="color" allow-merging="true"></wj-flex-grid-column>
                <wj-flex-grid-column header="amount" binding="amount" aggregate="Sum"></wj-flex-grid-column>
                <wj-flex-grid-column header="discount" binding="discount" format="p0" aggregate="Avg"></wj-flex-grid-column>
                <wj-flex-grid-column header="active" binding="active"  allow-merging="true"></wj-flex-grid-column>
            </wj-flex-grid>
            <div class="modal-footer">
                <button ng-click="popup1.hide()" style="float:right;">OK</button>
            </div>
        </div>
    </wj-popup>
    <button id="popup" ng-click="show('popup1')">Show Popup</button>
</body>
</html>