﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div>
        <br />
        <label>Test Case 271127:[InputDate] To test whether calendar drop-down can be opened or closed by 'F4' or 'Alt+Up/Down Arrow Keys' when it is in Popup control</label>
        <br />
        <button id="btn1" ng-click="popup.show()">
            Open Popup</button>
        <wj-popup control="popup" modal="true" hide-trigger="None">            
            <wj-input-date></wj-input-date>
        </wj-popup>
    </div>
    <script>
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function appCtrl($scope) { });
       
    </script>
</body>
</html>
