﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script>
        var defect = "Appearance,BAgs Not Sealed Properly,Broken Pieces,Foriegn Material,Texture".split(','),
            Appropred = "12,1,3,1,1".split(","),
            ApprovedCost = "1619.41,226.10,149.50,119.00,238.00".split(","),
            data = [];
        for (var i = 0; i < defect.length; i++) {
            data.push({
                defect: defect[i],
                Approved: Number(Appropred[i]),
                ApprovedCost: Number(ApprovedCost[i])
            });
        }
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope, $timeout) {
            $scope.data = new wijmo.CollectionView(data);

            $scope.showModal = function () {
                $scope.popup.show(true);
            }
            $scope.show = function () {
                $scope.popup.show(false);
            }
            $scope.hide = function () {
                $scope.popup.hide();
            }
        });
    </script>
</head>
<body>
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div ng-app="app" ng-controller="appCtrl">
        <br />
        <br />
        <label>
            Test Case 267539:[Popup] To test whether Popup with/without Owner hides or not on
            opening Filter editor of FlexGrid when setting 'hideTrigger' property of Popup</label>
        <br />
        <br />
        <button id="btn1" ng-click="showModal()">
            Modal Popup</button>
        &nbsp;
        <button id="btn2" ng-click="show()">
            Popup</button>
        &nbsp;
        <button id="btn3">
            Popup with owner</button>
        <wj-popup control="popup" hide-trigger="Blur" remove-on-hide="false">
          <div style="width:700px;height:400px; padding:10px;">             
              <wj-flex-grid items-source="data" style="margin:5%;width:90%;">
                  <wj-flex-grid-filter ></wj-flex-grid-filter>
              </wj-flex-grid>
              <hr />
              <button ng-click="hide()" style="float:right;">Hide Popup</button>
          </div>
       </wj-popup>
        <wj-popup control="popup" hide-trigger="Blur" owner="#btn3" remove-on-hide="false">
           <div style="width:600px;height:300px;padding:10px;">
               <wj-flex-grid items-source="data">
                   <wj-flex-grid-filter></wj-flex-grid-filter>
               </wj-flex-grid>
           </div>
       </wj-popup>
    </div>
</body>
</html>
