﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    
    <script>
        var modu = angular.module('module', ['wj']);
        modu.controller('appCtrl', function ($scope) {
            var theDate = new Date(2018, 11, 12);
            $scope.theDate = theDate;
        });
    </script>
    <style>
        #container
        {
            text-align: justify;
        }
        #container > div
        {
            width: 450px; /* Declare your value. Can be in relative units. */
            height: auto;
            display: inline-block;
            vertical-align: top;
        }
        #container:after
        {
            content: "";
            width: 100%;
            display: inline-block;
        }
    </style>
</head>
<body>
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>
        <b>Test Case 275367:[Calendar] To test whether applied formats (y,yy,yyy,yyyy) show propelry for 'formatYear' property</b></p>
    <div ng-app="module" ng-controller="appCtrl" style="margin-left: 50px">
        <div id="container">
            <div>
                <label>
                    formatYear = yyyy
                </label>
                <br />
                <wj-calendar value="theDate" format-year="yyyy"> </wj-calendar>
            </div>
            <div>
                <label>
                    formatYear = yyy
                </label>
                <br />
                <wj-calendar value="theDate" format-year="yyy"> </wj-calendar>
            </div>
            <div>
                <label>
                    formatYear = yy
                </label>
                <br />
                <wj-calendar value="theDate" format-year="yy"> </wj-calendar>
            </div>
            <div>
                <label>
                    formatYear = y
                </label>
                <br />
                <wj-calendar value="theDate" format-year="{{'y '}}"> </wj-calendar>
            </div>
        </div>
    </div>
</body>
</html>
