﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script>
      'use strict';

        // add controller to app
        angular.module('app',['wj']).controller('appCtrl', function appCtrl($scope) {

            // invalidate panel when shown on Bootstrap modal (TFS 247358)
            $('#dlgPivotPanel').on('shown.bs.modal', function (e) {
                wijmo.Control.invalidateAll(e.target);
            });

            // create and initialize pivot engine used by all controls on the page
            var ng = new wijmo.olap.PivotEngine();
            $scope.theEngine = ng;

            // give the engine a data source and some fields
            ng.autoGenerateFields = false;
            ng.itemsSource = getData(20000);
            ng.fields.push(new wijmo.olap.PivotField(ng, 'person.name', 'Name'));
            ng.fields.push(new wijmo.olap.PivotField(ng, 'person.first', 'First Name'));
            ng.fields.push(new wijmo.olap.PivotField(ng, 'person.last', 'Last Name'));
            ng.fields.push(new wijmo.olap.PivotField(ng, 'timeInHours', 'Time (hrs)', { format: 'n3', dataType: wijmo.DataType.Number, aggregate: 'Sum' }));
            ng.fields.push(new wijmo.olap.PivotField(ng, 'bug.fogbugzId', 'Fogbugz #', { format: 'f0', dataType: wijmo.DataType.Number }));
            ng.fields.push(new wijmo.olap.PivotField(ng, 'bug.severity', 'Severity', { format: 'f0', dataType: wijmo.DataType.Number }));

            // build the initial view
            ng.rowFields.push('Last Name');
            ng.columnFields.push('Severity');
            ng.valueFields.push('Time (hrs)');

            // sample data
            function getData(cnt) {
                var data = [];
                for (var i = 0; i < cnt; i++) {
                    var minutes = Math.round(Math.random() * 160);
                    var firstNames = 'Liam,Dylan,Jacob,Noah,Jayden,Ethan,Matthew,Sebastian,Alexander,Daniel,Angel'.split(',');
                    var lastNames = 'Smith,Lam,Martin,Brown,Roy,Tremblay,Lee,Gagnon,Wilson,Navin'.split(',');
                    data.push({
                        id: i,
                        person: getPerson(i, firstNames, lastNames),
                        bug: getBug(i),
                        timeInMinutes: minutes,
                        timeInHours: minutes / 60,
                    });
                }
                return data;
            }
            function getPerson(i, firstNames, lastNames) {
                var first = firstNames[i % firstNames.length];
                var last = lastNames[i % lastNames.length];
                return {
                    id: i,
                    name: first + ' ' + last,
                    first: first,
                    last: last,
                    email: first[0] + last + '@componentone.com',
                    value: Math.random() * 400
                }
            }
            function getBug(i) {
                return {
                    id: i,
                    fogbugzId: Math.round(100000 + Math.random() * 200000),
                    severity: i % 4 == 0 ? 'High' : i % 4 == 1 ? 'Average' : 'Low'
                }
            }
        });

    </script> 
</head>
<body ng-app="app" ng-controller="appCtrl">   

    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div style="margin:50px;">       
        <p>Test Case 251561:[Popup] To test whether backdrop of modal Popup display properly when configure pivot view in a Popup</p>
        <br /><br />
        <wj-pivot-grid
            items-source="theEngine"
            show-selected-headers="All">
        </wj-pivot-grid>

        <h5>
            Wijmo Popup Dialog
        </h5>
     

        <button id="btn1"
            class="btn btn-default"
            ng-click="dlgWijmo.show()">
            <span class="glyphicon glyphicon-edit"></span>
            Configure Pivot View in a Wijmo dialog...
        </button>

        <!-- Wijmo dialog containing another PivotPanel control connected to the same engine -->
        <wj-popup control="dlgWijmo" class="modal-dialog" modal="true" hide-trigger="None">
            <div class="wj-dialog-header">
                <button type="button"
                        class="close wj-hide"
                        aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">Configure Pivot View (Wijmo Popup)</h4>
            </div>
            <div style="padding:12px">
                <wj-pivot-panel
                    engine="theEngine">
                </wj-pivot-panel>
                <div class="wj-dialog-footer">
                    <button type="button" class="btn btn-primary wj-hide">
                        Close
                    </button>
                </div>
            </div>
        </wj-popup>

        <h5>
            Bootstrap Modal Dialog</h5>

        <button id="btn2"
            class="btn btn-default"
            data-toggle="modal"
            data-backdrop="static"
            data-target="#dlgPivotPanel">
            <span class="glyphicon glyphicon-edit"></span>
            Configure Pivot View in a Boostrap modal...
        </button>

        <!-- Bootstrap modal div containing the PivotPanel control -->
        <div class="modal fade" id="dlgPivotPanel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title">Configure Pivot View (Bootstrap Modal)</h4>
                    </div>
                    <div class="modal-body">
                        <wj-pivot-panel
                            engine="theEngine">
                        </wj-pivot-panel>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div><!-- modal-content -->
            </div><!-- modal-dialog -->
        </div><!-- modal -->

    </div>
</body>
</html>