﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        var modu = angular.module('module', ['wj']);
        modu.controller('appCtrl', function ($scope) {

            $scope.countries = ['<b>Afghanistan</b>', 'Aruba', '<i>Australia</i>', 'Austria', 'Belgium', 'Brazil', 'Canada', 'Canary Islands', 'Cape Verde', 'Cayman Islands', 'Central African Republic', 'Chad'];

            var countryCol = [];
            for (var i = 0; i < $scope.countries.length; i++) {
                var c = $scope.countries[i];
                countryCol.push({ id: i, country: c, length: c.length });
            }
            $scope.countryCol = new wijmo.CollectionView(countryCol);

            $scope.Dispose = function () {
                $scope.multiAutoComplete.dispose();
            }
        });
    </script>
</head>
<body>
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 237741:[MultiAutoComplete] To test whether control can be removed by calling 'dispose' method</p>
    <br />
    <div ng-app="module" ng-controller="appCtrl">

        <wj-multi-auto-complete id="multiAuto" control="multiAutoComplete" items-source="countryCol" display-member-path="country" checked-member-path="selected"></wj-multi-auto-complete>
        <br />
        <button id="btnDispose" ng-click="Dispose()">Dispose</button>

    </div>
</body>
</html>