﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        var modu = angular.module('module', ['wj']);
        modu.controller('appCtrl', function ($scope) {

            $scope.maskedInputDateText = '';
            $scope.maskedInputDateValue = null;

            $scope.textChanged = function () {
                var value = "textChanged";
                $("#EventList").append('<li>' + value + '</li>');
            }
            $scope.valueChanged = function () {
                var value = "valueChanged";
                $("#EventList").append('<li>' + value + '</li>');
            }
            $scope.setDate = function () {
                this.maskedInputDateText = '10/16/2019';
            }
            //Clear()
            $scope.Clear = function () {
                $("#EventList").empty();
            }

        });
    </script>
</head>
<body>
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 234600:[InputDate] To test whether 'textChanged' event fire or not when edit/ delete the date value programmatically or manually</p>
    <br />
    <div ng-app="module" ng-controller="appCtrl">

        <wj-input-date control="inputDate" id="inputDate"
            mask="99/99/9999"
            format="MM/dd/yyyy"
            min="10/1/2019"
            max="10/20/2019"
            is-required="false"
            text="maskedInputDateText"
            value="maskedInputDateValue"
            text-changed="textChanged()"
            value-changed="valueChanged()">
        </wj-input-date>
                   
        <p>Value: {{maskedInputDateValue}} <br/> Text: {{maskedInputDateText}}</p>

        <p><button id="btnSetDate" ng-click="setDate()">Set Date</button></p>

        <div id="EventList"></div>
        <button id="ClearEventList" ng-click="Clear()">Clear Event List</button>
    </div>
</body>
</html>