﻿<!DOCTYPE html>
<html>
<head>
    <title></title>

          <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/widget/angular-route.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />   
    
     <!-- Wijmo -->     
        <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    
    
    <link rel="stylesheet" href="../styles/vendor/wijmo.min.css" /> 

    <script type="text/javascript">
            var app = angular.module('app', ['wj']);
            app.controller('appCtrl', function ($scope) {
                $scope.getValue = function () {
                    var value = $scope.inputNum.value;
                    $("#num").append(value);
                }
                
            });
    </script>
</head>
<body  ng-app ="app" ng-controller="appCtrl">

        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 372139:[InputNumber] To test whether 'value' property can be used to get/set the current value of InputNumber</p>
    <wj-input-number control="inputNum" value="012340">				  				       
    </wj-input-number>
    <button id="btnGet" ng-click="getValue()">
            Get value</button>
    <div id="num"></div>
</body>
</html>
