﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        'use strict';

        // get reference to app module
        var app = angular.module('app',['wj']);

        // controller
        app.controller('appCtrl', function ($scope) {

            $scope.modal = true;

            $scope.show = function (dlgName) {
                var popup = $scope[dlgName];
                popup.show();
            }

            $scope.countries = ['Myanmar','India','China','Thai','England'];
        });

    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 334858: [Popup] To test whether focus stucks on ListBox or not when navigating through Modal popup controls</p>
    <wj-popup control="popup1" modal="true">
        <div style="padding:10px;width:400px;">
            <h4 class="modal-header">Inputs</h4>
                <input type="text" />
                <wj-auto-complete id="autocom" items-source="countries"></wj-auto-complete>
                <wj-input-number id="inputnum"></wj-input-number>
                <wj-list-box id="listbox" items-source="countries" style="width:250px;"></wj-list-box>
                <wj-input-mask id="inputmask"></wj-input-mask>
            <div class="modal-footer">
                <button ng-click="popup1.hide()" style="float:right;">OK</button>
            </div>
        </div>
    </wj-popup>
    <button id="popup" ng-click="show('popup1')">Show Popup</button>   
</body>
</html>