﻿<!DOCTYPE html>
<html>

<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">

        // define app, include Wijmo 5 directives
        var app = angular.module('app', ['wj']);

        // controller
        app.controller('appCtrl', function ($scope) {
            $scope.today = new Date();

            $scope.getValue = function () {
                var result = $scope.DatTime.value;
                $("#showValue").append('<li>' + result + '</li>');
            }

            $scope.setValue = function () {
                $scope.today = new Date();
                var date = new Date($scope.today);
                date = new Date(date.getTime() + 30*24*3600*1000);
                $scope.DatTime.value =  new Date(date.getTime());
                $("#showValue").append('<li>' + $scope.DatTime.value + '</li>');
            }

        });
    </script>
    <style>
        body {
            margin: 30px;
        }
    </style>
</head>

<body>
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div ng-app="app" ng-controller="appCtrl">
        <p>
            Test Case 343758:[InputDateTime] To test whether current selected date can get/set or not by using 'value'
            property</p>
        <br />
        <wj-input-date-time id="datetime" control="DatTime" value="today"></wj-input-date-time>
        <br />
        <br />
        <button id="btnGet" ng-click="getValue()">
            Get Date</button>
        <button id="btnSet" ng-click="setValue()">
            Set Date</button>
        <br />
        <br />
        <p id="showValue">
        </p>
    </div>
</body>

</html>