﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        // define app, include Wijmo 5 directives
        var app = angular.module('app', ['wj']);

        // controller
        app.controller('appCtrl', function ($scope) {

            $scope.continents = {
                america: true,
                asia: true,
                europe: true,
                africa: true,
                oceania: true
            };
            $scope.$watchCollection('continents', function () {
                $scope.countries.refresh(); // apply filter
                wijmo.Control.refreshAll(); // force bound control update
            })

            var countries = [
  	            { name: 'Canada', continent: 'america' },
  	            { name: 'United States', continent: 'america' },
  	            { name: 'Mexico', continent: 'america' },
  	            { name: 'Chile', continent: 'america' },
  	            { name: 'Uruguay', continent: 'america' },
  	            { name: 'China', continent: 'asia' },
  	            { name: 'India', continent: 'asia' },
  	            { name: 'Japan', continent: 'asia' },
  	            { name: 'Korea', continent: 'asia' },
  	            { name: 'Germany', continent: 'europe' },
  	            { name: 'France', continent: 'europe' },
  	            { name: 'England', continent: 'europe' },
  	            { name: 'Italy', continent: 'europe' },
  	            { name: 'Portugal', continent: 'europe' },
  	            { name: 'Greece', continent: 'europe' },
  	            { name: 'Egypt', continent: 'africa' },
  	            { name: 'Kenya', continent: 'africa' },
  	            { name: 'Nigeria', continent: 'africa' },
  	            { name: 'Angola', continent: 'africa' },
  	            { name: 'Australia', continent: 'oceania' },
  	            { name: 'New Zealand', continent: 'oceania' },
              ]

            $scope.countries = new wijmo.CollectionView(countries, {
                filter: function (country) {
                    return $scope.continents[country.continent] == true
                }
            });
        });

    </script>
    <style>
        body{
            margin:30px;
        }
    </style>
</head>
<body>
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>
        Test Case 342181:[ComboBox] To test whether ComboBox can bind or not to a filtered
        CollectionView</p>

     <br />

    <div ng-app="app" ng-controller="appCtrl">
       
        <p>
            Pick a country:
            <wj-combo-box items-source="countries" display-member-path="name">
    </wj-combo-box>
        </p>
        <p>
            Pick one or more continents:
        </p>
        <ul>
            <li>
                <input id="checkbox1" type="checkbox" ng-model="continents.america">
                America </li>
            <li>
                <input id="checkbox2" type="checkbox" ng-model="continents.asia">
                Asia </li>
            <li>
                <input id="checkbox3" type="checkbox" ng-model="continents.europe">
                Europe </li>
            <li>
                <input id="checkbox4" type="checkbox" ng-model="continents.africa">
                Africa </li>
            <li>
                <input id="checkbox5" type="checkbox" ng-model="continents.oceania">
                Oceania </li>
        </ul>
    </div>
</body>
</html>
