﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">

        // define app, include Wijmo 5 directives
        var app = angular.module('app', ['wj']);

        // controller
        app.controller('appCtrl', function ($scope) {

            $scope.selStart = new Date(2019,4,1);
            $scope.$watch('selStart', function () {
                $scope.selEnd = wijmo.DateTime.addDays($scope.selStart, 4);
            });

            $scope.initInputDate = function (s, e) {

                // initialize value to a Monday
                s.value = getMonday(s.value);

                // always select previous Monday
                s.valueChanged.addHandler(function (s, e) {
                    s.value = getMonday(s.value);
                });

                // highlight the whole selected week
                s.calendar.formatItem.addHandler(function (s, e) {
                    var date = e.data,
                day = date.getDay();
                    if (day > 0 && day < 6 && wijmo.DateTime.sameDate(getMonday(date), s.value)) {
                        wijmo.addClass(e.item, 'wj-state-selected');
                    }
                });

                function getMonday(date) {
                    var day = date.getDay();
                    return wijmo.DateTime.addDays(date, 1 - day);
                };
            }
        });
    </script>
    <style>
        body
        {
            margin: 30px;
        }
    </style>
</head>
<body>
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div ng-app="app" ng-controller="appCtrl">
        <p>
            Test Case 342211:[InputDate] To test whether control can select week or not by using
            'valueChanged ' and 'formatItem' events
        </p>
        <br />
        <h4>
            InputDate Week Selection</h4>
        <wj-input-date value="selStart" initialized="initInputDate(s,e)">
        </wj-input-date>
        <br />
        <p>
            The current selection is the week from <b>{{selStart|date}}</b> to <b>{{selEnd|date}}</b>.
        </p>
        <br />
        <i>To accomplish this, we handle the <b>valueChanged</b> event to ensure the selected
            date is a Monday. We also handle the <b>formatItem</b> event to highlight the week
            that starts with the selected Monday. </i>
</body>
</html>
