﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        (function () {
            'use strict';

            angular
                .module('app', ['wj'])
                .controller('appCtrl', function ($scope) {

                    $scope.dispose = function () {
                        $scope.inputNumber.dispose();
                    }

                });
        })();
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl" style="margin: 50px;">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>
       Test Case 339358:[InputNumber] To test whether control can remove or not by using 'dispose' method</p>
    <br />
    <wj-input-number control="inputNumber" id="inputnumber" step="5" value="123"></wj-input-number>
    <br />
    <br />
    <button id="btn" ng-click="dispose()">dispose</button>
</body>
</html>
