﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        var modu = angular.module('module', ['wj']);
        modu.controller('appCtrl', function ($scope) {

            $scope.countries = ['Afghanistan', 'Aruba', 'Australia', 'Austria', 'Belgium', 'Brazil', 'Canada', 'Canary Islands', 'Cape Verde', 'Cayman Islands', 'Central African Republic', 'Chad'];

            var countryCol = [];
            for (var i = 0; i < $scope.countries.length; i++) {
                var c = $scope.countries[i];
                countryCol.push({ id: i, country: c, length: c.length });
            }
            $scope.countryCol = new wijmo.CollectionView(countryCol);       

            //indexOf()
            $scope.indexOf = function () {
                var index = $scope.autocomplete.indexOf("Can", false);
                document.getElementById("showEventStatus").innerHTML = index;
            }

            //indexOf()
            $scope.indexOfFull = function () {
                var index = $scope.autocomplete.indexOf("Austria", true);
                document.getElementById("showEventStatus").innerHTML = index;
            }

        });
    </script>
</head>
<body>
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 334185:[AutoComplete] To test whether can get or not the index of the first item that matches a given string by using 'indexOf' method</p>
    <br />
    <div ng-app="module" ng-controller="appCtrl">
        <wj-auto-complete id="autocom" control="autocomplete" items-source="countryCol" display-member-path="country" checked-member-path="selected"></wj-auto-complete>
        <br />
        <button id="btnIndex1" ng-click="indexOf()">indexOf (Can)</button>
        <button id="btnIndex2" ng-click="indexOfFull()">indexOf (Austria)</button>
        <br />
        <div id="showEventStatus"></div>
    </div>
</body>
</html>