﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script>
        var defect = "Appearance,BAgs Not Sealed Properly,Broken Pieces,Foriegn Material,Texture".split(','),
          Appropred = "12,1,3,1,1".split(","),
          ApprovedCost = "1619.41,226.10,149.50,119.00,238.00".split(","),
          data = [];
        for (var i = 0; i < defect.length; i++) {
            data.push({
                defect: defect[i],
                Approved: Number(Appropred[i]),
                ApprovedCost: Number(ApprovedCost[i])
            });
        }
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope, $timeout) {
            $scope.data = new wijmo.CollectionView(data);


            $scope.show = function () {
                $scope.popup.show(false);
            }
            $scope.hide = function () {
                $scope.popup.hide();
            }
        });
    </script>
</head>
<body>
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div ng-app="app" ng-controller="appCtrl">
        <br />
        <br />
        <label>
            Test Case 301763:[Popup] To test whether popup shows at proper position or not in
            all browsers</label>
        <br />
        <br />
        <button id="show" ng-click="show()">
            Popup</button>
        <wj-popup control="popup" hide-trigger="Blur" remove-on-hide="true">
          <div style="width:700px;height:400px; padding:10px;">             
               <p style="height:300px;"> This is content.</p>
              <hr />
              <button id="hide" ng-click="hide()" style="float:right;">Hide Popup</button>
          </div>
       </wj-popup>
    </div>
</body>
</html>
