﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        var modu = angular.module('module', ['wj']);
        modu.controller('appCtrl', function ($scope) {

            $scope.countries = ['Australia', 'Brazil', 'France', 'Germany', 'Great Britain'];

            $scope.setText1 = function () {
                $scope.combobox.text = "Testing Text 1";
            }

            $scope.setText2 = function () {
                $scope.combobox.text = "Testing Text 2";
            }
        });
    </script>
</head>
<body>
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 316859:[ComboBox] To test whether setting 'text' property is working correctly or not when 'isEditable' property is set true</p>
    <br />
    <div ng-app="module" ng-controller="appCtrl" style="width:500px;">
         <wj-combo-box id="combobox" control="combobox" items-source="countries" is-editable="true"></wj-combo-box>
         <button id="Button1" ng-click="setText1()">Text1</button>
         <button id="Button2" ng-click="setText2()">Text2</button>
    </div>
</body>
</html>