﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        'use strict';

        // get reference to app module
        var app = angular.module('app', ['wj']);

        // controller
        app.controller('appCtrl', function ($scope) {

            $scope.modal = true;

            $scope.show = function (dlgName) {
                var popup = $scope[dlgName];
                popup.show();
            }

            $scope.dispose = function () {

                $scope.popup1.dispose();
            }

        });

    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 338480:[Popup] To test whether popup control can dispose or not by using 'dispose' method</p>
    <wj-popup id="popup1" control="popup1" hideTrigger="Click">
        <div style="padding:10px;width:400px;">
            <h4 class="modal-header">Inputs</h4>
                <input type="text" />               
                <wj-input-number id="inputnum"></wj-input-number>
                <wj-input-mask id="inputmask"></wj-input-mask>
            <div class="modal-footer">
                <button ng-click="" style="float:right;">OK</button>
            </div>
        </div>
    </wj-popup>
    <button id="popup" ng-click="show('popup1')">Show Popup</button>   
    <button id="Button1" ng-click="dispose()">Dispose</button>   
</body>
</html>