﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        'use strict';

        // declare app module
        var app = angular.module('app',['wj']);

        // controller
        app.controller('appCtrl', function ($scope) {

            // data context
            $scope.ctx = {

                // data
                today: new Date(),                   
                departureDate: new Date()              
            };

              
            $scope.initCalendar = function (s, e) {
                var calendar = s;
                calendar.refreshing.addHandler(function () {
                    $("#showEventStatus").append('<li> calendar.refreshing </li>');
                });
                calendar.refreshed.addHandler(function () {
                    $("#showEventStatus").append('<li> calendar.refreshed </li>');
                });
            }
              
            $scope.initDate = function (s, e) {
                var inputDate = s;
                inputDate.refreshing.addHandler(function () {
                    $("#showEventStatus").append('<li> inputDate.refreshing </li>');                    
                });
                inputDate.refreshed.addHandler(function () {
                    $("#showEventStatus").append('<li> inputDate.refreshed </li>');
                });
            }
            $scope.initInputDateTime = function (s, e) {
                var inputDateTime = s;
                inputDateTime.refreshing.addHandler(function () {
                    $("#showEventStatus").append('<li> inputDateTime.refreshing </li>');   
                });
                inputDateTime.refreshed.addHandler(function () {
                    $("#showEventStatus").append('<li> inputDateTime.refreshed </li>');   
                });
            }
               
            $scope.initPopup = function (s, e) {
                var popup = s;
                popup.refreshing.addHandler(function () {
                    $("#showEventStatus").append('<li> popup.refreshing </li>');                    
                });
                popup.refreshed.addHandler(function () {
                    $("#showEventStatus").append('<li> popup.refreshed </li>');
                });
            }         

        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl" style="margin:50px;">    
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 305344:[Inputs] To test whether 'refreshing' and 'refreshed' events fire or not when/after the control has refreshed its contents</p>
    <button id="btnPopup" type="button" class="btn btn-default" ng-click="popup.show()">
		Open Popup
	</button>
	<wj-popup control="popup" hide-trigger="Blur" initialized="initPopup(s,e)" style="width:500px">
		<p>Popup</p>
	</wj-popup>

    <wj-input-date initialized="initDate(s,e)" id="inputDate"
                   value="ctx.departureDate"
                   min="2015-01-01"
                   max="2020-12-31"
                   format="d">
    </wj-input-date>

    <wj-input-date-time value="ctx.departureDate" id="inputDateTime"
                        initialized="initInputDateTime(s,e)">
    </wj-input-date-time>
    
    <wj-calendar initialized="initCalendar(s,e)" id="calendar"
                 class="calendar"
                 value="ctx.departureDate"
                 min="2015-01-01"
                 max="2020-12-31"
                 style="width:400px">
     </wj-calendar>
     <div id="showEventStatus"></div>
</body>   	
</html>