﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        angular
		    .module('app', ['wj'])
		    .controller('appCtrl', function ($scope) {

		        $scope.today = new Date(2019, 1, 14)

		        $scope.selectionNone = function () {
		            $scope.inputDate.selectionMode = "None";
		        }

		        $scope.selectionDay = function () {
		            $scope.inputDate.selectionMode = "Day";
		        }

		        $scope.selectionMonth = function () {
		            $scope.inputDate.selectionMode = "Month";
		        }

		    });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl" style="margin:50px;">

   
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 326693:[InputDateTime] To test whether 'SelectionMode' property work as expected when select date/month/year</p>

   <wj-input-date-time id="inputDate" control="inputDate" value="today" ></wj-input-date-time>
   <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

   <label>Selection Mode</label>
   <button id="btn1" ng-click="selectionNone()">None</button> 

   <button id="btn2" ng-click="selectionDay()">Day</button> 

   <button id="btn3" ng-click="selectionMonth()">Month</button>
           
</body>
</html>