﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular-route.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <link href="../styles/app.css" rel="stylesheet" type="text/css" />
    
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            // droppedDownChanging
            $scope.droppedDownChanging = function () {
                if ($("#chkDroppedDownChanging").is(":checked")) {
                    $("#showEventStatus").append('<li>droppedDownChanging...</li>');
                }
            }

            // droppedDownChanged
            $scope.droppedDownChanged = function () {
                if ($("#chkDroppedDownChanged").is(":checked")) {
                    $("#showEventStatus").append('<li>droppedDownChanged...</li>');
                }
            }

            //Clear()
            $scope.Clear = function () {
                $("#showEventStatus").empty();
            }

        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">    
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 328840:[InputDateTime] To test whether 'IsDroppedDownChanged/Changing' event fire properly or not</p>
    <wj-input-date-time id="inputDateTime" step="120" is-dropped-down-changing="droppedDownChanging()" is-dropped-down-changed="droppedDownChanged()"></wj-input-date-time>
    <br />
    <input type="checkbox" id="chkDroppedDownChanging" checked/>droppedDownChanging
    <input type="checkbox" id="chkDroppedDownChanged" checked/>droppedDownChanged
    <br />
    <div id="showEventStatus" style="background-color:aliceblue;width:500px;"></div>
    <br />
    <button id="btn1" ng-click="Clear()">Clear</button>

</body>
</html>
