﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        'use strict';

        // get reference to app module
        var app = angular.module('app', ['wj']);

        // controller
        app.controller('appCtrl', function ($scope) {

            $scope.items = ['Option 1', 'Option 2', 'Option 3'];

            $scope.show = function () {
                $scope.menu.show();
            }
        });

    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 338506:[Menu] To test whether menu can show or not with 'show' method</p>
    <wj-menu id="menu" control="menu" header="Files" items-source="items"></wj-menu>    
    <button id="show" ng-click="show()">show</button>
</body>
</html>