﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        // define app, include Wijmo 5 directives
        var app = angular.module('app', ['wj']);

        // controller
        app.controller('appCtrl', function ($scope) {

            // define initial format and function to change it
            $scope.fmt = 'c2';
            $scope.changeFormat = function () {
                $scope.fmt = $scope.fmt == 'c2' ? 'n0' : 'c2';
            }

            // force combo update when format changes (it doesn't know the format has changed)
            $scope.$watch('fmt', function () {
                if ($scope.cmb) {
                    var cmb = $scope.cmb,
                    data = cmb.itemsSource;
                    cmb.itemsSource = null;
                    cmb.itemsSource = data;
                }
            })

            // format items using the "fmt" format
            $scope.itemFormatter = function (index, content) {
                content = wijmo.Globalize.parseFloat(content);
                return wijmo.Globalize.format(content, $scope.fmt);
            }

            // create some random data
            var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(','),
            data = [];
            for (var i = 0; i < countries.length; i++) {
                data.push({
                    country: countries[i],
                    downloads: Math.round(20000),
                    sales: i * 100,
                    expenses: i * 50
                });
            }

            // expose data as a CollectionView to get events
            $scope.data = new wijmo.CollectionView(data);
        });

    </script>
    <style>
        body
        {
            margin: 30px;
        }
    </style>
</head>
<body>
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div ng-app="app" ng-controller="appCtrl">
        <p>
            est Case 342203:[ComboBox] To test whether ComboBox can force to update or not that
            affects custom item formatting</p>
        <br />
        <p>
            Dynamic ItemFormatter
        </p>
        <wj-combo-box control="cmb" items-source="data" item-formatter="itemFormatter" display-member-path="sales">
        </wj-combo-box>
        <button id="btn1" ng-click="changeFormat()">
            Change Format
        </button>
    </div>
</body>
</html>
