﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        'use strict';

        // get reference to app module
        var app = angular.module('app', ['wj']);
        // controller
        app.controller('appCtrl', function ($scope) {

            $scope.countries = ['Myanmar', 'India', 'Thai'];

            $scope.get_selectedItem = function () {
                var result = $scope.autoComplete.selectedItem;
                $("#result").append('<li>'+result+'</li>');
            }

        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl" style="margin:50px;">

    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 334170:[AutoComplete] To test whether can get or set currently selected item in the drop-down list by using 'selectedItem' property</p>

    <br />
    <wj-auto-complete id="autocom" control="autoComplete" items-source="countries"></wj-auto-complete>

    <button id="btn" ng-click="get_selectedItem()">selectedItem</button>

    <p id="result"></p>

</body>
</html>