﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        (function () {
            'use strict';

            angular
                .module('app', ['wj'])
                .controller('appCtrl', function ($scope) {

                    $scope.selectAll = function () {
                        $scope.inputMask.selectAll();
                    }
                });
        })();
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl" style="margin: 50px;">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>
        Test Case 342476:[InputMask] To test whether control can focus and select all its
        content or not by using 'selectAll' method</p>
    <br />
    <wj-input-mask control="inputMask" id="inputmask" mask="0000" value="123"></wj-input-mask>
    <br />
    <br />
    <button id="btn" ng-click="selectAll()">
        selectAll</button>
</body>
</html>
