﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script>
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope, $timeout) {
            $scope.showModal = function () {
                $scope.popup.show(true);
            }
        });
    </script>
    <style>   
        .wj-dialog-header {
            cursor: move;
        }
    </style>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 302716:[Popup] To test whether dialog can be dragged by clicking and dragging the header element using the 'wj-dialog-header' class if 'isDraggable' property is set as True</p>
    <div ng-app="app" ng-controller="appCtrl">
       <button ng-click="showModal()">Modal Popup</button>
       <wj-popup control="popup" is-draggable="true">
            <div class="wj-dialog-header" >
                <p>This is header.</p>
            </div> 
       </wj-popup>
    </div>
</body>
</html>
