﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script>
        var modu = angular.module('module', ['wj']);
        modu.controller('appCtrl', function ($scope, $timeout) {
            $scope.mask_initialize = function () {
                var inpMask = $scope.mask;
                inpMask.initialize({
                    mask: '0000-9999-llll',
                    value: '0937  02abYZ'
                });
            };
        });
    </script>
</head>
<body ng-app="module" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 342419:[InputMask] To test whether control can initialize or not by using 'initialize' method</p>
    <wj-input-mask control="mask" initialize="mask_initialize()">
	</wj-input-mask>
    <button id="btnInitialize" class="btn btn-default" ng-click="mask_initialize()">
            initialize
        </button>
</body>
</html>
