﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        (function () {
            'use strict';

            angular
		    .module('app', ['wj'])
		    .controller('appCtrl', function ($scope) {

		        $scope.countries = ['American Samoa', 'Andorra', 'Angola', 'Anguilla', 'Antigua', 'Argentina', 'Armenia',
                                    'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize',
                                    'Benin', 'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire', 'Bosnia', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi',
                                    'Cambodia', 'Cameroon', 'Canada', 'Canary Islands', 'Cape Verde', 'Cayman Islands', 'Central African Republic', 'Chad', 'Channel Islands'
	                               ];

		        $scope.dispose = function () {
		            $scope.comboBox.dispose();
		        }

		    });
        })();
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl" style="margin:50px;">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 342659:[ComboBox] To test whether control can remove or not by 'dispose' method</p>
    <br />    
    <wj-combo-box id="comboBox" control="comboBox" items-source="countries"></wj-combo-box>
    <button id="btnDispose" ng-click="dispose()">dispose</button>
</body>
</html>