﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        'use strict';

        // get reference to app module
        var app = angular.module('app', ['wj']);

        // controller
        app.controller('appCtrl', function ($scope) {
            $scope.items = ['Option 1', 'Option 2', 'Option 3'];

            $scope.getSelectIndex = function () {               
               $("#showEventStatus").append('<li>selectedIndex' + $scope.menu.selectedIndex + '</li>');
            }
        });
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 338520:[Menu] To test whether control gets/sets or not the index of the currently selected item by using 'selectedIndex' property</p>
    <button id="getIndex" ng-click="getSelectIndex()">selectIndex</button>
    <div id="showEventStatus"></div>
    <br />
    <wj-menu control="menu" header="Files" items-source="items"></wj-menu>
    <wj-menu value="menu.selectedIndex" header="selectedIndex">
		<wj-menu-item value="-1">-1</wj-menu-item>
		<wj-menu-item value="0">0</wj-menu-item>
		<wj-menu-item value="1">1</wj-menu-item>
		<wj-menu-item value="2">2</wj-menu-item>
	</wj-menu>
</body>
</html>