﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script>
        angular.module('angularApp', ['wj'])
            .controller('indexCtrl', function ($scope, $q) {
                var self = this;
                self.showLevel2Popup = function () {
                    var popup = self.dialogs.level2Popup;
                    self.showPopup(popup);
                }

                self.showLevel3Popup = function () {
                    var popup = self.dialogs.level3Popup;
                    self.showPopup(popup);
                }

                self.showPopup = function (targetPopup) {
                    popup = targetPopup;
                    popup.show(true, function (result) {
                    });
                }
            });
    </script>
    <style type="text/css">
        .popup-modal-md {
            width: 500px;
            height: 400px;
            max-height: 90vh;
            max-width: 90%;
            overflow-y: auto;
        }

        .popup-modal-sm {
            width: 300px;
            height: 260px;
            max-height: 90vh;
            max-width: 95%;
            overflow-y: auto;
        }
    </style>
</head>
<body ng-app="angularApp" style="margin:50px;">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 337807:[Popup] To test whether modal dialog move or not behind of parent modal dialog when resizing browser</p>
    <br />
    <!-- index.html -->
    <div ng-controller="indexCtrl as main">
       
            <h4>Popup Testing</h4>
            <button id="level2" class="btn btn-primary" ng-click="main.showLevel2Popup();">Level2表示</button>
      

        <wj-popup control="main.dialogs.level2Popup" class="popup-modal-md" modal="true" show-trigger="None" hide-trigger="None">

            <!-- popup2.html -->
            <article>
                <div id="popup2">
                    <div class="wj-dialog-header">Level2画面</div>
                    <div class="wj-dialog-body">
                        <div class="container">
                            <div class="row">
                                Level2ポップアップ画面本文。
                            </div>
                            <div class="row">
                                <button id="level3" type="button" class="btn btn-primary" ng-click="main.showLevel3Popup();">Level3表示</button>
                            </div>
                        </div>
                    </div>
                    <div class="wj-dialog-footer">
                        <button class="btn btn-default wj-hide-ok">OK</button>
                        <button class="btn btn-default wj-hide-cancel">キャンセル</button>
                    </div>
                </div>

                <wj-popup control="main.dialogs.level3Popup" class="popup-modal-sm" modal="true" show-trigger="None" hide-trigger="None">

                    <!-- popup3.html -->
                    <article>
                        <div id="popup3">
                            <div class="wj-dialog-header">Level3画面</div>
                            <div class="wj-dialog-body">
                                <div class="container">
                                    <div class="row">
                                        Level3ポップアップ画面本文。
                                    </div>
                                </div>
                            </div>
                            <div class="wj-dialog-footer">
                                <button class="btn btn-default wj-hide-ok">OK</button>
                                <button class="btn btn-default wj-hide-cancel">キャンセル</button>
                            </div>
                        </div>
                    </article>
                </wj-popup>
            </article>
        </wj-popup>
    </div>
</body>
</html>