﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        var modu = angular.module('module', ['wj']);
        modu.controller('appCtrl', function ($scope) {

            $scope.value = 45.78;

        });
    </script>
</head>
<body ng-app='module' ng-controller='appCtrl'>
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 87510:[InputNumber] To test whether value is correctly displayed when the format is changed from percent to numeric</p>
	<div>
	    <h4>Input Number </h4>
	    <wj-input-number control="ctx.inpNumber1" class=wj-inputnumber value=value format="n3" step="1"></wj-input-number>
        <br/><br/>
        <p id="value">Value: {{value}}</p>
        <wj-menu value="ctx.inpNumber1.format" header="Format">
            <wj-menu-item value="'n3'" >n3</wj-menu-item>
            <wj-menu-item value="'c3'">c3</wj-menu-item>
            <wj-menu-item value="'p3'">p3</wj-menu-item>
        </wj-menu>
	</div>
</body>
</html>