﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script type="text/javascript">
        (function () {
            'use strict';

            angular
		.module('app', ['wj'])
		.controller('appCtrl', function ($scope) {

		    $scope.inpMask1 = null;
		    $scope.inpDate1 = null;
		    $scope.today = new Date($.now());
		    $scope.value1 = "AB-C2-1234";
		    $scope.num = 1234;

		    $scope.focus_InputDate = function () {

		        var inpDate = $scope.inpDate1;

		        inpDate.focus();

		    };

		    $scope.focus_InputMask = function () {

		        var inpMask = $scope.inpMask1;

		        inpMask.focus();

		    };
		    $scope.focus_InputTime = function () {

		        var inpTime = $scope.inpTime1;

		        inpTime.focus();

		    };
		    $scope.focus_InputNumber = function () {

		        var inpNumber = $scope.inpNumber1;

		        inpNumber.focus();

		    };
		});
        })();
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl" style="margin:50px;">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 97132:[Input][All] To test whether Input controls got focus when focus() method is called</p>
    <br /><br />
    <table>
        <tr>
            <td>InputMask</td>
            <td id="inpMask">
                <wj-input-mask control="ctx.inpMask1"                                       
                                mask="LL-AA-0000"
                                value="value1"
                                is-required="false">
                </wj-input-mask>
            </td>
        </tr>
        <tr>
            <td>InputDate</td>
            <td id="inpDate">
                <wj-input-date control="inpDate1" 
                               value="today" 
                               format="yyyy/MM/dd dddd"
                               is-required="false">
                </wj-input-date></td>
        </tr>
        <tr>
            <td>InputTime</td>
            <td id="inpTime">
                <wj-input-time control="inpTime1" 
                               value="today" 
                               format="hh:mm tt"
                               is-required="false">
                </wj-input-time>
            </td>
        </tr>
        <tr>
            <td>InputNumber</td>
            <td id="inpNumber">
                <wj-input-number control="inpNumber1" 
                                 step="1" value="num" 
                                 format="c2"
                                 is-required="false">
                </wj-input-number>
            </td>
        </tr>         
    </table>
    <div>	
        <br/><br/>
        <button id="btn1" ng-click="focus_InputMask()">Focus InputMask</button>
        <button id="btn2" ng-click="focus_InputDate()">Focus InputDate</button>
        <button id="btn3" ng-click="focus_InputTime()">Focus InputTime</button>
        <button id="btn4" ng-click="focus_InputNumber()">Focus InputNumber</button>        
    </div>
</body>
</html>