﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <title></title>
     <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css">

    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
   
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/chartCtrl.js" type="text/javascript"></script>
    <script src="../scripts/directives/appDctv.js" type="text/javascript"></script>

    <link href="../styles/app.css" rel="stylesheet"/> 
    <link href="../styles/flexchart.css" rel="stylesheet" type="text/css" />
</head>
<body  ng-app="app" ng-controller="appCtrl">

        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre>Title:Bug 124400:[FlxePie] Unlike FlexChart,FlexPie Legend cannot wrap when multiple series are added in chart
</pre>
<wj-flex-pie control="ctx.chart" 
 items-source="data" binding="y1"
 selection-mode="Point" 
 binding-name="fruit" style="width: 300px;">
 <wj-flex-chart-legend position="Top"></wj-flex-chart-legend>
</wj-flex-pie>
<input ng-model="ctx.chart.header" class="form-control" id="inp1"/>
<input ng-model="ctx.chart.footer" class="form-control" id="inp2"/>
<pre>
Repro Steps :
1.Run attached sample "QA_124400.html".
Observe:Unlike flexchart,Legends are not wrapped..[Incorrect]
</pre>
</body>
</html>
