﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css">
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/flexPie_appCtrl.js" type="text/javascript"></script>
    <link href="../styles/app.css" rel="stylesheet" />
    <link href="../styles/flexchart.css" rel="stylesheet" type="text/css" />
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><wj-flex-pie class="chart" control="ctx.pieChart" binding="y" binding-name="x" label-content="{y}"
        selection-mode="Point" items-source="piedata" style="width: 400px; height: 500px">
	</wj-flex-pie>
    <br />
    <button id="btnAdd" type="button" ng-click="addSlice()">
        add slice
    </button>
    <button id="btnRemove" type="button" ng-click="removeSlice()">
        remove slice
    </button>
    <br />
    <pre>
Repro Steps:
1. Run ‘JS/TS > Angular/Angular2/PureJS> Explorer/FlexChartAnimation’ sample.
2. Navigate to ‘FlexPie - Animation’.
3. Click ‘Add Slice’ button 9 times.
Observe: Legend for ‘added9’ pie slice does not appear.[Incorrect]
4. Click ‘Add Slice’ button again.
Observe: Legends for both ‘added9’ and ‘added10’ pie slices appear.[Correct]
  </pre>
</body>
</html>
