﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
       <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />

    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
   
    <!-- app scripts and styles -->
    <link href="../styles/app.css" rel="stylesheet" /> 
    <link href="../styles/flexchart.css" rel="stylesheet" type="text/css" />

     <script type="text/javascript">

         var app = angular.module('app', ['wj']);

         app.controller('appCtrl', function ($scope) {

            // generate some random data
            function getData(numCount) {
                var data = new wijmo.ObservableArray();
                //var data = [];

                for (var i = 0; i < numCount; i++) {
                    data.push(getRandomData('random' + getRandomValue(1000)));
                }
                return data;
            };

            function getRandomData(idx) {
                return {
                    x: idx,
                    y: getRandomValue(200)
                }
            };

            function getRandomValue(max) {
                return Math.round(Math.random() * max);
            };

             $scope.piedata = getData(60);

             $scope.ctx = {
                 chart: null,
                 duration: 400,
                 easing: 'Swing',
                 animationMode: 'All'
             };
             $scope.selectedPosition = "Top";

             $scope.$watch('ctx.chart', function () {
                 var pieChart = $scope.ctx.chart;
                 if (!pieChart) {
                     return;
                 }
                 updatePieChart();
             });
                       
             function updatePieChart() {
                 var pieChart = $scope.ctx.chart;

                 if (pieChart) {
                     pieChart.refresh(true);
                 }
             }

             //selection-mode="Point"
             var insertPieIdx = 1;
             $scope.addSlice = function () {
                 $scope.piedata.push(getRandomData('added' + insertPieIdx));
                 insertPieIdx++;
             };

  });
  
</script>

</head>
<body ng-app="app" ng-controller="appCtrl">


        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><wj-flex-pie control="ctx.chart" items-source="piedata" binding="y" binding-name="x"  style="width: 1000px; height: 400px">
     <wj-flex-chart-animation animation-mode="{{ctx.animationMode}}" easing="{{ctx.easing}}" duration="{{ctx.duration}}"></wj-flex-chart-animation>
</wj-flex-pie> 
<button id="add" type="button" class="btn btn-default" ng-click="addSlice()">add slice</button><br /><br />
<pre>
Repro Steps:
1. Run ‘QA_275695.htm’ sample.
2. Press ‘F12’ key to open console window.
3. Click ‘add slice’ button for around 10 times.
Observe: After adding slices with setting 400 in ‘Duration’, JavaScript error, called ‘Uncaught TypeError: Cannot read property ‘setAttribute’ of undefined..’, is 
observed…..[Case1]
Note: Sometime, it might need to refresh and redo the steps three or four times to produce case1.
Observe: The slice can add properly and the legend can add properly until adding ‘added5’ legend. After that, the next legends are cut off and they cannot show 
properly for newly added slices as the pie chart cannot be shrunk anymore for the legend space even though newly added slices are properly adding to the pie
chart…..[Case2]
</pre>
</body>
</html>
