﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <!-- app scripts and styles -->
    <link href="../styles/app.css" rel="stylesheet" />
    <link href="../styles/flexchart.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">

        var app = angular.module('app', ['wj']);

        app.controller('appCtrl', function ($scope) {

            $scope.ctx = {
                chart: null,
                pieAnni: null,
                animationMode: 'All'
            };

            $scope.$watch('ctx.chart', function () {
                var pieChart = $scope.ctx.chart;
                if (!pieChart) {
                    return;
                }
                updatePieChart();
            });
            $scope.$watch('ctx.animationMode', function () {
                var pieChart = $scope.ctx.chart,
                        animationMode = $scope.ctx.animationMode;

                if (!animationMode || animationMode === '') {
                    return;
                }
                updatePieChart();
            });

            function updatePieChart() {
                var pieChart = $scope.ctx.chart;

                if (pieChart) {
                    pieChart.refresh(true);
                }
            }

            $scope.fruits = [
                 { "name": "Orange", "food": "Fried Rice", "x": 1, "date1": new Date(2014, 1, 1), "date2": new Date(2014, 1, 1), "y1": 10, "y2": 8, "y3": 10, "y4": -16 },
                 { "name": "apple", "food": "Fried Noodle", "x": 2, "date1": new Date(2014, 2, 2), "date2": new Date(2014, 2, 2), "y1": 20, "y2": 12, "y3": 16, "y4": -19 },
                 { "name": "lime", "food": "Fried Egg", "x": 3, "date1": new Date(2014, 3, 3), "date2": new Date(2014, 3, 3), "y1": 30, "y2": 10, "y3": 17, "y4": 15 },
                 { "name": "lemon", "food": "Fried Vermicelli", "x": 4, "date1": new Date(2014, 4, 4), "date2": new Date(2014, 4, 4), "y1": 40, "y2": 12, "y3": 15, "y4": -22 },
                 { "name": "mango", "food": "Chicken Soup", "x": 5, "date1": new Date(2014, 5, 5), "date2": new Date(2014, 5, 5), "y1": 50, "y2": 15, "y3": 23, "y4": -18 },
                 { "name": "Watermelon", "food": "Pork Soup", "x": 6, "date1": new Date(2014, 6, 6), "date2": new Date(2014, 6, 6), "y1": 60, "y2": 15, "y3": 23, "y4": -18 },
                 { "name": "Kiwi", "food": "Beef Soup", "x": 7, "date1": new Date(2014, 7, 7), "date2": new Date(2014, 7, 7), "y1": 70, "y2": 15, "y3": 23, "y4": -18 }
                ];

        });

    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre>  
 Test Case 249666:[FlexPie]To test 'animationMode(all,point,series)' property is working properly.
</pre>
    <wj-flex-pie control="ctx.chart" items-source="fruits" binding="y4" binding-name="name"
        style="width: 600px; height: 400px">
      <wj-flex-chart-animation id="anni" control="ctx.pieAnni" animation-mode="{{ctx.animationMode}}" duration="1000" ></wj-flex-chart-animation>
</wj-flex-pie>
    <wj-menu id="pieAnimationMode" value="ctx.animationMode" header="animationMode">
                    <wj-menu-item value="'Point'">Point</wj-menu-item>
            <wj-menu-item value="'Series'">Series</wj-menu-item>
            <wj-menu-item value="'All'">All</wj-menu-item>
</body>
</html>
