﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
      <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css">

    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
   
    <!-- app scripts and styles -->
    <link href="../styles/app.css" rel="stylesheet" /> 
    <link href="../styles/flexchart.css" rel="stylesheet" type="text/css" />

     <script type="text/javascript">

         var app = angular.module('app', ['wj']);

         app.controller('appCtrl', function ($scope) {

             var insertPieIdx = 1;
             $scope.ctx = {
                 chart: null,
                 pieAnni: null,
                 animationMode: 'All'
             };

             // generate some random data
             function getData(numCount) {
                 var data = new wijmo.ObservableArray();
                 //var data = [];

                 for (var i = 0; i < numCount; i++) {
                     data.push(getRandomData('random' + getRandomValue(1000)));
                 }
                 return data;
             }

             function getRandomData(idx) {
                 return {
                     x: idx,
                     y: getRandomValue(200)
                 };
             }

             function getRandomValue(max) {
                 return Math.round(Math.random() * max);
             }

             $scope.piedata = getData(10);

             $scope.addSlice = function () {
                 $scope.piedata.push(getRandomData('added' + insertPieIdx));
                 insertPieIdx++;
             };

             $scope.removeSlice = function () {
                 if ($scope.piedata.length) {
                     $scope.piedata.pop();
                     insertPieIdx <= 1 ? 1 : insertPieIdx--;
                 }
             };

             $scope.$watch('ctx.chart', function () {
                 var pieChart = $scope.ctx.chart;
                 if (!pieChart) {
                     return;
                 }
                 updatePieChart();
             });
             $scope.$watch('ctx.animationMode', function () {
                 var pieChart = $scope.ctx.chart,
                        animationMode = $scope.ctx.animationMode;

                 if (!animationMode || animationMode === '') {
                     return;
                 }
                 updatePieChart();
             });

             function updatePieChart() {
                 var pieChart = $scope.ctx.chart;

                 if (pieChart) {
                     pieChart.refresh(true);
                 }
             }

         });

</script>
</head>
<body  ng-app="app" ng-controller="appCtrl">

        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre>  
 Test Case 277309: [FlexPie] To test whether slices can be added or removed properly when using animation modes for FlexPie
</pre>
<wj-flex-pie control="ctx.chart" items-source="piedata" binding="y" binding-name="x"  style="width: 600px; height: 400px">
      <wj-flex-chart-animation id="anni" control="ctx.pieAnni" animation-mode="{{ctx.animationMode}}" duration="1000" ></wj-flex-chart-animation>
</wj-flex-pie>
  <button id="add" type="button" class="btn btn-default" ng-click="addSlice()">add slice</button>
  <button id="remove" type="button" class="btn btn-default" ng-click="removeSlice()">remove slice</button>
 
</body>
</html>
