﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
     <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css">

    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
   
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <link href="../styles/app.css" rel="stylesheet"/> 
    <link href="../styles/flexchart.css" rel="stylesheet" type="text/css" />
</head>
<body  ng-app="app" ng-controller="appCtrl">
        
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 339302:[FlexPie] To test whether 'plotMargin' property is working properly in FlexPie</p>
         <wj-flex-pie class="chart"
                 control="ctx.chart"
                 binding="value"
                 binding-name="name"
                 items-source="ctx.itemsSource" style="width: 700px; height: 450px">
         </wj-flex-pie>
          <button ng-click="plotMargin()" id="btnMargin">PlotMargin</button>
         <script>
         var app = angular.module("app", ['wj']);
         app.controller('appCtrl', function ($scope,$timeout) {
    // data context
    $scope.ctx = {
        chart: null,
        itemsSource: [],
    };

    $scope.menuPaletteItemClicked = function (sender, args) {
        var menu = sender;
        $scope.ctx.chart.palette = wijmo.chart.Palettes[$scope.ctx.palettes[menu.selectedIndex]];
    }

    // populate itemsSource
    var names = ['Oranges', 'Apples', 'Pears', 'Bananas', 'Pineapples'],
        data = [];
    for (var i = 0; i < names.length; i++) {
        data.push({
            name: names[i],
            value: 100+10*i
        });
    }
    $scope.ctx.itemsSource = data;    

    //plotMargin
    $scope.plotMargin = function () {
            var pie = $scope.ctx.chart;
            pie.plotMargin = 100;
        };
    });
</script>
</body>
</html>
