﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
     <!-- Third Party -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.1.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />

    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
   
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <link href="../styles/app.css" rel="stylesheet"/> 
    <link href="../styles/flexchart.css" rel="stylesheet" type="text/css" />
    <script>
         var app = angular.module("app", ['wj']);
         app.controller('appCtrl', function ($scope,$timeout) {
    // data context
    $scope.ctx = {
        chart: null,
        itemsSource: [],
    };

    // populate itemsSource
    var names = ['Oranges', 'Apples', 'Pears', 'Bananas', 'Pineapples'],
        data = [];
    for (var i = 0; i < names.length; i++) {
        data.push({
            name: names[i],
            value: 100+10*i
        });
    }
    $scope.ctx.itemsSource = data;    
    $scope.setFocus = function () {
                var pie = $scope.ctx.chart;
                pie.focus();
            }

            //Got focus event
            $scope.focus = function () {
                if ($scope.ctx.chart)
                    $("#focusDiv").append('<li> FlexPie got Focus </li>');
            }
    });
</script>
</head>
<body  ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 346158: [FlexPie] To test whether 'focus' method is working properly to set the focus to 'FlexPie' control</p>
    <button id="btn" ng-click="setFocus()">Set Focus</button>
    <div id="focusDiv"></div>
    <wj-flex-pie class="chart" control="ctx.chart" binding="value" binding-name="name" items-source="ctx.itemsSource"  label-content="{name}" style="width: 400px; height: 300px" got-focus="focus()">
	</wj-flex-pie>
</body>
</html>
