﻿<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
     <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css">

    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
   
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <link href="../styles/app.css" rel="stylesheet"/> 
    <link href="../styles/flexchart.css" rel="stylesheet" type="text/css" />
         <script>
         var app = angular.module("app", ['wj']);
         app.controller('appCtrl', function ($scope,$timeout) {
    // data context
    $scope.ctx = {
        chart: null,
        itemsSource: [],
    };
    $scope.menuPaletteItemClicked = function (sender, args) {
        var menu = sender;
        $scope.ctx.chart.palette = wijmo.chart.Palettes[$scope.ctx.palettes[menu.selectedIndex]];
    }
    // populate itemsSource
    var names = ['Oranges', 'Apples', 'Pears', 'Bananas', 'Pineapples','Limes','Watermelons','Grapes','Pineapples','Strawberries'],
        data = [];
    for (var i = 0; i < names.length; i++) {
        data.push({
            name: names[i],
            value: 100+10*i
        });
    }
    $scope.ctx.itemsSource = data;    
    $scope.gap = function () {
        var pie = $scope.ctx.chart;
        pie.tooltip.gap = 100;
    };
    });
</script>
</head>
<body  ng-app="app" ng-controller="appCtrl">
        
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 334524:[FlexPie] To test whether the distance between the tooltip and the target element can be defined by using tooltip 'gap' property and setting 'selectedItemOffset'</p>
         <wj-flex-pie class="chart"
                 control="ctx.chart"
                 binding="value"
                 selection-mode="Point"
                 binding-name="name"
                 items-source="ctx.itemsSource" 
                 style="width: 500px; height: 350px">
         </wj-flex-pie>
         <fieldset>
	         <button id="btnGap" ng-click="gap()">Gap=100</button>
            <wj-menu id="mnu" value="ctx.chart.selectedItemOffset" header="selectedItemOffset:">
                <wj-menu-item value="0">0</wj-menu-item>
		        <wj-menu-item value="0.1">0.1</wj-menu-item>
			    <wj-menu-item value="0.2">0.2</wj-menu-item>
			    <wj-menu-item value="0.3">0.3</wj-menu-item>
                <wj-menu-item value="0.4">0.4</wj-menu-item>
			    <wj-menu-item value="0.5">0.5</wj-menu-item>
		    </wj-menu>	
	    </fieldset>
</body>
</html>
