﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
     <!-- Third Party -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.1.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />

    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
   
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <link href="../styles/app.css" rel="stylesheet"/> 
    <link href="../styles/flexchart.css" rel="stylesheet" type="text/css" />
    <script>
         var app = angular.module("app", ['wj']);
         app.controller('appCtrl', function ($scope,$timeout) {
             // generate some random data
             function getData(numCount) {
                 var data = new wijmo.ObservableArray();
                 //var data = [];

                 for (var i = 0; i < numCount; i++) {
                     data.push(getRandomData('random' + getRandomValue(1000)));
                 }
                 return data;
             }

             function getRandomData(idx) {
                 return {
                     x: idx,
                     y: getRandomValue(200)
                 };
             }

             function getRandomValue(max) {
                 return Math.round(Math.random() * max);
             }

             var pieAnimation;

             $scope.piedata = getData(5);
             $scope.ctx = {
                 pieChart: null,
                 duration: 400,
                 innerRadius: 0,
                 easing: 'Swing',
                 animationMode: 'All'
             };

             $scope.fixedPie = null;
             $scope.itemsSource = getFixedData();

             function getFixedData() {
                 var names = ['Oranges', 'Apples', 'Pears', 'Bananas', 'Pineapples'],
            data = [];

                 // populate itemsSource
                 for (var i = 0; i < names.length; i++) {
                     data.push({
                         name: names[i],
                         value: 300 + i * 5
                     });
                 }
                 return data;
             }

             $scope.selectionChanged = function () {
                 var value = "selectionChanged";
                 $("#eventDiv").append('<li>' + value + '</li>');
             }

             //selection-mode="Point"
             var insertPieIdx = 1;

             $scope.resetPieData = function () {
                 $scope.piedata = getData(5);
                 insertPieIdx = 1;
             };

             $scope.addSlice = function () {
                 $scope.piedata.push(getRandomData('added' + insertPieIdx));
                 insertPieIdx++;
             };

             $scope.removeSlice = function () {
                 if ($scope.piedata.length) {
                     $scope.piedata.pop();
                     insertPieIdx <= 1 ? 1 : insertPieIdx--;
                 }
             };

             $scope.$watch('ctx.pieChart', function () {
                 var pieChart = $scope.ctx.pieChart;
                 if (!pieChart) {
                     return;
                 }
                 pieAnimation = new wijmo.chart.animation.ChartAnimation(pieChart);
                 pieAnimation.duration = $scope.ctx.duration || 400;
                 updatePieChart();
             });

             function updatePieChart() {
                 var pieChart = $scope.ctx.pieChart;

                 if (pieChart) {
                     pieChart.refresh(true);
                 }
             }
    });
    </script>
</head>
<body  ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 353038: [FlexPie] To test whether slices can be added or removed properly in reversed pie chart</p>
    <wj-flex-pie class="chart" control="ctx.pieChart" binding="y" binding-name="x" label-content="{y}" items-source="piedata" style="width:400px;height:300px" reversed="true">
	</wj-flex-pie>
    <br />
    <button id="btnAdd" type="button" ng-click="addSlice()">add slice</button>
    <button id="btnRemove" type="button" ng-click="removeSlice()">remove slice</button>
</body>
</html>
