﻿<!--
    Log In form
-->
<form 
    ng-submit="hideDialog($event, 'logging in...')">
    <h4 class="modal-header">
        Log in
        <button type="button" tabindex="-1" class="close wj-hide">&times;</button>
    </h4>
    <div class="modal-body">
        <label>
            Email: <input 
                class="form-control" 
                required type="email"/>
        </label>
        <br />
        <label>
            Password: <input 
                class="form-control" 
                type="password"
                required pattern=".{4,}" title="Please enter 4 characters or more." />
        </label>
        <br />
        <label>
            Remember Me
            <input 
                type="checkbox" />
        </label>
        <br />
        <a href="" class="wj-hide" ng-click="showDialog('frmCreateAccount')">Don't have an account yet?</a>
    </div>
    <div class="modal-footer">
        <div style="float:left">
            <img src="../../resources/facebook.png" 
                title="Log in using your Facebook account"
                class="wj-hide"
                ng-click="hideDialog($event, 'logging in via Facebook...')"/>
            <img src="../../resources/google.png"
                title="Log in using your Google account"
                class="wj-hide"
                ng-click="hideDialog($event, 'logging in via Google...')"/>
        </div>
        <button 
            class="btn btn-primary"
            type="submit">
            Log in
        </button>
    </div>
</form>
