﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- AngularJS -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <!-- Material Lite -->   
    <link href="../styles/material.indigo-red.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/jQueryAngularBootstrap/material.min.js" type="text/javascript"></script>
	<!-- Wijmo -->
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
	<!--<link href="../styles/vendor/wijmo.theme.material.min.css" rel="stylesheet" />-->
	<script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script src="../scripts/jQueryAngularBootstrap/jszip.min.js" type="text/javascript"></script>
    <!-- Wijmo-Angular interop -->
	
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <link href="../styles/flexPivot.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/controllers/flexPivotCtrl.js" type="text/javascript"></script>
</head>
<body ng-app="app" ng-controller="flexPivotCtrl"> 
  
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><dl class="dl-horizontal">
        <dt>Dataset</dt>
        <dd>
            <wj-combo-box 
                items-source="dataSets"
                display-member-path="name"
                selected-value-path="value"
                selected-value="rawData">
            </wj-combo-box>
        </dd>
        <dt>Row totals</dt>
        <dd>
            <wj-combo-box
                items-source="showTotals"
                display-member-path="name"
                selected-value-path="value"
                selected-value="thePanel.engine.showRowTotals">
            </wj-combo-box>
        </dd>
        <dt>Column totals</dt>
        <dd>
            <wj-combo-box 
                items-source="showTotals"
                display-member-path="name"
                selected-value-path="value"
                selected-value="thePanel.engine.showColumnTotals">
            </wj-combo-box>
        </dd>
        <dt>Show Zeros</dt>
        <dd>
            <input ng-model="thePanel.engine.showZeros" type="checkbox" />
        </dd>
        <dt>Chart Type</dt>
        <dd>
            <wj-combo-box 
                items-source="chartTypes"
                display-member-path="name"
                selected-value-path="value"
                selected-value="theChart.chartType">
            </wj-combo-box>
        </dd>
    </dl>    
    <div class="mdl-grid" id="theView">
        <div class="mdl-cell mdl-cell-4-col">
            <wj-pivot-panel id="pivotPanel"
                control="thePanel"
                items-source="rawData"
                initialized="init(s,e)">
            </wj-pivot-panel>
        </div>
        <div class="mdl-cell mdl-cell-8-col">
            <wj-pivot-grid id="pivotGrid"
                control="pivotGrid"
                items-source="thePanel"
                show-selected-headers="All"
                style="width:auto">
            </wj-pivot-grid>
        </div>
    </div>
    <div ng-show="thePanel.isViewDefined">
        <wj-pivot-chart id="pivotChart"
            control="theChart"
            items-source="thePanel"
            chart-type="Scatter">
        </wj-pivot-chart>
    </div>
  
    <br />
    <pre>
    <b>Steps to reproduce:</b>
    1.    Run ‘OlapIntro’ sample.
    2.    Add ‘Date’ field into Values list.
    3.    Open ‘Field settings’ dialog and set ‘Max’ or ‘Min’ in ‘Summary’ property.
    Observe: Axis-Y annotations and tooltips are shown dates with ‘M/d/yyyy’ format ……Incorrect
    </pre>
</body>
</html>
