﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- AngularJS -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <!-- Material Lite -->   
    <link href="../styles/material.indigo-red.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/jQueryAngularBootstrap/material.min.js" type="text/javascript"></script>
	<!-- Wijmo -->
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
	<link href="../styles/vendor/wijmo.theme.material.min.css" rel="stylesheet" />
	<script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script src="../scripts/jQueryAngularBootstrap/jszip.min.js" type="text/javascript"></script>
    <!-- Wijmo-Angular interop -->
	
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <link href="../styles/flexPivot.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/controllers/flexPivotCtrl.js" type="text/javascript"></script>
</head>
<body ng-app="app" ng-controller="flexPivotCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><dl class="dl-horizontal">
        <dt>Dataset</dt>
        <dd>
            <wj-combo-box id="dataSet"
                items-source="dataSets"
                display-member-path="name"
                selected-value-path="value"
                selected-value="rawData">
            </wj-combo-box>
        </dd>
     
    </dl>
    <button class="btn btn-default" ng-click="saveView()" id="btnSave">
        Save View
    </button>
    <button class="btn btn-default" ng-click="loadView()" id="btnLoad">
        Load View
    </button>
   
    <div class="mdl-grid" id="theView">
        <div class="mdl-cell mdl-cell--4-col">
            <wj-pivot-panel id="pivotPanel"
                control="thePanel"
                items-source="rawData">
            </wj-pivot-panel>
        </div>
        <div class="mdl-cell mdl-cell--8-col">
            <wj-pivot-grid id="pivotGrid"
                control="pivotGrid"
                items-source="thePanel"
                show-selected-headers="All">
            </wj-pivot-grid>
        </div>
    </div>   
  
    <br />
    <pre>
    <b>Steps to reproduce:</b>
    1.    Run ‘OlapIntro’ sample.
    2.    Choose ‘Complex (100 items)’ from ‘Dataset’ combo.
    3.    Check ‘Product, Country, Sales and Downloads’ fields in Pivot Panel.
    4.    Click ‘SAVE VIEW’ button.
    5.    Remove all fields from current view by toggling off ‘Product, Country, Sales and Downloads’ check boxes in pivot panel.
    6.    Check ‘Defer Updates’ checkbox in Pivot Panel.
    7.    Click ‘LOAD VIEW’ button.
    Observe: Fields are added to corresponding list. But the check boxes are not checked in fields list……Incorrect
    8.    Click ‘Update’ button in Pivot Panel.
    Observe: Pivot Grid renders current view but check boxes in fields list of pivot panel are not checked……Incorrect
    </pre>
</body>
</html>
