﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- AngularJS -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <!-- Material Lite -->   
    <link href="../styles/material.indigo-red.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/jQueryAngularBootstrap/material.min.js" type="text/javascript"></script>
	<!-- Wijmo -->
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
	<script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script src="../scripts/jQueryAngularBootstrap/jszip.min.js" type="text/javascript"></script>
    <!-- Wijmo-Angular interop -->
	
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <link href="../styles/flexPivot.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/controllers/flexPivotCtrl.js" type="text/javascript"></script>
</head>
<body ng-app="app" ng-controller="flexPivotCtrl">  
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><div>
        <input id="chkShowTotals" ng-model="theChart.showTotals" type="checkbox" />showTotals
        Chart Type:
        <wj-combo-box id="cboChartType"
            items-source="chartTypes"
            display-member-path="name"
            selected-value-path="value"
            selected-value="theChart.chartType">
        </wj-combo-box>

        <wj-pivot-chart id="pivotChart"
            control="theChart"
            items-source="thePanel"
            style="width: 1500px;">
        </wj-pivot-chart>
    </div> 
    <div class="mdl-grid" id="theView">
        <div class="mdl-cell mdl-cell-4-col">
            <wj-pivot-panel id="pivotPanel"
                control="thePanel"
                items-source="rawData100"
                initialized="init3(s,e)">
            </wj-pivot-panel>
        </div>
        <div class="mdl-cell mdl-cell-8-col">
            <wj-pivot-grid id="pivotGrid"
                control="pivotGrid"
                items-source="thePanel"
                show-selected-headers="All">
            </wj-pivot-grid>
        </div>
    </div>
    <br />
    <pre>
    <b>Steps to reproduce</b>
    1. Run attached sample ‘prj_flexPivot_showTotals’.
    2.Choose ‘Product,Country,Sales’ fields.
    Observe:Pie slices will not displayed. ….[Case1]

    3.Drag ‘Downloads’ field to ‘Columns’ area.
    Observe: Pie slices will be displayed. [Expected?]

    4.Remove field from ‘Columns’ area.
    Observe:Pie slices will not disappear. [Expected?]

    5.Set chart type to ‘Column’ in ‘flexpivotCtrl.js’ file.
    “chartType: wijmo.olap.PivotChartType.Column,”
    6.Redo step 2,3 and 4.
    Observe:Column chart will disappear. ….[Case2]
    <b>Note: When setting showTotals to ‘true’. Charts render properly if columns area has at least one field.</b>
    </pre>
</body>
</html>
