﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- Third Party -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.1.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <link href="../styles/vendor/wijmo.theme.material.min.css" rel="stylesheet" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<!-- Wijmo-Angular interop -->
    
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <link href="../styles/flexPivot.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/controllers/flexPivotCtrl.js" type="text/javascript"></script>
</head>
<body ng-app="app" ng-controller="flexPivotCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div>Dataset
    <wj-combo-box items-source="dataSets" display-member-path="name" selected-value-path="value"
        selected-value="rawData">
    </wj-combo-box>
    <table>
    <tr>
    <td><wj-pivot-panel id="pivotPanel" control="thePanel" items-source="rawData" initialized="init(s,e)" style="width: 500px; height: 500px">
    </wj-pivot-panel></td>
    <td>
    Header<input id="header" ng-model="theChart.flexChart.header" class="form-control" style="width:200px" />
    Footer<input id="footer" ng-model="theChart.flexChart.footer" class="form-control" style="width:200px" />
    <wj-pivot-chart id="pivotChart" control="theChart" items-source="thePanel" header="hEADER" footer="fOOTER" style="width: 600px; height: 300px">
    </wj-pivot-chart><br />
    </td>
    </tr>
    </table>
    <pre>
    Repro Steps:
    1. Open 'Olap.html' in ‘prj_pivotChart’ sample.
    Observe:Already added header/footer and axes title text in 'wj-pivot-chart' and 'wj-flex-chart-axis' tags.
    2.Run the application.
    Observe: Axes titles, Header/Footer text will not appear on chart. ..[Incorrect]
    3.Add axes titles and Header/Footer text from input text boxes.
    Observe: Titles and Header/Footer text will be added in chart. ..[Correct]
    </pre>
</body>
</html>