﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- Third Party -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.1.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <link href="../styles/vendor/wijmo.theme.material.min.css" rel="stylesheet" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<!-- Wijmo-Angular interop -->
    
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <link href="../styles/flexPivot.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/controllers/flexPivotCtrl.js" type="text/javascript"></script>
</head>
<body ng-app="app" ng-controller="flexPivotCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 145043:[FlexPivot] To test whether the PivotChart should include only totals by setting 'showTotals' property</p>
    <input id="chkShowTotals" ng-model="theChart.showTotals" type="checkbox" />showTotals
    <table>
    <tr>
    <td>
            <wj-pivot-panel id="pivotPanel"
                control="thePanel"
                items-source="rawData"
                initialized="init3(s,e)"
                style="width: 500px; height: 300px">
            </wj-pivot-panel>
    </td>
    <td>
        <wj-pivot-chart id="pivotChart"
            control="theChart"
            items-source="thePanel"
            style="width: 500px; height: 300px">
        </wj-pivot-chart>
        </td>
        </tr>
        </table>
        <br />
        Chart Type
            <wj-combo-box 
                id="charTypes"
                items-source="chartTypes"
                display-member-path="name"
                selected-value-path="value"
                selected-value="theChart.chartType">
            </wj-combo-box><br />
        Dataset
            <wj-combo-box 
                items-source="dataSets"
                display-member-path="name"
                selected-value-path="value"
                selected-value="rawData">
            </wj-combo-box>
</body>
</html>