﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- AngularJS -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <!-- Material Lite -->   
    <link href="../styles/material.indigo-red.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/jQueryAngularBootstrap/material.min.js" type="text/javascript"></script>
	<!-- Wijmo -->
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
	<script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script src="../scripts/jQueryAngularBootstrap/jszip.min.js" type="text/javascript"></script>
    <!-- Wijmo-Angular interop -->
	
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <link href="../styles/flexPivot.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/controllers/flexPivotCtrl.js" type="text/javascript"></script>
</head>
<body ng-app="app" ng-controller="flexPivotCtrl">  
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre><b>Test Case 148770:[FlexPivot] To test whether the grid show Detail Dialog when double-click a cell by setting 'showDetailOnDoubleClick' property</b></pre> 
    <br />
    <input id="chkShowDetailOnDoubleClick" ng-model="pivotGrid.showDetailOnDoubleClick" type="checkbox" />showDetailOnDoubleClick
    <br />
    <div class="mdl-grid" id="theView">
        <div class="mdl-cell mdl-cell-4-col">
            <wj-pivot-panel id="pivotPanel"
                control="thePanel"
                items-source="rawData100"
                initialized="init(s,e)">
            </wj-pivot-panel>
        </div>
        <div class="mdl-cell mdl-cell-8-col">
            <wj-pivot-grid id="pivotGrid"
                control="pivotGrid"
                items-source="thePanel"
                show-selected-headers="All"
                show-row-field-headers="false"
                style="width:auto">
            </wj-pivot-grid>
        </div>
    </div>
</body>
</html>
