﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- Third Party -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.1.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <link href="../styles/vendor/wijmo.theme.material.min.css" rel="stylesheet" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<!-- Wijmo-Angular interop -->
    
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <link href="../styles/flexPivot.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/controllers/flexPivotCtrl.js" type="text/javascript"></script>
</head>
<body ng-app="app" ng-controller="flexPivotCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 148771:[FlexPivot] To test whether the PivotPanel is disabled or not when setting 'isDisabled' property</p>
    Dataset
    <wj-combo-box items-source="dataSets" display-member-path="name" selected-value-path="value"
        selected-value="rawData">
    </wj-combo-box>
    <label>
        isDisabled
        <input id="chkbox" type="checkbox" ng-model="thePanel.isDisabled" />
    </label>
    <table>
    <tr>
    <td><wj-pivot-panel id="pivotPanel" control="thePanel" items-source="rawData" initialized="init(s,e)" style="width: 500px; height: 500px">
    </wj-pivot-panel></td>
    <td>
    <wj-pivot-grid id="pivotGrid"
                control="pivotGrid"
                items-source="thePanel"
                show-selected-headers="All">
    </wj-pivot-grid>
    </td>
    </tr>
    </table>
</body>
</html>