﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- Third Party -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.1.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <link href="../styles/vendor/wijmo.theme.material.min.css" rel="stylesheet" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<!-- Wijmo-Angular interop -->
    
    <!-- app scripts and styles -->
    <link href="../styles/flexPivot.css" rel="stylesheet" type="text/css" />
 
    <script>
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {
            $scope.thePanel = null;
            $scope.chart = null;

            // initialize pivot engine
            var ngPanel = new wijmo.olap.PivotEngine({
                itemsSource: getData(), // raw data              
                fields: [
                    { binding: 'buyer', header: 'Person' },
                    { binding: 'date', header: 'Date' },
                    { binding: 'amount', header: 'Amount'},
                    {binding:'type', header: 'Type'}
                ],

                valueFields: ['Amount'], // summarize amounts
                rowFields: ['Person'],
                columnFields: ['Type'],              
            });
      
            $scope.disposeChart = function () {
                var chart = $scope.chart;
                if (!chart) {
                    return;
                }
                chart.dispose();
            }

            $scope.ng = ngPanel;

         
            // get the raw data
            function getData() {
                var yr = new Date().getFullYear();
                return [{
                    date: new Date(yr, 0, 1),
                    buyer: 'Mom',
                    type: 'Fuel',
                    amount: 74
                },
                {
                    date: new Date(yr, 0, 15),
                    buyer: 'Mom',
                    type: 'Food',
                    amount: 235
                },
                {
                    date: new Date(yr, 0, 17),
                    buyer: 'Dad',
                    type: 'Sports',
                    amount: null
                },
                {
                    date: new Date(yr, 0, 21),
                    buyer: 'Kelly',
                    type: 'Books',
                    amount: 125
                },
                {
                    date: new Date(yr, 1, 2),
                    buyer: 'Mom',
                    type: 'Food',
                    amount: 235
                },
                {
                    date: new Date(yr, 1, 20),
                    buyer: 'Kelly',
                    type: 'Music',
                    amount: 20
                },
                {
                    date: new Date(yr, 1, 25),
                    buyer: 'Kelly',
                    type: 'Tickets',
                    amount: 125
                },
                ];
            }

        });


    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 145049:[FlexPivot]To test whether control can be dispose properly by using 'dispose()' function in pivotChart.</p>
   
    <button id="btn" class="btn btn-default" ng-click="disposeChart()">Dispose</button>
    <wj-pivot-chart items-source="thePanel"
                    control="chart"  style="width:700px;">
                  
    </wj-pivot-chart>
    <wj-pivot-panel engine="ng"
                    control="thePanel"
                    style="width:300px;">
    </wj-pivot-panel>
    <wj-pivot-grid style="max-height:500px;max-width:800px"
                   items-source="thePanel"
                   is-read-only="false">
    </wj-pivot-grid>
</body>
</html>