﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- jQuery/Angular/Bootstrap -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script> 
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script> 
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css"/>
	<!-- Wijmo -->
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
	<link href="../styles/vendor/wijmo.theme.material.min.css" rel="stylesheet" />
	<script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script src="../scripts/jQueryAngularBootstrap/jszip.min.js" type="text/javascript"></script>
    <!-- Wijmo-Angular interop -->
	
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <link href="../styles/flexPivot.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/controllers/flexPivotCtrl.js" type="text/javascript"></script>
</head>
<body ng-app="app" ng-controller="flexPivotCtrl"> 
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre>
    <b>Test Case 250789:[FlexPivot] To test whether correct data fields show in the PivotPanel when PivotPanel is placed inside wijmo Popup</b>
    </pre>

    <wj-pivot-grid
        items-source="theEngine"
         style="height:600px; width:800px"
        show-selected-headers="All">
    </wj-pivot-grid>
    <br /><br />
    <button id="btnShowPopup"
        class="btn btn-default"
        ng-click="dlgWijmo.show()">
        <span class="glyphicon glyphicon-edit"></span>
        Configure Pivot View in a Wijmo Popup...
    </button>
    <!-- Wijmo dialog containing another PivotPanel control connected to the same engine -->
    <wj-popup control="dlgWijmo" class="modal-dialog" modal="true" hide-trigger="None">
        <div class="wj-dialog-header">
            <button type="button"
                    class="close wj-hide"
                    aria-hidden="true">
                &times;
            </button>
            <h4 class="modal-title">Configure Pivot View (Wijmo Popup)</h4>
        </div>
        <div style="padding:12px">
            <wj-pivot-panel
             style="width: 500px; height: 500px"
                engine="theEngine">
            </wj-pivot-panel>
            <div class="wj-dialog-footer">
                <button type="button" class="btn btn-primary wj-hide">
                    Close
                </button>
            </div>
        </div>
    </wj-popup>
</body>
</html>
