﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- AngularJS -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <!-- Material Lite -->   
    <link href="../styles/material.indigo-red.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/jQueryAngularBootstrap/material.min.js" type="text/javascript"></script>
	<!-- Wijmo -->
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
	<script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script src="../scripts/jQueryAngularBootstrap/jszip.min.js" type="text/javascript"></script>
    <!-- Wijmo-Angular interop -->
	
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/flexPivotCtrl.js" type="text/javascript"></script>
</head>
<body ng-app="app" ng-controller="flexPivotCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p><b>Test Case 289017:[FlexPivot] To test whether the PivotChart is updated automatically when finish editing the raw grid</b></p>
    <br />
    <wj-flex-grid id="flexGrid"
        style="border:none; height: 350px;"
        control="rawGrid"
        items-source="rawData"
        show-selected-headers="All">
        <wj-flex-grid-filter></wj-flex-grid-filter>
        <wj-flex-grid-column header="product" binding="product"></wj-flex-grid-column>
		<wj-flex-grid-column header="country" binding="country"></wj-flex-grid-column>
		<wj-flex-grid-column header="sales" binding="sales" is-required="false"></wj-flex-grid-column>
        <wj-flex-grid-column header="downloads" binding="downloads" is-required="false"></wj-flex-grid-column>
		<wj-flex-grid-column header="date" binding="date" is-required="false"></wj-flex-grid-column>		
		<wj-flex-grid-column header="active" binding="active" is-required="false"></wj-flex-grid-column>
    </wj-flex-grid>   
    <div>
        Chart Type:
        <wj-combo-box id="cboChartType"
            items-source="chartTypes"
            display-member-path="name"
            selected-value-path="value"
            selected-value="theChart.chartType">
        </wj-combo-box>

        <wj-pivot-chart id="pivotChart"
            control="theChart"
            items-source="thePanel"
            style="width: 1500px;">
        </wj-pivot-chart>
    </div>
    <div class="mdl-grid" id="theView">
        <div class="mdl-cell mdl-cell--4-col">
            <wj-pivot-panel id="pivotPanel"
                control="thePanel"
                items-source="rawData"
                initialized="init(s,e)">
            </wj-pivot-panel>
        </div>
        <div class="mdl-cell mdl-cell--8-col">
            <wj-pivot-grid id="pivotGrid"
                control="pivotGrid"
                items-source="thePanel"
                show-selected-headers="All">
            </wj-pivot-grid>
        </div>
    </div>
    <div>
        Dataset:
        <wj-combo-box 
            items-source="dataSets"
            display-member-path="name"
            selected-value-path="value"
            selected-value="rawData">
        </wj-combo-box>
        Row totals:
        <wj-combo-box
            items-source="showTotals"
            display-member-path="name"
            selected-value-path="value"
            selected-value="thePanel.engine.showRowTotals">
        </wj-combo-box>
        Column totals:
        <wj-combo-box 
            items-source="showTotals"
            display-member-path="name"
            selected-value-path="value"
            selected-value="thePanel.engine.showColumnTotals">
        </wj-combo-box>
        Show Zeros:
        <input ng-model="thePanel.engine.showZeros" type="checkbox" />
    </div>
</body>
</html>
