﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- Third Party -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.1.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <link href="../styles/vendor/wijmo.theme.material.min.css" rel="stylesheet" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<!-- Wijmo-Angular interop -->
    
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <link href="../styles/flexPivot.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/controllers/flexPivotCtrl.js" type="text/javascript"></script>
</head>
<body ng-app="app" ng-controller="flexPivotCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 250804:[FlexPivot] To test whether PivotPanel, PivotGrid or PivotChart are working properly when placed inside wijmo Popup</p>     
    <button id="btnPopup"
            class="btn btn-default"
            ng-click="dlgWijmo.show()">
            <span class="glyphicon glyphicon-edit"></span>
            Configure Pivot View in a Wijmo dialog...
        </button>

        <!-- Wijmo dialog containing another PivotPanel control connected to the same engine -->
        <wj-popup control="dlgWijmo" class="modal-dialog" modal="true" hide-trigger="None">
            <div class="wj-dialog-header">
                <button type="button"
                        class="close wj-hide"
                        aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">Configure Pivot View (Wijmo Popup)</h4>
            </div>
            <div style="padding:12px">
                <wj-pivot-panel id="pivotPanel"
                    engine="theEngine">
                </wj-pivot-panel>
                <wj-pivot-grid id="pivotGrid" items-source="theEngine" show-selected-headers="All">
                    </wj-pivot-grid>
                    <wj-pivot-chart id="pivotChart" control="theChart" items-source="theEngine">
                    </wj-pivot-chart>
                <div class="wj-dialog-footer">
                    <button type="button" class="btn btn-primary wj-hide">
                        Close
                    </button>
                </div>
            </div>
        </wj-popup>
</body>
</html>
