﻿<!DOCTYPE html">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- AngularJS -->
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <!-- Material Lite -->
    <link href="../styles/material.indigo-red.min.css" rel="stylesheet" type="text/css" />
    <!-- Wijmo -->
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <link href="../styles/vendor/wijmo.theme.material.min.css" rel="stylesheet" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<!-- Wijmo-Angular interop -->
    
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <link href="../styles/flexPivot.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {

            $scope.chart = null;
            $scope.grid = null;
            $scope.thePanel = null;
            $scope.data = getData();

            // initialize pivot engine
            var ngPanel = new wijmo.olap.PivotEngine({
                itemsSource: getData(), // raw data
                allowFieldEditing: true,
                fields: [
                    { binding: 'buyer', header: 'Person' },
                    { binding: 'date', header: 'Date' },
                    { binding: 'amount', header: 'Amount' },
                    { binding: 'type', header: 'Type' }
                ],

                valueFields: ['Amount'], // summarize amounts
                rowFields: ['Person'],
                columnFields: ['Type']
            });

            $scope.ng = ngPanel;

            $scope.detailDiaColumnHeader = function () {
                var pg = $scope.grid;
                document.getElementById("output").innerHTML = "ColumnHeader:" + $scope.grid.detailDialog.columnHeader;
            }

            // get the raw data
            function getData() {
                var yr = new Date().getFullYear();
                return [{
                    date: new Date(yr, 0, 1),
                    buyer: 'Mom',
                    type: 'Sports',
                    amount: 74
                },
      {
          date: new Date(yr, 0, 15),
          buyer: 'Mom',
          type: 'Food',
          amount: 235
      },
      {
          date: new Date(yr, 0, 17),
          buyer: 'Dad',
          type: 'Sports',
          amount: 120
      },
      {
          date: new Date(yr, 0, 21),
          buyer: 'Kelly',
          type: 'Books',
          amount: 125
      },
      {
          date: new Date(yr, 1, 2),
          buyer: 'Mom',
          type: 'Food',
          amount: 235
      },
      {
          date: new Date(yr, 1, 20),
          buyer: 'Kelly',
          type: 'Music',
          amount: 20
      },
      {
          date: new Date(yr, 1, 25),
          buyer: 'Kelly',
          type: 'Tickets',
          amount: 125
      },
    ];
            }

        });
        
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre>Test Case 363188: [FlexPivot] To test 'columnHeader' property of detailDialog can return the column header for the value being shown after showing the detail grid</pre>
    <input type="button" id="btn" value="GetDetailDialog_ColumnHeader" ng-click="detailDiaColumnHeader()" />
    <div id="output">
    </div>
    <wj-pivot-panel engine="ng" id="panel" control="thePanel" style="width: 300px;">           
</wj-pivot-panel>
    <wj-pivot-grid id="pivotGrid" style="max-height: 300px; max-width: 500px;" control="grid"
        items-source="ng">         
</wj-pivot-grid>
    <wj-pivot-chart id="pivotChart" items-source="ng" style="width: 800px;" control="chart">
  </wj-pivot-chart>
</body>
</html>
