﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- AngularJS -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <!-- Material Lite -->
    <link href="../styles/material.indigo-red.min.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/jQueryAngularBootstrap/material.min.js" type="text/javascript"></script>
    <!-- Wijmo -->
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<script src="../scripts/jQueryAngularBootstrap/jszip.min.js" type="text/javascript"></script>
    <!-- Wijmo-Angular interop -->
    
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <link href="../styles/flexPivot.css" rel="stylesheet" type="text/css" />
    <script src="../scripts/controllers/flexPivotCtrl.js" type="text/javascript"></script>
</head>
<body ng-app="app" ng-controller="flexPivotCtrl">
        
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><p>Test Case 343003:To test whether 'pivotChart' series show properly for missing values when setting 'showZeros' property of PivotEngine</p>
        <label>
            showZeros
            <input id="chkShowZeros" ng-model="thePanel.engine.showZeros" type="checkbox"/>
        </label>
        <table>
        <tr>
            <td>
                <wj-pivot-panel id="pivotPanel" control="thePanel" items-source="rawData100" initialized="init3(s,e)" style="width:300px;height:400px">
                </wj-pivot-panel>
            </td>
            <td>
                <wj-pivot-chart id="pivotChart" control="theChart" items-source="thePanel" style="width:500px;height:400px">
                </wj-pivot-chart>
            </td>
        </tr>
        </table>
</body>
</html>
