﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- AngularJS -->
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <!-- Material Lite -->
    <link href="../styles/material.indigo-red.min.css" rel="stylesheet" type="text/css" />
    <!-- Wijmo -->
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <link href="../styles/vendor/wijmo.theme.material.min.css" rel="stylesheet" />
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<!-- Wijmo-Angular interop -->
    
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <link href="../styles/flexPivot.css" rel="stylesheet" type="text/css" />
    <script>
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function ($scope) {
            $scope.thePanel = null;
            $scope.slicer = null;

            // initialize pivot engine
            var ngPanel = new wijmo.olap.PivotEngine({
                itemsSource: getData(), // raw data
                allowFieldEditing: true,
                fields: [
                    { binding: 'buyer', header: 'Person' },
                    { binding: 'date', header: 'Date' },
                    { binding: 'amount', header: 'Amount' },
                    { binding: 'type', header: 'Type' }
                ],

                valueFields: ['Amount'], // summarize amounts
                rowFields: ['Person'],
                columnFields: ['Type']
            });


            $scope.ng = ngPanel;

            $scope.dispose = function () {
                var thePanel = $scope.thePanel;
                if (!thePanel) {
                    return;
                }
                thePanel.dispose();
            };


            function updateChart() {
                var chart = $scope.chart;

                if (chart) {
                    chart.refresh(true);
                }
            }

            // get the raw data
            function getData() {
                var yr = new Date().getFullYear();
                return [{
                    date: new Date(yr, 0, 1),
                    buyer: 'Mom',
                    type: 'Fuel',
                    amount: 74
                },
                {
                    date: new Date(yr, 0, 15),
                    buyer: 'Mom',
                    type: 'Food',
                    amount: 235
                },
                {
                    date: new Date(yr, 0, 17),
                    buyer: 'Dad',
                    type: 'Sports',
                    amount: null
                },
                {
                    date: new Date(yr, 0, 21),
                    buyer: 'Kelly',
                    type: 'Books',
                    amount: 125
                },
                {
                    date: new Date(yr, 1, 2),
                    buyer: 'Mom',
                    type: 'Food',
                    amount: 235
                },
                {
                    date: new Date(yr, 1, 20),
                    buyer: 'Kelly',
                    type: 'Music',
                    amount: 20
                },
                {
                    date: new Date(yr, 1, 25),
                    buyer: 'Kelly',
                    type: 'Tickets',
                    amount: 125
                },
                ];
            }

        });

    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre>Test Case: 372144[FlexPivot] To test whether the PivotPanel can be deleted properly after setting 'dispose' method</pre>
    <input id="btn" type="button" value="Dispose_Panel" ng-click="dispose()" /><br />
    <wj-pivot-panel engine="ng" id="panel" control="thePanel" style="width: 300px;"></wj-pivot-panel>
</body>
</html>
