﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

      <!-- AngularJS -->
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <!-- Material Lite -->   
    <link href="../styles/material.indigo-red.min.css" rel="stylesheet" type="text/css" />

	<!-- Wijmo -->
    <link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
	<link href="../styles/vendor/wijmo.theme.material.min.css" rel="stylesheet" />
	<script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<!-- Wijmo-Angular interop -->
	
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <link href="../styles/flexPivot.css" rel="stylesheet" type="text/css" />
     <script type="text/javascript">
         var app = angular.module('app', ['wj']);
         app.controller('appCtrl', function ($scope) {

             $scope.thePanel = null;
             $scope.thePanelFilter = null;

             // initialize pivot engine
             var ngPanel = new wijmo.olap.PivotEngine({
                 itemsSource: getData(), // raw data                 
                 fields: [
                    { binding: 'buyer', header: 'Person' },
                    { binding: 'date', header: 'Date' },
                    { binding: 'amount', header: 'Amount' },
                    { binding: 'type', header: 'Type' }
                ],

                 valueFields: ['Amount'], // summarize amounts
                 rowFields: ['Person'],
                 columnFields: ['Type']
             });

             // initialize pivot engine
             var ngPanelFilter = new wijmo.olap.PivotEngine({
                 itemsSource: getData(), // raw data                 
                 fields: [
                    { binding: 'buyer', header: 'Person' },
                    { binding: 'date', header: 'Date' },
                    { binding: 'amount', header: 'Amount' },
                    { binding: 'type', header: 'Type' }
                ],

                 valueFields: ['Amount'], // summarize amounts
                 rowFields: ['Person'],
                 columnFields: ['Type'],
                 filterFields: ['Date']
             });

             $scope.ng = ngPanel;
             $scope.ngfilter = ngPanelFilter;

             $scope.GetisActiveFilterPanel = function () {
                 document.getElementById("output1").innerHTML = "isActive => " + $scope.ngfilter.fields.getField('Date').isActive;
             }

             $scope.GetisActiveNoFilterPanel = function () {
                 document.getElementById("output2").innerHTML = "isActive => " + $scope.ng.fields.getField('Date').isActive;
             }


             // get the raw data
             function getData() {
                 var yr = new Date().getFullYear();
                 return [{
                     date: new Date(yr, 0, 1),
                     buyer: 'Mom',
                     type: 'Sports',
                     amount: 74
                 },
      {
          date: new Date(yr, 0, 15),
          buyer: 'Mom',
          type: 'Food',
          amount: 235
      },
      {
          date: new Date(yr, 0, 17),
          buyer: 'Dad',
          type: 'Sports',
          amount: 120
      },
      {
          date: new Date(yr, 0, 21),
          buyer: 'Kelly',
          type: 'Books',
          amount: 125
      },
      {
          date: new Date(yr, 1, 2),
          buyer: 'Mom',
          type: 'Food',
          amount: 235
      },
      {
          date: new Date(yr, 1, 20),
          buyer: 'Kelly',
          type: 'Music',
          amount: 20
      },
      {
          date: new Date(yr, 1, 25),
          buyer: 'Kelly',
          type: 'Tickets',
          amount: 125
      },
    ];
             }

         });
        
    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">  

        
        
        
        <div class="wj-version">5.20202.694-d20200709.t230150.br.master.min</div><pre>Test Case 339625: [FlexPivot] To test whether 'isActive' property can be used to get a value that indicates whether the filter is active</pre>
<table  border="1">
<tr>
<td>
<label>Filtering:</label><br />
<input type="button" value="isActive" id="fBtn" ng-click="GetisActiveFilterPanel()" />
<div id="output1"></div>
   <wj-pivot-panel engine="ngfilter" id="panelFilter" control="thePanelFilter"                   
            style="width:300px;">           
</wj-pivot-panel>
</td>
<td>
<label>No Filtering:</label><br />
<input type="button" value="isActive" id="btn" ng-click="GetisActiveNoFilterPanel()" />
<div id="output2"></div>
   <wj-pivot-panel engine="ng" id="panel" control="thePanel"                   
            style="width:300px;">           
</wj-pivot-panel>
</td>
</tr>
</table>
</body>
</html>
