﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- Third Party -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.1.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/tabPanelCtrl.js" type="text/javascript"></script>
    <style type="text/css">
        .wj-tabpanel.tab-source .wj-tabpanes {
            border: 1px solid #ddd;
            background-color: #fdfdfd;
            font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
            font-size: 13px;
            max-height: 300px;
            padding: 0 8px;
            white-space: pre;
        }

        .wj-flexgrid {
            height: 300px;
            background-color: white;
            box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.75);
            margin-bottom: 12px;
        }


        .wj-tabpanel .wj-flexgrid,
        .wj-tabpanel .wj-flexchart,
        .wj-tabpanel .wj-radialgauge {
            height: 200px;
        }

        .wj-tabpanel.tab-source .wj-tabpanes {
            border: 1px solid #ddd;
            background-color: #fdfdfd;
            font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
            font-size: 13px;
            max-height: 300px;
            padding: 0 8px;
            white-space: pre;
        }
    </style>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><pre><b>Test Case 306801:[TabPanel] To test whether TabPanel controls can be removed using 'dispose' method</b></pre>

    <wj-tab-panel control="tabPanel">
        <wj-tab>
            <a>FlexGrid</a>
            <div>
                <wj-flex-grid items-source="data">
                </wj-flex-grid>
            </div>
        </wj-tab>
        <wj-tab>
            <a>FlexChart</a>
            <div>
                <wj-flex-chart items-source="data" style="max-width: 600px"
                                binding-x="country">
                    <wj-flex-chart-series name="Sales" binding="sales"></wj-flex-chart-series>
                    <wj-flex-chart-series name="Expenses" binding="expenses"></wj-flex-chart-series>
                    <wj-flex-chart-series name="Downloads" binding="downloads"></wj-flex-chart-series>
                </wj-flex-chart>
            </div>
        </wj-tab>
        <wj-tab>
            <a>Gauges</a>
            <div>
                <wj-radial-gauge style="display:block; max-width: 400px"
                                    value="75"
                                    min="0"
                                    is-read-only="false"
                                    max="100">
                </wj-radial-gauge>
                <wj-linear-gauge style="display:block; max-width: 400px"
                                    value="75"
                                    min="0"
                                    is-read-only="false"
                                    max="100">
                </wj-linear-gauge>
            </div>
        </wj-tab>
    </wj-tab-panel>
    <button id="btnDispose" class="btn btn-default" ng-click="tabPanel.dispose()">dispose</button>
</body>
</html>