﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- Third Party -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.1.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/tabPanelCtrl.js" type="text/javascript"></script>
    <link href="../styles/tabPanel.css" rel="stylesheet" type="text/css" />
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><p>Test Case 306736:[TabPanel] To test whether TabPanel is disabled using 'isDisabled' (get,set) property</p>
    <wj-tab-panel control="tabPanel" auto-switch="true">
		<wj-tab>
			<a>Africa</a>
			<div>
				<ul>
					<li>Algeria</li>
					<li>Angola</li>
					<li>Benin</li>
					<li>Botswana</li>
				</ul>
			</div>
		</wj-tab>
		<wj-tab>
			<a>America</a>
			<div>
				<ul>
					<li>Canada</li>
					<li>Chile</li>
					<li>Mexico</li>
					<li>United States</li>
				</ul>
			</div>
		</wj-tab>
		<wj-tab>
			<a>Asia</a>
			<div>
				<ul>
					<li>China</li>
					<li>Korea</li>
					<li>India</li>
					<li>Japan</li>
				</ul>
			</div>
		</wj-tab>
		<wj-tab>
			<a>Europe</a>
			<div>
				<ul>
					<li>Austria</li>
					<li>England</li>
					<li>France</li>
					<li>Germany</li>
					<li>Netherlands</li>
					<li>Switzerland</li>
				</ul>
			</div>
		</wj-tab>
		<wj-tab is-visible="{{isVisible}}">
			<a>Oceania</a>
			<div>
				<ul>
					<li>Australia</li>
					<li>Fiji</li>
					<li>New Zealand</li>
					<li>Samoa</li>
				</ul>
			</div>
		</wj-tab>
	</wj-tab-panel>
    <wj-menu id="mnu" value="tabPanel.isDisabled" header="isDisabled">
        <wj-menu-item value="true">true</wj-menu-item>
        <wj-menu-item value="false">false</wj-menu-item>
    </wj-menu>
</body>