﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- Third Party -->
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" type="text/css" />
    
    <script type="text/javascript">
        var app = angular.module('app', ['wj']);
        app.controller('appCtrl', function appCtrl($scope, $sce) {

            function getData(count) {
                var countries = 'US,Germany,UK,Japan,Italy,Greece'.split(','),
                    data = [];
                for (var i = 0; i < countries.length; i++) {
                    data.push({
                        country: countries[i],
                        sales: i * 1000,
                        expenses: i * 500,
                        downloads: i * 2000
                    });
                }
                return data;
            }

            $scope.data = new wijmo.CollectionView(getData(20));

            $scope.tabRefreshing = function (sender, args) {
                $("#eventDiv").append('<li>' + 'refreshing...' + '</li>');
            }
            $scope.tabRefreshed= function (sender, args) {
                $("#eventDiv").append('<li>' + 'refreshed...' + '</li>');
            }
            
        });

    </script>
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><pre>Test Case 306805:[TabPanel] To test whether control in TabPanel is refreshed with updated layout and contents using 'refresh' method</pre>

    <wj-tab-panel control="tabPanel" auto-switch="true" style="width:400px;" refreshing="tabRefreshing()" refreshed="tabRefreshed()">
		<wj-tab>
			<a>FlexChart</a>
			<div>
				<wj-flex-chart items-source="data" binding-x="country">
                    <wj-flex-chart-series name="Sales" binding="sales"></wj-flex-chart-series>
                    <wj-flex-chart-series name="Expenses" binding="expenses"></wj-flex-chart-series>
                    <wj-flex-chart-series name="Downloads" binding="downloads"></wj-flex-chart-series>
                </wj-flex-chart>
			</div>
		</wj-tab>
		<wj-tab>
			<a>FlexGrid</a>
            <div>
                <wj-flex-grid items-source="data">
                </wj-flex-grid>
			</div>
		</wj-tab>
        <wj-tab>
            <a>Gauges</a>
            <div>
                <wj-radial-gauge style="display:block"
                                    value="75"
                                    min="0"
                                    is-read-only="false"
                                    max="100">
                </wj-radial-gauge>
                <wj-linear-gauge style="display:block"
                                    value="75"
                                    min="0"
                                    is-read-only="false"
                                    max="100">
                </wj-linear-gauge>
            </div>
        </wj-tab>
	</wj-tab-panel>
    <button id="btnRefresh" class="btn btn-default" ng-click="tabPanel.refresh()">
        refresh
    </button>
    <ul id="eventDiv"></ul>
</body>