﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/multiRowCtrl.js" type="text/javascript"></script>
    <link href="../styles/multiRow.css" rel="stylesheet" type="text/css" />
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><p>
        <b>Test Case 191049:[MultiRow] To test whether MultiRow control works correctly when navigating the pages through paging UI</b>       
    </p>
    <br />
    <wj-multi-row id="multiRow" 
        allow-add-new="true"
		allow-delete="true"
		items-source="pagedOrders"
		layout-definition="ldThreeLines"
		control="multiRowGrid"
        style="max-height:800px">
	</wj-multi-row>
    <div class="btn-group">
        <button id="btnFirst" type="button" class="btn" ng-click="pagedOrders.moveToFirstPage()">
            <span class="glyphicon glyphicon-fast-backward"></span>
        </button>
        <button id="btnPrevious" type="button" class="btn" ng-click="pagedOrders.moveToPreviousPage()">
            <span class="glyphicon glyphicon-step-backward"></span>
        </button>
        <button id="btnPageCount" type="button" class="btn" disabled style="width:100px">
            {{pagedOrders.pageIndex + 1 | number}} / {{pagedOrders.pageCount | number}}
        </button>
        <button id="btnNext" type="button" class="btn" ng-click="pagedOrders.moveToNextPage()">
            <span class="glyphicon glyphicon-step-forward"></span>
        </button>
        <button id="btnLast" type="button" class="btn" ng-click="pagedOrders.moveToLastPage()">
            <span class="glyphicon glyphicon-fast-forward"></span>
        </button>
    </div> 
</body>
</html>
