﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../scripts/jQueryAngularBootstrap/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/jQueryAngularBootstrap/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../scripts/jQueryAngularBootstrap/bootstrap.min.css" />
    <!-- Wijmo -->
    <script src="../scripts/vendor/wijmo.module.js" type="text/javascript"></script>
        <script>
           wijmo.setLicenseKey('');
        </script>
<link href="../styles/vendor/wijmo.min.css" rel="stylesheet" />
    <!-- Wijmo-Angular interop -->
    
    <!-- app scripts and styles -->
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../scripts/controllers/multiRowCtrl.js" type="text/javascript"></script>
    <link href="../styles/multiRow.css" rel="stylesheet" type="text/css" />
</head>
<body ng-app="app" ng-controller="appCtrl">
    
        
        <div class="wj-version">5.20201.681-d20200702.t224112.br.master.min</div><p>
        <b>Test Case 191057:[MultiRow] To test whether groups can be expanded/collapsed properly using mouse or keyboard in the MultiRow</b>       
    </p>
    <br />
    <div>
        <label>
            <input id="chkShowGroups" type="checkbox" ng-model="multiRowGrid.showGroups">
            showGroups
        </label>
	</div>
    <br />
    <wj-multi-row id="multiRow" 
		items-source="groupedOrders"
		layout-definition="ldThreeLines"
        group-header-format="City: <b>{value} </b>({count:n0} items)"
		control="multiRowGrid"
        style="max-height: 450px;">
	</wj-multi-row>  
</body>
</html>
